{%extends display.admin%}




{%block pageContent%}


{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}' >
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off' >
      <button class="addon btn">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}


  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr class="fs08">
        <th data-sort="{{sortLink.id.order}}" colspan="2"><a href='{{sortLink.id.link}}'>{%trans "Member"%}</a></th>
        <th class="txtC" data-sort="{{sortLink.countordercustomer.order}}"><a href='{{sortLink.countordercustomer.link}}'>{%trans "Customer total order"%}</a></th>
        <th class="txtC" data-sort="{{sortLink.sumpaycustomer.order}}"><a href='{{sortLink.sumpaycustomer.link}}'>{%trans "Customer total spend"%}</a></th>
        <th class="txtC" data-sort="{{sortLink.customercredit.order}}"><a href='{{sortLink.customercredit.link}}'>{%trans "Customer credit"%}</a></th>
        <th class="txtC" data-sort="{{sortLink.balance.order}}"><a href='{{sortLink.balance.link}}'>{%trans "Balance"%}</a></th>
        <th class="txtC" data-sort="{{sortLink.lastactivity.order}}"><a href='{{sortLink.lastactivity.link}}'>{%trans "Last activity"%}</a></th>
      </tr>
    </thead>
    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td class="collapsing">
          <a href="{{url.this}}/glance?id={{value.id}}" class="block">
            <img src="{{value.avatar}}" alt='{{value.displayname}}' class="avatar fs15 mRa10">
          </a>
        </td>
        <td class="pRa10">
          <a href="{{url.this}}/glance?id={{value.id}}" class="block">
            <div class="mB5 name">
            {{value.genderString}}
            {%if value.displayname%}
              {{value.displayname}}
            {%else%}
              <small class="fc-mute">{%trans "Without name"%}</small>
            {%endif%}
            </div>
            <div class="mobile">
            {%if value.mobile%}
              {%if lang.current == 'fa'%}
                {{value.mobile | fitNumber('mobile')}}
              {%else%}
                {{value.mobile | fitNumber('mobile12')}}
              {%endif%}
            {%else%}
              <small class="fc-mute">{%trans "Without mobile"%}</small>
            {%endif%}
            </div>
          </a>

        </td>
        <td class="txtC">{%if value.countordercustomer%}{{value.countordercustomer | fitNumber}}{%else%}-{%endif%}</td>
        <td class="txtC pRa10">{%if value.customer and value.sumpaycustomer%}{{value.sumpaycustomer | fitNumber}} <small class="fc-mute">{%trans "Toman"%}</small>{%else%}-{%endif%}</td>
        <td class="txtC pRa10">{%if value.customer and value.customercredit%}{{value.customercredit | fitNumber}} <small class="fc-mute">{%trans "Toman"%}</small>{%else%}-{%endif%}</td>
        <td class="txtC pRa10">{%if value.balance%}{{value.balance | fitNumber}} <small class="fc-mute">{%trans "Toman"%}</small>{%else%}-{%endif%}</td>
        <td class="txtC pRa10 fs08 fc-mute">{%if value.lastactivity%}{{value.lastactivity | dt('human')}}<br>{{value.lastactivity | dt('human', 'year')}}{%else%}-{%endif%}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/customer{%if requestGET.type%}?type={{requestGET.type}}{%endif%}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/customer{%if requestGET.type%}?type={{requestGET.type}}{%endif%}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.here}}/customer/add">{%trans "Try to start with add new member!"%}</a></p>
{%endblock%}
