
{% block IfirstNameFa %}
<label for="i_firstNameFa">firstNameFa <span class="mLa10">نام به فارسی</span></label>
<div class="input">
  <input type="text" name="firstNameFa" id="i_firstNameFa"  value="{{dataRowCustomer.firstNameFa}}"  maxlength='150' minlength="1" >
</div>
{% endblock %}


{% block IlastNameFa %}
<label for="i_lastNameFa">lastNameFa <span class="mLa10">نام خانوادگی به فارسی</span></label>
<div class="input">
	<input type="text" name="lastNameFa" id="i_lastNameFa" value="{{dataRowCustomer.lastNameFa}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IfatherNameFa %}
<label for="i_fatherNameFa">fatherNameFa <span class="mLa10">نام پدر به فارسی</span></label>
<div class="input">
	<input type="text" name="fatherNameFa" id="i_fatherNameFa" value="{{dataRowCustomer.fatherNameFa}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IfirstNameEn %}
<label for="i_firstNameEn">firstNameEn <span class="mLa10">نام به انگلیسی</span></label>
<div class="input">
	<input type="text" name="firstNameEn" id="i_firstNameEn" value="{{dataRowCustomer.firstNameEn}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IlastNameEn %}
<label for="i_lastNameEn">lastNameEn <span class="mLa10">نام خانوادگی به انگلیسی</span></label>
<div class="input">
	<input type="text" name="lastNameEn" id="i_lastNameEn" value="{{dataRowCustomer.lastNameEn}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IfatherNameEn %}
<label for="i_fatherNameEn">fatherNameEn <span class="mLa10">نام پدر به انگلیسی</span></label>
<div class="input">
	<input type="text" name="fatherNameEn" id="i_fatherNameEn" value="{{dataRowCustomer.fatherNameEn}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IregisterNumber %}
<label for="i_registerNumber">registerNumber <span class="mLa10">شماره ثبت شرکت</span></label>
<div class="input">
	<input type="text" name="registerNumber" id="i_registerNumber" value="{{dataRowCustomer.registerNumber}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IcomNameFa %}
<label for="i_comNameFa">comNameFa <span class="mLa10">نام شرکت به فارسی</span></label>
<div class="input">
	<input type="text" name="comNameFa" id="i_comNameFa" value="{{dataRowCustomer.comNameFa}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IcomNameEn %}
<label for="i_comNameEn">comNameEn <span class="mLa10">نام شرکت به انگلیسی</span></label>
<div class="input">
	<input type="text" name="comNameEn" id="i_comNameEn" value="{{dataRowCustomer.comNameEn}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IbirthCrtfctNumber %}
<label for="i_birthCrtfctNumber">birthCrtfctNumber <span class="mLa10">شماره شناسنامه</span></label>
<div class="input">
	<input type="text" name="birthCrtfctNumber" id="i_birthCrtfctNumber" value="{{dataRowCustomer.birthCrtfctNumber}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IcommercialCode %}
<label for="i_commercialCode">commercialCode <span class="mLa10">کد اقتصادی</span></label>
<div class="input">
	<input type="text" name="commercialCode" id="i_commercialCode" value="{{dataRowCustomer.commercialCode}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IforeignPervasiveCode %}
<label for="i_foreignPervasiveCode">foreignPervasiveCode <span class="mLa10">شناسه فراگیر اتباع خارجی</span></label>
<div class="input">
	<input type="text" name="foreignPervasiveCode" id="i_foreignPervasiveCode" value="{{dataRowCustomer.foreignPervasiveCode}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IpassportNumber %}
<label for="i_passportNumber">passportNumber <span class="mLa10">شماره گذرنامه</span></label>
<div class="input">
	<input type="text" name="passportNumber" id="i_passportNumber" value="{{dataRowCustomer.passportNumber}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IDescription %}
<label for="i_Description">Description <span class="mLa10">توضیحات</span></label>
<div class="input">
	<input type="text" name="Description" id="i_Description" value="{{dataRowCustomer.Description}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block ItelephoneNumber %}
<label for="i_telephoneNumber">telephoneNumber <span class="mLa10">شماره تلفن</span></label>
<div class="input">
	<input type="text" name="telephoneNumber" id="i_telephoneNumber" value="{{dataRowCustomer.telephoneNumber}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IemailAddress %}
<label for="i_emailAddress">emailAddress <span class="mLa10">ایمیل</span></label>
<div class="input">
	<input type="text" name="emailAddress" id="i_emailAddress" value="{{dataRowCustomer.emailAddress}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IwebSite %}
<label for="i_webSite">webSite <span class="mLa10">وبسایت</span></label>
<div class="input">
	<input type="text" name="webSite" id="i_webSite" value="{{dataRowCustomer.webSite}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block Ifax %}
<label for="i_fax">fax <span class="mLa10">فکس</span></label>
<div class="input">
	<input type="text" name="fax" id="i_fax" value="{{dataRowCustomer.fax}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block Igender %}
<label for="i_gender">gender <span class="mLa10">جنسیت</span></label>
<select name="gender" class="ui dropdown select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowCustomer and dataRowCustomer.gender == 0 %} selected {%endif%}>Female - زن</option>
  <option value="1" {%if dataRowCustomer and dataRowCustomer.gender == 1 %} selected {%endif%}>Male - مرد</option>
</select>
{%if false%}
	<div class="input">
		<input type="number" name="gender" id="i_gender" placeholder="0 = female , 1 = male" value="{{dataRowCustomer.gender}}" maxlength="150" minlength="1">
	</div>
{%endif%}
{% endblock%}


{% block ImerchantType %}
<label for="i_merchantType">merchantType <span class="mLa10">نوع متقاضی</span></label>
<select name="merchantType" class="ui dropdown select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowCustomer and dataRowCustomer.merchantType == 0 %} selected {%endif%}>Real - حقیقی</option>
  <option value="1" {%if dataRowCustomer and dataRowCustomer.merchantType == 1 %} selected {%endif%}>Legal - حقوقی</option>
</select>
{%if false%}
<div class="input">
	<input type="number" name="merchantType" id="i_merchantType" placeholder="0 = real , 1 = legal" value="{{dataRowCustomer.merchantType}}" maxlength="150" minlength="1">
</div>
{%endif%}
{% endblock%}


{% block IresidencyType %}
<label for="i_residencyType">residencyType <span class="mLa10">ملیت متقاضی</span></label>
<select name="residencyType" class="ui dropdown select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowCustomer and dataRowCustomer.residencyType == 0 %} selected {%endif%}>Iranian - ایرانی</option>
  <option value="1" {%if dataRowCustomer and dataRowCustomer.residencyType == 1 %} selected {%endif%}>Non-iranian - خارجی</option>
</select>
{%if false%}
<div class="input">
	<input type="number" name="residencyType" placeholder="0 = iranian, 1 = non-iranian" id="i_residencyType" value="{{dataRowCustomer.residencyType}}" maxlength="150" minlength="1">
</div>
{%endif%}
{% endblock%}


{% block IvitalStatus %}
<label for="i_vitalStatus">vitalStatus <span class="mLa10">وضعیت حیات</span></label>
<select name="vitalStatus" class="ui dropdown select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowCustomer and dataRowCustomer.vitalStatus == 0 %} selected {%endif%}>Live - در قید حیات</option>
  <option value="1" {%if dataRowCustomer and dataRowCustomer.vitalStatus == 1 %} selected {%endif%}>Dead - فوت شده</option>
</select>
{%if false%}
<div class="input">
	<input type="number" name="vitalStatus" placeholder="0 = live, 1 = dead" id="i_vitalStatus" value="{{dataRowCustomer.vitalStatus}}" maxlength="150" minlength="1">
</div>
{%endif%}
{% endblock%}


{% block IbirthCrtfctSeriesLetter %}
<label for="i_birthCrtfctSeriesLetter">birthCrtfctSeriesLetter <span class="mLa10">بخش حرفی سری شناسنامه</span></label>
<select name="birthCrtfctSeriesLetter" class="ui dropdown select">
  <option value=" "><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == '0' %} selected {%endif%}>الف</option>
  <option value="1" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 1 %} selected {%endif%}>ب</option>
  <option value="2" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 2 %} selected {%endif%}>ل</option>
  <option value="3" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 3 %} selected {%endif%}>د</option>
  <option value="4" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 4 %} selected {%endif%}>ر</option>
  <option value="5" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 5 %} selected {%endif%}>۱</option>
  <option value="6" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 6 %} selected {%endif%}>۳</option>
  <option value="7" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 7 %} selected {%endif%}>۳</option>
  <option value="8" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 8 %} selected {%endif%}>۴</option>
  <option value="9" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 9 %} selected {%endif%}>۹</option>
  <option value="10" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 10 %} selected {%endif%}>۱۰</option>
  <option value="11" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 11 %} selected {%endif%}>۱۱</option>
  <option value="12" {%if dataRowCustomer and dataRowCustomer.birthCrtfctSeriesLetter == 12 %} selected {%endif%}>ش</option>

</select>
{%if false%}
<div class="input">
	<input type="text" name="birthCrtfctSeriesLetter" id="i_birthCrtfctSeriesLetter" value="{{dataRowCustomer.birthCrtfctSeriesLetter}}" maxlength="150" minlength="1">
</div>
{%endif%}
{% endblock%}


{% block IbirthCrtfctSeriesNumber %}
<label for="i_birthCrtfctSeriesNumber">birthCrtfctSeriesNumber <span class="mLa10">بخش عددی سری شناسنامه</span></label>
<div class="input">
	<input type="text" name="birthCrtfctSeriesNumber" id="i_birthCrtfctSeriesNumber" value="{{dataRowCustomer.birthCrtfctSeriesNumber}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IbirthDate %}
<label for="i_birthDate">birthDate <span class="mLa10">تاریخ تولد</span></label>
<div class="input">
	<input type="text" name="birthDate" id="i_birthDate" value="{{dataRowCustomer.birthDate}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IregisterDate %}
<label for="i_registerDate">registerDate <span class="mLa10">تاریخ ثبت متقاضی حقوقی</span></label>
<div class="input">
	<input type="text" name="registerDate" id="i_registerDate" value="{{dataRowCustomer.registerDate}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IpassportExpireDate %}
<label for="i_passportExpireDate">passportExpireDate <span class="mLa10">تاریخ انقضای گذرنامه</span></label>
<div class="input">
	<input type="text" name="passportExpireDate" id="i_passportExpireDate" value="{{dataRowCustomer.passportExpireDate}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block InationalCode %}
<label for="i_nationalCode">nationalCode <span class="mLa10">کد ملی</span></label>
<div class="input">
	<input type="text" name="nationalCode" id="i_nationalCode" value="{{dataRowCustomer.nationalCode}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IbirthCrtfctSerial %}
<label for="i_birthCrtfctSerial">birthCrtfctSerial <span class="mLa10">سریال شناسنامه</span></label>
<div class="input">
	<input type="text" name="birthCrtfctSerial" id="i_birthCrtfctSerial" value="{{dataRowCustomer.birthCrtfctSerial}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block InationalLegalCode %}
<label for="i_nationalLegalCode">nationalLegalCode <span class="mLa10">شناسه ملی اشخاص حقوقی</span></label>
<div class="input">
	<input type="text" name="nationalLegalCode" id="i_nationalLegalCode" value="{{dataRowCustomer.nationalLegalCode}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IcountryCode %}
<label for="i_countryCode">countryCode <span class="mLa10">کد کشور</span></label>
<div class="input">
	<input type="text" name="countryCode" id="i_countryCode" value="{{dataRowCustomer.countryCode}}" maxlength="150" minlength="1">
</div>
{% endblock%}


{% block IcellPhoneNumber %}
<label for="i_cellPhoneNumber">cellPhoneNumber <span class="mLa10">شماره تلفن همراه</span></label>
<div class="input">
	<input type="text" name="cellPhoneNumber" id="i_cellPhoneNumber" value="{{dataRowCustomer.cellPhoneNumber}}" maxlength="150" minlength="1">
</div>
{% endblock%}

