{%extends display.jibresControlLayout%}


{%block pageContent%}
<div class='middle normal f justify-center'>

{%for key, value in list_store%}
  <a class="vcard mA10 shadow" href='{{value.url}}/a'>
   <img src="{{value.logo}}" alt="{{value.name}}" class="pA10-f">
   <div class="content">
    <div class="header">{{value.name}}</div>
   </div>
   <div class="footer">
    <i class="sf-money"></i> {%trans "Total sale"%} {{value.stats.member_count | number_format | fitNumber}}
    {%if value.rule=='admin'%} <i class="sf-star fc-gold" title='{%trans "Owner of store"%}'></i>{%endif%}
   </div>
  </a>
{%endfor%}

{{block("NewStoreCard")}}
</div>
{%endblock%}



{%block NewStoreCard%}
  <div class="vcard mA10">
    <img src="{{url.site}}/static/siftal/images/useful/plus1.png" alt="add new store">
    <div class="content"></div>
    <div class="footer pAn">
     <a class="btn block primary" href="{{url.here}}/store/add">{%trans "Add new store"%}</a>
    </div>
  </div>
{%endblock%}

