{%extends display.jibresControlLayout%}


{%block pageContent%}
{%if perm_su() and requestGET.all%}
  {{block("htmlSearchBox")}}
{%endif%}
<div class='middle normal f justify-center'>

{%if perm_su()%}
  {{block("allStoreList")}}
{%endif%}

{{block("NewStoreCard")}}

{%for key, value in stores%}
  <a class="vcard mA10 shadow" href='{{value.url}}/a'>
   <img src="{{value.logo}}" alt="{{value.name}}" class="pA10-f">
   <div class="content">
    <div class="header">{{value.name}}</div>
   </div>
   <div class="footer">
    <i class="sf-money"></i> {%trans "Total sale"%} {{value.stats.member_count | number_format | fitNumber}}
    {%if value.rule=='admin'%} <i class="sf-star fc-gold" title='{%trans "Owner of store"%}'></i>{%endif%}
   </div>
  </a>
{%endfor%}
{%include display.pagination%}
</div>
{%endblock%}



{%block NewStoreCard%}
  <div class="vcard mA10">
    <img src="{{url.site}}/static/siftal/images/useful/plus1.png" alt="add new store">
    <div class="content"></div>
    <div class="footer pAn">
     <a class="btn block primary" href="{{url.here}}/store/add">{%trans "Add new store"%}</a>
    </div>
  </div>
{%endblock%}


{%block allStoreList%}
{%if requestGET.all%}
<div class="vcard mA10">
    <img src="{{url.site}}/static/images/logo.png" alt="add new store">
    <div class="content"></div>
    <div class="footer pAn">
     <a class="btn block info" href="{{url.this}}">{%trans "My store"%}</a>
    </div>
  </div>
{%else%}
  <div class="vcard mA10">
    <img src="{{url.site}}/static/images/logo.png" alt="add new store">
    <div class="content"></div>
    <div class="footer pAn">
     <a class="btn block warn" href="{{url.this}}?all=true">{%trans "All Store"%}</a>
    </div>
  </div>
{%endif%}
{%endblock%}






{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}' data-action>
    {%if requestGET.all%}<input type="hidden" name="all" value="true">{%endif%}
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>

      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}
