{%extends "content_a/product/layout.html"%}

{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsGeneral')}}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">

<form class="cbox" method="post">
	{{block('iInfinite')}}
 <div class="f">
  <div class="c s12 pRa5">{{block ('iInitialBalance') }}</div>
  <div class="c s6 pRa5">{{block ('iMinstock') }}</div>
  <div class="c s6">{{block ('iMaxstock') }}</div>
 </div>

 {{block('iManufacturer')}}
 {{block('iGuarantee')}}

	<button class="btn primary block mT20">{%trans "Save"%}</button>

</form>
 </div>
</div>
{%endblock%}



{%block iInfinite%}
<div class="switch1">
	<input type="checkbox" name="infinite" id="iinfinite" {%if dataRow.infinite%} checked {%endif%}>
	<label for="iinfinite"></label>
	<label for="iinfinite">{%trans "Infinit"%}<small>{%trans "Unlimited"%}</small></label>
</div>
{%endblock%}