{%extends "content_a/product/layout.html"%}

{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsGeneral')}}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">

<form class="cbox" method="post">
 <input type="hidden" name="delete" value="{{dataRow.id}}">
 	{{block ('iStatus') }}
 	<div class="f">
 		<div class="c pRa5">
			<button class="btn primary block mT20">{%trans "Save"%}</button>
 		</div>
 		<div class="cauto">
			<button name="delete" value="product" class="btn danger block mT20">{%trans "Delete product"%}</button>
 		</div>
 	</div>
</form>
 </div>
</div>
{%endblock%}
