{%extends display.enter%}



{%block contentForm%}
{{block('eAllInput')}}
  <div class="fs08">

{%if 'telegram' in sendWayCod%}
	<div class="radio1">
		<input type="radio" name="sendCod" value="telegram" id="sRd3" checked autofocus>
		<label for="sRd3">{%trans "Send code in your Telegram"%}</label>
	</div>
{%endif%}

{%if 'sms' in sendWayCod%}
	<div class="radio1">
		<input type="radio" name="sendCod" value="sms" id="sRd1" {%if 'telegram' in sendWayCod%}{%else%}checked autofocus{%endif%}>
		<label for="sRd1">{%trans "Send code as sms to your phone"%}</label>
	</div>
{%endif%}

{%if 'call' in sendWayCod%}
	<div class="radio1">
		<input type="radio" name="sendCod" value="call" id="sRd2">
		<label for="sRd2">{%trans "Call you to send code"%}</label>
	</div>
{%endif%}


{%if 'sendsms' in sendWayCod%}
	<div class="radio1">
		<input type="radio" name="sendCod" value="sendsms" id="sRd4">
		<label for="sRd4">{%trans "You send code to us and we check it"%}</label>
	</div>
{%endif%}


{%if 'email' in sendWayCod%}
	<div class="radio1">
		<input type="radio" name="sendCod" value="email" id="sRd5">
		<label for="sRd5">{%trans "Send code in your email"%}</label>
	</div>
{%endif%}


{%if 'later' in sendWayCod%}
	<div class="radio1">
		<input type="radio" name="sendCod" value="later" id="sRd5">
		<label for="sRd5">{%trans "Verify later"%}</label>
	</div>
{%endif%}
  </div>


{{block('ego')}}
{%if rememberLink%}
   <a class='link' href="{{url.kingdom}}/enter/pass">{%trans "Remembered your password?"%}</a>
 {%endif%}

 {%if not startNewMobile%}
 	{%block contentFooter%}{%endblock%}
 {%endif%}
{%endblock%}

