
[data-pwa]{overflow: hidden;}
[data-pwa] body{@include select-none();background-color: $pwaBg!important;overflow:hidden;position:relative;}

// design for apps in enter
[data-pwa] .enter #enter{margin-bottom:10px;}
[data-pwa] .siftal #sidebar{display:none}
[data-pwa] .siftal .dashHead{display:none}
[data-pwa] .siftal #main{margin:0!important}
[data-pwa] #xaccess{display:none}
[data-pwa] .tbox .breadcrumb{display:none}
[data-pwa] .superAdmin{top:inherit;bottom:30px;left: 0;}
[data-pwa] #nprogress .spinner{display:none;}
