[data-pwa]{overflow: hidden;}
[data-pwa] body{background-color: $pwaBg!important;position:relative;}

// design for apps in enter
[data-pwa] #sidebar{display:none!important}
[data-pwa] [data-panel] .dashHead{display:none}
[data-pwa] [data-panel] #main{margin:0!important}
[data-pwa] #xaccess{display:none}
[data-pwa] .tbox .breadcrumb{display:none}
[data-pwa] .superAdmin{top:inherit;bottom:30px;left: 0;}
[data-pwa] #nprogress .spinner{display:none;}
