[data-pwa] #pageHeader{position: fixed;z-index:10;top:0;right:0;left:0;background-color:$pwaBg;line-height:40px;padding:5px 5px;font-size:15px;width: 100%;height: 50px;border-bottom:1px solid transparent;overflow:hidden;}
[data-pwa] #pageHeader.border{border-bottom-color: #c5c4c9;}
[data-pwa] #pageHeader > div{display: inline-block;height: 100%;position:relative;overflow: hidden;}
[data-pwa][dir='ltr'] #pageHeader > div {float: left;}
[data-pwa][dir='rtl'] #pageHeader > div {float: right;}
[data-pwa] #pageHeader .back{width:30%;}
[data-pwa] #pageHeader .title{width:40%;font-weight:700;text-align: center;}
[data-pwa] #pageHeader .action{width:30%;}
[data-pwa] #pageHeader a{display:inline-block;color: #0a7ce7!important}
[data-pwa][dir="ltr"] #pageHeader .back a::before{content: "\e0c1";padding-right:5px;;font-family:siftal!important;vertical-align:middle;}
[data-pwa][dir="rtl"]  #pageHeader .back a::before{content: "\e0c2";padding-left:5px;;font-family:siftal!important;vertical-align:middle;}
[data-pwa] #pageHeader img{max-height:40px;display:inline-block}
[data-pwa][dir="ltr"] #pageHeader .action{text-align: right;}
[data-pwa][dir="rtl"] #pageHeader .action{text-align: left;}
