[data-pwa] #pageContent{height:100%;overflow-y:scroll;padding:50px 15px;@include select-none();}

[data-pwa] h1{font-size:32px;line-height:2;margin-top:20px;margin-bottom:10px;font-weight:900;}
[data-pwa] h2{font-size:20px;line-height:2;margin-top:20px;margin-bottom:10px;font-weight:800;}
[data-pwa] h3{font-size:20px;line-height:2;margin-top:20px;margin-bottom:10px;font-weight:700;color:#777;}
[data-pwa] h4{font-size:18px;line-height:2;margin-top:20px;margin-bottom:10px;font-weight:700;color:#aaa;}

[data-pwa] br{line-height: 20px;}

// zeroSize
[data-pwa] #pageContent.zeroSide{padding-right:0;padding-left:0}
[data-pwa] #pageContent.zeroSide h1{padding: 0 20px;}
[data-pwa] #pageContent.zeroSide h2{padding: 0 20px;}
[data-pwa] #pageContent.zeroSide h3{padding: 0 20px;}
[data-pwa] #pageContent.zeroSide h4{padding: 0 20px;}

[data-pwa] #pageContent .metaText{color: #7f7e84;font-size: 14px;line-height: 1.5;}
[data-pwa] #pageContent.zeroSide .meta{padding: 0 20px;}
[data-pwa] #pageContent br{display:block;content:"";height:25px;vertical-align:top;}


