.pwa{padding-bottom:50px;padding-top:50px;background-color: $pwaBg;}
.pwa .cn{width:91%!important;max-width: 400px!important;min-width: 260px!important;}

.pwa h1{font-size:32px;line-height:1;margin-bottom:8px;font-weight:900;}
.pwa h2{font-size:20px;line-height:1;margin-bottom:8px;}
.pwa h3{font-size:18px;line-height:1;margin-bottom:8px;}
.pwa h4{font-size:16px;line-height:1;margin-bottom:8px;}
