.pwaSearch{background-color:#e4e3e9;border-radius:$pwaRadius;height:35px;overflow2:hidden;margin-bottom:20px;}
.pwaSearch i{content:"\e03f";display:inline-block;vertical-align:middle;font-family:siftal!important;font-size: 20px;padding:0 10px;line-height: 35px;opacity: 0.2;float: left;width:40px;}
.pwaSearch input{display:inline-block;border:none;background-color:transparent;line-height:35px;padding:0;font-size:16px;float:left;width:calc( 100% - 90px);}
.pwaSearch span{display:inline-block;line-height: 35px;width:0;overflow: hidden;transition:0.3s;font-size:14px;float: left;color:#2ea5ff }
.pwaSearch input:focus + span{width:50px;}
