{%extends "content_a/product/layout.html"%}

{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsGeneral')}}
<div class="f">
	<div class="cauto s12 pA10">
		{{block("psidebar")}}
	</div>
	<div class="c s12 pA10">

		<form class="cbox" method="post" autocomplete="off">
			<div class="example">

				<div class="f">
					<div class="cauto">{{block('optionName1')}}</div>
					<div class="c pLa5">{{block('optionValueTag1')}}</div>
				</div>

				<div class="f">
					<div class="cauto">{{block('optionName2')}}</div>
					<div class="c pLa5">{{block('optionValueTag2')}}</div>
				</div>

				<div class="f">
					<div class="cauto">{{block('optionName3')}}</div>
					<div class="c pLa5">{{block('optionValueTag3')}}</div>
				</div>

				<button class="btn primary block mT20">{%trans "Make"%}</button>
			</div>
		</form>
		{{block('productTempList')}}

	</div>
</div>
{%endblock%}



{%block optionName1%}
<div class="input mA5">
	<input type="text" name="optionname1" placeholder='{%trans "Size"%}' value="{{variantsList.variants.option1.name}}">
</div>
{%endblock%}


{%block optionName2%}
<div class="input mA5">
	<input type="text" name="optionname2" placeholder='{%trans "Color"%}' value="{{variantsList.variants.option2.name}}">
</div>
{%endblock%}


{%block optionName3%}
<div class="input mA5">
	<input type="text" name="optionname3" placeholder='{%trans "Material"%}' value="{{variantsList.variants.option3.name}}">
</div>
{%endblock%}




{%block optionValueTag3%}
<div class="mA5">
	<div class="tagDetector">

		<div class="input mB10 hide">
			<input type="text" class="input tagVals" name="optionvalue3"  value="{{variantsList.variants.option3.value | join(',')}}" id="tagValues" placeholder='{%trans "Tag"%}'>
		</div>

		<div class="input">
			<input type="text" class="tagInput" placeholder='{%trans "Separate options with a comma"%}'>
			<button class="addon tagAdd">+</button>
		</div>

		<div class="w300">
			<div class="tagBox">
				{%for key, value in variantsList.variants.option3.value%}
				<span data-val="{{value}}">{{value}}</span>
				{%endfor%}
			</div>
		</div>

	</div>
</div>
{%endblock%}



{%block optionValueTag2%}
<div class="mA5">
	<div class="tagDetector">

		<div class="input mB10 hide">
			<input type="text" class="input tagVals" name="optionvalue2"  value="{{variantsList.variants.option2.value | join(',')}}" id="tagValues" placeholder='{%trans "Tag"%}'>
		</div>

		<div class="input">
			<input type="text" class="tagInput" placeholder='{%trans "Separate options with a comma"%}'>
			<button class="addon tagAdd">+</button>
		</div>

		<div class="w300">
			<div class="tagBox">
				{%for key, value in variantsList.variants.option2.value%}
				<span data-val="{{value}}">{{value}}</span>
				{%endfor%}
			</div>
		</div>

	</div>
</div>
{%endblock%}



{%block optionValueTag1%}
<div class="mA5">
	<div class="tagDetector">

		<div class="input mB10 hide">
			<input type="text" class="input tagVals" name="optionvalue1"  value="{{variantsList.variants.option1.value | join(',')}}" id="tagValues" placeholder='{%trans "Tag"%}'>
		</div>

		<div class="input">
			<input type="text" class="tagInput" placeholder='{%trans "Separate options with a comma"%}'>
			<button class="addon tagAdd">+</button>
		</div>

		<div class="w300">
			<div class="tagBox">
				{%for key, value in variantsList.variants.option1.value%}
				<span data-val="{{value}}">{{value}}</span>
				{%endfor%}
			</div>
		</div>

	</div>
</div>
{%endblock%}


{%block productTempList%}
	{%if variantsList.temp_product%}
	{%set myCount = 1%}
		<div class="cbox">
			{%for key, value in variantsList.temp_product%}
				<div class="f">
					<div class="cauto">{{myCount}} - </div>
					{%set myCount = myCount + 1%}
					{%for k, v in value%}
						<div class="c">{{k}} - <b>{{v}}</b></div>
					{%endfor%}
				</div>
			{%endfor%}
		</div>
	{%endif%}
{%endblock%}