{%extends display.admin%}


{%block pageContent%}

<p class="msg info2 fs14">{%trans "Importing products is useful if you switched to Jibres from another platform."%} {%trans "When importing, Jibres converts the data from the CSV file into products."%}</p>

<p class="msg info2 fs14">{%trans "If you want to transfer a large amount of product information between Jibres and another system, then you can use a specially-formatted spreadsheet to import or export that data."%} {%trans "Jibres uses CSV (comma-separated value) files to perform this kind of bulk task."%}</p>

<p class="msg info2 fs14">{%trans "Importing a CSV file that has been sorted by a spreadsheet editor such as Microsoft Excel or Numbers might cause your products to be removed from their relevant image links on the CSV, and your product's images will be lost."%}</p>

<p class="msg danger2 fs14">{%trans "Before you start your import, make sure that you have a backup of your product data."%}</p>

{%if not awaitingImport%}
<div class="cbox">
	<ul>
		<li>{%trans "The maximum file size is 5 MB."%}</li>
		<li>{%trans "Only 1,000 products are accepted in each file"%}</li>
	</ul>
	<form method="post" autocomplete="off" action="{{url.that}}">
		<label for="import">{%trans "Csv file"%}</label>
		<div class="input w300">
			<input type="file" name="import" accept=".csv" id="import">
		</div>
		<button class="btn success">{%trans "Upload"%}</button>
	</form>
</div>
{%endif%}

{%if awaitingImport%}
<div class="cbox">
	<h4>{%trans "Result analysis file"%}</h4>

	{%if awaitingImport.meta.allErrorCount%}
		<div class="msg warn2 f">{%trans "Count Record found whit error:"%} <b class="c mLa10 s12">{{awaitingImport.meta.allErrorCount | fitNumber}}</b></div>
	{%endif%}

	{%if awaitingImport.meta.avalible_count%}
		<div class="msg success2 f">{%trans "Count Record available to import:"%} <b class="c mLa10 s12">{{awaitingImport.meta.avalible_count | fitNumber}}</b></div>
	{%endif%}

	<div class="">
	{%if awaitingImport.meta.error%}
		{%for key, value in awaitingImport.meta.error%}
		<div class="msg danger2">
			<div class="f">
				<div class="c s12"><small>{%trans "Error"%}</small>: {{value.msg}}</div>
				<div class="c s12"><small>{%trans "Count error"%}</small> <b>{{value.count | fitNumber}}</b></div>
				<div class="c s12"><small>{%trans "Error in index record"%}</small> <b>{{value.index | join(',') | fitNumber(false)}}</b></div>
			</div>
		</div>
		{%endfor%}
	{%endif%}
	</div>

</div>
{%endif%}

<img class="banner w300" src="{{url.static}}/img/product/import1.gif" align='{%trans "import products"%}'>

{%endblock%}

