
.cms{
  color:#777;
  overflow:hidden;
  font-size:1.5em
}

.cms h3{
  font-size:1.5em
}

.cms hr,hr.special{
  border-color:#0aa;
  position:relative;
  max-width:100%
}

.cms .msg{
  overflow:hidden
}

.cms .thumb{
  width:250px;
  height:auto;
  display:inline-block;
  padding:0;
  margin:0 .5em .5em;
  border:1px solid transparent;
  transition:.3s
}

.cms .thumb:hover{
  border-color:#aaa;
  opacity:.9
}

.cms .wide{
  width:100%;
  display:block;
  margin:1em auto
}

.cms blockquote{
  display:block;
  max-width:60%;
  margin:3em auto;
  color:#777;
  padding:1.5em 2em 1.5em 3em;
  border:1px solid transparent;
  border-left:8px solid #78C0A8;
  line-height:2;
  background:#ededed;
  position:relative;
  overflow:hidden;
  transition:.3s
}

.cms blockquote:hover{
  border-color:#587
}

.cms blockquote::before{
  font-family:Arial;
  content:"\201C";
  color:#78C0A8;
  font-size:5em;
  position:absolute;
  line-height:1;
  height:1em;
  left:10px;
  transition:.3s;
  top:-20px
}

.cms blockquote:hover::before{
  top:30px;
  bottom:0;
  color:#587;
  font-size:7em
}

.cms blockquote::after{
  content:''
}

.cms blockquote span{
  display:block;
  color:#333;
  font-style:normal;
  font-weight:700;
  margin-top:1em
}

.cms .tagBox{
  clear:both
}

.cms .tagBox a{
  padding:.5em;
  margin:.5em;
  background-color:#eee;
  border-radius:3px;
  transition:.3s;
  display:inline-block
}

.cms .tagBox a:hover{
  background-color:rgba(0,0,0,0.1)
}

.cms .tagBox a:focus{
  background-color:rgba(0,0,0,0.2)
}

.h_iframe-aparat_embed_frame{
  position:relative
}

.h_iframe-aparat_embed_frame .ratio{
  display:block;
  width:100%;
  height:auto
}

.h_iframe-aparat_embed_frame iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
}

iframe.gMap{
  min-height:200px;
  max-height:400px;
  height:300px;
  width:100%;
  border:none
}

.cms .gallery{
  text-align:center;
  margin:2em 0;
  clear:both
}

.cms .gallery a{
  display:inline-block;
  max-width:45%;
  width:220px;
  margin:.5em 2%
}

.cms .gallery img{
  margin:0 auto;
  border:1px solid #ddd;
  transition:.3s
}

.cms .gallery img:hover{
  border-color:#777
}

.cms .gallery video{
  width:200px;
  max-width:45%;
  margin:0 auto
}

.cms .gallery audio{
  width:200px;
  max-width:45%;
  margin:0 auto
}

.cms .galleryMedia{
  text-align:center
}

.cms .galleryMedia video{
  width:700px;
  max-width:90%;
  margin:2em auto;
  display:block
}

.cms .galleryMedia audio{
  width:500px;
  max-width:90%;
  margin:1em auto;
  display:block
}

.cms .postListPreview{
  width:70%;
  min-width:280px;
  margin:0 auto
}

.cms .postListPreview section{
  border-bottom:1px dashed #ccc;
  margin-bottom:3em;
  overflow:hidden
}

.cms ul{list-style:square outside none;margin:0 2em;line-height:2em;}
.cms ul li {padding-bottom:0.5em;}
.cms ul li a {padding:0 0.5em;transition:0.3s;display:block;}
.cms ul li a:hover{background-color:rgba(0,0,0,0.05)}
.cms ul li a:focus{background-color:rgba(0,0,0,0.1)}


