

.deadline{text-align:center;display: block;overflow: hidden;border-radius: 0.5em;margin: 1em auto;font-size: 0.8em;color:#fff;min-width:12em;max-width:15em;min-height:100px;}
.deadline .title{display: block;background-color:#0fa1a6;font-size: 1em;padding:0.5em 0.5em;font-weight: 100;}
.deadline .info{display: block;background-color:#1a8083;transition:0.2s;padding:1em 0;}
.deadline .info time{display: block;font-size: 5em;font-weight:700;line-height:1;}
.deadline .info span{display: block;}

.deadline.yellow .title{background-color:#a5890e;}
.deadline.yellow .info{background-color:#bda926;}

.deadline.orange .title{background-color:#940606;}
.deadline.orange .info{background-color:#b32626;}

.deadline.red .title{background-color:#b32626;}
.deadline.red .info{background-color:#ec0707;}

.deadline.black .title{background-color:#333;}
.deadline.black .info{background-color:#000;color:#fff}

