
// include all paddings
@include paddingAll(0);
@include paddingAll(1);
@include paddingAll(2);
@include paddingAll(3);
@include paddingAll(5);
@include paddingAll(10);
@include paddingAll(15);
@include paddingAll(20);
@include paddingAll(25);
@include paddingAll(50);
@include paddingAll(100);
.pAn{
	padding: 0!important;
}

// include all margin
@include marginAll(0);
@include marginAll(1);
@include marginAll(2);
@include marginAll(3);
@include marginAll(5);
@include marginAll(10);
@include marginAll(15);
@include marginAll(20);
@include marginAll(25);
@include marginAll(50);
@include marginAll(100);
.mLRa{
	margin-right:auto;
	margin-left: auto;
}

// include all floats
.floatR{float:right}
.floatL{float:left}
.floatN{float:none}

.floatR-f{float:right!important}
.floatL-f{float:left!important}
.floatN-f{float:none!important}

.ltr .floatRa{float:right}
.rtl .floatRa{float:left}
.ltr .floatLa{float:left}
.rtl .floatLa{float:right}

.ltr .floatRa-f{float:right!important}
.rtl .floatRa-f{float:left!important}
.ltr .floatLa-f{float:left!important}
.rtl .floatLa-f{float:right!important}


// include all font sizes
.fs05{font-size: 0.5em}
.fs06{font-size: 0.6em}
.fs07{font-size: 0.7em}
.fs08{font-size: 0.8em}
.fs09{font-size: 0.9em}
.fs10{font-size: 1em}
.fs11{font-size: 1.1em}
.fs12{font-size: 1.2em}
.fs13{font-size: 1.3em}
.fs14{font-size: 1.4em}
.fs15{font-size: 1.5em}
.fs16{font-size: 1.6em}
.fs17{font-size: 1.7em}
.fs18{font-size: 1.8em}
.fs19{font-size: 1.9em}
.fs20{font-size: 2em}
.fs25{font-size: 2.5em}
.fs30{font-size: 3em}
.fs35{font-size: 3.5em}
.fs40{font-size: 4em}
.fs50{font-size: 5em}
.fs60{font-size: 6em}
.fs70{font-size: 7em}
.fs80{font-size: 8em}
.fs90{font-size: 9em}
.fs100{font-size: 10em}


.fw1{font-weight:100}
.fw3{font-weight:300}
.fw4{font-weight:400}
.fw5{font-weight:500}
.fw7{font-weight:700}
.fw9{font-weight:900}

// all font colors
.fc-red    		{color: $red};
.fc-orange 		{color: $orange};
.fc-yellow 		{color: $yellow};
.fc-olive  		{color: $olive};
.fc-green  		{color: $green};
.fc-teal   		{color: $teal};
.fc-blue   		{color: $blue};
.fc-violet 		{color: $violet};
.fc-purple 		{color: $purple};
.fc-pink   		{color: $pink};
.fc-brown  		{color: $brown};
.fc-grey   		{color: $grey};
.fc-graylight   {color: $graylight};
.fc-black  		{color: $black};
.fc-white  		{color: $white};
.fc-mute  		{color: $fcMute};
.fc-danger 		{color: $fcDanger};
.fc-warn  		{color: $fcWarn};
.fc-info  		{color: $fcInfo};
.fc-gold  		{color: $fcGold};

// all background colors
.bg-red 		{background-color: $red}
.bg-orange 		{background-color: $orange}
.bg-yellow 		{background-color: $yellow}
.bg-olive 		{background-color: $olive}
.bg-green 		{background-color: $green}
.bg-teal 		{background-color: $teal}
.bg-blue 		{background-color: $blue}
.bg-violet 		{background-color: $violet}
.bg-purple 		{background-color: $purple}
.bg-pink 		{background-color: $pink}
.bg-brown 		{background-color: $brown}
.bg-grey 		{background-color: $grey}
.bg-graylight 	{background-color: $graylight}
.bg-black 		{background-color: $black}
.bg-white 		{background-color: $white}


// all opacity needed
.op0{@include opacity(0)}
.op05{@include opacity(0.05)}
.op10{@include opacity(0.1)}
.op15{@include opacity(0.15)}
.op20{@include opacity(0.2)}
.op30{@include opacity(0.3)}
.op40{@include opacity(0.4)}
.op50{@include opacity(0.5)}
.op60{@include opacity(0.6)}
.op70{@include opacity(0.7)}
.op80{@include opacity(0.8)}
.op90{@include opacity(0.9)}
.op95{@include opacity(0.95)}
.op100{@include opacity(1)}

// overflow
.ovh{overflow:hidden}
.ova{overflow:auto}
.txtCut{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

// ways
.code1{padding:0.2em 0.5em; color:#c04040;background-color:#f8f8f8;border-radius:0.25rem;font-size:90%;}

body .w100{width:100px; max-width:100%;}
body .w125{width:125px; max-width:100%;}
body .w150{width:150px; max-width:100%;}
body .w200{width:200px; max-width:100%;}
body .w250{width:250px; max-width:100%;}
body .w300{width:300px; max-width:100%;}
body .w400{width:400px; max-width:100%;}
body .w500{width:500px; max-width:100%;}

body .we50{min-width:50px;width:50px}
body .we70{min-width:70px;width:70px}
body .we80{min-width:80px;width:80px}
body .we100{min-width:100px;width:100px}
body .we125{min-width:125px;width:125px}
body .we150{min-width:150px;width:150px}
body .we200{min-width:200px;width:200px}
body .we250{min-width:250px;width:250px}
body .we300{min-width:300px;width:300px}
body .we400{min-width:400px;width:400px}
body .we500{min-width:500px;width:500px}



.max-w50{max-width:50px!important;}
.max-w100{max-width:100px!important;}
.max-w150{max-width:150px!important;}
.max-w200{max-width:200px!important;}
.max-w250{max-width:250px!important;}
.max-w300{max-width:300px!important;}


.size-we20{max-width:20px!important; min-width: 20px!important;width: 20px!important}
.size-we25{max-width:25px!important; min-width: 25px!important;width: 25px!important}
.size-we30{max-width:30px!important; min-width: 30px!important;width: 30px!important}
.size-we40{max-width:40px!important; min-width: 40px!important;width: 40px!important}
.size-we50{max-width:50px!important; min-width: 50px!important;width: 50px!important}
.size-we60{max-width:60px!important; min-width: 60px!important;width: 60px!important}
.size-we70{max-width:70px!important; min-width: 70px!important;width: 70px!important}
.size-we80{max-width:80px!important; min-width: 80px!important;width: 80px!important}
.size-we90{max-width:90px!important; min-width: 90px!important;width: 90px!important}
.size-we100{max-width:100px!important; min-width: 100px!important;width: 100px!important}
.size-we150{max-width:150px!important; min-width: 150px!important;width: 150px!important}
.size-we200{max-width:200px!important; min-width: 200px!important;width: 200px!important}
.size-we250{max-width:250px!important; min-width: 250px!important;width: 250px!important}
.size-we300{max-width:300px!important; min-width: 300px!important;width: 300px!important}
.size-we400{max-width:300px!important; min-width: 300px!important;width: 300px!important}
.size-we500{max-width:300px!important; min-width: 300px!important;width: 300px!important}


.size-he20{max-height:20px!important; min-height: 20px!important;height: 20px!important}
.size-he25{max-height:25px!important; min-height: 25px!important;height: 25px!important}
.size-he30{max-height:30px!important; min-height: 30px!important;height: 30px!important}
.size-he40{max-height:40px!important; min-height: 40px!important;height: 40px!important}
.size-he50{max-height:50px!important; min-height: 50px!important;height: 50px!important}
.size-he60{max-height:60px!important; min-height: 60px!important;height: 60px!important}
.size-he70{max-height:70px!important; min-height: 70px!important;height: 70px!important}
.size-he80{max-height:80px!important; min-height: 80px!important;height: 80px!important}
.size-he90{max-height:90px!important; min-height: 90px!important;height: 90px!important}
.size-he100{max-height:100px!important; min-height: 100px!important;height: 100px!important}
.size-he150{max-height:150px!important; min-height: 150px!important;height: 150px!important}
.size-he200{max-height:200px!important; min-height: 200px!important;height: 200px!important}
.size-he250{max-height:250px!important; min-height: 250px!important;height: 250px!important}
.size-he300{max-height:300px!important; min-height: 300px!important;height: 300px!important}
.size-he400{max-height:400px!important; min-height: 400px!important;height: 400px!important}
.size-he500{max-height:500px!important; min-height: 500px!important;height: 500px!important}
.size-he600{max-height:600px!important; min-height: 600px!important;height: 600px!important}
.size-hauto{max-height:600px!important; min-height: auto!important;height: auto!important}
.size-h100{max-height:600px!important; min-height: auto!important;height: 100%!important}




