/* Modals - v2*/
.modal{position: fixed;overflow: auto;text-align: center;top: 0;left: 0;width: 100%;height: 100%;padding: 0;margin: 0;border: 0;z-index: 1001;background: rgba(0,0,0,0.7);opacity: 0;-webkit-transition: opacity 0.3s;transition: opacity 0.3s;pointer-events: none;}
.modal-dialog{position: fixed;top: 40%;left: 50%;padding: 2em;background: #fff;border-radius: 5px;text-align: center;opacity: 0;-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;transition: transform 0.3s, opacity 0.3s;-webkit-transform: translate3d(-50%,-50%,0) scale3d(1.1,1.1,1);transform: translate3d(-50%,-50%,0) scale3d(1.1,1.1,1);pointer-events: none;}
.modal.visible .modal-dialog{opacity: 1;-webkit-transform: translate3d(-50%,-50%,0) scale3d(1,1,1);transform: translate3d(-50%,-50%,0) scale3d(1,1,1);pointer-events: auto;cursor:auto;}
.modal.visible{opacity:1;pointer-events:auto;cursor:progress;}
.modal-body{color: rgba(0,0,0,0.6);line-height: 1.4;margin-bottom: 50px;}
.modal-footer-old{position:absolute;bottom:10%;margin: 0 auto;left: 50%;transform: translate(-50%, 0);}
.modal-header{margin: 0 auto;}
.modal-footer{margin: 0 auto;}

