
.pagination{
	text-align:center;
	position:relative;
	-webkit-border-radius:0.25rem;
	-moz-border-radius:0.25rem;
	border-radius:0.25rem;
	overflow:hidden;
	transition:0.3s;
	border:1px solid rgba(0,0,0,0.1);
	user-select:none;
	background-color:#fff;
	border-radius: 1rem;
	opacity:0.8;
}
.pagination:hover{
	opacity:1;
}
.pagination .detail{
	-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;-moz-box-flex:0;flex:0 0 auto;width:auto;
}
.pagination a{
	position:relative;
	padding:1em 1.5em;
	-webkit-transition:.3s;
	-o-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	cursor: pointer;
	background-color:transparent;
	color: #777;
	border: 1px solid transparent;
}
.pagination a:link:hover{
	background-color: rgba(0,0,0,0.05);
	color: #777;
	opacity: 0.8;
}

.pagination a:link:focus{
	background-color: rgba(0,0,0,0.15);
}
.pagination a:not([href]){
	cursor: default;
}
.pagination .active{
	font-weight:700;
	background-color: #6c7ae0;
	color: #fff;
}

// .pagination a.next::after{
// 	content:'>';
// 	text-align:center;
// 	padding:0 3px;
// }
// .pagination a.prev::before{
// 	content:'<';
// 	text-align:center;
// 	padding:0 3px;
// }
// .pagination a.next,.pagination a.prev{
// 	padding:1em 2em;
// }



