progress{
	-webkit-appearance: progress-bar;
	display: block;
	width: 100%;
	border:none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

meter{
	display: block;
	width: 100%;
}

// progress sizes
progress.xs, meter.xs{
	height: 5px;
}
progress.sm, meter.sm{
	height: 12px;
}
progress.lg, meter.lg{
	height: 25px;
}
progress.xl, meter.xl{
	height: 40px;
}




/************************************************************** progress */
.progress{position:relative;display:block;max-width:100%;border:none;margin:1em 0 1.5em;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:rgba(0,0,0,0.1);padding:0;-webkit-border-radius:.28571429rem;-moz-border-radius:.28571429rem;border-radius:.28571429rem;font-size:1rem;opacity:1;transition:0.3s;}
.progress::before{content:attr(data-percent);white-space:nowrap;position:absolute;width:auto;font-size:1em;top:2px;right:.5em;left:auto;bottom:auto;color:rgba(255,255,255,0.7);text-shadow:none;font-weight:700;text-align:left;display: none}
.progress.shadow{opacity:0}
.progress>.bar{display:block;line-height:1;height:1.75em;position:relative;width:0;min-width:2em;background:#888;-webkit-border-radius:.28571429rem;-moz-border-radius:.28571429rem;border-radius:.28571429rem;-webkit-transition:width .3s ease,background-color .3s ease;-o-transition:width .3s ease,background-color .3s ease;-moz-transition:width .3s ease,background-color .3s ease;transition:width .3s ease,background-color .3s ease}
.progress>.bar::after{content:'';opacity:0;position:absolute;top:0;left:0;right:0;bottom:0;background:#fff;-webkit-border-radius:.28571429rem;-moz-border-radius:.28571429rem;border-radius:.28571429rem;-webkit-animation:progress-active 2s ease infinite;-moz-animation:progress-active 2s ease infinite;-o-animation:progress-active 2s ease infinite;animation:progress-active 2s ease infinite}
.progress>.detail{position:absolute;width:100%;font-size:1em;top:100%;right:auto;left:0;bottom:auto;color:#afafaf;font-weight:700;text-shadow:none;margin-top:.5em;text-align:center;-webkit-transition:color .4s ease;-o-transition:color .4s ease;-moz-transition:color .4s ease;transition:color .4s ease;line-height:2em}
.progress>.label{position:absolute;width:100%;font-size:1.2em;line-height:2em;top:100%;right:auto;left:0;bottom:auto;color:rgba(0,0,0,.87);font-weight:700;text-shadow:none;margin-top:.2em;text-align:center;-webkit-transition:color .4s ease;transition:color .4s ease}
@-webkit-keyframes progress-active { 0%{opacity:.3;width:0} 100%{opacity:0;width:100%} }
@-moz-keyframes progress-active { 0%{opacity:.3;width:0} 100%{opacity:0;width:100%} }
@-o-keyframes progress-active { 0%{opacity:.3;width:0} 100%{opacity:0;width:100%} }
@keyframes progress-active { 0%{opacity:.3;width:0} 100%{opacity:0;width:100%} }
.progress[data-percent^="1"] .bar{width:10%}
.progress[data-percent^="2"] .bar{width:20%}
.progress[data-percent^="3"] .bar{width:30%;background-color:#EFBC72}
.progress[data-percent^="4"] .bar{width:40%;background-color:#E6BB48}
.progress[data-percent^="5"] .bar{width:50%;background-color:#E6BB48}
.progress[data-percent^="6"] .bar{width:60%;background-color:#DDC928}
.progress[data-percent^="7"] .bar{width:70%;background-color:#B4D95C}
.progress[data-percent^="8"] .bar{width:80%;background-color:#B4D95C}
.progress[data-percent^="9"] .bar{width:90%;background-color:#66DA81}
.progress[data-percent^="100"] .bar{width:100%;background-color:#66DA81}
.progress[data-percent="1"] .bar{width:1%}
.progress[data-percent="2"] .bar{width:2%}
.progress[data-percent="3"] .bar{width:3%}
.progress[data-percent="4"] .bar{width:4%}
.progress[data-percent="5"] .bar{width:5%}
.progress[data-percent="6"] .bar{width:6%}
.progress[data-percent="7"] .bar{width:7%}
.progress[data-percent="8"] .bar{width:8%}
.progress[data-percent="9"] .bar{width:9%}



