.seoPreview{
  direction: ltr;
  position: relative;
  margin-bottom: 1em;
}
.seoPreview img{
  width: 100px;
  margin: 10px 0;
  filter:grayscale(100%);
  transition: 0.3s;
}
.seoPreview:hover img{
  filter:none;
  opacity: 1;
}
.seoPreview a{
  font-weight: 400;
  cursor: pointer;
  display: block;
  max-width: 640px;
}
.seoPreview h3{
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
  border:none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.rtl .seoPreview h3{
  direction: rtl;
}
.seoPreview a h3{
  color:#1a0dab;
}
.seoPreview a:visited h3{
  color:#609;
}
.seoPreview a:hover h3{
  text-decoration: underline;
}
.seoPreview cite{
  margin: 0;
  font-size: 1.3rem;
  font-style:normal;
  line-height: 2rem;
  color: #006621;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seoPreview .desc{
  display: block;
  max-width: 640px;
  font-size: 1.3rem;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.seoPreview .desc p{
  display: inline;
  margin: 0;
  color: #545454;
}
.rtl .seoPreview .desc p{
  direction: rtl;
}
.seoPreview .desc time{
  color: #777;
  display: inline-block;
}
.rtl .seoPreview .desc time{
  direction: rtl;
}

