
.sharePage1 a{color:#fff;margin:5px;}
.sharePage1 a:hover{color:#fff;}
.sharePage1 a span{font-size:1.5em;display:inline-block}
.sharePage1 .facebook{background-color: #3b5998;}
.sharePage1 .facebook:hover{background-color: #2d4373;}
.sharePage1 .twitter{background-color: #00aced;}
.sharePage1 .twitter:hover{background-color: #0087ba;}
.sharePage1 .linkedin{background-color: #007bb6;}
.sharePage1 .linkedin:hover{background-color: #005983;}
.sharePage1 .telegram{background-color: #36aee2;}
.sharePage1 .telegram:hover{background-color: #1f95c8;}
.sharePage1 .email{background-color: #a08119;}
.sharePage1 .email:hover{background-color: #a08000;}

