$tblPadCell: 0.7em 0.7em;

.tbl{
	width:100%;
	max-width:100%;
	background-color: transparent;
	margin-bottom: 1em;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:0.25rem;
	color: #777;
	line-height:1.5em;
	-fs-table-paginate: paginate;
}

.tbl td, .tbl th{
	padding:$tblPadCell;
	max-width:600px;
	text-overflow: ellipsis;
}

.tbl tbody tr > *{
	border-top: 1px solid rgba(30,30,30,.1);
}

.tbl tr:first-child > *{
	border-top:none;
}

.tbl thead{
	display: table-header-group;
}
.tbl thead th{
	vertical-align: center;
	border-bottom: 2px solid rgba(30,30,30,.1);
	background-color: rgba(10,10,40,0.1);
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: 700;
	overflow:hidden;
}

.tbl.fixAlign th{
	text-align: left;
}
.rtl.fixAlign .tbl th{
	text-align:right;
}

.tbl tfoot th{
	vertical-align: center;
	border-top: 2px solid rgba(30,30,30,.1);
	background-color: rgba(10,10,40,0.1);
	padding-top: 1em;
	padding-bottom: 1em;
	font-style: normal;
	font-weight: 400;

}


// style for padded table
.tbl.padded td, .tbl.padded th{
	padding: 1em 1em;;
}

.tbl.padded thead th{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.tbl.padded tfoot th{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.tbl.compact{
	display:table;
}

.tbl.compact td, .tbl.compact th{
	padding: 0.25em 0.5em;;
}

.tbl.compact thead th{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.tbl.compact tfoot th{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


// dead styles
.tbl:not(.dead) tbody tr:nth-child(2n){
	background-color:rgba(0,0,30, 0.03)
}

.tbl.dark:not(.dead) tbody tr:nth-child(2n){
	background-color:rgba(255,255,255, 0.03)
}
.tbl.secondary:not(.dead) tbody tr:nth-child(2n){
	background-color:rgba(255,255,255, 0.03)
}


// bordered table
.tbl.bordered td, .tbl.bordered th{
	border: 1px solid rgba(0,0,0,0.05);
}

.tbl.dark.bordered td, .tbl.dark.bordered th{
	border: 1px solid rgba(255,255,255,0.05);
}

.tbl.secondary.bordered td, .tbl.secondary.bordered th{
	border: 1px solid rgba(255,255,255,0.05);
}


// hoverable feature
.tbl tbody tr{
	transition-duration:0.3s;
	transition-property:opacity, background-color, color;
}
.tbl:not(.dead) tbody tr:hover{
	background-color: rgba(0,0,0,.07);
	opacity:1;
}
.tbl.dark:not(.dead) tbody tr:hover{
	background-color: rgba(255,255,255,.07);
	opacity:1;
}
.tbl.secondary:not(.dead) tbody tr:hover{
	background-color: rgba(255,255,255,.07);
	opacity:1;
}
.tbl.dead tbody tr{
	background-color: inherit;
}


.tbl.fix{
	table-layout: fixed;
}

.tbl .positive{
	background-color: #fcfff5!important;
	color: #2c662d!important;
	opacity:0.7;
}
.tbl .negative{
	background-color: #fff6f6!important;
	color: #9f3a38!important;
	opacity:0.7;
}
.tbl .warning{
	background-color: #fffaf3!important;
	color: #573a08!important;
	opacity:0.7;
}
.tbl .active{
	background-color: rgba(0, 105, 255, 0.1) !important;
	color: #333;
	opacity:0.7;
}

.tbl td.collapsing, .tbl th.collapsing{
	width:1px;
	white-space: nowrap;
}


// links in selectable table
.tbl tbody .selectable{
	transition: background-color 0.3s;
}
.tbl tbody .selectable a{
	display:block;
	color: inherit;
}

.tbl tbody .selectable:hover{
	background-color: rgba(0,0,0,0.1);
}



.tbl thead th[data-sort]{
	transition: background-color 0.3s;
	cursor:pointer;
	padding: 0;
	position: relative;
}
.tbl thead th[data-sort]:hover{
	background-color: rgba(0,0,0,0.2);
}
.tbl thead th[data-sort] a{
	display:block;
	color: inherit;
	padding: 1em ;
	position:relative;
}
.tbl thead th[data-sort]::after{
	font-family:"siftal";
	display: inline-block;
	cursor:pointer;
	vertical-align: bottom;
	padding: 0 2px;
	position: absolute;
	top: 55%;
	right: 0;
	margin-top: -10px;
}
.rtl .tbl thead th[data-sort]::after{
	right: inherit;
	left: 0;
}
.tbl thead th[data-sort='desc']::after{
	content:"\58";
}
.tbl thead th[data-sort='asc']::after{
	content:"\59";
}
.tbl tr .rowAction{
	margin-top:0.5em;
	opacity:0;
	transition:0.3s opacity;
	user-select:none;
}
.tbl tr:hover .rowAction{
	opacity:1;
}
.tbl p{
	margin:0;
}
.tbl [class^="sf-"]{
	display:inline-block;
}
