
.vcard{
	position: relative;
	max-width: 100%;
	@include flexbox;
	@include flex-direction(column);
	min-width: 0;
	word-wrap: break-word;
	border:none;
	border-radius: 0.4rem;
	overflow: hidden;
	line-height: 1.25;
	background-color: rgba(255,255,255,0.7);
	margin:0 auto;
	transition: 0.3s;
	margin-right:auto;
	margin-left:auto;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.vcard.shadow:hover, .vcard.active{
	box-shadow:  0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 0 5px 20px rgba(0,0,0,0.19), 0 5px 7px rgba(0,0,0,0.23);
}

.vcard>:first-child
{
	border-radius: .3rem .3rem 0 0!important;
	border-top: none!important;
}

.vcard[class^="sf-"]:before{
	vertical-align: top;
}

.vcard img, .vcard .img{
	position: relative;
	display: block;
	padding: 0;
	width:100%;
	height: auto;
}

.vcard .content{
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 1em 1em;
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
}
.vcard .content .header{
	display: block;
	color:#222;
	font-weight:700;
	font-size:1.2em;
	margin-top: -0.2em;
	line-height: 1.5em;
}

.vcard .content .desc{
	clear: both;
	color:#777;
	margin-top: 0.5em;
	display: block;
	line-height: 1.5;
}
// content title
.vcard .content.title{
	background-color: #eee;
	color: #333;
	padding:7em 0;
	text-align: center;
}
.vcard .content.title .header{
	font-size: 2em;
}

// meta
.vcard .meta{
	clear: both;
	color:rgba(0,0,0,0.4);
	font-size: 0.9em;
	transition: 0.3s;
	display: block;
}
.vcard .meta a{
	color:rgba(0,0,0,0.4);
	transition: 0.3s;
}
.vcard .meta a:hover{
	color:rgba(0,0,0,0.6);
}
.vcard .meta a:focus{
	color:rgba(0,0,0,0.7);
}

.ltr .vcard .meta *{
	margin-right: 0.2em;
}
.ltr .vcard .meta:last-child{
	margin-right: 0;
}
.rtl .vcard .meta *{
	margin-left: 0.2em;
}
.rtl .vcard .meta:last-child{
	margin-left: 0;
}


.vcard .footer{
	max-width: 100%;
	min-height: 0!important;
	border-top: 1px solid rgba(0,0,0,0.05);
	background-color: transparent;
	padding:0.75em 1em;
	transition: 0.2s;
	color: rgba(0,0,0,0.4);
	font-size: 0.9em;
	-webkit-box-flex:0;
	-ms-flex-positive:0;
	flex-grow:0;
}
.vcard .footer:empty{
	padding:0;
}
.vcard .footer.pAn .btn{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



img.avatar{
	min-width: 2em;
	min-height: 2em;
	width: 2em;
	height: 2em;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	overflow:hidden;
}

.ltr .vcard .avatar{
	margin-right: 0.3em;
}
.rtl .vcard .avatar{
	margin-left: 0.3em;
}

img.mini{
	width: 35px;
	height:auto;
	border-radius:0.2rem;
	margin:0.1em;
}


// color of cards
.vcard.red{
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 0 3px 0 0 #db2828;
}
.vcard.blue{
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 0 3px 0 0 #2185d0;
}
.vcard.green{
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 0 3px 0 0 #b5cc18;
}
.vcard.yellow{
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 0 3px 0 0 #fbbd08;
}
.vcard.black{
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5, 0 3px 0 0 #1b1c1d;
}


// -------------------------------- size of vcards
// mini
.mini .vcard {
	width: 150px;
	min-width: 150px;
	max-width: 100%;
	@include inline-flex;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	font-size:0.8em;
	margin:7px 5px;
}

.mini .vcard img{
	width: 35px;
	height: 35px;
	display: inline-block;
	@include flex(0 0 auto);
}
.mini .vcard .content{
	@include flex-basis(0);
	@include flex(1);
	padding: 5px 5px 5px;
	height:35px;
}
.mini .vcard .content .header{
	height: 18px;
	line-height: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
}
.mini .vcard .content .btn{
	height: 25px;
	min-height: 25px;
	line-height: 21px;
	padding-top:2px;
	padding-bottom:2px;
}

// tiny
.tiny .vcard {
	width: 180px;
	min-width: 180px;
	@include inline-flex;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	font-size:0.9em;
	margin:10px 5px;
}

.tiny .vcard img{
	width: 40px;
	height: 40px;
	display: inline-block;
	@include flex(0 0 auto);
}
.tiny .vcard .content{
	@include flex-basis(0);
	@include flex(1);
	padding: 5px 5px 0;
	height:40px;
}
.tiny .vcard .content .header{
	height: 22px;
	line-height: 24px;
	overflow: hidden;
	text-overflow:ellipsis;
}
.tiny .vcard .content .btn{
	height: 30px;
	min-height: 30px;
	line-height: 24px;
	padding-top:3px;
	padding-bottom:3px;
}

// small
.small .vcard {
	width: 200px;
	min-width: 200px;
	@include inline-flex;
	@include flex-wrap(wrap);
	@include flex-direction(row);
	font-size:0.9em;
	margin:10px 7px;
}

.small .vcard img{
	width: 50px;
	height: 50px;
	display: inline-block;
	@include flex(0 0 auto);
}
.small .vcard .content{
	@include flex-basis(0);
	@include flex(1);
	padding: 5px 5px 0;
	height:50px;
}
.small .vcard .content .header{
	height: 28px;
	line-height: 30px;
	overflow: hidden;
	text-overflow:ellipsis;
}
.small .vcard .content .btn{
	height: 40px;
	min-height: 40px;
	line-height: 34px;
	padding-top:3px;
	padding-bottom:3px;
}


//  normal
.normal .vcard {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	text-align: center;
}
.normal .vcard img{
	max-height:300px;
}

//  large
.large .vcard {
	width: 220px;
	min-width: 220px;
	max-width: 220px;
	text-align: center;
	font-size: 1.1em;
}
.large .vcard img{
	max-height:220px;
}

//  big
.big .vcard {
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	font-size: 1.3em;
	text-align: center;
}
.big .vcard img{
	max-height:250px;
}

//  big
.huge .vcard {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	font-size: 1.4em;
	text-align: center;
}
.huge .vcard img{
	max-height:300px;
}

//  big
.massive .vcard {
	width: 400px;
	min-width: 400px;
	max-width: 400px;
	font-size: 1.6em;
	text-align: center;
}
.massive .vcard img{
	max-height:400px;
}




// live card design
.live .vcard {
	opacity: 0.5;
}
.live .vcard[data-live="hidden"] {
	opacity: 0.1;
	display: none;
}
.live .vcard[data-live="deactive"] {
	opacity: 0.2;
	cursor: not-allowed;
}
.live .vcard[data-live="on"] {
	opacity: 1;
}
.live .vcard[data-live="half"]{
	opacity: 0.8;
}
.live .vcard[data-live="none"]{
	opacity: 1;
}

.live .vcard:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ccc;
	width: 5px;
	height: 5px;
	margin: 5px;
	border-radius: 50%;
	z-index: 2;
	box-shadow:0 0 0 rgba(204,169,44,0.4);
	animation:pulseOff 2s infinite;
}
.rtl .live .vcard:before{
	right: inherit;
	left: 0
}
.live .vcard[data-live="on"]:before{
	background-color: #20b040;
	box-shadow:0 0 0 0 rgba(15,161,166,0.7);
	animation:pulseOn 1.25s infinite cubic-bezier(0.66,0,0,1);
}
.live .vcard[data-live="off"]:before{
	opacity: 0.5;
}
.live .vcard[data-live="half"]:before{
	background-color: #b5cc18;
}
.live .vcard[data-live="none"]:before{
	display:none;
}
@keyframes pulseOn {to {box-shadow: 0 0 0 0.4em rgba(232, 76, 61, 0);}}
@keyframes pulseOff{0%{box-shadow:0 0 0 0 rgba(204,169,44,0.4)}70%{box-shadow:0 0 0 0.5em rgba(204,169,44,0)}100%{box-shadow:0 0 0 0 rgba(204,169,44,0)}}


// vcard in vcard
.vcard .mini .vcard {
	min-width: auto;
	margin: 0;
	width: 100%;
}

.vcard .mini .vcard .content .header{
	margin:0;
	height: 25px;
	line-height: 25px;
}
.vcard .mini .vcard .content .btn
{
	height: 35px;
	line-height: 31px;
}
