{%extends "content_a/product/layout.html"%}


{%block data%}
<form class="cbox" method="post" enctype="multipart/form-data">

  <p>{%trans "Extra setting for special use"%}</p>

             <label for="firstName">{%trans "First name"%}</label>
             <div class="input">
               <input type="text" name="firstName" id="firstName" placeholder='{%trans "First name"%}' value="{{product.firstname}}" maxlength='30'>
             </div>

             <label for="lastName">{%trans "Last name"%}</label>
             <div class="input">
               <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%}' value="{{product.lastname}}" maxlength='50'>
             </div>

             <label for="personnelcode">{%trans "Personnel code"%}</label>
             <div class="input">
               <input type="text" name="personnelcode" id="personnelcode" placeholder='{%trans "Personnel code"%}' value="{{product.personnel_code}}" maxlength='30'>
             </div>

{{block("isave")}}

</form>
{%endblock%}
