{%extends display.dash%}



{%block pageContent%}

{%if allTables%}
<div class="f">

  {%for key, value in allTables%}
  <div class="c2">
    <a class="dcard x1 " href='{{url.here}}/dbtables?table={{key}}'>
     <div class="statistic">
      <div class="value"><i class="sf-table"></i></div>
      <div class="label">{{value}}</div>
     </div>
    </a>
  </div>
  {%endfor%}
</div>
{%elseif dataTable%}

 {%if dataFilter%}

  {{block('htmlSearchBox2')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox2')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox2')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/dbtables' data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in :dbtabless"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
<div class="tblBox mB50">

 <div class="fs12">
  <table class="tbl1 v1">
    <thead class="primary">
      <tr>
        {%for key, value in allField%}
        <th data-sort="{{sortLink[value]['order']}}"><a href='{{sortLink[value]["link"]}}'>{%set myField = value | capitalize%}{%trans value%}</a></th>
        {%endfor%}
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        {%for fkey, fvalue in allField%}
        {%if value[fvalue] is iterable%}
          <td>ARRAY!</td>
        {%else%}
          <td>{{value[fvalue]}}</td>
        {%endif%}
        {%endfor%}
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
 </div>
</div>
<div class="mB50">&nbsp;</div>
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/dbtables">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/dbtables">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.here}}/dbtables/add">{%trans "Try to start with add new :dbtables!"%}</a></p>
{%endblock%}

