{%extends display.admin%}



{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
  <div class="x6 c5 s12 pRa10">
    <dvi class="cbox">
      <form method="post" autocomplete="off">
          {{block('iParent')}}
          {{block('catTitle')}}
          {{block('catSlug')}}
          {{block('idesc')}}
          {{block('ifile')}}


          {%if not dataRow.count and not dataRow.have_child%}
            <p>{%trans "No product found by this category."%}
              {%trans "Your can remove it"%} <span data-confirm data-data='{"delete" : "delete"}' class="fc-red" >{%trans "Remove category"%}</span>
            </p>
          {%endif%}
          <div class="txtRa">
            <button class="btn success mT20" type="submit">{%trans "Save"%}</button>
          </div>

      </form>
    </dvi>
  </div>
</div>
{%endblock%}




{%block iParent%}
<div class="mB10">
  <label for='parent'>{%trans "Parent"%}</label>
  <select name="parent" id="parent" class="select22" data-placeholder='{%trans "Select category parent"%}'>
    <option></option>
    {%if dataRow.parent1%}
      <option value="0">{%trans "Without category"%}</option>
    {%endif%}
    {%for key, value in parentList%}
      <option value="{{value.id}}" {%if value.id == dataRow.last_parent %} selected{%endif%}>{{value.full_title}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}




{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea data-editor class="txt mB10" id='desc' name="desc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}



{%block ifile%}
{%if dataRow.file%}
   <div class="mediaBox mB20">

{% set myExt = dataRow.file[(dataRow.file | length)-3:3] %}

 {%if myExt == 'png' or myExt == 'jpg' or myExt == 'jpeg' or myExt == 'gif'%}
    <img src="{{dataRow.file}}" alt="{{myTitle.title}}">
 {%endif%}
   </div>
   <dir data-confirm data-data='{"deletefile" : 1}' class="btn xs danger floatL">{%trans "Delete file"%}</dir>
{%endif%}


<label for="file1" class="block">{%trans "Category image"%}</label>
<div class="input" title='{%trans "Max 1Mb"%}'>
 <input type="file" name="file" id="file1" data-max="1000">
 </label>
</div>

{%endblock%}




{%block catTitle%}
<label for="icatname">{%trans "Title"%}</label>
<div class="input">
  <input type="text" name="title" id="icatname" placeholder='{%trans "Category name"%}' value="{{dataRow.title}}" autofocus maxlength='50' minlength="1" required>
</div>
{%endblock%}




{%block catSlug%}
<label for="icatslug">{%trans "Slug"%}</label>
<div class="input ltr">
  {%if dataRow.parent_slug%}
  <label class="addon">{{dataRow.parent_slug}}/</label>
  {%endif%}
  <input type="text" class="ltr" name="slug" id="icatslug" placeholder='{%trans "Category slug"%}' value="{{dataRow.slug}}" autofocus maxlength='50' minlength="1">

</div>
{%endblock%}

