{%extends display.dash%}




{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <div class="msg primary2">{%trans "You can change these settings everytime."%}</div>
      <form method="post" autocomplete="off">

        <p>{%trans "You can use barcode scanners to quickly enter products to the cart at checkout."%} {%trans "If already you have barcode reader in your store, please tell us to add related fileds into products."%}</p>
        <div class="switch1 fs12">
         <input type="checkbox" name="barcode" id="barcode" {% if dataRow.barcode%} checked{%endif%}>
         <label for="barcode"></label>
         <label for="barcode">{%trans "Have barcode reader?"%}</label>
        </div>

        <div data-response='barcode'{%if dataRow.barcode=='yes'%}{%else%} data-response-hide{%endif%}>
          <hr class="mB25">
          <p>{%trans "If already you have scale with label printer, tell us."%} {%trans "We allow you to scan barcode of scale receipt, then we detect product and add them automatically."%}</p>

          <div class="switch1 fs12">
           <input type="checkbox" name="scale" id="scale" {% if dataRow.scale%} checked{%endif%}>
           <label for="scale"></label>
           <label for="scale">{%trans "Have scale with label printer?"%}</label>
          </div>

        </div>

        <div class="f align-center mB10">
          <div class="c fc-mute">{{stepDesc}}</div>
          <div class="cauto os"><button class="btn success">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}
