{%extends display.admin%}



{%block pageContent%}
 {{block('pageSteps2')}}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox2%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}{{moduleType}}' data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th>{%trans "Product"%}</th>
        <th>{%trans "Count"%}</th>
        <th>{%trans "Date"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}

      <tr class="">
        <td>{{value.title}}</td>
        <td>{{value.count | fitNumber}}</td>
        <td>{{value.date | dt("human", 'year')}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/{{url.module}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/{{url.module}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}





{%block pageSteps%}
  <div class="f">

    <div class="c">
    <a class="dcard {%if not requestGET.status %}active{%endif%}" href='{{url.this}}{%if requestGET.type%}?type={{requestGET.type}}{%endif%}' data-shortkey="49ctrlshift" >
     <div class="statistic">
      <div class="value">{{commentCounter.all | fitNumber}}</div>
      <div class="label"><i class="sf-list"></i> {%trans "All"%} </div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'awaiting' %}active{%endif%}" href='{{url.this}}?status=awaiting{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="49ctrlshift" >
     <div class="statistic blue">
      <div class="value">{{commentCounter.awaiting | fitNumber}}</div>
      <div class="label"><i class="sf-load-a"></i> {%trans "Awaiting"%} </div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'approved' %}active{%endif%}" href='{{url.this}}?status=approved{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="50ctrlshift" >
     <div class="statistic green">
      <div class="value">{{commentCounter.approved | fitNumber}}</div>
      <div class="label"><i class="sf-check"></i> {%trans "Approve"%}</div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'unapproved' %}active{%endif%}" href='{{url.this}}?status=unapproved{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" >
     <div class="statistic">
      <div class="value">{{commentCounter.unapproved | fitNumber}}</div>
      <div class="label"><i class="sf-times"></i> {%trans "Unapprove"%}</div>
     </div>
    </a>
   </div>

    <div class="c">
    <a class="dcard {%if requestGET.status == 'deleted' %}active{%endif%}" href='{{url.this}}?status=deleted{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" >
     <div class="statistic">
      <div class="value">{{commentCounter.deleted | fitNumber}}</div>
      <div class="label"><i class="sf-trash"></i> {%trans "Deleted"%}</div>
     </div>
    </a>
   </div>

    <div class="c">
    <a class="dcard {%if requestGET.status == 'spam' %}active{%endif%}" href='{{url.this}}?status=spam{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" >
     <div class="statistic red">
      <div class="value">{{commentCounter.spam | fitNumber}}</div>
      <div class="label"><i class="sf-bug"></i> {%trans "Spam"%}</div>
     </div>
    </a>
   </div>



  </div>
{%endblock%}