{%extends display.jibresControlLayout%}

{%block pageContent%}
<div class="fs12">
	{{block('myAccountList')}}
</div>
{%endblock%}

{%block myAccountList%}
{%if dataTable%}
<div class="tblBox">
	<table class="tbl1 v4">
		<thead>
			<tr>
				<th class="collapsing">#</th>
				<th>{%trans "Title"%}</th>
				<th>{%trans "DNS #1"%}</th>
				<th>{%trans "DNS #2"%}</th>
				<th>{%trans "DNS #3"%}</th>
				<th>{%trans "DNS #4"%}</th>

				<th class="s0">{%trans "Date created"%}</th>

				<th class="collapsing">{%trans "Action"%}</th>
			</tr>
		</thead>
		<tbody>
			{%for key, value in dataTable%}
			<tr {%if value.isdefault%} class="positive" {%endif%}>
				<td class="collapsing">{{(key + 1) | fitNumber}}</td>
				<td>{{value.title}} {%if value.isdefault%} <span class="badge success">{%trans "Default"%}</span> {%endif%}</td>
				<td>{{value.ip1}} <br> {{value.ns1}}</td>
				<td>{{value.ip2}} <br> {{value.ns2}}</td>
				<td>{{value.ip3}} <br> {{value.ns3}}</td>
				<td>{{value.ip4}} <br> {{value.ns4}}</td>

				<td class="s0">
					{{value.datecreated |dt}}
				</td>
				<td class="collapsing"><a href="{{url.this}}/edit?id={{value.id | coding('encode')}}" class="btn info2">{%trans "Manage dns"%}</a></td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
{%else%}
<div class="msg info2">{%trans "No dns founded"%}
	<br>
	<a href="{{url.this}}/add">{%trans "Try to add new dns!"%}</a>
</div>
{%endif%}

{%endblock%}

