{%extends display.suMain%}

{%block pageContent%}

{%if ipDetail%}
<div class="cbox">
  <div class="f">
  {%for key, value in ipDetail%}
    <div class="msg c3 mL5">{{key}} <span class="floatL">{{value}}</span></div>
  {%endfor%}
  </div>
</div>
{%endif%}

  {{block('iShowFiles')}}
  {{block('iShowFilesRaw')}}
{%endblock%}




{%block iShowFilesRaw%}
{%if rawFile%}
{%set editable = ['new', 'block', 'unblock']%}
<div class="ltr">
  {%for key, value in rawFile%}
    <div class="cbox">
      <h3>{{key | capitalize}}</h3>
        {%if key in editable%}
          <form method="post" autocomplete="off">
            <div class="input ltr">
              <label class="addon">{%trans "Add data to this file"%}</label>
              <input type="text" name="ip">
              <input type="hidden" name="file" value="{{key}}">
              <input type="hidden" name="type" value="add">
              <button type="submit" class="btn primary">{%trans "Add"%}</button>
            </div>
          </form>
          <hr>
        {%endif%}
      {%for k, v in value%}
        {%if v%}
        {{v}} {%if key in editable%}<div href="{{url.pwd}}" class="badge danger" data-confirm data-data='{"type" : "remove_ip", "file" : "{{key}}", "ip" : "{{v | trim}}"}' >{%trans "Remove"%}</div>{%endif%}
        <br>
        {%endif%}

      {%endfor%}
    </div>
  {%endfor%}
</div>
{%endif%}
{%endblock%}





{%block iShowFiles%}
{%if ipFiles%}
<div class="ltr">
<table class="tbl1 v3">
{%for key, value in ipFiles%}
  <tr>
    <td class="txtL">
      <span class="sf-database fs15 mR10"></span>
      <a href="{{url.site}}/files/ip/{{value.name}}" title='{%trans "Click to download"%}'>{{value.name | capitalize}}</a>
    </td>
    <td class="rtl s0">{{value.ago}}</td>
    <td class="rtl pR25-f">{{value.size | fitNumber(false)}} {%trans "MB"%}</td>

  </tr>
{%endfor%}
</table>
</div>
{%else%}
<div class="msg danger fs16">{%trans "No backup was found"%}</div>
{%endif%}
{%endblock%}

