{%extends display.admin%}

{%block pageContent%}

{%if product_list%}
{{block('searchblock')}}
<div class="cbox fs12">
{{block('datatable')}}
</div>


{%elseif utilityGET.q%}
{{block('searchblock')}}
<div class="cbox fs12">
 <h3>{%trans "No result founded."%} {%trans "Search with new keywords."%}</h3>
</div>


{%else%}
<div class="cbox fs12">
 <h3>{%trans "You are not have product yet! add new one."%}</h3>
 <a class="btn primary mT10 pLR50" href="{{url.baseFull}}/product/add">{%trans "Add new product"%}</a>
</div>
{%endif%}

{%endblock%}


{%block searchblock%}
<div class="cbox fs12">
  <form method="get" data-action action='{{url.baseFull}}/product'>
    <div class="input">
      <input type="text" name="q" placeholder='{%trans "Search in products"%}' id="q" value="{{utilityGET.q}}" autofocus class="barcode" data-default data-allowEnter>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block datatable%}
  <table class="tbl">
    <thead class="">
      <tr>
        <th data-sort="{{sort_link.title.order}}"><a href='{{sort_link.title.link}}'>{%trans "Title"%}</a></th>
        <th data-sort="{{sort_link.cat.order}}"  class="s0"><a href='{{sort_link.cat.link}}'>{%trans "Category"%}</a></th>
        <th data-sort="{{sort_link.buyprice.order}}" ><a href='{{sort_link.buyprice.link}}'>{%trans "Buy price" %}</a></th>
        <th data-sort="{{sort_link.price.order}}" ><a href='{{sort_link.price.link}}'>{%trans "Sell Price" %}</a></th>
        <th data-sort="{{sort_link.discount.order}}" ><a href='{{sort_link.discount.link}}'>{%trans "Discount" %}</a></th>
        <th data-sort="{{sort_link.discountpercent.order}}"  class="s0"><a href='{{sort_link.discountpercent.link}}'>{%trans "Discount percent"%}</a></th>
        <th data-sort="{{sort_link.stock.order}}"  class="s0"><a href='{{sort_link.stock.link}}'>{%trans "Stock" %}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in product_list%}
      <tr>
        <td><a href="{{url.baseFull}}/product/edit/general?id={{value.id}}">{{value.title}}</a></td>
        <td class="s0"><a href="{{url.baseFull}}/product?q={{value.cat}}">{{value.cat}}</a></td>
        <td><a href="{{url.baseFull}}/product?q={{value.buyprice}}">{{value.buyprice | number_format | fitNumber}}</a></td>
        <td><a href="{{url.baseFull}}/product?q={{value.price}}">{{value.price | number_format | fitNumber}}</a></td>
        <td><a href="{{url.baseFull}}/product?q={{value.discount}}">{{value.discount | number_format | fitNumber}}</a></td>
        <td class="s0">{{value.discountpercent | number_format | fitNumber}} <small>%</small></td>
        <td class="s0">{{value.stock | number_format | fitNumber}} <small><a href="{{url.baseFull}}/product?q={{value.unit}}">{{value.unit}}</a></small></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
{%endblock%}



{%block All_field_we_have_hide%}

      'id'              => string 'BQ' (length=2)
      'store_id'        => string '1' (length=1)
      'creator'         => string '3' (length=1)
      'title'           => string 'سرکه سفید دلوسه' (length=28)
      'name'            => null
      'cat'             => string 'محصولات غذایی' (length=25)
      'slug'            => string 'سرکه-سفید-دلوسه' (length=28)
      'url'             => string 'http://سرکه-سفید-دلوسه.jibres.dev' (length=46)
      'company'         => null
      'shortcode'       => null
      'unit'            => string 'بطری' (length=8)
      'barcode'         => string '6262164400421' (length=13)
      'barcode2'        => null
      'code'            => string '1412' (length=4)
      'buyprice'        => null
      'price'           => string '5450' (length=4)
      'discount'        => string '450' (length=3)
      'discountpercent' => string '8.257' (length=5)
      'vat'             => null
      'initialbalance'  => null
      'minstock'        => string '1' (length=1)
      'maxstock'        => null
      'status'          => string 'available' (length=9)
      'sold'            => null
      'stock'           => null
      'thumb'           => null
      'service'         => null
      'checkstock'      => null
      'sellonline'      => null
      'sellstore'       => null
      'carton'          => null
      'datecreated'     => string '2017-10-31 08:12:23' (length=19)
      'datemodified'    => null
      'desc'            => null
{%endblock%}

