{%extends "content_a/product/layout.html"%}


{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsSite')}}
<div class="f">
 <div class="c4 s12 pA10">
 	{{block('iDataForm')}}
 </div>
 <div class="c8 s12 pA10">
 	{{block('iDataList')}}
 </div>
</div>
{%endblock%}



{%block iDataList%}
<div class="cbox">
	<table class="tbl1 v5">
		<tbody>
			{%for key, value in peropertyList%}
			<tr {%if requestGET.pid == value.id%} class="negative" {%endif%}>
				<td>{{value.cat}}</td>
				<td>{{value.key}}</td>
				<td>{{value.value}}</td>
				<td>{{value.desc}}</td>
				<td class="collapsing"><a href="{{url.that}}?id={{requestGET.id}}&pid={{value.id}}" class="btn primary xs">{%trans "Edit"%}</a></td>
				<td class="collapsing"><div class="btn danger xs" data-confirm data-data='{"id" : "{{value.id}}", "type" : "remove"}'>{%trans "Remove"%}</div></td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	{%if defaultproperty%}

	{%for i,j in defaultproperty%}
	{%if j.checker in peropertyListChecker%}
	{%else%}
		<div class="msg">
		<div class="txtB">{{j.cat}}, {{j.key}}
			<small>{%trans "This property loaded from default property of category"%}</small>
		</div>
		<form method="post" autocomplete="off">
			<input type="hidden" name="cat" value="{{j.cat}}">
			<input type="hidden" name="key" value="{{j.key}}">
			<div class="">{{block('ivalue')}}</div>
			<div class="">{{block('idesc')}}</div>
			{{block('ibtn')}}
		</form>
		</div>
	{%endif%}

	{%endfor%}
	{%endif%}
</div>
{%endblock%}




{%block iDataForm%}
<div class="cbox">
<form method="post" autocomplete="off">
	<div class="f">
		<div class="c s12 mLa5">{{block('icat')}}</div>
		<div class="c s12 mLa5">{{block('ikey')}}</div>
	</div>
	<div class="">{{block('ivalue')}}</div>
	<div class="">{{block('idesc')}}</div>
	<div class="">{{block('ibtn')}}</div>
</form>
</div>
{%endblock%}

{%block ibtn%}

<button class="btn mT20 primary block">{%trans "Add"%}</button>
{%endblock%}


{%block idesc%}
<textarea name="desc" class="txt mB20" rows="3" placeholder='{%trans "Description"%}'>{{pDataRow.desc}}</textarea>
{%endblock%}



{%block icat%}

<label for='cat'>{%trans "cat"%}</label>
<select name="cat"  class="select ui dropdown search addition" id="cat">
  <option value="">{%trans "Add or select"%}</option>

  {%for key, value in autoList.cat%}
    <option value="{{value}}" {%if value == pDataRow.cat %} selected{%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}



{%block ikey%}
<label for='key'>{%trans "key"%}</label>
<select name="key"  class="select ui dropdown search addition" id="key">
  <option value="">{%trans "Add or select"%}</option>

  {%for key, value in autoList.key%}
    <option value="{{value}}" {%if value == pDataRow.key %} selected{%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}



{%block ivalue%}
<label for='ivalue'>{%trans "Value"%}</label>
<div class="input">
 <input type="text" name="value"  value="{{pDataRow.value}}" required  maxlength='200' minlength="1" pattern=".{1,200}"  id='ivalue'>
</div>
{%endblock%}
