{%extends display.main%}


{%block body%}

 {{block('landPage')}}
 {{block('keepSimple--')}}
 {{block('statistic--')}}
 {{block('enterprise--')}}
 {{block('history---')}}
 {{block('installation--')}}
 {{block('roadmap')}}
 {{block('quote')}}
 {{block('why--')}}
 {{block('support--')}}

{%include template.footer%}


{%endblock%}


{%block landPage%}
<section id='landing'>
 <header id='site-header' class="cn f" data-scroll>
  <h1 class="cauto logo">
   <a class="flex" href='{{url.base}}' tabindex='1'>
    <img src='{{url.static}}images/logo/jibres.svg' alt='{{site.title}} | {{site.desc}}'>
    <span>{{site.title}}</span>
   </a>
  </h1>

  <nav class="cauto os">
   <a href="{{url.base}}/pricing">{%trans "Pricing"%}</a>
   <a href="{{url.bases}}contact">{%trans "Contact"%}</a>
{%if login.id%}
   <a href="{{url.base}}/a" data-direct class="btn">{%trans "Admin Panel"%}</a>
{%else%}
   <a href="{{url.base}}/enter" data-direct class="btn">{%trans "Enter"%}</a>
{%endif%}
  </nav>
 </header>

 <div class="title">
  <h2>{%trans "Integrated Sales and Online Accounting"%}</h2>
  <h3>{%trans ""%} {{site.desc}}</h3>
 </div>

</section>
{%endblock%}



{%block readmap%}
<section class="module parallax parallax-2">
  <div class="container">
    <h1>WORK</h1>
  </div>
</section>
{%endblock%}


{%block keepSimple%}
<section>
 <h2>Keep it simple</h2>
</section>
{%endblock%}


{%block statistic%}
<section>
 statistic
</section>
{%endblock%}


{%block roadmap%}
<section id='roadmap'>
  <div class="title">
  <h2>{%trans "Roadmap"%}</h2>
  <h3>{%trans "Amazing Financial Platform"%}</h3>
 </div>
</section>
{%endblock%}


{%block enterprise%}
<section>
 enterprise
</section>
{%endblock%}


{%block history%}
<section>
 history
</section>
{%endblock%}


{%block installation%}
<section>
 installation
</section>
{%endblock%}


{%block quote%}
<section id='quote'>
  <div class="title">
  <h4>"{%trans "It's helped us to rapidly iterate and rapidly prototype in ways that were much more time-consuming in the past."%}"</h4>
  <h5>{%trans "AARRON WALTER, DIRECTOR OF UX AT MAILCHIMP"%}</h5>
 </div>
</section>
{%endblock%}


{%block why%}
<section>
 why
</section>
{%endblock%}


{%block support%}
<section>
 support
</section>
{%endblock%}




