{%extends display.main%}


{%block content%}


 {{block('landPage')}}
 {{block('saleChannels')}}
 {{block('keepSimple')}}
 {{block('pricingPlans')}}
 {{block('statistic')}}
 {{block('enterprise--')}}
 {{block('history---')}}
 {{block('installation--')}}
 {{block('roadmap')}}
 {{block('quote')}}
 {{block('why--')}}
 {{block('support--')}}



{%endblock%}


{%block landPage%}
<section id='landing'>
 <div class="title">

  <div class="h2"><span class="typed"></span></div>

  <div id="typed-strings" class="hide">
    <h3>{%trans "Invoice Software"%}</h3>
    <h4>{%trans "Easy Invoicing Software"%}</h4>
    <h3>{%trans "Online Invoicing Software"%}</h3>
    <h2>{%trans "Free Invoicing Software"%}</h2>

    <h3>{%trans "Accounting Software"%}</h3>
    <h2>{%trans "Online Accounting Software"%}</h2>

    <h3>{%trans "Sales"%}</h3>
    <h3>{%trans "Sales Software"%}</h3>
    <h4>{%trans "Integrated Sales"%}</h4>
    <h2 class="bold">{%trans "Integrated Ecommerce Platform"%}</h2>
  </div>
  <h3>{{page.desc2}}</h3>
 </div>

</section>
{%endblock%}


{%block saleChannels%}
<section id='saleChannels'>
 <div class="cn">
  <div class="title">
   <h2>{%trans "Jibres Sale Channels"%}</h2>
   <p>{%trans "Sales channels represent the different marketplaces where you sell your products."%}<br>{%trans "By use each sales channel on Jibres, you can keep track of your products, orders, and customers in one place."%} <a href="{{url.kingdom}}">{%trans "Read more"%}</a></p>
  </div>

  <div class="f">
    <div class="c3 m6 s12">
      <div class="item">
        <img src="{{url.static}}/img/logo/icon/svg/Jibres-Logo-icon.svg" alt='{%trans "Jibres"%}'>
        <h3>{%trans "Point of Sale Software"%}</h3>
        <p>{%trans "Barcode reader"%}{%trans ","%} {%trans "Receipt printer"%}{%trans ","%} {%trans "PC POS"%}{%trans ","%} {%trans "Label Printing Scale"%}{%trans ","%} {%trans "Invoice Software"%}</p>
      </div>
    </div>

    <div class="c3 m6 s12">
      <div class="item">
        <img src="{{url.static}}/img/logo/icon/svg/Jibres-Logo-icon.svg" alt='{%trans "Jibres"%}'>
        <h3>{%trans "Mobile Online Store"%}</h3>
        <p>{%trans "Create mobile app for your online store."%} {%trans "Free"%}{%trans ","%} {%trans "Fully Customizable"%}</p>
      </div>
    </div>

    <div class="c3 m6 s12">
      <div class="item">
        <img src="{{url.static}}/img/logo/icon/svg/Jibres-Logo-icon.svg" alt='{%trans "Jibres"%}'>
        <h3>{%trans "Social Marketing"%}</h3>
        <p>{%trans "Easily add ecommerce to any website and social networks by embedding a single buy button."%}</p>
      </div>
    </div>

    <div class="c3 m6 s12">
      <div class="item">
        <img src="{{url.static}}/img/logo/icon/svg/Jibres-Logo-icon.svg" alt='{%trans "Jibres"%}'>
        <h3>{%trans "Online Store Website"%}</h3>
        <p>{%trans "Online store builder allow you robust your business in a faster way, simpler way!"%}</p>
      </div>
    </div>

  </div>
 </div>
</section>
{%endblock%}







{%block landPage2%}
<section id='landing'>
 <div class="title">
  <h2>{%trans "Integrated Sales and Online Accounting"%}</h2>
  <h3>{{site.desc}}</h3>
 </div>

</section>
{%endblock%}


{%block keepSimple%}
<section id='keepitsimple'>
 <div class="title">
  <h2 title='{%trans "Simplest forever"%}'>{%trans "Keep it simple"%}</h2>
  <h3>{%trans "Simplicity is the ultimate sophistication"%}</h3>
  <h3>{%trans "No one can fullfill your e-commerce needs like us"%} <span>💪</span></h3>
 </div>
</section>
{%endblock%}


{%block pricingPlans%}
<section id='pricingPlans'>
  <div class="cn">
    <div class="headline">
      <h3>{%trans "Choose the plan that's right for you"%}</h3>
      <p>{%trans "Plans to fit your budget"%}</p>
    </div>
    <div class="f">
      <div class="c4 s12 pLR5">
        <div class="pricing-card bronze">
          <div class="name">{%trans "Bronze"%}</div>
          <div class="price"><span>{{ 140 | fitNumber}}</span> {%if lang.current == 'fa'%}{%trans "Hezar Toman"%}{%else%}${%endif%}</div>
          <div class="detail">
            <div><span class="txtB">{%trans "Order Limit"%}</span> <span>{{100 | fitNumber}}</span></div>
            <div><span class="txtB">{%trans "Staff"%}</span> <span>{{1 | fitNumber}}</span></div>
            <div><span class="txtB">{%trans "Basic"%}</span> <span>{%trans "Report"%}</span></div>
            <div><span class="txtB">{%trans "Basic"%}</span> <span>{%trans "Permission"%}</span></div>
            <div><span class="txtB">{%trans "Basic"%}</span> <span>{%trans "Personalization"%}</span></div>
          </div>
          <a href="{{url.kingdom}}/enter/signup?plan=bronze" class="btn lg">{%trans "Get Bronze"%}</a>
          <div class="meta">{%trans "Renews every year."%}</div>
        </div>
      </div>
      <div class="c4 s12 pLR5">
        <div class="pricing-card silver">
          <div class="name">{%trans "Silver"%}</div>
          <div class="price"><span>{{ 300 | fitNumber}}</span> {%if lang.current == 'fa'%}{%trans "Hezar Toman"%}{%else%}${%endif%}</div>
          <div class="detail">
            <div><span class="txtB">{%trans "Order Limit"%}</span> <span>{{1000 | fitNumber}}</span></div>
            <div><span class="txtB">{%trans "Staff"%}</span> <span>{{5 | fitNumber}}</span></div>
            <div><span class="txtB">{%trans "Advanced"%}</span> <span>{%trans "Report"%}</span></div>
            <div><span class="txtB">{%trans "Advanced"%}</span> <span>{%trans "Permission"%}</span></div>
            <div><span class="txtB">{%trans "Basic"%}</span> <span>{%trans "Personalization"%}</span></div>
          </div>
          <a href="{{url.kingdom}}/enter/signup?plan=silver" class="btn lg">{%trans "Get Silver"%}</a>
          <div class="meta">{%trans "Renews every year."%}</div>
        </div>
      </div>
      <div class="c4 s12 pLR5">
        <div class="pricing-card gold">
          <div class="name">{%trans "Gold"%}</div>
          <div class="price"><span>{{ 700 | fitNumber}}</span> {%if lang.current == 'fa'%}{%trans "Hezar Toman"%}{%else%}${%endif%}</div>
          <div class="detail">
            <div><span class="txtB">{%trans "Order Limit"%}</span> <span>{%trans "Ultimate"%}</span></div>
            <div><span class="txtB">{%trans "Staff"%}</span> <span>{{20 | fitNumber}}</span></div>
            <div><span class="txtB">{%trans "Advanced"%}</span> <span>{%trans "Report"%}</span></div>
            <div><span class="txtB">{%trans "Advanced"%}</span> <span>{%trans "Permission"%}</span></div>
            <div><span class="txtB">{%trans "Advanced"%}</span> <span>{%trans "Personalization"%}</span></div>
          </div>
          <a href="{{url.kingdom}}/enter/signup?plan=gold" class="btn lg">{%trans "Get Gold"%}</a>
          <div class="meta">{%trans "Renews every year."%}</div>
        </div>
      </div>
    </div>

    <div class="headline">
      <h3>{%trans "Get started with our <span class='txtB'>Free Plan</span>"%}</h3>
    </div>
    <div class="f justify-center">
      <div class="c4 s12">
          <div class="pricing-card free">
            <div class="name">{%trans "Free"%}</div>
            <div class="price"><span>{{ 0 | fitNumber}}</span></div>
            <div class="detail">
              <div><span class="txtB">{%trans "Order Limit"%}</span> <span>{{10 | fitNumber}}</span></div>
              <div><span class="txtB">{%trans "Basic"%}</span> <span>{%trans "Report"%}</span></div>
              <div><span class="txtB">{%trans "Basic"%}</span> <span>{%trans "Personalization"%}</span></div>
            </div>
            <a href="{{url.kingdom}}/enter/signup?plan=free" class="btn lg">{%trans "Get Gold"%}</a>
            <div class="meta">{%trans "Free Forever."%}</div>
          </div>
      </div>
      <div class="c6 s12">
        <img src="{{url.static}}/img/homepage/jibres-free-plan.png" alt='{%trans "Jibres Free pricing"%}'>
      </div>
    </div>
  </div>
</section>
{%endblock%}


{%block statistic%}
<section id='statistic'>
  <div class="cn">
    <h2 class="txtC txtB mB100 fs30" title='{%trans "Of course Made with love 😍"%}'>{%trans "Jibres has created for futuristic entrepreneurs"%}<span>❤️</span></h2>
    <div class="f txtC">
      <div class="c s12 pA10">
          <div class="fs50" title='{%trans "Item"%}'>{{homepagenumber.product | number_format | fitNumber}}+</div>
          <h5>{%trans "Products"%}</h5>
      </div>
      <div class="c s12 pA10">
          <div class="fs50" title='{%trans "Qty"%}'>{{homepagenumber.factor | number_format | fitNumber}}+</div>
          <h5>{%trans "Factor"%}</h5>
      </div>
      <div class="c s12 pA10">
          <div class="fs40" title='{%trans "Toman"%}'>{{homepagenumber.sum_factor | number_format | fitNumber}}+</div>
          <h5>{%trans "Sold on Jibres"%}</h5>
      </div>
    </div>
  </div>
</section>
{%endblock%}


{%block roadmap%}
<section id='roadmap'>
  <div class="cn">
    <div class="f align-center fix">
      <div class="cauto s12"><img src="{{url.static}}/img/homepage/jibres-vision.png" alt='{%trans "Jibres roadmap"%}'></div>
      <div class="c s12">
        <h2>{%trans "Roadmap"%}</h2>
        <h3>{%trans "World #1 Financial Platform"%}</h3>
      </div>
    </div>
  </div>
</section>
{%endblock%}


{%block enterprise%}
<section>
 enterprise
</section>
{%endblock%}


{%block history%}
<section>
 history
</section>
{%endblock%}


{%block installation%}
<section>
 installation
</section>
{%endblock%}


{%block quote%}
<section id='quote'>
  <div class="title">
  <h4>{%trans "With Jibres we take less time of our customers and this means modern customer orientation"%}</h4>
  <h5>{%trans "Majid Sadeghi"%}</h5>
  <h5>Sales Supervisor at SuperSaeed</h5>
 </div>
</section>
{%endblock%}


{%block why%}
<section>
 why
</section>
{%endblock%}


{%block support%}
<section>
 support
</section>
{%endblock%}




