{%extends display.dash%}


{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <p>{%trans "Please choose your default units."%}</p>

      <form method="post" autocomplete="off">

        <hr>
        <p>{%trans "This is the currency your products are sold in."%} {%trans "After your first sale, currency is locked in and can't be changed."%}</p>
        <div class="mB10">
          <label for='currency'>{%trans "Store currency"%}</label>
          <select class="select22" name="currency" id="currency">
            <option value="">{%trans "Choose your currency format"%}</option>
              {%for key, value in currencyList%}
                <option value="{{key}}" {%if dataRow.currency == key%} selected  {%elseif dataRow.country == 'IR' and key == 'IRT' and not dataRow.currency%} selected {%endif%}>{{value.name}} - {{value.symbol_native}}</option>
              {%endfor%}
          </select>
        </div>

        <hr>
        <p>{%trans ""%} {%trans ""%}</p>
        <div class="mB10">
          <label for='mass'>{%trans "Mass unit"%}</label>
          <select name="mass_unit" id="mass" class="select22">
            <option value="">{%trans "Please choose one item"%}</option>
            <option value="kilogram" {%if dataRow.mass_unit == 'kilogram' %} selected {%endif%}>{%trans "Kilogram"%}</option>
            <option value="gram" {%if dataRow.mass_unit == 'gram' %} selected {%endif%}>{%trans "Gram"%}</option>
            <option value="pound" {%if dataRow.mass_unit == 'pound' %} selected {%endif%}>{%trans "Pound"%}</option>
            <option value="ounce" {%if dataRow.mass_unit == 'ounce' %} selected {%endif%}>{%trans "Ounce"%}</option>
          </select>
        </div>

        <hr>
        <p>{%trans ""%} {%trans ""%}</p>
        <div class="mB10">
          <label for='length'>{%trans "Length unit"%}</label>
          <select name="length_unit" id="length" class="select22">
            <option value="">{%trans "Please choose one item"%}</option>
            <option value="centimetre" {%if dataRow.length_unit == 'centimetre' %} selected {%endif%}>{%trans "Centimetre"%}</option>
            <option value="millimetre" {%if dataRow.length_unit == 'millimetre' %} selected {%endif%}>{%trans "Millimetre"%}</option>
            <option value="inch" {%if dataRow.length_unit == 'inch' %} selected {%endif%}>{%trans "Inch"%}</option>
            <option value="yard" {%if dataRow.length_unit == 'yard' %} selected {%endif%}>{%trans "Yard"%}</option>
          </select>
        </div>

        <div class="f align-center mB10">
          <div class="c fc-mute">{{stepDesc}}</div>
          <div class="cauto os"><button class="btn success">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}

