{%extends display.dash%}


{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <p>{%trans "This is the currency your products are sold in."%} {%trans "After your first sale, currency is locked in and can't be changed."%}</p>
      <form method="post" autocomplete="off">

        <div class="mB10">
          <label for='currency'>{%trans "Store currency"%}</label>
          <select class="select2" name="currency" id="currency">
            <option value="">{%trans "Choose your currency format"%}</option>
              {%for key, value in currencyList%}
                <option value="{{key}}" {%if dataRow.currency == key%} selected {%endif%}>{{value.symbol}} - {{value.name}}</option>
              {%endfor%}
          </select>
        </div>


        <div class="f align-center mB10">
          <div class="c fc-mute">{{stepDesc}}</div>
          <div class="cauto os"><button class="btn success">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}

