{%extends display.admin%}

{%block pageContent%}
<div class="f">
 <div class="c5 s12">{{block ("stListOfProducts")}}</div>
 <div class="c5 s12">{{block ("stAddProduct")}}</div>
 <div class="c2 s0">{{block ("stProductImport")}}</div>
</div>

<div class="f">
 <div class="c4 s12">{{block ("stProductCount")}}</div>
 <div class="c4 s0">{{block ("stProductWBarode1Count")}}</div>
 <div class="c4 s0">{{block ("stProductWBarode2Count")}}</div>
</div>

<div class="f">
  <div class="c9 s12">
    {{block ("chartProductPriceVariation")}}
  </div>
  <div class="c3 s0">
{{block ("topProducts")}}
  </div>
</div>

{{block ("PriceData")}}

<div class="f mT25">
  <div class="c9 s12">
    {{block ("chartProductGbyUnit")}}
  </div>
  <div class="c3 s0">
   <div class="dcard x3">
    <h3>{%trans "Product GroupBy Unit"%}</h3>
   </div>
  </div>
</div>


<div class="f">
  <div class="c3 s0">
   <div class="dcard x3">
    <h3>{%trans "Product GroupBy Category"%}</h3>
   </div>
  </div>
  <div class="c9 s12">
    {{block ("chartProductGbyCat")}}
  </div>
</div>

{%endblock%}



{%block stListOfProducts%}
<a class="dcard x2" href="{{url.baseFull}}/product/add">
 <div class="statistic">
  <div class="label">{%trans "Add new products"%}</div>
 </div>
</a>
{%endblock%}


{%block stAddProduct%}
<a class="dcard x2" href="{{url.baseFull}}/product">
 <div class="statistic blue lg">
  <div class="label">{%trans "List of products"%}</div>
 </div>
</a>
{%endblock%}


{%block stProductImport%}
<a class="dcard x2" href="{{url.baseFull}}/product/import">
 <div class="statistic gray">
  <div class="label">{%trans "Import products"%}</div>
 </div>
</a>
{%endblock%}





{%block topProducts%}
<div class="dcard x3">
 <h3>{%trans "Price Variation"%}</h3>
</div>
{%endblock%}


{%block chartProductPriceVariation%}
<div class="dcard x3 pA0">
 <div class="chart" data-type2='line' data-vals='{{dashboard_detail.product_price_variation}}'>
 </div>
</div>
{%endblock%}




{%block stProductCount%}
<a class="dcard" href="{{url.baseFull}}/product" title='{%trans "Check list of products"%}'>
 <div class="statistic teal">
  <div class="value counter">{{dashboard_detail.product_count |number_format |fitNumber}}</div>
  <div class="label">{%trans "Product Count"%}</div>
 </div>
</a>
{%endblock%}


{%block stProductWBarode1Count%}
<a class="dcard">
 <div class="statistic gray">
  <div class="value">{{dashboard_detail.product_with_barcode |number_format |fitNumber}}</div>
  <div class="label">{%trans "Prouduct with barcode"%}</div>
 </div>
</a>
{%endblock%}


{%block stProductWBarode2Count%}
<a class="dcard">
 <div class="statistic gray">
  <div class="value">{{dashboard_detail.product_whit_barcode2 |number_format |fitNumber}}</div>
  <div class="label">{%trans "Prouduct with barcode2"%}</div>
 </div>
</a>
{%endblock%}



{%block PriceData%}
<div class="f mT25">
 <div class="c3 s0"></div>
 <div class="c3 s0">{{block ("stBuyPrice")}}</div>
 <div class="c3 s12">{{block ("stPrice")}}</div>
 <div class="c3 s0">{{block ("stDiscount")}}</div>
 <div class="c3 s0">{{block ("stDiscountPercent")}}</div>
</div>

<div class="f">
 <div class="c3 s6">{{block ("stMax")}}</div>
 <div class="c3 s0">{{block ("stProductBuyPriceMax")}}</div>
 <div class="c3 s6">{{block ("stProductPriceMax")}}</div>
 <div class="c3 s0">{{block ("stProductDiscountMax")}}</div>
</div>

<div class="f">
 <div class="c3 s6">{{block ("stAvg")}}</div>
 <div class="c3 s0">{{block ("stProductBuyPriceAvg")}}</div>
 <div class="c3 s6">{{block ("stProductPriceAvg")}}</div>
 <div class="c3 s0">{{block ("stProductDiscountAvg")}}</div>
</div>

<div class="f">
 <div class="c3 s6">{{block ("stMin")}}</div>
 <div class="c3 s0">{{block ("stProductBuyPriceMin")}}</div>
 <div class="c3 s6">{{block ("stProductPriceMin")}}</div>
 <div class="c3 s0">{{block ("stProductDiscountMin")}}</div>
</div>
{%endblock%}



{%block stMin%}
<a class="dcard" href="{{url.baseFull}}/product">
 <div class="statistic gray">
  <div class="label">{%trans "Min"%}</div>
 </div>
</a>
{%endblock%}


{%block stMax%}
<a class="dcard" href="{{url.baseFull}}/product">
 <div class="statistic gray">
  <div class="label">{%trans "Max"%}</div>
 </div>
</a>
{%endblock%}


{%block stAvg%}
<a class="dcard" href="{{url.baseFull}}/product">
 <div class="statistic gray">
  <div class="label">{%trans "Average"%}</div>
 </div>
</a>
{%endblock%}




{%block stBuyPrice%}
<a class="dcard" href="{{url.baseFull}}/product">
 <div class="statistic gray">
  <div class="label">{%trans "Buy Price"%}</div>
 </div>
</a>
{%endblock%}


{%block stPrice%}
<a class="dcard" href="{{url.baseFull}}/product">
 <div class="statistic gray">
  <div class="label">{%trans "Price"%}</div>
 </div>
</a>
{%endblock%}


{%block stDiscount%}
<a class="dcard" href="{{url.baseFull}}/product">
 <div class="statistic gray">
  <div class="label">{%trans "Discount"%}</div>
 </div>
</a>
{%endblock%}



{%block stProductBuyPriceMin%}
<a class="dcard" href="{{url.baseFull}}/product?sort=buyprice&order=asc">
 <div class="statistic gray">
  <div class="value">{{dashboard_detail.product_buyprice_min |number_format |fitNumber}}</div>

 </div>
</a>
{%endblock%}


{%block stProductBuyPriceMax%}
<a class="dcard" href="{{url.baseFull}}/product?sort=buyprice&order=desc">
 <div class="statistic orange">
  <div class="value">{{dashboard_detail.product_buyprice_max |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}


{%block stProductBuyPriceAvg%}
<a class="dcard">
 <div class="statistic green">
  <div class="value">{{dashboard_detail.product_buyprice_avg |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}




{%block stProductPriceMin%}
<a class="dcard" href="{{url.baseFull}}/product?sort=price&order=asc">
 <div class="statistic gray">
  <div class="value">{{dashboard_detail.product_price_min |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}


{%block stProductPriceMax%}
<a class="dcard" href="{{url.baseFull}}/product?sort=price&order=desc">
 <div class="statistic orange">
  <div class="value">{{dashboard_detail.product_price_max |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}


{%block stProductPriceAvg%}
<a class="dcard">
 <div class="statistic green">
  <div class="value">{{dashboard_detail.product_price_avg |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}




{%block stProductDiscountMin%}
<a class="dcard" href="{{url.baseFull}}/product?sort=discount&order=asc">
 <div class="statistic gray">
  <div class="value">{{dashboard_detail.product_discount_min |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}


{%block stProductDiscountMax%}
<a class="dcard" href="{{url.baseFull}}/product?sort=discount&order=desc">
 <div class="statistic orange">
  <div class="value">{{dashboard_detail.product_discount_max |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}


{%block stProductDiscountAvg%}
<a class="dcard">
 <div class="statistic green">
  <div class="value">{{dashboard_detail.product_discount_avg |number_format |fitNumber}}</div>
 </div>
</a>
{%endblock%}




{%block chartProductGbyUnit%}
<div class="dcard x3 pA0">
 <div class="chart" data-type='line' data-vals='{{dashboard_detail.product_price_group_by_unit}}'>
 </div>
</div>
{%endblock%}


{%block chartProductGbyCat%}
<div class="dcard x3 pA0">
 <div class="chart" data-vals='{{dashboard_detail.product_price_group_by_cat}}'>
 </div>
</div>
{%endblock%}





