{%extends display.admin%}
{%use 'content_a/products/layout.html'%}


{%block pageContent%}

<form class="f justify-center" method="post" autocomplete="off">
  <input type="hidden" name="id" value="{{productDataRow.id}}">
 <div class="c s12 pRa10">

  <div class="cbox mB10">
   {{block('Box_title')}}
  </div>

  <div class="cbox mB10">
   {{block('Box_pirce')}}
  </div>

  <div class="cbox mB10">
   {{block('Box_inventory')}}
  </div>

  <div class="cbox mB10">
   {{block('Box_gallery')}}
  </div>

  <div class="cbox mB10">
   {{block('Box_shopping')}}
  </div>

  <div class="cbox mB10">
   {{block('Box_variants')}}
  </div>

  <div class="cbox mB10">
   {{block('Box_seo')}}
  </div>


 </div>
 <div class="c4 x3 s12 mB10">

    <button class="btn block mB10 fs12 success">{%trans "Save"%}</button>

  {{block('Box_availability')}}
  {{block('iPublishdate')}}
  {{block('Box_organization')}}

 </div>

</form>

{% endblock %}





{%block Box_title %}
   {{block('iTitle')}}
   <div class="showDescProduct" data-kerkere-content='hide'>
     {{block('iDesc')}}
   </div>
{%endblock%}





{%block Box_gallery %}
  <h3>{%trans "Images"%}</h3>
  {{block('galleryImporter')}}
{%endblock%}





{%block Box_pirce %}
  <h3>{%trans "Pricing"%}</h3>
  {{block ('iBuyprice') }}
  <div class="f">
   <div class="c s12 pRa5">{{block ('iPrice') }}</div>
   <div class="c s12">{{block ('iDiscount') }}</div>
  </div>
  {{block ('iFinalPrice') }}
  {{block ('iVat') }}
{%endblock%}






{%block Box_inventory %}
  <h3>{%trans "Inventory"%}</h3>
  <div class="f">
   <div class="c s12 pRa5">{{block ('iSKU') }}</div>
  </div>

  <div class="f">
   <div class="c s12 pRa5">{{block ('iBarcode') }}</div>
   <div class="c s12">{{block ('iBarcode2') }}</div>
  </div>
  {{block ('iBarcodePrev') }}
{{block('iInfinite')}}
{{block('iOwersale')}}


{%endblock%}






{%block Box_shopping %}
<h3>{%trans "Shopping"%}</h3>
<div class="f">
 <div class="c s12 pRa5">{{block ('iMinsale') }}</div>
 <div class="c s12 pRa5">{{block ('iMaxsale') }}</div>
 <div class="c s12">{{block ('iSalestep') }}</div>
</div>

{{block('iType')}}
<div data-response='type' data-response-where='product' {%if productDataRow.type != 'product'%} data-response-hide {%endif%}>
  <div class="f">
   <div class="c s12 pRa5">{{block('iWeight')}}</div>
   <div class="c s12">{{block('iWeightunit')}}</div>
  </div>
</div>

{%endblock%}







{%block Box_variants %}
<h3>{%trans "Variants"%}</h3>
<div class="check1">
 <input type="checkbox" name="variants" id="variants" value="1" {% if productDataRow.variants%} checked{%endif%}>
  <label for="variants">{%trans "This product has multiple options, like different sizes or colors"%}</label>
</div>

<div data-response='variants' {%if  productDataRow.variants%} {%else%} data-response-hide {%endif%}>
  {{block('variantHTML')}}
</div>

{%endblock%}






{%block Box_seo %}
   {{block('iSEO')}}
{%endblock%}





{%block Box_availability%}

<section class="pbox">
  <header data-kerkere='.availabilityPanel' data-kerkere-icon='open'>{%trans "Product Availability"%}</header>
  <div class="body availabilityPanel" >

    {{block('iSaleonline')}}
    {{block('iSaletelegram')}}
    {{block('iSaleapp')}}


  </div>
</section>


{%endblock%}




{%block Box_organization%}

<section class="pbox">
  <header data-kerkere='.organizationPanel' data-kerkere-icon='open'>{%trans "Organization"%}</header>
  <div class="body organizationPanel" >

    {{block('iCat')}}
    {{block('iGuarantee')}}
    {{block('iManufacturer')}}
    {{block('iTag')}}
    {{block('iUnit')}}
    {{block('iCodeOnScale')}}
    {{block('iStatus')}}

  </div>
</section>


{%endblock%}
