{%extends display.admin%}
{%use 'content_a/products/layout.html'%}


{%block pageContent%}
<form class="jPage f" method="post" autocomplete="off">
  <div class="c8 x9 s12 pRa10">

    <section class="jbox pad">
      <header class="hide" data-kerkere='.jboxCodes' data-kerkere-icon='open'><h2>{%trans "Title"%}</h2></header>
      {{block('iTitle')}}
      {{block('iDesc')}}
    </section>


    <section class="jbox">
      <header class="hide" data-kerkere='.jboxPrice' data-kerkere-icon='open'><h2>{%trans "Pricing Model"%}</h2></header>
      <div class="pad jboxPrice">
        <div class="f">
          <div class="c s12 pRa5">{{block ('iPrice') }}</div>
          <div class="c s12">{{block ('iCompareAtPrice') }}</div>
        </div>
        <div data-response='type' data-response-where='product' {%if productDataRow.type == 'product' %} {%else%} data-response-hide {%endif%}>
          {{block ('iBuyprice') }}
        </div>
        {{block ('iVat') }}
      </div>
    </section>


    <section class="jbox">
      <header data-kerkere='.jboxCodes' data-kerkere-icon='open'><h2>{%trans "Inventory"%}</h2></header>
      <div class="pad jboxCodes">
        <div class="f">
         <div class="c s12 pRa5">
          {{block ('iSKU') }}
         </div>
         <div data-response='type' data-response-where='product' {%if productDataRow.type == 'product' %} {%else%} data-response-hide {%endif%}>
           <div class="c6 s12">
            {{block('iCodeOnScale')}}
           </div>
        </div>
       </div>

        <div class="f">
         <div class="c s12 pRa5">
          {{block ('iBarcode') }}
          <div class="txtC mB10">
            <svg class="barcodePrev" data-val="#barcode"></svg>
          </div>
         </div>
         <div class="c s12">
          {{block ('iBarcode2') }}
          <div class="txtC mB10">
            <svg class="barcodePrev" data-val="#barcode2"></svg>
          </div>
         </div>
        </div>
      <div data-response='type' data-response-where='product' {%if productDataRow.type == 'product' %} {%else%} data-response-hide {%endif%}>
        {{block('iInfinite')}}
        <div data-response='iinfinite' data-response-effect='slide' {%if productDataRow.infinite%}{%else%} data-response-hide{%endif%}>
          {{block('iOwersale')}}

          <div class="f">
            <div class="c s12 pRa10">
              {{block('iMinstock')}}
            </div>
            <div class="c s12">
              {{block('iMaxstock')}}
            </div>
          </div>
          <p class="fs09 fc-mute">{%trans "Optimize your inventory decisions."%} {%trans "Know which products are the most profitable and which you should re-order when."%} <b>{%trans "Demand forecasting!"%}</b> {%trans "Receive recommendations on your products based on your rate of sales."%}
          </p>
        </div>
      </div>

      </div>
    </section>


{{block('iSEO')}}

{{block('galleryImporter')}}
<div data-response='type' data-response-where='product' {%if productDataRow.type == 'product' %} {%else%} data-response-hide {%endif%}>
  {{block('variantHTML')}}
</div>


  </div>
  <div class="c4 x3 s12 mB10">
    <button class="btn block master mB10">{%trans "Save"%}</button>

{{block('Box_organization')}}

{{block('Box_variant_list')}}


{{block('Box_units')}}

<div data-response='type' data-response-where='product' {%if productDataRow.type == 'product' %} {%else%} data-response-hide {%endif%}>
  {{block('Box_sale')}}
</div>

{{block('Box_deleteProduct')}}

  </div>
</form>
{% endblock %}




{%block Box_units %}
<section class="jbox">
  <div data-response='type' data-response-where='product|file' {%if productDataRow.type == 'service'%} data-response-hide {%endif%}>
  <header data-kerkere='.unitsgPanel' data-kerkere-icon='open'><h2>{%trans "Units"%}</h2></header>
  <div class="pad unitsgPanel">

    <div data-response='type' data-response-where='product' {%if productDataRow.type == 'product'%} {%else%} data-response-hide {%endif%}>
        <div>{%trans "Dimensions"%} <small>{%trans "cm"%}</small></div>
      <div class="f">
        <div class="c">{{block('iLength')}}</div>
        <div class="c mLa5">{{block('iWidth')}}</div>
        <div class="c mLa5">{{block('iHeight')}}</div>
      </div>

      {{block('iWeight')}}
    </div>

    <div data-response='type' data-response-where='file' {%if productDataRow.type == 'file'%} {%else%} data-response-hide {%endif%}>
      {{block('iFileSize')}}
      {{block('iFileAddress')}}
    </div>

  </div>
  </div>
</section>
{%endblock%}


{%block Box_sale %}
<section class="jbox">
  <header data-kerkere='.salePanel' data-kerkere-icon='{%if productDataRow.minsale or productDataRow.maxsale or productDataRow.salestep%}open{%else%}close{%endif%}'><h2>{%trans "Cart Limit"%}</h2></header>
  <div class="pad salePanel {%if productDataRow.minsale or productDataRow.maxsale or productDataRow.salestep%} {%else%}hideIn{%endif%}">
    <div class="f">
      <div class="c s12 pRa5">
        {{block ('iMinsale') }}
      </div>
      <div class="c s12">
        {{block ('iMaxsale') }}
      </div>
    </div>
    {{block ('iSalestep') }}
  </div>
</section>
{%endblock%}


{%block Box_variant_list %}
{%if productDataRow.have_child or productFamily%}
<section class="jbox">
  <header data-kerkere='.variantPanel' data-kerkere-icon='open'><h2>{%trans "Variants"%}</h2></header>
  <div class="pad variantPanel">
    {{block('variantChild')}}
  </div>
</section>
{%endif%}

{%endblock%}




{%block Box_organization%}
<section class="jbox">
  <header data-kerkere='.jboxOrganize' data-kerkere-icon='open'><h2>{%trans "Organization"%}</h2></header>
  <div class="pad jboxOrganize">

    {{block('iType')}}
    {{block('iStatus')}}

    {{block('iCat')}}


    {%if url.child == 'edit'%}
      {{block('iTag')}}
    {%endif%}

    {{block('iManufacturer')}}

    {{block('iUnit')}}
  </div>
</section>

{%endblock%}




{%block Box_deleteProduct%}
{%if url.child == 'edit'%}
  <section class="jbox">
    <header data-kerkere='.deleteproduct' data-kerkere-icon='close'><h2>{%trans "Delete product"%}</h2></header>
    <div class="pad deleteproduct" data-kerkere-content='hide' >

      <div class="btn danger block" data-confirm data-data='{"delete":"product"}'>{%trans "Remove product"%}</div>
    </div>
  </section>
{%endif%}
{%endblock%}
