{%extends display.admin%}
{%use 'content_a/products/layout.html'%}


{%block pageContent%}
<form class="jPage f" method="post" autocomplete="off">
  <div class="c s12 pRa10">

    <section class="jbox pad">
      <header class="hide" data-kerkere='.jboxCodes' data-kerkere-icon='open'><h2>{%trans "Title"%}</h2></header>
      {{block('iTitle')}}
      {{block('iDesc')}}
    </section>


    <section class="jbox">
      <header class="hide" data-kerkere='.jboxPrice' data-kerkere-icon='open'><h2>{%trans "Pricing Model"%}</h2></header>
      <div class="pad jboxPrice">
        <div class="f">
          <div class="c s12 pRa5">{{block ('iPrice') }}</div>
          <div class="c s12">{{block ('iCompareAtPrice') }}</div>
        </div>
        {{block ('iBuyprice') }}
        {{block ('iVat') }}
      </div>
    </section>


    <section class="jbox">
      <header data-kerkere='.jboxCodes' data-kerkere-icon='open'><h2>{%trans "Inventory"%}</h2></header>
      <div class="pad jboxCodes">
        <div class="f">
         <div class="c s12 pRa5">
          {{block ('iSKU') }}
         </div>
         <div class="c s12">
          {{block('iCodeOnScale')}}
         </div>
       </div>

        <div class="f">
         <div class="c s12 pRa5">
          {{block ('iBarcode') }}
          <div class="txtC mB10">
            <svg class="barcodePrev" data-val="#barcode"></svg>
          </div>
         </div>
         <div class="c s12">
          {{block ('iBarcode2') }}
          <div class="txtC mB10">
            <svg class="barcodePrev" data-val="#barcode2"></svg>
          </div>
         </div>
        </div>

    {{block('iInfinite')}}
    {{block('iOwersale')}}

      </div>
    </section>


{{block('iSEO')}}

{{block('galleryImporter')}}

{{block('variantHTML')}}


  </div>
  <div class="c4 x3 s12 mB10">
    <button class="btn block master mB10">{%trans "Save"%}</button>

{{block('Box_organization')}}

{{block('Box_variant_list')}}


{{block('Box_shipping')}}

{{block('Box_deleteProduct')}}

  </div>
</form>
{% endblock %}




{%block Box_shipping %}
<section class="jbox">
  <header data-kerkere='.shippingPanel' data-kerkere-icon='open'><h2>{%trans "Shipping"%}</h2></header>
  <div class="pad shippingPanel">
    {{block ('iMinsale') }}
    {{block ('iMaxsale') }}
    {{block ('iSalestep') }}


    {{block('iType')}}
    <div data-response='type' data-response-where='product' {%if productDataRow.type != 'product'%} data-response-hide {%endif%}>
      <div class="f">
       <div class="c s12 pRa5">{{block('iWeight')}}</div>
       <div class="c s12">{{block('iWeightunit')}}</div>
      </div>
    </div>
  </div>
</section>
{%endblock%}



{%block Box_variant_list %}
{%if productDataRow.have_child or productFamily%}
<section class="jbox">
  <header data-kerkere='.variantPanel' data-kerkere-icon='open'><h2>{%trans "Variants"%}</h2></header>
  <div class="pad variantPanel">
    {{block('variantChild')}}
  </div>
</section>
{%endif%}

{%endblock%}




{%block Box_organization%}
<section class="jbox">
  <header data-kerkere='.jboxOrganize' data-kerkere-icon='open'><h2>{%trans "Organization"%}</h2></header>
  <div class="pad jboxOrganize">

    {{block('iStatus')}}

    {{block('iCat')}}


    {%if url.child == 'edit'%}
      {{block('iTag')}}
    {%endif%}

    {{block('iManufacturer')}}

    {{block('iUnit')}}
  </div>
</section>

{%endblock%}




{%block Box_deleteProduct%}
{%if url.child == 'edit'%}
  <section class="jbox">
    <header data-kerkere='.deleteproduct' data-kerkere-icon='close'><h2>{%trans "Delete product"%}</h2></header>
    <div class="pad deleteproduct" data-kerkere-content='hide' >

      <div class="btn danger block" data-confirm data-data='{"delete":"product"}'>{%trans "Remove product"%}</div>
    </div>
  </section>
{%endif%}
{%endblock%}
