


{%block bAddressAdd%}
  <div class="cbox">
    <h3 class="txtC">
    {%if dataRowAddress%}
        {%trans "Edit address"%} <span class="txtB fc-blue">{{dataRowAddress.title}}</span>
        <a class="badge secondary" href="{{myUrlAddress}}{%if requestGET.id%}?id={{requestGET.id}}{%endif%}">{%trans "Cancel"%}</a>
    {%else%}
      {%trans "Add new address"%}
    {%endif%}
    </h3>

    {{block('iTitle')}}
    {{block('iName')}}
    {{block('iCountry')}}
    {{block('iCity')}}
    {{block('iAddress')}}
    {{block('iPostcode')}}

    <div class="f">
      <div class="c pRa5">{{block('iPhone')}}</div>
      <div class="c">{{block('iMobile')}}</div>
    </div>

    {{block('iCompany')}}

    {%if dataRowAddress%}
      <div class="f">
        <div class="c pRa5">{{block('isave')}}</div>
        <div class="cauto os">{{block('idelete')}}</div>
      </div>
    {%else%}
      {{block('iadd')}}
    {%endif%}

  </div>
{%endblock%}



{%block bAddressList%}
  {%if dataTable%}
    <table class="tbl1 v1 cbox fs12">
      <thead>
        <th colspan="7" class="collapsing">{%trans "Saved address"%}</th>
      </thead>
      <tbody>
      {%for key, value in dataTable%}
        <tr {%if requestGET.id == value.id%} class="negative" {%endif%}>
          <td class="collapsing pRa5">
            {%if value.company%}
              <i class="fs16 mRa5 sf-building"></i>
            {%else%}
              <i class="fs16 mRa5 sf-pin"></i>
            {%endif%}

          </td>
          <td class="txtB pRa10">

          <span >{{value.title}}</span>
          </td>
          <td class="pRa10">{%if value.country%}<i class="flag {{value.country | lower}}"></i>{%endif%}</td>
          <td class="pRa10">
            <span >{{value.location_string}}</span>
            <div>
              <span>{{value.address}}</span>
              {%if value.postcode%}
              <span title='{%trans "Postal code"%}' class="compact">{{value.postcode | fitNumber(false)}}<i class="sf-crosshairs mRL5"></i></span>
              {%endif%}
            </div>

          </td>
          <td class="pRa10">{{value.name}}</td>
          <td class="collapsing pRa10">
            {%if value.phone%}
              <div title='{%trans "Phone"%}'><i class="sf-phone"></i> {{value.phone | fitNumber(false)}}</div>
            {%endif%}
            {%if value.mobile%}
              <div title='{%trans "Mobile"%}' class="mT5"><i class="sf-mobile"></i> {{value.mobile | fitNumber('mobile')}}</div>
            {%endif%}
          </td>
          <td class="pRa10">
            <a class="badge light" href="{{myUrlAddress}}?addressid={{value.id}}{%if requestGET.id%}&id={{requestGET.id}}{%endif%}"><i class="sf-pencil-square-o fs16"></i> {%trans "Edit"%}</a>
          </td>
        </tr>
      {%endfor%}
      </tbody>
    </table>
  {%endif%}
{%endblock%}



{%block iFirstname%}
<label for="firstname">{%trans "Firstname"%}</label>
<div class="input">
  <input type="text" name="firstname" id="firstname" value="{%if dataRowAddress.firstname%}{{dataRowAddress.firstname}}{%elseif dataRowMember%}{{dataRowMember.firstname}}{%else%}{{user.firstname}}{%endif%}" maxlength='40' minlength="1">
</div>
{%endblock%}



{%block iLastname%}
<label for="lastname">{%trans "Lastname"%}</label>
<div class="input">
  <input type="text" name="lastname" id="lastname" value="{%if dataRowAddress.lastname%}{{dataRowAddress.lastname}}{%elseif dataRowMember%}{{dataRowMember.lastname}}{%elseif not dataRowAddress%}{{user.lastname}}{%endif%}" maxlength='40' minlength="1" >
</div>
{%endblock%}


{%block iName%}
<label for="name">{%trans "Name"%}</label>
<div class="input">
  <input type="text" name="name" id="name" value="{%if dataRowAddress.name%}{{dataRowAddress.name}}{%elseif dataRowMember%}{{dataRowMember.displayname}}{%elseif not dataRowAddress%}{{user.displayname}}{%endif%}" maxlength='40' minlength="1" placeholder='{%trans "Name of person in this address"%}'>
</div>
{%endblock%}



{%block iCountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country" value="{%if dataRowAddress.country%}{{dataRowAddress.country}}{%elseif lang.current == 'fa'%}IR{%endif%}">
    <i class="dropdown icon"></i>
    <div class="default text">{%trans "Choose your country"%}</div>
    <div class="menu">
{%for key, value in countryList%}
      <div class="item" data-value="{{key}}">
        <i class="{{value.iso2 | lower }} flag"></i>{%set myCountry = value.name%} {%trans myCountry%}<small class="description">{{value.name | capitalize}}</small>
      </div>
{%endfor%}
    </div>
  </div>
</div>
{%endblock%}



{%block iCity%}
<div data-response='country' data-response-where='IR' {%if dataRowAddress.country == 'IR' or (not dataRowAddress and lang.current == 'fa') %}{%else%}data-response-hide{%endif%}>

<label for='city'>{%trans "City"%}</label>
<select name="city" class="ui dropdown select search mB10" id="city">
  <option value="" readonly>{%trans "Select city"%}</option>
  {%for key, value in cityList%}
    <option value="{{key}}" {% if dataRowAddress.city == key %} selected {%endif%}>{{value}}</option>
  {%endfor%}
</select>
</div>
{%endblock%}




{%block iPostcode%}
<label for="postcode">{%trans "Post code"%}</label>
<div class="input ltr">
  <input type="text" name="postcode" id="postcode" value="{{dataRowAddress.postcode}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}



{%block iTitle%}
<label for="title">{%trans "Title of address"%}</label>
<div class="input">
  <input type="text" name="title" id="title" value="{{dataRowAddress.title}}" maxlength='40' minlength="1">
</div>
{%endblock%}



{%block iPhone%}
<label for="iphone">{%trans "Phone"%}</label>
<div class="input">
  <input type="tel" name="phone" id="iphone" value="{{dataRowAddress.phone}}" pattern=".{1,20}">
</div>
{%endblock%}


{%block iFax%}
<label for="ifax">{%trans "Fax"%}</label>
<div class="input">
  <input type="tel" name="fax" id="ifax" value="{{dataRowAddress.fax}}" pattern=".{1,20}">
</div>
{%endblock%}


{%block iMobile%}
<label for="iMobile">{%trans "Mobile"%}</label>
<div class="input">
  <input type="tel" name="mobile" id="iMobile" value="{%if dataRowAddress.mobile%}{{dataRowAddress.mobile}}{%elseif dataRowMember%}{{dataRowMember.mobile}}{%elseif not dataRowAddress%}{{user.mobile}}{%endif%}" pattern=".{1,20}">
</div>
{%endblock%}




{%block iAddress%}
<label for="address">{%trans "Address"%} <small class="fc-red">{%trans "Require"%}</small></label>
<textarea class="txt mB10 pB25" name="address" required maxlength='300' rows="2">{{dataRowAddress.address}}</textarea>
{%endblock%}


{%block iCompany%}
<div class="switch1 mB20 mT20">
 <input type="checkbox" name="company" id="company" {%if dataRowAddress.company  %}checked{%endif%}>
 <label for="company" data-on='{%trans "Yes"%}' data-off='{%trans "No"%}'></label>
 <label for="company" >{%trans "Is this a company's address?"%}</label>
</div>
{%endblock%}



{%block iCompanyname%}
<label for="companyname">{%trans "Company name"%}</label>
<div class="input">
  <input type="text" name="companyname" id="companyname" value="{{dataRowAddress.companyname}}" maxlength='40' minlength="1" >
</div>
{%endblock%}




{%block iStatus%}
<div class="mT10">
  <label for="status">{%trans "Status"%}</label>
  <select name="status" class="ui dropdown" id="status">
    <option value="" readonly>{%trans "Select one item"%} *</option>
    <option value="enable" {% if dataRowAddress.status == 'enable' %} selected {%endif%}>{%trans "Enable"%}</option>
    <option value="disable" {% if dataRowAddress.status == 'disable' %} selected {%endif%}>{%trans "Disable"%}</option>
    <option value="delete" {% if dataRowAddress.status == 'delete' %} selected {%endif%}>{%trans "Removed"%}</option>
  </select>
</div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20" cvalue="add">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20" name="btn" value="add">{%trans "Save"%}</button>
{%endblock%}

{%block idelete%}
<input type="hidden" name="addressid" value="{{dataRowAddress.id}}">
<button class="btn danger outline block mT20" name="btnremove" value="delete">{%trans "Delete"%}</button>
{%endblock%}

