{%extends display.admin%}



{%block pageContent%}
<div class="f justify-center">
  <div class="c6 m12 s12">
    <div class="cbox">
      <form method="post" autocomplete="off">
        <h4>{%trans "Splash setting"%}</h4>

        <div class="radio1">
          <input type="radio" name="theme" value="blue" {% if splashSaved.theme == 'blue' %} checked {%endif%} id="sRdc1">
          <label for="sRdc1">Blue (Default)</label>
        </div>

        <div class="radio1 red">
          <input type="radio" name="theme" value="red" {% if splashSaved.theme == 'red' %} checked {%endif%} id="sRdc2">
          <label for="sRdc2">Red</label>
        </div>

        <div class="radio1 yellow">
          <input type="radio" name="theme" value="yellow" {% if splashSaved.theme == 'yellow' %} checked {%endif%} id="sRdc3">
          <label for="sRdc3">Yellow</label>
        </div>

        <div class="radio1 green">
          <input type="radio" name="theme" value="green" {% if splashSaved.theme == 'green' %} checked {%endif%} id="sRdc4">
          <label for="sRdc4">Green</label>
        </div>

        <div class="radio1 black">
          <input type="radio" name="theme" value="balck" {% if splashSaved.theme == 'balck' %} checked {%endif%} id="sRdc5">
          <label for="sRdc5">Black</label>
        </div>

        <div class="txtRa">
          <button class="btn success">{%trans "Save"%}</button>
        </div>

      </form>
    </div>
  </div>
</div>

{%endblock%}



