{%extends "content_a/customer/layout.html"%}

{%use 'content_account/address.html'%}




{%block pageContent%}
{{block ("pageSteps")}}
{{block ("pageStepsProfile")}}


<div class="f">
 <div class="c3 s12 pRa10">
    {{block("psidebar")}}
 </div>
 <div class="c9 s12">

 		{{block('iformData')}}

 </div>
</div>


{%endblock%}




{%block iformData%}


{{block('bAddressList')}}


<form method="post" enctype="multipart/form-data" autocomplete="off">
  <div class="f justify-center">
    <div class="x5 c6 m8 s10">
{{block('bAddressAdd')}}
    </div>
  </div>
</form>
{%endblock%}
