{%extends display.admin%}




{%block pageContent%}

<form method="post"  autocomplete="off">
  <div class="f justify-center">
    <div class="c6 m8 x5 s12">
      <div class="cbox">
        {{block("iScale")}}
        <div class="f align-center">
          <div class="c"></div>
          <div class="cauto">
            <button class="btn success">{%trans "Save"%}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{%endblock%}




{%block iScale%}
<div class="switch1">
 <input type="checkbox" name="scale" id="scale" {% if dataRow.scale == 'yes'%} checked{%endif%}>
 <label for="scale"></label>
 <label for="scale">{%trans "Scale"%} <small>{%trans "Use scale reader in your store?"%}</small></label>
</div>

{%endblock%}
