{%extends display.admin%}


{%block pageContent%}

<h2 class="txtC">{{store.name}}</h2>

<div class="txtC"><svg class="barcodePrev" data-val="#barcode"></svg></div>
<div class="txtC hide"> تاریخ {{sell_detail.factor.date}}</div>

<table class="tbl">
 <thead>
  <th>{%trans "Row"%}</th>
  <th>{%trans "Product Name"%}</th>
  <th>{%trans "Qty"%}</th>
  <th>{%trans "Price"%}</th>
  <th>{%trans "Discount"%}</th>
  <th>{%trans "Sum"%}</th>
 </thead>
{%for key, datarow in sell_detail.factor_detail%}
 <tr>
  <td>{{ (key + 1) | fitNumber}}</td>
  <td>{{datarow.title}}</td>
  <td>{{datarow.factordetails_count  | fitNumber}}</td>
  <td>{{datarow.factordetails_price | number_format | fitNumber}}</td>
  <td>{{datarow.factordetails_discount | number_format | fitNumber}}</td>
  <td>{{datarow.factordetails_sum | number_format | fitNumber}}</td>
 </tr>
{%endfor%}
 <tfoot>
  <th></th>
  <th></th>
  <th>{{sell_detail.factor.detailcount | number_format | fitNumber}}</th>
  <th></th>
  <th></th>
  <th>{{sell_detail.factor.sum | number_format | fitNumber}}</th>
 </tfoot>
</table>

<h1 class="txtC">{%trans "Final Price"%} {{sell_detail.factor.sum | number_format |fitNumber}}</h1>



{%endblock%}


{%block foot_js%}
{{parent()}}

<script type="text/javascript">
  JsBarcode($('.barcodePrev')[0], "{{sell_detail.factor.id}}", {height: 50});
// console.log(44);
//   route('*', function()
//   {

//   }).once(function()
//   {
//     simplePrint();
//   });
</script>
{%endblock%}









{%block all_field_we_have_hidden%}


array (size=2)
  'factor' =>
    array (size=19)
      'id'             => string '3' (length=1)
      'store_id'       => string '3' (length=1)
      'customer'       => null
      'seller'         => string '3' (length=1)
      'date'           => string '2017-11-21 16:03:35' (length=19)
      'shamsidate'     => string '13960830' (length=8)
      'title'          => null
      'pre'            => null
      'transport'      => null
      'pay'            => null
      'detailsum'      => string '21450' (length=5)
      'detaildiscount' => string '450' (length=3)
      'detailtotalsum' => string '41000' (length=5)
      'detailcount'    => string '9' (length=1)
      'vat'            => null
      'discount'       => null
      'sum'            => string '41000' (length=5)
      'status'         => string 'enable' (length=6)
      'desc'           => null

  'factor_detail' =>
    array (size=3)
      0 =>
        array (size=35)
          'id'                     => string 'BN' (length=2)
          'store_id'               => string '3' (length=1)
          'creator'                => string '3' (length=1)
          'title'                  => string 'ارده حلوا قدیما' (length=28)
          'name'                   => null
          'cat'                    => string 'محصولات غذایی' (length=25)
          'slug'                   => string 'ارده-حلوا-قدیما' (length=28)
          'company'                => null
          'shortcode'              => null
          'unit'                   => string 'قوطی' (length=8)
          'barcode'                => string '6260878400553' (length=13)
          'barcode2'               => string '0003148565' (length=10)
          'code'                   => string '1410' (length=4)
          'buyprice'               => null
          'price'                  => string '13500' (length=5)
          'discount'               => null
          'discountpercent'        => null
          'vat'                    => string '0' (length=1)
          'initialbalance'         => null
          'minstock'               => string '6' (length=1)
          'maxstock'               => null
          'status'                 => string 'available' (length=9)
          'sold'                   => null
          'stock'                  => null
          'thumb'                  => null
          'service'                => string '0' (length=1)
          'checkstock'             => null
          'sellonline'             => string '0' (length=1)
          'sellstore'              => string '0' (length=1)
          'carton'                 => null
          'desc'                   => null
          'factordetails_price'    => string '13500' (length=5)
          'factordetails_count'    => string '1' (length=1)
          'factordetails_discount' => string '0' (length=1)
          'factordetails_sum'      => string '13500' (length=5)
      1 =>
        array (size=35)
          'id'                     => string 'BP' (length=2)
          'store_id'               => string '3' (length=1)
          'creator'                => string '3' (length=1)
          'title'                  => string 'مسواک بچه دکتر ایست' (length=35)
          'name'                   => null
          'cat'                    => string 'لوازم شوینده و بهداشتی' (length=41)
          'slug'                   => string 'مسواک-بچه-دکتر-ایست' (length=35)
          'company'                => null
          'shortcode'              => null
          'unit'                   => string 'عدد' (length=6)
          'barcode'                => string '6262554100207' (length=13)
          'barcode2'               => string '0003075554' (length=10)
          'code'                   => string '1411' (length=4)
          'buyprice'               => null
          'price'                  => string '2500' (length=4)
          'discount'               => null
          'discountpercent'        => null
          'vat'                    => string '0' (length=1)
          'initialbalance'         => null
          'minstock'               => string '6' (length=1)
          'maxstock'               => null
          'status'                 => string 'available' (length=9)
          'sold'                   => null
          'stock'                  => null
          'thumb'                  => null
          'service'                => string '0' (length=1)
          'checkstock'             => null
          'sellonline'             => string '0' (length=1)
          'sellstore'              => string '0' (length=1)
          'carton'                 => null
          'desc'                   => null
          'factordetails_price'    => string '2500' (length=4)
          'factordetails_count'    => string '5' (length=1)
          'factordetails_discount' => string '0' (length=1)
          'factordetails_sum'      => string '12500' (length=5)
      2 =>
        array (size=35)
          'id'                     => string 'BQ' (length=2)
          'store_id'               => string '3' (length=1)
          'creator'                => string '3' (length=1)
          'title'                  => string 'سرکه سفید دلوسه' (length=28)
          'name'                   => null
          'cat'                    => string 'محصولات غذایی' (length=25)
          'slug'                   => string 'سرکه-سفید-دلوسه' (length=28)
          'company'                => null
          'shortcode'              => null
          'unit'                   => string 'بطری' (length=8)
          'barcode'                => string '6262164400421' (length=13)
          'barcode2'               => string '0006427994' (length=10)
          'code'                   => string '1412' (length=4)
          'buyprice'               => null
          'price'                  => string '5450' (length=4)
          'discount'               => string '450' (length=3)
          'discountpercent'        => string '8.257' (length=5)
          'vat'                    => string '0' (length=1)
          'initialbalance'         => null
          'minstock'               => string '1' (length=1)
          'maxstock'               => null
          'status'                 => string 'available' (length=9)
          'sold'                   => null
          'stock'                  => null
          'thumb'                  => null
          'service'                => string '0' (length=1)
          'checkstock'             => null
          'sellonline'             => string '0' (length=1)
          'sellstore'              => string '0' (length=1)
          'carton'                 => null
          'desc'                   => null
          'factordetails_price'    => string '5450' (length=4)
          'factordetails_count'    => string '3' (length=1)
          'factordetails_discount' => string '450' (length=3)
          'factordetails_sum'      => string '15000' (length=5)

{%endblock%}