{%extends "content_a/product/layout.html"%}


{%block data%}
<form method="post" autocomplete="off">

<div class="cbox">

 <h3>{%trans "Warehouse"%}</h3>

 <div class="f">
  <div class="c pRa5">{{block ('iManufacturer') }}</div>
  <div class="c">{{block ('iCarton') }}</div>
 </div>
 <div class="f">
  <div class="c s12 pRa5">{{block ('iInitialBalance') }}</div>
  <div class="c s6 pRa5">{{block ('iMinstock') }}</div>
  <div class="c s6">{{block ('iMaxstock') }}</div>
 </div>

{{block ('iStatus') }}


{{block("iSaveAll")}}
</div>
</form>
{%endblock%}
