{%extends display.cmsMain%}



{%block pageContent%}
 {{block('pageSteps')}}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}
  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}{{moduleType}}' data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th data-sort="{{sortLink.author.order}}"><a href="{{sortLink.author.link}}">{%trans "Author"%}</a></th>
        <th class="s0">{%trans "Detail"%}</th>
        <th data-sort="{{sortLink.content.order}}"><a href="{{sortLink.content.link}}">{%trans "Comment"%}</a></th>
        <th class="s0" data-sort="{{sortLink.status.order}}"><a href="{{sortLink.status.link}}">{%trans "Status"%}</a></th>
        <th class="m0 s0" data-sort="{{sortLink.datecreated.order}}"><a href="{{sortLink.datecreated.link}}">{%trans "Date"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
{%set statusClass%}
{%if value.status == 'spam'%}negative
{%elseif value.status == 'deleted'%}negative
{%elseif value.status == 'awaiting'%}active
{%elseif value.status == 'unapproved'%}warning
{%endif%}
{%endset%}
      <tr class="{{statusClass}} {{value.status}}">
        <td class="collapsing sauto">
          {%if value.avatar%}
          <img src="{{value.avatar}}" class="avatar">
          {%endif%}
{%if value.user_id%}
          <a href="{{url.kingdom}}/crm/member/glance?id={{value.user_id}}">
            <span class="sf-user fc-mute"></span>
            {%if value.author%}
            {{value.author}}
            {%else%}
            <small class='fc-mute'>{%trans "Without name"%}</small>
            {%endif%}
          </a>
{%else%}
            <span class="sf-chain-broken fc-mute"></span>
            {%if value.author%}
            {{value.author}}
            {%else%}
            <small class='fc-mute'>{%trans "Without name"%}</small>
            {%endif%}
{%endif%}
        </td>
        <td class="collapsing s0">
          {%if value.mobile%}<a class="sf-phone-square" href='tel:{{value.mobile}}' title='{{value.mobile}}'></a>
            <a class="sf-mobile" href='{{url.here}}/sms/send?mobile={{value.mobile}}' title='{{value.mobile}}'></a>{%endif%}
          {%if value.url%}<a class="sf-globe" href='{{value.url}}' title='{{value.url}}'></a>{%endif%}
          {%if value.email%}<a class="sf-envelope" href='mailto:{{value.email}}' title='{{value.email}}'></a>{%endif%}
          {%if value.visitor_id%}<a class="sf-info-circle" href='{{url.here}}/visitor?id={{value.visitor_id}}' title='{%trans "Visitor detail"%}'></a>{%endif%}
        </td>
        <td>
          {%if value.post_title%}
          <div class="badge light"><a href="{{url.kingdom}}/n/{{value.post_id}}">{{value.post_title}}</a></div>
          {%endif%}
          <p>{{value.content}}</p>
          <div class="rowAction floatRa">
            <a class="mRa5 fc-green" href="{{url.pwd}}" data-ajaxify data-method='post' data-data='{"id":"{{value.id}}", "status":"approved"}'>{%trans "Approve"%}</a>
            <a class="mRa5 fc-mute" href="{{url.this}}/edit?id={{value.id}}">{%trans "Edit"%}</a>
            <a class="mRa5 fc-black" href="{{url.pwd}}" data-ajaxify data-method='post' data-data='{"id":"{{value.id}}", "status":"unapproved"}'>{%trans "Unapprove"%}</a>
            <a class="mRa5 fc-red" href="{{url.pwd}}" data-ajaxify data-method='post' data-data='{"id":"{{value.id}}", "status":"deleted"}'>{%trans "Trash"%}</a>
            <a class="mRa5 fc-red" href="{{url.pwd}}" data-ajaxify data-method='post' data-data='{"id":"{{value.id}}", "status":"spam"}'>{%trans "Spam"%}</a>
          </div>
        </td>
        <td class="collapsing s0" title='{{value.datemodified}}'>{%set myStatus = value.status | capitalize%}{%trans myStatus%}</td>
        <td class="collapsing s0 m0" title='{%trans "Created on"%} {{value.datecreated}}'>{{value.datecreated | dt("human", 'year')}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/{{url.module}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/{{url.module}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "No record exist!"%}</p>
{%endblock%}





{%block pageSteps%}
  <div class="f">

    <div class="c">
    <a class="dcard {%if not requestGET.status %}active{%endif%}" href='{{url.this}}{%if requestGET.type%}?type={{requestGET.type}}{%endif%}' data-shortkey="49ctrlshift" >
     <div class="statistic">
      <div class="value">{{commentCounter.all | fitNumber}}</div>
      <div class="label"><i class="sf-list"></i> {%trans "All"%} </div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'awaiting' %}active{%endif%}" href='{{url.this}}?status=awaiting{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="49ctrlshift" >
     <div class="statistic blue">
      <div class="value">{{commentCounter.awaiting | fitNumber}}</div>
      <div class="label"><i class="sf-load-a"></i> {%trans "Awaiting"%} </div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'approved' %}active{%endif%}" href='{{url.this}}?status=approved{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="50ctrlshift" >
     <div class="statistic green">
      <div class="value">{{commentCounter.approved | fitNumber}}</div>
      <div class="label"><i class="sf-check"></i> {%trans "Approve"%}</div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'unapproved' %}active{%endif%}" href='{{url.this}}?status=unapproved{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" >
     <div class="statistic">
      <div class="value">{{commentCounter.unapproved | fitNumber}}</div>
      <div class="label"><i class="sf-times"></i> {%trans "Unapprove"%}</div>
     </div>
    </a>
   </div>

    <div class="c">
    <a class="dcard {%if requestGET.status == 'deleted' %}active{%endif%}" href='{{url.this}}?status=deleted{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" >
     <div class="statistic">
      <div class="value">{{commentCounter.deleted | fitNumber}}</div>
      <div class="label"><i class="sf-trash"></i> {%trans "Deleted"%}</div>
     </div>
    </a>
   </div>

    <div class="c">
    <a class="dcard {%if requestGET.status == 'spam' %}active{%endif%}" href='{{url.this}}?status=spam{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" >
     <div class="statistic red">
      <div class="value">{{commentCounter.spam | fitNumber}}</div>
      <div class="label"><i class="sf-bug"></i> {%trans "Spam"%}</div>
     </div>
    </a>
   </div>



  </div>
{%endblock%}