{%extends display.dash%}


{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <p>{%trans "Based on your country some of our options will be changed."%}</p>
      <form method="post" autocomplete="off">

        <div class="switch1 fs12">
         <input type="checkbox" name="payment_online" id="payment_online" {% if dataRow.payment_online%} checked{%endif%}>
         <label for="payment_online"></label>
         <label for="payment_online">{%trans "Online payment"%}</label>
        </div>

        <div class="switch1 fs12">
         <input type="checkbox" name="payment_cheque" id="payment_cheque" {% if dataRow.payment_cheque%} checked{%endif%}>
         <label for="payment_cheque"></label>
         <label for="payment_cheque">{%trans "Cheque payment"%}</label>
        </div>

        <div class="switch1 fs12">
         <input type="checkbox" name="payment_bank" id="payment_bank" {% if dataRow.payment_bank%} checked{%endif%}>
         <label for="payment_bank"></label>
         <label for="payment_bank">{%trans "Bank receipt payment"%}</label>
        </div>


        <div class="switch1 fs12">
         <input type="checkbox" name="payment_on_deliver" id="payment_on_deliver" {% if dataRow.payment_on_deliver%} checked{%endif%}>
         <label for="payment_on_deliver"></label>
         <label for="payment_on_deliver">{%trans "Pay on deliver"%}</label>
        </div>



        <div class="f align-center mB10">
          <div class="c fc-mute">{{stepDesc}}</div>
          <div class="cauto os"><button class="btn success">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}

