{%extends display.mvc%}


{%block body%}
{%include 'content_subdomain/theme_start/header.html'%}
 <div class="wrapper" data-xhr='wrapper'>
{%block content%}
  <div class="page-title">
   <div class="cn">
    <div id="typed-strings" class="hide">
      <h1>{{page.title}}</h1>
    </div>
    <div class="h1"><span class="typed"></span></div>
    <h2>{{page.desc}}</h2>
   </div>
  </div>

{%block pageData%}
  <div class="pc">
   <div class="cn">
{%block page%}{%endblock%}
   </div>
  </div>
{%block pageExtra%}{%endblock%}
{%endblock%}
{%endblock%}
 </div>
{%include 'content_subdomain/theme_start/footer.html'%}
{%endblock%}


{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}{{'/css/theme_start.css' | filemtime(true)}}"/>
{%endblock%}