{%extends display.jibresControlLayout%}


{%block pageContent%}

    <div id="get_started_card">
      <div class="body">
        <div class="pad">
          <h1>{%trans "Your store is ready to go!"%}</h1>
          <p>{%trans "We are do everything you need and now you can fly with Jibres power."%}</p>

          <a data-direct class="btn master block" href="{{myNewStoreSubdomain}}">{%trans "Bring me to store"%}</a>

        </div>
        <img class="grandOpening" src="{{url.static}}/img/store/grand-opening.jpg" alt='{%trans "Grand opening your store on Jibres"%}'>
      </div>

      <div class="f align-center fs12">
        <div class="cauto os"><a data-direct href="{{url.here}}" class="btn">{%trans "My stores"%}</a></div>
      </div>
    </div>


{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}

