{%extends display.admin%}


{%block pageContent%}
<div class="f">
  <div class="x4 c5 s12 pRa10">
    {{block('addNewUnit')}}
  </div>
  <div class="c s12 ">
    {{block('htmlTable')}}
  </div>
</div>
{%endblock%}


{%block addNewUnit%}
<div class="cbox">

	{%if editMode%}
		<h3>{%trans "Edit unit"%} <span class="fc-green txtB">{{requestGET.edit}}</span></h3>
	{%else%}
		<h3>{%trans "Add new unit"%}</h3>
	{%endif%}

  <form method="post" autocomplete="off">
    {{block('unitName')}}
    {{block('iNumberType')}}


    {%if editMode%}

      {%if dataRow.count%}
        <p class="msg mT10 {%if dataRow.count > 10%}danger{%else%}warn2{%endif%}">{%trans "By update name of this unit all product will be update to new value."%} <a class="badge" href='{{url.this}}?cat={{requestGET.edit}}' title='{%trans "Click to check list of this product"%}'>{{dataRow.count | fitNumber}} {%trans "Product"%}</a></p>
      {%else%}
        <p class="msg mT10 info2">{%trans "No product in this unit"%}
          <span class="txtB">{%trans "You can delete it now!"%}</span>
          <a href="{{url.pwd}}" data-ajaxify data-data='{"removeunit" : "{{dataRow.title}}", "type" : "remove"}' data-method='post' class="badge danger mLa5">{%trans "Remove"%}</a>
        </p>
      {%endif%}

       <div class="f mT20">
          <div class="c pRa10">
            <button class="btn outline warn block">{%trans "Edit"%}</button>
          </div>
          <div class="cauto">
            <a class="btn primary block" href="{{url.that}}">{%trans "Cancel"%}</a>
          </div>
       </div>
    {%else%}
       <button class="btn primary block mT20">{%trans "Add"%}</button>
    {%endif%}
  </form>
</div>
{%endblock%}




{% block unitDefault %}
  <div class="switch1 mT10">
   <input type="checkbox" name="unitdefault" id="unitdefault" {%if requestGET.edit.default%} checked {%endif%}>
   <label for="unitdefault"></label>
   <label for="unitdefault">{%trans "Is default unit?"%}</label>
  </div>
{%endblock%}



{%block iNumberType%}
  <div class="msg">

  <small>{%trans "Sometimes employees sell some product with decimal unit and if you are force this unit to give integer value, we are not allow them to enter invalid value"%}</small>
  <div class="switch1 mT10">
   <input type="checkbox" name="int" id="int" {%if dataRow.int%} checked {%endif%}>
   <label for="int"></label>
   <label for="int">{%trans "Only accept integer value?"%}</label>
  </div>
  </div>
{%endblock%}


{%block iMaxSale%}
<div class="mT10">
  <label for="imaxsale">{%trans "Max sale from this unit"%}</label>
  <div class="input">
     <input type="number" name="maxsale" id="imaxsale" placeholder='{%trans "For example 100"%}' value="{{requestGET.edit}}" autofocus maxlength='50' minlength="1"  >
  </div>
</div>
{%endblock%}



{%block unitName%}
<label for="iunitname">{%trans "Title"%}</label>
<div class="input">
	<input type="hidden" name="oldunit" value="{{requestGET.edit}}">
  <input type="text" name="unit" id="iunitname" placeholder='{%trans "Unit name"%}' value="{{requestGET.edit}}" autofocus maxlength='50' minlength="1" required>
</div>
{%endblock%}



{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr class="fs09">
        <th>{%trans "Unit"%}</th>
        <th class="txtC">{%trans "Force integer value"%}</th>
        <th class="txtC">{%trans "Count product"%}</th>
        <th class="txtC">{%trans "Action"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr class="{%if value.status == 'disable'%} negative{%else%} positive{%endif%}" {%if value.default%} title='{%trans "Is default"%}' {%endif%}>
        <td>
          {%if value.default%}<i class="sf-check fc-green"></i>{%endif%}
          {%if not value.title and value.title != '0' %}<small class="fc-mute">{%trans "Without Unit"%}</small>{%else%}{{value.title}}{%endif%}
        </td>
        <td class="txtC">{%if value.int%}<i class="sf-check fc-green"></i>{%else%}-{%endif%}</td>
        <td class="txtC">
          <a href="{{url.here}}/product?unit={{value.title}}">{{value.count | fitNumber}}</a>
        </td>
        <td class="collapsing">
          <a href="{{url.this}}/units?edit={{value.title}}" class="badge primary">{%trans "Edit"%}</a>
          <a href="{{url.here}}/product?unit={{value.title}}" class="badge success">{%trans "Check Products"%}</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{%endblock%}



