{%extends display.crmMain%}


{%block pageContent%}


<div class="cbox">
    <form method="post">
      {{block('iTemplate')}}
      {{block('iGroup')}}
      <div class="f">
        <div class="c3 s12">
            <textarea class="txt" name="usersmobile" rows="12" placeholder='{%trans "Users mobile"%} {%trans "Every mobile in one line"%}'>{{usermobiles}}</textarea>
        </div>
        <div class="c s12">
            <textarea class="txt mLa5" name="msg" rows="12" placeholder='{%trans "What do you want to send to this users?"%}'>{{templateLoad}}</textarea>
        </div>
      </div>
      <div class="f">
        <div class="c"></div>
        <div class="cauto">
          <button type="submit" class=" xl w300 btn danger mTB10" >{%trans "Send"%}</button>
        </div>
      </div>
    </form>
</div>


{%endblock%}



{%block iTemplate%}

<div class="mT10 mB10">

  <label for="template">{%trans "Template"%}</label>
  <div class="f">
    <div class="c">
      <select name="template" class="ui dropdown search" id="template">
        <option value="" readonly>{%trans "No template"%}</option>
        {%for key, value in templateList%}
          <option value="{{key}}" {%if requestGET.template == key%} selected {%endif%} >{{key}} | {{value}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="cauto">
      <button name="changeTemplate" value="1" class="btn primary addon">{%trans "Show"%}</button>
    </div>

  </div>
</div>

{%endblock%}


{%block iGroup%}

<div class="mT10 mB10">
  <label for="group">{%trans "Group"%}</label>
    <select name="group" class="ui dropdown search" id="group">
      <option value="" readonly>{%trans "No group"%}</option>
      {%for key, value in groupList%}
        <option value="{{key}}" {%if requestGET.group == key%} selected {%endif%} >{{key}} | {{value}}</option>
      {%endfor%}
    </select>
</div>

{%endblock%}
