{%extends 'content_pardakhtyar/shop/layout.html'%}



{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.here}}/shop'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in shops"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th>Action</th>
        <th>Tracking Number</th>

        <th>Iranian Detail</th>
        <th>Contact Detail</th>
        <th>Foreign Detail</th>
        <th>Company Detail</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td>

          <div><a href="{{url.here}}/shop/dashboard?id={{value.id}}" class="btn success">{%trans "Dashboard"%}</a></div>

          <div><a href="{{url.here}}/shop/edit?id={{value.id}}" class="badge">Edit {{value.id}}</a></div>

          <div><a href="{{url.here}}/check?id={{value.id}}&table=shop&requestType=13" class="badge success">Add</a></div>
          <div><a href="{{url.here}}/check?id={{value.id}}&table=shop&fetch=1&trackingNumber={{value.trackingNumber}}" class="badge primary">Check</a></div>

          <div class="btn" data-confirm data-data='{"id" : "{{value.id}}", "table" : "shop", "requestType" : 13}'>Add request</div>
          <div class="btn" data-confirm data-data='{"id" : "{{value.id}}", "table" : "shop", "fetch" : 1, "trackingNumber" : "{{value.trackingNumber}}"}'>Fetch</div>
          <div><a href="{{url.here}}/shop/shop?id={{value.id}}" class="badge info">Shop</a></div>


        </td>
        <td>
          <div><small>{%trans "trackingNumber"%}</small> <b>{{value.trackingNumber}}</b></div>
          {%if false%}
            <div><small>{%trans "trackingNumberPsp"%}</small> <b>{{value.trackingNumberPsp}}</b></div>
            <div><small>{%trans "requestType"%}</small> <b>{{value.requestType}}</b></div>
          {%endif%}
          <div><small>{%trans "status"%}</small> <b>{{value.status}}</b></div>
          <div><small>{%trans "merchantType"%}</small> <b>{{value.merchantType_title}}</b></div>
          <div><small>{%trans "residencyType"%}</small> <b>{{value.residencyType_title}}</b></div>
          <div><small>{%trans "vitalStatus"%}</small> <b>{{value.vitalStatus_title}}</b></div>
        </td>

        <td>
          <div><small>{%trans "firstNameFa"%}</small> <b>{{value.firstNameFa}}</b></div>
          <div><small>{%trans "lastNameFa"%}</small> <b>{{value.lastNameFa}}</b></div>
          <div><small>{%trans "fatherNameFa"%}</small> <b>{{value.fatherNameFa}}</b></div>
          <div><small>{%trans "firstNameEn"%}</small> <b>{{value.firstNameEn}}</b></div>
          <div><small>{%trans "lastNameEn"%}</small> <b>{{value.lastNameEn}}</b></div>
          <div><small>{%trans "fatherNameEn"%}</small> <b>{{value.fatherNameEn}}</b></div>
          <div><small>{%trans "birthCrtfctNumber"%}</small> <b>{{value.birthCrtfctNumber}}</b></div>
          <div><small>{%trans "birthDate"%}</small> <b>{{value.birthDate_title}}</b></div>
          <div><small>{%trans "gender"%}</small> <b>{{value.gender_title}}</b></div>
          <div><small>{%trans "birthCrtfctSeriesLetter"%}</small> <b>{{value.birthCrtfctSeriesLetter}}</b></div>
          <div><small>{%trans "birthCrtfctSeriesNumber"%}</small> <b>{{value.birthCrtfctSeriesNumber}}</b></div>
          <div><small>{%trans "nationalCode"%}</small> <b>{{value.nationalCode}}</b></div>
          <div><small>{%trans "birthCrtfctSerial"%}</small> <b>{{value.birthCrtfctSerial}}</b></div>
        </td>
        <td>
          <div><small>{%trans "telephoneNumber"%}</small> <b>{{value.telephoneNumber}}</b></div>
          <div><small>{%trans "emailAddress"%}</small> <b>{{value.emailAddress}}</b></div>
          <div><small>{%trans "webSite"%}</small> <b>{{value.webSite}}</b></div>
          <div><small>{%trans "fax"%}</small> <b>{{value.fax}}</b></div>
          <div><small>{%trans "cellPhoneNumber"%}</small> <b>{{value.cellPhoneNumber}}</b></div>
          <div><small>{%trans "Description"%}</small> <b>{{value.Description}}</b></div>
        </td>
        <td>
          <div><small>{%trans "foreignPervasiveCode"%}</small> <b>{{value.foreignPervasiveCode}}</b></div>
          <div><small>{%trans "passportNumber"%}</small> <b>{{value.passportNumber}}</b></div>
          <div><small>{%trans "passportExpireDate"%}</small> <b>{{value.passportExpireDate}}</b></div>
          <div><small>{%trans "countryCode"%}</small> <b>{{value.countryCode}}</b></div>
        </td>
        <td>
          <div><small>{%trans "registerNumber"%}</small> <b>{{value.registerNumber}}</b></div>
          <div><small>{%trans "comNameFa"%}</small> <b>{{value.comNameFa}}</b></div>
          <div><small>{%trans "comNameEn"%}</small> <b>{{value.comNameEn}}</b></div>
          <div><small>{%trans "commercialCode"%}</small> <b>{{value.commercialCode}}</b></div>
          <div><small>{%trans "registerDate"%}</small> <b>{{value.registerDate}}</b></div>
          <div><small>{%trans "nationalLegalCode"%}</small> <b>{{value.nationalLegalCode}}</b></div>
        </td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/shop">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/shop">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.here}}/shop/add?customer_id={{requestGET.customer_id}}">{%trans "Try to start with add new shop!"%}</a></p>
{%endblock%}

