{%extends display.main%}


{%block content%}
{{block('logoEffect')}}
{{block('more')}}
{{block('styleguide')}}

{%endblock%}



{%block logoEffect%}
<div class="logoEffect">
  <img alt="Shadow of Jibres logo" class="shadow" src="{{url.static}}/images/logo/bg-logo-shadow.png">
  <img alt='{%trans "Jibres logo"%}' class="logo" src="{{url.icon}}">
  <video loop muted playsinline autoplay>
      <source type='video/mp4' src="{{url.static}}/video/bg-logo.mp4"/>
  </video>
</div>
{%endblock%}



{%block more%}
  <div class="page-title">
   <div class="cn">
    <div id="typed-strings" class="hide">
      <h1>{{page.title}}</h1>
    </div>
    <div class="h1"><span class="typed"></span></div>
    <h2>{{page.desc}}</h2>
   </div>
  </div>
{%endblock%}


{%block styleguide%}
<div class="styleguideBox">
  <div class="cn">
    <h2 class="txtC">{%trans "Jibres Brand Styleguide"%}</h2>
    <div class="book" data-slick>
    {%if lang.current == 'fa'%}
      {{block('styleguideFa')}}
    {%else%}
      {{block('styleguideEn')}}
    {%endif%}
    </div>
  </div>
</div>
{%endblock%}

{%block styleguideEn%}
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-1.png" alt="Jibres Logo Styleguide Page1">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-2.png" alt="Jibres Logo Styleguide Page2">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-3.png" alt="Jibres Logo Styleguide Page3">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-4.png" alt="Jibres Logo Styleguide Page4">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-5.png" alt="Jibres Logo Styleguide Page5">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-6.png" alt="Jibres Logo Styleguide Page6">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-7.png" alt="Jibres Logo Styleguide Page7">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-8.png" alt="Jibres Logo Styleguide Page8">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-9.png" alt="Jibres Logo Styleguide Page9">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-10.png" alt="Jibres Logo Styleguide Page10">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-11.png" alt="Jibres Logo Styleguide Page11">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-12.png" alt="Jibres Logo Styleguide Page12">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-13.png" alt="Jibres Logo Styleguide Page13">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-14.png" alt="Jibres Logo Styleguide Page14">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-1.png" alt="Jibres Logo Styleguide Page15">
{%endblock%}



{%block styleguideFa%}
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-1.png" alt="Jibres Logo Styleguide Persian Page1">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-2.png" alt="Jibres Logo Styleguide Persian Page2">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-3.png" alt="Jibres Logo Styleguide Persian Page3">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-4.png" alt="Jibres Logo Styleguide Persian Page4">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-5.png" alt="Jibres Logo Styleguide Persian Page5">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-6.png" alt="Jibres Logo Styleguide Persian Page6">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-7.png" alt="Jibres Logo Styleguide Persian Page7">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-8.png" alt="Jibres Logo Styleguide Persian Page8">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-9.png" alt="Jibres Logo Styleguide Persian Page9">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-10.png" alt="Jibres Logo Styleguide Persian Page10">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-11.png" alt="Jibres Logo Styleguide Persian Page11">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-12.png" alt="Jibres Logo Styleguide Persian Page12">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-13.png" alt="Jibres Logo Styleguide Persian Page13">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-14.png" alt="Jibres Logo Styleguide Persian Page14">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-1.png" alt="Jibres Logo Styleguide Persian Page15">
{%endblock%}


