{%extends display.main%}


{%block content%}
{{block('logoEffect')}}
{{block('more')}}
{{block('logoDetail')}}
{{block('styleguide')}}
{{block('downloadLogo')}}

{%endblock%}



{%block logoEffect%}
<div class="logoEffect">
  <img alt="Shadow of Jibres logo" class="shadow" src="{{url.static}}/images/logo/bg-logo-shadow.png">
  <img alt='{%trans "Jibres logo"%}' class="logo" src="{{url.icon}}">
  <video loop muted playsinline autoplay>
      <source type='video/mp4' src="{{url.static}}/video/bg-logo.mp4"/>
  </video>
</div>
{%endblock%}



{%block more%}
  <section class="page-title">
   <div class="cn">
    <div id="typed-strings" class="hide">
      <h1>{{page.title}}</h1>
    </div>
    <div class="h1"><span class="typed"></span></div>
    <h2>{{page.desc}}</h2>
   </div>
  </section>
{%endblock%}


{%block styleguide%}
<section class="styleguideBox">
  <div class="cn">
{%if lang.current == 'fa'%}
    <h2 class="txtC fs15"><a target="_blank" href="{{url.static}}/logo/styleguide-fa/Jibres-brand-styleguide-fa-v1.pdf">{%trans "Download Jibres Brand Styleguide"%}</a></h2>
    <div class="book" data-slick>
      {{block('styleguideFa')}}
    </div>
{%else%}
    <h2 class="txtC fs15"><a target="_blank" href="{{url.static}}/logo/styleguide/Jibres-brand-styleguide-v3.pdf">{%trans "Download Jibres Brand Styleguide"%}</a></h2>
    <div class="book" data-slick>
      {{block('styleguideEn')}}
    </div>
{%endif%}
  </div>
</section>
{%endblock%}


{%block logoDetail%}
<article class="logo">

  <section class="pTB5x">
   <div class="cn">
    <div class="f align-center mB10">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "MEET THE LOGO"%}</h3>
        <p>{%trans "Our logo represents simplicity, vivacity, agility, scalability and reliability; Values that we believe them as a company."%}</p>
        <p>{%trans "These guidelines are here to help ensure that your use of the Jibres logo is consistent with the way we present ourselves."%}</p>
      </div>
      <div class="c s12 pLa10">
        <img class="slideImg width-300" src="{{url.logo}}" alt='{%trans "Jibres"%}'>
      </div>
    </div>
    <div class="msg mB0-f">
      <p>{%trans "All type of Jibres logos are available!"%} <a target="_blank" href="https://github.com/jibres/Jibres-logo/archive/master.zip">{%trans "Download latest Jibres logo pack."%}</a></p>
      <p>{%trans "Also you can browse to find our logo based on your need."%} <a target="_blank" href="https://github.com/jibres/Jibres-logo/tree/master/dist">{%trans "Jibres logo repository."%}</a></p>
    </div>
   </div>
  </section>

{% include "content/logo/section-standard.html"%}
{% include "content/logo/section-vertical.html"%}
{% include "content/logo/section-icon.html"%}


  <section class="pTB5x">
   <div class="cn">
    <div class="f align-center">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "SAFE SPACE"%}</h3>
        <p>{%trans "Safe space acts as a buffer between the logo and other visual elements on a page, including text."%}</p>
        <p>{%trans "This space is the minimum distance needed and is equal to third the height of the icon."%}</p>
      </div>
      <div class="c s12 pLa10">
{%if lang.current == 'fa'%}
        <img class="slideImg width-500" src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-7-img.png" alt='{%trans "Jibres"%} {%trans "SAFE SPACE"%}'>
{%else%}
        <img class="slideImg width-500" src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-7-img.png" alt='{%trans "Jibres"%} {%trans "SAFE SPACE"%}'>
{%endif%}
      </div>
    </div>
   </div>
  </section>

  <section class="pTB4x">
   <div class="cn">
    <div class="f align-center">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "MINIMAL SIZE"%}</h3>
        <p>{%trans "Here’s the recommended minimum size at which the logo may be reproduced. For legibility reasons, we ask that you stick to these dimensions."%}</p>
      </div>
      <div class="c s12 pLa10">
{%if lang.current == 'fa'%}
        <img class="slideImg width-200" src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-8-img.png" alt='{%trans "Jibres"%} {%trans "MINIMAL SIZE"%}'>
{%else%}
        <img class="slideImg width-200" src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-8-img.png" alt='{%trans "Jibres"%} {%trans "MINIMAL SIZE"%}'>
{%endif%}
      </div>
    </div>
   </div>
  </section>

  <section class="pTB5x">
   <div class="cn">
    <div class="f align-center">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "JIBRES RED"%}</h3>
        <p>{%trans "The Jibres red is bright and vibrant and we want it to stand out clearly. To that end, here are the color values you can use for both digital and print."%}</p>
      </div>
      <div class="c s12 pLa10">
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-9-img.png" alt='{%trans "JIBRES RED"%}'>
      </div>
    </div>
   </div>
  </section>

  <section class="pTB5x">
   <div class="cn">
    <div class="f align-center">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "USING GRAYSCALE"%}</h3>
        <p>{%trans "If the color logotype isn’t an option for technical reasons, use the black or white versions instead."%}</p>
        <p>{%trans "You can create a version using any value on the grayscale."%}</p>
      </div>
      <div class="c s12 pLa10">
{%if lang.current == 'fa'%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-10-img.png" alt='{%trans "Jibres"%} {%trans "USING GRAYSCALE"%}'>
{%else%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-10-img.png" alt='{%trans "Jibres"%} {%trans "USING GRAYSCALE"%}'>
{%endif%}
      </div>
    </div>
   </div>
  </section>

  <section class="pTB5x">
   <div class="cn">
    <div class="f align-center">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "BACKGROUND COLOR"%}</h3>
        <p>{%trans "Our logo must always have good contrast with the background to ensure maximum impact and accessibility."%}</p>
        <p>{%trans "Use the black or white versions if the logo is to be presented on a background color."%}</p>
        <p>{%trans "If you’re going with grayscale, make sure you choose a version where the contrast between the logo and the background is strong."%}</p>
      </div>
      <div class="c s12 pLa10">
{%if lang.current == 'fa'%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-11-img.png" alt='{%trans "Jibres"%} {%trans "BACKGROUND COLOR"%}'>
{%else%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-11-img.png" alt='{%trans "Jibres"%} {%trans "BACKGROUND COLOR"%}'>
{%endif%}
      </div>
    </div>
   </div>
  </section>

  <section class="pTB5x">
   <div class="cn">
    <div class="f align-center">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "WORDMARK"%}</h3>
        <p>{%trans "Here’s what you need to know about the wordmark:"%}</p>
        <ul class="list">
          <li>{%trans "The font used for the wordmark is Acre Medium."%}</li>
          <li>{%trans "This font is only used in the logo."%}</li>
          <li>{%trans "'Jibres' is written as one word, with the letters'J' capitalized in all instances."%}</li>
        </ul>
      </div>
      <div class="c s12 pLa10">
{%if lang.current == 'fa'%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-12-img.png" alt='{%trans "Jibres"%} {%trans "WORDMARK"%}'>
{%else%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-12-img.png" alt='{%trans "Jibres"%} {%trans "WORDMARK"%}'>
{%endif%}
      </div>
    </div>
   </div>
  </section>

  <section class="pTB5x">
   <div class="cn">
    <div class="f align-center">
      <div class="c4 m6 s12">
        <h3 class="mB50">{%trans "LOGO DON'TS"%}</h3>
        <p>{%trans "Use the Jibres logos as provided and please do not make any changes to them :)"%}</p>
      </div>
      <div class="c s12 pLa10">
{%if lang.current == 'fa'%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-14-img.png" alt='{%trans "Jibres"%} {%trans "LOGO DO NOTS"%}'>
{%else%}
        <img class="slideImg width-300" src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-14-img.png" alt='{%trans "Jibres"%} {%trans "LOGO DO NOTS"%}'>
{%endif%}
      </div>
    </div>
   </div>
  </section>

</article>
{%endblock%}



{%block styleguideEn%}
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-1.png" alt="Jibres Logo Styleguide Page1">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-2.png" alt="Jibres Logo Styleguide Page2">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-3.png" alt="Jibres Logo Styleguide Page3">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-4.png" alt="Jibres Logo Styleguide Page4">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-5.png" alt="Jibres Logo Styleguide Page5">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-6.png" alt="Jibres Logo Styleguide Page6">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-7.png" alt="Jibres Logo Styleguide Page7">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-8.png" alt="Jibres Logo Styleguide Page8">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-9.png" alt="Jibres Logo Styleguide Page9">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-10.png" alt="Jibres Logo Styleguide Page10">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-11.png" alt="Jibres Logo Styleguide Page11">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-12.png" alt="Jibres Logo Styleguide Page12">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-13.png" alt="Jibres Logo Styleguide Page13">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-14.png" alt="Jibres Logo Styleguide Page14">
<img src="{{url.static}}/logo/styleguide/png/jibres-logo-styleguide-1.png" alt="Jibres Logo Styleguide Page15">
{%endblock%}



{%block styleguideFa%}
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-1.png" alt="Jibres Logo Styleguide Persian Page1">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-2.png" alt="Jibres Logo Styleguide Persian Page2">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-3.png" alt="Jibres Logo Styleguide Persian Page3">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-4.png" alt="Jibres Logo Styleguide Persian Page4">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-5.png" alt="Jibres Logo Styleguide Persian Page5">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-6.png" alt="Jibres Logo Styleguide Persian Page6">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-7.png" alt="Jibres Logo Styleguide Persian Page7">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-8.png" alt="Jibres Logo Styleguide Persian Page8">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-9.png" alt="Jibres Logo Styleguide Persian Page9">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-10.png" alt="Jibres Logo Styleguide Persian Page10">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-11.png" alt="Jibres Logo Styleguide Persian Page11">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-12.png" alt="Jibres Logo Styleguide Persian Page12">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-13.png" alt="Jibres Logo Styleguide Persian Page13">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-14.png" alt="Jibres Logo Styleguide Persian Page14">
<img src="{{url.static}}/logo/styleguide-fa/png/jibres-logo-styleguide-fa-1.png" alt="Jibres Logo Styleguide Persian Page15">
{%endblock%}



{%block downloadLogo%}
<article class="logo download">

  <section class="pTB5x">
    <div class="cn">
      <h3>{%trans "Jibres logo"%}</h3>
      <div class="f">
        <div class="c4 s12">
          <img class="slideImg width-200" src="{{url.static}}/logo/en-vertical/svg/Jibres-Logo-en-vertical.svg">
        </div>
        <div class="c4 s12">
          <img class="slideImg width-200" src="{{url.static}}/logo/en-vertical-black/svg/Jibres-Logo-en-vertical-black.svg">
        </div>
        <div class="c4 s12">
          <img class="slideImg width-200" src="{{url.static}}/logo/en-vertical-white/svg/Jibres-Logo-en-vertical-white.svg">
        </div>
      </div>
    </div>
  </section>

  <section class="pTB5x">
    <div class="cn">
      <h3>{%trans "Jibres logo"%}</h3>
      <div class="f">
        <div class="c4 s12">
          <img class="slideImg width-200" src="{{url.static}}/logo/icon/svg/Jibres-Logo-icon.svg">
        </div>
        <div class="c4 s12">
          <img class="slideImg width-200" src="{{url.static}}/logo/icon-black/svg/Jibres-Logo-icon-black.svg">
        </div>
        <div class="c4 s12">
          <img class="slideImg width-200" src="{{url.static}}/logo/icon-white/svg/Jibres-Logo-icon-white.svg">
        </div>
      </div>
    </div>
  </section>

</article>
{%endblock%}

