{%extends display.dash%}


{%block pageContent%}
  <table class="tbl1 v1 cbox fs12">
    <thead class="">
      <tr>
        <th>{%trans "Permission title"%}</th>
        {%for slug, myGroup in perm.group%}
        <th title='{{slug}} {%if myGroup in perm.groupPos%} <br><b>{%trans "Customized"%}</b>{%endif%}' class="txtC">
          <a href="{{url.this}}/add?id={{slug}}">{%set myGroupTitle = myGroup.title%}{%trans myGroupTitle%}
          <br>
          <small class="badge mT5">{%trans "Edit"%}</small>
          </a>
        </th>
        {%endfor%}
      </tr>
    </thead>

    <tbody>
       <tr>
        <td>{%trans "Count of user in permission"%}</td>
        {%for slug, count in perm.usercount%}
        <td  class="txtC">
            {%if not count%}
              <div class="badge danger" title='{%trans "Remove this permission if not need"%}'><a href="{{url.this}}/delete?id={{slug}}">{%trans "No user"%}</a></div>
            {%else%}
              <div class="badge success" title='{%trans "Click to show list of user by this permission"%}'><a href="{{url.here}}/member?permission={{slug}}">{{count | fitNumber}} {%trans "User"%}</a></div>
            {%endif%}
        </td>
        {%endfor%}
      </tr>
{%for content, allPerms in perm.list%}

      {%for cat, permList in allPerms%}
      <tr class="active">
        <th colspan="{{ (perm.group | length) + 1}}"><span class="badge floatRa">{%trans content%}</span> {%trans cat%}</th>
      </tr>
      {%for key, value in permList%}
      <tr>
        <td class="txtB" title="{{key}}">
          {%set myTitle = value.title%}{%trans myTitle%}
          {%if value.check%}<span class="sf-bolt floatRa" data-tippy-placement="bottom" data-tippy-animation="perspective" title='{%trans "Need double check permission for some sensitive permissions"%}'></span>{%endif%}
          {%if value.verify%}<span class="sf-chain-broken floatRa" data-tippy-placement="bottom" data-tippy-animation="perspective" title='{%trans "Do hard check and need to enter again"%}'></span>{%endif%}
        </td>
        {%for groupName, groupList in perm.group%}
        <td class="txtC">
          {%if key in groupList.contain or groupName == 'admin'%}
          <i class="sf-check fc-green"></i>
          {%else%}
          <i class="sf-times fc-red"></i>
          {%endif%}
        </td>
        {%endfor%}
      </tr>
      {%endfor%}
      {%endfor%}

{%endfor%}
       <tr>
        <td>{%trans "Count of user in permission"%}</td>
        {%for slug, count in perm.usercount%}
        <td  class="txtC">
            {%if not count%}
              <div class="badge danger" title='{%trans "Remove this permission if not need"%}'><a href="{{url.this}}/delete?id={{slug}}">{%trans "No user"%}</a></div>
            {%else%}
              <div class="badge success" title='{%trans "Click to show list of user by this permission"%}'><a href="{{url.here}}/member?permission={{slug}}">{{count | fitNumber}} {%trans "User"%}</a></div>
            {%endif%}
        </td>
        {%endfor%}
      </tr>
    </tbody>
  </table>
{%endblock%}



