{%extends display.dash%}






{%block pageContent%}


<div class="txtC fs14 mTB25">
  <img class="box700 mB20-f" src="{{url.siftal}}/images/account/profile-cover.png" alt='{%trans "Personal info"%}'>
  <h2>{{page.title}}</h2>
  <p>{{page.desc}}</p>
</div>


<div class="fs14">
  <section class="mB20">
  {{block('account')}}
  </section>

  <section class="mB20">
  {{block('profile')}}
  </section>

  <section class="mB20">
  {{block('socials')}}
  </section>
</div>
{%endblock%}


{%set arrow%}sf-chevron-{%if isLtr%}right{%else%}left{%endif%}{%endset%}




{%block account%}
<div class="panel">
  <div class="body pad">
    <div class="f">
      <div class="c s12">
        <h3>{%trans "Account"%}</h3>
        <p>{%trans "You can enter to your account with username and mobile."%}</p>
      </div>
      <div class="cauto s12">
        <img class="box300" src="{{url.siftal}}/images/account/profile-dashboard.png" alt='{%trans "Profile"%}'>
      </div>
    </div>
  </div>
  <table class="tbl1 v4 responsive mB0">
    <tr>
      <th>{%trans "Username"%}</th>
      <td>{{dataRow.username}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/username" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Mobile"%}</th>
      <td>{{dataRow.mobile | fitNumber(false)}}</td>
      <td></td>
    </tr>

     <tr>
      <th>{%trans "Email"%}</th>
      <td>{{dataRow.email}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/email" class="block {{arrow}}"></a></td>
    </tr>

{%if dataRow.permission%}
    <tr>
      <th>{%trans "Permission"%}</th>
      <td>{{permName}}</td>
      <td class="collapsing txtRa"></td>
    </tr>
{%endif%}
  </table>
</div>
{%endblock%}


{%block profile%}
<div class="panel">
  <div class="body pad">
    <div class="f">
      <div class="c s12">
        <h3>{%trans "Profile"%}</h3>
        <p>{%trans "Some info may be visible to other people using our service."%} <a href="{{url.kingdom}}/privacy" target="_blank">{%trans "Learn more"%}</a></p>
      </div>
    </div>
  </div>
  <table class="tbl1 v4 responsive mB0">
    <tr>
      <th>{%trans "Avatar"%}</th>
      <td>
        <div class="f align-center">
          <div class="c">{%trans "A photo helps personalize your account"%}</div>
          <div class="cauto"><img src="{{dataRow.avatar}}" alt='{%trans "Avatar"%}' class="avatar fs25 floatRa"></div>
        </div>
      </td>
      <td class="collapsing txtRa"><a href="{{url.this}}/avatar" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "First name"%}</th>
      <td>{{dataRow.firstname}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/profile" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Last name"%}</th>
      <td>{{dataRow.lastname}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/profile" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Gender"%}</th>
      <td>{%set myGender = dataRow.gender | capitalize%}{%trans myGender%}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/profile" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "BirthDate"%}</th>
      <td>{{dataRow.birthday | dt(true)}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/profile" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Display name"%}</th>
      <td>{{dataRow.displayname}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/profile" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Bio"%}</th>
      <td>{{dataRow.bio | nl2br}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/profile" class="block {{arrow}}"></a></td>
    </tr>
  </table>
</div>
{%endblock%}



{%block socials%}
<div class="panel">
  <div class="body pad">
    <div class="f">
      <div class="c s12">
        <h3>{%trans "Social networks"%}</h3>
        <p>{%trans "Website, Email and Social Networks"%}</p>
      </div>
      <div class="cauto s12">
        <img class="box300" src="{{url.siftal}}/images/account/social.svg" alt='{%trans "Social Networks"%}'>
      </div>
    </div>
  </div>
  <table class="tbl1 v4 responsive mB0">
    <tr>
      <th>{%trans "Website"%}</th>
      <td>{{dataRow.website}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/social" class="block {{arrow}}"></a></td>
    </tr>

    <tr>
      <th>{%trans "Instagram"%}</th>
      <td>{{dataRow.instagram}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/social" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Facebook"%}</th>
      <td>{{dataRow.facebook}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/social" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Twitter"%}</th>
      <td>{{dataRow.twitter}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/social" class="block {{arrow}}"></a></td>
    </tr>
      <tr>
      <th>{%trans "Linkedin"%}</th>
      <td>{{dataRow.linkedin}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/social" class="block {{arrow}}"></a></td>
    </tr>
  </table>
</div>
{%endblock%}

















{%block iTwostep%}
<div class="switch1 mT20">
 <input type="checkbox" name="twostep" id="twostep" {%if dataRow.twostep  %}checked{%endif%}>
 <label for="twostep"></label>
 <label for="twostep">{%trans "Two step verification"%}</label>
</div>
{%endblock%}


{%block iSidebar%}
<label for="xsidebar">{%trans "Show sidebar"%}</label>
<div class="switch1 mTB0">
 <input type="checkbox" name="sidebar" id="xsidebar" {%if userToggleSidebar %}checked{%endif%}>
 <label for="xsidebar"></label>
</div>
{%endblock%}


{%block iLanguage%}
<div class="mTB10">
  <label for="language">{%trans "Default language"%}</label>
  <select name="language" class="ui dropdown" id="language">
    <option value="" readonly>{%trans "Select one item"%}</option>
    {%for key, lang in lang.list%}
      <option value="{{key}}" {%if dataRow.language == key%} selected {%endif%} >{{lang}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block iWebsite%}
<label for="website">{%trans "Website"%}</label>
<div class="input ltr">
  <input type="url" name="website" id="website" placeholder='{%trans "Website"%} {%trans "like"%} https://ermile.com' value="{{dataRow.website}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid website from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iInstagram%}
<label for="instagram">{%trans "Instagram"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-instagram"></i> instagram.com/</span>
  <input type="text" name="instagram" id="instagram" placeholder='{%trans "Instagram"%}' value="{{dataRow.instagram}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid instagram from 3 to 40 character"%}' >
</div>
{%endblock%}

{%block iFacebook%}
<label for="facebook">{%trans "Facebook"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-facebook-official"></i> facebook.com/</span>
  <input type="text" name="facebook" id="facebook" placeholder='{%trans "Facebook"%}' value="{{dataRow.facebook}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid facebook from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block iTwitter%}
<label for="twitter">{%trans "Twitter"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-twitter"></i> twitter.com/</span>
  <input type="text" name="twitter" id="twitter" placeholder='{%trans "Twitter"%}' value="{{dataRow.twitter}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid twitter from 3 to 40 character"%}' >
</div>
{%endblock%}


{%block iLinkedin%}
<label for="linkedin">{%trans "Linkedin"%}</label>
<div class="input ltr">
  <span class="addon"><i class="sf-linkedin"></i> linkedin.com/</span>
  <input type="text" name="linkedin" id="linkedin" placeholder='{%trans "Linkedin"%}' value="{{dataRow.linkedin}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid linkedin from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iGmail%}
{%if value.gmail %}
<label for="gmail">{%trans "Gmail"%}</label>
<div class="input ltr">
  <input type="email" name="gmail" id="gmail" placeholder='{%trans "Like"%} your-mail' value="{{dataRow.gmail}}" maxlength='50' readonly disabled>
</div>
{%endif%}
{%endblock%}



{%block iFirstname%}
<label for="firstname">{%trans "Firstname"%}</label>
<div class="input">
  <input type="text" name="firstname" id="firstname" placeholder='{%trans "Firstname"%}' value="{{dataRow.firstname}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid firstname from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iLastname%}
<label for="lastname">{%trans "Lastname"%}</label>
<div class="input">
  <input type="text" name="lastname" id="lastname" placeholder='{%trans "Lastname"%}' value="{{dataRow.lastname}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid lastname from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block iUsername%}
<label for="username">{%trans "Username"%}</label>
<div class="input ltr">
  <input type="text" name="username" id="username" placeholder='{%trans "Username"%}' value="{{dataRow.username}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid username from 3 to 40 character"%}' autofocus>
</div>
{%endblock%}



{%block iTitle%}
<label for="title">{%trans "Nick name"%}</label>
<div class="input">
  <input type="text" name="title" id="title" placeholder='{%trans "Title"%}' value="{{dataRow.title}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid title from 3 to 40 character"%}' >
</div>
{%endblock%}




{%block iType%}
<label for="type">{%trans "Type"%}</label>
<div class="input">
  <input type="text" name="type" id="type" placeholder='{%trans "Type"%}' value="{{dataRow.type}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid type from 3 to 40 character"%}' >
</div>
{%endblock%}

{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}  <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" placeholder='{{"1369/04/15" | fitNumber}} *' value="{{dataRow.birthday}}" data-view="year" autocomplete='off'>
</div>
{%endblock%}



{%block iBio%}
<label for="bio">{%trans "Bio"%}</label>
<textarea class="txt mB20 pB25" name="bio" id="bio" placeholder='{%trans "Bio"%}' maxlength='300' rows="3">{{dataRow.bio}}</textarea>
{%endblock%}



{%block iDisplayName%}
<label for="displayname">{%trans "Display name"%}</label>
<div class="input">
  <input type="text" name="displayname" id="displayname" placeholder='{%trans "Display name"%}' value="{{dataRow.displayname}}" maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid displayname from 3 to 40 character"%}' >
</div>
{%endblock%}




{%block imobile%}
<label for="mobile">{%trans "Mobile"%} <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input type="text" name="mobile" id="mobile" placeholder='{%trans "Like 09120123456"%} *' value="{{dataRow.mobile}}" maxlength='30' required {%if dataRow.mobile%} readonly{%endif%}>
</div>
{%endblock%}



{%block igender%}
<div class="mT10">
  <label for="gender">{%trans "Gender"%} <small class="fc-red">* {%trans "Require"%}</small></label>
  <div class="f">
   <div class="radio1 green">
    <input type="radio" id="r-male" name="gender" value="male" {%if dataRow.gender == 'male' %}checked{%endif%}>
    <label for="r-male">{%trans "Male"%}</label>
   </div>

   <div class="radio1 green">
    <input type="radio" id="r-female" name="gender" value="female" {%if dataRow.gender == 'female' %}checked{%endif%}>
    <label for="r-female">{%trans "Female"%}</label>
   </div>
  </div>
</div>
{%endblock%}


{%block iStatus%}
<div class="mT10">
  <label for="status">{%trans "Status"%}</label>
  <select name="status" class="ui dropdown" id="status">
    <option value="" readonly>{%trans "Select one item"%} *</option>
    <option value="active" {% if dataRow.status == 'active' %} selected {%endif%}>{%trans "Active"%}</option>
    <option value="awaiting" {% if dataRow.status == 'awaiting' %} selected {%endif%}>{%trans "Awaiting"%}</option>
    <option value="deactive" {% if dataRow.status == 'deactive' %} selected {%endif%}>{%trans "Deactive"%}</option>
    <option value="removed" {% if dataRow.status == 'removed' %} selected {%endif%}>{%trans "Removed"%}</option>
    <option value="filter" {% if dataRow.status == 'filter' %} selected {%endif%}>{%trans "Filter"%}</option>
    <option value="unreachable" {% if dataRow.status == 'unreachable' %} selected {%endif%}>{%trans "Unreachable"%}</option>
  </select>
</div>
{%endblock%}


{%block iPermission%}
<div class="mT10">
  <label for="permission">{%trans "Permission"%}</label>
  <select name="permission" class="ui dropdown" id="permission">
    <option value="" readonly>{%trans "No permission"%}</option>
    {%for perm in permGroup%}
      <option value="{{perm}}" {%if dataRow.permission == perm%} selected {%endif%} >{%trans perm%}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}

{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{dataRow.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iPasswordLink%}
<p class="msg txtC">{%trans "To change your password"%} <a href="{{url.kingdom}}/enter/pass/change" data-direct target="_blank">{%trans "Click here"%}</a></p>
{%endblock%}

{%block DeleteAccount%}
<div>
  <a class="btn danger outline floatRa sm" href="{{url.kingdom}}/enter/delete" data-direct target="_blank">{%trans "Delete your account"%}</a>
</div>

{%endblock%}

{%block irePassword%}
<div data-response='password' data-response-hide data-response-effect='slide'>
  <label for="repassword">{%trans "Confirm password"%} <small class="fc-red">* {%trans "Require to change current password"%}</small></label>
  <div class="input">
  <input type="password" name="repassword" id="repassword" placeholder='{%if dataRow.password%}{%trans "Password was set, enter to change it!"%}{%else%}{%trans "Password not set, enter to set it!"%}{%endif%}'  maxlength='50'>
</div>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" content_account\my>
    {%if dataRow.avatar%}<img src="{{dataRow.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}



{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block iSaveAll%}
<button class="btn primary block mT20">{%trans "Save all"%}</button>
{%endblock%}

























