{%extends display.pwa%}


{%block headerBox%}
{%embed "/content_my/test/header.html"%}{%endembed%}
{%endblock%}


{%block footerBox%}
{%embed "/content_my/test/footer.html"%}{%endembed%}
{%endblock%}


{%block pageContent%}

   <h1>Browse</h1>
   {%include "/content_my/test/search.html"%}

   <h2>Sample Actions</h2>
   <nav class="items">
     <ul>
       <li>
        <a class="f align-center" href="jibres://test">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Test Page</div>
         <div class="value">App Function</div>
         <div class="go detail"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="jibres://splash">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Splash</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="jibres://intro">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Intro</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="jibres://language">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Language</div>
         <div class="go"></div>
        </a>
       </li>

     </ul>
   </nav>

   <nav class="items">
     <ul>
       <li>
       <li>
        <a class="f align-center" href="https://core.jibres.com/r10/android/language">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Language Website En</div>
         <div class="value">English</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="https://core.jibres.ir/r10/android/language">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Language Website Fa</div>
         <div class="value">فارسی</div>
         <div class="go"></div>
        </a>
       </li>

     </ul>
   </nav>

   <p class="meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

   <nav class="items">
     <ul>
       <li>
       <li>
        <a class="f align-center" href="https://jibres.com/enter">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Login En</div>
         <div class="value">English</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="https://jibres.ir/enter">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">Login Fa</div>
         <div class="value">فارسی</div>
         <div class="go"></div>
        </a>
       </li>

     </ul>
   </nav>


   <h2>Sample App Design</h2>
   <nav class="items">
     <ul>
       <li>
        <a class="f align-center" href="{{url.this}}/sample1">
         <div class="key">{%trans "Sample1"%}</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="{{url.this}}/sample2">
         <div class="key">{%trans "Sample2"%}</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="{{url.this}}/sample3">
         <div class="key">{%trans "Sample3"%}</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="{{url.this}}/sample4">
         <div class="key">{%trans "Sample4"%}</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="{{url.this}}/sample5">
         <div class="key">{%trans "Sample5"%}</div>
         <div class="go"></div>
        </a>
       </li>

     </ul>
   </nav>

   <h4>{%trans "About Jibres"%}</h4>
   <div class="pwaText">
     {{site.desc}}
   </div>

   <h4>Other FrameWorks</h4>
   <nav class="items">
     <ul>
       <li>
       <li>
        <a class="f align-center" href="https://framework7.io/kitchen-sink/core/?theme=ios">
         <div class="key">FrameWork 7</div>
         <div class="value">iOS</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="https://framework7.io/kitchen-sink/core/">
         <div class="key">FrameWork 7</div>
         <div class="value">Android</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="https://onsen.io/demo/">
         <div class="key">Onsen</div>
         <div class="value"></div>
         <div class="go"></div>
        </a>
       </li>

     </ul>
   </nav>

   <br>
</div>
{%endblock%}

