{%extends display.jibresControlLayout%}


{%block pageContent%}

<div class="f">
  <div class="c4 s12">{{block('btnStoreList')}}</div>
  <div class="c4 s12">{{block('btnStoreListAnalytics')}}</div>
</div>


{%endblock%}



{%block btnStoreListAnalytics%}
<a class="dcard x1" href='{{url.this}}/analytics'>
 <div class="statistic blue">
  <div class="value"><i class="sf-analytics-chart-graph"></i></div>
  <div class="label">{%trans "Store analytics"%}</div>
 </div>
</a>
{%endblock%}


{%block btnStoreList%}
<a class="dcard x1" href='{{url.this}}/store'>
 <div class="statistic green">
  <div class="value"><i class="sf-shop"></i></div>
  <div class="label">{%trans "Store list"%}</div>
 </div>
</a>
{%endblock%}
