{%extends display.mvc%}

{%use 'content/main/header-social.html'%}

{%block body%}
{%include 'content/template/header.html'%}
 <div class="wrapper" data-xhr='wrapper'>
{%block content%}
  <div class="page-title">
   <div class="cn">
    <h1>{{page.title}}</h1>
    <h2>{{page.desc}}</h2>
   </div>
  </div>

{%block pageData%}
  <div class="pc">
   <div class="cn">
{%block page%}{%endblock%}
   </div>
  </div>
{%block pageExtra%}{%endblock%}
{%endblock%}
{%endblock%}
 </div>
{%include 'content/template/footer.html'%}


{%set introOption%}
.setOptions({ 'nextLabel': '{%trans "Next →"%}', 'prevLabel': '{%trans "← Back"%}', 'skipLabel': '{%trans "Skip"%}', 'doneLabel': '{%trans "Done"%}', 'showStepNumbers': 'false', 'showProgress': 'true' })
{%endset%}

{%endblock%}
