{%extends display.main%}


{%block page%}


   <nav class="breadcrumb block msg hide" data-xhr="breadcrumb" tabindex='-1' data-step='4' data-intro='{%trans "View your current location and navigate to parent of it"%}' data-position='bottom'>
   {{breadcrumb(null, true) | raw}}
   </nav>


{{block('posts')}}


{%endblock%}



{%block posts%}


{%if allPostList %}
<article class="f postListPreview">
  {%for key, value in allPostList%}
      <section class="c4 s12 pA5">
        <a class="vcard" href="{{url.here}}/{{value.url}}">
{%if value.meta.thumb%}
          <img src="{{value.meta.thumb}}" alt="{{value.title}}">
{%endif%}
          <div class="content">
            <h3>{{value.title}}</h3>
            <p>{{value.excerpt}}</p>
          </div>

          <div class="footer f">
            <button class="cauto os btn">{%trans "Read more"%}</button>
          </div>
        </a>
      </section>
  {%endfor%}
</article>


{%include display.pagination%}

{%endif%}


{%endblock%}


