{%extends "content_a/setting/layout.html"%}




{%block pageContent%}
{{block('pageSteps')}}
<div class="f">
  <div class="c5 pRa10">
    {{block('addNewPos')}}
  </div>
  {%if dataTable%}
  <div class="c">
    {{block('htmlTable')}}
  </div>
  {%endif%}
</div>

{%endblock%}


{%block addNewPos%}

<div class="cbox">
 <form method="post" autocomplete="off">
 	<h2>{%trans "Add new pos to you store"%}</h2>

 	<label for="pos">{%trans "Pos issuer bank"%}</label>
	{%include display.spay%}

 	<label for="title">{%trans "Title"%}</label>
	<div class="input">
	  <input type="text" name="title" id="title" placeholder='{%trans "Title"%}' minlength="1" maxlength="100">
	</div>


	<div data-response='pos' data-response-where='irkish' data-response-hide>
		{{block('iPcPosIrankish')}}
	</div>

	<div data-response='pos' data-response-where='asanpardakht' data-response-hide>
		{{block('iPcPosAsanpardakht')}}
	</div>


	<button class="btn block primary mT10">{%trans "Add pos"%}</button>
 </form>
</div>
{%endblock%}







{%block htmlTable%}

  <table class="tbl1 v1 txtC cbox fs12">
    <thead>
      <tr class="fs09">
        <th class="collapsing" colspan="2">{%trans "Bank"%}</th>
        <th>{%trans "Name"%}</th>
        <th>{%trans "Default"%}</th>
        <th>{%trans "Action"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.default%} title='{%trans "Is default"%}' class="positive"{%endif%}>
        <td><span class="spay-32-{{value.class}} mRa10"></span></td>
        <td class="txtLa">
          <span class="txtB">{{value.name}}</span>
          {%if value.pc_pos%}
	      <span class="badge primary">{%trans "PcPos"%}</span>
          <div class="mT10">
				{%for k, v in value.pc_pos%}
				{%set attrName = k | capitalize%}
	          		<span class="badge light">{%trans attrName%} {{v | fitNumber(false)}}</span>
				{%endfor%}
          </div>
          {%endif%}
      	</td>
        <td>{%if value.title %}{{value.title}}{%else%}-{%endif%}</td>
        <td class="collapsing">
        	{%if value.default%}
          		<a class="badge success"> {%trans "Is default"%}</a>
        	{%else%}
          		<a href="{{url.pwd}}" class="badge" data-ajaxify data-method='post' data-data='{"key" : "{{key}}", "type" : "default"}'>{%trans "Set as default"%}</a>
          	{%endif%}
        </td>
        <td>
          <div class="badge danger" data-confirm data-data='{"key":"{{key}}", "type":"remove"}'>{%trans "Remove"%}</div>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{%endblock%}









{%block iPcPosIrankish%}
<div class="switch1">
 <input type="checkbox" name="irankish" id="irankish" {%if currentStore.pos.irankish.status %}checked{%endif%}>
 <label for="irankish"></label>
 <label for="irankish">{%trans "Enable irankish PC POS"%}</label>
</div>

<div class="f mT10" data-response='irankish' data-response-effect='slide' {%if currentStore.pos.irankish.status%}{%else%} data-response-hide {%endif%}>
		<label for="serial">{%trans "Serial"%}</label>
		<div class="input">
		  <input type="number" name="serial" id="serial" placeholder='{%trans "Serial"%}' value="{{currentStore.pos.irankish.serial}}" min="1" max="99999999999999999999999">
		</div>

		<label for="terminal">{%trans "Terminal"%}</label>
		<div class="input">
		  <input type="number" name="terminal" id="terminal" placeholder='{%trans "Terminal"%}' value="{{currentStore.pos.irankish.terminal}}" min="1" max="99999999999999999999999">
		</div>

		<label for="receiver">{%trans "Receiver"%}</label>
		<div class="input">
		  <input type="number" name="receiver" id="receiver" placeholder='{%trans "Receiver"%}' value="{{currentStore.pos.irankish.receiver}}" min="1" max="99999999999999999999999">
		</div>
</div>

{%endblock%}






{%block iPcPosAsanpardakht%}
<div class="switch1">
 <input type="checkbox" name="asanpardakht" id="asanpardakht" {%if currentStore.pos.asanpardakht.status %}checked{%endif%}>
 <label for="asanpardakht"></label>
 <label for="asanpardakht">{%trans "Enable asanpardakht PC POS"%}</label>
</div>

<div class="f mT10" data-response='asanpardakht' data-response-effect='slide' {%if currentStore.pos.asanpardakht.status%}{%else%} data-response-hide {%endif%}>
	<div class="c6 pLa5">
		<label for="ip">{%trans "IP"%}</label>
		<div class="input">
		  <input type="text" name="ip" id="ip" placeholder='{%trans "IP"%}' value="{{currentStore.pos.asanpardakht.ip}}" maxlength='15'>
		</div>
	</div>

	{%if currentStore.pos.asanpardakht.port%}
	<div class="c6 pLa5">
		<label for="port">{%trans "Port"%}</label>
		<div class="input">
		  <input type="text" name="iport" id="port" placeholder='{%trans "Port"%}' value="{{currentStore.pos.asanpardakht.port}}" maxlength='500' disabled>
		</div>
	</div>
	{%endif%}
</div>

{%endblock%}



