{%extends "content_a/product/layout.html"%}


{%block pageContent%}

<form method="post" class="f justify-center">
<div class="cbox c9 s12">
 <h3>{%trans "Basic detail"%}</h3>
{{block ('iTitle') }}

<div class="f">
 <div class="c pRa5">{{block ('iCat') }}</div>
 <div class="c">{{block ('iUnit') }}</div>
</div>

<div class="f">
 <div class="c pRa5">{{block ('iCode') }}</div>
 <div class="c">{{block ('iUnit_hidden') }}</div>
</div>

<div class="f">
 <div class="c pRa5">{{block ('iBarcode') }}</div>
 <div class="c">{{block ('iBarcode2') }}</div>
</div>





 <h3 class="mT25">{%trans "Initial detail before start sell"%}</h3>
{{block ('iBuyprice') }}

<div class="f">
 <div class="c s12 pRa5">{{block ('iPrice') }}</div>
 <div class="c s12">{{block ('iDiscount') }}</div>
</div>

{{block ('iFinalPrice') }}


<h3 class="mT25">{%trans "Warehouse"%}</h3>

{{block ('iInitialBalance') }}
<div class="f">
 <div class="c pRa5">{{block ('iMinstock') }}</div>
 <div class="c">{{block ('iMaxstock') }}</div>
</div>

<div class="f">
 <div class="c pRa5">{{block ('iManufacturer') }}</div>
 <div class="c">{{block ('iCarton') }}</div>
</div>

{{block ('iStatus') }}


{{block("iadd")}}
</div>
</form>

{%endblock%}
