{%extends "content_a/product/layout.html"%}


{%block pageContent%}

<form method="post" class="f justify-center" autocomplete="off">
<div class="cbox c9 s12">
{{block ('iTitle') }}

<div class="f">
 <div class="c s12 pRa5">{{block ('iCat') }}</div>
 <div class="c s12">{{block ('iUnit') }}</div>
</div>

<div class="f">
 <div class="c pRa5">{{block ('iBarcode') }}</div>
 <div class="c">{{block ('iBarcode2') }}</div>
</div>

{{block ('iBarcodePrev') }}


{{block ('iBuyprice') }}
<div class="f">
 <div class="c s12 pRa5">{{block ('iPrice') }}</div>
 <div class="c s12">{{block ('iDiscount') }}</div>
</div>

{{block ('iFinalPrice') }}


{{block("iadd")}}
</div>
</form>

{%endblock%}


