{%extends display.dash%}




{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <p>{%trans "Manage how your store calculates and shows tax on your store."%}</p>
      <form method="post" autocomplete="off">

        <div class="switch1 fs12">
         <input type="checkbox" name="tax-status" id="tax-status" {% if dataRow.taxStatus == 'yes'%} checked{%endif%}>
         <label for="tax-status"></label>
         <label for="tax-status">{%trans "Do you want to calc tax?"%}</label>
        </div>
        <p class="fc-mute">{%trans "If tax is enable, we are add in products and factors based on antoher settings."%} {%trans "If you turn it off, we are totally hide tax options from everywhere!"%}</p>

        <div data-response='tax-status' data-response-hide>

          <hr>
          <div class="switch1 fs12">
           <input type="checkbox" name="tax-calc" id="tax-calc" {% if dataRow.tax-calc == 'yes'%} checked{%endif%}>
           <label for="tax-calc"></label>
           <label for="tax-calc">{%trans "VAT default value for new product"%}</label>
          </div>
          <p class="fc-mute">{%trans "You can change default value for VAT on add new product."%}</p>


          <hr>
          <div class="switch1 fs12">
           <input type="checkbox" name="tax-calc" id="tax-calc" {% if dataRow.tax-calc == 'yes'%} checked{%endif%}>
           <label for="tax-calc"></label>
           <label for="tax-calc">{%trans "Show all prices with tax included"%}</label>
          </div>
          <p class="fc-mute">{%trans "If taxes are charged on shipping rates, then taxes are included in the shipping price."%}</p>


          <hr>
          <div class="switch1 fs12">
           <input type="checkbox" name="tax-shipping" id="tax-shipping" {% if dataRow.tax-shipping == 'yes'%} checked{%endif%}>
           <label for="tax-shipping"></label>
           <label for="tax-shipping">{%trans "Charge tax on shipping rates"%}</label>
          </div>
          <p class="fc-mute">{%trans "Include shipping rates in the tax calculation."%}</p>
          <hr>

        </div>


        <div class="f align-center mB10">
          <div class="c fc-mute">{{stepDesc}}</div>
          <div class="cauto os"><button class="btn success">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}
