{%extends display.admin%}




{%block pageContent%}

<form method="post"  autocomplete="off">
  <div class="f justify-center">
    <div class="c6 m8 x5 s12">
      <div class="cbox">
        {{block("iVat")}}
        <div class="f align-center">
          <div class="c"></div>
          <div class="cauto">
            <button class="btn success">{%trans "Save"%}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{%endblock%}




{%block iVat%}
<div class="switch1">
 <input type="checkbox" name="vat" id="vat" {% if dataRow.vat == 'yes'%} checked{%endif%}>
 <label for="vat"></label>
 <label for="vat">{%trans "Vat"%} <small>{%trans "Use vat reader in your store?"%}</small></label>
</div>

{%endblock%}
