{%extends display.suMain%}

{%block pageContent%}

<form class="cbox" method="post" autocomplete="off">
  <div class="input ltr mB10">
    <label for="chatid">{%trans "Chat id or username"%}</label>
    <input type="text" name="chatid" id="chatid" value="46898544" placeholder='{%trans "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"%}' required>
  </div>

  <label for="text">{%trans "Message"%}</label>
  <textarea class="txt mB10" name="text" id="text" rows="7" placeholder='{%trans "Text of the message to be sent"%}' required>{{site.title}}

{{"Now" | jdate("Y-m-d")}}
{{"Now" | jdate("H:i:s")}}
</textarea>

  <button class="btn primary block">{%trans "Send"%}</button>
</form>


{%if tg.send%}
<div class="cbox">
  <h2>{%trans "Last request"%}</h2>
  <div class="msg info2">
    <pre>{{tg.send}}</pre>
  </div>
  <div class="msg">
    <pre>{{tg.response}}</pre>
  </div>
</div>
{%endif%}

{%endblock%}
