{%extends display.admin%}


{%block pageContent%}

{%if factor_list%}
{{block('searchblock')}}
<div class="cbox fs12">
{{block('datatable')}}
</div>


{%elseif utilityGET.q%}
{{block('searchblock')}}
<div class="fs14 alert alert-info pA25">
 {%trans "No factor founded."%} {%trans "Search with new keywords or barcode."%}
 <a class="badge primary pA10" href="{{modulePath}}/add{{moduleTypeP}}" data-shortkey2="119">{%trans "Add new factor"%}</a>
</div>

{%else%}
<div class="cbox fs12">
 <h3>{%trans "You are not have factor yet! add new one."%}</h3>
 <a class="btn primary mT10 pLR50" href="{{modulePath}}/add{{moduleTypeP}}">{%trans "Add new factor"%}</a>
</div>
{%endif%}

{%endblock%}


{%block pageContent2%}

{%if factor_list%}
  <div class="">
    <form method="get" data-action class="cbox">
      <div class="input">
        <input type="text" name="search" placeholder='{%trans "Search in factors list"%}' id="search" value="{{utilityGET.search}}">
        <button class="addon btn ">{%trans "Search" %}</button>
      </div>
    </form>




{%else%}
<p class="msg info2">{%trans "You are not register any factor yet!"%} <a href="{{modulePath}}/add{{moduleTypeP}}">{%trans "Add new factor"%}</a></p>
{%endif%}
    <a href="{{modulePath}}/add" class="btn primary block">{%trans "Add new factor"%}</a>
  </div>

{%endblock%}



{%block searchblock%}
<div class="cbox fs12">
  <form method="get">
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in factors list"%}' id="q" value="{{utilityGET.q}}" autofocus class="barCode" data-default data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block datatable%}
<table class="tbl">
  <thead>

    <tr>
      <th data-sort="{{sort_link.type.order}}"><a href="{{sort_link.type.link}}">{%trans "Type"%}</a></th>
      <th data-sort="{{sort_link.date.order}}"><a href="{{sort_link.date.link}}">{%trans "Invoice Date"%}</a></th>
      <th data-sort="{{sort_link.customer.order}}"><a href="{{sort_link.customer.link}}">{%trans "Customer"%}</a></th>
      <th data-sort="{{sort_link.item.order}}"><a href="{{sort_link.item.link}}">{%trans "Items"%}</a></th>
      <th data-sort="{{sort_link.qty.order}}"><a href="{{sort_link.qty.link}}">{%trans "Qty"%}</a></th>
      <th data-sort="{{sort_link.detailsum.order}}"><a href="{{sort_link.detailsum.link}}">{%trans "Price"%}</a></th>
      <th data-sort="{{sort_link.detaildiscount.order}}"><a href="{{sort_link.detaildiscount.link}}">{%trans "Discount"%}</a></th>
      <th data-sort="{{sort_link.detailtotalsum.order}}"><a href="{{sort_link.detailtotalsum.link}}">{%trans "Total"%}</a></th>
    </tr>

  </thead>
  <tbody>
    {%for key, value in factor_list%}
      <tr>
        <td>{%set myType = value.type | capitalize%}<a href="{{modulePath}}?type={{value.type}}">{%trans myType%}</a></td>
        <td class="ltr txtL"><a href="{{modulePath}}/fishprint?id={{value.id}}&size=receipt8">{{value.date|tdate("Y-m-d")}} <b>{{value.date|tdate("H:i:s")}}</b></a></td>
        <td>
        {%if value.customer%}
          <a href="{{modulePath}}?customer={{value.customer}}">
            {{value.customer_firstname}} <b>{{value.customer_lastname}}</b>
          </a>
        {%else%}
          <i class="disabled">-</i>
        {%endif%}
        </td>
        <td>{{value.item| number_format | fitNumber}}</td>
        <td>{{value.qty| number_format | fitNumber}}</td>
        <td>{{value.detailsum| number_format | fitNumber}}</td>
        <td>{{value.detaildiscount| number_format | fitNumber}}</td>
        <td>{{value.detailtotalsum| number_format | fitNumber}}</td>
      </tr>
    {%endfor%}
  </tbody>
</table>
    {%include display.pagination%}
{%endblock%}



{%block footer2%}
  <a class="c btn mA10" href='{{modulePath}}/add?type=sale'>{%trans "Sale"%}</a>
  <a class="c btn mA10" href='{{modulePath}}/add?type=buy'>{%trans "Buy"%}</a>
  <a class="c btn mA10" href='{{modulePath}}/add?type=prefactor'>{%trans "Prefactor"%}</a>
  <a class="c btn mA10" href='{{modulePath}}/add?type=lending'>{%trans "Lending"%}</a>
  <a class="c btn mA10" href='{{modulePath}}/add?type=backbuy'>{%trans "Backbuy"%}</a>
  <a class="c btn mA10" href='{{modulePath}}/add?type=backfactor'>{%trans "Backfactor"%}</a>
  <a class="c btn mA10" href='{{modulePath}}/add?type=waste'>{%trans "Waste"%}</a>
{%endblock%}



{%block all_field_we_have_hidden%}

    'id'             => string '4' (length=1)
    'store_id'       => string '9' (length=1)
    'customer'       => null
    'factorer'         => string '7' (length=1)
    'date'           => string '2017-11-20 15:37:57' (length=19)
    'shamsidate'     => string '13960829' (length=8)
    'title'          => null
    'pre'            => null
    'transport'      => null
    'pay'            => null
    'detailsum'      => string '16000' (length=5)
    'detaildiscount' => null
    'detailtotalsum' => string '16000' (length=5)
    'item'    => string '2' (length=1)
    'vat'            => null
    'discount'       => null
    'sum'            => string '16000' (length=5)
    'status'         => string 'enable' (length=6)
    'datecreated'    => string '2017-11-20 15:37:57' (length=19)
    'datemodified'   => null
    'desc'           => null

{%endblock%}