{%extends display.admin%}


{%block pageContent%}
{{block('pageSteps')}}

{%if requestGET.type in ['prefactor','lending','backbuy','backfactor','waste', 'other'] %}
  {{block('pageStepsSite')}}
{%endif%}


{%if dataTable%}
 {%if filterBox%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if filterBox%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block pageContent3%}

{%if dataTable%}
{{block('searchblock')}}
<div class="cbox fs12">
{{block('datatable')}}
</div>


{%elseif requestGET.q%}
{{block('searchblock')}}
<div class="fs14 msg warn2 pA25">
 {%trans "No factor founded."%} {%trans "Search with new keywords or barcode."%}
 <a class="badge primary pA10" href="{{url.here}}/sale" data-shortkey2="119">{%trans "Add new sale"%}</a>
 <a class="badge primary pA10" href="{{url.here}}/buy" data-shortkey2="119">{%trans "Add new buy"%}</a>
</div>

{%else%}
<div class="cbox fs12">
 <h3>{%trans "You are not have factor yet! add new one."%}</h3>
 <a class="btn primary mT10 pLR50" href="{{url.here}}/sale">{%trans "Add new sale"%}</a>
 <a class="btn primary mT10 pLR50" href="{{url.here}}/buy">{%trans "Add new buy"%}</a>
</div>
{%endif%}

{%endblock%}


{%block pageContent2%}

{%if dataTable%}
  <div class="">
    <form method="get" data-action class="cbox">
      <div class="input">
        <input type="text" name="search" placeholder='{%trans "Search in factors list"%}' id="search" value="{{requestGET.search}}">
        <button class="addon btn ">{%trans "Search" %}</button>
      </div>
    </form>
  </div>

{%else%}

<p class="msg info2">{%trans "You are not register any factor yet!"%}
  <a href="{{url.here}}/sale">{%trans "Add new sale"%}</a>
  <a href="{{url.here}}/buy">{%trans "Add new buy"%}</a>
</p>

{%endif%}

{%endblock%}



{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action="{{url.this}}" autocomplete="off">
    <div class="input">
      <label for="q" data-kerkere=".ShowFilterResult" data-kerkere-icon class="addon">{%trans "Advance result"%}</label>
      <input type="search" name="q" placeholder='{%trans "Search in factors list"%}' id="q" value="{{requestGET.q}}" autofocus class="barCode" data-default data-pass='submit' autocomplete='off'>
      {%if requestGET.type%}
        <input type="hidden" name="type" value="{{requestGET.type}}">
      {%endif%}
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
    {{block('iKerkere')}}
  </form>
</div>
{%endblock%}


{%block htmlTable%}
  <table class="tbl1 v6 fs12 txtC">
    <thead>
      <tr class="fs08">
        <th data-sort="{{myFilter.customer.order}}"><a href="{{myFilter.customer.link}}">{%if not requestGET.type%}{%trans "Customer"%} / {%trans "Supplier"%}{%elseif requestGET.type == "buy"%}{%trans "Customer"%}{%else%}{%trans "Supplier"%}{%endif%}</a></th>
        <th class="s0" data-sort="{{myFilter.item.order}}"><a href="{{myFilter.item.link}}">{%trans "Items"%}</a></th>
        <th class="s0" data-sort="{{myFilter.qty.order}}"><a href="{{myFilter.qty.link}}">{%trans "Qty"%}</a></th>
        <th class="s0" data-sort="{{myFilter.detailsum.order}}"><a href="{{myFilter.detailsum.link}}">{%trans "Price"%}</a></th>
        <th class="s0" data-sort="{{myFilter.detaildiscount.order}}"><a href="{{myFilter.detaildiscount.link}}">{%trans "Discount"%}</a></th>
        <th data-sort="{{myFilter.detailtotalsum.order}}"><a href="{{myFilter.detailtotalsum.link}}">{%trans "Total"%}</a></th>
        <th data-sort="{{myFilter.date.order}}"><a href="{{myFilter.date.link}}">{%trans "Invoice Date"%}</a></th>
        {%if not requestGET.type%}
        <th class="s0" data-sort="{{myFilter.type.order}}"><a href="{{myFilter.type.link}}">{%trans "Type"%}</a></th>
        {%endif%}
        <th>{%trans "Operation"%}</th>
      </tr>

    </thead>
    <tbody>
      {%for key, value in dataTable%}
        <tr>
          <td>
          {%if value.customer%}
            <a href="{{url.this}}?customer={{value.customer}}">
            {%if value.customer_firstname or value.customer_lastname%}
              {{value.customer_firstname}} <b>{{value.customer_lastname}}</b>
            {%elseif value.customer_displayname%}
               <b>{{value.customer_displayname}}</b>
            {%else%}
              <small>{%trans "Whithout name"%}</small>
            {%endif%}
            </a>
          {%else%}
            <a href="{{url.this}}?customer=-quick">
              <small class="disabled">{%trans "Quick"%}</small>
            </a>
          {%endif%}
          </td>
          <td class="s0"><a href="{{url.this}}?itemequal={{value.item}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}">{{value.item| number_format | fitNumber}}</a></td>
          <td class="s0"><a href="{{url.this}}?qtyequal={{value.qty}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}">{{value.qty| number_format | fitNumber}}</a></td>
          <td class="s0"><a href="{{url.this}}?detailsumequal={{value.detailsum}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}">{{value.detailsum| number_format | fitNumber}}</a></td>
          <td class="s0"><a href="{{url.this}}?detaildiscountequal={{value.detaildiscount}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}">{{value.detaildiscount| number_format | fitNumber}}</a></td>
          <td ><a href="{{url.this}}?detailtotalsum={{value.detailtotalsum}}{%if requestGET.type%}&type={{requestGET.type}}{%endif%}">{{value.detailtotalsum| number_format | fitNumber}}</a></td>
          <td class="collapsing">
            <div class="f">
              <div class="c fs09">{{value.date | dt(true, 'date')}}
              <div class="cauto os txtB pRa10">{{value.date | dt(true, 'time')}}</div>
            </div>
          </td>
          {%if not requestGET.type%}
          <td class="s0" >{%set myType = value.type | capitalize%}<a class="badge" href="{{url.this}}?type={{value.type}}">{%trans myType%}</a></td>
          {%endif%}
          <td>
            <a href="{{url.here}}/chap/receipt?id={{value.id}}&size=receipt8" class="btn primary outline sm">{%trans "View"%}</a>
          </td>
        </tr>
        <tr>
          <td colspan="{%if not requestGET.type%}9{%else%}8{%endif%}" class="pTB0-f txtLa">
            {%set needMore = false%}
            {%set openKerkere = false%}
            {%set counterI = 0%}

            {%for myKey, myValue in value.productInFactor%}

              {%set counterI = counterI + 1%}

              {%if counterI == 7 %}
                {%set needMore = true%}
                <a data-kerkere='.openDetailFactor_{{value.id}}' class="badge primary outline">{%trans "More"%} ... <span class="mLR5">+{{(value.item - 6) | fitNumber(false)}}</span></a>
              {%endif%}

              {%if needMore%}
                {%set openKerkere = true%}
                {%set needMore = false%}
                <div class="openDetailFactor_{{value.id}}" data-kerkere-content='hide'>
              {%endif%}

                <a class="badge {%if requestGET.product == myValue.id%}primary{%else%}secondary outline{%endif%} " href="{{url.this}}?product={{myValue.id}}">{{myValue.title}} <span class="mLR5">{{myValue.count | fitNumber(false)}}</span></a>

            {%endfor%}

            {%if openKerkere%}
              </div>
            {%endif%}

          </td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
    {%include display.pagination%}
{%endblock%}



{%block footer2%}
  <a class="c btn mA10" href='{{url.this}}/add?type=sale'>{%trans "Sale"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=buy'>{%trans "Buy"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=prefactor'>{%trans "Prefactor"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=lending'>{%trans "Lending"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=backbuy'>{%trans "Backbuy"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=backfactor'>{%trans "Backfactor"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=waste'>{%trans "Waste"%}</a>
{%endblock%}



{%block htmlFilter%}
<p class="f fs14 msg warn2 mT20">
  <span class="c">{{filterBox | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%}
  {%if perm('factorSaleAdd')%}<a href="{{url.here}}/sale">{%trans "Try to start with add new sale!"%}</a>{%endif%}
  {%if perm('factorBuyAdd')%}<a href="{{url.here}}/buy">{%trans "Try to start with add new buy!"%}</a>{%endif%}
</p>
{%endblock%}









{%block pageSteps%}
<div class="f">
  {%if perm('factorAccess')%}
  <div class="c s12">
    <a class="dcard {%if not requestGET.type %}active{%endif%}" href='{{url.this}}' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value">{{dashboardDetail.all | fitNumber}}</div>
      <div class="label"><i class="fs16 mRa5 sf-shop"></i> {%trans "All"%}</div>
     </div>
    </a>
  </div>
  {%endif%}
  {%if perm('factorSaleList')%}
  <div class="c s6">
    <a class="dcard {%if requestGET.type == 'sale' %}active{%endif%}" href='{{url.this}}?type=sale' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value">{{dashboardDetail.sale | fitNumber}}</div>
      <div class="label"><i class="fs16 mRa5 sf-cloud-upload"></i> {%trans "Sale"%}</div>
     </div>
    </a>
  </div>
  {%endif%}

  {%if perm('factorBuyList')%}
  <div class="c s6">
    <a class="dcard {%if requestGET.type == 'buy' %}active{%endif%}" href='{{url.this}}?type=buy' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value">{{dashboardDetail.buy | fitNumber}}</div>
      <div class="label"><i class="fs16 mRa5 sf-cloud-download"></i> {%trans "Buy"%}</div>
     </div>
    </a>
  </div>
  {%endif%}

  {%if dashboardDetail.have_other%}
   <div class="cauto">
    <a class="dcard {%if requestGET.type in ['prefactor','lending','backbuy','backfactor','waste', 'other'] %}active{%endif%}" href='{{url.this}}?type=other' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "Other"%} {{dashboardDetail.all_other | fitNumber}}<kbd>T+3</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}

</div>
{%endblock%}



{%block pageStepsSite%}
{%if dashboardDetail.have_other%}
<div class="f msg pB0 secondary2">

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='prefactor'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=prefactor' data-shortkey="49shift">{%trans "Prefactor"%} {{dashboardDetail.prefactor | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='backbuy'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=backbuy' data-shortkey="49shift">{%trans "Back buy"%} {{dashboardDetail.backbuy | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='backfactor'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=backfactor' data-shortkey="49shift">{%trans "Back factor"%} {{dashboardDetail.backfactor | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='lending'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=lending' data-shortkey="49shift">{%trans "Lending"%} {{dashboardDetail.lending | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='waste'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=waste' data-shortkey="49shift">{%trans "waste"%} {{dashboardDetail.waste | fitNumber}}</a>
  </div>

</div>
{%endif%}
{%endblock%}





{%block iKerkere%}



<div class="ShowFilterResult"
{%if






  not requestGET.product    and
  not requestGET.customer     and
  not requestGET.weekday    and
  not requestGET.date     and
  not requestGET.time     and
  not requestGET.startdate    and
  not requestGET.enddate    and

  not requestGET.detailsumlarger    and
  not requestGET.detailsumless    and
  not requestGET.detailsumequal     and

  not requestGET.itemlarger     and
  not requestGET.itemless     and
  not requestGET.itemequal    and

  not requestGET.detaildiscountlarger     and
  not requestGET.detaildiscountless     and
  not requestGET.detaildiscountequal    and

  not requestGET.qtylarger    and
  not requestGET.qtyless    and
  not requestGET.qtyequal     and

  not requestGET.type
%}  data-kerkere-content='hide' {%endif%}>

    <h6 data-kerkere=".showFilterByproduct" data-kerkere-icon>{%trans "Filter by product"%}</h6>
    <div class="showFilterByproduct" {%if not requestGET.product%} data-kerkere-content='hide' {%endif%}>
      {{block('iFilterproduct')}}
    </div>

    <h6 data-kerkere=".showFilterBycustomer" data-kerkere-icon>{%trans "Filter by customer"%}</h6>
    <div class="showFilterBycustomer" {%if not requestGET.customer%} data-kerkere-content='hide' {%endif%}>
      {{block('iFiltercustomer')}}
    </div>

    <h6 data-kerkere=".showFilterByweekday" data-kerkere-icon>{%trans "Filter by weekday"%}</h6>
    <div class="showFilterByweekday" {%if not requestGET.weekday%} data-kerkere-content='hide' {%endif%}>
      {{block('iFilterweekday')}}
    </div>

    <h6 data-kerkere=".showFilterBydate" data-kerkere-icon>{%trans "Filter by date"%}</h6>
    <div class="showFilterBydate" {%if not requestGET.date%} data-kerkere-content='hide' {%endif%}>
      {{block('iFilterdate')}}
    </div>

    <h6 data-kerkere=".showFilterBytime" data-kerkere-icon>{%trans "Filter by time"%}</h6>
    <div class="showFilterBytime" {%if not requestGET.time%} data-kerkere-content='hide' {%endif%}>
      {{block('iFiltertime')}}
    </div>

    <h6 data-kerkere=".showFilterBystartenddate" data-kerkere-icon>{%trans "Filter by start and end date"%}</h6>
    <div class="showFilterBystartenddate" {%if not requestGET.startdate and not requestGET.enddate%} data-kerkere-content='hide' {%endif%}>
      {{block('iFilterstartenddate')}}
    </div>

    <h6 data-kerkere=".showFilterByprice" data-kerkere-icon>{%trans "Filter by price"%}</h6>
    <div class="showFilterByprice" {%if not requestGET.detailsumlarger and not requestGET.detailsumless and not requestGET.detailsumequal%} data-kerkere-content='hide' {%endif%}>
      {{block('iFilterprice')}}
    </div>


    <h6 data-kerkere=".showFilterByitem" data-kerkere-icon>{%trans "Filter by item"%}</h6>
    <div class="showFilterByitem" {%if not requestGET.itemlarger and not requestGET.itemless and not requestGET.itemequal%} data-kerkere-content='hide' {%endif%}>
      {{block('iFilteritem')}}
    </div>

    <h6 data-kerkere=".showFilterBydiscount" data-kerkere-icon>{%trans "Filter by discount"%}</h6>
    <div class="showFilterBydiscount"  {%if not requestGET.detaildiscountlarger and not requestGET.detaildiscountless and not requestGET.detaildiscountequal%} data-kerkere-content='hide' {%endif%}>
      {{block('iFilterdiscount')}}
    </div>

    <h6 data-kerkere=".showFilterBysum" data-kerkere-icon>{%trans "Filter by count"%}</h6>
    <div class="showFilterBysum"  {%if not requestGET.qtylarger and not requestGET.qtyless and not requestGET.qtyequal%} data-kerkere-content='hide' {%endif%}>
      {{block('iFiltersum')}}
    </div>

    <h6 data-kerkere=".showFilterBytype" data-kerkere-icon>{%trans "Filter by type"%}</h6>
    <div class="showFilterBytype" {%if not requestGET.type%} data-kerkere-content='hide' {%endif%}>
      {{block('iFiltertype')}}
    </div>



    <div class="mT10">
      <a href="{{url.this}}" class="btn ">{%trans "Clear filter"%}</a>
      <button class="btn primary">{%trans "Apply"%}</button>
    </div>

</div>

{%endblock%}




{%block iFilterproduct%}
<select name="product" class="ui dropdown search" id="product" data-source='{{url.here}}/product?json=true&q={query}'>
  <option value="" readonly>{%trans "Please choose product"%}</option>
</select>
{%endblock%}



{%block iFiltercustomer%}
<select name="customer" class="ui dropdown search" id="customer" data-source='{{url.here}}/thirdparty?json=true&q={query}'>
  <option value="" readonly>{%trans "Please choose product"%}</option>
</select>
{%endblock%}


{% block iFilterweekday %}
<div class="f">
  <div class="c">
    <div class="radio3">
      <input type="radio" name="weekday" value="saturday" id="weekdaysaturday" {%if requestGET.weekday == 'saturday'  %} checked {%endif%}>
      <label for="weekdaysaturday">{%trans "saturday"%}</label>
    </div>
  </div>

  <div class="c">
    <div class="radio3">
      <input type="radio" name="weekday" value="sunday" id="weekdaysunday" {%if requestGET.weekday == 'sunday'  %} checked {%endif%}>
      <label for="weekdaysunday">{%trans "sunday"%}</label>
    </div>
  </div>


  <div class="c">
    <div class="radio3">
      <input type="radio" name="weekday" value="monday" id="weekdaymonday" {%if requestGET.weekday == 'monday'  %} checked {%endif%}>
      <label for="weekdaymonday">{%trans "monday"%}</label>
    </div>
  </div>



  <div class="c">
    <div class="radio3">
      <input type="radio" name="weekday" value="tuesday" id="weekdaytuesday" {%if requestGET.weekday == 'tuesday'  %} checked {%endif%}>
      <label for="weekdaytuesday">{%trans "tuesday"%}</label>
    </div>
  </div>


  <div class="c">
    <div class="radio3">
      <input type="radio" name="weekday" value="wednesday" id="weekdaywednesday" {%if requestGET.weekday == 'wednesday'  %} checked {%endif%}>
      <label for="weekdaywednesday">{%trans "wednesday"%}</label>
    </div>
  </div>


  <div class="c">
    <div class="radio3">
      <input type="radio" name="weekday" value="thursday" id="weekdaythursday" {%if requestGET.weekday == 'thursday'  %} checked {%endif%}>
      <label for="weekdaythursday">{%trans "thursday"%}</label>
    </div>
  </div>


  <div class="c">
    <div class="radio3">
      <input type="radio" name="weekday" value="friday" id="weekdayfriday" {%if requestGET.weekday == 'friday'  %} checked {%endif%}>
      <label for="weekdayfriday">{%trans "friday"%}</label>
    </div>
  </div>


</div>
{% endblock %}



{%block iFilterdate%}
<div class="input ltr">
  <input class="datepicker" type="text" name="date" title='{%trans "Date"%}' placeholder='{%trans "Special date"%}' id="date"  value="{{dateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
</div>
{%endblock%}

{%block iFiltertime%}
<div class="input clockpicker" data-placement="top" data-align="left">
  <input type="text" name="time" id="time" placeholder='{%trans "Time"%}' autocomplete="off">
</div>

{%endblock%}


{%block iFilterstartenddate%}

    <div class="f">

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input class="datepicker" type="text" name="startdate" title='{%trans "Start date"%}' placeholder='{%trans "Start date"%}' id="startdate"  value="{{startdateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input class="datepicker" type="text" name="enddate" title='{%trans "End date"%}' placeholder='{%trans "End date"%}' id="enddate"  value="{{enddateEn}}" maxlength='20' data-format="YYYYMMDD"data-view="month">
        </div>
      </div>

    </div>
{%endblock%}




{%block iFilterprice%}

    <div class="f">

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="detailsumlarger" placeholder='{%trans "Sum price is greater than ..."%}'  value="{{requestGET.detailsumlarger}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="detailsumless" placeholder='{%trans "Sum price less than ..."%}'  value="{{requestGET.detailsumless}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="detailsumequal" placeholder='{%trans "Price is equal to ..."%}'  value="{{requestGET.detailsumequal}}" min="0" max="9999999999999999">
        </div>
      </div>
    </div>
{%endblock%}




{%block iFilteritem%}

    <div class="f">

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="itemlarger" placeholder='{%trans "Item is greater than ..."%}'  value="{{requestGET.itemlarger}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="itemless" placeholder='{%trans "Item less than ..."%}'  value="{{requestGET.itemless}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="itemequal" placeholder='{%trans "Item is equal to ..."%}'  value="{{requestGET.itemequal}}" min="0" max="9999999999999999">
        </div>
      </div>
    </div>
{%endblock%}


{%block iFiltersum%}

    <div class="f">

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="qtylarger" placeholder='{%trans "Sum is greater than ..."%}'  value="{{requestGET.qtylarger}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="qtyless" placeholder='{%trans "Sum less than ..."%}'  value="{{requestGET.qtyless}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="qtyequal" placeholder='{%trans "Sum is equal to ..."%}'  value="{{requestGET.qtyequal}}" min="0" max="9999999999999999">
        </div>
      </div>
    </div>
{%endblock%}



{%block iFilterdiscount%}

    <div class="f">

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="detaildiscountlarger" placeholder='{%trans "Discount is greater than ..."%}'  value="{{requestGET.detaildiscountlarger}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="detaildiscountless" placeholder='{%trans "Discount less than ..."%}'  value="{{requestGET.detaildiscountless}}" min="0" max="9999999999999999">
        </div>
      </div>

      <div class="c s12 mB5 pRa5">
        <div class="input ltr">
          <input  type="number" name="detaildiscountequal" placeholder='{%trans "Discount is equal to ..."%}'  value="{{requestGET.detaildiscountequal}}" min="0" max="9999999999999999">
        </div>
      </div>
    </div>
{%endblock%}



{% block iFiltertype %}
<div class="f">
  <div class="c">
    <div class="radio3">
      <input type="radio" name="type" value="sale" id="typesale" {%if requestGET.type == 'sale'  %} checked {%endif%}>
      <label for="typesale">{%trans "sale"%}</label>
    </div>
  </div>

  <div class="c">
    <div class="radio3">
      <input type="radio" name="type" value="buy" id="typebuy" {%if requestGET.type == 'buy'  %} checked {%endif%}>
      <label for="typebuy">{%trans "buy"%}</label>
    </div>
  </div>


</div>
{% endblock %}




