{%extends display.admin%}


{%block pageContent%}
{{block('pageSteps')}}

{%if requestGET.type in ['prefactor','lending','backbuy','backfactor','waste', 'other'] %}
  {{block('pageStepsSite')}}
{%endif%}


{%if dataTable%}
 {%if filterBox%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if filterBox%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block pageContent3%}

{%if dataTable%}
{{block('searchblock')}}
<div class="cbox fs12">
{{block('datatable')}}
</div>


{%elseif requestGET.q%}
{{block('searchblock')}}
<div class="fs14 msg warn2 pA25">
 {%trans "No factor founded."%} {%trans "Search with new keywords or barcode."%}
 <a class="badge primary pA10" href="{{url.here}}/sale" data-shortkey2="119">{%trans "Add new sale"%}</a>
 <a class="badge primary pA10" href="{{url.here}}/buy" data-shortkey2="119">{%trans "Add new buy"%}</a>
</div>

{%else%}
<div class="cbox fs12">
 <h3>{%trans "You are not have factor yet! add new one."%}</h3>
 <a class="btn primary mT10 pLR50" href="{{url.here}}/sale">{%trans "Add new sale"%}</a>
 <a class="btn primary mT10 pLR50" href="{{url.here}}/buy">{%trans "Add new buy"%}</a>
</div>
{%endif%}

{%endblock%}


{%block pageContent2%}

{%if dataTable%}
  <div class="">
    <form method="get" data-action class="cbox">
      <div class="input">
        <input type="text" name="search" placeholder='{%trans "Search in factors list"%}' id="search" value="{{requestGET.search}}">
        <button class="addon btn ">{%trans "Search" %}</button>
      </div>
    </form>
  </div>

{%else%}

<p class="msg info2">{%trans "You are not register any factor yet!"%}
  <a href="{{url.here}}/sale">{%trans "Add new sale"%}</a>
  <a href="{{url.here}}/buy">{%trans "Add new buy"%}</a>
</p>

{%endif%}

{%endblock%}



{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action="{{url.this}}">
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search in factors list"%}' id="q" value="{{requestGET.q}}" autofocus class="barCode" data-default data-pass='submit' autocomplete='off'>
      {%if requestGET.type%}
        <input type="hidden" name="type" value="{{requestGET.type}}">
      {%endif%}
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
  <table class="tbl1 v6 fs12 txtC">
    <thead>
      <tr>
        <th data-sort="{{myFilter.customer.order}}"><a href="{{myFilter.customer.link}}">{%if not requestGET.type or requestGET.type != 'buy'%}{%trans "Customer"%}{%else%}{%trans "Supplier"%}{%endif%}</a></th>
        <th data-sort="{{myFilter.item.order}}"><a href="{{myFilter.item.link}}">{%trans "Items"%}</a></th>
        <th data-sort="{{myFilter.qty.order}}"><a href="{{myFilter.qty.link}}">{%trans "Qty"%}</a></th>
        <th data-sort="{{myFilter.detailsum.order}}"><a href="{{myFilter.detailsum.link}}">{%trans "Price"%}</a></th>
        <th data-sort="{{myFilter.detaildiscount.order}}"><a href="{{myFilter.detaildiscount.link}}">{%trans "Discount"%}</a></th>
        <th data-sort="{{myFilter.detailtotalsum.order}}"><a href="{{myFilter.detailtotalsum.link}}">{%trans "Total"%}</a></th>
        <th data-sort="{{myFilter.date.order}}"><a href="{{myFilter.date.link}}">{%trans "Invoice Date"%}</a></th>
        {%if not requestGET.type%}
        <th data-sort="{{myFilter.type.order}}"><a href="{{myFilter.type.link}}">{%trans "Type"%}</a></th>
        <th>{%trans "Operation"%}</th>
        {%endif%}
      </tr>

    </thead>
    <tbody>
      {%for key, value in dataTable%}
        <tr>
          <td>
          {%if value.customer%}
            <a href="{{url.this}}?customer={{value.customer}}">
            {%if value.customer_firstname or value.customer_lastname%}
              {{value.customer_firstname}} <b>{{value.customer_lastname}}</b>
            {%elseif value.customer_displayname%}
               <b>{{value.customer_displayname}}</b>
            {%else%}
              <small>{%trans "Whithout name"%}</small>
            {%endif%}
            </a>
          {%else%}
            <a href="{{url.this}}?customer=-quick">
              <small class="disabled">{%trans "Quick"%}</small>
            </a>
          {%endif%}
          </td>
          <td>{{value.item| number_format | fitNumber}}</td>
          <td>{{value.qty| number_format | fitNumber}}</td>
          <td>{{value.detailsum| number_format | fitNumber}}</td>
          <td>{{value.detaildiscount| number_format | fitNumber}}</td>
          <td>{{value.detailtotalsum| number_format | fitNumber}}</td>
          <td class="collapsing">
            <div class="f">
              <div class="c">{{value.date | dt(true, 'date')}}
              <div class="cauto os txtB pRa10">{{value.date | dt(true, 'time')}}</div>
            </div>
          </td>
          {%if not requestGET.type%}
          <td>{%set myType = value.type | capitalize%}<a class="badge" href="{{url.this}}?type={{value.type}}">{%trans myType%}</a></td>
          {%endif%}
          <td>
            <a href="{{url.here}}/chap/receipt?id={{value.id}}&size=receipt8" class="btn primary outline sm">{%trans "View"%}</a>
          </td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
    {%include display.pagination%}
{%endblock%}



{%block footer2%}
  <a class="c btn mA10" href='{{url.this}}/add?type=sale'>{%trans "Sale"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=buy'>{%trans "Buy"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=prefactor'>{%trans "Prefactor"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=lending'>{%trans "Lending"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=backbuy'>{%trans "Backbuy"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=backfactor'>{%trans "Backfactor"%}</a>
  <a class="c btn mA10" href='{{url.this}}/add?type=waste'>{%trans "Waste"%}</a>
{%endblock%}



{%block htmlFilter%}
<p class="f fs14 msg warn2 mT20">
  <span class="c">{{filterBox | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%}
  {%if perm('factorSaleAdd')%}<a href="{{url.here}}/sale">{%trans "Try to start with add new sale!"%}</a>{%endif%}
  {%if perm('factorBuyAdd')%}<a href="{{url.here}}/buy">{%trans "Try to start with add new buy!"%}</a>{%endif%}
</p>
{%endblock%}









{%block pageSteps%}
<div class="f">
  {%if perm('factorAccess')%}
  <div class="c s6">
    <a class="dcard {%if not requestGET.type %}active{%endif%}" href='{{url.this}}' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value">{{dashboardDetail.all | fitNumber}}</div>
      <div class="label"><i class="fs16 mRa5 sf-shop"></i> {%trans "All"%}</div>
     </div>
    </a>
  </div>
  {%endif%}
  {%if perm('factorSaleList')%}
  <div class="c s6">
    <a class="dcard {%if requestGET.type == 'sale' %}active{%endif%}" href='{{url.this}}?type=sale' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value">{{dashboardDetail.sale | fitNumber}}</div>
      <div class="label"><i class="fs16 mRa5 sf-cloud-upload"></i> {%trans "Sale"%}</div>
     </div>
    </a>
  </div>
  {%endif%}

  {%if perm('factorBuyList')%}
  <div class="c">
    <a class="dcard {%if requestGET.type == 'buy' %}active{%endif%}" href='{{url.this}}?type=buy' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value">{{dashboardDetail.buy | fitNumber}}</div>
      <div class="label"><i class="fs16 mRa5 sf-cloud-download"></i> {%trans "Buy"%}</div>
     </div>
    </a>
  </div>
  {%endif%}

  {%if dashboardDetail.have_other%}
   <div class="cauto">
    <a class="dcard {%if requestGET.type in ['prefactor','lending','backbuy','backfactor','waste', 'other'] %}active{%endif%}" href='{{url.this}}?type=other' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "Other"%} {{dashboardDetail.all_other | fitNumber}}<kbd>T+3</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}

</div>
{%endblock%}



{%block pageStepsSite%}
{%if dashboardDetail.have_other%}
<div class="f msg pB0 secondary2">

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='prefactor'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=prefactor' data-shortkey="49shift">{%trans "Prefactor"%} {{dashboardDetail.prefactor | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='backbuy'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=backbuy' data-shortkey="49shift">{%trans "Back buy"%} {{dashboardDetail.backbuy | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='backfactor'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=backfactor' data-shortkey="49shift">{%trans "Back factor"%} {{dashboardDetail.backfactor | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='lending'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=lending' data-shortkey="49shift">{%trans "Lending"%} {{dashboardDetail.lending | fitNumber}}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='waste'%} primary{%else%} light{%endif%}" href='{{url.this}}?type=waste' data-shortkey="49shift">{%trans "waste"%} {{dashboardDetail.waste | fitNumber}}</a>
  </div>

</div>
{%endif%}
{%endblock%}

