{%extends display.admin%}

{%block pageContent%}

{%if child == "add"%}
{%block dataAdd%}{%endblock%}

{%else%}

<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
{%block data%}{%endblock%}
 </div>
</div>
{%endif%}
{%endblock%}




{%block psidebar%}
<div class="cbox normal">

 <div class="vcard">
  <a href='{{url.baseFull}}/buy/edit/avatar?id={{utilityGET.id}}'>
  {%if buy.avatar%}
    <img src="{{buy.avatar}}">
  {%else%}
    <img src="{{url.static}}siftal/images/useful/user1.png">
  {%endif%}
  </a>
  <div class="content">
    <div class="header">{{buy.name}} <b>{{buy.lastname}}</b></div>
    <div class="meta"><span>{{buy.grade_title}}</span></div>
    {%if buy.mobile%}
    <div class="desc"><i class="sf-mobile fs2"></i>{{buy.mobile|fitNumber}}</div>
    {%endif%}
  </div>
  {%if buy.nationalcode%}
  <div class="footer">{{buy.nationalcode|fitNumber}}</div>
  {%endif%}
 </div>

 <a class="btn block mTB10" href='{{url.baseFull}}/buy/edit/general?id={{utilityGET.id}}'>{%trans "General Detail"%}</a>
 <!-- <a class="btn block mTB10" href='{{url.baseFull}}/buy/edit/thumb?id={{utilityGET.id}}'>{%trans "Document Photo"%}</a> -->
 <a class="btn block mTB10" href='{{url.baseFull}}/buy/edit/contact?id={{utilityGET.id}}'>{%trans "Contact information"%}</a>
 <a class="btn block mTB10" href='{{url.baseFull}}/buy/edit/identification?id={{utilityGET.id}}'>{%trans "Identification detail"%}</a>
 <a class="btn block mTB10" href='{{url.baseFull}}/buy/edit/address?id={{utilityGET.id}}'>{%trans "Location and address"%}</a>
</div>
{%endblock%}



{%block iname%}
<label for="name">{%trans "Name"%} <span class="fc-red">*</span></label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Name"%}' value="{{buy.firstname}}" autofocus maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid name from 3 to 40 character"%}'>
</div>
{%endblock%}


{%block ifamily%}
<label for="lastName">{%trans "Last name"%} <span class="fc-red">*</span></label>
<div class="input">
  <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%}' value="{{buy.lastname}}" maxlength='60'>
</div>
{%endblock%}


{%block igrade%}
<label for="grade">{%trans "Grade"%}</label>
<select name="grade" id="grade" class="select">
  <option value="" readonly>{%trans "Select buy grade"%}</option>
  {%for key, value in grade_list%}
  <option value="{{key}}" {%if buy.grade == key%} selected {%endif%}>{{value.title}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block imobile%}
<label for="mobile">{%trans "Mobile"%}</label>
<div class="input">
  <input type="text" name="mobile" id="mobile" placeholder='{%trans "Like 09120123456"%}' value="{{buy.mobile}}" maxlength='30'>
</div>
{%endblock%}


{%block incode%}
<label for="nationalcode">{%trans "National code"%}</label>
<div class="input">
  <input type="number" name="nationalcode" id="nationalcode" placeholder='{%trans "10 digit national code"%}' value="{{buy.nationalcode}}" min=0 max=9999999999>
</div>
{%endblock%}


{%block ifather%}
<label for="father">{%trans "Father name"%}</label>
<div class="input">
  <input type="text" name="father" id="father" placeholder='{%trans "Father name"%}' value="{{buy.father}}" maxlength='50'>
</div>
{%endblock%}


{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" placeholder='{{"1369/04/15" | fitNumber}}' value="{{buy.birthday}}" maxlength='20' data-format="YYYY/MM/DD" data-initialValue='false' data-view="year">
</div>
{%endblock%}


{%block igender%}
<div class="switch1 gender pA5">
 <input type="checkbox" name="gender" id="gender" {%if buy.gender == 'female' or school_gender == 'female'%}checked{%endif%}>
 <label for="gender"></label>
 <label for="gender">{%trans "Gender"%}</label>
</div>
{%endblock%}


{%block iclassroom%}
<label for="classroom_id">{%trans "Classroom"%}</label>
<div class="input">
  <select  name="classroom_id" class="select" id="classroom_id">
      <option value="">{%trans "Please select one classroom"%}</option>
    {%for key, value in classroomList%}
      <option value="{{key}}" {%if key == buy.classroom_id%} selected {%endif%}>{{value}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block ibirthcity%}
<label for="birthcity">{%trans "Birth city"%}</label>
<div class="input">
  <input type='text' class="awesomplete" name="birthcity" id="birthcity" placeholder='{%trans "Birth city"%}' value="{{buy.birthplace}}" maxlength='50' data-minchars="1" data-autofirst data-list="{{city_list}}"/>

</div>
{%endblock%}


{%block icountry%}
<label for='country'>{%trans "Country"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='country' id='country' data-minchars="1" data-autofirst data-list="{{country_list}}" value="{{buy.country}}" />
</div>
{%endblock%}


{%block iprovince%}

<label for='province'>{%trans "Province"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='province' id='province' data-minchars="1" data-autofirst data-list="{{provice_list}}" value="{{buy.province}}" />
</div>
{%endblock%}


{%block icity%}
<label for='city'>{%trans "City"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='city' id='city' data-minchars="1" data-autofirst data-list="{{city_list}}" value="{{buy.city}}" />
</div>
{%endblock%}


{%block izipcode%}
<label for='zipcode'>{%trans "Zip code"%}</label>
<div class="input">
 <input type='number' name='zipcode' id='zipcode' min="0" value="{{buy.zipcode}}"/>
</div>
{%endblock%}


{%block ireligion%}
<label for='religion'>{%trans "Religion"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='religion' id='religion' data-minchars="1" data-autofirst data-list="Islam"/>
</div>
{%endblock%}


{%block ibirthplace%}
<label for='birthplace'>{%trans "Birth place"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='birthplace' id='birthplace' data-minchars="1" data-autofirst data-list="{{city_list}}" value="{{buy.birthplace}}" />
</div>
{%endblock%}


{%block iissueplace%}
<label for='issueplace'>{%trans "Issue Place"%}</label>
<div class="input">
 <input type='text' class="awesomplete" name='issueplace' id='issueplace' data-minchars="1" data-autofirst data-list="{{city_list}}" value="{{buy.issueplace}}" />
</div>
{%endblock%}


{%block ipassport%}
<label for='passport'>{%trans "Passport id"%}</label>
<div class="input ltr">
 <input name='passport' id='passport' value="{{buy.passportcode}}" />
</div>
{%endblock%}


{%block ipassportexpire%}
<label for='passportexpire'>{%trans "Passport expire date"%}</label>
<div class="input ltr">
 <input name='passportexpire' id='passportexpire' value="{{buy.passportexpire}}" />
</div>
{%endblock%}


{%block iid%}
<label for='id'>{%trans "Id number"%}</label>
<div class="input">
 <input type="tel" name='shcode' id='id' value="{{buy.shcode}}" />
</div>
{%endblock%}


{%block inid%}
<label for='nid'>{%trans "National Id"%}</label>
<div class="input">
 <input type="tel" name='nationalcode' id='nid' value="{{buy.nationalcode}}" />
</div>
{%endblock%}

{%block iaddrress%}
<label for='addrress'>{%trans "Address"%}</label>
<div class="input">
 <input name='address' id='addrress' value="{{buy.address}}" />
</div>
{%endblock%}







{%block iStaffMobile%}
<label for="buy-mobile">{%trans "Mobile of Staff"%}</label>
<div class="input">
  <input type="tel" name="mobile" id="buy-mobile" placeholder='{%trans "Like"%} 0912 012 3456' value="{{buy.mobile}}" maxlength='50'>
</div>
{%endblock%}


{%block iPhone%}
<label for="phone">{%trans "Phone"%}</label>
<div class="input">
  <input type="tel" name="phone" id="phone" placeholder='{%trans "Like"%} 025 3650 5281' value="{{buy.phone}}" maxlength='50'>
</div>
{%endblock%}



{%block iFatherMobile%}
<label for="father-mobile">{%trans "Mobile of father"%}</label>
<div class="input">
  <input type="tel" name="fathermobile" id="father-mobile" placeholder='{%trans "Like"%} 0912 111 2222' value="{{buy.fathermobile}}" maxlength='50'>
</div>
{%endblock%}



{%block iMotherMobile%}
<label for="mother-mobile">{%trans "Mobile of mother"%}</label>
<div class="input">
  <input type="tel" name="mothermobile" id="mother-mobile" placeholder='{%trans "Like"%} 0912 111 2222' value="{{buy.mothermobile}}" maxlength='50'>
</div>
{%endblock%}


{%block iPostcode%}
<label for="postcode">{%trans "Post code"%}</label>
<div class="input">
  <input type="number" name="postcode" id="postcode" placeholder='{%trans "Post code"%}' value="{{buy.postcode}}" maxlength='50'>
</div>
{%endblock%}


{%block iAddress%}
<label for="address">{%trans "Address"%}</label>
<div class="input">
  <input type="text" name="address" id="address" placeholder='{%trans "Address"%}' value="{{buy.address}}" maxlength='500'>
</div>
{%endblock%}


{%block iEmail%}
<label for="email">{%trans "Email"%}</label>
<div class="input">
  <input type="email" name="email" id="email" placeholder='{%trans "Like"%} abc@example.com' value="{{buy.email}}" maxlength='50'>
</div>
{%endblock%}


{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title="Simple Title">
    {%if buy.avatar%}<img src="{{buy.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iNationalthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="nationalthumb" id="nationalthumb" data-preview data-max="500">
 <label for="nationalthumb" title="Simple Title">
    {%if buy.nationalthumb%}<img src="{{buy.nationalthumb}}">{%endif%}
 </label>
</div>
{%endblock%}


{%block iShthumb%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="shthumb" id="shthumb" data-preview data-max="500">
 <label for="shthumb" title="Simple Title">
    {%if buy.shthumb%}<img src="{{buy.shthumb}}">{%endif%}
 </label>
</div>
{%endblock%}




{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

