{%extends display.jibresControlLayout%}


{%block pageContent%}
<div class="f justify-center">
	<div class="c6 m8 s12">
		<div class="cbox">
		{%if myDomain%}
		<div class="msg success2 txtC txtB">
			{{myDomain}}
		</div>
		{%else%}
			{{block('iDomainWhois')}}
		{%endif%}


		{%if checkResult%}

			{%if checkResult.available%}
				{{block('buyForm')}}
			{%else%}
			<div class="msg warn2">
				{%trans "Domain is occupied"%}
				<span class="floatL">
					<a class="btn warn" target="_blank" href="{{url.kingdom}}/whois/{{myDomain}}">{%trans "Whois"%}</a>
				</span>
			</div>
			<div class="txtRa">
				<a href="{{url.this}}" class="btn secondary">{%trans "Never mind"%}</a>
			</div>
			{%endif%}

		{%endif%}
		</div>
	</div>
</div>

{%endblock%}



{%block iDomainWhois%}
<form method="post" autocomplete="off" class="mB20" action="{{url.here}}/buy">
	<input type="hidden" name="whois" value="1">
	<div class="input ltr">
		<input type="text" name="domain" placeholder='{%trans "Domain"%}' value="{{myDomain}}">
		<button class="btn addon success">{%trans "Check domain"%}</button>
	</div>
</form>


{%if domainError%}
<div class="msg danger">{{domainError}}</div>
{%endif%}

{%if checkResult%}

	{%if checkResult.available%}
	<div class="msg success2">{%trans "Domain is available"%}
		<span class="floatL">
			<a class="btn success" href="{{url.here}}/buy/{{url.module}}">{%trans "Buy"%}</a>
		</span>
	</div>
	{%else%}
	<div class="msg warn2">{%trans "Domain is occupied"%}
		<span class="floatL">
			<a class="btn warn" target="_blank" href="{{url.kingdom}}/whois/{{url.module}}">{%trans "Whois"%}</a>
		</span>
	</div>
	{%endif%}

{%endif%}
{%endblock%}



{%block buyForm%}
<form method="post" autocomplete="off" action="{{url.this}}">

	{%if url.child%}
		<input type="hidden" name="domain" value="{{url.child}}">
	{%endif%}

	<label for="irnicid">{%trans "IRNIC contact"%} <small><a href="{{url.here}}/contact/add?type=new">{%trans "Create new IRNIC contact"%}</a></small></label>
	<select name="irnicid" class="select ui dropdown search addition" id="irnicid">
	<option value="">{%trans "IRNIC contact id"%}</option>
	{%for key, value in myContactList%}
	  <option value="{{value.nic_id}}" {%if value.isdefault%} selected {%endif%}>{{value.nic_id}}</option>
	{%endfor%}
	</select>



	<div class="f mB10">
      <div class="c pRa5">
          <div class="radio3">
            <input type="radio" name="period" value="1year" id="period1year">
            <label for="period1year">{%trans "1 Year"%} <span>{{3000 | fitNumber}} {%trans "Toman"%} </span></label>
          </div>
      </div>
      <div class="c">
          <div class="radio3">
            <input type="radio" name="period" value="5year" id="period5year">
            <label for="period5year">{%trans "5 Year"%} <span>{{15000 | fitNumber}} {%trans "Toman"%} </span></label>
          </div>
      </div>
    </div>


    <label for="dnsid">{%trans "DNS records"%} <small><a data-kerkere='.addNewDns' >{%trans "Create new DNS"%}</a></small></label>
	<select name="dnsid" class="select ui dropdown search addition" id="dnsid">
	<option value="">{%trans "DNS record"%}</option>
	{%for key, value in myDNSList%}
	  <option value="{{value.id | coding('encode')}}" {%if value.isdefault%} selected {%endif%}>{{value.title}} - {{value.ns1}}</option>
	{%endfor%}
	</select>

	<div class='addNewDns' data-kerkere-content='hide'>

	    <div class="f">
	    	<div class="c6 s12">
			    <label for="ns1">{%trans "DNS #1"%}</label>
				<div class="input">
					<input type="text" name="ns1" id="ns1" maxlength="100">
				</div>
	    	</div>

	    	<div class="c6 s12">
	    		<div class="mLa5">
					<label for="ns2">{%trans "DNS #2"%}</label>
					<div class="input">
						<input type="text" name="ns2" id="ns2" maxlength="100">
					</div>
	    		</div>
	    	</div>

	    	<div class="c6 s12">
				<label for="ns3">{%trans "DNS #3"%}</label>
				<div class="input">
					<input type="text" name="ns3" id="ns3" maxlength="100">
				</div>
	    	</div>

	    	<div class="c6 s12">
	    		<div class="mLa5">
					<label for="ns4">{%trans "DNS #4"%}</label>
					<div class="input">
						<input type="text" name="ns4" id="ns4" maxlength="100">
					</div>
	    		</div>
	    	</div>
	    </div>

	</div>

    <div class="check1">
      <input type="checkbox" name="agree" id="agree">
      <label for="agree">{%trans "I have read and agree to the terms and conditions"%} <small><a target="_blank" href="https://www.nic.ir/Rules_and_Contracts">{%trans "Show terms"%}</a></small></label>
    </div>

	<div class="txtRa">
		<button class="btn success">{%trans "Buy"%}</button>
	</div>
</form>
{%endblock%}