{%extends display.admin%}



{%block pageContent%}

<form method="post">

<div class="cbox mB10">
  <div class="f">

    <div class="c s12 input pRa5">
      <label>{%trans "Name"%} <small class="fc-red">{%trans "Require"%} *</small></label>
      <input type="text" name="name" title='{%trans "The permission name should be unique and contain only alphanameric characters and underscores"%}' placeholder='{%trans "Name of your permission"%} *' autocomplete="off" class="ltr" {%if perm.load.title%} readonly disabled {%endif%} value="{{requestGET.id}}">
    </div>
    <div class="c s12 input">
      <label>{%trans "Label"%} <small class="fc-red">{%trans "Require"%} *</small></label>
      <input type="text" name="label" title='{%trans "The permission label is used to represent your permission in user management"%}' placeholder='{%trans "Label of your permission"%} *' autocomplete="off" value="{{perm.load.title}}">
    </div>
  </div>
</div>

{%for permList in perm.list%}
{%for ckey, cvalue in permList%}
<div class="cbox mB10">
  <h3>{%trans ckey%}</h3>
  <div class="f">
{%for key, value in cvalue%}
    <div class="switch1 c4 s12">
     <input type="checkbox" name="{{key}}" id="{{key}}" data-require="{{value.require | join('|') }}" {%if key in perm.load.contain or requestGET.id == 'admin' %} checked {%endif%}>
     <label for="{{key}}"></label>
     <label for="{{key}}" title='{{key}}'>{%set myTitle = value.title%}{%trans myTitle%}</label>
    </div>
{%endfor%}
  </div>
</div>
{%endfor%}
{%endfor%}

<button class="btn primary block xl">{%trans "Save"%}</button>
</form>

{%endblock%}


{%block foot_js%}
<script>
route('*', function ()
{

}).once(function()
{
  $('input[type=checkbox]').off('change');
  $('input[type=checkbox]').on('change', function()
  {
    var myRequire = $(this).attr('data-require');
    if($(this).is(":checked") === true && myRequire)
    {
      myRequire = myRequire.split('|');
      console.log(myRequire);

      $.each(myRequire, function(index, val)
      {
        console.log(val)
        console.log($('#'+ val));
        $('#'+ val).prop('checked', true);
      });
    }
  });
});



</script>
{%endblock%}



