{%extends display.jibresControlLayout%}


{%block pageContent%}

<div class="f justify-center">
  <div class="c4 s12">
    <div id="get_started_card">
      <h1>{%trans "Create a new store"%}</h1>
      <p>{%trans "To make a online store from scratch, please enter your bussiness name."%}</p>

      <input type="text" class="input" name="bt" placeholder='{%trans "Your bussiness title"%}'autofocus maxlength='50' required>

      <button class="btn success block">{%trans "Create my store now"%}</button>

      <div class="msg mT10 fs08">{{termOfService | raw}}</div>


      <img src="{{url.static}}/img/store/your-brand.svg">
    </div>
    <div class="txtLa">
      <a href="{{url.here}}" class="btn">{%trans "Cancel"%}</a>
    </div>
  </div>
</div>
{%endblock%}

