{%extends display.admin%}

{%block pageContent%}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
{%block data%}{%endblock%}
 </div>
</div>
{%endblock%}





{%block psidebar%}
<div class="cbox normal">


  <a class="vcard mA10 shadow {{cardColor}}" href='{{url.baseFull}}/setting/logo'>
    <img src="{{current_store.logo}}" alt="{{current_store.name}}" class="pA10-f">
    <div class="content">
      <div class="header">{{current_store.name}}</div>
      {%if current_store.rule != 'admin' and current_store.privacy == 'private' or true%}
      {%else%}
        {%if not current_store.stats.last_traffic_string%}
          <div class="meta"><span>{%trans "Without traffic"%}</span></div>
        {%else%}
          <div class="meta"><span>{%trans "Last traffic"%} {{current_store.stats.last_traffic_string| fitNumber}}</span></div>
        {%endif%}
      {%endif%}
    </div>
  </a>

 <a class="btn block mTB5" href='{{url.baseFull}}/setting/general'>{%trans "General Detail"%}</a>
 <a class="btn block mTB5" href='{{url.baseFull}}/setting/plan'>{%trans "Store Plan"%}</a>
  <!-- <a class="btn block mTB5" href='{{url.baseFull}}/setting/security'>{%trans "Security and privacy"%}</a> -->
 <a class="btn block mTB5" href='{{url.baseFull}}/setting/report'>{%trans "Report Settings"%}</a>

</div>
{%endblock%}







{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}


{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block iInsert%}
<button class="btn primary block mT20">{%trans "Insert"%}</button>
{%endblock%}

{%block iSaveAll%}
<button class="btn primary block mT20">{%trans "Save All"%}</button>
{%endblock%}


{%block iLogo%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="logo" id="logo1" data-preview data-max="500">
 <label for="logo1" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if current_store.logo%}
  <img src="{{current_store.logo}}" alt="{{current_store.name}}" id="logoPreview">
{%endif%}
 </label>
</div>
{%endblock%}


{%block iname%}
<label for="name">{%trans "Name"%} <span class="fc-red">*</span></label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Name"%}' value="{{current_store.name}}" autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name from 3 to 40 character"%}' required>
</div>
{%endblock%}


{%block islug%}
<label for="slug">{%trans "Team short name"%} <small>{%trans "Used for url of board"%}</small></label>
<div class="input fix">
  <input type="text" name="slug" id="slug" placeholder='{%trans "Slug of team for board url"%}' value="{{current_store.slug}}" maxlength='30' class="ltr">
  <label class="addon ltr" for="slug">.Jibres.com</label>
</div>
{%endblock%}


{%block iwebsite%}
<label for="website">{%trans "Website"%} <small>{%trans "Link your logo on board for visitors"%}</small></label>
<div class="input">
  <input type="url" name="website" id="website" placeholder='{%trans "Website"%}' value="{{current_store.website}}" maxlength='30'>
</div>
{%endblock%}


{%block idesc%}
<label for="desc">{%trans "Description"%} <small>{%trans "Used for description of board and show in social media links"%}</small></label>
<textarea class="txt mB10" name="desc" placeholder='{%trans "Description"%}' maxlength='300' rows="3">{{current_store.desc}}</textarea>
{%endblock%}



{%block iplan%}
<label>{%trans "Choose your plan"%}</label>

<div class="radio1">
  <input type="radio" name="plan" id="r-free" value="free" {%if current_plan.plan_name =='free'%}checked{%endif%}>
  <label for="r-free">{%trans "Free"%} <small>{%trans "All the basics for personal use."%}</small></label>
</div>

<div class="radio1">
  <input type="radio" name="plan" id="r-simple" value="simple" {%if current_plan.plan_name =='simple'%}checked{%endif%}>
  <label for="r-simple">{%trans "Simple"%} <small>{%trans "Everything in Free plus automatic report via Telegram."%}</small></label>
</div>

<div class="radio1">
  <input type="radio" name="plan" id="r-standard" value="standard" {%if current_plan.plan_name =='standard'%}checked{%endif%}>
  <label for="r-standard">{%trans "Standard"%} <small>{%trans "Everything you need for a growing business."%}</small></label>
</div>

<div class="radio1">
  <input type="radio" name="plan" id="r-full" value="full" {%if current_plan.plan_name =='full'%}checked{%endif%}>
  <label for="r-full">{%trans "Full"%} <small>{%trans "For big companies that need fix price per month."%}</small></label>
</div>
{%endblock%}





{%block iLanguage%}
<label for="language">{%trans "Force show in specefic language"%}</label>
 <select class="select" name="language" id='language'>
   <option value="">{%trans "Please select one language"%}</option>
   <option value="fa" {%if current_store.language == 'fa'%} selected {%endif%}>{%trans "Persian"%}</option>
   <option value="en" {%if current_store.language == 'en'%} selected {%endif%}>{%trans "English"%}</option>
 </select>
{%endblock%}




{%block iHeader%}
<label for="reportHeader">{%trans "Report Header"%}</label>
<div class="input">
  <input type="text" name="reportHeader" id="reportHeader" placeholder='{%trans "Report Header"%}' value="{{reportHeader}}" maxlength='50'>
</div>
{%endblock%}


{%block iFooter%}
<label for="reportFooter">{%trans "Report Footer"%}</label>
<div class="input">
  <input type="text" name="reportFooter" id="reportFooter" placeholder='{%trans "Report Footer"%}' value="{{reportFooter}}" maxlength='50'>
</div>
{%endblock%}



