{%extends display.admin%}

{%block pageContent%}
{{block('pageSteps')}}

{%block data%}{%endblock%}
{%endblock%}




{%block pageSteps%}
<div class="f" data-scroll>

  <div class="c">
    <a class="dcard {%if url.child == 'general' %}active{%endif%}" href='{{url.this}}/general' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-cogs"></i></div>
      <div class="label">{%trans "Public"%} <kbd>Shift+1</kbd></div>
     </div>
    </a>
  </div>

  {%if perm('settingEditPlan')%}
  <div class="c">
    <a class="dcard {%if url.child == 'plan' %}active{%endif%}" href='{{url.this}}/plan' data-shortkey="51shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-rocket-1"></i></div>
      <div class="label">{%trans "Plan"%} <kbd>Shift+3</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}

  {%if perm('settingEditFactor')%}
  <div class="c">
    <a class="dcard {%if url.child == 'factor' %}active{%endif%}" href='{{url.this}}/factor' data-shortkey="52shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-receipt-shopping-streamline"></i></div>
      <div class="label">{%trans "Factor"%} <kbd>Shift+4</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}

  <div class="c">
    <a class="dcard {%if url.child == 'maximum' %}active{%endif%}" href='{{url.this}}/maximum' data-shortkey="54shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-exclamation-triangle"></i></div>
      <div class="label">{%trans "Maximum value"%} <kbd>Shift+5</kbd></div>
     </div>
    </a>
  </div>

  <div class="c">
    <a class="dcard {%if url.child == 'sms' %}active{%endif%}" href='{{url.this}}/sms' data-shortkey="55shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-mail"></i></div>
      <div class="label">{%trans "Sms"%} <kbd>Shift+4</kbd></div>
     </div>
    </a>
  </div>

{%if false%}
  {%if perm('settingEditInventory')%}
  <div class="c">
    <a class="dcard {%if url.child == 'inventory' %}active{%endif%}" href='{{url.this}}/inventory' data-shortkey="51shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-building"></i></div>
      <div class="label">{%trans "Inventory"%} <kbd>Shift+3</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}

    {%if perm('settingEditFund')%}
    <div class="c">
    <a class="dcard {%if url.child == 'fund' %}active{%endif%}" href='{{url.this}}/fund' data-shortkey="51shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-archive"></i></div>
      <div class="label">{%trans "Fund"%} <kbd>Shift+4</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}
{%endif%}


  {%if perm('settingEditPos')%}
  <div class="c">
    <a class="dcard {%if url.child == 'pos' %}active{%endif%}" href='{{url.this}}/pos' data-shortkey="55shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-credit-card"></i></div>
      <div class="label">{%trans "POS"%} <kbd>Shift+6</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}


  {%if perm('settingEditSocialNetwork')%}
  <div class="c">
    <a class="dcard {%if url.child == 'social' %}active{%endif%}" href='{{url.this}}/social' data-shortkey="55shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-network"></i></div>
      <div class="label">{%trans "Social Network"%} <kbd>Shift+6</kbd></div>
     </div>
    </a>
  </div>
  {%endif%}




</div>
{%endblock%}


{%block psidebar%}
<div class="cbox normal">


  <a class="vcard mA10 shadow {{cardColor}}" {%if perm('settingEditLogo')%} href='{{url.this}}/logo' {%endif%}>
    <img src="{{store.logo}}" alt="{{store.name}}" class="pA10-f">
    <div class="content">
      <div class="header">{{store.name}}</div>
      {%if store.rule != 'admin' and store.privacy == 'private' or true%}
      {%else%}
        {%if not store.stats.last_traffic_string%}
          <div class="meta"><span>{%trans "Without traffic"%}</span></div>
        {%else%}
          <div class="meta"><span>{%trans "Last traffic"%} {{store.stats.last_traffic_string| fitNumber}}</span></div>
        {%endif%}
      {%endif%}
    </div>
  </a>

 <a class="btn block mTB5" href='{{url.this}}/general'>{%trans "General Detail"%}</a>
 <a class="btn block mTB5" href='{{url.this}}/plan'>{%trans "Store Plan"%}</a>

</div>
{%endblock%}







{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}


{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block iInsert%}
<button class="btn primary block mT20">{%trans "Insert"%}</button>
{%endblock%}

{%block iSaveAll%}
<button class="btn primary block mT20">{%trans "Save All"%}</button>
{%endblock%}


{%block iLogo%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="logo" id="logo1" data-preview data-max="500">
 <label for="logo1" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if store.logo%}
  <img src="{{store.logo}}" alt="{{store.name}}" id="logoPreview">
{%endif%}
 </label>
</div>
{%endblock%}


{%block iname%}
<label for="name">{%trans "Name"%} <span class="fc-red">*</span></label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Name"%}' value="{{store.name}}" autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name from 3 to 40 character"%}' required>
</div>
{%endblock%}


{%block islug%}
<label for="slug">{%trans "Team short name"%} <small>{%trans "Used for url of board"%}</small></label>
<div class="input fix">
  <input type="text" name="slug" id="slug" placeholder='{%trans "Slug of team for board url"%}' value="{{store.slug}}" maxlength='30' class="ltr" disabled>
  <label class="addon ltr" for="slug">.Jibres.com</label>
</div>
{%endblock%}


{%block iwebsite%}
<label for="website">{%trans "Website"%} <small>{%trans "Link your logo on board for visitors"%}</small></label>
<div class="input">
  <input type="url" name="website" id="website" placeholder='{%trans "Website"%}' value="{{store.website}}" maxlength='30'>
</div>
{%endblock%}


{%block iphone%}
<label for="phone">{%trans "Phone"%} <small>{%trans "For show in factors"%}</small></label>
<div class="input">
  <input type="tel" name="phone" id="phone" placeholder='{%trans "Phone"%}' value="{{store.phone}}" maxlength='30'>
</div>
{%endblock%}


{%block imobile%}
<label for="mobile">{%trans "Mobile"%} <small>{%trans "For show in factors"%}</small></label>
<div class="input">
  <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' value="{{store.mobile}}" maxlength='30'>
</div>
{%endblock%}


{%block idesc%}
<label for="desc">{%trans "Description"%} <small>{%trans "Used for description of board and show in social media links"%}</small></label>
<textarea class="txt mB10" name="desc" placeholder='{%trans "Description"%}' maxlength='300' rows="3">{{store.desc}}</textarea>
{%endblock%}


{%block iaddress%}
<label for="address">{%trans "Address"%} <small>{%trans "For show in factors"%}</small></label>
<textarea class="txt mB10" name="address" placeholder='{%trans "Address"%}' maxlength='500' rows="2">{{store.address}}</textarea>
{%endblock%}



{%block iplan%}
<label>{%trans "Choose your plan"%}</label>

<div class="radio1">
  <input type="radio" name="plan" id="r-free" value="free" {%if current_plan.plan_name =='free'%}checked{%endif%}>
  <label for="r-free">{%trans "Free"%} <small>{%trans "All the basics for personal use."%}</small></label>
</div>


<div class="radio1">
  <input type="radio" name="plan" id="r-standard" value="standard" {%if current_plan.plan_name =='standard'%}checked{%endif%}>
  <label for="r-standard">{%trans "Standard"%} <small>{%trans "Everything you need for a growing business."%}</small></label>
</div>

<div class="radio1">
  <input type="radio" name="plan" id="r-standard-year" value="standard_year" {%if current_plan.plan_name =='standard_year'%}checked{%endif%}>
  <label for="r-standard-year">{%trans "Standard"%}-{%trans "Yearly"%}<small>{%trans "Everything in Free plus automatic report via Telegram."%}</small></label>
</div>
{%endblock%}

{%block useless_plan_hidden%}
<div class="radio1">
  <input type="radio" name="plan" id="r-simple" value="simple" {%if current_plan.plan_name =='simple'%}checked{%endif%}>
  <label for="r-simple">{%trans "Simple"%} <small>{%trans "Everything in Free plus automatic report via Telegram."%}</small></label>
</div>
<div class="radio1">
  <input type="radio" name="plan" id="r-full" value="full" {%if current_plan.plan_name =='full'%}checked{%endif%}>
  <label for="r-full">{%trans "Full"%} <small>{%trans "For big companies that need fix price per month."%}</small></label>
</div>
{%endblock%}





{%block iLanguage%}
<label for="language">{%trans "Force show in specefic language"%}</label>
 <select class="select" name="language" id='language'>
   <option value="">{%trans "Please select one language"%}</option>
   <option value="fa" {%if store.language == 'fa'%} selected {%endif%}>{%trans "Persian"%}</option>
   <option value="en" {%if store.language == 'en'%} selected {%endif%}>{%trans "English"%}</option>
 </select>
{%endblock%}




{%block iHeader%}
<label for="reportHeader">{%trans "Report Header"%}</label>
<div class="input">
  <input type="text" name="reportHeader" id="reportHeader" placeholder='{%trans "Report Header"%}' value="{{reportHeader}}" maxlength='50'>
</div>
{%endblock%}


{%block iFooter%}
<label for="reportFooter">{%trans "Report Footer"%}</label>
<div class="input">
  <input type="text" name="reportFooter" id="reportFooter" placeholder='{%trans "Report Footer"%}' value="{{reportFooter}}" maxlength='50'>
</div>
{%endblock%}



{% block iPrintStatus %}
<div>
  <div class="switch1 mB10">
   <input type="checkbox" name="printStatus" id="printStatus" {%if store.meta.factor.print_status or not store.meta.factor%} checked {%endif%}>
   <label for="printStatus"></label>
   <label for="printStatus">{%trans "Active print factor"%}</label>
  </div>
</div>
{%endblock%}


{% block iPrintList %}
<div data-response='printStatus'  {%if store.meta.factor.print_status or not store.meta.factor%} {%else%} data-response-hide {%endif%}>
  <div class="f sortable">

    <div class="c">
      <div class="switch1 mB10">
       <input type="checkbox" name="print_size[]" id="Fishprint" value="fishprint" {%if   store.meta.factor.print_size.fishprint or not store.meta.factor.print_size%} checked {%endif%}>
       <label for="Fishprint"></label>
       <label for="Fishprint">{%trans "Fish print"%}</label>
      </div>

      <div class="switch1 mB10">
       <input type="checkbox" name="print_size[]" id="Fishprintshort" value="fishprintshort" {%if   store.meta.factor.print_size.fishprintshort or not store.meta.factor.print_size%} checked {%endif%}>
       <label for="Fishprintshort"></label>
       <label for="Fishprintshort">{%trans "Fish print"%} - {%trans "Short"%}</label>
      </div>

      <div class="switch1 mB10">
       <input type="checkbox" name="print_size[]" id="A4Print" value="a4" {%if   store.meta.factor.print_size.a4 or not store.meta.factor.print_size%} checked {%endif%}>
       <label for="A4Print"></label>
       <label for="A4Print">{%trans "A4"%}</label>
      </div>

      <div class="switch1 mB10">
       <input type="checkbox" name="print_size[]" id="A5Print" value="a5" {%if   store.meta.factor.print_size.a5 or not store.meta.factor.print_size%} checked {%endif%}>
       <label for="A5Print"></label>
       <label for="A5Print">{%trans "A5"%}</label>
      </div>
    </div>

  </div>
</div>

{%endblock%}

{% block iPrintDefault %}
<div data-response='printStatus'  {%if store.meta.factor.print_status or not store.meta.factor%} {%else%} data-response-hide {%endif%}>
  {%if store.meta.factor.print_size.fishprint or store.meta.factor.print_size.fishprintshort or store.meta.factor.print_size.a4 or
  store.meta.factor.print_size.a5%}
  <label for="idefaultPrint">{%trans "Default print_size"%}</label>
  <div class="input">
    <select name="defaultPrint" class="select" id="idefaultPrint">
        <option value="" {%if not store.meta.factor.default_print  %} selected {%endif%}>{%trans "No default"%}</option>

      {%if store.meta.factor.print_size.fishprint %}
        <option value="fishprint" {%if store.meta.factor.default_print == 'fishprint' %} selected {%endif%}>{%trans "Fish print"%}</option>
      {%endif%}


      {%if store.meta.factor.print_size.fishprintshort %}
        <option value="fishprintshort" {%if store.meta.factor.default_print == 'fishprintshort' %} selected {%endif%}>{%trans "Fish print"%}</option>
      {%endif%}

      {%if store.meta.factor.print_size.a4 %}
        <option value="a4" {%if store.meta.factor.default_print == 'a4' %} selected {%endif%}>{%trans "A4"%}</option>
      {%endif%}

      {%if store.meta.factor.print_size.a5 %}
        <option value="a5" {%if store.meta.factor.default_print == 'a5' %} selected {%endif%}>{%trans "A5"%}</option>
      {%endif%}

    </select>
  </div>
{%endif%}
</div>


{%endblock%}



{% block iPayWayList %}

<div class="f sortable">

  <div class="c">
    <div class="switch1 mB10">
     <input type="checkbox" name="pay[]" value="cash" id="f-waycash" {%if   store.meta.factor.pay.cash or not store.meta.factor.pay%} checked {%endif%}>
     <label for="f-waycash"></label>
     <label for="f-waycash">{%trans "Cash"%}</label>
    </div>

    <div class="switch1 mB10">
     <input type="checkbox" name="pay[]" value="pos" id="f-waypos" {%if   store.meta.factor.pay.pos or not store.meta.factor.pay%} checked {%endif%}>
     <label for="f-waypos"></label>
     <label for="f-waypos">{%trans "Pos"%}</label>
    </div>

    <div class="switch1 mB10">
     <input type="checkbox" name="pay[]" value="cheque" id="f-waychekc" {%if   store.meta.factor.pay.cheque or not store.meta.factor.pay%} checked {%endif%}>
     <label for="f-waychekc"></label>
     <label for="f-waychekc">{%trans "Check"%}</label>
    </div>
  </div>

</div>


{%endblock%}


{% block iPayDefault %}
{%if store.meta.factor.pay.cash or store.meta.factor.pay.pos or store.meta.factor.pay.cheque%}
<label for="idefaultPay">{%trans "Default pay"%}</label>
<div class="input">
  <select name="defaultPay" class="select" id="idefaultPay">
      <option value="" {%if not store.meta.factor.default_pay  %} selected {%endif%}>{%trans "No default"%}</option>

    {%if store.meta.factor.pay.cheque %}
      <option value="cheque" {%if store.meta.factor.default_pay == 'cheque' %} selected {%endif%}>{%trans "Cheque"%}</option>
    {%endif%}

    {%if store.meta.factor.pay.cash %}
      <option value="cash" {%if store.meta.factor.default_pay == 'cash' %} selected {%endif%}>{%trans "Cash"%}</option>
    {%endif%}

    {%if store.meta.factor.pay.pos %}
      <option value="pos" {%if store.meta.factor.default_pay == 'pos' %} selected {%endif%}>{%trans "Pos"%}</option>
    {%endif%}

  </select>
</div>
{%endif%}


{%endblock%}

