{%extends "content_a/setting/layout.html"%}


{%block data%}

  <div class="f">

    <div class="c s12 pA10">

        <div class="cbox">
        <h2>{%trans "Charge your sms account"%}</h2>
        <p>{%trans "Enter an amount to charge your sms account"%}</p>

        <form method="post" autocomplete="off">

         <div class="input pA5">
          <label class="addon" for="amount-number">{%trans "Toman"%}</label>
          <input id="amount-number" type="number" name="amount" value="{{amount}}" placeholder='{%trans "Amount"%}' required min=0 max="{{academySetting.maxchargeaccount}}">
          <button class="addon btn primary">{%trans "Checkout"%}</button>
         </div>
        </form>
      </div>

    </div>

    <div class="c4 s12 pA10">
      <div class="cbox">
       <div class="statistic blue">
        <div class="value">
          <i class="sf-credit-card"></i>
          <span>{{store.smsbalance| fitNumber}}</span>
        </div>
        <div class="label">{%trans "Your sms balance"%} <small>{%trans "Toman"%}</small></div>
       </div>
      </div>

    </div>

  </div>



{%endblock%}

