
/* footer */
.siftal #main > footer{flex-shrink:0;background-color:#eaeaea;box-shadow: 0 -1px 5px rgba(0,0,0,0.2);z-index:1;user-select:none;}
.siftal #main > footer #copyright{padding:0 1em;}
.siftal.ltr #main > footer #copyright{margin-left:auto;}
.siftal.rtl #main > footer #copyright{margin-right:auto;}
.siftal #main > footer #copyright span{display:inline-block;line-height:25px;height:25px}
.siftal #main > footer #copyright abbr{display:inline-block;line-height:25px;height:25px}


