
/* header */
.siftal .dashHead{
	height:50px;
	flex-shrink:0;
	background-color:#fff;
	overflow:hidden;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  	user-select:none;
  	z-index:1;
}
.siftal .dashHead:hover{overflow:visible;}
.siftal .dashHead .sidenavHandler{width:50px;text-align:center;font-size:1.2em;cursor:pointer!important;}
.siftal .dashHead .sidenavHandler:hover{background-color:rgba(0,0,0,0.2)}
.siftal .dashHead .sidenavHandler i{width:100%;padding:0;}
.siftal .dashHead .logo{transition: 0.3s;padding:0 5px;width:60px;}
.siftal .dashHead .logo:focus{background-color:rgba(0,0,0,0.15);}
.siftal .dashHead .logo img{display: block;margin: 0 auto;max-width: 50px;height: 50px;}
.siftal .dashHead h1{margin:0;overflow:hidden;min-width:100px;font-size:1.5em;height: 50px;}
.siftal .dashHead h1 a{margin:0;padding:0 1em;color:#333;transition-duration:0.3s;transition-property:color, background-color;display:inline-block;height:50px;line-height:50px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;max-width: 100%;}
.siftal .dashHead h1 a:hover{color:#444;background-color:rgba(0,0,0,0.1);}
.siftal .dashHead h1 a:focus{color:#444;background-color:rgba(0,0,0,0.15);}
.siftal .dashHead h1 img{height:50px;width:50px;max-width:50px;min-width:50px;padding:5px;overflow: hidden;}
.siftal .dashHead h1 span{padding:0 0.5em;font-weight:bold;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
/* header flex */
.siftal .dashHead i{padding:0;cursor:pointer;transition-duration:0.3s;transition-property:color, background-color;display:block;height:100%;width:40px;color:#888;line-height:45px;}
.siftal .dashHead i:before{font-size:1.5em;vertical-align:-webkit-baseline-middle!important;}
.siftal .dashHead .hm a, .siftal .dashHead .hm div{position:relative;transition-duration:0.3s;transition-property:color, background-color;color:#888;max-height:50px;outline:none;cursor:pointer;}
.siftal .dashHead .hm div:before{content: "\e20c";font-family:"siftal","tahoma" !important;position:absolute;top:0;bottom:0;right:0;left:0;line-height:50px;text-align:center;font-size:1.5em;}
.siftal .dashHead .hm a:hover, .siftal .dashHead .hm div:hover{color:#555;background-color:rgba(0,0,0,0.1);}
.siftal .dashHead .hm a:focus, .siftal .dashHead .hm div:focus{color:#000;background-color:rgba(0,0,0,0.2);}
/* vertical menu nav */
.siftal .dashHead .vm nav{max-width:200px;min-width:140px;width:auto;position:absolute;top:50px;opacity:0;background-color:#ccc;transition:opacity 0.3s;visibility:hidden;z-index:1}
.siftal .dashHead .vm nav > a{display:block;padding:1em 1em;transition:background-color 0.3s;margin:0.5em;background-color:#eee}
.siftal .dashHead .vm nav > a:hover{background-color:#fff;}
.siftal .dashHead .vm nav > a:focus{background-color:rgba(255,255,255,0.4);}
.siftal .dashHead .vm nav .isActive, .siftal .dashHead .vm nav .active{cursor:alias;}
.siftal .dashHead .vm nav .isActive::after, .siftal .dashHead .vm nav .active::after{content:"\6f";display:inline-block;color:#5cb85c;font:normal normal normal 14px/11px siftal;padding:0 5px;float:right;vertical-align:bottom;}
.siftal.rtl .dashHead .vm nav .isActive::after, .siftal.rtl .dashHead .vm nav .active::after{float:left;}
.siftal .dashHead .vm:hover nav{opacity:1;visibility:visible;}
.siftal.ltr .dashHead .right{margin-left:auto;}
.siftal.rtl .dashHead .right{margin-right:auto;}

.siftal .dashHead .profileShow img{height:40px;width:40px;max-width:40px;border-radius:50%;overflow:hidden;margin:5px;position:relative}


.siftal .dashHead .notification[data-new]:after{content: "\2a";font-family:"siftal","tahoma" !important;position:absolute;top: 10px;right: 10px;color: #f02020;font-size: 1.1em;animation:pulseNotificationHeart 0.7s infinite ease-in-out;}
.siftal .dashHead .notification[data-new] .sf-bell{ font-size: 1.3em;transition:0.1s;}
@keyframes pulseNotificationHeart { 0%{opacity:.7} 80%{opacity:.9;transform: scale(1.4);} 100%{opacity:.7}}

