/* siftal layout */
.siftal{
  min-height:100%;
  height:100%;
  color:#333;
  background-color:#f2f2f2;
  background:linear-gradient(0deg, #eee 0%, #f6f6f6 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-touch-callout:none;
  cursor:default;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0!important;
  @include user-select(none);
}

// main
.siftal #main{min-height:100%;overflow:hidden; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; transition: all 300ms cubic-bezier(.694, .0482, .335, 1); }
.siftal.ltr #main{margin-left:250px;}
.siftal.rtl #main{margin-right:250px;}
// sidebarShadow
.siftal #main:before{content:"";position:fixed;top:0;right:0;left:0;height:0;width:100%;z-index:9;;cursor:col-resize;background-color:rgba(0,0,0,0);transition:.3s; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.siftal #main:after{content:"\e041";font-family:"siftal","tahoma"!important;font-size:40px;line-height:50px;color:#ccc;padding:0 2rem; position:fixed;top:-50px;left:250px;height:50px;width:100%;z-index:10;background-color:rgba(0,0,0,0.7);cursor:pointer;transition:.3s; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
.siftal.rtl #main:after{left:initial;right:250px;}
// sidebarShadow hover
.siftal #main:before:hover{background-color:rgba(0,0,0,0.2);}
.siftal #main:hover:after{color:#eee;}

//----------------------------------- clean mode style
// main
.siftal[data-clean].ltr #main {margin-left:0;}
.siftal[data-clean].rtl #main {margin-right:0;}
// sidebar
.siftal[data-clean] #sidebar {display:block;position:fixed;top:0;bottom:0;left:-250px;}
.siftal[data-clean].rtl #sidebar{right:-250px;left:initial;}
.siftal[data-clean] #sidebar figure{margin:2em 0;}
.siftal[data-clean] .dashHead .sidenavHandler{-webkit-box-flex: 0;-webkit-flex: 0 0 auto;-ms-flex: 0 0 auto;-moz-box-flex: 0;flex: 0 0 auto;max-width: initial;display: flex !important;}

//----------------------------------- slideout mode
// sidebar
.siftal[data-sidebar].ltr #sidebar{left:0!important}
.siftal[data-sidebar].rtl #sidebar{right:0!important}
.siftal[data-sidebar] #main:before{bottom:0;height:100%;}
.siftal[data-sidebar] #main:after{top:0;}


// cloner class
.siftal .dashHead.cloner{position:fixed;z-index:8;top:-100%;width:100%;width:calc( 100% - 250px); -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; transition: all 200ms cubic-bezier(.694, .0482, .335, 1);transform: translateX(0);}
.siftal .dashHead.cloner[data-cloner-trigger]{top:0;}

.siftal[data-clean] .dashHead.cloner{right:0;left:0;width:100%;}





.tbox{
  margin: 0 0 10px;
  font-size: 1.2em;
  position: relative;
  padding: 5px 1em;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  line-height: 1.25;
  opacity: 0.8;
  background-color: #f7f7f7;
  color: #444;
  transition-duration:0.3s;
  transition-property:opacity, background-color, box-shadow, border;
  user-select:none;
  overflow:hidden;
}
.tbox:hover{
  border-color:#fff;
}
.ltr .tbox.pictogram{
  padding-right:5em;
}
.rtl .tbox.pictogram{
  padding-left: 5em;
}
.tbox p{
  color: #777;
  margin-bottom:0;
}
.tbox:hover{
  opacity:1;
}
.tbox h2{
  font-weight: 700;
  font-size: 1.5em;
  line-height: 28px;
  margin: 0;
  display: inline-block;
}
.tbox h2 .badge{
  font-size: 65%;
  line-height: 1.3;
}
.tbox p .badge{
  line-height: 1.3;
}
.tbox.pictogram > span[class^="sf-"]{
  font-size:3em;
  transition:color 0.1s;
  position:absolute;
  line-height:50px;
  top:50%;
  right:10px;
  margin-top: -0.5em;
  color:#aaa;
}
.tbox.pictogram > span[class^="sf-"]:before{
  vertical-align:-webkit-baseline-middle;
  display: block;
}
.rtl .tbox.pictogram > span[class^="sf-"]{
  right:initial;
  left:10px;
}
.tbox.pictogram:hover > span[class^="sf-"]{
  color:#398cd4;
}






.titleBox{
  margin: 0;
  min-height: 48px;
  font-size: 1.2em;
  position: relative;
  padding: 10px 0;
  opacity: 0.95;
  color: #444;
  transition:0.3s;
  user-select:none;
}
.titleBox .equalPad{padding: 5px;}
.titleBox:hover{opacity:1;}
.titleBox h2{font-weight:400;font-size:2.2em;line-height:36px;margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:500px;max-width:50vw}
.titleBox .actions .btn{padding-left:0.5em;padding-right:0.5em}

.btn.master{font-size:1em;font-weight:100;transition: all 150ms ease-out;background-color:#2080d0;color:#fff;background:linear-gradient(to left, #2080d0, #6b7ae0);}
.btn.master.back{background-color:#333;background:linear-gradient(to left, #302b2b, #2268a5);padding-left:0.5em;padding-right:0.5em;min-width:36px;}
.btn.master:hover{box-shadow: 0 0 0 0.2rem #fff, 0 0 0 0.3rem #2080d0;}
.btn.master:focus{box-shadow: 0 0 0 0.2rem #fff, 0 0 0 0.4rem #6b7ae0;}
.btn.master:active {box-shadow: 0 0 0 0.2rem #fff, 0 0 0 0.4rem #2080d0;transition-duration: 75ms;}
.btn.master kbd{font-size:1em;vertical-align:middle;font-family:monospace, sans-serif}

.searchBox{font-size: 1.2em;padding-bottom: 10px}
.searchBox .input.search input{background-color:#f7f7f7}
.searchBox .input.search input:hover{background-color:#e2e6ea}
.searchBox .input.search input:focus{background-color:#fff}
.searchBox .input.search.apply input{background-color: #e5fbea;border-color: #82e06b;box-shadow: 0 0 3px 0px #82e06b;}

.applyFilters{
  font-size: 1.2em;
  overflow: hidden;
}
.applyFilters .btn{
  display: inline-block;
  margin-bottom: 10px;
}
.filterBox{
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

// .siftal #main{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;flex-direction:column;width:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;overflow:hidden;-webkit-box-flex:1;-ms-flex:1;-webkit-flex:1;-moz-box-flex:1;flex:1}
.siftal #main #content{padding:10px 2% 1em;}





body.siftal .full{width:100%;height:100%;}
body.siftal .full .middle{width:100%;max-height:100%;}
.siftal form #mobile{direction:ltr;}
.siftal form #email{direction:ltr;}


// style of files
.tblFiles tbody .thumb{
  width: 50px;
  white-space: nowrap;
}
.tblFiles tbody .thumb a{
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color:#fff;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.tblFiles tbody .thumb a img{
  display: block;
  position: relative;
  z-index: 2;
  // border: 1px solid transparent;
}
.tblFiles tbody .thumb a:hover img{
  border-color:#777;
}
.tblFiles tbody .thumb a:focus img{
  border-color:#333;
}
.tblFiles tbody .thumb a div{
  position:absolute;
  z-index: 1;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.tblFiles tbody .thumb a span{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  direction: ltr;
  border-radius: 0.5em;
  box-shadow: 30px -40px 0 0 #5bab6e inset;
  transition: 0.3s;
}
.tblFiles tbody .thumb a div:after{
  content: '';
  position: absolute;
  z-index: -1;
  border-width: 0;
  border-bottom: 20px solid #448353;
  border-right: 20px solid rgba(0, 0, 0, 0);
  top: -4px;
  right: 4px;
}
.tblFiles tbody .fileName{
  // white-space: no-wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 120px;
}



// for api
.siftal[data-in="api"] body{background-color:#eee;}
.siftal[data-in="api"] pre{background-color:#333;color:#eee;padding:1em;margin-bottom:1em;@include user-select(text);}
.siftal[data-in="api"] code{background-color:rgba(0,0,0,0.4);color:#fff;padding:0 0.5em;}
.siftal[data-in="api"] .msg.url{direction:ltr;font-family:monospace, sans-serif;}
.siftal[data-in="api"] .msg.url span{@include user-select(text);}
.siftal[data-in="api"] .cbox ol{margin:0 2em;}
.siftal[data-in="api"] .cbox ol li{padding:0.5em 0 0;}



.siftal .alerty2-popup .langlist{
  // margin-top:5px;
  // padding-top:5px;
  // border-top:1px solid #ccc;
}
.siftal .alerty2-popup .langlist a{
  border:1px solid #eee;
  padding:0.5em 1em;
  margin:0 3px;
  transition: 0.3s;
  -webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;-moz-box-flex:1;flex-grow:1;
  max-width:100%;
}
.siftal .alerty2-popup .langlist a.active{
  min-width:10rem;
  border-color: #5cb85c;
}
.siftal .alerty2-popup .langlist a.active::after{
  content:"\6f";display:inline-block;color:#5cb85c;font-family:siftal;padding:0 5px;float:right;vertical-align:bottom;
}
.siftal.rtl .alerty2-popup .langlist a.active::after{
  float:left;
}
.siftal .alerty2-popup .langlist a:hover{
  border-color: #ccc;
}
.siftal .alerty2-popup .langlist a:focus{
  border-color: #aaa;
}
.siftal .alerty2-popup .langlist a:active{
  border-color: #777;
}


// editor
.ck.ck-content.ck-editor__editable{
  min-height: 200px;
}
.ck.ck-link-form{
  direction: ltr;
}
// rtl
.rtl .ck.ck-content.ck-editor__editable{
  direction: rtl;
}
.rtl .ck.ck-button .ck-button__label, a.ck.ck-button .ck-button__label{
  font-family: IRANSans, tahoma;
}
.rtl .ck.ck-tooltip .ck-tooltip__text{
  font-family: IRANSans, tahoma;
}
.rtl .ck.ck-labeled-input .ck-labeled-input__status
{
  font-family: IRANSans, tahoma;
}



// Theme black
.siftal[data-theme="night"]{background:none;background-color:#333;}
.siftal[data-theme="night"] .dashHead{background-color:#111;box-shadow:0 1px 5px rgba(255, 255, 255, 0.2)}
.siftal[data-theme="night"] .tbox{background-color:#111;color:#bbb}
.siftal[data-theme="night"] .tbox:hover{border-color:#444}
.siftal[data-theme="night"] .tbox .badge.light{background-color:#555;color:#bbb;}
.siftal[data-theme="night"] .cbox{background-color:#222;color:#aaa}
.siftal[data-theme="night"] .dcard{background-color:rgba(0, 0, 0, 0.3);color:#aaa}
.siftal[data-theme="night"] .chart rect.highcharts-background{fill:#111}
.siftal[data-theme="night"] .chart rect.highcharts-button-box{fill:#222}
.siftal[data-theme="night"] .chart path.highcharts-axis-line{stroke:#000}
.siftal[data-theme="night"] .chart path.highcharts-grid-line{stroke:#000}
.siftal[data-theme="night"] .msg{background-color:#444;color:#ddd;}
.siftal[data-theme="night"] .input{color:#777}
.siftal[data-theme="night"] .input input{background-color:#000;color:#eee}
.siftal[data-theme="night"] .input .addon:not(.btn){color:#bbb;}
.siftal[data-theme="night"] .select{background-color:#000;color:#eee}
.siftal[data-theme="night"] .txt{background-color:#000;color:#bbb}
.siftal[data-theme="night"] .txt:hover{border-color:#777}
.siftal[data-theme="night"] .switch1 label:first-of-type{background-color:#555;}
.siftal[data-theme="night"] .switch1 input:checked + label:first-of-type{background-color:#225c8a;}
.siftal[data-theme="night"] .input input:focus, .siftal[data-theme="night"] .input.focus input{border-color:#777}
.siftal[data-theme="night"] .select:focus, .siftal[data-theme="night"] .select.focus{border-color:#777}
.siftal[data-theme="night"] .btn{background-color:#333;color:#ccc;}
.siftal[data-theme="night"] .dark.outline{color:#ccc}
.siftal[data-theme="night"] .pagination{background-color:#000;}
.siftal[data-theme="night"] .pagination a{color:#ccc;}
.siftal[data-theme="night"] .pagination a:link:hover{color:#eee;background-color:#333}


// Theme light
.siftal[data-theme="light"]{background: #fff;}
.siftal[data-theme="light"] .dashHead{box-shadow: none;}
.siftal[data-theme="light"] .dashHead.cloner{display: none;}
.siftal[data-theme="light"] .tbox{background-color: #fff;}
.siftal[data-theme="light"] .cbox{border:1px solid #eee;}

.siftal[data-theme="light"] #sidebar{background-color:#fff;}
.siftal[data-theme="light"] #sidebar figure{color: #3c4040}
.siftal[data-theme="light"] #sidebar ul > li > a{color: #3c4040}
.siftal[data-theme="light"].ltr #sidebar ul > li > a{-webkit-border-radius: 0 50px 50px 0;border-radius: 0 50px 50px 0;}
.siftal[data-theme="light"].rtl #sidebar ul > li > a{-webkit-border-radius: 50px 0 0 50px;border-radius:50px 0 0 50px;}
.siftal[data-theme="light"] #sidebar ul > li > a.weAreHere{background-color: #e8f0fe;color:#1a73e8;}
.siftal[data-theme="light"] #sidebar ul > li > a:hover{background-color: #f5f5f5;}
.siftal[data-theme="light"] #sidebar ul > li > a:focus{background-color: #e0e0e0;}
.siftal[data-theme="light"] #sidebar ul > li > ul{background-color: #fff;}
.siftal[data-theme="light"] #sidebar ul > li.title{background-color: #fff;color:#3c4040;}
.siftal[data-theme="light"] #sidebar ul > li.title:hover{background-color: #f5f5f5;}
.siftal[data-theme="light"] #sidebar .hr{border-top-color: #dadce0!important}
.siftal[data-theme="light"] #sidebar .activeContent{border-color:#1a73e8;color: #3c4040}

.siftal[data-theme="light"] #ermileBadge{background-color:#fff;}
.siftal[data-theme="light"] #ermileBadge h2{color:#555;}
.siftal[data-theme="light"] #ermileBadge h3{color:#555;}
