.siftal[data-in="pay"]{

}

.siftal[data-in="pay"] .tbox{
	display: none;
}

// .siftal[data-in="pay"] #main #content{padding:0;}


// <div class="animatedBgBox">
//     <div class="bgImage"></div>
// </div>
//
// .siftal[data-in="pay"] .animatedBgBox {
//     overflow: hidden;
//     height: 100vh;
//     width: 100vw;
//     position: absolute;
//     z-index: -1;
// }
// .siftal[data-in="pay"] .bgImage {
//     height: calc(100vh + 400px);
//     width: calc(200vw + 400px);
//     position: absolute;
//     top: 0;
//     left: -400px;
//     z-index: -1;
//     background: url(../images/pattern/diagonal-line1.png);
//     -webkit-animation: backgroundscroll 30s linear infinite;
//     animation: backgroundscroll 30s linear infinite;
// }
// @-webkit-keyframes backgroundscroll { to { -webkit-transform: translate(400px, -400px); transform: translate(400px, -400px); } }
// @keyframes backgroundscroll { to { -webkit-transform: translate(400px, -400px); transform: translate(400px, -400px); } }


$payTicketBg: #d7dbde;
$payTicketBgActive: #c5e2ff;
$payTicketBgActiveHover: #b0d8ff;
$payTicketBgPositive: #9dd026;
$payTicketBgNegative: #fff6f6;
$payTicketBgWarning: #eadc2c;

.payTicket{
  min-width: 280px;
  height: 120px;
  overflow: hidden;
  box-shadow: 0px 0px 4rem 1px #eee;
  border-radius: 0.5rem;
  margin: 1em auto;
  color: #777;
}


.payTicket .topBox .payPriceBox{
  background: $payTicketBg;
	text-align: center;
	padding:0 1rem;
	height: 120px;
	overflow: hidden;
  width: 100%;
}
.payTicket .topBox .price{
	display: inline-block;
  max-width: 100%;
  height: 120px;
  vertical-align: middle;
  font-size: 30px;
  line-height: 120px;
  overflow: hidden;
  transition: 0.2s;
}
.payTicket .topBox .unit{
	display: block;
  position:absolute;
  bottom:0.5em;
  left:0.5em;
  font-size: 1.5em;
}


.payTicket .breakLine {
  width: 20px;
  height: 100px;
  margin: 10px 0;
  position: relative;
  box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
  background-color:$payTicketBg;
}
.payTicket .breakLine:before, .payTicket .breakLine:after {
  content: '';
  position: absolute;
  right: -5px;
  width: 30px;
  height: 30px;
  top: 50%;
  border: 5px solid transparent;
  border-top-color: $payTicketBg;
  border-right-color: $payTicketBg;
  border-radius: 100%;
  pointer-events: none;
  -webkit-transform:rotate(-225deg);
          transform:rotate(-225deg);
}
.payTicket .breakLine:before {
  top: -25px;
}
.payTicket .breakLine:after {
  -webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);
  top: 95px;
}
.payTicket .breakLine i{
	display: block;
	width: 0;
	height: 100%;
	margin: 0 auto;
  	border-right:3px dotted #fff;
}


.payTicket .status{
  background-color:$payTicketBg;
  position: relative;
  height: 120px;
  overflow: hidden;
}
.payTicket .status .myStatus{
	font-size: 60px;
	min-width: 60px;
	line-height: 110px;
	overflow: hidden;
	height: 120px;
	display: block;
	text-align: center;
}
.payTicket .status .statusDesc{
	position:absolute;
	bottom: 2rem;
	right: 0;
	left: 0;
	text-align: center;
	font-weight: 900;
}

// active
.payTicket.active{
  color: #1f8fff;
}
.payTicket.active .topBox .payPriceBox{
  	background: $payTicketBgActive;
    transition:0.3s;
}
.payTicket.active .breakLine {
  background-color:$payTicketBgActive;
  transition:0.3s;
}
.payTicket.active .breakLine:before, .payTicket.active .breakLine:after {
  border-top-color: $payTicketBgActive;
  border-right-color: $payTicketBgActive;
  transition:0.3s;
}
.payTicket.active .status{
  background-color:$payTicketBgActive;
  transition:0.3s;
}
.payTicket.active:hover .topBox .payPriceBox{
    background: $payTicketBgActiveHover;
}
.payTicket.active:hover .breakLine {
  background-color:$payTicketBgActiveHover;
}
.payTicket.active:hover .breakLine:before, .payTicket.active:hover .breakLine:after {
  border-top-color: $payTicketBgActiveHover;
  border-right-color: $payTicketBgActiveHover;
}
.payTicket.active:hover .status{
  background-color:$payTicketBgActiveHover;
}


// positive
.payTicket.positive{
  color: #2c662d;
}
.payTicket.positive .topBox .payPriceBox{
  	background: $payTicketBgPositive;
}
.payTicket.positive .breakLine {
  background-color:$payTicketBgPositive;
}
.payTicket.positive .breakLine:before, .payTicket.positive .breakLine:after {
  border-top-color: $payTicketBgPositive;
  border-right-color: $payTicketBgPositive;
}
.payTicket.positive .status{
  background-color:$payTicketBgPositive;
}

// negative
.payTicket.negative{
  color: #9f3a38;
}
.payTicket.negative .topBox .payPriceBox{
  	background: $payTicketBgNegative;
}
.payTicket.negative .breakLine {
  background-color:$payTicketBgNegative;
}
.payTicket.negative .breakLine:before, .payTicket.negative .breakLine:after {
  border-top-color: $payTicketBgNegative;
  border-right-color: $payTicketBgNegative;
}
.payTicket.negative .status{
  background-color:$payTicketBgNegative;
}

// warning
.payTicket.warning{
  color: #573a08;
}
.payTicket.warning .topBox .payPriceBox{
  	background: $payTicketBgWarning;
}
.payTicket.warning .breakLine {
  background-color:$payTicketBgWarning;
}
.payTicket.warning .breakLine:before, .payTicket.warning .breakLine:after {
  border-top-color: $payTicketBgWarning;
  border-right-color: $payTicketBgWarning;
}
.payTicket.warning .status{
  background-color:$payTicketBgWarning;
}








.payTicketDetail{
	color: #555;
	font-size: 1.2em;
	margin: 0 auto;
}
.payTicketDetail .msg{
  background-color: #fff;
}

