{%extends "content_a/product/layout.html"%}


{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsGeneral')}}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
 	{{block('iDataForm')}}
 </div>
</div>
{%endblock%}

{%block iDataForm%}
<form class="cbox" method="post" enctype="multipart/form-data">

{{block("iAvatar")}}

{{block("isave")}}

</form>
{%endblock%}




{%block iAvatar%}
 <div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if dataRow.thumb%}
   <img src="{{dataRow.thumb}}" alt="{{dataRow.name}}" id="avatarPreview">
{%endif%}
 </label>
</div>
{%endblock%}
