{%extends "content_a/product/layout.html"%}


{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsGeneral')}}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
 	{{block('iDataForm')}}
 </div>
</div>
{%endblock%}

{%block iDataForm%}
<form class="cbox" method="post" enctype="multipart/form-data">


 <div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if dataRow.thumb%}
   <img src="{{dataRow.thumb}}" alt="{{dataRow.name}}" id="avatarPreview">
{%endif%}
 </label>
</div>

{%if dataRow.thumb_raw%}
<div class="f mT10">
	<div class="c pRa5">
		<button class="btn block primary">{%trans "Save"%}</button>
	</div>
	<div class="cauto">
		<button class="btn block danger" name="delete" value="thumb">{%trans "Remove"%}</button>
	</div>
</div>
{%else%}
	<button class="mT10 btn block primary">{%trans "Save"%}</button>
{%endif%}
</form>
{%endblock%}


