{%extends 'content_i/inout/layout.html'%}



{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>

        <th class="">#</th>
        <th class="" data-sort="{{sortLink.jib_id.order}}"><a href="{{sortLink.jib_id.link}}">{%trans "Jib"%}</a></th>
        <th class="" data-sort="{{sortLink.cat_id.order}}"><a href="{{sortLink.cat_id.link}}">{%trans "Category"%}</a></th>
        <th class="" data-sort="{{sortLink.plus.order}}"><a href="{{sortLink.plus.link}}">{%trans "Plus"%}</a></th>
        <th class="" data-sort="{{sortLink.minus.order}}"><a href="{{sortLink.minus.link}}">{%trans "Minus"%}</a></th>
        <th class="">{%trans "Description"%}</th>
        <th class="" data-sort="{{sortLink.discount.order}}"><a href="{{sortLink.discount.link}}">{%trans "Discount"%}</a></th>
        <th class="" data-sort="{{sortLink.thirdparty.order}}"><a href="{{sortLink.thirdparty.link}}">{%trans "Thirdparty"%}</a></th>
        <th class="" data-sort="{{sortLink.datetime.order}}"><a href="{{sortLink.datetime.link}}">{%trans "Datetime"%}</a></th>

      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="collapsing"><a href="{{url.this}}/edit?id={{value.id}}"> <i class="sf-edit"></i> {{value.id | fitNumber}}</a></td>
        <td class=""><a href="{{url.this}}?jib={{value.jib_id}}">{{value.jib_title}}</a></td>
        <td class=""><a href="{{url.this}}?cat={{value.cat_id}}">{{value.cat_title}}</a></td>
        <td class=""><a href="{{url.this}}?plus={{value.plus}}">{%if value.plus%}+{{value.plus | fitNumber}}{%endif%}</a></td>
        <td class=""><a href="{{url.this}}?minus={{value.minus}}">{%if value.minus%}-{{value.minus | fitNumber}}{%endif%}</a></td>
        <td class="">{{value.desc}}</td>
        <td class=""><a href="{{url.this}}?discount={{value.discount}}">{{value.discount | fitNumber}}</a></td>
        <td class=""><a href="{{url.this}}?thirdparty={{value.thirdparty}}">{{value.thirdparty}}</a></td>
        <td class="collapsing"  title="{{value.datetime | dt}}">
          <div>{{value.datetime | dt('human','year')}}</div>
          <div>{{value.datetime | dt(true)}}</div>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Add"%}</a></p>
{%endblock%}

