{%extends 'content_crm/member/layout.html'%}


{%block pageContent%}

{{block('pageSteps')}}

<div class="f">

 <div class="cauto s12 pA5">
	{{block("psidebar")}}
 </div>

 <div class="c s12 pA5">

	<form class="cbox" method="post" autocomplete="off">

	{{block("icreateDate")}}

	 <div class="f">
	   <div class="c pRa5">
			{{block("iDisplayName")}}
	   </div>
	   <div class="c">
			{{block("iTitle")}}
	   </div>
	 </div>



	 <div class="f">
	   <div class="c pRa5">
			{{block("iname")}}
	   </div>
	   <div class="c">
			{{block("ifamily")}}
	   </div>
	 </div>

	 <div class="f">
	   <div class="c pRa5">
			{{block("ifather")}}
	   </div>
	   <div class="c">
			{{block("ibirthday")}}
	   </div>
	 </div>

	{{block("imobile")}}

	{{block("nationalityAndDetail")}}

	<div class="f">
		<div class="c mRa10">
			{{block("igender")}}
		</div>
		<div class="c">
			{{block("iMarital")}}
		</div>
	</div>


	{{block("iBio")}}


	 <div class="f pA5 pT20">
		{{block("isave")}}
	 </div>
	</form>
 </div>
</div>
{%endblock%}




{%block iTitle%}
<label for="title">{%trans "Nick name"%}</label>
<div class="input">
  <input type="text" name="title" id="title"  value="{{dataRowMember.title}}" maxlength='40' minlength="1" pattern=".{1,40}"  >
</div>
{%endblock%}





{%block iBio%}
<label for="bio">{%trans "Bio"%}</label>
<textarea class="txt " name="bio" maxlength='300' rows="3">{{dataRowMember.bio}}</textarea>
{%endblock%}



{%block iDisplayName%}
<label for="displayname">{%trans "Display name"%}</label>
<div class="input">
  <input type="text" name="displayname" id="displayname"  value="{{dataRowMember.displayname}}" maxlength='40' minlength="1" pattern=".{1,40}">
</div>
{%endblock%}





{%block iname%}
<label for="name">{%trans "Name"%}</label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Name"%}' value="{{dataRowMember.firstname}}" autofocus maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}


{%block ifamily%}
<label for="lastName">{%trans "Last name"%}</label>
<div class="input">
  <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%}' value="{{dataRowMember.lastname}}" maxlength='60'>
</div>
{%endblock%}





{%block ifather%}
<label for="father">{%trans "Father name"%}</label>
<div class="input">
  <input type="text" name="father" id="father" placeholder='{%trans "Father name"%}' value="{{dataRowMember.father}}" maxlength='50'>
</div>
{%endblock%}


{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}</label>
<div class="input ltr">
  <input class="ltr" type="text" placeholder="yyyy/mm/dd" data-format="date"  name="birthday" id="birthday" placeholder='{{"1369/04/15" | fitNumber}}' value="{{dataRowMember.jalali_birthday}}"  autocomplete='off'>
</div>
{%endblock%}



{%block igender%}
<div class="mT10">
  <label for="gender">{%trans "Gender"%}</label>
  <select name="gender" class="ui dropdown select">
    <option value="" readonly>{%trans "Please select one itme"%}</option>
    <option value="male" {%if dataRowMember.gender == 'male' or ( not dataRowMember.gender and defaultDenderExpert == 'male') %}selected {%endif%}>{%trans "Male"%}</option>
    <option value="female" {%if dataRowMember.gender == 'female' or ( not dataRowMember.gender and defaultDenderExpert == 'female') %}selected{%endif%}>{%trans "Female"%}</option>
  </select>
</div>
{%endblock%}


{%block iMarital%}
<div class="mT10">
  <label for="marital">{%trans "Marital"%}</label>
  <select name="marital" class="ui dropdown select">
    <option value="" readonly>{%trans "Please select one itme"%}</option>
    <option value="single" {%if dataRowMember.marital == 'single' %}selected {%endif%}>{%trans "Single"%}</option>
    <option value="married" {%if dataRowMember.marital == 'married' %}selected{%endif%}>{%trans "Married"%}</option>
  </select>
</div>
{%endblock%}

