{%extends display.dash%}


{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <p>{%trans "If you want to issue an official invoice, complete your legal information."%} {%trans "It's totaly optional!"%}</p>
      <form method="post" autocomplete="off">

        {{block('icompanyname')}}
        {{block('icompanyeconomiccode')}}
        {{block('icompanynationalid')}}
        {{block('icompanyregisternumber')}}
        {{block('iceonationalcode')}}

        <div class="f align-center mB10">
          <div class="c fc-mute">{{stepDesc}}</div>
          <div class="cauto os pRa10"><button class="btn outline secondary">{%trans "Skip"%}</button></div>
          <div class="cauto os"><button class="btn success">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}





{%block icompanyname%}
<label for="icompanyname">{%trans "Company name"%}</label>
<div class="input">
  <input type="text" name="companyname" id="icompanyname" value="{{dataRow.companyname}}">
</div>
{%endblock%}


{%block icompanyeconomiccode%}
<label for="icompanyeconomiccode">{%trans "Economic code"%}</label>
<div class="input">
  <input type="text" name="companyeconomiccode" id="icompanyeconomiccode" value="{{dataRow.companyeconomiccode}}" data-format='int' maxlength="12">
</div>
{%endblock%}


{%block icompanynationalid%}
<label for="icompanynationalid">{%trans "Company national id"%}</label>
<div class="input">
  <input type="text" name="companynationalid" id="icompanynationalid" value="{{dataRow.companynationalid}}" data-format='int' maxlength="11">
</div>
{%endblock%}



{%block icompanyregisternumber%}
<label for="icompanyregisternumber">{%trans "Company register number"%}</label>
<div class="input">
  <input type="text" name="companyregisternumber" id="icompanyregisternumber" value="{{dataRow.companyregisternumber}}" data-format='int' maxlength="10">
</div>
{%endblock%}



{%block iceonationalcode%}
<label for="iceonationalcode">{%trans "CEO nationalcode"%}</label>
<div class="input">
  <input type="text" name="ceonationalcode" id="iceonationalcode" value="{{dataRow.ceonationalcode}}" data-format='nationalcode'>
</div>
{%endblock%}


