
// design for apps in enter
[data-app] .enter .langlist{display: none;}
[data-app] .enter #enter{margin-bottom:10px;}
[data-app] .siftal #sidebar{display:none}
[data-app] .siftal .dashHead{display:none}
[data-app] .siftal #main{margin:0!important}
[data-app] #xaccess{display:none}
[data-app] .tbox .breadcrumb{display:none}

[data-app]{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
}

