@media (max-width: 280px) {
  html:before{font-size:100vw;position:absolute;right:0;left:0;content:":\\";text-align:center;color:#000}
  html body{display:none!important;background:#333!important;}
  html body.enter{display:none!important}

}

@media (max-height: 160px) {
  html:before{font-size:10em;position:absolute;right:0;left:0;content:":\\";text-align:center;color:#000}
  html body{display:none!important;background:#333!important;}
  html body.enter{display:none!important}

}