@media (max-width: 767px) {
  .cn{min-width:280px;max-width:750px;width:96%;}
  .f>.s{-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;-moz-box-flex:1;flex-grow:1;max-width:100%}
  .f>.sauto{-webkit-box-flex:0;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;-moz-box-flex:0;flex:0 0 auto;width:auto;max-width:100%;display:flex!important}
  .s0{-webkit-box-flex:0;-webkit-flex:0 0 0;-ms-flex:0 0 0;-moz-box-flex:0;flex:0 0 0;max-width:0;display:none!important}
  .f>.s1{-webkit-box-flex:0;-webkit-flex:0 0 8.333333%;-ms-flex:0 0 8.333333%;-moz-box-flex:0;flex:0 0 8.333333%;max-width:8.333333%}
  .f>.s2{-webkit-box-flex:0;-webkit-flex:0 0 16.666667%;-ms-flex:0 0 16.666667%;-moz-box-flex:0;flex:0 0 16.666667%;max-width:16.666667%}
  .f>.s3{-webkit-box-flex:0;-webkit-flex:0 0 25%;-ms-flex:0 0 25%;-moz-box-flex:0;flex:0 0 25%;max-width:25%}
  .f>.s4{-webkit-box-flex:0;-webkit-flex:0 0 33.333333%;-ms-flex:0 0 33.333333%;-moz-box-flex:0;flex:0 0 33.333333%;max-width:33.333333%}
  .f>.s5{-webkit-box-flex:0;-webkit-flex:0 0 41.666667%;-ms-flex:0 0 41.666667%;-moz-box-flex:0;flex:0 0 41.666667%;max-width:41.666667%}
  .f>.s6{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;-moz-box-flex:0;flex:0 0 50%;max-width:50%}
  .f>.s7{-webkit-box-flex:0;-webkit-flex:0 0 58.333333%;-ms-flex:0 0 58.333333%;-moz-box-flex:0;flex:0 0 58.333333%;max-width:58.333333%}
  .f>.s8{-webkit-box-flex:0;-webkit-flex:0 0 66.666667%;-ms-flex:0 0 66.666667%;-moz-box-flex:0;flex:0 0 66.666667%;max-width:66.666667%}
  .f>.s9{-webkit-box-flex:0;-webkit-flex:0 0 75%;-ms-flex:0 0 75%;-moz-box-flex:0;flex:0 0 75%;max-width:75%}
  .f>.s10{-webkit-box-flex:0;-webkit-flex:0 0 83.333333%;-ms-flex:0 0 83.333333%;-moz-box-flex:0;flex:0 0 83.333333%;max-width:83.333333%}
  .f>.s11{-webkit-box-flex:0;-webkit-flex:0 0 91.666667%;-ms-flex:0 0 91.666667%;-moz-box-flex:0;flex:0 0 91.666667%;max-width:91.666667%}
  .f>.s12{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-moz-box-flex:0;flex:0 0 100%;max-width:100%;margin-right:0;margin-left:0;padding-right:0;padding-left:0;}
  .s-flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:-moz-box!important;display:flex!important}
  .s-inline-flex{display:-webkit-inline-box!important;display:-webkit-inline-flex!important;display:-ms-inline-flexbox!important;display:-moz-inline-box!important;display:inline-flex!important}
  .s-row{-webkit-box-orient:horizontal!important;-webkit-box-direction:normal!important;-webkit-flex-direction:row!important;-ms-flex-direction:row!important;-moz-box-orient:horizontal!important;-moz-box-direction:normal!important;flex-direction:row!important}
  .s-column{-webkit-box-orient:vertical!important;-webkit-box-direction:normal!important;-webkit-flex-direction:column!important;-ms-flex-direction:column!important;-moz-box-orient:vertical!important;-moz-box-direction:normal!important;flex-direction:column!important}
  .s-row-reverse{-webkit-box-orient:horizontal!important;-webkit-box-direction:reverse!important;-webkit-flex-direction:row-reverse!important;-ms-flex-direction:row-reverse!important;-moz-box-orient:horizontal!important;-moz-box-direction:reverse!important;flex-direction:row-reverse!important}
  .s-column-reverse{-webkit-box-orient:vertical!important;-webkit-box-direction:reverse!important;-webkit-flex-direction:column-reverse!important;-ms-flex-direction:column-reverse!important;-moz-box-orient:vertical!important;-moz-box-direction:reverse!important;flex-direction:column-reverse!important}
  .s-justify-start{-webkit-box-pack:start!important;-webkit-justify-content:flex-start!important;-ms-flex-pack:start!important;-moz-box-pack:start!important;justify-content:flex-start!important}
  .s-justify-end{-webkit-box-pack:end!important;-webkit-justify-content:flex-end!important;-ms-flex-pack:end!important;-moz-box-pack:end!important;justify-content:flex-end!important}
  .s-justify-center{-webkit-box-pack:center!important;-webkit-justify-content:center!important;-ms-flex-pack:center!important;-moz-box-pack:center!important;justify-content:center!important}
  .s-justify-between{-webkit-box-pack:justify!important;-webkit-justify-content:space-between!important;-ms-flex-pack:justify!important;-moz-box-pack:justify!important;justify-content:space-between!important}
  .s-justify-around{-webkit-justify-content:space-around!important;-ms-flex-pack:distribute!important;justify-content:space-around!important}
  .s-align-start{-webkit-box-align:start!important;-webkit-align-items:flex-start!important;-ms-flex-align:start!important;-moz-box-align:start!important;align-items:flex-start!important}
  .s-align-end{-webkit-box-align:end!important;-webkit-align-items:flex-end!important;-ms-flex-align:end!important;-moz-box-align:end!important;align-items:flex-end!important}
  .s-align-center{-webkit-box-align:center!important;-webkit-align-items:center!important;-ms-flex-align:center!important;-moz-box-align:center!important;align-items:center!important}
  .s-align-baseline{-webkit-box-align:baseline!important;-webkit-align-items:baseline!important;-ms-flex-align:baseline!important;-moz-box-align:baseline!important;align-items:baseline!important}
  .s-align-stretch{-webkit-box-align:stretch!important;-webkit-align-items:stretch!important;-ms-flex-align:stretch!important;-moz-box-align:stretch!important;align-items:stretch!important}
  .s-self-start{-webkit-align-self:flex-start!important;-ms-flex-item-align:start!important;align-self:flex-start!important}
  .s-self-end{-webkit-align-self:flex-end!important;-ms-flex-item-align:end!important;align-self:flex-end!important}
  .s-self-center{-webkit-align-self:center!important;-ms-flex-item-align:center!important;-ms-grid-row-align:center!important;align-self:center!important}
  .s-self-baseline{-webkit-align-self:baseline!important;-ms-flex-item-align:baseline!important;align-self:baseline!important}
  .s-self-stretch{-webkit-align-self:stretch!important;-ms-flex-item-align:stretch!important;-ms-grid-row-align:stretch!important;align-self:stretch!important}
  .s-wrap{-webkit-flex-wrap:wrap!important;-ms-flex-wrap:wrap!important;flex-wrap:wrap!important}
  .s-nowrap{-webkit-flex-wrap:nowrap!important;-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important}
  .s-wrap-reverse{-webkit-flex-wrap:wrap-reverse!important;-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important}
  .s-align-content-start{-webkit-align-content:flex-start!important;-ms-flex-line-pack:start!important;align-content:flex-start!important}
  .s-align-content-end{-webkit-align-content:flex-end!important;-ms-flex-line-pack:end!important;align-content:flex-end!important}
  .s-align-content-center{-webkit-align-content:center!important;-ms-flex-line-pack:center!important;align-content:center!important}
  .s-align-content-between{-webkit-align-content:space-between!important;-ms-flex-line-pack:justify!important;align-content:space-between!important}
  .s-align-content-around{-webkit-align-content:space-around!important;-ms-flex-line-pack:distribute!important;align-content:space-around!important}
  .s-align-content-stretch{-webkit-align-content:stretch!important;-ms-flex-line-pack:stretch!important;align-content:stretch!important}

  kbd {display:none;}

  // custom style for another part of siftal
  .siftal .dashHead h1 a{padding:0;}
  .siftal .wrapper{padding:2em 1em}
  .siftal .card .card-data img{max-height:25px}
  .siftal .card .card-data span{font-size:1.6em}
  .siftal .card .card-desc{font-size:1.4em}

  body .w100{min-width:75px;width:75px}
  body .w125{min-width:100px;width:100px}
  body .w150{min-width:125px;width:125px}
  body .w200{min-width:150px;width:150px}

  .siftal .dashHead h1{max-width: 60%;max-width:calc( 100% - 110px);font-size:1.2em}
  .siftal .dashHead .notification{display:none!important;}

  .siftal.ltr #main{margin-left:0}
  .siftal.rtl #main{margin-right:0}
  .siftal .dashHead.cloner{width:100%;}
  // sidebar
  .siftal.ltr #sidebar{left:-250px;}
  .siftal.rtl #sidebar{right:-250px;}
  .siftal #sidebar figure{margin:0.5em 0;padding:0}
  .siftal #sidebar figure .avatar{display:inline-block;vertical-align:middle;width:75px;height:75px;margin:1em;}
  .siftal #sidebar figure figcaption{display:inline-block;max-width:140px;line-height:1.5;vertical-align:middle;}
  .siftal #sidebar figure .avatar:after{line-height:70px;}
  .siftal #sidebar ul > li > a {padding:1.2em 2em;}
  .siftal .toggleClean{display:none}

  .tbox2{padding:5px}
  .tbox2 .pageTitle{padding: 0}
  .tbox2 nav{margin-top: 1em;}

  .siftal .tbox p{
    display:none;
  }
  .siftal .tbox i{
    display: none;
  }
  .ltr .tbox.pictogram{
    padding-right:1em;
  }
  .rtl .tbox.pictogram{
    padding-left: 1em;
  }
  .tbox.pictogram > span[class^="sf-"]{
    display: none;
  }
  .siftal .tbox h2{
    font-size: 1.2em;
  }

  // tables
  // .tbl.responsive{
  //   display: block;
  //   overflow-x: hidden;
  //   -ms-overflow-style:-ms-autohiding-scrollbar;
  // }

  .tbl td.collapsing.sauto, .tbl th.collapsing.sauto{white-space:initial;}
  .tbl.responsive tr{
    width: auto!important;
    display: block!important;
    border-top: 1px solid rgba(30,30,30,.1);
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  .tbl.responsive th, .tbl.responsive td{
    width: auto!important;
    display: block!important;
    padding-top:0.25em!important;
    padding-bottom:0.25em!important;
    border: none!important;
    background-color: transparent!important;
  }
  // tbl1 responsive
  .tbl1 td.collapsing.sauto, .tbl1 th.collapsing.sauto{white-space:initial;}
  .tbl1.responsive tr{
    width: auto!important;
    display: block!important;
    border-top: 1px solid rgba(30,30,30,.1);
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  .tbl1.responsive th, .tbl1.responsive td{
    width: auto!important;
    display: block!important;
    padding:0.25em 1em!important;
    border: none!important;
    background-color: transparent!important;
  }
  .s12 .cbox{padding: 1em 0.5em;}


  // breadcrumb
  .breadcrumb{
    padding: 5px 5px;
    height: auto;
  }
  .breadcrumb2{
    padding: 5px 5px;
    height: auto;
  }
  .breadcrumb2 a{
    width: 100%;
  }
  // pagination
  .pagination a:not([href]):not(.active)
  {
    padding-right:2px;
    padding-left:2px;
  }


  // padding and margin
  .sp0{padding:0}
  .sm0{padding:0}


  ul.list li{padding-right:0.1em;padding-left:0.1em;}
  .alert{padding:0.5em;}

}



