/* Design for print */
@media print {
  html{
    height:auto;
    min-height:initial;
  }
  body{
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
    background-color: transparent!important;
    background-image: none!important;
    color: #000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
  }
  h1,h2,h3,h4,h5,h6 {page-break-after:avoid;page-break-inside: avoid;}
  thead {display: table-header-group;}
  tr {page-break-inside:avoid;}
  textarea {overflow:auto;}
  .alerty2-container{display:none!important;}

  // for siftal panel
  body.siftal{background-color:transparent;}
  .siftal #main:after{display:none}
  .siftal > #sidebar{display:none;}
  .siftal > #main > .dashHead{display:none;}
  .siftal > #main > footer{display:none;}
  .siftal .scr::-webkit-scrollbar{display:none;}
  .siftal .tbox .badge{display:none;}
  .siftal .tbox.pictogram > span[class^="sf-"]{font-size:3em;}
  .highcharts-button{display: none;}

  // some default for dash
  .superAdmin{display:none;}
  #xaccess{display:none;}
  .iziToast-wrapper{display:none;}
  video{display:none;}
  audio{display:none;}
  #nprogress{display: none;}

  .p0{display:none;}
  .pBlock{display:block;}


  .tbl1.v1 thead{color:#000;background-color:#ccc;}
  .tbl1 td{color:#000;}

}

