{%extends "content_a/setting/layout.html"%}


{%block data%}
  <div class="cbox">
	<form method="post">
		<input type="hidden" name="formType" value="public">
		{{block ("iname")}}
		{{block ("islug")}}
		{{block ("iwebsite")}}
		{{block ("idesc")}}
		{{block ("iprivacy")}}

		{{block ("iSaveAll")}}
	</form>
</div>


<div class="cbox">
	<form method="post">
		<input type="hidden" name="formType" value="member">
		 <h4>{%trans "Team default setting for new members"%}</h4>
		 <p>{%trans "This settings is only used for new member and you can customize this setting for each member after add them to team."%}</p>
		{{block ("iDefaultMemberRemote")}}
		{{block ("iDefaultMember24")}}
		{{block ("iDefaultMemberMission")}}
		{{block ("iDefaultMemberPersonalwork")}}
		{{block ("iDefaultMemberAvatar")}}
		{{block ("iSaveAll")}}
	</form>
</div>

{%endblock%}
