{%extends "content_a/setting/layout.html"%}


{%block data%}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
  <div class="cbox">
   <form method="post" autocomplete="off">

      <label for="ititle">{%trans "Name"%} <span class="fc-red">*</span></label>
      <div class="input">
        <input type="text" name="title" id="ititle" placeholder='{%trans "Name"%}' value="{{store.store_data.title}}" autofocus maxlength='50' minlength="1"  required>
      </div>

      <label for="desc">{%trans "Description"%}</label>
      <textarea class="txt mB10" name="desc"  maxlength='2000' rows="3">{{store.store_data.desc}}</textarea>

      <div class="txtRa">
        <button class="btn success">{%trans "Save"%}</button>
      </div>
   </form>
  </div>


 </div>
</div>

<div class="cbox">

  <div class="pA20">

    <p>{%trans "Stroe settings"%}</p>

    <ul>
        <li><a href="{{url.this}}/address">{%trans "Set your store address" %}</a></li>
        <li><a href="{{url.this}}/company">{%trans "Store legal information" %}</a></li>
        <li><a href="{{url.this}}/logo">{%trans "Set logo of your store" %}</a></li>
        <li><a href="{{url.this}}/payment">{%trans "Payment channels" %}</a></li>
        <li><a href="{{url.this}}/pos">{%trans "Point of sale hardwares" %}</a></li>
        <li><a href="{{url.this}}/shipping">{%trans "Setting up shipping rates" %}</a></li>
        <li><a href="{{url.this}}/units">{%trans "Store Units" %}</a></li>
        <li><a href="{{url.this}}/vat">{%trans "Tax settings" %}</a></li>
        <li><a href="{{url.this}}/pcpos">{%trans "PC-POS setting" %}</a></li>

    </ul>

  </div>

</div>




{%endblock%}
