{%extends "content_a/product/layout.html"%}

{%block pageContent%}
{{block('pageSteps')}}

<div class="f">
 <div class="cauto s12 pRa10">
{{block("psidebar")}}
 </div>
 <div class="c s12">
 	<div class="msg info2 f fs12" >
 		<div class="cauto" title='{{dataRow.datecreated | dt(true)}}'>{%trans "Added to store at"%} {{dataRow.datecreated | dt("human", "year")}}</div>
 		<div class="cauto os" title='{{dataRow.datemodified | dt(true)}}'>{%trans "Last update"%} {{dataRow.datemodified | dt("human", "year")}}</div>
 	</div>

 	<div class="f">
 		{%if dashboardData.last_buy%}<div class="c">{{block("dLastBuy")}}</div>{%endif%}
 		{%if dashboardData.last_sale%}<div class="c">{{block("dLastSale")}}</div>{%endif%}
 	</div>




 	<div class="f">
 		{%if dashboardData.low_sale_price %}<div class="c">{{block("dMinPrice")}}</div>{%endif%}
 		{%if dashboardData.top_sale_price %}<div class="c">{{block("dMaxPrice")}}</div>{%endif%}
 	</div>

 	<div class="f">
 		{%if dataRow.buyprice%}<div class="c">{{block("dBuyPrice")}}</div>{%endif%}
 		{%if dataRow.price%}<div class="c">{{block("dSalePrice")}}</div>{%endif%}
 		{%if (dataRow.price - dataRow.discount)%}<div class="c">{{block("dOffPrice")}}</div>{%endif%}
 	</div>




 	<div class="f">
 		{%if dataRow.discount%}<div class="c">{{block("dDiscountPrice")}}</div>{%endif%}
 		{%if dataRow.discountpercent%}<div class="c">{{block("dDiscountPercent")}}</div>{%endif%}
 	</div>


 </div>
</div>
{%endblock%}







{%block dLastBuy%}
<a class="dcard" {%if dashboardData.last_buy_id%} href='{{url.here}}/factor?q={{dashboardData.last_buy_id}}' {%endif%}>
 <div class="statistic blue">
  <div class="label mB5"><i class="fs20 mRa5 sf-calendar"></i> {%trans "Date of Last buy"%}</div>
  <div class="value"><small>{{dashboardData.last_buy}}</small></div>
 </div>
</a>
{%endblock%}


{%block dLastSale%}
<a class="dcard" {%if dashboardData.last_sale_id%} href='{{url.here}}/factor?q={{dashboardData.last_sale_id}}' {%endif%}>
 <div class="statistic orange">
  <div class="label mB5"><i class="fs20 mRa5 sf-calendar"></i> {%trans "Date of last sale"%}</div>
  <div class="value"><small>{{dashboardData.last_sale}}</small></div>
 </div>
</a>
{%endblock%}



{%block dMinPrice%}
<a class="dcard" href='{{url.this}}/pricechange?id={{requestGET.id}}'>
 <div class="statistic blue">
  <div class="label mB5"><i class="fs20 mRa5 sf-calendar"></i> {%trans "Date of minimum sale price"%}</div>
  <div class="value"><small>{{dashboardData.low_sale_price}}</small></div>
 </div>
</a>
{%endblock%}


{%block dMaxPrice%}
<a class="dcard" href='{{url.this}}/pricechange?id={{requestGET.id}}'>
 <div class="statistic orange">
  <div class="label mB5"><i class="fs20 mRa5 sf-calendar"></i> {%trans "Date of maximum sale price"%}</div>
  <div class="value"><small>{{dashboardData.top_sale_price}}</small></div>
 </div>
</a>
{%endblock%}



{%block dBuyPrice%}
<a class="dcard" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic blue">
  <div class="label mB5"><i class="fs20 mRa5 sf-bag"></i> {%trans "Buy price"%}</div>
  <div class="value"><small>{{dataRow.buyprice |fitNumber}}</small></div>
 </div>
</a>
{%endblock%}


{%block dSalePrice%}
<a class="dcard" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic orange">
  <div class="label mB5"><i class="fs20 mRa5 sf-basket"></i> {%trans "Sale price"%}</div>
  <div class="value"><small>{{dataRow.price |fitNumber}}</small></div>
 </div>
</a>
{%endblock%}


{%block dOffPrice%}
<a class="dcard" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic orange">
  <div class="label mB5"><i class="fs20 mRa5 sf-sell-sign"></i> {%trans "Off price"%}</div>
  <div class="value"><small>{{(dataRow.price - dataRow.discount) |fitNumber}}</small></div>
 </div>
</a>
{%endblock%}



{%block dDiscountPrice%}
<a class="dcard" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic orange">
  <div class="label mB5"><i class="fs20 mRa5 sf-hand-peace-o"></i> {%trans "Discount"%}</div>
  <div class="value"><small>{{dataRow.discount |fitNumber}}</small></div>
 </div>
</a>
{%endblock%}


{%block dDiscountPercent%}
<a class="dcard" href='{{url.this}}/general?id={{requestGET.id}}'>
 <div class="statistic orange">
  <div class="label mB5"><i class="fs20 mRa5 sf-check-1"></i> {%trans "Discount Percent"%}</div>
  <div class="value"><small>{{dataRow.discountpercent |fitNumber(false)}} {%trans "%"%}</small></div>
 </div>
</a>
{%endblock%}






