{%extends display.dash%}


{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <form method="post" autocomplete="off">

		    {{block('iCountry')}}
        {{block('iProvince')}}
		    {{block('iCity')}}
		    {{block('iAddress')}}

        {{block('iPostcode')}}
        {{block('iPhone')}}


        <div class="f align-center mB10">
          <div class="c fc-mute">{%trans "Step"%} {{3 | fitNumber}} {%trans "of"%} {{7 | fitNumber}}</div>
          <div class="cauto os"><button class="btn success">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}



{%block iCountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <select class="select2" name="country" id="country" data-model2='country' data-next='#province'>
    <option value="" readonly>{%trans "Choose your country"%}</option>
{%for key, value in countryList%}
      <option value="{{key}}" {%if dataRow.country == key%} selected {%endif%}>{%set myCountry = value.name | capitalize%}{{myCountry}}{%if lang.current != 'en'%} - {%trans myCountry%}{%endif%}</option>
{%endfor%}
  </select>
</div>
{%endblock%}


{%block iProvince%}
<div>
  <label for='province'>{%trans "Province"%}</label>
  <select name="province" id="province" class="select2" data-next='#city'>
    <option value="0">{%trans "Please choose country"%}</option>
  </select>
</div>
{%endblock%}


{%block iCity%}
<div>
  <label for='city'>{%trans "City"%}</label>
  <select name="city" id="city" class="select2">
    <option value="" readonly>{%trans "Please choose province"%}</option>
  </select>
</div>
{%endblock%}


{%block iPostcode%}
<label for="postcode">{%trans "Post code"%}</label>
<div class="input ltr">
  <input type="text" name="postcode" id="postcode" value="{{dataRow.postcode}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}


{%block iPhone%}
<label for="iphone">{%trans "Phone"%}</label>
<div class="input">
  <input type="tel" name="phone" id="iphone" value="{{dataRow.phone}}" pattern=".{1,20}">
</div>
{%endblock%}


{%block iAddress%}
<label for="address">{%trans "Address"%}</label>
<textarea class="txt mB10 pB25" name="address" maxlength='300' rows="2">{{dataRow.address}}</textarea>
{%endblock%}

