{%extends display.main%}

{%set pageTitle%}{%trans "Jibres for School"%}{%endset%}

{%set pageDesc%}
{%trans "Jibres provide complete solution for school."%}
{%endset%}


{%block page%}
{%if site.currentlang == 'fa'%}
{{block ('pageFa')}}
{%else%}
	<h4 class="tile">
		<a href="{{site.base}}/fa/for/school" data-direct>{%trans "Now only available for Iranians"%}</a>
	</h4>
	<script type="text/javascript">window.location.href = "{{site.base}}/fa/for/school";</script>
{%endif%}
{%endblock%}


{%block pageExtra%}
{%if site.currentlang == 'fa'%}
{{block ('pageExtraFa')}}
{%endif%}
{%endblock%}




{%block pageFa%}
<div class="tile">

 <div class="f ps">
  <div class="c1 s0"></div>
  <div class="c4 s12">
  	<img src="{{url.static}}images/school/workbook.svg" class="w250">
  </div>
  <div class="c6 s12">
  	<h3 class="bold">دفتر نمره الکترونیکی</h3>
  	<p>دفتر نمره قدیمی را به خاطرات بسپارید و همگام با تکنولوژی، تمام اطلاعات کلاس را همیشه، حتی خارج از محیط مدرسه، در دسترس معلم قرار دهید. ثبت نمرات، یادداشت‌ها، گزارشات، یادآوری‌ها و مدیریت کامل کلاس در دفتر نمره الکترونیکی تعبیه و برای تجربه مطلوب دبیران آماده شده است.</p>
  </div>
 </div>

 <div class="f ps">
  <div class="c1 s0"></div>
  <div class="c6 s12">
  	<h3 class="bold">حضور و غیاب دانش‌آموزان</h3>
  	<p>سامانه حضور و غیاب اختصاصی و کاربردی خودتان را به‌سرعت راه‌اندازی کرده و به‌واسطه مزیت ارتباط سریع، دغدغه والدین از حضور فرزندانشان را با ارسال لحظه‌ای گزارشات حضور و غیاب کاهش دهید. هم‌چنین نظارت موشکافانه و سریع را لمس کرده و افزایش قدرت کنترل بر مدرسه را تجربه کنید.</p>
  </div>
  <div class="c4 s12">
  	<img src="{{url.static}}images/school/attendance.svg" class="w250">
  </div>
 </div>

 <div class="f ps">
  <div class="c1 s0"></div>
  <div class="c4 s12">
  	<img src="{{url.static}}images/school/student-database.svg" class="w250">
  </div>
  <div class="c6 s12">
  	<h3 class="bold">بانک اطلاعات دانش‌آموزان</h3>
  	<p>بدون نگرانی از بابت تخریب، گم‌شدن و از بین‌رفتن مدارک و اسناد دانش‌آموزان، آرشیو کاملی از اطلاعات آن‌ها را برای همیشه نگهداری کرده و خیلی ساده به اطلاعات موردنظر خود دسترسی پیدا کنید. هم‌چنین پس از اتمام سال تحصیلی، ارتباط خود را با دانش‌آموز به‌صورت موثرتری حفظ کنید.</p>
  </div>
 </div>

 <div class="f ps">
  <div class="c1 s0"></div>
  <div class="c6 s12">
  	<h3 class="bold">نظارت موشکافانه بر مدرسه</h3>
  	<p>کنترل و مدیریت کلاس‌ها با تجارک ساده‌تر و دقیق‌تر شده و نظارت موشکافانه بر دانش‌آموزان تسهیل می‌گردد. با اتکا به گزارشات کاربردی و تطبیقی، دانش‌آموزان و کلاس‌ها را با هم مقایسه کرده و درلحظه بر پیشرفت آموزشی نظارت کنید. با بهره‌گیری از این اطلاعات، تصمیم‌گیری سریع‌تر و صحیح‌تری داشته باشید.</p>
  </div>
  <div class="c4 s12">
  	<img src="{{url.static}}images/school/monitoring.svg" class="w250">
  </div>
 </div>

</div>



{%endblock%}


{%block pageExtraFa%}
<div class="tile" id="offer-enterprise-small">
  <div class="cn f align-center">
   <div class="c s12">
    <h3>به مزایای تجارک برای مدارس علاقمند شدید؟</h3>
    <h4>مزایای بیشتری در انتظار شماست...</h4>
   </div>
  </div>
 </div>

<div class="pc p">
  <div class="cn tile f justify-center">
  <div class="cauto ps">
  	<img src="{{url.static}}images/school/quicksetup.svg" class="w200">
  	<h4 class="bold">راه‌اندازی سریع و آسان</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/term-result.svg" class="w200">
  	<h4 class="bold">صدور کارنامه ماهانه و ترمی</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/student-panel.svg" class="w200">
  	<h4 class="bold">ارائه پنل دانش‌آموزی</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/parent-connection.svg" class="w200">
  	<h4 class="bold">ارتباط ساده و سریع با والدین</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/website.svg" class="w200">
  	<h4 class="bold">وب‌سایت اختصاصی مدرسه</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/teacher.svg" class="w200">
  	<h4 class="bold">بانک اطلاعات اساتید</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/report.svg" class="w200">
  	<h4 class="bold">گزارشات آماری موثر</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/notify.svg" class="w200">
  	<h4 class="bold">اطلاع‌رسانی یکپارچه و سراسری</h4>
  </div>

  <div class="cauto ps">
  	<img src="{{url.static}}images/school/support-developement.svg" class="w200">
  	<h4 class="bold">توسعه و پشتیبانی موثر</h4>
  </div>

  </div>
 </div>

 <div class="tile hide">
{%include template.priceSchool%}
 </div>

 <div class="tile bg-khaki">
  <div class="cn f align-center">
   <div class="c s12">
    <h3>می‌خواهید بیشتر بدانید؟</h3>
    <h4><a href='{{url.base}}/contact' class="btn">با ما تماس بگیرید</a></h4>
   </div>
  </div>
 </div>


 <div class="tile pc ">
  <div class="cn f align-center">
   <div class="c s12">
    <h3 class="bold">نقشه راه و برنامه توسعه در آینده</h3>
	<h4>آرشیو الکترونیکی اسناد کاغذی</h4>
	<h4>مدیریت کامل امور مالی مدرسه</h4>
	<h4>برگزاری آزمون</h4>
	<h4>سامانه ثبت‌نام اختصاصی</h4>
	<h4>وب‌سایت برای دانش‌آموزان</h4>
	<h4>صدور گواهی‌نامه و مدرک تحصیلی</h4>
   </div>
   <div class="cauto s12"><img src="{{url.static}}images/school/roadmap.svg" class="w300"></div>
  </div>
 </div>

{%endblock%}

