{%extends "content_a/product/layout.html"%}


{%block data%}
<form method="post" class="cbox">
<h3>{%trans "Add new observer"%}</h3>
{{block("iParentMobile")}}
{{block("iParentTitle")}}

{{block("iInsert")}}
</form>


{%if product_parent%}
<div class="cbox">
  <h4 class="mB25">{%trans "List of observer"%}</h4>
{%for key, value in product_parent%}
{%set my_title = value.title | capitalize %}

  <div class="icard">
    <a class="size-we50 size-he50 pA2p5" href="{{url.baseFull}}/student/edit={{value.id}}">
      {%if value.avatar%}
        <img src="{{value.avatar}}" alt="{{value.name}} {{value.lastname}}">
      {%else%}
        <img src="{{url.static}}siftal/images/useful/user1.png" alt="{{value.name}} {{value.lastname}}">
      {%endif%}
    </a>

    <div class="f-column align-start fc-black">{{value.displayname}}<small></small></div>
    <div class="vdivider">{%trans my_title%}</div>
    <div class="justify-start">
{%if value.telegram%}<span class="icon sf-paper-plane "></span>{%endif%}
{%if value.mobile%}
      <span class="icon sf-mobile fs18"></span> {{value.mobile|fitNumber}}
{%endif%}

    </div>
    <div>
     <a href="{{url.full}}" data-ajaxify data-method="post" data-data='{"remove": "{{value.id|shortURL("encode")}}" }' class="fc-red">{%trans "Remove"%}</a>
    </div>
  </div>
{%endfor%}
</div>
{%endif%}

{%endblock%}

