{%extends display.jibresControlLayout%}


{%block pageContent%}

    <div id="get_started_card">
      <div class="body">
        <div class="pad">
          <h1>{%trans "Sorry!"%}</h1>
          <p>{%trans "There was an error building your store"%}</p>
          <p>{%trans "Please report the error with support or try again in a few minutes"%}</p>

          {%if StoreCreateErrorCode%}
            <div class="msg ltr">
              <code>Error code {{StoreCreateErrorCode}}</code>
            </div>
          {%endif%}
          <a data-direct href='{{url.here}}' class="btn mTB20 block success2 outline">{%trans "Try again"%}</a>

          <a data-direct href='{{url.support}}/ticket/add?title={%trans "Error create store"%}{%if StoreCreateErrorCode%} {{StoreCreateErrorCode}}{%endif%}' class="btn block primary2 outline mB50">{%trans "Contact Us about this error"%}</a>

        </div>

        <img class="internalError" src="{{url.static}}/img/store/error500.jpg" alt='{%trans "Loading Jibres"%}'>
      </div>
    </div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}

