{%extends display.jibresControlLayout%}


{%block pageContent%}

    <div id="get_started_card">
      <div class="body">
        <div class="pad">
          <h1>{%trans "Oops!"%}</h1>
          <p> {%trans "We can not build your store!"%} {%trans "Please contact us to solve this problem."%}</p>

          {%if StoreCreateErrorCode%}
            <div class="msg ltr">
              <code>Error {{StoreCreateErrorCode}}</code>
            </div>
          {%endif%}
          <a data-direct href='{{url.here}}' class="btn mTB20 block success2 outline">{%trans "Try again"%}</a>

          <a data-direct href='{{url.support}}/setup/error' class="btn block secondary">{%trans "Read about this problem"%}</a>

        </div>

        <img class="internalError" src="{{url.static}}/img/store/error500.jpg" alt='{%trans "Loading Jibres"%}'>
      </div>
    </div>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}

