{%extends display.dash%}


{%block pageContent%}
<p class="msg danger2 fs16 txtC">{%trans "If you dont know about this page, leave it!"%}</p>

{%if isLockService%}
  <p class="msg danger  fs20 txtB txtC">{%trans "Service is Locked!"%}</p>
{%else%}
  <p class="msg success fs20 txtB txtC">{%trans "Service is Running!"%}</p>
{%endif%}

<div class="f">
  <div class="c s6">
    {{block('iDbLock')}}
  </div>
  <div class="c s6">
    {{block('iDbGitPull')}}
  </div>
  <div class="c s6">
    {{block('iDbDbUpgrade')}}
  </div>
  <div class="c s6">
    {{block('iDbUnlock')}}
  </div>
</div>

{%endblock%}




{%block iDbLock%}
<div class="dcard x2 mB10" data-confirm data-data='{"type" : "lock"}'>
  <div class="statistic red">
    <div class="value">{%trans "Lock"%}</div>
    <div class="label">{%trans "Lock service"%}</div>
  </div>
</div>
{%endblock%}



{%block iDbGitPull%}
<div class="dcard x2 mB10" data-confirm data-data='{"type" : "pull"}'>
  <div class="statistic yellow">
    <div class="value">{%trans "Pull"%}</div>
    <div class="label">{%trans "Pull service"%}</div>
  </div>
</div>
{%endblock%}



{%block iDbDbUpgrade%}
<div class="dcard x2 mB10" data-confirm data-data='{"type" : "upgrade"}'>
  <div class="statistic blue">
    <div class="value">{%trans "Upgrade"%}</div>
    <div class="label">{%trans "Update database"%}</div>
  </div>
</div>
{%endblock%}



{%block iDbUnlock%}
<div class="dcard x2 mB10" data-confirm data-data='{"type" : "unlock"}'>
  <div class="statistic green">
    <div class="value">{%trans "Unlock"%}</div>
    <div class="label">{%trans "Unlock service"%}</div>
  </div>
</div>
{%endblock%}

