{%extends display.cmsMain%}



{%block pageContent%}


{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}' data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>
      {%if requestGET.type%}
      <input type="hidden" name="type" value="{{requestGET.type}}">
      {%endif%}
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
  <table class="tbl1 v1 fs11 tblFiles">
    <thead>
      <tr>
        <th></th>
        <th data-sort="{{sortLink.title.order}}"><a href='{{sortLink.title.link}}'>{%trans "File Name"%}</a></th>
        <th class="max-w200 s0 m0" data-sort="{{sortLink.type.order}}"><a href='{{sortLink.type.link}}'>{%trans "Type"%}</a></th>
        <th class="max-w200" data-sort="{{sortLink.size.order}}"><a href='{{sortLink.size.link}}'>{%trans "Size"%}</a></th>
        <th class="max-w200 s0" data-sort="{{sortLink.date.order}}"><a href='{{sortLink.date.link}}'>{%trans "Date"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr class="{%if value.status=='deleted'%}negative{%elseif value.status=='draft'%}warning{%endif%}">
        <td class="thumb">
          <a href="{{value.url}}" target="_blank">
{%if value.type == "image"%}
            <img src="{{value.url}}" alt="{{value.title}}">
{%else%}
            <div><span>.{{value.ext}}</span></div>
{%endif%}
          </a>
        </td>
        <td>
            <div class="fileName" title="{{value.title}}">{{value.title [:70] }}</div>
            <div class="f">
              <div class="c">
                <a class="badge primary" href="{{value.url}}" target="_blank">{%trans "View"%}</a>
              </div>
              <div class="cauto os">
                <a class="badge warn s0" href="" data-confirm>{%trans "Delete"%}</a>
                <a class="badge danger" href="" data-confirm>{%trans "Block"%}</a>
              </div>
            </div>
        </td>
        <td class="s0 m0 ltr txtL collapsing"><i class="sf-file-{{value.type}}-o fs16 mR5"></i> {{value.mime}}</td>
        <td>{{value.size | readableSize }}</td>
        <td class="s0 ltr txtL collapsing"><div>{{value.datecreated | dt(false, "date")}}</div><div>{{value.datecreated | dt(false, "time")}}</div></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}
{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new record!"%}</a></p>
{%endblock%}





{%block pageSteps%}
  <div class="f">

   <div class="c">
    <a class="dcard {%if requestGET.status == 'publishde' or not requestGET.status %}active{%endif%}" href='{{url.this}}{%if requestGET.type%}?type={{requestGET.type}}{%endif%}' data-shortkey="49ctrlshift" title='{%trans "All publish posts"%}'>
     <div class="statistic">
      <div class="value"><i class="sf-publish"></i></div>
      <div class="label">{%trans "Published"%} <kbd class=" hide mT5">Shift+1</kbd></div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'draft' %}active{%endif%}" href='{{url.this}}?status=draft{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="50ctrlshift" title='{%trans "All draft posts"%}'>
     <div class="statistic">
      <div class="value"><i class="sf-edit"></i></div>
      <div class="label">{%trans "Draft"%} <kbd class=" hide mT5">Shift+2</kbd></div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'deleted' %}active{%endif%}" href='{{url.this}}?status=deleted{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" title='{%trans "All trash posts"%}'>
     <div class="statistic">
      <div class="value"><i class="sf-trash"></i></div>
      <div class="label">{%trans "Deleted"%} <kbd class=" hide mT5">Shift+2</kbd></div>
     </div>
    </a>
   </div>



  </div>
{%endblock%}