{%extends display.dash%}


{%block sidenav%}
<li><a href="{{url.here}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>


<li><a href="{{url.here}}/store"><i class='sf-shopping-cart'></i> <span>{% trans "My Stores" %}</span><span class="floatRa fc-mute">{{storesCount | fitNumber}}</span></a></li>
<li>
  <ul>
{%for key, value in listStore%}
    <li>
    	<a href="{{value.url}}"><i class='floatRa mRa10 fc-mute sf-shop'></i> <span>{{value.name}}</span></a>
    </li>
{%endfor%}

  </ul>
</li>
<li><a href="{{url.here}}/store/add"><i class='sf-plus'></i> <span>{%trans "Add new store"%}</span></a></li>


<li><a href="{{url.kingdom}}/account/billing"><i class="sf-credit-card"></i>{%trans "Billing"%}</a></li>

{%endblock%}
