{%extends display.main%}


{%block page%}

    <p>{%trans "Advancement of technology and development of Web-based business Cause Need new tools to resolve the daily needs and that’s the goal of making Jibres."%} {%trans "Jibres have a set of simple and practical tools on a regular basis for modern businesses."%}</p>

    <p class="em">{%trans "It’s good to know that in addition to the core services, features such as inventory and invoice will be added."%}</p>

    <h2>{%trans "Attendance system"%}</h2>
    <p>{%trans "Attendance is so different in Jibres. Beautiful and stylish design without requiring any hardware. Notification via social networks, Online reports and difference compared to other systems are the best feature of Jibres."%}</p>

{%endblock%}

