{%extends display.main%}


{%block page%}

   <div class="pa">

    <p>{%trans "Advancement of technology and development of Web-based business Cause Need new tools to resolve the daily needs and that’s the goal of making Jibres."%} {%trans "Jibres have a set of simple and practical tools on a regular basis for modern businesses."%}</p>

    <p class="em">{%trans "It’s good to know that in addition to the core services, features such as inventory and invoice will be added."%}</p>

    <h2>{%trans "Attendance system"%}</h2>
    <p>{%trans "Attendance is so different in Jibres. Beautiful and stylish design without requiring any hardware. Notification via social networks, Online reports and difference compared to other systems are the best feature of Jibres."%}</p>

    <h2>{%trans "Daily report"%}</h2>
    <p>{%trans "In many collections received daily reports of the employees is very important. On the other hands Employees reluctant to do that. In addition to the classical method, using social networks on Twitter and Daily Telegram reported in Jibres possible to get there."%}</p>

    <h2>{%trans "Salary calculator"%}</h2>
    <p>{%trans "For many small business is very complex method of calculating monthly salary and they Need to have simpler method. In addition to supporting traditional methods, Jibres provide monthly salary simple solutions to employees have modern and beautiful Payroll."%}</p>

   </div>




{%endblock%}