{%extends display.main%}


{%block page%}

<table class="tbl">
 <thead>
  <tr>
   <th>{%trans "Date"%}</th>
   <th>{%trans "Description"%}</th>
  </tr>
 </thead>
 <tbody>

  <tr>
   <td>...</td>
   <td>{%trans "We are Developers, please wait!"%}</td>
  </tr>

  <tr>
   <td>{%trans "Soon"%}</td>
   <td>{%trans "Alfa version of Jibres will be released."%}</td>
  </tr>

  <tr>
   <td>{{"2014-10-18" | tdate("j F Y")}}</td>
   <td>{%trans "The name of project selected as Jibres and <a href='http://Jibres.ir'>Jibres.ir</a> domains registered."%}</td>
  </tr>

  <tr>
   <td>...</td>
   <td>{%trans "We were born to do Best!"%}</td>
  </tr>
 </tbody>
</table>

<p class="alert alert-info txtC mT50">{%trans "Be patient..."%}</p>

{%endblock%}

