{%extends display.main%}

{%set pageTitle%}{%trans "Change log of Jibres"%}{%endset%}

{%set pageDesc%}
{%trans "We were born to do Best!"%} | {%trans "We are Developers, please wait!"%}
{%endset%}



{%block page%}

   <div class="tbl p dtc">
    <div class="f th">
     <div class="c2 ar">{%trans "Date"%}</div>
     <div class="c">{%trans "Description"%}</div>
    </div>
    <div class="f">
     <div class="c2 ar">...</div>
     <div class="c">{%trans "We are Developers, please wait!"%}</div>
    </div>
    <!-- next version ? -->

    <div class="f">
     <div class="c2 ar">{{"2017-10-10" | tdate("j F Y")}}</div>
     <div class="c">{%trans "Version 3 of Jibres released with new features and bugfixes and improvements."%}</div>
    </div>

    <div class="f">
     <div class="c2 ar">{{"2017-07-01" | tdate("j F Y")}}</div>
     <div class="c">{%trans "Version 2 of Jibres is released and ready to used by everyone in everyteam."%}</div>
    </div>

    <div class="f">
     <div class="c2 ar">{{"2017-05-08" | tdate("j F Y")}}</div>
     <div class="c">{%trans "We are ready to have some change on Jibres and publish it as public service."%}</div>
    </div>

    <div class="f">
     <div class="c2 ar">{{"2016-10-01" | tdate("j F Y")}}</div>
     <div class="c">{%trans "Version 1 of Jibres released."%} {%trans "This version is used in Ermile without plan to publish it."%}</div>
    </div>

    <div class="f">
     <div class="c2 ar">{{"2016-08-20" | tdate("j F Y")}}</div>
     <div class="c">{%trans "Beta version of Jibres released"%}</div>
    </div>

    <div class="f">
     <div class="c2 ar">{{"2016-08-10" | tdate("j F Y")}}</div>
     <div class="c">{%trans "Alfa version of Jibres released"%}. {%trans "First enterence traffic of Jibres is registered for Ermile."%}</div>
    </div>

    <div class="f">
     <div class="c2 ar">{{"2014-06-08" | tdate("j F Y")}}</div>
     <div class="c">{%trans "The name of project selected as Jibres and <a href='http://Jibres.ir'>Jibres.ir</a> domains registered."%}</div>
    </div>

    <div class="f">
     <div class="c2 ar">...</div>
     <div class="c">{%trans "We were born to do Best!"%}</div>
    </div>
   </div>
{%endblock%}