{%extends display.main%}

{%set pageTitle%}{%trans "Jibres Logo"%}{%endset%}

{%set pageDesc%}
{%trans "Need know more about Jibres Logo? Be patient..."%}
{%endset%}

{%block page%}
<div class="logo-txt">
{%if url.tld == 'dev'%}
 <h4><span>{%trans "Drawing logo"%}</span></h4>
 <div class="logo-blueprint">
  <img src="{{url.static}}images/logo/extra/jibres-logo-blueprint.png" alt=''>
 </div>

 <div class="logo-colors">
  <div class="flex {%if site.currentlang == 'fa'%}f-row-reverse{%endif%} logo-colors-box">
   <div class="logo-colors-square logo-color-one"></div>
   <ul class="flex f-column justify-center">
    <li>
     <span>R</span>
     <span>192</span>
     <span>C</span>
     <span>17</span>
    </li>
    <li>
     <span>G</span>
     <span>16</span>
     <span>M</span>
     <span>100</span>
    </li>
    <li>
     <span>B</span>
     <span>64</span>
     <span>Y</span>
     <span>63</span>
    </li>
    <li>
     <span>#</span>
     <span>c01040</span>
     <span>K</span>
     <span>7</span>
    </li>
   </ul>
  </div>
  <div class="flex {%if site.currentlang == 'fa'%}f-row-reverse{%endif%} logo-colors-box">
   <div class="logo-colors-square logo-color-two"></div>
   <ul class="flex f-column justify-center">
    <li>
     <span>R</span>
     <span>192</span>
     <span>C</span>
     <span>17</span>
    </li>
    <li>
     <span>G</span>
     <span>16</span>
     <span>M</span>
     <span>100</span>
    </li>
    <li>
     <span>B</span>
     <span>64</span>
     <span>Y</span>
     <span>63</span>
    </li>
    <li>
     <span>#</span>
     <span>e0d7c0</span>
     <span>K</span>
     <span>7</span>
    </li>
   </ul>
  </div>
 </div>
{%endif%}

 <h4><span>{%trans "Dowload our logo"%}</span></h4>
 <h5>{%trans "Square"%}</h5>
 <div class="logo-showcase">
  <div class="logo-showcase-img">
   <img src="{{url.static}}images/logo/png/jibres-logo-64.png" alt=''>
  </div>
  <div class="logo-showcase-list">
   <div class="dd">
    JPG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/jpg/jibres-logo-bg-white-32.jpg" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/jibres-logo-bg-white-64.jpg" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/jibres-logo-bg-white-128.jpg" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/jibres-logo-bg-white-256.jpg" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/jibres-logo-bg-white-512.jpg" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/jibres-logo-bg-white-1024.jpg" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/jibres-logo-bg-white-2048.jpg" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <div class="dd">
    PNG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/png/jibres-logo-32.png" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/jibres-logo-64.png" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/jibres-logo-128.png" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/jibres-logo-256.png" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/jibres-logo-512.png" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/jibres-logo-1024.png" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/jibres-logo-2048.png" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <a href="{{url.static}}images/logo/svg/jibres-logo.svg" target="_blank" class="dd">SVG</a>
  </div>
 </div>

 <h5>{%trans "Circle"%}</h5>
 <div class="logo-showcase">
  <div class="logo-showcase-img logo-showcase-img-circle">
   <img src="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-64.png" alt=''>
  </div>
  <div class="logo-showcase-list">
   <div class="dd">
    JPG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/rounded/jpg/jibres-logo-rounded-bg-white-32.jpg" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/jibres-logo-rounded-bg-white-64.jpg" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/jibres-logo-rounded-bg-white-128.jpg" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/jibres-logo-rounded-bg-white-256.jpg" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/jibres-logo-rounded-bg-white-512.jpg" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/jibres-logo-rounded-bg-white-1024.jpg" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/jibres-logo-rounded-bg-white-2048.jpg" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <div class="dd">
    PNG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-32.png" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-64.png" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-128.png" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-256.png" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-512.png" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-1024.png" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/jibres-logo-rounded-2048.png" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <a href="{{url.static}}images/logo/rounded/svg/jibres-logo-rounded.svg" target="_blank" class="dd">SVG</a>
  </div>
 </div>
</div>
{%endblock%}
