{%extends display.admin%}




{%block pageContent%}

<form method="post"  autocomplete="off">
  <div class="f justify-center">
    <div class="c6 m8 x5 s12">
      <div class="cbox">
        {{block("iBarcode")}}
        <div class="f align-center">
          <div class="c"></div>
          <div class="cauto">
            <button class="btn success">{%trans "Save"%}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{%endblock%}




{%block iBarcode%}
<div class="switch1">
 <input type="checkbox" name="barcode" id="barcode" {% if dataRow.barcode == 'yes'%} checked{%endif%}>
 <label for="barcode"></label>
 <label for="barcode">{%trans "Barcode"%} <small>{%trans "Use barcode reader in your store?"%}</small></label>
</div>

{%endblock%}
