{%extends display.admin%}

{%block pageContent%}
<div class="f justify-center">
  <div class="c4 s12">
    <div class="cbox">

      <a href="{{url.kingdom}}/api/doc" class="btn block outline">{{myTitle}}</a>

      {%if not user.verifymobile%}
      <div class="msg warn txtB txtC">{%trans "To make your appkey you must verify your mobile"%}</div>
      {%endif%}

      <div class="msg warn2 mT20">
        <div>{%trans "Protect this key like a password!"%}</div>
        <div>{%trans "By this code you can build new application to manage your account and manage other customer"%}</div>
      </div>

      <form method="post">
        <input type="hidden" name="add" value="appkey">
        <div class="input">
          <label>{%trans "YOUR APPKEY"%}</label>
          <input type="text" name="appkey" value="{{appkey.auth}}" readonly  class="txtC" placeholder='{%trans "GENERATE YOUR APPKEY"%}'>
        </div>

    	{%if appkey.auth%}
        <div class="msg info2 mT20">
          <div>{%trans "If you want to revoke or remove this appkey"%} <a href="{{url.kingdom}}/support/ticket/add?title=remove appkey">{%trans "Contact us"%}</a></div>
        </div>

      {%else%}
        <button data-confirm data-data='{"add" : "appkey"}' class="btn primary mT5 block">{%trans "Make appkey"%}</button>
    	{%endif%}

      </form>

    </div>

    <div class="cbox">
      {{block('myStoresOwner')}}
    </div>


    </div>

  </div>

</div>
{%endblock%}


{%block myStoresOwner%}
{%if listStore.owner%}
<h3>{%trans "Your Stores code to use in api"%}</h3>
<div class="">
{%for key, value in listStore.owner%}
  <div class="" >
    <div href='{{value.url}}/a' class="scard">
      <img src="{{value.logo}}" alt="{{value.title}}">
      <div class="body">
        <h2>{{value.title}}</h2>
        <div class="position txtRa">
          <code class="ltr">{{value.store_id | coding("encode")}}</code>
        </div>

      </div>
    </div>
  </div>
{%endfor%}
</div>
{%endif%}
{%endblock%}