{%extends display.dash%}

{%set arrow%}sf-chevron-{%if isLtr%}right{%else%}left{%endif%}{%endset%}

{%block pageContent%}

<div class="txtC fs14 mTB25">
  <img class="box700 mB20-f" src="{{url.siftal}}/images/account/personalization-cover.png" alt='{{page.title}}'>
  <h2>{{page.title}}</h2>
  <p>{{page.desc}}</p>
</div>

<div class="fs14">
  <section class="mB20">
  {{block('preferences')}}
  </section>
</div>
{%endblock%}




{%block preferences%}
<div class="panel">
  <div class="body pad">
    <div class="f">
      <div class="c">
        <h3>{%trans "General preferences for the web"%}</h3>
        <p>{%trans "Manage settings for yourself"%}</p>
      </div>
    </div>
  </div>
  <table class="tbl1 v4 responsive mB0">
    <tr>
      <th>{%trans "Language"%}</th>
      <td>{{LnagName}}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/language" class="block {{arrow}}"></a></td>
    </tr>
    <tr>
      <th>{%trans "Sidebar"%}</th>
      <td>{%if userToggleSidebar%}<span class="badge fs11 success"><i class="sf-check vltop"></i> {%trans "Show"%}</span>{%else%}<span class="badge fs11 danger"><i class="sf-times vltop"></i> {%trans "Hide"%}</span>{%endif%}</td>
      <td class="collapsing txtRa"><a href="{{url.this}}/sidebar" class="block {{arrow}}"></a></td>
    </tr>
  </table>
</div>
{%endblock%}

