{%extends 'content_crm/member/layout.html'%}


{%block pageContent%}


{{block('pageSteps')}}
<div class="f">
 <div class="cauto s12 pA5">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA5">

	<form class="cbox" method="post" autocomplete="off">
	<h2>{%trans "Education detail"%}</h2>
	<div class="f mT10">
		<div class="c pRa5">{{block("iEducation")}}</div>

		<div class="c pRa5">{{block("iEducationcourse")}}</div>
	</div>

	{{block("isave")}}

	</form>
 </div>
</div>
{%endblock%}






{%block iEducation%}
<label for="education">{%trans "Education"%}</label>
<div class="input">
  <input type="education" name="education" id="education" placeholder='{%trans "Education"%}' value="{{dataRowMember.detail.education}}" maxlength='50'>
</div>
{%endblock%}



{%block iEducationcourse%}
<label for="educationcourse">{%trans "Education Course"%}</label>
<div class="input">
  <input type="educationcourse" name="educationcourse" id="educationcourse" placeholder='{%trans "Education Course"%}' value="{{dataRowMember.detail.educationcourse}}" maxlength='50'>
</div>
{%endblock%}
