{%extends display.admin%}



{%block pageContent%}


{%if dataTable%}
 {%if filterBox%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if filterBox%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}








{%block htmlSearchBox%}
<div class="cbox fs12 p0">
  <form method="get" action="{{url.this}}">
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}
  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr class="fs08">
        <th>&nbsp;</th>
        <th data-sort="{{myFilter.title.order}}"><a href='{{myFilter.title.link}}'>{%trans "Title"%}</a></th>
        <th data-sort="{{myFilter.slug.order}}" class="s0"><a href='{{myFilter.slug.link}}'>{%trans "Slug"%}</a></th>
        <th data-sort="{{myFilter.count.order}}" class="s0"><a href='{{myFilter.count.link}}'>{%trans "Count"%}</a></th>
        <th data-sort="{{myFilter.desc.order}}" class="s0"><a href='{{myFilter.desc.link}}'>{%trans "Description"%}</a></th>
        <th>{%trans "Action"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr  {%if value.isdefault%} class="positive" title='{%trans "Is a default category"%}' {%endif%}>
        <td class="collapsing">
          {%if value.file%}<img src="{{value.file}}" class="avatar">{%endif%}
        </td>
        <td ><a href="{{url.here}}/category/edit?id={{value.id}}"><i class="sf-edit-write mRa10"></i>{{value.full_title}}</a></td>
        <td class="s0">{{value.full_slug}}</td>
        <td class="s0">
          <a href="{{url.here}}/product?catid={{value.id}}">{{value.count | fitNumber}}</a>


        </td>
        <td class="s0"><a href="{{url.here}}/category?desc={{value.desc}}">{{value.desc}}</a></td>
        <td class="collapsing">
          <a class="block" href="{{url.here}}/category/edit?id={{value.id}}"><i class="sf-edit-write fs11  mRa10"></i><span class="sm">{%trans "Edit"%}</span></a>
          {%if false%}<a class="block" href="{{url.here}}/category/remove?id={{value.id}}"><i class="sf-trash mRa10  fs11 fc-red"></i><span class="sm">{%trans "Remove"%}</span></a>{%endif%}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

  {%include display.pagination%}
{%endblock%}




{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{filterBox | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c s12">{%trans "Result not found!"%} {%trans "Search with new keywords."%} </span>
{%if barcodeScaned%}
  <a class="c" href="{{url.this}}/add{{barcodeScaned}}" data-shortkey="118">{%trans "Add new category"%} <kbd>f7</kbd></a>
{%endif%}
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.this}}/add">{%trans "Try to start with add new category!"%}</a></p>
{%endblock%}

