{%extends "content_a/layout.html"%}


{%block pageContent%}
<div class="cbox">

</div>
<table class="tbl1 v4">
	<tbody>
		<tr><td>remaincredit</td><td>{{dataRow.remaincredit}}</td></tr>
		<tr><td>expiredate</td><td>{{dataRow.expiredate}}</td></tr>
		<tr><td>apikey</td><td>{{dataRow.apikey}}</td></tr>
		<tr><td>fullname</td><td>{{dataRow.fullname}}</td></tr>
		<tr><td>username</td><td>{{dataRow.username}}</td></tr>
		<tr><td>pricingname</td><td>{{dataRow.pricingname}}</td></tr>
		<tr><td>smsfarsicost</td><td>{{dataRow.smsfarsicost}}</td></tr>
		<tr><td>smsenglishcost</td><td>{{dataRow.smsenglishcost}}</td></tr>
		<tr><td>calllocalcost</td><td>{{dataRow.calllocalcost}}</td></tr>
		<tr><td>lastlogindate</td><td>{{dataRow.lastlogindate}}</td></tr>
		<tr><td>mininumallowedcredit</td><td>{{dataRow.mininumallowedcredit}}</td></tr>
		<tr><td>status</td><td>{{dataRow.status}}</td></tr>
		<tr><td>pwdhashed</td><td>{{dataRow.pwdhashed}}</td></tr>
		<tr><td>mobile</td><td>{{dataRow.mobile}}</td></tr>
		<tr><td>localid</td><td>{{dataRow.localid}}</td></tr>
	</tbody>
</table>

{%endblock%}

