{%extends display.admin%}

{%block pageContent%}

<div class="f justify-center fs12">
  <div class="c8 m8 s12">
    <form method="get" data-action class="mB20">
      <div class="input">
        <input type="text" name="search" placeholder='{%trans "Search in sells list"%}' id="search" value="{{utilityGET.search}}">
        <button class="addon btn ">{%trans "Search" %}</button>
      </div>
    </form>

    <table class="tbl">
      <thead>

        <tr>
          <th>{%trans "Date"%}</th>
          <th>{%trans "Price"%}</th>
          <th>{%trans "Sum"%}</th>
          <th>{%trans "Discount"%}</th>
          <th>{%trans "Count"%}</th>
        </tr>

      </thead>
      <tbody>
        {%for key, value in sell_list%}
          <tr>
            <td>{{value.date|tdate("Y-m-d")}}</td>
            <td>{{value.detailsum| number_format | fitNumber}}</td>
            <td>{{value.detailtotalsum| number_format | fitNumber}}</td>
            <td>{{value.detaildiscount| number_format | fitNumber}}</td>
            <td>{{value.detailcount| number_format | fitNumber}}</td>
          </tr>
        {%endfor%}
      </tbody>
    </table>


    {%include display.pagination%}
    <a href="{{url.baseFull}}/sell/add" class="btn primary block">{%trans "Add new sell"%}</a>
  </div>
</div>

{%endblock%}



{%block all_field_we_have_hidden%}

    'id'             => string '4' (length=1)
    'store_id'       => string '9' (length=1)
    'customer'       => null
    'seller'         => string '7' (length=1)
    'date'           => string '2017-11-20 15:37:57' (length=19)
    'shamsidate'     => string '13960829' (length=8)
    'title'          => null
    'pre'            => null
    'transport'      => null
    'pay'            => null
    'detailsum'      => string '16000' (length=5)
    'detaildiscount' => null
    'detailtotalsum' => string '16000' (length=5)
    'detailcount'    => string '2' (length=1)
    'vat'            => null
    'discount'       => null
    'sum'            => string '16000' (length=5)
    'status'         => string 'enable' (length=6)
    'datecreated'    => string '2017-11-20 15:37:57' (length=19)
    'datemodified'   => null
    'desc'           => null

{%endblock%}