{%extends display.admin%}






{%block pageContent%}


<div class="f justify-center">
  <div class="c6 m8 x5 s12">
    <div class="cbox">
      <form method="post" autocomplete="off">

        {{block('ifirstname')}}
        {{block('ilastname')}}
        {{block('ibirthday')}}
        {{block('idisplayname')}}
        {{block('igender')}}


        <div class="txtRa">
          <button class="btn success">{%trans "Save"%}</button>
        </div>

      </form>
    </div>
  </div>
</div>





{%endblock%}









{%block ifirstname%}
<label for="firstname">{%trans "First name"%}</label>
<div class="input">
  <input type="text" name="firstname" id="firstname" placeholder='{%trans "Firstname"%}' value="{{dataRow.firstname}}" maxlength='40' minlength="1" pattern=".{1,40}" title2='{%trans "Enter a valid firstname from 3 to 40 character"%}' >
</div>
{%endblock%}



{%block ilastname%}
<label for="lastname">{%trans "Last name"%}</label>
<div class="input">
  <input type="text" name="lastname" id="lastname" placeholder='{%trans "Lastname"%}' value="{{dataRow.lastname}}" maxlength='40' minlength="1" pattern=".{1,40}" title2='{%trans "Enter a valid lastname from 3 to 40 character"%}' >
</div>
{%endblock%}





{%block ibirthday%}
<label for="birthday">{%trans "Birthday"%}</label>
<div class="input">
  <input class="datepicker" type="text" name="birthday" id="birthday" placeholder='{{"1369/04/15" | fitNumber}} *' value="{{dataRow.birthday}}" data-view="year" autocomplete='off'>
</div>
{%endblock%}





{%block idisplayname%}
<label for="displayname">{%trans "Display name"%}</label>
<div class="input">
  <input type="text" name="displayname" id="displayname" placeholder='{%trans "Display name"%}' value="{{dataRow.displayname}}" maxlength='40' minlength="1" pattern=".{1,40}" title2='{%trans "Enter a valid displayname from 3 to 40 character"%}' >
</div>
{%endblock%}





{%block igender%}

<label for="gender">{%trans "Gender"%}</label>
<select name="gender" class="select ui dropdown" id="gender">
  <option value="" readonly>{%trans "Please select one item"%} *</option>
    <option value="male" {%if dataRow.gender == 'male' %} selected {%endif%}>{%trans "Male"%}</option>
    <option value="female" {%if dataRow.gender == 'female' %} selected {%endif%}>{%trans "Female"%}</option>
    <option value="company" {%if dataRow.gender == 'company' %} selected {%endif%}>{%trans "Company"%}</option>
    <option value="rather not say" {%if dataRow.gender == 'rather not say' %} selected {%endif%}>{%trans "Rather not say"%}</option>
</select>

{%endblock%}
