{%extends "content_a/setting/layout.html"%}


{%block data%}
<form method="post" class="cbox">
<input type="hidden" name="formType" value="event">
 <h4>{%trans "Event day counter"%}</h4>
 <p>{%trans "Can show next event in your team and have simple day counter with status change in board."%} {%trans "Can used for something like deadline of project or etc."%}</p>
  {{block("iEventTitle")}}
  {{block("iEventDateStart")}}
  {{block("iEventDate")}}

  {{block("isave")}}
</form>

<form method="post" class="cbox">
<input type="hidden" name="formType" value="board">
  {{block("iCardSize")}}
  {{block("iLanguage")}}

  {{block("isave")}}
</form>
{%endblock%}
