.welcome{
	text-align: center;
	color: #333;
	background-color: rgba(0,0,0,0.05);
	padding: 2em 2%;
	position:relative;
	transition:0.3s;
	margin-bottom: 2em;
	border: 1px solid transparent;
	border-radius:0.3rem;
}
.welcome p{
	font-size: 1.6em;
	margin-bottom: 0.5em;
}
.welcome h2{
	font-size: 3em;
	font-weight: 1000;
}
.welcome .buildBtn{
	font-size: 2em;
	padding:1em 0 2em;
}

// list of stores
.listOfStores{
	font-size: 1.5em;
	margin-bottom: 1em;
}
.scard{
	position: relative;
	@include flexbox;
	overflow: hidden;
	margin:0 auto 1em;
	border-radius: 0.3rem;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #333;
  	box-shadow: 0 10px 25px #ddd;
  	transition: 0.3s;
  	height: 100px;
  	max-width: 400px;
  	min-width: 260px;
}
.scard:hover{
  	box-shadow: 0 15px 25px #ccc;
}
.scard:focus{
  	box-shadow: 0 0px 5px #decc4e;
}
.scard .body{
	width: 100%;
	display: block;
	padding: 10px;
	overflow: hidden;
}
.scard img{
	height: 100px;
	width: 100px;
}
.scard h2{
	font-size: 1.2em;
	line-height: 25px;
	margin-bottom: 10px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.scard  .position{
	line-height: 20px;
}
.scard  .addr{
	line-height: 20px;
	height: 20px;
	font-size: 0.9em;
	direction: ltr;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.scard.x2{
  	height: 200px;
  	max-width: 600px;
  	min-width: 260px;
}
.scard.x2 img{
	height: 200px;
	width: 200px;
}
