// styles of btn as default
.ibtn{
	display: inline-block;
	outline: none;
	padding: 0;
	text-decoration:none;
	text-align:center;
	transition:.2s ease-out;
	border-radius:.25rem;
	white-space:nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	height:36px;
	line-height:24px;
	font-weight:700;
	background-color:#f2f2f2;
	color:#333;
	overflow: hidden;
	font-size:0.9em;
	max-width:100%;
	text-overflow:ellipsis;
}
.ibtn i{
	height: 100%;
	padding: 5px 3px;
	width: 36px;
	background-color: rgba(0,0,0,0.05);
	text-align: center;
	display:inline-block;
}
.ibtn[data-shortkey] kbd{
	height: 100%;
	padding: 5px 3px;
	width: 36px;
	background-color: rgba(0,0,0,0.07);
	text-align: center;
	display:inline-block;
	font-size:1rem;
}
.ibtn span{
	padding: 5px 10px;
	display:inline-block;
	min-width: 64px;
}
.ibtn:hover{
	background-color:#e2e2e2;
	border-color: #fff;
	color:#222;
}
.ibtn:focus{
	background-color:#eee;
	color:#000;
}
.ibtn:active, .ibtn.active{
	background-color:#ddd;
	color:#000;
}
.ibtn.disabled{cursor:default;opacity: 0.4;}

// sizes
.ibtn.xs{
	height:20px;
	font-size: 60%;
	padding: 1px 1em;
	line-height:18px;
}
.ibtn.sm{
	height:30px;
	font-size: 75%;
	padding: 5px 1em;
	line-height:20px;
}
.ibtn.lg{
	height:50px;
	font-size: 120%;
	padding: 10px 1em;
	line-height:30px;
}
.ibtn.xl{
	height:60px;
	font-size: 150%;
	padding: 15px 1em;
	line-height:30px;
}
.ibtn.hauto{height:auto;white-space:normal;}
