{%extends display.enter%}



{%block contentForm%}
<p>{% trans "We found your Google Mail that is different from your current google mail" %}</p>
<p>{% trans "Would you like to change your old google mail?" %}</p>
{%if oldGoogle_mail and newGoogle_mail%}
<p>{{oldGoogle_mail}}</p>
<p>{% trans "Change to" %}</p>
<p>{{newGoogle_mail}}</p>
{%endif%}
<div class='flex' id='ego'>
	<button type="submit">{%trans "Update google mail"%}</button>
</div>
<a href="{{url.here}}/email/change/google" data-ajaxify data-method='post' data-data='{"update": "no"}' class="link">{%trans "Don't change" %}</a>
{%endblock%}

