{%extends display.admin%}
{%use 'content_a/products/layout.html'%}


{%block pageContent%}
<div class="f justify-center">
  <div class="jPage c9 s12 m12" >
    <div class="c8 x9 s12 pRa10">


        <section class="jbox">
          <header><h2>{%trans "Variants"%}</h2></header>
          <div class="pad jboxVariants">


        {%if not productDataRow.variant_child%}
            <form method="post" autocomplete="off">

              <p class="msg">{%trans "You can differentiate your product in terms of three features"%}</p>

              <div class="f">
                <div class="cauto mB10">{{block('optionName1')}}</div>
                <div class="c pLa5 mB10">{{block('optionValueTag1')}}</div>
              </div>

              <div class="f">
                <div class="cauto mB10">{{block('optionName2')}}</div>
                <div class="c pLa5 mB10">{{block('optionValueTag2')}}</div>
              </div>

              <div class="f">
                <div class="cauto mB10">{{block('optionName3')}}</div>
                <div class="c pLa5 mB10">{{block('optionValueTag3')}}</div>
              </div>

              <div class="txtRa">

                <button class="btn master mB10" name="submitall" value="makevariants">{%trans "Make product variants"%}</button>
              </div>
            </form>
            <form method="post" autocomplete="off">

              {{block('productTempList')}}
            </form>

        {%else%}
          <p class="msg warn">{%trans "This product have some child and can not make variant"%}</p>
        {%endif%}
          </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}




