
<div class="f justify-center">
  <div class="jPage c9 s12 m12" >
    <div class="c8 x9 s12 pRa10">


        <section class="jbox">
          <header><h2>{%trans "Variants"%}</h2></header>
          <div class="pad jboxVariants">


        {%if not productDataRow.variant_child and not productDataRow.parent%}
            <form method="post" autocomplete="off">

              <p class="msg">{%trans "You can differentiate your product in terms of three features"%}</p>

              <div class="f">
                <div class="cauto mB10">
                  <div class="input">
                  <input type="text" name="optionname1" placeholder='{%trans "Color"%}' value="{{variantsList.variants.option1.name}}">
                </div>
                </div>

                <div class="c pLa5 mB10">
                  <div>
                  <select name="optionvalue1[]" id="optionvalue1" class="select22" data-model="tag" multiple="multiple">
                    {%for key, value in variantsList.variants.option1.value%}
                      <option value="{{value}}" selected>{{value}}</option>
                    {%endfor%}
                  </select>
                </div>
                </div>

              </div>

              <div class="f">
                <div class="cauto mB10">
                  <div class="input">
                  <input type="text" name="optionname2" placeholder='{%trans "Size"%}' value="{{variantsList.variants.option2.name}}">
                </div>
                </div>

                <div class="c pLa5 mB10">
                  <div>
                  <select name="optionvalue2[]" id="optionvalue2" class="select22" data-model="tag" multiple="multiple">
                    {%for key, value in variantsList.variants.option2.value%}
                      <option value="{{value}}" selected>{{value}}</option>
                    {%endfor%}
                  </select>
                </div>
                </div>

              </div>

              <div class="f">
                <div class="cauto mB10">
                  <div class="input">
                  <input type="text" name="optionname3" placeholder='{%trans "Material"%}' value="{{variantsList.variants.option3.name}}">
                </div>
                </div>

                <div class="c pLa5 mB10">
                  <div>
                  <select name="optionvalue3[]" id="optionvalue3" class="select22" data-model="tag" multiple="multiple">
                    {%for key, value in variantsList.variants.option3.value%}
                      <option value="{{value}}" selected>{{value}}</option>
                    {%endfor%}
                  </select>
                </div>
                </div>

              </div>

              <div class="txtRa">

                <button class="btn master mB10" name="submitall" value="makevariants">{%trans "Make product variants"%}</button>
              </div>
            </form>
            <form method="post" autocomplete="off">


              {%if variantsList.temp_product%}
          {%set myCount = 0%}

              <input type="hidden" name="setvariants" value="1">
              <div class="tblBox mT10">
                <table class="tbl1 v1 fs08">
                  <thead>
                    <tr>
                      <th class="collapsing">{%trans "Avalible?"%}</th>
                      <th class="collapsing">{{variantsList.variants.option1.name}}</th>
                      {%if variantsList.variants.option2.value%}<th class="collapsing">{{variantsList.variants.option2.name}}</th>{%endif%}
                      {%if variantsList.variants.option3.value%}<th class="collapsing">{{variantsList.variants.option3.name}}</th>{%endif%}
                      <th>{%trans "Stock"%}</th>
                      <th>{%trans "Price"%}</th>
                      <th>{%trans "SKU"%}</th>
                      <th>{%trans "Barcode"%}</th>

                    </tr>
                  </thead>
                  <tbody>
                    {%for key, value in variantsList.temp_product%}
                    {%set myCount = myCount + 1%}
                      <tr>
                        <td class="collapsing">
                          <div class="check1">
                                  <input type="checkbox" name="avalible_{{myCount}}" value="1" id="sChk{{myCount}}" checked>
                                  <label for="sChk{{myCount}}">{{myCount | fitNumber}}</label>
                                </div>
                        </td>
                        {%set myOptionKey = 0%}
                        {%for k, v in value%}
                          {%set myOptionKey = myOptionKey + 1%}
                          <td class="collapsing">
                            <input type="hidden" name="option{{myOptionKey}}_{{myCount}}" value="{{v}}">
                            {{v}}
                          </td>
                        {%endfor%}
                        <td>
                          <div class="input">
                            <input type="number" name="stock_{{myCount}}" placeholder='{%trans "Stock"%}'>
                          </div>
                        </td>

                        <td>

                          <input type="hidden" name="buyprice_{{myCount}}" value="{{productDataRow.buyprice}}">
                          <input type="hidden" name="discount_{{myCount}}" value="{{productDataRow.discount}}">

                          <div class="input">
                            <input type="number" name="price_{{myCount}}" placeholder='{%trans "Price"%}' value="{{productDataRow.price}}">
                          </div>
                        </td>

                        <td>
                          <div class="input">
                            <input type="text" name="sku_{{myCount}}" placeholder='{%trans "SKU"%}'>
                          </div>
                        </td>

                        <td>
                          <div class="input">
                            <input type="text" name="barcode_{{myCount}}" placeholder='{%trans "Barcode"%}'>
                          </div>
                        </td>
                      </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>

                <p>
                  {%trans "Only product by check the need box and set price and stock can add to your product list!"%}
                </p>
                <div class="txtRa">
                  <button class="btn success" name="submitall" value="savevariants">{%trans "Save"%}</button>
                </div>


          {%endif%}

            </form>

        {%else%}
          {%if productDataRow.variant_child%}
            <p class="msg warn">{%trans "This product have some child and can not make variant"%}</p>
          {%endif%}

          {%if productDataRow.parent%}
            <p class="msg warn">{%trans "This is child of another product"%}</p>
          {%endif%}

        {%endif%}
          </div>
      </section>
    </div>
  </div>
</div>














