{%extends display.dash%}


{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}


  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}


  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}


  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlTable%}



  <table class="tbl1 v1 fs13 responsive">
    <tbody>
      {%for key, value in dataTable%}

      <tr>
        <td class="collapsing type"><i class="{%if value.icon%}sf-{{value.icon}}{%else%}sf-heart{%endif%}{%if value.iconClass%} {{value.iconClass}}{%endif%} style1" title='{{value.cat}}'></i></td>
        <td class="subject">
          <div class="f">
            <div class="c s12">
              <div class="title">
                {%if not value.title%}{{value.caller}}{%else%}{{value.title}}{%endif%}
                {%if not value.readdate%}<span class="mLa5 badge danger">{%trans "New"%}</span>{%endif%}
              </div>

              {%if value.excerpt%}
              <div class="excerpt txtCut">
                {{value.excerpt | raw}}
              </div>
              {%endif%}

              {%if value.txt%}
              <div class="detail">
                  {{value.txt | raw}}
              </div>
              {%endif%}
            </div>
            <div class="cauto s12">
              {%if perm_su()%}<pre class="mT10 badge light fs08 floatRa">{{value.caller}}</pre>{%endif%}
            </div>
          </div>


        </td>
        <td class="collapsing via txtC">
          {%if value.sms or value.telegram or value.email%}
            {%if value.sms%}
              <i class="sf-envelope style2" title='{%trans "Sended via SMS"%}'></i>
            {%endif%}
            {%if value.telegram%}
              <i class="sf-paper-plane style2" title='{%trans "Sended via Telegram"%}'></i>
            {%endif%}
          {%endif%}
        </td>
        <td class="collapsing date txtRa">
          <span title="{{value.datecreated | dt(true)}}">{{value.datecreated | dt('human', 'year')}}</span>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}




{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} {%trans "No notifications found"%}</p>
{%endblock%}

