{%extends "content_a/setting/layout.html"%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f">
  <div class="c5">
    {{block('addNewInventory')}}
  </div>
  <div class="c mLa10">
    {{block('htmlTable')}}
  </div>
</div>

{%endblock%}

{%block addNewInventory%}
<div class="cbox">
  <h3>{%trans "Add new inventory"%}</h3>
  <form method="post" autocomplete="off">
    {{block('inventoryName')}}
    {{block('inventoryDefault')}}
    {{block('inventoryOnline')}}
    {{block('inventorySale')}}
    {{block('addressDetail')}}
    {%if dataRow%}
      <div class="f">
        <div class="c">
           <button class="btn primary block mT20">{%trans "Edit"%}</button>
        </div>
        <div class="cauto mLa10">
          {%if dataRow.status == 'enable'%}
           <button name="status" value="disable" class="btn danger block mT20">{%trans "Disable"%}</button>
          {%else%}
           <button name="status" value="enable" class="btn success block mT20">{%trans "Enable"%}</button>
          {%endif%}

        </div>
      </div>

    {%else%}
      <button class="btn primary block mT20">{%trans "Add"%}</button>
    {%endif%}
  </form>
</div>
{%endblock%}

{% block inventoryDefault %}
  <div class="switch1 mB10">
   <input type="checkbox" name="inventorydefault" id="inventorydefault" {%if dataRow.default%} checked {%endif%}>
   <label for="inventorydefault"></label>
   <label for="inventorydefault">{%trans "Is default inventory?"%}</label>
  </div>
{%endblock%}


{% block inventoryOnline %}
  <div class="switch1 mB10">
   <input type="checkbox" name="inventoryonline" id="inventoryonline" {%if dataRow.online%} checked {%endif%}>
   <label for="inventoryonline"></label>
   <label for="inventoryonline">{%trans "Is sale online from this inventory?"%}</label>
  </div>
{%endblock%}


{% block inventorySale %}
  <div class="switch1 mB10">
   <input type="checkbox" name="inventorysale" id="inventorysale" {%if dataRow.sale%} checked {%endif%}>
   <label for="inventorysale"></label>
   <label for="inventorysale">{%trans "Sale from this inventory?"%}</label>
  </div>
{%endblock%}



{%block inventoryName%}
<label for="iname">{%trans "Inventory name"%}</label>
<div class="input">
  <input type="text" name="name" id="iname" placeholder='{%trans "Inventory name"%}' value="{{dataRow.name}}" autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name from 3 to 40 character"%}' required>
</div>
{%endblock%}




{%block addressDetail%}
<div class="msg">
{{block('iCountry')}}
{{block('iCity')}}
{{block('iAddress')}}
{{block('iPhone')}}
{{block('iFax')}}
</div>

{%endblock%}



{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead class="">
      <tr>
        <th data-sort="{{myFilter.name.order}}"><a href='{{myFilter.name.link}}'>{%trans "Inventory Name"%}</a></th>
        <th data-sort="{{myFilter.status.order}}"><a href='{{myFilter.status.link}}'>{%trans "Status"%}</a></th>
        <th>{%trans "Detail"%}</th>
        <th>{%trans "Action"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr  class="{%if value.status == 'disable'%} negative{%else%} positive{%endif%}">
        <td><a href="{{url.here}}/product/general?id={{value.id}}">{{value.name}}</a></td>
        <td><a href="{{url.here}}/product/general?id={{value.id}}">{%set myStatus = value.status | capitalize%}{%trans myStatus%}</a></td>
        <td>
        	{%if value.default%}<i title='{%trans "Is default inventory"%}' class="fs12 sf-check fc-green"></i>{%endif%}
        	{%if value.sale%}<i title='{%trans "Sale from this inventory"%}' class="fs12 sf-shopping-cart fc-blue"></i>{%endif%}
        	{%if value.online%}<i title='{%trans "Sale online"%}' class="fs12 sf-plug fc-red"></i>{%endif%}
        </td>
        <td>
          <a href="{{url.this}}/inventory?inventory={{value.id}}" class="badge primary">{%trans "Edit"%}</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{%endblock%}






{%block iCountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country" value="{%if dataRow.country%}{{dataRow.country}}{%else%}iran{%endif%}">
    <i class="dropdown icon"></i>
    <div class="default text">{%trans "Choose your country"%}</div>
    <div class="menu">
{%for key, value in countryList%}
      <div class="item" data-value="{{key}}">
        <i class="{{value.iso2 | lower }} flag"></i>{%set myCountry = value.name%} {%trans myCountry%}<small class="description">{{value.name | capitalize}}</small>
      </div>
{%endfor%}
    </div>
  </div>
</div>
{%endblock%}



{%block iCity%}
<label for='city'>{%trans "City"%}</label>
<select name="city" class="ui dropdown select search mB10" id="city">
  <option value="" readonly>{%trans "Select city"%}</option>
  {%for key, value in cityList%}
    <option value="{{key}}" {% if dataRow.city == key %} selected {%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}




{%block iPostcode%}
<label for="postcode">{%trans "Post code"%}</label>
<div class="input ltr">
  <input type="text" name="postcode" id="postcode" placeholder='{%trans "Post code"%}' value="{{dataRow.postcode}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}



{%block iPhone%}
<label for="iphone">{%trans "Phone"%}</label>
<div class="input">
  <input type="tel" name="phone" id="iphone" placeholder='{%trans "Phone"%}' value="{{dataRow.phone}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}


{%block iFax%}
<label for="ifax">{%trans "Fax"%}</label>
<div class="input">
  <input type="tel" name="fax" id="ifax" placeholder='{%trans "Fax"%}' value="{{dataRow.fax}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}





{%block iAddress%}
<label for="address">{%trans "Address"%}</label>
<textarea class="txt mB20 pB25" name="address" placeholder='{%trans "Address"%}' required maxlength='300' rows="2">{{dataRow.address}}</textarea>
{%endblock%}

