{%extends display.dash%}


{%block content%}
<div class="tbox">
  {%trans "Test coding function"%}
</div>

<div class="cbox">
  <form method="get" data-action>
    <div class="input ltr">
      <label class="addon">{%trans "String or Number"%}</label>
      <input type="text" name="val" value="{{requestGET.val}}" >
      <button type="submit" class=" btn primary" >{%trans "Run"%}</button>
    </div>
  </form>
</div>
{%if valEncode or valDecode%}
<div class="cbox">
  <div class="f">
    <div class="c">
      <p class="fs20">{%trans "Encode"%}</p>
      <h2 class="fs100">{{valEncode}}</h2>
    </div>
    <div class="c">
      <p class="fs20">{%trans "Decode"%}</p>
      <h2 class="fs100">{{valDecode}}</h2>
    </div>
  </div>
</div>
{%endif%}
{%endblock%}
