{%extends "content_a/factor/layoutFactor.html"%}


{%block pageContent%}
<form method="post">

 <div class="cbox">
  <div class="f justify-center">
    <div class="c">
{{block("iCustomer")}}
    </div>
    <div class="c3 pLa5">
{{block("iBarcode")}}
    </div>
    <div class="c4 pLa5">
{{block("iDesc")}}
    </div>
  </div>
 </div>

{{block("listOfProducts")}}

 <div class="cbox mB50">
  <button class="btn primary">{%trans "Save"%}</button>
  <span class="btn" id='addNewRecordProduct'>{%trans "Add new product"%}</span>
 </div>
</form>
{%endblock%}


{%block listOfProducts%}
 <div class="cbox" style="min-height:300px;">
  <table class="tbl productList txtC">
   <thead>
    <tr>
     <th class="min80">{%trans "Row"%}</th>
     <th class="product">{%trans "Product"%}</th>
     <th class="min120">{%trans "Count"%}</th>
     <th class="min100">{%trans "Price"%}</th>
     <th class="min150">{%trans "Discount"%}</th>
     <th class="min100">{%trans "Total"%}</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td>{{1 | fitNumber}}</td>
     <td>{{block('iProductName')}}</td>
     <td>{{block('iCount')}}</td>
     <td>{{200 | fitNumber}}</td>
     <td>{{block('iDiscount')}}</td>
     <td></td>
    </tr>

    <tr>
     <td>{{2 | fitNumber}}</td>
     <td>{{block('iProductName')}}</td>
     <td>{{block('iCount')}}</td>
     <td>{{300 | fitNumber}}</td>
     <td>{{block('iDiscount')}}</td>
     <td></td>
    </tr>

    <tr>
     <td>{{3 | fitNumber}}</td>
     <td>{{block('iProductName')}}</td>
     <td>{{block('iCount')}}</td>
     <td>{{400 | fitNumber}}</td>
     <td>{{block('iDiscount')}}</td>
     <td></td>
    </tr>

    <tr>
     <td>{{4 | fitNumber}}</td>
     <td>{{block('iProductName')}}</td>
     <td>{{block('iCount')}}</td>
     <td>{{500 | fitNumber}}</td>
     <td>{{block('iDiscount')}}</td>
     <td></td>
    </tr>

    <tr>
     <td>{{5 | fitNumber}}</td>
     <td>{{block('iProductName')}}</td>
     <td>{{block('iCount')}}</td>
     <td>600</td>
     <td>{{block('iDiscount')}}</td>
     <td></td>
    </tr>

   </tbody>
   <tfoot class="dark">
    <tr>
     <th title='{%trans "Count of rows"%}'></th>
     <th></th>
     <th title='{%trans "Sum of counts"%}'></th>
     <th title='{%trans "Sum of prices"%}'></th>
     <th title='{%trans "Sum of discounts"%}'></th>
     <th title='{%trans "Sum of final prices"%}' class="txtbold"></th>
    </tr>
   </tfoot>
  </table>
 </div>
{%endblock%}



{%block pageHeader%}
{%endblock%}

