{%extends "content_a/factor/layoutFactor.html"%}


{%block pageContent%}
<form method="post">

{{block("btns")}}
{{block("addProducts")}}
{{block("listOfProducts")}}
{{block("showFinalPrice")}}

</form>
{%endblock%}



{%block customer%}
 <div class="cbox">
  <div class="f justify-center">
    <div class="c s12">
{{block("iCustomer")}}
    </div>
    <div class="c4 s12 pLa5">
{{block("iDesc")}}
    </div>
  </div>
 </div>
{%endblock%}


{%block showFinalPrice%}
  <p class="alert alert-info fs14 txtC hide" id='finalPriceString'>{%trans "Final Price"%} <b></b></p>
{%endblock%}


{%block btns%}
 <div class="cbox">
  <div class="f">
    <div class="cauto pRa10">
      <input type="hidden" id="sell_clicked_btn" name="btn_type" value="">
      <button class="cauto btn primary sell_save_btn" type="submit" name="save_btn" value="save_next" id='save_next' data-shortkey='115'>{%trans "Save & Next"%}</button>
    </div>
    <div class="cauto pRa10">
      <button class="cauto btn primary sell_save_btn" type="submit" name="save_btn" value="save_print" id='save_print' data-shortkey='119' data-shortkey-call='print'>{%trans "Save & Print"%}</button>
    </div>

    {%if utilityGET.lastfactor%}
    <div class="cauto pRa10">
      <a class="btn success" href="{{url.baseFull}}/sell/edit?id={{utilityGET.lastfactor}}" >{%trans "Open last factor added"%}</a>
    </div>
    {%endif%}

    <div class="cauto os finalPriceVal">{%trans "Final Price"%}<br/><span></span></div>

  </div>
 </div>
{%endblock%}


{%block addProducts%}
 <div class="cbox">
{{block('iProductName')}}
 </div>
{%endblock%}


{%block listOfProducts%}
 <div class="cbox hide">
  <table class="tbl productList txtC">
   <thead>
    <tr>
     <th class="min80">{%trans "Row"%}</th>
     <th class="product">{%trans "Product"%}</th>
     <th class="min120">{%trans "Count"%}</th>
     <th class="min100">{%trans "Price"%}</th>
     <th class="min150">{%trans "Discount"%}</th>
     <th class="min100">{%trans "Total"%}</th>
    </tr>
   </thead>
   <tbody>

   </tbody>
   <tfoot class="dark hide">
    <tr>
     <th title='{%trans "Count of rows"%}'></th>
     <th></th>
     <th title='{%trans "Sum of counts"%}'></th>
     <th title='{%trans "Sum of prices"%}'></th>
     <th title='{%trans "Sum of discounts"%}'></th>
     <th title='{%trans "Sum of final prices"%}' class="txtbold"></th>
    </tr>
   </tfoot>
  </table>
 </div>
{%endblock%}



{%block pageHeader2%}
{%endblock%}




{%block foot_js2%}

{{ parent() }}
  <script type="text/javascript">
    $(".sell_save_btn").on('click', function(){
      $("#sell_clicked_btn").attr('value', $(this).val());
    });
  </script>
{%endblock%}



