{%extends display.pwa%}


{%block headerBox%}
1
{%endblock%}


{%block footerBox%}
2
{%endblock%}


{%block pageContent%}

  <h4>Steps</h4>
  <p class="pwaText"><a href="{{url.this}}">Back to Test page</a></p>
   <nav class="items">
     <ul>
       <li>
        <a class="f align-center" href="">
         <div class="key">360</div>
         <div class="value">Feb 7, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">1,101</div>
         <div class="value">Feb 6, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">2,706</div>
         <div class="value">Feb 5, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">1,267</div>
         <div class="value">Feb 4, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">985</div>
         <div class="value">Feb 3, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">676</div>
         <div class="value">Feb 3, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">1,786</div>
         <div class="value">Feb 2, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">472</div>
         <div class="value">Feb 1, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">374</div>
         <div class="value">Jan 31, 2020</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">1,360</div>
         <div class="value">Jan 30, 2020</div>
         <div class="go"></div>
        </a>
       </li>
     </ul>
   </nav>

{%endblock%}

