{%extends display.dash%}


{%block pageContent%}
{{block('pageSteps')}}

<form method="post" enctype="multipart/form-data" autocomplete="off">
  <div class="f justify-center">
    <div class="c6 m8 x5 s12">


      <div class="cbox">
        <h3 class="txtC mB20">{{page.title}}</h3>
          {{block("iWebsite")}}

          {{block("iGmail")}}
          <hr>
          {{block("iFacebook")}}
          {{block("iTwitter")}}
          {{block("iLinkedin")}}
          {{block("iInstagram")}}
          {{block("isave")}}
      </div>

    </div>
  </div>
</form>
{%endblock%}




{%block iWebsite%}
<label for="website">{%trans "Website"%}</label>
<div class="input ltr">
  <input type="url" name="website" id="website" placeholder='{%trans "like"%} https://ermile.com' value="{{dataRow.website}}" maxlength='40' minlength="1" pattern=".{1,40}">
  <span class="addon"><i class="sf-earth"></i></span>
</div>
{%endblock%}



{%block iInstagram%}
<label for="instagram">{%trans "Instagram"%}</label>
<div class="input ltr">
  <span class="addon">instagram.com/</span>
  <input type="text" name="instagram" id="instagram" placeholder='{%trans "Instagram"%}' value="{{dataRow.instagram}}" maxlength='30' minlength="1">
  <span class="addon"><i class="sf-instagram"></i></span>
</div>
{%endblock%}

{%block iFacebook%}
<label for="facebook">{%trans "Facebook"%}</label>
<div class="input ltr">
  <span class="addon">facebook.com/</span>
  <input type="text" name="facebook" id="facebook" placeholder='{%trans "Facebook"%}' value="{{dataRow.facebook}}" maxlength='30' minlength="1">
  <span class="addon"><i class="sf-facebook-official"></i></span>
</div>
{%endblock%}


{%block iTwitter%}
<label for="twitter">{%trans "Twitter"%}</label>
<div class="input ltr">
  <span class="addon">twitter.com/</span>
  <input type="text" name="twitter" id="twitter" placeholder='{%trans "Twitter"%}' value="{{dataRow.twitter}}" maxlength='30' minlength="1">
  <span class="addon"><i class="sf-twitter"></i></span>
</div>
{%endblock%}


{%block iLinkedin%}
<label for="linkedin">{%trans "Linkedin"%}</label>
<div class="input ltr">
  <span class="addon">linkedin.com/</span>
  <input type="text" name="linkedin" id="linkedin" placeholder='{%trans "Linkedin"%}' value="{{dataRow.linkedin}}" maxlength='30' minlength="1">
  <span class="addon"><i class="sf-linkedin"></i></span>
</div>
{%endblock%}



{%block iGmail%}
{%if value.gmail %}
<label for="gmail">{%trans "Gmail"%}</label>
<div class="input ltr">
  <input type="email" name="gmail" id="gmail" placeholder='{%trans "Like"%} abc@gmail.com' value="{{dataRow.gmail}}" maxlength='50' readonly disabled>
  <span class="addon"><i class="sf-google"></i></span>
</div>
{%endif%}
{%endblock%}




{%block isave%}
<div class="txtRa pT10">
  <button class="btn success">{%trans "Save"%}</button>
</div>
{%endblock%}









