{%extends "content_a/product/layout.html"%}


{%block data%}
<form method="post">
<div class="cbox">
 <h3>{%trans "Basic detail"%}</h3>
{{block ('iTitle') }}

<div class="f">
 <div class="c pRa5">{{block ('iCat') }}</div>
 <div class="c">{{block ('iManufacturer') }}</div>
</div>

<div class="f">
 <div class="c pRa5">{{block ('iUnit') }}</div>
 <div class="c">{{block ('iCarton') }}</div>
</div>

<div class="f">
 <div class="c pRa5">{{block ('iBarcode') }}</div>
 <div class="c">{{block ('iBarcode2') }}</div>
</div>


{{block("iSaveAll")}}
</div>

<div class="cbox">
 <h3>{%trans "Initial detail before start sell"%}</h3>
{{block ('iBuyprice') }}

<div class="f">
 <div class="c s12 pRa5">{{block ('iPrice') }}</div>
 <div class="c s12">{{block ('iDiscount') }}</div>
</div>


{{block ('iInitialBalance') }}

{{block("iSaveAll")}}
</div>

<div class="cbox">

 <h3>{%trans "Warehouse"%}</h3>


<div class="f">
 <div class="c pRa5">{{block ('iMinstock') }}</div>
 <div class="c">{{block ('iMaxstock') }}</div>
</div>
{{block ('iStatus') }}


{{block("iSaveAll")}}
</div>
</form>
{%endblock%}
