{%extends 'content_a/cats/layout.html'%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
  <div class="x6 c5 s12 pRa10">
    <dvi class="cbox">
      <form method="post">
          {{block('catName')}}
          {{block('catDefault')}}
          {{block('iSite')}}
          {{block('iNumberType')}}
          {{block('iMaxSale')}}
          {{block('idesc')}}
          {{block('ifile')}}
          <button class="btn primary block mT20" type="submit">{%trans "Save"%}</button>
      </form>
    </dvi>
  </div>
</div>
{%endblock%}





{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea data-editor class="txt mB10" id='desc' name="desc" placeholder='{%trans "Description"%}' maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}



{%block ifile%}
{%if dataRow.file%}
   <div class="mediaBox mB20">

{% set myExt = dataRow.file[(dataRow.file | length)-3:3] %}

 {%if myExt == 'mp4' %}
    <video class="block" controls>
     <source src="{{dataRow.file}}" type="video/mp4">
    </video>
 {%elseif myExt == 'mp3' %}
    <audio class="block" controls>
     <source src="{{dataRow.file}}" type="audio/mp3">
    </audio>
 {%elseif myExt == 'png' or myExt == 'jpg' or myExt == 'jpeg' or myExt == 'gif'%}
    <img src="{{dataRow.file}}" alt="{{myTitle.title}}">
 {%elseif myExt == 'pdf' %}
    <a class="btn primary outline block" href="{{dataRow.file}}">{%trans "Download PDF"%}</a>
 {%else%}
    <a class="btn primary outline block" href="{{dataRow.file}}">{%trans "Download File"%}</a>
 {%endif%}
   </div>
   <dir data-confirm data-data='{"deletefile" : 1}' class="btn xs danger floatL">{%trans "Delete file"%}</dir>
{%endif%}


<label for="file1" class="block">{%trans "Category image"%}</label>
<div class="input" title='{%trans "Max 1Mb"%}'>
 <input type="file" name="file1" id="file1" data-max="1000">
 </label>
</div>

{%endblock%}



{% block catDefault %}
  <div class="switch1 mT10">
   <input type="checkbox" name="isdefault" id="isdefault" {%if dataRow.isdefault%} checked {%endif%}>
   <label for="isdefault"></label>
   <label for="isdefault">{%trans "Is default category?"%}</label>
  </div>
{%endblock%}



{%block iSite%}
<div class="mT20">
  <label for="site">{%trans "Not show in site"%}</label>
  <select name="site" class="ui dropdown select">
    <option value="" readonly>{%trans "Show in website"%}</option>
    <option value="yes" {%if dataRow.site == 'yes' %}selected {%endif%}>{%trans "Yes"%}</option>
    <option value="no" {%if dataRow.site == 'no' %}selected{%endif%}>{%trans "No"%}</option>
  </select>
</div>
{%endblock%}


{%block iNumberType%}
<div class="mT20">
  <label for="valuetype">{%trans "Decimal or Integer"%}</label>
  <select name="valuetype" class="ui dropdown select">
    <option value="" readonly>{%trans "Decimal or Integer"%}</option>
    <option value="decimal" {%if dataRow.valuetype == 'decimal' %}selected {%endif%}>{%trans "Decimal"%}</option>
    <option value="integer" {%if dataRow.valuetype == 'integer' %}selected{%endif%}>{%trans "Integer"%}</option>
  </select>
</div>
{%endblock%}


{%block iMaxSale%}
<div class="mT10">
  <label for="imaxsale">{%trans "Max sale from this cat"%}</label>
  <div class="input">
     <input type="number" name="maxsale" id="imaxsale" placeholder='{%trans "For example 100"%}' value="{{dataRow.meta.maxsale}}" autofocus maxlength='50' minlength="1"  >
  </div>
</div>
{%endblock%}



{%block catName%}
<label for="icatname">{%trans "Title"%}</label>
<div class="input">
  <input type="text" name="title" id="icatname" placeholder='{%trans "Category name"%}' value="{{dataRow.title}}" autofocus maxlength='50' minlength="1" required>
</div>
{%endblock%}

