{%extends 'content_a/cats/layout.html'%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f justify-center">
  <div class="x6 c5 s12 pRa10">
    <div class="cbox">
      <h3>{%trans "Default property of this category"%}</h3>

      <form method="post" autocomplete="off">
        <div class="f">
          <div class="c s12 mLa5">{{block('icat')}}</div>
          <div class="c s12 mLa5">{{block('ikey')}}</div>
          <input type="hidden" name="operation" value="set">
          <div class="cauto s12 mLa5">{{block('ibtn')}}</div>
        </div>

      </form>
      {%if dataRow.defaultproperty%}
      <hr>
      <table class="tbl1 v4">
        <thead>
          <tr>
            <th>{%trans "Cat"%}</th>
            <th>{%trans "Key"%}</th>
            <th>{%trans "Remove"%}</th>
          </tr>
        </thead>
        <tbody>
          {%for i, j in dataRow.defaultproperty%}
          <tr>
            <td>{{j.cat}}</td>
            <td>{{j.key}}</td>
            <td class="collapsing"><div class="btn xs danger" data-confirm data-data='{"operation" : "remove", "cat" : "{{j.cat}}", "key": "{{j.key}}"}'>{%trans "Remove"%}</div></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      {%endif%}
    </div>
  </div>
</div>
{%endblock%}





{%block ibtn%}
<button class="btn mT20 primary block">{%trans "Add"%}</button>
{%endblock%}




{%block icat%}

<label for='cat'>{%trans "cat"%}</label>
<select name="cat"  class="select ui dropdown search addition" id="cat">
  <option value="">{%trans "Add or select"%}</option>

  {%for key, value in autoList.cat%}
    <option value="{{value}}" {%if value == pDataRow.cat %} selected{%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}



{%block ikey%}
<label for='key'>{%trans "key"%}</label>
<select name="key"  class="select ui dropdown search addition" id="key">
  <option value="">{%trans "Add or select"%}</option>

  {%for key, value in autoList.key%}
    <option value="{{value}}" {%if value == pDataRow.key %} selected{%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}



{%block ivalue%}
<label for='ivalue'>{%trans "Value"%}</label>
<div class="input">
 <input type="text" name="value"  value="{{pDataRow.value}}" required  maxlength='200' minlength="1" pattern=".{1,200}"  id='ivalue'>
</div>
{%endblock%}
