{%extends 'content_crm/member/layout.html'%}


{%block pageContent%}


{{block('pageSteps')}}
<div class="f">
 <div class="cauto s12 pA5">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA5">
	<form class="cbox" method="post" enctype="multipart/form-data" autocomplete="off">
		{{block("iAvatar")}}
		{%if dataRowMember.avatar_raw%}
			<div class="f">
				<div class="c">{{block("isave")}}</div>
				<div class="cauto mLa5">
					<button class="btn mT20 danger block" name="btn" value="remove">{%trans "Remove"%}</button>
				</div>
			</div>

		{%else%}
			{{block("isave")}}
		{%endif%}
	</form>
 </div>
</div>
{%endblock%}





{%block iAvatar%}
<div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title='{%trans "Set your avatar"%}'>
    {%if dataRowMember.avatar%}<img src="{{dataRowMember.avatar}}">{%endif%}
 </label>
</div>
{%endblock%}

