{%extends "content_a/customer/layout.html"%}

{%block data%}
<form class="cbox" method="post">


<div class="f">
        <div class="c pRa5">
{{block("iname")}}
        </div>
        <div class="c">
{{block("ifamily")}}
        </div>
      </div>

      <div class="f">
        <div class="c pRa5">
{{block("iPhone")}}
        </div>
        <div class="c">
{{block("imobile")}}
        </div>
      </div>
      <div class="f">
        <div class="c">
{{block("igender")}}
        </div>
        <div class="c">
{{block("icode")}}
        </div>
      </div>
{{block("iAddress")}}

{{block("iDesc")}}



 <div class="f pA5 pT20">
{{block("isave")}}
 </div>
</form>
{%endblock%}

