{%extends "content_a/product/layout.html"%}


{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsSite')}}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
 	{{block('iDataForm')}}
 </div>
</div>
{%endblock%}

{%block iDataForm%}
<div class="cbox">
<form method="post">
	<textarea name="desc" class="txt mB20" rows="10" placeholder='{%trans "Description"%}'>{{dataRow.desc}}</textarea>
	<button class="btn block primary ">{%trans "Save"%}</button>
</form>
</div>
{%endblock%}


