{%extends display.main%}


{%block page%}

<table class="tbl1 v1">
 <thead>
  <tr>
   <th>{%trans "Date"%}</th>
   <th>{%trans "Description"%}</th>
  </tr>
 </thead>
 <tbody>

  <tr>
   <td>...</td>
   <td>{%trans "We are Developers, please wait!"%}</td>
  </tr>

  <tr>
   <td>{%trans "Soon"%}</td>
   <td>{%trans "Version 1 of Jibres will be released."%}</td>
  </tr>

  <tr>
   <td>{{"2018-02-04" | dt(true)}}</td>
   <td>{%trans "We reach 100M+ Toman sold on Jibres."%}</td>
  </tr>

  <tr>
   <td>{{"2018-01-30" | dt(true)}}</td>
   <td>{%trans "We reach 10000 factor records."%}</td>
  </tr>

  <tr>
   <td>{{"2017-12-20" | dt(true)}}</td>
   <td>{%trans "First factor of first store is generated."%}</td>
  </tr>

  <tr>
   <td>{{"2017-12-12" | dt(true)}}</td>
   <td>{%trans "Our first store on web is created and start add product to store."%}</td>
  </tr>

  <tr>
   <td>{{"2017-12-07" | dt(true)}}</td>
   <td>{%trans "Beta version is released."%}</td>
  </tr>

  <tr>
   <td>{{"2017-11-26" | dt(true)}}</td>
   <td>{%trans "Alfa version is released."%}</td>
  </tr>

  <tr class="active">
   <td>{{"2017-10-23" | dt(true)}}</td>
   <td>{%trans "We restart plans to run Jibres at Ermile."%}</td>
  </tr>

  <tr>
   <td>{{"2014-10-18" | dt(true)}}</td>
   <td>{%trans "The name of project selected as Jibres and <a href='https://Jibres.ir' target='_blank'>Jibres.ir</a> and <a href='https://Jibres.com'>Jibres.com</a> domains are registered."%}</td>
  </tr>

  <tr>
   <td>{{"2014-10-10" | dt(true)}}</td>
   <td>{%trans "Create git repository and first commit is pushed."%}</td>
  </tr>

  <tr>
   <td>{{"2014-05-31" | dt(true)}}</td>
   <td>{%trans "Database is completely designed and implementated."%}</td>
  </tr>

  <tr>
   <td title='{%trans "02:00 AM"%}'>{{"2013-11-10" | dt(true)}}</td>
   <td>{%trans "Start database analysis of Jibres."%}</td>
  </tr>

  <tr>
   <td>...</td>
   <td>{%trans "We were born to do Best!"%}</td>
  </tr>
 </tbody>
</table>

<p class="msg warn2 txtC mT50">{%trans "Be patient..."%}</p>

{%endblock%}

