{%extends display.admin%}


{%block pageContent%}

<div class="f">
  <div class="c8 x9 s12 pRa10">
    <section class="cbox">
      <form method="post">
        {{block('payType')}}
        {{block("payCardDetail")}}
        {{block("paymentAmount")}}
      </form>
    </section>
    {{block('payTable')}}
  </div>
  <div class="c4 x3 s12">
    <div>
{%embed 'content_a/factor/fishprint/fishprint.html'%}

  {%block footerExtraArea%}
    {%if factorSetting.print_status%}
    <a class="btn info block mB10" href="{{url.this}}/fishprint?size=receipt8&id={{requestGET.id}}">{%trans "Print Status is active"%} <kbd>f8</kbd></a>
    {%endif%}
  {%endblock%}

{%endembed%}
    </div>
  </div>
</div>









<hr class="mT100">
<div class="f">
  <div class="c4 x3 s12 pRa10 mB25">
  </div>

  <div class="c8 x9 s12">
    {{block("paymentWays")}}
    {{block('payList')}}
  </div>


</div>
{%endblock%}



{%block paymentWays%}
<form method="post">
<div class="cbox">
  {{block("paymentType")}}
  {{block("paymentAmount")}}
  {{block("paymentCardDetail")}}
  <button type="submit" class="btn success block mT25">{%trans "Save Pay & continue"%} <kbd>f2</kbd></button>
</div>

</form>
{%endblock%}



{%block paymentType%}
 <div class="paymentMethods f">
{%if factorSetting.pay%}
  {%for key, value in factorSetting.pay%}
  <div class="c4">
     <div class="statistic radioGateway">
      <input type="radio" name="type" value="{{key}}" id="p-{{key}}" {%if factorSetting.default_pay == key%} checked {%endif%}>
      <label for="p-{{key}}" class="value" title='{%trans key%}'><i class="sf-{{key}}"></i></label>
     </div>
  </div>
  {%endfor%}
{%endif%}
 </div>
{%endblock%}


{%block paymentCardDetail%}
 <div data-response="type" data-response-where='pos' {%if factorSetting.default_pay == 'pos'%} {%else%} data-response-hide {%endif%} >
    <div class="paymentDetails txtC">
        {%if factorSetting.pos_list%}
          {%for key, value in factorSetting.pos_list%}
            <div class="radioGateway" title='{{value.name}}'>
             <input type="radio" name="bank" value="{{key}}" id="p-{{key}}" {%if factorSetting.default_pos == key%} checked {%endif%}>
             <label for='p-{{key}}' class="spay-64-{{key}}"></label>
            </div>
          {%endfor%}
        {%endif%}
    </div>
 </div>
{%endblock%}


{%block paymentChequeDetail%}
{%endblock%}




















{%block payType%}
{%if factorSetting.pay%}
  <h2>{%trans "Payment detail"%}</h2>
  <div class="f">
  {%for key, value in factorSetting.pay%}
    <div class="c radioType{%if factorSetting.default_pay == key%} default{%endif%}">
      <input type="radio" name="type" value="{{key}}" id="payType-{{key}}"{%if factorSetting.default_pay == key or loop.index==1%} checked{%endif%} autofocus>
      <label for="payType-{{key}}">{%trans key%}</label>
    </div>
  {%endfor%}
  </div>
{%endif%}
{%endblock%}


{%block payCardDetail%}
{%if factorSetting.pos_list%}
 <div data-response="type" data-response-where='pos'{%if factorSetting.default_pay == 'pos'%}{%else%} data-response-hide{%endif%} data-response-transition='drop' class="msg">
    <div class="f align-center">
      <div class="cauto">{%trans "Choose card reader"%}</div>
      <div class="c paymentDetails txtC">
      {%for key, value in factorSetting.pos_list%}
        <div class="radioGateway" title='{{value.name}}'>
         <input type="radio" name="bank" value="{{key}}" id="p-{{key}}" {%if factorSetting.default_pos == key or loop.index==1%} checked {%endif%}>
         <label for='p-{{key}}' class="spay-64-{{key}}"></label>
        </div>
      {%endfor%}
      </div>
    </div>
 </div>
{%endif%}
{%endblock%}


{%block paymentAmount%}
<div class="input lg txtC mTB10">
  <label for="famount" class="addon fc-green">{%trans "Toman"%}</label>
  <input type="number" id="famount" name="amount" value="{{factorDetail.factor.sum_remain}}" data-response-realtime>
  <button type="submit" class="addon btn success">{%trans "Save Pay & continue"%} <kbd class="mLa5">f2</kbd></button>
</div>
<div class="msg info2" data-response='famount' data-response-call='wordifyResponse'></div>
{%endblock%}


{%block payTable%}
{%if payDetail%}
<table class="tbl1 v1 cbox fs12">
  <thead>
    <tr>
      <th>{%trans "Plus"%}</th>
      <th>{%trans "Type"%}</th>
      <th>{%trans "Bank"%}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in payDetail %}
    <tr>
      <td class="txtB">{{value.plus}}</td>
      <td>{{value.type}}</td>
      <td>{{value.subtitle}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endif%}
{%endblock%}












































































































































































































{%block payList%}
<table class="tbl">
  <thead>
    <tr>
      <th>{%trans "Plus"%}</th>
      <th>{%trans "Type"%}</th>
      <th>{%trans "Bank"%}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in payDetail %}
    <tr>
      <td>{{value.plus}}</td>
      <td>{{value.type}}</td>
      <td>{{value.subtitle}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
