{%extends display.admin%}


{%block pageContent%}
{{block('payList')}}

<div class="f">
  <div class="c5 x3 s12 pRa10 mB25">
{%embed 'content_a/factor/fishprint/fishprint.html'%}

  {%block footerExtraArea%}
    {%if factorSetting.print_status%}
    <a class="btn info block mB10" href="{{url.this}}/print?id={{requestGET.id}}">{%trans "Print Status is active"%} <kbd>f8</kbd></a>
    {%endif%}
  {%endblock%}

{%endembed%}

  </div>

  <div class="c7 x9 s12">
    {{block("paymentWays")}}
  </div>


</div>
{%endblock%}



{%block paymentWays%}
<form method="post">
<div class="cbox">
  {{block("paymentType")}}
  {{block("paymentAmount")}}
  {{block("paymentCardDetail")}}
  <button type="submit" class="btn success block mT25">{%trans "Save Pay & continue"%} <kbd>f2</kbd></button>
</div>

</form>
{%endblock%}



{%block paymentAmount%}
<div class="input xxl fs20 txtC">
  <label for="famount" class="addon">{%trans "Amount"%}</label>
  <input type="tel" id="famount" name="amount" value="{{factorDetail.factor.sum_remain | number_format | fitNumber}}">
  <label for="famount" class="addon">{%trans "Toman"%}</label>
</div>
{%endblock%}


{%block paymentType%}
 <div class="paymentMethods f">
{%if factorSetting.pay%}
  {%for key, value in factorSetting.pay%}
  <div class="c4">
     <div class="statistic radioGateway">
      <input type="radio" name="type" value="{{key}}" id="p-{{key}}" {%if factorSetting.default_pay == key%} checked {%endif%}>
      <label for="p-{{key}}" class="value" title='{%trans key%}'><i class="sf-{{key}}"></i></label>
     </div>
  </div>
  {%endfor%}
{%endif%}
 </div>
{%endblock%}


{%block paymentCardDetail%}
 <div data-response="type" data-response-where='pos' {%if factorSetting.default_pay == 'pos'%} {%else%} data-response-hide {%endif%} >
    <div class="paymentDetails txtC">
        {%if factorSetting.pos_list%}
          {%for key, value in factorSetting.pos_list%}
            <div class="radioGateway" title='{{value.name}}'>
             <input type="radio" name="bank" value="{{key}}" id="p-{{key}}" {%if factorSetting.default_pos == key%} checked {%endif%}>
             <label for='p-{{key}}' class="spay-64-{{key}}"></label>
            </div>
          {%endfor%}
        {%endif%}
    </div>
 </div>
{%endblock%}


{%block paymentChequeDetail%}
{%endblock%}

























































































































































































































{%block payList%}
<table class="tbl">
  <thead>
    <tr>
      <th>{%trans "Plus"%}</th>
      <th>{%trans "Type"%}</th>
      <th>{%trans "Bank"%}</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in payDetail %}
    <tr>
      <td>{{value.plus}}</td>
      <td>{{value.type}}</td>
      <td>{{value.subtitle}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
