// styles of btn as default
.btn{
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: 5px 1.2em;
	text-decoration:none;
	text-align:center;
	transition:.2s ease-out;
	border-radius:.25rem;
	white-space:nowrap;
	vertical-align: middle;
	user-select:none;
	border: 1px solid transparent;
	height:36px;
	line-height:24px;
	font-weight:700;
	background-color:#e2e2e2;
	color:rgba(0,0,0,.5);
	overflow: hidden;
	font-size:0.9em;
	max-width:100%;
	text-overflow:ellipsis;
}
.outline{
	background-color: transparent;
	border-color:#e2e2e2;
	color: #aaa;
}
.btn:hover{
	background-color:#dcdcdc;
	color:rgba(0,0,0,.8);
}
.btn:focus{
	background-color:#cdcdcd;
	color:rgba(0,0,0,1);
}
.btn:active, .btn.active{
	background-color:#bbbbbb;
	color:rgba(0,0,0,1);
}
.btn.disabled{cursor:default;opacity: 0.4;}

// sizes
.btn.xs{
	height:20px;
	font-size: 60%;
	padding: 1px 1em;
	line-height:18px;
}
.btn.sm{
	height:30px;
	font-size: 75%;
	padding: 5px 1em;
	line-height:20px;
}
.btn.lg{
	height:50px;
	font-size: 120%;
	padding: 10px 1em;
	line-height:30px;
}
.btn.xl{
	height:60px;
	font-size: 150%;
	padding: 15px 1em;
	line-height:30px;
}
.btn.hauto{height:auto;white-space:normal;}

.btn.weAreHere{
	border-color: #168187;
}
.btn[data-shortkey] kbd{
	font-size:1rem;
	background-color:rgba(0,0,0,0.07);
	transition:none;
}
.btn[data-shortkey] kbd.floatLa{
	font-size:1.3em;
}


.btn.clicked{
  animation:pulsePulseBorder 0.5s infinite ease-in-out;
}
@keyframes pulsePulseBorder { 0%{box-shadow: 0 0 5px 2px #ddd;} 70%{box-shadow: 0 0 5px 2px #aaa;} 100%{box-shadow: 0 0 5px 2px #ddd;}}


.loading-form form.submitedForm button.btn:after{content:"\e188";font-family:"siftal","tahoma" !important;display:inline-block;float:right; padding:5px;font-size:1.2em;line-height:1;vertical-align:middle;animation:spiner 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;cursor:wait;}
.loading-form.rtl form.submitedForm button.btn:after{float:left;}


