.transparent{
	border-color:transparent!important;
	background-color: transparent!important;
	padding: 0!important;
	box-shadow: none!important;
	border-radius: 0!important;
	outline: none!important;
}


