{%extends display.dash%}

{%block pageContent%}

<form class="cbox" method="post" autocomplete="off">
  <div class="input ltr mB10">
    <label for="chatid">{%trans "Chat id or username"%}</label>
    <input type="text" name="chatid" id="chatid" value="46898544" placeholder='{%trans "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"%}' required>
  </div>

  <div class="input ltr mB10">
    <label for="file1">{%trans "File URL"%}</label>
    <input type="text" name="file1" id="file1" value="https://ermile.com/static/images/logo.png" placeholder='{%trans "pass an HTTP URL as a String for Telegram to get a photo from the Internet"%}'>
  </div>

  <div class="input preview pTB10">
    <input type="file" name="file2" accept="image/gif, image/jpeg, image/png" id="file2" data-preview="">
    <label for="file2" data-tippy="" data-original-content_account\my></label>
  </div>


  <label for="text">{%trans "Caption"%}</label>
  <textarea class="txt mB10" name="text" id="text" rows="7" placeholder='{%trans "Text of the message to be sent"%}'>{{site.title}}</textarea>

  <button class="btn primary block">{%trans "Send"%}</button>
</form>


{%if tg.send%}
<div class="cbox">
  <h2>{%trans "Last request"%}</h2>
  <div class="msg info2">
    <pre>{{tg.send}}</pre>
  </div>
  <div class="msg">
    <pre>{{tg.response}}</pre>
  </div>
</div>
{%endif%}

{%endblock%}
