{%extends display.mvc%}


{%block body%}

{%include "/content/dashboard/sample1/header.html"%}

<div class="pwa zeroSide">
  <h4>System Services</h4>
   <nav class="pwaItems">
     <ul>
       <li>
        <a class="f align-center" href="">
         <div class="key">Push Notification</div>
         <div class="value">973 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">DNS Service</div>
         <div class="value">528 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Time & Location</div>
         <div class="value">285 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Document & Sync</div>
         <div class="value">297 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Software Update</div>
         <div class="value">128 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">DNS Service</div>
         <div class="value">512 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Messaging Service</div>
         <div class="value">528 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">DNS Service</div>
         <div class="value">395 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">DNS Service</div>
         <div class="value">850 MB</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">DNS Service</div>
         <div class="value">912 MB</div>
        </a>
       </li>
     </ul>
   </nav>
</div>

<style>
  body{background-color: #f3f2f8;}

 .superAdmin{display: none;}
</style>
{%endblock%}

