

{%block iTitle%}
<div class="input mB10">
 <input type="text" name="title" id="title" placeholder='{%trans "Product Title" %} *' value="{{productDataRow.title}}" maxlength='200' autofocus {%if productDataRow.parent%} disabled {%endif%}>
</div>
{%endblock%}



{%block iSlug%}
<label for='slug'>{%trans "Slug"%}</label>
<div class="input">
 <input type="text" name="slug" id="slug" placeholder='{%trans "Slug"%}' value="{{productDataRow.slug}}" maxlength="50">
</div>
{%endblock%}



{%block iManufacturer%}
<div>
  <label for='company'>{%trans "Manufacturer"%}</label>
  <select name="company" id="company" class="select22" data-model="tag" data-placeholder='{%trans "Product manufacturer"%}'>
    <option></option>
     {%if productDataRow.company_id%}
      <option value="0">{%trans "Without manufacturer"%}</option>
    {%endif%}
    {%for key, value in listCompanies%}
      <option value="{{value.title}}" {%if value.id == productDataRow.company_id %} selected{%endif%}>{{value.title}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block iCat%}
<div>
  <label for='cat'>{%trans "Cat"%}</label>
  <select name="cat" id="cat" class="select22" data-model="tag" data-placeholder='{%trans "Select or add new category"%}' {%if productDataRow.parent%} disabled {%endif%}>
    <option></option>
    {%if productDataRow.cat_id%}
      <option value="0">{%trans "Without category"%}</option>
    {%endif%}
    {%for key, value in listCategory%}
      <option value="{{value.title}}" {%if value.id == productDataRow.cat_id %} selected{%endif%}>{{value.title}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block iUnit%}
<div>
  <label for='unit'>{%trans "Unit"%}</label>
  <select name="unit" id="unit" class="select22" data-model='tag' data-placeholder='{%trans "like Qty, kg, etc"%}' {%if productDataRow.parent%} disabled {%endif%}>
    <option></option>
    {%if productDataRow.unit_id%}
      <option value="0">{%trans "Without unit"%}</option>
    {%endif%}
    {%for key, value in listUnits%}
      <option value="{{value.title}}" {%if value.id == productDataRow.unit_id %} selected{%endif%}>{{value.title}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block iType%}

<div class="f mB10">

  <div class="c pRa5">
    <div class="radio3">
      <input type="radio" name="type" value="product" id="typeProduct" {%if not productDataRow or productDataRow.type == 'product'%} checked {%endif%} {%if productDataRow.parent%} disabled {%endif%}>
      <label for="typeProduct">{%trans "Product"%}</label>
    </div>
  </div>

  <div class="c">
    <div class="radio3">
      <input type="radio" name="type" value="service" id="typeService" {%if productDataRow.type == 'service'%} checked {%endif%} {%if productDataRow.parent%} disabled {%endif%}>
      <label for="typeService">{%trans "Service"%}</label>
    </div>
  </div>

  <div class="c">
    <div class="radio3">
      <input type="radio" name="type" value="file" id="typeFile" {%if productDataRow.type == 'file'%} checked {%endif%} {%if productDataRow.parent%} disabled {%endif%}>
      <label for="typeFile">{%trans "File"%}</label>
    </div>
  </div>

</div>

{%endblock%}



{%block iInfinite%}
<div class="switch1 mB5">
  <input type="checkbox" name="infinite" id="iinfinite" {%if productDataRow.infinite%} checked {%endif%}>
  <label for="iinfinite"></label>
  <label for="iinfinite">{%trans "Track quantity"%}<small></small></label>
</div>
<p class="fs09 fc-mute">{%trans "Inventory tracking can help you avoid selling products that have run out of stock, or let you know when you need to order or make more of your product."%}</p>
{%endblock%}


{%block iSKU%}
<label for='sku'>{%trans "Stock keeping unit - SKU"%}</label>
<div class="input">
 <input type="text" name="sku" id="sku" value="{{productDataRow.sku}}" maxlength="16" class="txtC ltr">
</div>
{%endblock%}




{%block iDesc%}
<textarea name="desc" data-editor class="txt" rows="6" maxlength="2000" data-placeholder='{%trans "Description"%}'>{{productDataRow.desc | raw}}</textarea>
{%endblock%}






{%block iBarcode%}
<label for="barcode">{%trans "Barcode"%}</label>
<div class="input">
 <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{productDataRow.barcode}}" class="barCode txtC ltr" data-lock autocomplete="off" maxlength="30">
 <span class="addon flag"><img class="none" src="{{url.static}}/img/logo/icon/svg/Jibres-Logo-icon.svg" alt="Jibres"/></span>
</div>
{%endblock%}


{%block iBarcode2%}
<label for="barcode2">{%trans "Barcode2"%}</label>
<div class="input">
 <input type="text" name="barcode2" id="barcode2" placeholder='{%trans "Scan Barcode2 here..."%}' value="{{productDataRow.barcode2}}" class="barCode txtC ltr" data-lock autocomplete="off" maxlength="30">
 <span class="addon flag"><img class="none" src="{{url.static}}/img/logo/icon/svg/Jibres-Logo-icon.svg" alt="Jibres"/></span>
</div>
{%endblock%}


{%block iCodeOnScale%}
<label for="codeOnScale">{%trans "Code on scale"%}</label>
<div class="input">
 <input type="text" name="scalecode" id="codeOnScale" value="{{productDataRow.scalecode}}" class="txtC ltr" autocomplete="off" data-format='int' maxlength="5">
</div>
{%endblock%}



{%block iWeight%}
<label for="iweight">{%trans "Weight"%}</label>
<div class="input">
 <input type="text" name="weight" id="iweight" value="{{productDataRow.weight}}"  autocomplete="off" maxlength="7" data-format='number'>
 <div class="addon">{{store.store_data.mass_detail.name}}</div>
</div>
{%endblock%}





{%block iLength%}
<label for="iLength">{%trans "Length"%}</label>
<div class="input">
 <input type="text" name="length" id="iLength" value="{{productDataRow.length}}"  autocomplete="off" maxlength="11" data-format='number'>
</div>
{%endblock%}


{%block iWidth%}
<label for="iWidth">{%trans "Width"%}</label>
<div class="input">
 <input type="text" name="width" id="iWidth" value="{{productDataRow.width}}"  autocomplete="off" maxlength="11" data-format='number'>
</div>
{%endblock%}


{%block iHeight%}
<label for="iHeight">{%trans "Height"%}</label>
<div class="input">
 <input type="text" name="height" id="iHeight" value="{{productDataRow.height}}"  autocomplete="off" maxlength="11" data-format='number'>
</div>
{%endblock%}

{%block iFileSize%}
<label for="iFileSize">{%trans "File Size"%}</label>
<div class="input">
 <input type="text" name="filesize" id="iFileSize" value="{{productDataRow.filesize}}"  autocomplete="off" maxlength="11" data-format='number'>
 <div class="addon">{%trans "MB"%}</div>
</div>
{%endblock%}


{%block iFileAddress%}
<label for="iFileAddress">{%trans "File Address"%}</label>
<div class="input">
 <input type="url" name="fileaddress" id="iFileAddress" value="{{productDataRow.fileaddress}}"   maxlength="500">
</div>
{%endblock%}







{%block iBuyprice%}
<label for='buyprice'>{%trans "Buy cost"%}</label>
<div class="input">
 <div class="addon fs09">{{store.store_data.currency_detail.symbol_native}}</div>
 <input type="text" name="buyprice" id="buyprice" data-format='price' value="{{productDataRow.buyprice}}" maxlength="{%if currentStore.setting.maxbuyprice%}{{currentStore.setting.maxbuyprice}}{%else%}15{%endif%}" data-run-input='calcProductMargin'>
</div>
<div class="f">
  <div class="c pRa10">
    <div class="profitMargin fs09 mB5 hideIn">
      <div class="msg minimal mB0" data-percent='11'><abbr>{%trans "Gross profit"%}</abbr> <b>11%</b></div>
    </div>
  </div>
  <div class="c">
    <div class="priceMargin fs09 mB5 hideIn">
      <div class="msg minimal mB0" data-percent='11'><abbr>{%trans "Margin"%}</abbr> <b>11%</b></div>
    </div>
  </div>
</div>
{%endblock%}


{%block iPrice%}
<label for='price'>{%trans "Sale Price"%}</label>
<div class="input mB5-f">
 <div class="addon fs09">{{store.store_data.currency_detail.symbol_native}}</div>
 <input type="text" name="price" id="price" data-format='price' value="{{productDataRow.price}}" maxlength="{%if currentStore.setting.maxprice%}{{currentStore.setting.maxprice}}{%else%}15{%endif%}" data-run-input='calcProductMargin'>
</div>
{%endblock%}


{%block iCompareAtPrice%}
<label for='CompareAtPrice'>{%trans "Compare at price"%}</label>
<div class="input mB5-f">
 <div class="addon fs09">{{store.store_data.currency_detail.symbol_native}}</div>
 <input type="text" name="CompareAtPrice" id="CompareAtPrice" data-format='price' value="{{productDataRow.compareatprice}}" placeholder='{%trans "Original retail price before off"%}' data-run-input='calcProductMargin' maxlength="{%if currentStore.setting.maxprice%}{{currentStore.setting.maxprice}}{%else%}15{%endif%}">
 <div class="addon fs09 discountMargin"></div>
</div>
{%endblock%}




{%block iFinalPrice%}
<div {%if not productDataRow.finalprice%} class="hide"{%endif%}>
 <label for='finalprice'>{%trans "Final Price"%}</label>
 <div class="input disabled">
  <input type="text" id="finalprice" data-format='price' value="{{productDataRow.finalprice}}" readonly>
  <span class="addon" title='{%trans "Pure Interest Rates"%}'>{{ productDataRow.intrestrate | fitNumber}} %</span>
 </div>
{%if lang.current == 'fa'%}
<div class="msg info2 txtB finalPriceToman"></div>
{%endif%}
</div>
{%endblock%}



{%block iVat%}
<div class="switch1 mB0">
 <input type="checkbox" name="vat" id="vat" data-percent='9' {%if productDataRow.vat%} checked{%endif%}>
 <label for="vat"></label>
 <label for="vat">{%trans "Charge taxes"%}</label>
 <label for="vat"><span class="badge">{{9 | fitNumber}} %</span></label>
</div>
{%endblock%}




{%block iMinsale%}
<label for='minsale'>{%trans "Min quantity per order"%}</label>
<div class="input">
 <input type="text" name="minsale" id="minsale" data-format='number' value="{{productDataRow.minsale}}" maxlength="7">
</div>
{%endblock%}



{%block iMaxsale%}
<label for='maxsale'>{%trans "Max quantity per order"%}</label>
<div class="input">
 <input type="text" name="maxsale" id="maxsale" data-format='number' value="{{productDataRow.maxsale}}" maxlength="7">
</div>
{%endblock%}

{%block iSalestep%}
<label for='salestep'>{%trans "Step quantity"%}</label>
<div class="input">
 <input type="text" name="salestep" id="salestep" data-format='number' value="{{productDataRow.salestep}}" maxlength="7">
</div>
{%endblock%}


{%block iMinstock%}
<label for='minstock'>{%trans "Min stock"%}</label>
<div class="input">
 <input type="text" name="minstock" id="minstock" data-format='number' value="{{productDataRow.minstock}}" maxlength="7">
</div>
{%endblock%}



{%block iMaxstock%}
<label for='maxstock'>{%trans "Max stock"%}</label>
<div class="input">
 <input type="text" name="maxstock" id="maxstock" data-format='number' value="{{productDataRow.maxstock}}" maxlength="11">
</div>
{%endblock%}


{%block iStatus%}
<div>
  <label for="status">{%trans "Status"%}</label>
  <select name="status" id="status" class="select22">
    <option value="available" {%if productDataRow.status == 'available' %} selected {%endif%}>{%trans "Available"%}</option>
    <option value="soon" {%if productDataRow.status == 'soon' %} selected {%endif%}>{%trans "Soon"%}</option>
    <option value="unavailable" {%if productDataRow.status == 'unavailable' %} selected {%endif%}>{%trans "Unavailable"%}</option>
    <option value="discountinued" {%if productDataRow.status == 'discountinued' %} selected {%endif%}>{%trans "Discountinued"%}</option>
  </select>
</div>
{%endblock%}





{%block iOwersale%}
<div class="switch1">
 <input type="checkbox" name="oversale" id="oversale" {% if productDataRow.oversale%} checked{%endif%}>
 <label for="oversale"></label>
 <label for="oversale">{%trans "Oversale"%}</label>
</div>
<p class="fc-mute fs09">{%trans "Allow to purchase when sold out of stock"%}</p>
{%endblock%}







{%block iTag%}
{%if perm('productAssignTag')%}
<div>
  <label for='tag'>{%trans "Tag"%}</label>
  <select name="tag[]" id="tag" class="select22" data-model="tag" multiple="multiple">
    {%for key, value in listTag%}
      <option value="{{value.title}}" selected>{{value.title}}</option>
    {%endfor%}
  </select>
</div>
{%endif%}

{%endblock%}







{%block galleryImporter %}

<section class="jbox">
  <header data-kerkere='.jboxGallery' data-kerkere-icon='open'><h2>{%trans "Images Gallery"%}</h2></header>
  <div class="pad jboxGallery">


  {%if productDataRow.gallery_array%}

  <div class="f">
    {%for key, value in productDataRow.gallery_array%}
      {%if value.path and value.path == productDataRow.thumb%}
      <div class="cauto pA5 pB10">
        <div class="w150">
          <img src="{{value.path}}" alt="{{value.id}}">
          <div>
            <a data-ajaxify data-method='post' data-data='{"fileaction": "remove", "fileid" : "{{value.id}}"}'><i class="sf-times fc-red"></i></a>
          </div>
        </div>
      </div>
      {%endif%}
    {%endfor%}

    {%for key, value in productDataRow.gallery_array%}
      {%if value.path and value.path != productDataRow.thumb%}
        <div class="cauto pA5 pB10">
          <div class="w150">
            <img src="{{value.path}}" alt="{{value.id}}">
            <div>
              <a data-ajaxify data-method='post' data-data='{"fileaction": "remove", "fileid" : "{{value.id}}"}'><i class="sf-times fc-red"></i></a>
              <a data-ajaxify data-method='post' data-data='{"fileaction": "setthumb", "fileid" : "{{value.id}}"}' class="floatRa btn sm"><i class="sf-monitor-screen-1"></i> <span class="pRa5">{%trans "Set as cover"%}</span></a>
            </div>
          </div>
        </div>
      {%endif%}
    {%endfor%}
  </div>
  {%endif%}

    {%if productDataRow.gallery_array | length >= 10%}
      <div class="msg minimal mB0 warn2">{%trans "Product gallery is full!"%}</div>
    {%else%}
    <div class="dropzone">
      <h4>{%trans "Add to gallery"%}</h4>
      <label for='gallery' class="btn light">{%trans "Choose or Drop file here"%}</label>
      <input id="gallery" type="file" name="gallery" multiple>
      <div class="progress shadow" data-percent='30'>
        <div class="bar"></div>
        <div class="detail"></div>
      </div>
      <small>{%trans "Maximum file size"%} <b>{{maxUploadSize}}</b></small>
    </div>
    {%endif%}

  </div>
</section>
{% endblock %}




{%block iSEO%}

<section class="jbox">
  <header data-kerkere='.seoData' data-kerkere-icon='open'><h2>{%trans "Customize for SEO"%}</h2></header>
  <div class="pad">

    <div class="seoPreview">
      <a target="_blank" href="{{url.kingdom}}/p/{{productDataRow.id}}">
        <cite><span>{{url.kingdom}}/p/</span>{{productDataRow.id}}/{{productDataRow.slug}}</cite>
      </a>
      <div class="f">
        <div class="c s12 pLa10">
          <h3>{%if productDataRow.seotitle%}{{productDataRow.seotitle}}{%else%}{{productDataRow.title}}{%endif%} | {{site.title}}</h3>
          <p class="desc">{{productDataRow.seodesc}}</p>
        </div>
        <div class="cauto os s12">
          <img src="{{url.siftal}}/images/logo/google.png" alt='{%trans "Google"%}'>
        </div>
      </div>
    </div>

    <div class="seoData" data-kerkere-content='hide'>
        <hr>
        <div>
          <label for='seoTitle'>{%trans "SEO Title"%} <small>{%trans "Recommended being more than 40 character."%}</small></label>
          <div class="input">
            <input type="text" name="seotitle" id="seoTitle" placeholder='{%if not productDataRow.seotitle%}{{productDataRow.title}}{%endif%}' value="{{productDataRow.seotitle}}"  maxlength='200' minlength="1" pattern=".{1,200}">
            <label class="addon"> | {{site.title}}</label>
          </div>
        </div>


        <div>
          <label for="seoSlug">{%trans "Slug"%} <small>{%trans "End part of your product url."%}</small></label>
          <div class="input ltr mB10">
            <input type="text" name="slug" id="seoSlug" placeholder='{%trans "Slug"%}' value="{{productDataRow.slug}}" maxlength='100' minlength="1" pattern=".{1,100}">
          </div>
        </div>

        <div>
          <label for='seoDesc'>{%trans "SEO Description"%} <small>{%trans "If leave it empty we are generate it automatically"%}</small></label>
          <textarea class="txt" name="seodesc" id="seoDesc" maxlength='300' rows='3' placeholder='{%trans "Excerpt used for social media and search engines"%}'>{{productDataRow.seodesc}}</textarea>
        </div>
    </div>

  </div>
</section>
{%endblock%}



{%block variantChild%}
{%if productDataRow.parentDetail.id and productDataRow.parentDetail.id != requestGET.id%}
<div class="msg f primary outline">
  <div class="cauto"><span class="mRa10 sf-atom"></span></div>
  <div class="c">
    {{productDataRow.parentDetail.title}}
  </div>
  <div class="cauto">
    <a href="{{url.that}}?id={{productDataRow.parentDetail.id}}" class="btn xs success">{%trans "Edit"%}</a>
  </div>
</div>
{%endif%}
{%if productDataRow.have_child%}
{%for key, value in productDataRow.child%}
  <div class="msg f">
    <div class="cauto"><span class="mRa10">{{(key + 1)  | fitNumber}}</span></div>
    <div class="c">
      <small class="fc-mute">{{value.optionname1}}</small> <b class="fc-red">{{value.optionvalue1}}</b>
      <small class="fc-mute">{{value.optionname2}}</small> <b class="fc-green">{{value.optionvalue2}}</b>
      <small class="fc-mute">{{value.optionname3}}</small> <b class="fc-blue">{{value.optionvalue3}}</b>
    </div>
    <div class="cauto">
      <a href="{{url.that}}?id={{value.id}}" class="btn xs outline primary">{%trans "Edit"%}</a>
    </div>
  </div>
{%endfor%}

{%elseif productFamily%}


{%for key, value in productFamily%}
  <div class="msg f {%if value.id == requestGET.id%} primary2{%endif%}">
    <div class="cauto"><span class="mRa10">{{(key + 1)  | fitNumber}}</span></div>
    <div class="c">
      <small class="fc-mute">{{value.optionname1}}</small> <b class="fc-red">{{value.optionvalue1}}</b>
      <small class="fc-mute">{{value.optionname2}}</small> <b class="fc-green">{{value.optionvalue2}}</b>
      <small class="fc-mute">{{value.optionname3}}</small> <b class="fc-blue">{{value.optionvalue3}}</b>
    </div>
    {%if value.id == requestGET.id%}
      <div class="cauto"><i class="sf-check"></i></div>
    {%else%}
      <div class="cauto">
        <a href="{{url.that}}?id={{value.id}}" class="btn xs outline primary">{%trans "Edit"%}</a>
      </div>
    {%endif%}
  </div>
{%endfor%}



{%endif%}

{%endblock%}















{%block variantHTML%}

<section class="jbox">
  <header data-kerkere='.jboxVariants' data-kerkere-icon='open'><h2>{%trans "Variants"%}</h2></header>
  <div class="pad jboxVariants">


{%if not productDataRow.have_child%}
    <div class="check1">
     <input type="checkbox" name="variants" id="variants" value="1" {%if productDataRow.variants%} checked {%endif%}>
      <label for="variants">{%trans "This product has multiple options, like different sizes or colors"%}</label>
    </div>
    <div data-response='variants' {%if productDataRow.variants%} {%else%} data-response-hide {%endif%}>

      <div class="f">
        <div class="cauto mB10">{{block('optionName1')}}</div>
        <div class="c pLa5 mB10">{{block('optionValueTag1')}}</div>
      </div>

      <div class="f">
        <div class="cauto mB10">{{block('optionName2')}}</div>
        <div class="c pLa5 mB10">{{block('optionValueTag2')}}</div>
      </div>

      <div class="f">
        <div class="cauto mB10">{{block('optionName3')}}</div>
        <div class="c pLa5 mB10">{{block('optionValueTag3')}}</div>
      </div>

      <button class="btn primary block mT20" name="makevariants" value="1">{%trans "Make"%}</button>

      {{block('productTempList')}}

    </div>
{%endif%}
  </div>
</section>
{%endblock%}



{%block optionName1%}
<div class="input">
  <input type="text" name="optionname1" placeholder='{%trans "Size"%}' value="{{variantsList.variants.option1.name}}">
</div>
{%endblock%}


{%block optionName2%}
<div class="input">
  <input type="text" name="optionname2" placeholder='{%trans "Color"%}' value="{{variantsList.variants.option2.name}}">
</div>
{%endblock%}


{%block optionName3%}
<div class="input">
  <input type="text" name="optionname3" placeholder='{%trans "Material"%}' value="{{variantsList.variants.option3.name}}">
</div>
{%endblock%}




{%block optionValueTag3%}
<div>
  <select name="optionvalue3[]" id="optionvalue3" class="select22" data-model="tag" multiple="multiple">
    {%for key, value in variantsList.variants.option3.value%}
      <option value="{{value}}" selected>{{value}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}



{%block optionValueTag2%}
<div>
  <select name="optionvalue2[]" id="optionvalue2" class="select22" data-model="tag" multiple="multiple">
    {%for key, value in variantsList.variants.option2.value%}
      <option value="{{value}}" selected>{{value}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}



{%block optionValueTag1%}
<div>
  <select name="optionvalue1[]" id="optionvalue1" class="select22" data-model="tag" multiple="multiple">
    {%for key, value in variantsList.variants.option1.value%}
      <option value="{{value}}" selected>{{value}}</option>
    {%endfor%}
  </select>
</div>
{%endblock%}


{%block productTempList%}
  {%if variantsList.temp_product%}
  {%set myCount = 0%}

      <input type="hidden" name="setvariants" value="1">
      <div class="tblBox mT10">
        <table class="tbl1 v1 fs08">
          <thead>
            <tr>
              <th class="collapsing">{%trans "Avalible?"%}</th>
              <th class="collapsing">{{variantsList.variants.option1.name}}</th>
              {%if variantsList.variants.option2.value%}<th class="collapsing">{{variantsList.variants.option2.name}}</th>{%endif%}
              {%if variantsList.variants.option3.value%}<th class="collapsing">{{variantsList.variants.option3.name}}</th>{%endif%}
              <th>{%trans "Stock"%}</th>
              <th>{%trans "Price"%}</th>
              <th>{%trans "SKU"%}</th>
              <th>{%trans "Barcode"%}</th>

            </tr>
          </thead>
          <tbody>
            {%for key, value in variantsList.temp_product%}
            {%set myCount = myCount + 1%}
              <tr>
                <td class="collapsing">
                  <div class="check1">
                          <input type="checkbox" name="avalible_{{myCount}}" value="1" id="sChk{{myCount}}" checked>
                          <label for="sChk{{myCount}}">{{myCount | fitNumber}}</label>
                        </div>
                </td>
                {%set myOptionKey = 0%}
                {%for k, v in value%}
                  {%set myOptionKey = myOptionKey + 1%}
                  <td class="collapsing">
                    <input type="hidden" name="option{{myOptionKey}}_{{myCount}}" value="{{v}}">
                    {{v}}
                  </td>
                {%endfor%}
                <td>
                  <div class="input">
                    <input type="number" name="stock_{{myCount}}" placeholder='{%trans "Stock"%}'>
                  </div>
                </td>

                <td>
                  <div class="input">
                    <input type="number" name="price_{{myCount}}" placeholder='{%trans "Price"%}' value="{{productDataRow.price}}">
                  </div>
                </td>

                <td>
                  <div class="input">
                    <input type="text" name="sku_{{myCount}}" placeholder='{%trans "SKU"%}'>
                  </div>
                </td>

                <td>
                  <div class="input">
                    <input type="text" name="barcode_{{myCount}}" placeholder='{%trans "Barcode"%}'>
                  </div>
                </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

        <p>
          {%trans "Only product by check the need box and set price and stock can add to your product list!"%}
        </p>
        <div class="txtRa">
          <button class="btn success" name="saveproductvariants" value="1">{%trans "Save"%}</button>
        </div>


  {%endif%}
{%endblock%}

