

{%block iTitle%}
<div class="input mB10">
 <input type="text" name="title" id="title" placeholder='{%trans "Product Title" %} *' value="{{productDataRow.title}}" maxlength='200' autofocus>
</div>
{%endblock%}



{%block iSlug%}
<label for='slug'>{%trans "Slug"%}</label>
<div class="input">
 <input type="text" name="slug" id="slug" placeholder='{%trans "Slug"%}' value="{{productDataRow.slug}}" maxlength="50">
</div>
{%endblock%}



{%block iManufacturer%}
<label for='company'>{%trans "Manufacturer"%}</label>

<select name="company" class="select ui dropdown search addition" id="company">
  <option value="">{%trans "Product manufacturer"%}</option>
  {%for key, value in listCompanies%}
    <option value="{{value.title}}" {%if value.id == productDataRow.company_id %} selected{%endif%}>{{value.title}}</option>
  {%endfor%}
</select>

{%endblock%}


{%block iCat%}

<label for='cat'>{%trans "Cat"%}</label>
<select name="cat" class="select ui dropdown search addition" id="cat">
  <option value="">{%trans "Organize by category"%}</option>
  {%for key, value in listCategory%}
    <option value="{{value.title}}" {%if value.id == productDataRow.cat_id %} selected{%endif%}>{{value.title}}</option>
  {%endfor%}
</select>

{%endblock%}


{%block iUnit%}
<label for='unit'>{%trans "Unit"%}</label>
<select name="unit" class="select ui dropdown search addition" id="unit">
  <option value="">{%trans "like Qty, kg, etc"%}</option>
  {%for key, value in listUnits%}
    <option value="{{value.title}}" {%if value.id == productDataRow.unit_id %} selected{%endif%}>{{value.title}}</option>
  {%endfor%}
</select>

{%endblock%}


{%block iType%}
<label for='type'>{%trans "Type"%}</label>
<select name="type" class="select ui dropdown search addition" id="type">
  <option value="product" {%if productDataRow.type == 'product' %} selected {%endif%}>{%trans "Product"%}</option>
  <option value="service" {%if productDataRow.type == 'service' %} selected {%endif%}>{%trans "Service"%}</option>
  <option value="file" {%if productDataRow.type == 'file' %} selected {%endif%}>{%trans "File"%}</option>
</select>
{%endblock%}



{%block iInfinite%}
<div class="switch1">
  <input type="checkbox" name="infinite" id="iinfinite" {%if productDataRow.infinite%} checked {%endif%}>
  <label for="iinfinite"></label>
  <label for="iinfinite">{%trans "Infinit"%}<small>{%trans "Track quantity"%}</small></label>
</div>
{%endblock%}


{%block iSKU%}
<label for='sku'>{%trans "Stock keeping unit (SKU)"%}</label>
<div class="input">
 <input type="text" name="sku" id="sku" value="{{productDataRow.sku}}" maxlength="16" class="txtC ltr">
</div>
{%endblock%}




{%block iDesc%}
<textarea name="desc" data-editor class="txt" rows="6" data-placeholder='{%trans "Description"%}'>{{productDataRow.desc | raw}}</textarea>
{%endblock%}






{%block iBarcode%}
<label for="barcode">{%trans "Barcode"%}</label>
<div class="input ">
 <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{productDataRow.barcode}}" class="barCode txtC ltr" data-lock autocomplete="off" maxlength="30">
 <span class="addon flag"><img class="none" src="{{url.static}}/img/logo/svg/Jibres-icon.svg" alt="Jibres"/></span>
</div>
{%endblock%}


{%block iBarcode2%}
<label for="barcode2">{%trans "Barcode2"%}</label>
<div class="input">
 <input type="text" name="barcode2" id="barcode2" placeholder='{%trans "Scan Barcode2 here..."%}' value="{{productDataRow.barcode2}}" class="barCode txtC ltr" data-lock autocomplete="off" maxlength="30">
 <span class="addon flag"><img class="none" src="{{url.static}}/img/logo/svg/Jibres-icon.svg" alt="Jibres"/></span>
</div>
{%endblock%}


{%block iCodeOnScale%}
<label for="codeOnScale">{%trans "Code on scale"%}</label>
<div class="input">
 <input type="text" name="scalecode" id="codeOnScale" value="{{productDataRow.scalecode}}" class="txtC ltr" autocomplete="off" data-format='int' maxlength="5">
</div>
{%endblock%}



{%block iWeight%}
<label for="iweight">{%trans "Weight"%}</label>
<div class="input ">
 <input type="number" name="weight" id="iweight" placeholder='{%trans "Enter product weight"%}' value="{{productDataRow.weight}}"  autocomplete="off" min="0" max="99999999">
</div>
{%endblock%}


{%block iWeightunit%}
<label for='weightunit'>{%trans "Weight unit"%}</label>
<select name="weightunit" class="select ui dropdown search addition" id="weightunit">
  <option value="" {%if not productDataRow.weightunit  %} selected {%endif%}>{%trans "Please select one item"%}</option>
  <option value="lb" {%if productDataRow.weightunit == 'lb' %} selected {%endif%}>{%trans "lb"%}</option>
  <option value="oz" {%if productDataRow.weightunit == 'oz' %} selected {%endif%}>{%trans "oz"%}</option>
  <option value="kg" {%if productDataRow.weightunit == 'kg' %} selected {%endif%}>{%trans "kg"%}</option>
  <option value="g" {%if productDataRow.weightunit == 'g' %} selected {%endif%}>{%trans "g"%}</option>
</select>
{%endblock%}



{%block iBuyprice%}

<label for='buyprice'>{%trans "Buy price"%}</label>
<div class="input">
 <input type="text" name="buyprice" id="buyprice" data-format='price' value="{{productDataRow.buyprice}}" maxlength="{%if currentStore.setting.maxbuyprice%}{{currentStore.setting.maxbuyprice}}{%else%}15{%endif%}" data-run-input='recalcPricePercents'>
</div>
{%endblock%}


{%block iPrice%}
<label for='price'>{%trans "Sale Price"%}</label>
<div class="input">
 <input type="text" name="price" id="price" data-format='price' value="{{productDataRow.price}}" maxlength="{%if currentStore.setting.maxprice%}{{currentStore.setting.maxprice}}{%else%}15{%endif%}" data-run-input='recalcPricePercents'>
</div>
{%endblock%}


{%block iCompareAtPrice%}
<label for='CompareAtPrice'>{%trans "Compare at price"%}</label>
<div class="input">
 <input type="text" name="CompareAtPrice" id="CompareAtPrice" data-format='price' value="{{productDataRow.CompareAtPrice}}" maxlength="{%if currentStore.setting.maxprice%}{{currentStore.setting.maxprice}}{%else%}15{%endif%}" data-run-input='recalcPricePercents'>
</div>
{%endblock%}




{%block iFinalPrice%}
<div {%if not productDataRow.finalprice%} class="hide"{%endif%}>
 <label for='finalprice'>{%trans "Final Price"%}</label>
 <div class="input disabled">
  <input type="text" id="finalprice" data-format='price' value="{{productDataRow.finalprice}}" readonly>
  <span class="addon" title='{%trans "Pure Interest Rates"%}'>{{ productDataRow.intrestrate | fitNumber}} %</span>
 </div>
{%if lang.current == 'fa'%}
<div class="msg info2 txtB finalPriceToman"></div>
{%endif%}
</div>
{%endblock%}



{%block iDiscount%}
<label for='discount'>{%trans "Discount"%}</label>
<div class="input">
 <input type="text" name="discount" id="discount" data-format='price' value="{{productDataRow.discount}}" maxlength="10" data-run-input='recalcPricePercents'>
 <span class="addon" title='{%trans "Discount Percent"%}'>{{ productDataRow.discountpercent | fitNumber}} %</span>
</div>
{%endblock%}


{%block iVat%}
<div class="switch1">
 <input type="checkbox" name="vat" id="vat" data-percent='9' {%if productDataRow.vat%} checked{%endif%}>
 <label for="vat"></label>
 <label for="vat">{%trans "Charge taxes on this product"%}</label>
 <label for="vat"><span class="badge">{{9 | fitNumber}} %</span></label>
</div>
{%endblock%}




{%block iMinsale%}
<label for='minsale'>{%trans "Min sale"%}</label>
<div class="input">
 <input type="number" name="minsale" id="minsale" placeholder='{%trans "Min sale"%}' value="{{productDataRow.minsale}}" maxlength="50">
</div>
{%endblock%}



{%block iMaxsale%}
<label for='maxsale'>{%trans "Max sale"%}</label>
<div class="input">
 <input type="number" name="maxsale" id="maxsale" placeholder='{%trans "Max sale"%}' value="{{productDataRow.maxsale}}" maxlength="50">
</div>
{%endblock%}

{%block iSalestep%}
<label for='salestep'>{%trans "Sale step"%}</label>
<div class="input">
 <input type="number" name="salestep" id="salestep" placeholder='{%trans "Sale step"%}' value="{{productDataRow.salestep}}" maxlength="50">
</div>
{%endblock%}


{%block iMinstock%}
<label for='minstock'>{%trans "Min stock"%}</label>
<div class="input">
 <input type="number" name="minstock" id="minstock" placeholder='{%trans "Min stock"%}' value="{{productDataRow.minstock}}" maxlength="50">
</div>
{%endblock%}



{%block iMaxstock%}
<label for='maxstock'>{%trans "Max stock"%}</label>
<div class="input">
 <input type="number" name="maxstock" id="maxstock" placeholder='{%trans "Max stock"%}' value="{{productDataRow.maxstock}}" maxlength="50">
</div>
{%endblock%}


{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status of product"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-available" name="status" value="available" {%if productDataRow.status == 'available' or not productDataRow.status %} checked{%endif%}>
  <label for="r-available">{%trans "Avalible"%} <small>{%trans "Normal status of product"%}</small></label>
 </div>

 <div class="radio1 blue">
  <input type="radio" id="r-soon" name="status" value="soon" {%if productDataRow.status == 'soon' %} checked{%endif%}>
  <label for="r-soon">{%trans "Soon"%} <small>{%trans "maybe come in future and be available"%}</small></label>
 </div>

 <div class="radio1 yellow">
  <input type="radio" id="r-unavailable" name="status" value="unavailable" {%if productDataRow.status == 'unavailable' %} checked{%endif%}>
  <label for="r-unavailable">{%trans "Unavailable"%} <small>{%trans "temporary does not exist in store"%}</small></label>
 </div>

 <div class="radio1 red">
  <input type="radio" id="r-discountinued" name="status" value="discountinued" {%if productDataRow.status == 'discountinued' %} checked{%endif%}>
  <label for="r-discountinued">{%trans "Discountinued"%} <small>{%trans "does not exist for now and on the future"%}</small></label>
 </div>

 <div class="radio1 black mB25">
  <input type="radio" id="r-unset" name="status" value="unset" {%if productDataRow.status == 'unset'%} checked{%endif%} >
  <label for="r-unset">{%trans "Unset"%} <small>{%trans "Unknown status for product"%}</small></label>
 </div>
</div>
{%endblock%}





{%block iOwersale%}
<div class="switch1">
 <input type="checkbox" name="oversale" id="oversale" {% if productDataRow.oversale%} checked{%endif%}>
 <label for="oversale"></label>
 <label for="oversale">{%trans "Owersale"%}</label>
</div>
{%endblock%}




{%block iSaleonline%}
<div class="check1">
 <input type="checkbox" name="saleonline" id="saleonline" {% if productDataRow.saleonline%} checked{%endif%}>
 <label for="saleonline">{%trans "Sale Online"%} <small>{%trans "This product is saleonline base"%}</small></label>
</div>
{%endblock%}







{%block iCarton%}
<label for='carton'>{%trans "Count in carton"%}</label>
<div class="input">
 <input type="number" name="carton" id="carton" placeholder='{%trans "Count of product in carton"%}' value="{{productDataRow.carton}}" maxlength="50">
</div>
{%endblock%}



{%block iTag%}


{%if perm('productAssignTag')%}
<div class="mT20">

  <div class="tagDetector">

    <div class="input mB10 hide">
      <input type="text" class="input tagVals" name="tag"  value="{{tagString}}" id="tagValues" placeholder='{%trans "Tag"%}'>
    </div>
      <div class="input" title='{%trans "Add tag manually to link product togethers"%}'>
        <input type="text" list="taglist" class="tagInput" placeholder='{%trans "Tag keywords..."%}'>
        <button class="addon tagAdd">+</button>
      </div>
      <div class="tagBox"></div>
  </div>
</div>
{%endif%}

{%endblock%}




{%block iSaletelegram%}
<div class="check1">
  <input type="checkbox" name="saletelegram" id="isaletelegram" {%if productDataRow.saletelegram%} checked {%endif%}>
  <label for="isaletelegram">{%trans "Sale in telegram"%}</label>
</div>
{%endblock%}


{%block iSaleapp%}
<div class="check1">
  <input type="checkbox" name="saleapp" id="isaleapp" {%if productDataRow.saleapp%} checked {%endif%}>
  <label for="isaleapp">{%trans "Sale in app"%}</label>
</div>
{%endblock%}






{%block galleryImporter %}

<section class="jbox">
  <header data-kerkere='.jboxGallery' data-kerkere-icon='open'>{%trans "Images Gallery"%}</header>
  <div class="pad jboxGallery">


  {%if productDataRow.gallery_array%}

  <div class="f">
    {%for key, value in productDataRow.gallery_array%}
      {%if value.path and value.path == productDataRow.thumb%}
      <span class="cauto pA5 pB10">
        <div class="w150">
          <img src="{{value.path}}">
          <div>
            <a data-ajaxify data-method='post' data-data='{"fileaction": "remove", "fileid" : "{{value.id}}"}'><i class="sf-times fc-red"></i></a>
          </div>
        </div>
      </span>
      {%endif%}
    {%endfor%}

    {%for key, value in productDataRow.gallery_array%}
      {%if value.path and value.path != productDataRow.thumb%}
        <span class="cauto pA5 pB10">
          <div class="w150">
            <img src="{{value.path}}">
            <div>
              <a data-ajaxify data-method='post' data-data='{"fileaction": "remove", "fileid" : "{{value.id}}"}'><i class="sf-times fc-red"></i></a>
              <a data-ajaxify data-method='post' data-data='{"fileaction": "setthumb", "fileid" : "{{value.id}}"}' class="floatRa btn sm"><i class="sf-monitor-screen-1"></i> <span class="pRa5">{%trans "Set as cover"%}</span></a>
            </div>
          </div>
        </span>
      {%endif%}
    {%endfor%}
  </div>
  {%endif%}

    <div class="dropzone">
      <h4>{%trans "Add to gallery"%}</h4>
      <label for='gallery' class="btn light">{%trans "Choose or Drop file here"%}</label>
      <input id="gallery" type="file" name="gallery" multiple>
      <div class="progress shadow" data-percent='30'>
        <div class="bar"></div>
        <div class="detail"></div>
      </div>
      <small>{%trans "Maximum file size"%} <b>{{maxUploadSize}}</b></small>
    </div>

  </div>
</section>
{% endblock %}




{%block iSEO%}

    <div class="seoPreview">
      <a target="_blank" href="{{url.kingdom}}/p/{{productDataRow.id}}">
        <cite><span>{{url.kingdom}}/p/</span>{{productDataRow.id}}/{{productDataRow.slug}}</cite>
      </a>
      <div class="f">
        <div class="c s12 pLa10">
          <h3>{%if productDataRow.seotitle%}{{productDataRow.seotitle}}{%else%}{{productDataRow.title}}{%endif%} | {{site.title}}</h3>
          <p class="desc">{{productDataRow.seodesc}}</p>
        </div>
        <div class="cauto os s12">
          <img src="{{url.siftal}}/images/logo/google.png" alt='{%trans "Google"%}'>
        </div>
      </div>
    </div>

    <div class="seoData" data-kerkere-content='hide'>
        <hr>
        <div>
          <label for='seoTitle'>{%trans "SEO Title"%} <small>{%trans "Recommended being more than 40 character."%}</small></label>
          <div class="input">
            <input type="text" name="seotitle" id="seoTitle" placeholder='{%if not productDataRow.seotitle%}{{productDataRow.title}}{%endif%}' value="{{productDataRow.seotitle}}"  maxlength='200' minlength="1" pattern=".{1,200}">
            <label class="addon"> | {{site.title}}</label>
          </div>
        </div>


        <div>
          <label for="seoSlug">{%trans "Slug"%} <small>{%trans "End part of your product url."%}</small></label>
          <div class="input ltr mB10">
            <input type="text" name="slug" id="seoSlug" placeholder='{%trans "Slug"%}' value="{{productDataRow.slug}}" maxlength='100' minlength="1" pattern=".{1,100}">
          </div>
        </div>

        <div>
          <label for='seoDesc'>{%trans "SEO Description"%} <small>{%trans "If leave it empty we are generate it automatically"%}</small></label>
          <textarea class="txt" name="seodesc" id="seoDesc" maxlength='300' rows='3' placeholder='{%trans "Excerpt used for social media and search engines"%}'>{{productDataRow.seodesc}}</textarea>
        </div>
    </div>

{%endblock%}



{%block variantChild%}
{%if productDataRow.have_child%}

{%for key, value in productDataRow.child%}
  <div class="msg f">
    <div class="cauto"><span class="mRa10">{{(key + 1)  | fitNumber}}</span></div>
    <div class="c">
      <small class="fc-mute">{{value.optionname1}}</small> <b class="fc-red">{{value.optionvalue1}}</b>
      <small class="fc-mute">{{value.optionname2}}</small> <b class="fc-green">{{value.optionvalue2}}</b>
      <small class="fc-mute">{{value.optionname3}}</small> <b class="fc-blue">{{value.optionvalue3}}</b>
    </div>
    <div class="cauto">
      <a href="{{url.that}}?id={{value.id}}" class="btn xs outline primary">{%trans "Edit"%}</a>
    </div>
  </div>
{%endfor%}

{%elseif productFamily%}


{%for key, value in productFamily%}
  <div class="msg f {%if value.id == requestGET.id%} primary2{%endif%}">
    <div class="cauto"><span class="mRa10">{{(key + 1)  | fitNumber}}</span></div>
    <div class="c">
      <small class="fc-mute">{{value.optionname1}}</small> <b class="fc-red">{{value.optionvalue1}}</b>
      <small class="fc-mute">{{value.optionname2}}</small> <b class="fc-green">{{value.optionvalue2}}</b>
      <small class="fc-mute">{{value.optionname3}}</small> <b class="fc-blue">{{value.optionvalue3}}</b>
    </div>
    <div class="cauto">
      <a href="{{url.that}}?id={{value.id}}" class="btn xs outline primary">{%trans "Edit"%}</a>
    </div>
  </div>
{%endfor%}



{%endif%}

{%endblock%}















{%block variantHTML%}


    <div class="f">
      <div class="cauto">{{block('optionName1')}}</div>
      <div class="c pLa5">{{block('optionValueTag1')}}</div>
    </div>

    <div class="f">
      <div class="cauto">{{block('optionName2')}}</div>
      <div class="c pLa5">{{block('optionValueTag2')}}</div>
    </div>

    <div class="f">
      <div class="cauto">{{block('optionName3')}}</div>
      <div class="c pLa5">{{block('optionValueTag3')}}</div>
    </div>

    <button class="btn primary block mT20" name="makevariants" value="1">{%trans "Make"%}</button>


    {{block('productTempList')}}

{%endblock%}



{%block optionName1%}
<div class="input mA5">
  <input type="text" name="optionname1" placeholder='{%trans "Size"%}' value="{{variantsList.variants.option1.name}}">
</div>
{%endblock%}


{%block optionName2%}
<div class="input mA5">
  <input type="text" name="optionname2" placeholder='{%trans "Color"%}' value="{{variantsList.variants.option2.name}}">
</div>
{%endblock%}


{%block optionName3%}
<div class="input mA5">
  <input type="text" name="optionname3" placeholder='{%trans "Material"%}' value="{{variantsList.variants.option3.name}}">
</div>
{%endblock%}




{%block optionValueTag3%}
<div class="mA5">
  <div class="tagDetector">

    <div class="input mB10 hide">
      <input type="text" class="input tagVals" name="optionvalue3"  value="{{variantsList.variants.option3.value | join(',')}}" id="" placeholder='{%trans "Tag"%}'>
    </div>

    <div class="input">
      <input type="text" class="tagInput" placeholder='{%trans "Separate options with a comma"%}'>
      <button class="addon tagAdd">+</button>
    </div>

    <div class="w300">
      <div class="tagBox">
        {%for key, value in variantsList.variants.option3.value%}
        <span data-val="{{value}}">{{value}}</span>
        {%endfor%}
      </div>
    </div>

  </div>
</div>
{%endblock%}



{%block optionValueTag2%}
<div class="mA5">
  <div class="tagDetector">

    <div class="input mB10 hide">
      <input type="text" class="input tagVals" name="optionvalue2"  value="{{variantsList.variants.option2.value | join(',')}}" id="" placeholder='{%trans "Tag"%}'>
    </div>

    <div class="input">
      <input type="text" class="tagInput" placeholder='{%trans "Separate options with a comma"%}'>
      <button class="addon tagAdd">+</button>
    </div>

    <div class="w300">
      <div class="tagBox">
        {%for key, value in variantsList.variants.option2.value%}
        <span data-val="{{value}}">{{value}}</span>
        {%endfor%}
      </div>
    </div>

  </div>
</div>
{%endblock%}



{%block optionValueTag1%}
<div class="mA5">
  <div class="tagDetector">

    <div class="input mB10 hide">
      <input type="text" class="input tagVals" name="optionvalue1"  value="{{variantsList.variants.option1.value | join(',')}}" id="" placeholder='{%trans "Tag"%}'>
    </div>

    <div class="input">
      <input type="text" class="tagInput" placeholder='{%trans "Separate options with a comma"%}'>
      <button class="addon tagAdd">+</button>
    </div>

    <div class="w300">
      <div class="tagBox">
        {%for key, value in variantsList.variants.option1.value%}
        <span data-val="{{value}}">{{value}}</span>
        {%endfor%}
      </div>
    </div>

  </div>
</div>
{%endblock%}


{%block productTempList%}
  {%if variantsList.temp_product%}
  {%set myCount = 0%}

      <input type="hidden" name="setvariants" value="1">
      <div class="tblBox mT10">
        <table class="tbl1 v1 fs08">
          <thead>
            <tr>
              <th class="collapsing">{%trans "Avalible?"%}</th>
              <th class="collapsing">{{variantsList.variants.option1.name}}</th>
              {%if variantsList.variants.option2.value%}<th class="collapsing">{{variantsList.variants.option2.name}}</th>{%endif%}
              {%if variantsList.variants.option3.value%}<th class="collapsing">{{variantsList.variants.option3.name}}</th>{%endif%}
              <th>{%trans "Stock"%}</th>
              <th>{%trans "Price"%}</th>
              <th>{%trans "SKU"%}</th>
              <th>{%trans "Barcode"%}</th>

            </tr>
          </thead>
          <tbody>
            {%for key, value in variantsList.temp_product%}
            {%set myCount = myCount + 1%}
              <tr>
                <td class="collapsing">
                  <div class="check1">
                          <input type="checkbox" name="avalible_{{myCount}}" value="1" id="sChk{{myCount}}" checked>
                          <label for="sChk{{myCount}}">{{myCount | fitNumber}}</label>
                        </div>
                </td>
                {%set myOptionKey = 0%}
                {%for k, v in value%}
                  {%set myOptionKey = myOptionKey + 1%}
                  <td class="collapsing">
                    <input type="hidden" name="option{{myOptionKey}}_{{myCount}}" value="{{v}}">
                    {{v}}
                  </td>
                {%endfor%}
                <td>
                  <div class="input">
                    <input type="number" name="stock_{{myCount}}" placeholder='{%trans "Stock"%}'>
                  </div>
                </td>

                <td>
                  <div class="input">
                    <input type="number" name="price_{{myCount}}" placeholder='{%trans "Price"%}' value="{{productDataRow.price}}">
                  </div>
                </td>

                <td>
                  <div class="input">
                    <input type="text" name="sku_{{myCount}}" placeholder='{%trans "SKU"%}'>
                  </div>
                </td>

                <td>
                  <div class="input">
                    <input type="text" name="barcode_{{myCount}}" placeholder='{%trans "Barcode"%}'>
                  </div>
                </td>
              </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

        <p>
          {%trans "Only product by check the need box and set price and stock can add to your product list!"%}
        </p>
        <div class="txtRa">
          <button class="btn success" name="saveproductvariants" value="1">{%trans "Save"%}</button>
        </div>


  {%endif%}
{%endblock%}

