{%extends display.suMain%}


{%block content%}

  <p class="msg danger">{%trans "You can use our tools"%}. {%trans "If you dont know about this page, leave it!"%}</p>

  <h2>{%trans "Database"%}</h2>
  <div class="f">

   <div class="c4 s12">
      <a class="dcard x1" href='{{url.here}}/backup'>
       <div class="statistic">
        <div class="value"><i class="sf-database"></i></div>
        <div class="label">{%trans "Backup"%}</div>
       </div>
      </a>
   </div>
  <div class="c4 s12">
    <a class="dcard x1" href='{{url.here}}/dbtables'>
     <div class="statistic">
      <div class="value"><i class="sf-database"></i></div>
      <div class="label">{%trans "Raw table"%}</div>
     </div>
    </a>
  </div>
  </div>


  <h2>{%trans "Server"%}</h2>
  <div class="f">
   <div class="c4 s12">
      <a class="dcard x1" target="_blank" href='{{url.here}}/time'>
       <div class="statistic">
        <div class="value"><i class="sf-clock-o"></i></div>
        <div class="label">{%trans "Date and time"%}</div>
       </div>
      </a>
   </div>

   <div class="c4 s12">
      <a class="dcard x1" target="_blank" href='{{url.here}}/info'>
       <div class="statistic">
        <div class="value"><i class="sf-server"></i></div>
        <div class="label">{%trans "Server information"%}</div>
       </div>
      </a>
   </div>

    <div class="c4 s12">
      <a class="dcard x1" target="_blank" href='{{url.here}}/cronjob'>
       <div class="statistic">
        <div class="value"><i class="sf-flight"></i></div>
        <div class="label">{%trans "Cronjob"%}</div>
       </div>
      </a>
   </div>
  </div>


  <h2>{%trans "Git"%}</h2>
  <div class="f">
   <div class="c4 s12">
      <a class="dcard x1" target="_blank" href='{{url.here}}/gitstatus'>
       <div class="statistic">
        <div class="value"><i class="sf-github-alt"></i></div>
        <div class="label">{%trans "Git status"%}</div>
       </div>
      </a>
   </div>
   <div class="c4 s12">
      <a class="dcard x1" target="_blank" href='{{url.here}}/nano'>
       <div class="statistic">
        <div class="value"><i class="sf-file-text-o"></i></div>
        <div class="label">{%trans "Nano"%}</div>
       </div>
      </a>
   </div>
  <div class="c4 s12">
      <a class="dcard x1  danger" target="_blank" href='{{url.here}}/update'>
       <div class="statistic">
        <div class="value"><i class="sf-git-square"></i></div>
        <div class="label">{%trans "Update"%}</div>
       </div>
      </a>
   </div>
  </div>


  <h2>{%trans "Tools"%}</h2>
  <div class="f">
   <div class="c4 s12">
      <a class="dcard x1" href='{{url.here}}/tools/permission'>
       <div class="statistic">
        <div class="value"><i class="sf-unlock-alt"></i></div>
        <div class="label">{%trans "Permission"%}</div>
       </div>
      </a>
   </div>

  <div class="c4 s12">
      <a class="dcard x1" target="_blank" href='{{url.here}}/log'>
       <div class="statistic">
        <div class="value"><i class="sf-folder-1"></i></div>
        <div class="label">{%trans "Log"%}</div>
       </div>
      </a>
   </div>
  {%if url.tld == 'local'%}
    <div class="c4 s12">
        <a class="dcard x1" target="_blank" href='{{url.here}}/translation'>
         <div class="statistic">
          <div class="value"><i class="sf-language"></i></div>
          <div class="label">{%trans "Translation tools"%}</div>
         </div>
        </a>
     </div>
  {%endif%}
  </div>
{%endblock%}

