


<?php require_once(root. 'content_crm/member/pageSteps.php'); ?>

<div class="f">
 <div class="cauto s12 pA5">
    <?php require_once(root. 'content_crm/member/psidebar.php'); ?>

 </div>
 <div class="c s12 pA5">

  <form class="cbox" method="post" autocomplete="off">

    <?php if(\dash\data::permGroup()) {?>


    <div class="mT10">
      <label for="permission"><?php echo T_("Permission"); ?></label>
      <select name="permission" class="ui dropdown" id="permission">
        <option value="" readonly><?php echo T_("No permission"); ?></option>
        <option value="0" readonly><?php echo T_("No permission"); ?></option>

        <?php foreach (\dash\data::permGroup() as $key => $value) {?>

          <option value="<?php echo $key; ?>" <?php if(\dash\data::dataRowMember_permission() == $key)  { echo 'selected'; }?> > <?php echo T_($value['title']); ?></option>

        <?php } ?>
      </select>
    </div>

  <?php } ?>


    <div class="mTB10">
      <label for="language"><?php echo T_("Default language"); ?></label>
      <select name="language" class="ui dropdown" id="language">
        <option value="" readonly><?php echo T_("Select one item"); ?></option>
          <?php foreach (\dash\data::lang_list() as $key => $value) {?>

            <option value="<?php echo $key; ?>" <?php if(\dash\data::dataRowMember_language() == $key || (!\dash\data::dataRowMember_language() && \dash\data::lang_current() == $key)) {echo 'selected';} ?>><?php echo $value; ?></option>

          <?php } //endfor ?>


      </select>
    </div>


    <label for="username"><?php echo T_("Username"); ?></label>
    <div class="input ltr">
      <input type="text" name="username" id="username" placeholder='<?php echo T_("Username"); ?>' value="{{dataRowMember_username}}" maxlength='40' minlength="1" pattern=".{1,40}" title='<?php echo T_("Enter a valid username from 3 to 40 character"); ?>' autofocus>
    </div>


    <div class="switch1 mT20">
     <input type="checkbox" name="twostep" id="twostep" {%if dataRowMember_twostep  %}checked{%endif%}>
     <label for="twostep"></label>
     <label for="twostep"><?php echo T_("Two step verification"); ?></label>
    </div>


    <div class="switch1 mT20">
     <input type="checkbox" name="forceremember" id="forceremember" {%if dataRowMember_forceremember  %}checked{%endif%}>
     <label for="forceremember"></label>
     <label for="forceremember"><?php echo T_("Save remember session"); ?></label>
    </div>

    <div class="switch1 mTB0">
      <input type="checkbox" name="sidebar" id="xsidebar" {%if dataRowMember_sidebar %}checked{%endif%}>
      <label for="xsidebar"></label>
      <label for="xsidebar"><?php echo T_("Show sidebar"); ?></label>
    </div>

    <div class="mT10">
    <label for="status"><?php echo T_("Status"); ?></label>
    <select name="status" class="ui dropdown" id="status">
      <option value="" readonly><?php echo T_("Select one item"); ?> *</option>
      <option value="active" {% if dataRowMember_status == 'active' %} selected {%endif%}><?php echo T_("Active"); ?></option>
      <option value="awaiting" {% if dataRowMember_status == 'awaiting' %} selected {%endif%}><?php echo T_("Awaiting"); ?></option>
      <option value="deactive" {% if dataRowMember_status == 'deactive' %} selected {%endif%}><?php echo T_("Deactive"); ?></option>
      <option value="removed" {% if dataRowMember_status == 'removed' %} selected {%endif%}><?php echo T_("Removed"); ?></option>
      <option value="filter" {% if dataRowMember_status == 'filter' %} selected {%endif%}><?php echo T_("Filter"); ?></option>
      <option value="unreachable" {% if dataRowMember_status == 'unreachable' %} selected {%endif%}><?php echo T_("Unreachable"); ?></option>
    </select>
  </div>

    {%if perm('cpUsersPasswordChange')%}
      <label for="password"><?php echo T_("Password"); ?> <small><?php echo T_("Enter to change pass"); ?></small></label>
      <div class="input">
        <input type="password" name="password" id="password" placeholder='{%if dataRowMember_password%}<?php echo T_("Password was set, enter to change it!"); ?>{%else%}<?php echo T_("Password not set, enter  to set it!"); ?>{%endif%}' maxlength='50' data-response-realtime autocomplete="new-password">
      </div>
      <div data-response='password' data-response-hide data-response-effect='slide'>
        <label for="repassword"><?php echo T_("Confirm password"); ?> <small class="fc-red">* <?php echo T_("Require to change current password"); ?></small></label>
        <div class="input">
        <input type="password" name="repassword" id="repassword" placeholder='{%if dataRowMember_password%}<?php echo T_("Password was set, enter to change it!"); ?>{%else%}<?php echo T_("Password not set, enter  to set it!"); ?>{%endif%}'  maxlength='50'>
      </div>
      </div>
    {%endif%}


    <button class="btn primary block mT20"><?php echo T_("Save"); ?></button>

    {%if perm_su()%}
      <div class="badge mT10 mB10 danger" data-kerkere-icon data-kerkere='.DeleteUserYN'><?php echo T_("Delete user"); ?></div>
      <div class="DeleteUserYN" data-kerkere-content="hide">
        <div class="msg danger">
          <?php echo T_("Are you sure to delete this user?"); ?>
          <span data-confirm data-data='{"deleteuser" : "DeleteUserYN"}' class="badge warn floatL"><?php echo T_("Delete"); ?></span>
        </div>
      </div>
    {%endif%}
  </form>


    {%if perm_su()%}
      <div class="cbox">
        <form method="post">

            {%if chatIdList%}
              <div class="msg success2">
                <?php echo T_("User have chatid"); ?>
              {%for key, value in chatIdList%}
                <br>
                <span class="badge mLR20">{{(key + 1) | fitNumber}}</span><b>{{value.chatid | fitNumber(false)}}</b>
                <span data-confirm data-data='{"removechatid" : "removechatid", "chatid" : "{{value.chatid}}"}' class="badge danger floatL"><?php echo T_("Remove chatid"); ?></span>
              {%endfor%}
              </div>

            {%endif%}

            <input type="hidden" name="setChatid" value="1">
            <div class="input">
              <label class="addon" for="ichatid"><?php echo T_("chatid"); ?> <?php echo T_("Telegram"); ?></label>
              <input type="number" id="ichatid" name="chatid">
              <button class="btn addon primary"><?php echo T_("Add"); ?></button>
            </div>
          </div>
        </form>


    {%if androidList%}
      <div class="cbox">
        <form method="post">
            <div class="msg success2">
              <?php echo T_("User have android"); ?>
              {%for key, value in androidList%}
                <span class="badge mLR20">{{(key + 1) | fitNumber}}</span><b>{{value | dump}}</b>
              {%endfor%}
            </div>
          </div>
        </form>
    {%endif%}

    {%endif%}

  <div class="cbox">

    <h4><?php echo T_("Active sessions"); ?> </h4>
    {%for key, row in sessionsList%}
    <div class="msg">
        <div class="badge warn" title='<?php echo T_("Browser"); ?>'>{{row.browser}} {{row.browserVer | fitNumber}}</div>
        <div class="badge" title='<?php echo T_("Operation System"); ?>'>{{row.os}} {{row.osVer | fitNumber}}</div>
        <div class="badge" title='<?php echo T_("IP"); ?>'>{{row.ip}}</div>
        <div class="badge primary" title='<?php echo T_("Date login"); ?>'>{{row.last | dt('human')}}</div>
        {%if row.code == currentCookie %}
        <div class="badge success"><?php echo T_("Current session"); ?></div>
        {%endif%}
        <a class="badge floatL danger" href="{{url.pwd}}" data-ajaxify data-method="post" data-data='{"id" : "{{row.id}}", "type": "terminate" }' tabindex='-1'><?php echo T_("Terminate"); ?></a>
    </div>

  {%endfor%}
  </div>

 </div>
</div>
