{%extends display.dash%}


{%block pageContent%}
{{block('pageSteps')}}

<form method="post" autocomplete="off">
  <div class="f justify-center">
    <div class="c8 s12">
     <div class="cbox">
        <h3 class="txtC">{%trans "Your signature"%}</h3>
			<textarea class="txt mB10" data-editor id='descInput' name="signature" placeholder='{%trans "Write signature"%}' maxlength='100000' rows="15">{{dataRow.signature}}</textarea>
        <button class="btn primary block mT20">{%trans "Save"%}</button>
      </div>
    </div>
  </div>
</form>
{%endblock%}









