
<div class="factor printArea" data-size='receipt8'>

{%block headerArea%}{%endblock%}

{%block storeDetailArea%}
 <div class="f storeDetail fs11">
  <div class="c">
   <h1>{{currentStore.name}}</h1>
   <address>
    <div class="address">{{currentStore.address}}</div>
    <div class="f">
     <div class="phone">{{currentStore.phone | fitNumber(false)}}</div>
     <div class="website">{{currentStore.website}}</div>
    </div>
   </address>
   <div class="desc">{{currentStore.desc}}</div>
  </div>
{%if currentStore.logo_raw %}
  <div class="c4 logo txtRa">
   <img src="{{currentStore.logo}}" alt="{{currentStore.name}}">
  </div>
{%endif%}
 </div>
{%endblock%}


{%block factorHeader%}
{%if currentStore.factorheader%}
<hr>
<p class="factorHeader fs11">
{{currentStore.factorheader | raw | nl2br}}
</p>
{%endif%}
{%endblock%}

{%block customerDetailArea%}

{%if factorDetail.factor.customer %}
<hr>
<div class="customerDetail fs14">
  <div class="fs14">{%trans "Customer Detail"%}</div>
{%if factorDetail.factor.customer_displayname%}
  <div class="pA5"><span class="txtB">{{factorDetail.factor.customer_displayname}}</span></div>
{%endif%}
{%if factorDetail.factor.customer_address%}
  <div class="pA5">{%trans "Address"%} <span class="txtB">{{factorDetail.factor.customer_address}}</span></div>
{%endif%}
{%if factorDetail.factor.customer_mobile or factorDetail.factor.customer_phone%}
  <div class="f pA5">
    <div class="cauto pRa10">{%trans "Tel"%}</div>
    <div class="c pRa10 txtB">{{factorDetail.factor.customer_phone | fitNumber(false)}}</div>
    <div class="c txtB">{{factorDetail.factor.customer_mobile | fitNumber('mobile')}}</div>
  </div>
{%endif%}

</div>
{%endif%}
{%endblock%}

{%block factorDetailArea%}
 <div class="f factorDetail fs12 mB5">
  <div class="c">
   <div class="datetime">{{factorDetail.factor.date | dt(true) }}</div>
   <div>{%trans "Sale Invoice"%} <code id='barcode' data-val='{{factorDetail.factor.id}}'>{{factorDetail.factor.id}}</code></div>
  </div>
  <div class="cauto os">
   <svg class="barcodePrev" data-val="#barcode" data-height=20 data-hideValue></svg>
  </div>
 </div>
{%endblock%}



{%block factorTableArea%}
 <table class="tbl1 v1 fs11 txtC">
  <thead>
   <tr class="fs08">
    <th>{%trans "Name"%}</th>
    <th>{%trans "Qty"%}</th>
    <th>{%trans "Price"%}</th>
{%if factorDetail.factor.detaildiscount%}
    <th>{%trans "Discount"%}</th>
{%endif%}
    <th>{%trans "Sum"%}</th>
   </tr>
  </thead>
  <tbody>
 {%for key, datarow in factorDetail.factor_detail%}
  <tr>
   <td class="fs09 txtLa">{{datarow.title}}</td>
   <td>{{datarow.factordetails_count | fitNumber(false)}} <small>{{datarow.unit}}</small></td>
   <td>{{datarow.factordetails_price | fitNumber}}</td>
{%if factorDetail.factor.detaildiscount%}
   <td>{{datarow.factordetails_discount | fitNumber}}</td>
{%endif%}
   <td>{{datarow.factordetails_sum | fitNumber}}</td>
  </tr>
 {%endfor%}
  </tbody>

{%if factorDetail.factor.item > 0 and false%}
  <tfoot class="txtC">
   <th>{{factorDetail.factor.item | number_format | fitNumber}}</th>
   <th>{{factorDetail.factor.qty | fitNumber}}</th>
   <th></th>
{%if factorDetail.factor.detaildiscount%}
   <th></th>
{%endif%}
   <th>{{factorDetail.factor.sum | number_format | fitNumber}}</th>
  </tfoot>
{%endif%}

 </table>
{%endblock%}



{%block factorResultArea%}
 <table class="tbl fs12 factorResult mB25">
  <tbody>
{%if factorDetail.factor.detaildiscount%}
   <tr>
     <th class="txtRa">{%trans "Invoice amount"%}</th>
     <td class="collapsing txtLa">{{factorDetail.factor.detailsum | number_format |fitNumber}}</td>
   </tr>
   <tr>
     <th class="txtRa">{%trans "Your total discount and profits"%}</th>
     <td class="collapsing txtLa">{{factorDetail.factor.detaildiscount | number_format |fitNumber}}</td>
   </tr>
{%endif%}
   <tr class="msg info2 factorSum">
     <th class="txtRa">{%trans "Total payable"%}</th>
     <td class="collapsing txtLa">{{factorDetail.factor.sum | number_format |fitNumber}} <small class="fs07">{%trans "Toman"%}</small></td>
   </tr>
  </tbody>

 </table>
{%endblock%}


{%block factorFooter%}
{% if currentStore.factorfooter%}
<hr>
<p class="factorFooter fs11">
{{currentStore.factorfooter | raw | nl2br}}
</p>
{%endif%}
{%endblock%}


{%block footerArea%}{%endblock%}
{%block footerExtraArea%}{%endblock%}

</div>

