
{%block XAcceptorDetail%}

<form method="post" autocomplete="off">
	<input type="hidden" name="formSubmitType" value="acceptor">
	<input type="hidden" name="acceptorid" value="{{dataRowAcceptor.id}}">
	<div class="f">
		<div class="c4 s12">
			<div class="mRa5">
{{block('IacceptorCode')}}

			</div>
		</div>

		<div class="c4 s12">
			<div class="mRa5">

			</div>
		</div>
		<div class="c4 s12">
			<div class="mRa5">

			</div>
		</div>
	</div>

	<div data-kerkere='.ShowAcceptorFieldDetail' data-kerkere-icon>جزئیات بیشتر</div>

	<div class="ShowAcceptorFieldDetail" data-kerkere-content='hide'>
		<div class="example">
			<div class="f">
				<div class="c4 s12">
					<div class="mRa5">
			   			{{block('Iiin')}}
						{{block('IfacilitatorAcceptorCode')}}
						{{block('IacceptorType')}}
						{{block('IallowScatteredSettlement')}}
						{{block ('Icancelable') }}
						{{block ('Irefundable') }}
						{{block ('Iblockable') }}
						{{block ('IchargeBackable') }}
						{{block ('IsettledSeparately') }}
						{{block ('IacceptCreditCardTransaction') }}
						{{block ('IallowIranianProductsTrx') }}

					</div>
				</div>

				<div class="c4 s12">
					<div class="mRa5">

						{{block ('IallowKaraCardTrx') }}
						{{block ('IallowGoodsBasketTrx') }}
						{{block ('IallowFoodSecurityTrx') }}
						{{block ('IallowJcbCardTrx') }}
						{{block ('IallowUpiCardTrx') }}
						{{block ('IallowVisaCardTrx') }}
						{{block ('IallowMasterCardTrx') }}
						{{block ('IallowAmericanExpressTrx') }}
						{{block ('IallowOtherInternationaCardsTrx') }}

					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="txtRa">
		<button class="btn success">{%trans "Update"%}</button>
	</div>
</form>


{%endblock%}



{% block IallowScatteredSettlement %}
<label for="i_allowScatteredSettlement">allowScatteredSettlement <span class="mLa10">xxx</span></label>
<div class="input">
	<input type="text" name="allowScatteredSettlement" id="i_allowScatteredSettlement" value="{{dataRowAcceptor.allowScatteredSettlement}}">
</div>
{% endblock%}



{% block Iiin %}
<label for="i_iin">iin <span class="mLa10">کد سویچ ارائه دهنده سرویس</span></label>
<div class="input">
	<input type="text" name="iin" id="i_iin" value="{{dataRowAcceptor.iin}}">
</div>
{% endblock%}



{% block IacceptorCode %}
<label for="i_acceptorCode">acceptorCode <span class="mLa10">کد پذیرنده</span></label>
<div class="input">
	<input type="text" name="acceptorCode" id="i_acceptorCode" value="{{dataRowAcceptor.acceptorCode}}">
</div>
{% endblock%}



{% block IacceptorType %}
<label for="i_acceptorType">acceptorType <span class="mLa10">نوع پذیرندگی</span></label>
<div class="input">
	<input type="text" name="acceptorType" id="i_acceptorType" value="{{dataRowAcceptor.acceptorType}}">
</div>
{% endblock%}



{% block IfacilitatorAcceptorCode %}
<label for="i_facilitatorAcceptorCode">facilitatorAcceptorCode <span class="mLa10">کد پذیرنده پرداختیار</span></label>
<div class="input">
	<input type="text" name="facilitatorAcceptorCode" id="i_facilitatorAcceptorCode" value="{{dataRowAcceptor.facilitatorAcceptorCode}}">
</div>
{% endblock%}



{% block Icancelable %}
<div class="switch1">
	<input type="checkbox" name="cancelable" id="i_cancelable" {%if dataRowAcceptor.cancelable%} checked {%endif%}>
	<label for="i_cancelable">cancelable <span class="mLa10">امکان لغو تراکنش</span></label>
	<label for="i_cancelable">cancelable <span class="mLa10">امکان لغو تراکنش</span></label>
</div>
{% endblock%}



{% block Irefundable %}
<div class="switch1">
	<input type="checkbox" name="refundable" id="i_refundable" {%if dataRowAcceptor.refundable%} checked {%endif%}>
	<label for="i_refundable">refundable <span class="mLa10">xxx</span></label>
	<label for="i_refundable">refundable <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block Iblockable %}
<div class="switch1">
	<input type="checkbox" name="blockable" id="i_blockable" {%if dataRowAcceptor.blockable%} checked {%endif%}>
	<label for="i_blockable">blockable <span class="mLa10">xxx</span></label>
	<label for="i_blockable">blockable <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IchargeBackable %}
<div class="switch1">
	<input type="checkbox" name="chargeBackable" id="i_chargeBackable" {%if dataRowAcceptor.chargeBackable%} checked {%endif%}>
	<label for="i_chargeBackable">chargeBackable <span class="mLa10">xxx</span></label>
	<label for="i_chargeBackable">chargeBackable <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IsettledSeparately %}
<div class="switch1">
	<input type="checkbox" name="settledSeparately" id="i_settledSeparately" {%if dataRowAcceptor.settledSeparately%} checked {%endif%}>
	<label for="i_settledSeparately">settledSeparately <span class="mLa10">xxx</span></label>
	<label for="i_settledSeparately">settledSeparately <span class="mLa10">xxx</span></label>
</div>
{% endblock%}




{% block IacceptCreditCardTransaction %}
<div class="switch1">
	<input type="checkbox" name="acceptCreditCardTransaction" id="i_acceptCreditCardTransaction" {%if dataRowAcceptor.acceptCreditCardTransaction%} checked {%endif%}>
	<label for="i_acceptCreditCardTransaction">acceptCreditCardTransaction <span class="mLa10">xxx</span></label>
	<label for="i_acceptCreditCardTransaction">acceptCreditCardTransaction <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowIranianProductsTrx %}
<div class="switch1">
	<input type="checkbox" name="allowIranianProductsTrx" id="i_allowIranianProductsTrx" {%if dataRowAcceptor.allowIranianProductsTrx%} checked {%endif%}>
	<label for="i_allowIranianProductsTrx">allowIranianProductsTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowIranianProductsTrx">allowIranianProductsTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowKaraCardTrx %}
<div class="switch1">
	<input type="checkbox" name="allowKaraCardTrx" id="i_allowKaraCardTrx" {%if dataRowAcceptor.allowKaraCardTrx%} checked {%endif%}>
	<label for="i_allowKaraCardTrx">allowKaraCardTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowKaraCardTrx">allowKaraCardTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowGoodsBasketTrx %}
<div class="switch1">
	<input type="checkbox" name="allowGoodsBasketTrx" id="i_allowGoodsBasketTrx" {%if dataRowAcceptor.allowGoodsBasketTrx%} checked {%endif%}>
	<label for="i_allowGoodsBasketTrx">allowGoodsBasketTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowGoodsBasketTrx">allowGoodsBasketTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowFoodSecurityTrx %}
<div class="switch1">
	<input type="checkbox" name="allowFoodSecurityTrx" id="i_allowFoodSecurityTrx" {%if dataRowAcceptor.allowFoodSecurityTrx%} checked {%endif%}>
	<label for="i_allowFoodSecurityTrx">allowFoodSecurityTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowFoodSecurityTrx">allowFoodSecurityTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowJcbCardTrx %}
<div class="switch1">
	<input type="checkbox" name="allowJcbCardTrx" id="i_allowJcbCardTrx" {%if dataRowAcceptor.allowJcbCardTrx%} checked {%endif%}>
	<label for="i_allowJcbCardTrx">allowJcbCardTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowJcbCardTrx">allowJcbCardTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowUpiCardTrx %}
<div class="switch1">
	<input type="checkbox" name="allowUpiCardTrx" id="i_allowUpiCardTrx" {%if dataRowAcceptor.allowUpiCardTrx%} checked {%endif%}>
	<label for="i_allowUpiCardTrx">allowUpiCardTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowUpiCardTrx">allowUpiCardTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowVisaCardTrx %}
<div class="switch1">
	<input type="checkbox" name="allowVisaCardTrx" id="i_allowVisaCardTrx" {%if dataRowAcceptor.allowVisaCardTrx%} checked {%endif%}>
	<label for="i_allowVisaCardTrx">allowVisaCardTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowVisaCardTrx">allowVisaCardTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowMasterCardTrx %}
<div class="switch1">
	<input type="checkbox" name="allowMasterCardTrx" id="i_allowMasterCardTrx" {%if dataRowAcceptor.allowMasterCardTrx%} checked {%endif%}>
	<label for="i_allowMasterCardTrx">allowMasterCardTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowMasterCardTrx">allowMasterCardTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}


{% block IallowAmericanExpressTrx %}
<div class="switch1">
	<input type="checkbox" name="allowAmericanExpressTrx" id="i_allowAmericanExpressTrx" {%if dataRowAcceptor.allowAmericanExpressTrx%} checked {%endif%}>
	<label for="i_allowAmericanExpressTrx">allowAmericanExpressTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowAmericanExpressTrx">allowAmericanExpressTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}



{% block IallowOtherInternationaCardsTrx %}
<div class="switch1">
	<input type="checkbox" name="allowOtherInternationaCardsTrx" id="i_allowOtherInternationaCardsTrx" {%if dataRowAcceptor.allowOtherInternationaCardsTrx%} checked {%endif%}>
	<label for="i_allowOtherInternationaCardsTrx">allowOtherInternationaCardsTrx <span class="mLa10">xxx</span></label>
	<label for="i_allowOtherInternationaCardsTrx">allowOtherInternationaCardsTrx <span class="mLa10">xxx</span></label>
</div>
{% endblock%}


