{%extends 'content_pardakhtyar/layout.html'%}

{%use 'content_pardakhtyar/customer/dashboard/customer-detail.html'%}
{%use 'content_pardakhtyar/customer/dashboard/shop-detail.html'%}
{%use 'content_pardakhtyar/customer/dashboard/shaba-detail.html'%}
{%use 'content_pardakhtyar/customer/dashboard/acceptor-detail.html'%}
{%use 'content_pardakhtyar/customer/dashboard/terminal-detail.html'%}
{%use 'content_pardakhtyar/customer/dashboard/action-detail.html'%}



{%block pageContent%}

	<table class="tbl1 v10 fs14">
		<tbody>
			<tr>

				<td>{{dataRowCustomer.firstNameFa}}</td>
				<td>{{dataRowCustomer.lastNameFa}}</td>

				<td>{{dataRowCustomer.gender_title}}</td>
				<td>{{dataRowCustomer.birthDate_title}}</td>


				<td>{{dataRowCustomer.residencyType_title}}</td>
				<td>{{dataRowCustomer.merchantType_title}}</td>

			</tr>
			<tr>
				<td>شماره پیگیری</td>
				<td class="selectable">{{dataRowCustomer.trackingNumber}}</td>
				<td>وضعیت</td>
				<td class="txtB">{{dataRowCustomer.status}}</td>
				<td class="collapsing" colspan="2">
					<a href="{{url.here}}/check?id={{dataRowCustomer.id}}&table=customer&fetch=1&trackingNumber={{dataRowCustomer.trackingNumber}}" class="btn primary">جزئیات</a>
				</td>
			</tr>
		</tbody>
	</table>



<div class="cbox">
	<h2 data-kerkere-icon data-kerkere='.ShowXAction'>عملیات</h2>
	<div class="ShowXAction">
		{{block('XAction')}}
		<small class="fc-mute">عملیات</small>
	</div>
</div>

<div class="cbox">
	<h2 data-kerkere-icon data-kerkere='.ShowXCustomerDetail'>اطلاعات متقاضی</h2>
	<div class="ShowXCustomerDetail" data-kerkere-content2='hide'>
		{{block('XCustomerDetail')}}
		<small class="fc-mute">اطلاعات متقاضی</small>
	</div>
</div>

<div class="cbox">
	<h2 data-kerkere-icon data-kerkere='.ShowXShopDetail'>فروشگاه</h2>
	<div class="ShowXShopDetail" data-kerkere-content2='hide'>
		{{block('XShopDetail')}}
		<small class="fc-mute">فروشگاه</small>
	</div>
</div>

<div class="cbox">
	<h2 data-kerkere-icon data-kerkere='.ShowXIbanDetail'>اطلاعات شبا</h2>
	<div class="ShowXIbanDetail" data-kerkere-content2='hide'>
		{{block('XIbanDetail')}}
		<small class="fc-mute">اطلاعات شبا</small>
	</div>
</div>

<div class="cbox">
	<h2 data-kerkere-icon data-kerkere='.ShowXAcceptorDetail'>پذیرندگی</h2>
	<div class="ShowXAcceptorDetail" data-kerkere-content2='hide'>
		{{block('XAcceptorDetail')}}
		<small class="fc-mute">پذیرندگی</small>
	</div>
</div>

<div class="cbox">
	<h2 data-kerkere-icon data-kerkere='.ShowXTerminalDetail'>ترمینال</h2>
	<div class="ShowXTerminalDetail" data-kerkere-content2='hide'>
		{{block('XTerminalDetail')}}
		<small class="fc-mute">ترمینال</small>
	</div>
</div>





{%endblock%}

