
{%block XIbanDetail%}
<div class="f">
	<div class="c5">
		{%for key, value in dataRowIban%}
		<form method="post" autocomplete="off" class="mA5">

			<input type="hidden" name="formSubmitType" value="iban">
			<input type="hidden" name="ibanid" value="{{value.id}}">
			<div class="input">
				<div data-confirm data-data='{"formSubmitType" : "removeIban", "ibanidremove" : "{{value.id}}"}'  class="addon btn danger2">{%trans "Remove"%}</div>
				<input type="text" name="merchantIban" value="{{value.merchantIban}}">
				<button class="addon btn primary">{%trans "Update"%}</button>
			</div>
		</form>
		{%endfor%}

	</div>
	<div class="c"></div>

	<div class="c5 mLa20">
		<form method="post" autocomplete="off">
			<input type="hidden" name="formSubmitType" value="iban">
			{{block('ImerchantIban')}}
			<div class="txtRa">
				<button class="btn success">{%trans "Add"%}</button>
			</div>
		</form>

	</div>
</div>



{%endblock%}





{% block ImerchantIban %}
<label for="i_merchantIban">merchantIban <span class="mLa10">شماره شبا</span></label>
<div class="input">
	<input type="text" name="merchantIban" id="i_merchantIban" value="{{dataRowCustomer.merchantIban}}" maxlength="34" minlength="26">
</div>
{% endblock%}