{%extends "content_a/product/layout.html"%}

{%block pageContent%}
{{block('pageSteps')}}
{{block('pageStepsGeneral')}}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">

<form class="cbox" method="post">
 <input type="hidden" name="delete" value="{{dataRow.id}}">
	{{block('iSalesite')}}
	{{block('iSaletelegram')}}
	{{block('iSaleapp')}}
	{{block('iSalephysical')}}
	<button class="btn primary block mT20">{%trans "Save"%}</button>
</form>
 </div>
</div>
{%endblock%}



{%block iSalesite%}
<div class="switch1">
	<input type="checkbox" name="salesite" id="isalesite" {%if dataRow.salesite%} checked {%endif%}>
	<label for="isalesite"></label>
	<label for="isalesite">{%trans "Sale in site"%}</label>
</div>
{%endblock%}


{%block iSaletelegram%}
<div class="switch1">
	<input type="checkbox" name="saletelegram" id="isaletelegram" {%if dataRow.saletelegram%} checked {%endif%}>
	<label for="isaletelegram"></label>
	<label for="isaletelegram">{%trans "Sale in telegram"%}</label>
</div>
{%endblock%}


{%block iSaleapp%}
<div class="switch1">
	<input type="checkbox" name="saleapp" id="isaleapp" {%if dataRow.saleapp%} checked {%endif%}>
	<label for="isaleapp"></label>
	<label for="isaleapp">{%trans "Sale in app"%}</label>
</div>
{%endblock%}


{%block iSalephysical%}
<div class="switch1">
	<input type="checkbox" name="salephysical" id="isalephysical" {%if dataRow.salephysical%} checked {%endif%}>
	<label for="isalephysical"></label>
	<label for="isalephysical">{%trans "Sale in physical"%}</label>
</div>
{%endblock%}

