{%extends display.dash%}


{%block pageContent%}

    <div id="get_started_card">
      <div class="body">
        <div class="pad">
          <h1>{%trans "Please wait"%}</h1>
          <p>{%trans "Building your online store in progress."%}</p>

        </div>
        <img class="loadingGif" src="{{url.static}}/img/store/loading1.gif" alt='{%trans "Loading Jibres"%}'>

      </div>
    </div>



{%endblock%}


{%block foot_js%}
<script>
$.ajax(
  {
   url : "{{url.this}}",
   type : 'post',
   data : {"create":"store"},
   dataType: 'json',
   success : function()
   {
    Navigate({ url: "{{url.here}}/opening" });
   },
   done : function()
   {
    Navigate({ url: "{{url.here}}/opening" });
   },
   fail : function()
   {
    Navigate({ url: "{{url.here}}/error" });
   },
   statusCode: {
    501: function() {
      Navigate({ url: "{{url.here}}/error" });
    }
   }
 });
</script>
{%endblock%}


{%block sideBox%}{%endblock%}
{%block headerBox%}{%endblock%}

