{%extends display.admin%}


{%block pageContent%}

<div class="f">
 <div class="c6 s6">{{block ("stSaleAdd")}}</div>
 <div class="c6 s6">{{block ("stBuyAdd")}}</div>
</div>

<div class="f">
 <div class="c4 s0">{{block ("stProductDashboard")}}</div>
 <div class="c4 s6">{{block ("stProduct")}}</div>
 <div class="c4 s6">{{block ("stProductAdd")}}</div>
</div>

<div class="f">
 <div class="c3 s6">{{block ("stCustomer")}}</div>
 <div class="c3 s6">{{block ("stStaff")}}</div>
 <div class="c3 s6">{{block ("stSupplier")}}</div>
 <div class="c3 s6">{{block ("prDate")}}</div>
</div>

{%if perm('aReportView')%}
  {{block ("chart_primary")}}
{%endif%}



{%endblock%}



{%block prDate%}
<div class="dcard">
 <div class="block">
  <div class="f">
  {%if lang.current == 'fa'%}
   <h5 class="c fc-mute">{{"now" | dt('F')}}</h5>
   <h4 class="cauto fc-info fs30 txtra">{{"now" | dt('d')}}</h4>
  {%else%}
    <h5 class="c fc-mute">{{"now" | date('F')}}</h5>
    <h4 class="cauto fc-info fs30 txtra">{{"now" | date('d')}}</h4>
  {%endif%}
  </div>
  <div class="f">
   <div class="progress" data-percent='{{dashboardData.month_detail.left}}'>
    <div class="bar"></div>
   </div>
  </div>
 </div>
</div>
{%endblock%}


{%block stProductDashboard%}
<a class="dcard x1" href='{{url.here}}/product/summary'>
 <div class="statistic brown">
  <div class="value"><i class="sf-archive"></i></div>
  <div class="label">{%trans "Products Summary"%}</div>
 </div>
</a>
{%endblock%}

{%block stProduct%}
<a class="dcard x1" href='{{url.here}}/product'>
 <div class="statistic">
  <div class="value"><span>{{dashboardData.product_count |fitNumber}}</span></div>
  <div class="label">{%trans "Product"%}</div>
 </div>
</a>
{%endblock%}


{%block stProductAdd%}
<a class="dcard x1" href='{{url.here}}/product/add'>
 <div class="statistic green">
  <div class="value"><i class="sf-plus"></i></div>
  <div class="label">{%trans "Add new Product"%}</div>
 </div>
</a>
{%endblock%}



{%block stSaleAdd%}
<a class="dcard x2" href='{{url.here}}/sale'>
 <div class="statistic teal">
  <div class="value"><i class="sf-basket"></i></div>
  <div class="label">{%trans "Sale Invoicing"%}</div>
 </div>
</a>
{%endblock%}


{%block stBuyAdd%}
<a class="dcard x2" href='{{url.here}}/buy'>
 <div class="statistic gray">
  <div class="value"><i class="sf-basket"></i></div>
  <div class="label">{%trans "Buy Invocing"%}</div>
 </div>
</a>
{%endblock%}



{%block stCustomer%}
<a class="dcard" href='{{url.here}}/thirdparty?type=customer'>
 <div class="statistic gray">
  <div class="value"><i class="sf-user"></i><span>{{dashboardData.customer_count |fitNumber}}</span></div>
  <div class="label">{%trans "Customer"%}</div>
 </div>
</a>
{%endblock%}


{%block stSupplier%}
<a class="dcard" href='{{url.here}}/thirdparty?type=supplier'>
 <div class="statistic teal">
  <div class="value"><i class="sf-network"></i><span class="fs08">{{dashboardData.supplier_count |fitNumber}}</span></div>
  <div class="label">{%trans "Supplier"%}</div>
 </div>
</a>
{%endblock%}


{%block stStaff%}
<a class="dcard" href='{{url.here}}/thirdparty?type=staff'>
 <div class="statistic orange">
  <div class="value"><i class="sf-user-4"></i><span>{{dashboardData.staff_count |fitNumber}}</span></div>
  <div class="label">{%trans "Staff"%}</div>
 </div>
</a>
{%endblock%}



{%block chart_primary%}
<div class="dcard x3 pA0">
 <div id="chartdiv" class="chart" ></div>
</div>
{%endblock%}




{%block chart_primary_title%}
<a class="dcard x3 txtC" href="{{url.here}}/report">
 <h3>{%trans "Sales count group by hour"%}</h3>

</a>
{%endblock%}

{%block foot_js%}
<script type="text/javascript">
{%include 'content_a/home/chart.js'%}
</script>
{%endblock%}