{%extends display.admin%}


{%block pageContent%}
<div class="f justify-center">
    <div class="x4 c5 s12">
      <div class="cbox">
        <form method="post" autocomplete="off">
          {{block('catName')}}
          <button class="btn primary block mT20">{%trans "Add"%}</button>
        </form>
      </div>
    </div>
</div>
{%endblock%}





{%block catName%}
<label for="icatname">{%trans "Title"%}</label>
<div class="input">
  <input type="hidden" name="oldcat" value="{{requestGET.edit}}">
  <input type="text" name="cat" id="icatname" placeholder='{%trans "Category name"%}' value="{{requestGET.edit}}" autofocus maxlength='50' minlength="1" required>
</div>
{%endblock%}

