{%extends display.mvc%}





{%block body%}

{%block sideBox%} <aside id='sidebar' data-xhr='sidebar'>{{block ('aside')}} </aside>{%endblock%}

 <main id='main' data-scroll>
{%block headerBox%}
{%if not page.removeHeader%}
  <header class='dashHead f' data-cloner='120'>
{%embed "includes/html/display-dash-header.html"%}{%endembed%}
  </header>
{%endif%}
{%endblock%}
{%block contentBox%}
  <div id='content' class='scr' data-xhr='content'>

{%block pageHeader%}{%embed "includes/html/display-dash-titlebox.html"%}{%endembed%}{%endblock%}

{%block pageContent%}
  <div class="f justify-center">
{%block pageCenter%}{%endblock%}
  </div>
{%endblock%}

  </div>
{%endblock%}

{%if line.bottom%}
<div class="line warn fs20">{{line.bottom}}</div>
{%endif%}

 </main>
{%endblock%}




{%block aside%}
 <div class="scr">
{%block avatar%}
  <figure>
{%set avatarLink%}{%if dash.avatarLink is empty%}{{url.kingdom}}/account{%else%}{{dash.avatarLink}}{%endif%}{%endset%}
{%if login%}
   <a href="{{avatarLink}}" title='{%trans "Edit your profile"%}' class="avatar">
{%else%}
   <a href="{{url.kingdom}}/enter?referer={{url.pwd}}" title='{%trans "Please login to save anything"%}' class="avatar">
{%endif%}
{%if login.avatar%}
     <img src="{{login.avatar}}" alt='{%trans "Avatar of you"%} {{login.displayname}}'>
{%elseif login%}
     <img src="{{url.static}}/siftal/images/default/avatar.png" alt='{%trans "Default Avatar"%}'>
{%else%}
     <img src="{{url.static}}/siftal/images/avatar/guest.png" alt='{%trans "Default Avatar"%}'>
{%endif%}
   </a>
{%if login%}
   <figcaption>{%trans "Hello"%} <b>{{login.displayname}}</b></figcaption>
{%else%}
   <figcaption>{%trans "Hello "%} <b>{%trans "dear GUEST!"%}</b></figcaption>
{%endif%}
  </figure>
{%endblock%}
  <div class="menu">
   <ul class="sidenav" data-xhr='sidenav'>
{%block sidenav%}
{%embed "includes/html/sidebar/sidebar.html"%}{%endembed%}
{%endblock%}
   </ul>
  </div>
 </div>
  <abbr class="toggleClean" title='{%trans "Click to toggle sidebar status"%}'><span class="sf-arrows-out"></span></abbr>

  <a href="{{service.url}}" id='ermileBadge' class="f" target="_blank">
   <div class="cauto pRa10">
    <img src="{{service.logo}}" alt='{{service.title}}'>
   </div>
   <div class="c">
    <h2>{{service.title}}</h2>
    <h3>{{service.slogan}}</h3>
   </div>
  </a>
{%endblock%}



