{%block sidenav%}{%endblock%}

      <li><a href="{{url.kingdom}}/store" {%if url.content == "store"%} class="activeContent"{%endif%}><i class='sf-atom'></i> {% trans "Jibres Panel" %}</a></li>
      <li>
        <ul>
{%if url.content == "store"%}
{%endif%}
        </ul>
      </li>

{%if perm('contentCp')%}
      <li><a href="{{url.kingdom}}/cms" {%if url.content == "cms"%} class="activeContent"{%endif%} data-shortkey="67+77" data-shortkey-prevent data-shortkey-timeout='1000'><i class='sf-align-left'></i> {% trans "CMS" %}</a></li>

{%endif%}

{%if perm('contentCrm')%}
      <li><a href="{{url.kingdom}}/crm" {%if url.content == "crm"%} class="activeContent"{%endif%} data-shortkey="77+85" data-shortkey-prevent data-shortkey-timeout='1000'><i class='sf-group-full'></i> {% trans "CRM Panel" %}</a></li>
{%endif%}



{%if login%}
    <li><a href="{{url.kingdom}}/account" {%if url.content == "account"%} class="activeContent"{%endif%} data-shortkey="77+69" data-shortkey-prevent data-shortkey-timeout='1000'><i class='sf-user'></i> <span>{% trans "My Account" %}</span></a></li>
{%if url.content == "account"%}
    <li>
     <ul>
      <li><a href="{{url.here}}/billing"><i class="sf2-credit-card"></i>{%trans "Billing"%}</a></li>
      <li><a href="{{url.here}}/my"><i class="sf2-user-close-settings"></i>{%trans "Personal info"%}</a></li>
      <li><a href="{{url.here}}/my/profile"><i class="sf2-user-profile"></i>{%trans "Edit Profile"%}</a></li>
      <li><a href="{{url.here}}/my/avatar"><i class="sf2-odnoklassniki"></i>{%trans "Avatar"%}</a></li>
      <li><a href="{{url.here}}/my/social"><i class="sf2-internet"></i>{%trans "Social Networks"%}</a></li>
      <li><a href="{{url.here}}/my/address"><i class="sf2-pin"></i>{%trans "Address"%}</a></li>
      <li><a href="{{url.here}}/security"><i class="sf2-lock"></i>{%trans "Security"%}</a></li>
      <li><a href="{{url.here}}/security/sessions"><i class="sf2-campfire"></i>{%trans "Active Sessions"%}</a></li>
     </ul>
    </li>
{%endif%}

{%endif%}

      <li><a href="{{url.kingdom}}/support" {%if url.content == "support"%} class="activeContent"{%endif%} data-shortkey="112" data-shortkey-prevent data-shortkey-timeout='1000'><i class='sf-life-ring'></i> <span>{% trans "Help Center" %}</span></a></li>
