{%extends display.mvc%}

{% use "includes/html/display-enter-blocks.html" %}


{%block body%}
 <div id='enter'>
{%block card%}

{%block header%}
  <h1 class='logo'><a href='{%if runPWA%}{{url.kingdom}}/enter{%else%}{{url.kingdom}}{%endif%}' tabindex='1' data-direct>
    <img src='{{url.icon}}' alt='{{site.title}}'>
    <span>{{site.title}}</span>
  </a></h1>
{%endblock%}

  <div data-xhr='enter'>
{%block content%}
{%block contentTitle%}
{%if url.module == ""%}
   <h2 class='flex justify-center align-center'>{{page.title}}</h2>
{%else%}
   <h2 class='flex justify-center align-center'>{{page.desc|raw}}</h2>
{%endif%}
{%endblock%}
{%block contentBody%}
   <form method="post" autocomplete="off">
{%block contentForm%}{%endblock%}
   </form>
{%endblock%}
{%block contentFooter%}
   <footer class='f'>{{block('ereset')}}</footer>
{%endblock%}
{%endblock%}
  </div>
{%endblock%}
 </div>

{%block footer%}
{%if requestGET.utm_source == 'pwa'%}
{%else%}
 <nav class="langlist" data-xhr="langlist">
{%if lang.current =='fa'%}
  <a hreflang="en" data-direct href="https://jibres.com/enter">English</a>
{%else%}
  <a hreflang="fa" data-direct href="https://jibres.ir/enter">فارسی</a>
{%endif%}
</nav>
{%endif%}
{%endblock%}
{%endblock%}

