<!DOCTYPE html>
<html lang="{{global.lang|replace({'_': '-'}) }}" dir="{{global.direction}}" prefix="og: http://ogp.me/ns#" data-jibres{%if url.tld == 'local'%} data-develop{%endif%}{%if perm_su()%} data-debugger{%endif%}{%if xAppRequest%} data-app="{{xAppRequest}}"{%endif%}>
<head>
{%block head_def%}
 <meta charset="UTF-8"/>
 <base href="{{url.base}}"/>
 <title>{{global.title }}</title>
 <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
 <!--[if lte IE 9]><script>document.location = 'https://deadbrowser.com/{{lang.current}}';</script><![endif]-->
 <meta name     ="description"             content="{{page.desc | raw}}"/>
 <meta name     ="site:root"               content="{{url.kingdom}}"/>
{%block head_twitter%}
 <meta name     ="twitter:card"            content="{{page.twitterCard}}"/>
 <meta name     ="twitter:site"            content="@ermile_jibres"/>
 <meta name     ="twitter:title"           content="{{global.title}}"/>
 <meta name     ="twitter:description"     content="{{page.desc | raw}}"/>
 <meta name     ="twitter:url"             content="{{url.pwd}}"/>
 <meta name     ="twitter:image"           content="{{page.cover}}"/>
{%endblock%}
{%if browser.ua_type == 'mobile' and options.tabColor.value%}
 <!-- Chrome, Firefox OS and Opera -->
 <meta name="theme-color" content="#{{options.tabColor.value}}">
{%endif%}
{%block facebook%}
 <meta property ="og:title"                content="{{global.title}}"/>
 <meta property ="og:description"          content="{{page.desc | raw}}"/>
 <meta property ="og:url"                  content="{{url.pwd}}"/>
 <meta property ="og:type"                 content="website"/>
 <meta property ='og:locale'               content='{{global.lang}}'/>
{%block facebookImages%}
 <meta property ="og:image"                content="{{page.cover}}"/>
{%endblock%}
{%endblock%}
 <meta name     ="jibres:site"             content="{{url.site}}">
 <meta name     ="jibres:api"              content="{{url.sitelang}}/api/">
 <meta name     ="viewport"                content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, {%if url.content%}maximum-scale=1.0{%else%}maximum-scale=1.1{%endif%}, user-scalable=0"/>
 <meta name     ="application-name"        content="{{site.title}}"/>
{%block favicon%}
 <meta name     ="msapplication-config"    content="{{url.site}}/browserconfig.xml?v=6">
 <meta name     ="theme-color"             content="#ffffff">
 <link rel="apple-touch-icon" href="{{url.site}}/apple-touch-icon.png?v=6" sizes="180x180">
 <link rel="icon"             href="{{url.site}}/favicon-64x64.png?v=6" sizes="64x64" type="image/png">
 <link rel="icon"             href="{{url.site}}/favicon-32x32.png?v=6" sizes="32x32" type="image/png">
 <link rel="icon"             href="{{url.site}}/favicon-16x16.png?v=6" sizes="16x16" type="image/png">
 <link rel="mask-icon"        href="{{url.site}}/safari-pinned-tab.svg?v=6">
 <link rel="shortcut icon"    href="{{url.site}}/favicon.ico?v=6">
 <link rel="manifest"         href="{{url.kingdom}}/manifest.webmanifest">
{%endblock%}
{%if url.canonical%}
 <link rel="canonical"        href="{{url.canonical}}">
{%endif%}
 <link rel ="author"          href="{{url.kingdom}}/humans.txt"/>
{%if false%}
 <link rel="alternate"        href="{{url.kingdom}}/feed" title="{{site.title}} RSS feed" type="application/rss+xml"/>
{%endif%}
{%for key, lang in lang.list if lang.list|length > 1 and not url.subdomain and lang.current != key|slice(0, 2)%}
{%set myLangUrl%}
{{url.base}}{%if lang.default != key|slice(0, 2) %}/{{key|slice(0, 2)}}{%endif%}{%if url.content%}/{{url.content}}{%endif%}{%if url.path%}/{{url.path}}{%endif%}
{%endset%}
 <link rel="alternate"        href="{{myLangUrl}}" hreflang="{{key|slice(0, 2)}}"/>
{%endfor%}

 <link rel="stylesheet"       href="{{url.static}}{{'/css/siftal.min.css' | filemtime}}"/>
{%endblock%}
{%block head%}{%endblock%}
</head>

<body{%if global.subdomain%} data-subdomain='{{global.subdomain}}'{%endif%} data-in='{{global.content}}' data-page='{{global.page}}' class='{{global.direction}}{%if include.adminPanel%} siftal{%endif%} preload {{bodyclass}}'{%if global.theme%} data-theme='{{global.theme}}'{%endif%}{%if userToggleSidebar %}{%else%} data-clean{%endif%}{%if bodyel%} {{bodyel|raw}}{%endif%}{%if user.id%} data-user='{{user.id | coding("encode")}}'{%endif%}{%if requestGET.iframe%} data-iframe{%endif%}>
{%block body%}
{%block header%}{%endblock%}
{%block content%}
 <style type="text/css">body{background-color:#eee}.def-msg{font-family:sans-serif;padding-left:15%;color:#403B33;}h1.def-msg{margin-top:10%;color:#9E4949} .rtl .def-msg{padding-right:15%;}</style>
 <h1 class='def-msg'>{{site.title}}</h1>
 <h2 class='def-msg'>{{site.desc}}</h2>
 <p class='def-msg'>Let start using Dash! start edit twig block for show your content. for replace this text use <b>block content</b>.</p>
{%endblock%}
{%block footer%}{%endblock%}
{%endblock%}
{%if perm_su()%}
<div class='superAdmin{%if url.tld != "local"%} public{%endif%}'></div>
{%endif%}
<div class="js">
{%block foot_css%}{%endblock%}
{%if include.siftal %}
 <script src="{{url.static}}{{'/js/siftal.min.js' | filemtime}}"></script>
{%if include.highcharts %}
 <script src="{{url.static}}{{'/js/highcharts/highcharts.min.js' | filemtime}}"></script>
{%endif%}
{%endif%}
{%if user.id%}
<noscript>
 <div class="line top danger fs16">
  <div class="txtB">{%trans "JavaScript is required to use our service."%}</div>
  {%trans "Enable JavaScript in your browser or use one which supports it."%}
 </div>
</noscript>
{%endif%}
{%if youAreDead%}
<div class="line">
    <div class="warn pA10">{{youAreDead}}</div>
</div>
{%endif%}


{%block js%}{%endblock%}
{%if include.editor%}
 <script src="{{url.static}}{{'/js/medium-editor.min.js' | filemtime}}"></script>
 <link  href="{{url.static}}{{'/css/medium-editor.css' | filemtime}}" rel="stylesheet" media="screen"/>
{%endif%}
{%if include.js%}
 <script src="{{url.static}}{{'/js/script.js' | filemtime}}"></script>
{%endif%}


{%if options.site.googleAnalytics and url.tld != "local" %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{options.site.googleAnalytics}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{options.site.googleAnalytics}}');

  function pushStateGA()
  {
    var origin = window.location.protocol + '//' + window.location.host;
    var pathname = window.location.href.substr(origin.length);
    gtag('config', '{{options.site.googleAnalytics}}', {'page_path': pathname});
  }
</script>
{%endif%}

 <div data-xhr='foot_js' class="foot_js">{%block foot_js%}{%endblock%}</div>
</div>
</body>
</html>