{%extends display.dash%}


{%block pageContent%}
{%if listStore.owner%}
{%if listStore.owner | length > 3%}
  {{block('myStoresOwner3Plus')}}
{%else%}
  {{block('myStoresOwner')}}
{%endif%}

{%else%}
  {{block('createYourStore')}}
{%endif%}

{{block('myStores')}}
{{block('buyAsCustomer')}}

{%endblock%}



{%block myStores%}
{%if listStore.staff%}
<div class="f listOfStores">
{%for key, value in listStore.staff%}
  <div class="c4 xauto s12 pRa10">
    <a href='{{value.url}}/a' class="scard">
      <img src="{{value.logo}}" alt="{{value.title}}">
      <div class="body">
        <h2>{{value.title}}</h2>
        <div class="position txtRa">
          <span class="badge light s0">{%trans "From"%} {{value.datecreated|dt(false,'date')}}</span>
          <span class="badge {%if admin%}primary{%else%}light{%endif%}">{%trans "Staff"%}</span>
        </div>
        <div class="addr"><b>{{value.subdomain}}</b><span class="fc-mute fs09">.Jibres.{{url.tld}}</span></div>
      </div>
    </a>
  </div>
{%endfor%}
</div>
{%endif%}
{%endblock%}


{%block myStoresOwner%}
{%if listStore.owner%}
<div class="f listOfStores">
{%for key, value in listStore.owner%}
  <div class="c6 x4 s12 {%if loop.index is divisibleby(2)%}pLa5{%else%}pRa10{%endif%}">
    <a href='{{value.url}}/a' class="scardLarge grBlue3">
      <img src="{{value.logo}}" alt="{{value.title}}">
      <h2>{{value.title}}</h2>
      <div class="f summary">
        <div class="c4">{{value.product | fitNumber}} {%trans "Product"%}</div>
        <div class="c4 pLR5">{{value.customer | fitNumber}} {%trans "Customer"%}</div>
        <div class="c4">{{value.factor | fitNumber}} {%trans "Factor"%}</div>
      </div>
      <div class="f meta">
        <div class="c6 s12 txtLa">{%if value.lastactivity%}{%trans "Last activity"%} {{value.lastactivity | dt('human', 'year')}}{%endif%}</div>
        <div class="c6 s12 txtRa">{%trans "Created on"%} {{value.datecreated | dt(false,'date')}}</div>
      </div>
      <div class="f meta">
        <div class="c">
          <span class="badge {%if admin%}primary{%else%}light{%endif%}">{%trans "Owner"%}</span>
        </div>
        <div class="cauto os">
          <div class="addr ltr"><b>{{value.subdomain}}</b><span>.Jibres.{{url.tld}}</span></div>
        </div>
      </div>
    </a>
  </div>
{%endfor%}
</div>
{%endif%}
{%endblock%}


{%block myStoresOwner3Plus%}
{%if listStore.owner%}
<div class="f listOfStores">
{%for key, value in listStore.owner%}
  <div class="c4 xauto s12 pRa10">
    <a href='{{value.url}}/a' class="scard">
      <img src="{{value.logo}}" alt="{{value.title}}">
      <div class="body">
        <h2>{{value.title}}</h2>
        <div class="position txtRa">
          <span class="badge light s0">{%trans "From"%} {{value.datecreated|dt(false,'date')}}</span>
          <span class="badge {%if admin%}primary{%else%}light{%endif%}">{%trans "Owner"%}</span>
        </div>
        <div class="addr"><b>{{value.subdomain}}</b><span class="fc-mute fs09">.Jibres.{{url.tld}}</span></div>
      </div>
    </a>
  </div>
{%endfor%}
</div>
{%endif%}
{%endblock%}



{%block createYourStore%}
<div class="welcome">
  <p>{%trans "Jibres can painlessly and quickly help you to start your online business."%}</p>
  <h2>{%trans "#1 World Sales Engineering System"%}</h2>

  <div class="buildBtn">
    <a class="btn xl master" href="{{url.here}}/start" data-direct>{%trans "Build my own store"%}</a>
  </div>

  <div class="f salesChannel s0">
    <div class="c3">
      <div class="msg pTB20">
        <h3>{%trans "Website"%}</h3>
        <a target="_blank" href="{{url.support}}/store/website">{%trans "Read more"%}</a>
      </div>
    </div>
    <div class="c3 pLa10">
      <div class="msg pTB20">
        <h3>{%trans "Application"%}</h3>
        <a target="_blank" href="{{url.support}}/store/app">{%trans "Read more"%}</a>
      </div>
    </div>
    <div class="c3 pLa10">
      <div class="msg pTB20">
        <h3>{%trans "Sale in store"%}</h3>
        <a target="_blank" href="{{url.support}}/store/pos">{%trans "Read more"%}</a>
      </div>
    </div>
    <div class="c3 pLa10">
      <div class="msg pTB20">
        <h3>{%trans "Telegram bot"%}</h3>
        <a target="_blank" href="{{url.support}}/store/telegram">{%trans "Read more"%}</a>
      </div>
    </div>
  </div>

</div>
{%endblock%}


{%block buyAsCustomer%}
{%if false%}
<div class="msg grGreen2 fs20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</div>
{%endif%}
{%endblock%}

