svg.barcodePrev{
  height: 70px;
}


.Test-describe {
    font-size: 1.5em;
    margin: 60px 0 20px;
}

.Test-describe, .Test-it {
    background: #fff;
    border-left: 5px solid #666;
    color: #666;
    font-family: sans-serif;
    font-weight: bold;
    margin: 20px 0;
    padding: 0.75em 20px;
}

.Test-run--highlightEl > * {
    outline: 1px solid #ADD8E6;
}

#form-collection-margins {
    outline: 1px solid #ADD8E6;
    overflow: hidden;
}



@-webkit-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes grid {
  0% {
    width: 100%;
  }
  45% {
    width: 90%;
  }
  55% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

.animated {
  margin: 0 auto;
  -webkit-animation: grid 7s ease infinite;
  -moz-animation: grid 7s ease infinite;
  animation: grid 7s ease infinite;
}

.f.animated{background-color:rgba(0,0,0,0.1)}


.example{
  position: relative;
  border:3px solid #f6f6f6;
  margin: 1em;
  padding: 1em 1.5em;
  transition:0.3s;
}
.example:hover{
  border-color:#d8d8c8;
}

.example .vcard img.frame{
  opacity: 0.5;
}

body [data-response-hide]{display:none!important}


.superAdmin{position:fixed;z-index:10; top:45px;left:5px;width:30px;height:30px;transition: 0.3s;border-radius:50%;overflow: hidden;}
.superAdmin:before{content: '';position: absolute;top: 0;right: 0;background-color: #ccc;width: 10px;height: 10px;margin: 10px;border-radius: 50%;z-index: 2;box-shadow:0 0 0 rgba(70,160,20,0.4);animation:pulseOff 1s infinite;}
.superAdmin.public:before{background-color: #20b040;box-shadow:0 0 0 0 rgba(15,161,166,0.7);animation:pulseOn 1s infinite cubic-bezier(0.66,0,0,1);}
@keyframes pulseOn {to {box-shadow: 0 0 0 1em rgba(232, 76, 61, 0);}}
@keyframes pulseOff{0%{box-shadow:0 0 0 0 rgba(70,160,20,0.4)}70%{box-shadow:0 0 0 1em rgba(70,160,20,0)}100%{box-shadow:0 0 0 0 rgba(70,160,20,0)}}

/* xaccess*/
#xaccess{position:fixed;right:0;bottom:10%;z-index:10;font-size:1.4em;width:50px;}
#xaccess a{display:block;background-color:#000;opacity:0.3;transition:0.3s;margin-bottom:0.2em;color:#fff;width:35px;height:35px;line-height:35px;text-align:center;float:right;}
#xaccess a:hover{opacity:0.8;width:50px;}
#xaccess [class^="sf-"]:before{vertical-align:middle;}
.rtl #xaccess{left:0;right:initial;}
.rtl #xaccess a{left:0;right:initial;float:left;}

// for some bad guys, because they are use direct link!
svg g[opacity="0.3"][style][filter]{display:none;}
svg g[opacity="0.4"][style][filter]{display:none;}

