$red: #cc4e46;
$pale: #ede6dc;
$lightpale: #f2ece5;
$paleborder: #eee7dd;
$palefootertext: #d2d0c2;
$modulebackground: #d0cdc4;
$dark: #333;


$SizeXS: 1px;
$SizeSM: 5px;
$SizeMD: 10px;
$SizeLG: 20px;
$SizeXL: 50px;

$z1: 1px;
$z2: 2px;
$z3: 3px;
$z4: 4px;
$z5: 5px;
$z6: 6px;
$z7: 7px;
$z8: 8px;
$z9: 9px;
$z10: 10px;
$z11: 11px;
$z12: 12px;
$z13: 13px;
$z14: 14px;
$z15: 15px;
$z16: 16px;
$z17: 17px;
$z18: 18px;
$z19: 19px;
$z20: 20px;
$z25: 25px;
$z30: 30px;
$z35: 35px;
$z40: 40px;
$z45: 45px;
$z50: 50px;
$z100: 100px;



$red            : #B03060;
$orange         : #FE9A76;
$yellow         : #FFD700;
$olive          : #32CD32;
$green          : #016936;
$teal           : #008080;
$blue           : #0E6EB8;
$violet         : #EE82EE;
$purple         : #B413EC;
$pink           : #FF1493;
$brown          : #A52A2A;
$grey           : #A0A0A0;
$graylight      : #EEEEEE;
$black          : #000000;
$white          : #FFFFFF;
// extra code
$fcMute         : #8d9ea7;
$fcDanger       : #cbb2ae;
$fcWarn         : #b9b9a8;
$fcInfo         : #aec9cb;
$fcGold         : #FCC200;

$primaryColor   : $pink;
$secondaryColor : $grey;

$success: #20b040;
$danger: #e02020;
$warn: #ffc000;
$info: #00b0aa;




$fontNameFa : IRANSans,"Segoe UI",Helvetica,sans-serif;
$fontNameFaJibres : IRANYekan,"Segoe UI",Helvetica,sans-serif;
$fontNameEn : LatoLatinWeb,IRANSans,"Segoe UI",Helvetica,sans-serif;



