{%extends display.admin%}


{%block pageContent%}


<div class="f">
  <div class="c8 s12 pRa10">
    {{block("iChatList")}}
    {%if perm('supportTicketAnswer') or masterTicketDetail.status != 'spam'%}
      {%include 'content_support/ticket/addForm.html'%}
    {%endif%}
  </div>

  <div class="c4 s12">
    <div class="cbox ovh">

      {{block("iDatetime")}}
{%if masterTicketDetail.status == 'awaiting' or masterTicketDetail.status == 'answered'%}
  {%if perm('supportTicketClose')%}
      <div class="fs08">
        <p>{%trans "If your problem is solved or do not need to track, please close this ticket by press below bottom."%} {%trans "You can open it anytime you need."%}</p>
      </div>
      <form method="post">
            {%include display.hive%}
        <input type="hidden" name="TicketFormType" value="changeStatus">
        <button class="btn block mTB10 secondary" name="status" value="close">{%trans "Close ticket"%}</button>

        {%if perm_su()%}
        <button class="btn floatRa danger xs" name="status" value="spam">{%trans "Spam"%}</button>
        {%endif%}
      </form>
  {%endif%}
{%elseif masterTicketDetail.status == 'close'%}
  {%if perm('supportTicketDelete')%}
      <div class="fs08">
        <p>{%trans "This ticket is closed."%} {%trans "You can open it anytime you need."%} {%trans "Also you can delete it if you do not need it."%}</p>
      </div>
      <form method="post">
            {%include display.hive%}
        <input type="hidden" name="TicketFormType" value="changeStatus">
        <button class="btn block sm mTB10 danger outline" name="status" value="deleted">{%trans "Delete ticket"%}</button>
        <button class="btn block lg mTB10 success" name="status" value="awaiting">{%trans "Open it again"%}</button>
      </form>
  {%endif%}
{%elseif masterTicketDetail.status == 'deleted'%}
  {%if perm('supportTicketReOpen')%}
      <div class="fs08">
        <p>{%trans "This is deleted ticket."%} {%trans "You can change it to close condition if need to save it in history!"%}</p>
      </div>
      <form method="post">
            {%include display.hive%}
        <input type="hidden" name="TicketFormType" value="changeStatus">
        <button class="btn block mTB10 secondary" name="status" value="close">{%trans "Close ticket"%}</button>
      </form>

    {%if perm('supportTicketAnswer')%}
      <form method="post">
            {%include display.hive%}
        <input type="hidden" name="TicketFormType" value="changeStatus">
        <button class="btn block mTB10 danger" name="status" value="spam">{%trans "Spam"%}</button>
      </form>
    {%endif%}

  {%endif%}
{%elseif masterTicketDetail.status == 'spam'%}
      <p class="fs08 msg danger txtC txtB">
        {%trans "Spam"%}
      </p>

  {%if perm('supportTicketAnswer')%}
        <form method="post">
            {%include display.hive%}
        <input type="hidden" name="TicketFormType" value="changeStatus">
        <button class="btn primary floatRa xs" name="status" value="deleted">{%trans "Not spam"%}</button>
      </form>
  {%endif%}

{%endif%}
    </div>


{%if masterTicketDetail.status != 'awaiting' and masterTicketDetail.status != 'spam'  and  masterTicketDetail.status != 'deleted' and perm('supportTicketAnswer')%}
    <div class="cbox">
      {%if masterTicketDetail.solved%}
      <div class="fs08">
        <p>{%trans "If your problem is not solved yet, please set this ticket as unsolved"%}</p>
      </div>
      <form method="post">
            {%include display.hive%}
        <input type="hidden" name="TicketFormSolved" value="solvedForm">
        <button class="btn block mTB10 warn" name="solved" value="0">{%trans "Un Solved ticket"%}</button>
      </form>
      {%else%}
      <div class="fs08">
        <p>{%trans "If your problem is solved, please set this ticket as solved"%}</p>
      </div>
      <form method="post">
            {%include display.hive%}
        <input type="hidden" name="TicketFormSolved" value="solvedForm">
        <button class="btn block mTB10 success" name="solved" value="1">{%trans "Solved ticket"%}</button>
      </form>
      {%endif%}
    </div>
{%endif%}


{{block("iContactWay")}}

{%if masterTicketDetail.status != 'deleted' and masterTicketDetail.status != 'spam'%}
  {%if perm('supportTicketManage') and perm('supportTicketAssignTag') %}
      <div class="cbox">
        <form method="post">
              {%include display.hive%}
          {{block("iTag")}}
          <button class="btn block mTB10 primary"  name="TicketFormType" value="tag">{%trans "Save tag"%}</button>
        </form>
      </div>
  {%endif%}
{%endif%}



  {%if perm('supportTicketShowLastVisitor')%}
    {%if lastSeen%}
      <div class="cbox">
      <h4>{%trans "Last seen"%}</h4>
        {%for key, value in lastSeen%}
        {%set nowDate = "now" | date("Y-m-d")%}

        {%if (value.date | date("Y-m-d")) == nowDate%}
          {%set myClass = 'success2'%}
        {%else%}
          {%set myClass = null %}
        {%endif%}

        <div class="msg {{myClass}}">{{value.date | dt(true)}}</div>
        {%endfor%}
      </div>
    {%endif%}
  {%endif%}
  </div>
</div>
{%endblock%}




{%block iChatList%}
{%set myStatus = masterTicketDetail.status%}
<div class="cbox">
  <div class="msg {%if masterTicketDetail.colorClass%}{{masterTicketDetail.colorClass}}{%else%}pain{%endif%} special fs10 f" title='{%trans "Status"%} <b>{%trans myStatus%}</b>'>
    <div class="cauto pRa10"><span class="badge rounded" title='{%trans "Ticket No"%}'>{{masterTicketDetail.id | fitNumber(false)}}</span></div>
{%if masterTicketDetail.subdomain%}
    <div class="cauto pRa10"><a class="badge" href="{{url.here}}/ticket?access=all&subdomain={{masterTicketDetail.subdomain}}">{{masterTicketDetail.subdomain | capitalize}}</a></div>
{%endif%}
    <div>{{masterTicketDetail.title}}</div>
    <div class="cauto os fs08 compact" title='{%trans "Last activity"%} {{dataTable.0.datemodified | dt(true)}}'>{{masterTicketDetail.datecreated | dt(true)}}</div>
  </div>

{%set myID = requestGET.id | coding('encode')%}
{%set myTag = tags({"post_id" : myID ,  "format" : 'array', "type" : "support_tag", "related" : "tickets"}) %}
{%if myTag%}
  <div class="tagBox">
  {%for key, value in myTag%}
    {%if value.status == 'enable' or perm('cpTagSupportEdit')%}
      <a class="btn rounded sm mB5 {%if value.meta.color%}{{value.meta.color}}{%endif%}" href="{{url.this}}?tag={{value.slug}}">{{value.title}}</a>
    {%endif%}
  {%endfor%}
  </div>
{%endif%}

 {%if perm('supportTicketAnswer')%}
 <form method="post" autocomplete="off">
    <input type="hidden" name="TicketFormType" value="setTitle">
    <label for="title">{%trans "Ticket Subject"%}</label>
    <div class="input">
      <input type="text" name="title" id="title" placeholder='{%trans "Subject of ticket"%}' value="{{masterTicketDetail.title}}"  maxlength='150' minlength="1" title='{%trans "Set the title to get faster"%}'>
      <button class="btn addon primary">{%trans "Save"%}</button>
    </div>
 </form>
  {%endif%}

{%if superDataTable%}

{%set lastRecordVisitor = false%}

  <table class="tbl1 v5 responsive">
    <tbody>
{%for xdate, xlist in superDataTable%}

{%for record in xlist%}

{%if record.xtype == 'ticket' %}

  {%if lastRecordVisitor%}
  {%set lastRecordVisitor = false%}
      </div>
    </td>
  </tr>
  {%endif%}

      <tr class="{{record.value.rowColor}} {%if record.value.type == 'ticket_note'%} disabled {%endif%}" id='msg{{record.value.id}}'>
        <td class="collapsing pRa10">
          <img src="{{record.value.avatar}}" class="avatar mRa10" alt="{{record.value.displayname}}">
          <span class="txtB s0 fs08">{{record.value.displayname}}</span>
{%if perm('supportTicketShowMobile')%}
          <div class="txtRa fs08">{{record.value.mobile | fitNumber('mobile12')}}</div>

          <nav class="txtRa">
            {%if perm('supportTicketManage')%}<a href="{{url.this}}?user_id={{record.value.user_id}}{{accessGetAnd}}" title='{%trans "User tickets"%}'><i class="sf-question-circle"></i></a>{%endif%}
            {%if perm('cpUsersView')%}<a href="{{url.kingdom}}/crm/member/glance?id={{record.value.user_id}}" title='{%trans "User Profile"%}'><i class="sf-user-md"></i></a>{%endif%}
          </nav>
{%endif%}
        </td>
        <td class="pRa10 breakWord">
          <div class="selectable">
            {{record.value.content | raw | nl2br}}
          </div>
          <div class="f mT10">
{%if record.value.file %}
           <div>
            <a class="badge" href="{{record.value.file}}" target="_blank">{%trans "View attachment"%}</a>
           </div>
{%endif%}
           <div class="cauto os fc-mute">
            <small title='{{record.value.datecreated | dt(true)}}'>{{record.value.datecreated | dt("human", "year")}}</small>
{%if perm('supportEditMessage')%}
            <a class="fs08 mLa10" href="{{url.here}}/message/edit?id={{record.value.id}}">{%trans "Edit"%}</a>
            {%if record.value.type == 'ticket_note'%}
              <i class="fc-red sf-user-secret"></i>
            {%endif%}
{%endif%}
           </div>
          </div>
        </td>
      </tr>


{%elseif record.xtype == 'log'%}

  {%if lastRecordVisitor%}
  {%set lastRecordVisitor = false%}
      </div>
    </td>
  </tr>
  {%endif%}

<tr>
  <td class="collapsing pRa10">
      <img src="{{record.value.avatar}}" class="avatar mRa10" alt="{{record.value.displayname}}">
      <span class="txtB s0 fs08">{{record.value.displayname}}</span>

      <div class="txtRa fs08">{{record.value.mobile | fitNumber('mobile12')}}</div>

      <nav class="txtRa">
        <a href="{{url.this}}?user_id={{record.value.user_id}}" title='{%trans "User tickets"%}'><i class="sf-question-circle"></i></a>
        <a href="{{url.kingdom}}/crm/member/glance?id={{record.value.user_id}}" title='{%trans "User Profile"%}'><i class="sf-user-md"></i></a>

      </nav>
  </td>
  <td class="mLa10">
    <div class="msg info2 mRa10 mB0 ovh pA5">
      <div class="txtB">
        {{record.value.title}}
      </div>
    <br>
    {{record.value.content}}
    <small class="floatL">
      {{record.value.datecreated | dt(true)}}
    </small>
    </div>
  </td>
</tr>


{%endif%}
{%endfor%}
{%endfor%}
    </tbody>
  </table>


{%else%}

  <table class="tbl1 v5 responsive">
    <tbody>
{%for key, value in dataTable%}
      <tr class="{{value.rowColor}} {%if value.type == 'ticket_note'%} disabled {%endif%}" id='msg{{value.id}}'>
        <td class="collapsing">
          <img src="{{value.avatar}}" class="avatar mRa10" alt="{{value.displayname}}">
          <span class="txtB s0 fs08">{{value.displayname}}</span>
{%if perm('supportTicketShowMobile')%}
          <div class="txtRa fs08">{{record.value.mobile | fitNumber('mobile12')}}</div>

          <nav class="txtRa">
            {%if perm('supportTicketManage')%}<a href="{{url.this}}?user_id={{value.user_id}}" title='{%trans "User tickets"%}'><i class="sf-question-circle"></i></a>{%endif%}
            {%if perm('cpUsersView')%}<a href="{{url.kingdom}}/crm/member/glance?id={{value.user_id}}" title='{%trans "User Profile"%}'><i class="sf-user-md"></i></a>{%endif%}

          </nav>
{%endif%}
        </td>
        <td class="pRa10">
          <div>
            {{value.content | raw | nl2br}}
          </div>
          <div class="f mT10">
{%if value.file %}
           <div>
            <a class="badge" href="{{value.file}}" target="_blank">{%trans "View attachment"%}</a>
           </div>
{%endif%}
           <div class="cauto os fc-mute">
            <small title='{{value.datecreated | dt(true)}}'>{{value.datecreated | dt("human", "year")}}</small>
{%if perm('supportEditMessage')%}
            <a class="fs08 mLa10" href="{{url.here}}/message/edit?id={{value.id}}">{%trans "Edit"%}</a>
            {%if value.type == 'ticket_note'%}
              <i class="fc-red sf-user-secret"></i>
            {%endif%}
{%endif%}
           </div>
          </div>
        </td>
      </tr>
{%endfor%}
    </tbody>
  </table>


{%endif%}



{%if masterTicketDetail.solved%}
{%if masterTicketDetail.status == 'answered' or masterTicketDetail.status == 'awaiting'%}
  <form method="post">
        {%include display.hive%}
    <p class="msg info mB0-f ovh">{{solvedMsg | raw}}
      <input type="hidden" name="TicketFormType" value="changeStatus">
      <button class="btn secondary sm floatRa" name="status" value="close">{%trans "Close ticket"%}</button>
    </p>
  </form>
{%endif%}
{%endif%}

</div>
{%endblock%}





{%block iTag%}

{%if perm('supportTicketAssignTag')%}



  <div class="tagDetector">

  {%set myID = requestGET.id | coding('encode')%}
  {%set postTag = tags({"post_id" : myID , "title" : true, "format" : 'csv', "type" : "support_tag", "related" : "tickets"}) %}

    <div class="input mB10 hide">
      <input type="text" class="input tagVals" name="tag" value="{{postTag}}" id="tagValues" placeholder='{%trans "Tag"%}'>
    </div>

    <datalist id="taglist">
      {%for key, value in tagList%}
        <option value="{{value.title}}">
      {%endfor%}
    </datalist>

    <div class="input" title='{%trans "Add tag manually to link tickets togethers"%}'>
      <input type="text" list="taglist" class="tagInput" placeholder='{%trans "Tag keywords..."%}'>
      <button class="addon tagAdd">+</button>
    </div>
    <div class="tagBox"></div>
  </div>

{%endif%}

{%endblock%}



{%block iDatetime%}
  <div class="f fc-mute mB20 fs09">
    <div class="c fs08">{%trans "Current Time"%}</div>
    <div class="cauto os">{{"now" | dt(true)}}</div>
  </div>

  {%if masterTicketDetail.ip%}
  <div class="f fc-mute mB20 fs09">
    <div class="c fs08">{%trans "IP"%}</div>
    <div class="cauto os">{{masterTicketDetail.prettyip}}</div>
  </div>
  {%endif%}

{%endblock%}


{%block iContactWay%}
  <div class="cbox">
    <h3>{%trans "Notification procedures"%}</h3>
    <div>

      <div class="switch1">
       <input type="checkbox" disabled id="notifMobile" {%if masterTicketDetail.mobile%}checked{%endif%}>
       <label for="notifMobile"></label>
       <label for="notifMobile">{%trans "Mobile"%}</label>
{%if masterTicketDetail.mobile%}
       <label class="floatRa mT10 ltr"><a href="tel:00{{masterTicketDetail.mobile}}">{{masterTicketDetail.mobile | fitNumber('mobile12')}}</a></label>
{%else%}
        <label class="fc-mute">-</label>
{%endif%}
      </div>



{%if tgBot%}
      <div class="switch1">
       <input type="checkbox" disabled id="notifTg" {%if uaseTelegram.chatid%}checked{%endif%}>
       <label for="notifTg"></label>
       <label for="notifTg">{%trans "Telegram"%}</label>
  {%if uaseTelegram.username%}
       <label class="floatRa mT10 ltr"><a href="https://t.me/{{uaseTelegram.username}}" target="_blank">@{{uaseTelegram.username[:15]}}</a></label>
  {%elseif uaseTelegram.firstname%}
       <label class="floatRa mT10 ltr" title='{%trans "First name"%}'>{{uaseTelegram.firstname[:15]}}</label>
  {%elseif uaseTelegram.chatid%}
       <label class="floatRa mT10 ltr"><small class="fc-mute">{%trans "Without name"%}</small></label>
  {%else%}
       <label class="floatRa mT10 ltr"><a href="https://t.me/{{tgBot}}?start=sync" target="_blank">@{{tgBot}}</a></label>
  {%endif%}
      </div>
  {%if not uaseTelegram.username%}

      <p class="msg pA5-f info2 fs08">{%trans "Do you know you can connect your account with our Telegram bot"%} <a href="https://t.me/{{tgBot}}?start=sync" target="_blank">@{{tgBot}}</a>.<br>{%trans "Just need to start bot in Telegram and sync your account via /sync."%}</p>
  {%endif%}

{%endif%}

      <div class="input fs08" title='{%trans "Short link"%}'>
        <input type="text" id="shortLink" class="ltr" value="{{url.base}}/!{{masterTicketDetail.id}}" readonly>
        <div class="addon btn" data-copy='#shortLink'><span class="sf-link pRa5"></span> {%trans "Short link"%}</div>
      </div>

    </div>
  </div>
{%endblock%}

