{%extends 'content_crm/transactions/layout.html'%}


{%block pageContent%}
{{block('pageSteps')}}

<div class="f justify-center">

	<div class="cbox justify-center c6">
		<h2>{%trans "Minus charge account"%}</h2>
	 	<form method="post"  autocomplete="off">

			{{block('ititle')}}
			{{block('itype')}}
			{{block('iunit')}}
			{{block('imobile')}}
			{{block('iamount')}}
			{{block('idesc')}}

			<button type="submit"  class="btn danger mT15 block">{%trans "Minus"%}</button>
		</form>

	</div>
</div>
{%endblock%}
