{%extends display.dash%}


{%block pageContent%}
<div class="f mB10">
   <div class="c6 s6">{{block ("bCustomerAdd")}}</div>
   <div class="c6 s6">{{block ("bCustomer")}}</div>
</div>

{%endblock%}


{%block bCustomerAdd%}
<a class="dcard x1" href='{{url.here}}/customer/add'>
 <div class="statistic teal">
  <div class="value"><i class="sf-user-plus"></i></div>
  <div class="label">{%trans "Add new customer"%}</div>
 </div>
</a>
{%endblock%}



{%block bCustomer%}
<a class="dcard x1" href='{{url.here}}/customer'>
 <div class="statistic">
  <div class="value"><i class="sf-users"></i></div>
  <div class="label">{%trans "Customer list"%}</div>
 </div>
</a>
{%endblock%}

