{%extends display.pwa%}


{%block headerBox%}
1
{%endblock%}


{%block footerBox%}
{%embed "/content_my/test/footer.html"%}{%endembed%}
{%endblock%}


{%block pageContent%}
   <nav class="items">
     <ul>
       <li>
        <a class="f align-center" href="">
         <div class="key">Name</div>
         <div class="value">Javad's Phone</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Software Version</div>
         <div class="value">13.3</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Model Name</div>
         <div class="value">iPhone SE</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Model Number</div>
         <div class="value">MLLM2LL/A</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Serial Number</div>
         <div class="value">F17S3BJSH2XH</div>
        </a>
       </li>
     </ul>
   </nav>

   <br>

   <nav class="items">
     <ul>
       <li>
        <a class="f align-center" href="">
         <div class="key">Network</div>
         <div class="value">Irancell</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Songs</div>
         <div class="value">1</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Video</div>
         <div class="value">64</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Photo</div>
         <div class="value">296</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <div class="key">Application</div>
         <div class="value">24</div>
        </a>
       </li>
     </ul>
   </nav>

   <nav class="items">
     <ul>
       <li>
        <a class="f align-center" href="">
         <div class="key">Certificate Trust Settings</div>
         <div class="go"></div>
        </a>
       </li>
     </ul>
   </nav>

{%endblock%}

