.blogEx.sample{
	font-size: 1.7em;
}
.minimalW{
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
}
/*header*/
.blogEx > header{
	text-align: center;
	font-size: 1.2em;
	user-select: none;
	max-width: 600px;
	width: 90%;
	margin: 70px auto;
	overflow: hidden;
}
.blogEx > header h1{
	margin: 0;
}
.blogEx > header h1 a{
	font-weight: 300;
	transition: 0.3s;
}
.rtl .blogEx > header h1 a{
	font-weight: 900;
}
.blogEx > header h2{
	font-size: 1em;
	font-weight: 100;
}
/*nav*/
.blogEx > nav{
	border-top: 1px solid #ecf0f1;
	border-bottom: 1px solid #ecf0f1;
	text-align: center;
	margin:0 auto 2em;
	user-select: none;
	line-height: 2;
	max-width: 600px;
	width: 90%;
	margin: 0 auto 50px;
	overflow: hidden;
}
.blogEx > nav a{
	padding: 0 0.5em;
	display: inline-block;
	transition: 0.3s;
	font-weight: 100;
}
.blogEx > nav a:hover{
	background-color: #ecf0f1;
}
.blogEx > nav a:focus{
	background-color: #eee;
}
.blogEx main{
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
}

.blogEx.sample article{
	margin-bottom:3em;
	padding: 20px 0;
}

.blogEx.sample article a:visited {
    color: #22bb88;
}
.blogEx article h2{
	margin: 1em 0 0;
	transition: 0.3s;
	font-weight: 900;
}
.blogEx.sample article h2{
	border-bottom: 10px solid #333;
	padding-bottom: 5px;
	margin-bottom:10px;
}
.blogEx article h2 a{
	font-weight: 100;
}
.blogEx article h3{
	margin: 0.5em 0 0;
	transition: 0.3s;
	font-weight: 700;
}
.blogEx.sample article h3{
	border-bottom: 3px solid #777;
	padding-bottom: 5px;
	margin-bottom:5px;
}
.blogEx article .meta{
	color:#aaa;
	font-weight: 100;
	text-transform: uppercase;
	overflow: hidden;
}
.blogEx article .meta time{
	font-weight: 100;
}
.ltr .blogEx article p{
	font-weight: 100;
}
.blogEx article p{
	margin: 0 0 1.5em;
}
.blogEx ul{
	list-style: square inside;
	margin: 1em 0 1.5em;
}
.blogEx li{
	margin-bottom: 1em;
}
.blogEx article .thumb{
	display: block;
	margin: 1rem auto;
}
.blogEx article img{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.blogEx .tagBox a{padding:0.5em 0.5em;margin:0.5em 0.5em;background-color:#eee;border-radius:3px;transition:0.3s;display:inline-block;}
.blogEx .tagBox a:hover{background-color:rgba(0,0,0,0.1);}
.blogEx .tagBox a:focus{background-color:rgba(0,0,0,0.2);}

.blogEx .gallery{text-align:center; margin:2em 0;clear: both;}
.blogEx .gallery a{display: inline-block;max-width:220px;width:45%;margin:0 1% 1em;}
.blogEx .gallery img{margin:0 auto;border:1px solid #ddd;transition:0.3s}
.blogEx .gallery img:hover{border-color:#777}
.blogEx .gallery video{width:200px;max-width:45%; margin:0 auto;}
.blogEx .gallery audio{width:200px;max-width:45%; margin:0 auto;}

.blogEx .gallery2{text-align:center;}
.blogEx .gallery2 video{width:500px;max-width:90%;margin:1em auto;display:inline-block;}
.blogEx .gallery2 audio{width:250px;max-width:90%;margin:1em auto;display:inline-block;}

.blogEx iframe.gMap{
	min-height: 300px;
	max-height: 400px;
	width: 100%;
	border: none;
}

.blogEx footer{
	color: #899596;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 4em 0 0;
	padding: 2em;
	text-align: center;
}
/*header lang*/
.blogEx footer .langlist{
	margin: 1em 0;
}
.blogEx footer .langlist a{
	color: #999;
	background-color: #fff;
	padding: .5em 1em;
	margin: 0.5rem;
	transition:0.3s color;
	display:inline-block;
}
.blogEx footer .langlist a:hover{
	color: #aaa;
}
.blogEx footer .langlist a:focus{
	color: #bbb;
}
.blogEx footer .langlist a.active{
	color: #22bb88;
}

// box
.blogEx.box article{
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fff;
	padding: 1em 4%;
}
