{%extends "content_a/setting/layout.html"%}




{%block pageContent%}

{{block('pageSteps')}}

<div class="f justify-center">

  <form method="post" class="c4">

    <div class="cbox">

      {{block('iMaxProductBuyprice')}}
      {{block('iMaxProductPrice')}}
      {{block('iMaxProductDiscount')}}
      {{block('iMaxFactorProductCount')}}
      {{block('isave')}}

    </div>

  </form>

</div>


{%endblock%}



{%block iMaxProductBuyprice%}
<label for="maxbuyprice">{%trans "Maximum buyprice"%}</label>
  <div class="input">
  <input type="number" name="maxbuyprice" id="maxbuyprice"  value="{{currentStore.setting.maxbuyprice}}" max="999999999" min="1">
</div>
{%endblock%}




{%block iMaxProductPrice%}
<label for="maxprice">{%trans "Maximum price"%}</label>
  <div class="input">
  <input type="number" name="maxprice" id="maxprice"  value="{{currentStore.setting.maxprice}}" max="999999999" min="1">
</div>
{%endblock%}




{%block iMaxProductDiscount%}
<label for="maxdiscount">{%trans "Maximum discount"%}</label>
  <div class="input">
  <input type="number" name="maxdiscount" id="maxdiscount"  value="{{currentStore.setting.maxdiscount}}" max="100" min="1">
</div>
{%endblock%}



{%block iMaxFactorProductCount%}
<label for="maxproductcount">{%trans "Maximum product count in factor"%}</label>
  <div class="input">
  <input type="number" name="maxproductcount" id="maxproductcount"  value="{{currentStore.setting.maxproductcount}}" max="999999999" min="1">
</div>
{%endblock%}


