{%extends display.admin%}


{%block pageContent%}

{%if dataTable%}
 {%if isFiltered%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if isFiltered%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}


{%block htmlSearchBox%}
<form method="get" action="{{url.that}}">

  {%if requestGET.filter%}<input type="hidden" name="filter" value="1">{%endif%}
  {%if requestGET.duplicatetitle%}<input type="hidden" name="duplicatetitle" value="1">{%endif%}
  {%if requestGET.hbarcode%}<input type="hidden" name="hbarcode" value="1">{%endif%}
  {%if requestGET.hnotbarcode%}<input type="hidden" name="hnotbarcode" value="1">{%endif%}
  {%if requestGET.wbuyprice%}<input type="hidden" name="wbuyprice" value="1">{%endif%}
  {%if requestGET.wprice%}<input type="hidden" name="wprice" value="1">{%endif%}
  {%if requestGET.wdiscount%}<input type="hidden" name="wdiscount" value="1">{%endif%}

  <div class="searchBox">
    <div class="f">
      <div class="cauto pRa10">
        <a class="btn light3{%if requestGET.filter%} apply{%endif%}" data-kerkere-icon="close" data-kerkere='.filterBox'>{%trans "Filter"%}</a>
      </div>
      <div class="c pRa10">
        <div>
          <div class="input search{%if requestGET.q%} apply{%endif%}">
            <input type="search" name="q" placeholder='{%trans "Search products"%}' id="q" value="{{requestGET.q}}{{requestGET.barcode}}" class="barCode" data-default data-pass='submit' autocomplete='off'>
            <button class="addon btn light3 s0"><i class="sf-search"></i></button>
          </div>
        </div>
      </div>
      <div class="cauto">
        <select class="select">
            <option  value="{{url.that}}?{{value.query_string}}">{%trans "You can sort your list"%}</option>
            {%for key, value in sortList%}
              <option  value="{{url.that}}?{{value.query_string}}">{{value.title}}</option>
            {%endfor%}
        </select>
    </div>
    </div>
  </div>

{%if requestGET.filter%}
<div class="applyFilters">

  {%if requestGET.duplicatetitle%}<a class="btn danger2 sm mRa5" href="{{url.that}}"><span>{%trans "Duplicate title"%}</span><i class="fc-red pLa10 sf-times"></i></a>{%endif%}
  {%if requestGET.hbarcode%}<a class="btn danger2 sm mRa5" href="{{url.that}}"><span>{%trans "Have barcode"%}</span><i class="fc-red pLa10 sf-times"></i></a>{%endif%}
  {%if requestGET.hnotbarcode%}<a class="btn danger2 sm mRa5" href="{{url.that}}"><span>{%trans "Have not barcode"%}</span><i class="fc-red pLa10 sf-times"></i></a>{%endif%}
  {%if requestGET.wbuyprice%}<a class="btn danger2 sm mRa5" href="{{url.that}}"><span>{%trans "Whithout buyprice"%}</span><i class="fc-red pLa10 sf-times"></i></a>{%endif%}
  {%if requestGET.wprice%}<a class="btn danger2 sm mRa5" href="{{url.that}}"><span>{%trans "Whithout price"%}</span><i class="fc-red pLa10 sf-times"></i></a>{%endif%}
  {%if requestGET.wdiscount%}<a class="btn danger2 sm mRa5" href="{{url.that}}"><span>{%trans "Whithout discount"%}</span><i class="fc-red pLa10 sf-times"></i></a>{%endif%}

  <a class="btn primary outline sm mLa10 floatRa s0" href="{{url.that}}"><span class="">Save Search</span><i class="pLa10 sf-save"></i></a>
</div>
{%endif%}


  {%if perm('productAdvanceSearchView')%}
  <div class="filterBox" data-kerkere-content='hide'>
      {%include 'content_a/products/filter.html'%}
  </div>
  {%endif%}

</form>
{%endblock%}


{%block htmlSearchBox2%}
<div class="searchBox">
  <div class="f">
    <div class="cauto pRa10">
      <a class="btn light3 apply" data-kerkere-icon="close" data-kerkere='.filterBox'>{%trans "Filter"%}</a>
    </div>
    <div class="c pRa10">
      <div>
        <div class="input search apply">
          <input type="search" name="q" placeholder='{%trans "Search products"%}' id="q" value="{{requestGET.q}}{{requestGET.barcode}}" class="barCode" data-default data-pass='submit' autocomplete='off'>
          <button class="addon btn light3 s0"><i class="sf-search"></i></button>
        </div>
      </div>
    </div>
    <div class="cauto">
      <div class="ui floating dropdown">
        <div class="btn light3"><i class="sf-sort mRa5"></i><span class="text">{%trans "Sort"%}</span></div>
        <div class="menu">
          <div class="header">{%trans "You can sort your list"%}</div>

  {%for key, value in sortList%}
            <a class="item" href="{{url.that}}?{{value.query_string}}"><i class="compact mRa5 sf-{{value.class}}"></i><span>{{value.title}}</span></a>
  {%endfor%}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="applyFilters">
  <a class="btn danger2 sm mRa5" href="#"><span>Filter1</span><i class="fc-red pLa10 sf-times"></i></a>
  <a class="btn danger2 sm mRa5" href="#"><span>Filter2</span><i class="fc-red pLa10 sf-times"></i></a>
  <a class="btn danger2 sm mRa5" href="#"><span>Filter3</span><i class="fc-red pLa10 sf-times"></i></a>
  <a class="btn primary outline sm mLa10 floatRa s0" href="{{url.that}}"><span class="">Save Search</span><i class="pLa10 sf-save"></i></a>
</div>

{%if perm('productAdvanceSearchView')%}
<div class="filterBox" {%if requestGET.customfilter%} {%else%} data-kerkere-content='hide' {%endif%}>
    {%include 'content_a/products/filter.html'%}
</div>
{%endif%}

{%endblock%}


{%block htmlTable%}
<div class="tblBox">
  <table class="tbl1 v1 fs12">
    <thead>
      <tr class="fs08">
        <th class="collapsing">&nbsp;</th>
        <th data-sort="{{myFilter.title.order}}"><a href='{{myFilter.title.link}}'>{%trans "Title"%}</a></th>
        <th>{%trans "Variants"%}</th>
        <th data-sort="{{myFilter.cat.order}}" class=""><a href='{{myFilter.cat.link}}'>{%trans "Category"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="collapsing"><img src="{{value.thumb}}" class="avatar" alt="{{value.title}}"></td>
        <td><a href="{{url.that}}/edit?id={{value.id}}"><i class="sf-edit-write mRa10"></i>{{value.title}}</a></td>
        <td>
          {%if value.variants_detail.stock %}
            <span><b>{{value.variants_detail.stock | fitNumber}}</b> {%trans "in stock"%}</span>
          {%endif%}
          {%if value.variants_detail.count %}
            <span> {%trans "For"%} <b>{{value.variants_detail.count | fitNumber}}</b> {%trans "variants"%}</span>
          {%endif%}
        </td>
        <td class=""><small><a href="{{url.that}}?catid={{value.cat_id}}">{{value.cat}}</a></small></td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

  {%include display.pagination%}
{%endblock%}




{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{filterBox | raw}}</span>
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c s12">{%trans "Result not found!"%} {%trans "Search with new keywords."%} </span>
{%if barcodeScaned%}
  <a class="c" href="{{url.that}}/add{{barcodeScaned}}" data-shortkey="118">{%trans "Add new product"%} <kbd>f7</kbd></a>
{%endif%}
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.that}}/add">{%trans "Try to start with add new product!"%}</a></p>
{%endblock%}

