{%extends display.admin%}
{%use 'content_a/products/filter.html'%}


{%block pageContent%}

{%if dataTable%}
 {%if isFiltered%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}

 {%if isFiltered%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlTable%}
<div class="tblBox">
  <table class="tbl1 v1 fs12">
    <thead>
      <tr class="fs08">
        <th class="collapsing">&nbsp;</th>
        <th data-sort="{{myFilter.title.order}}"><a href='{{myFilter.title.link}}'>{%trans "Title"%}</a></th>
        <th>{%trans "Variants"%}</th>
        <th data-sort="{{myFilter.cat.order}}" class=""><a href='{{myFilter.cat.link}}'>{%trans "Category"%}</a></th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="collapsing"><img src="{{value.thumb}}" class="avatar" alt="{{value.title}}"></td>
        <td><a href="{{url.that}}/edit?id={{value.id}}"><i class="sf-edit-write mRa10"></i>{{value.title}}</a></td>
        <td>
          {%if value.variants_detail.stock %}
            <span><b>{{value.variants_detail.stock | fitNumber}}</b> {%trans "in stock"%}</span>
          {%endif%}
          {%if value.variants_detail.count %}
            <span> {%trans "For"%} <b>{{value.variants_detail.count | fitNumber}}</b> {%trans "variants"%}</span>
          {%endif%}
        </td>
        <td class="">{{value.category}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

  {%include display.pagination%}
{%endblock%}




{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{filterBox | raw}}</span>
  {%if barcodeScaned%}
  <a class="c" href="{{url.that}}/add{{barcodeScaned}}" data-shortkey="118">{%trans "Add new product"%} <kbd>f7</kbd></a>
  {%endif%}
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c s12">{%trans "Result not found!"%} {%trans "Search with new keywords."%} </span>
{%if barcodeScaned%}
  <a class="c" href="{{url.that}}/add{{barcodeScaned}}" data-shortkey="118">{%trans "Add new product"%} <kbd>f7</kbd></a>
{%endif%}
  <a class="cauto" href="{{url.that}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}



{%block htmlStartAddNew%}

<div class="fs14 msg info2 pTB20">
  <p>{%trans "Hi!"%}</p>
  <p>{%trans "First step to set up your online store is add products."%} {%trans "After add products, you can sell them to your customers."%}</p>
  <p><a href="{{url.that}}/add">{%trans "Try to start with add new product!"%}</a></p>

</div>

<img class="banner" src="{{url.static}}/img/product/camera1.png" align='{%trans "add new product"%}'>

{%endblock%}

