{%extends 'content_i/layout.html'%}



{%block pageContent%}
  <div class="f">

    <div class="c6 s12">{{block('bInOut')}}</div>
    <div class="c6 s12">{{block('bJib')}}</div>
    <div class="c6 s12">{{block('bBanks')}}</div>
    <div class="c6 s12">{{block('bCategory')}}</div>


  </div>
{%endblock%}



{%block bBanks%}
<a class="dcard x2" href='{{url.here}}/bank'>
 <div class="statistic red">
  <div class="value mB10"><i class="sf-building"></i></div>
  <div class="label">{%trans "Bank"%}</div>
 </div>
</a>
{%endblock%}





{%block bCategory%}
<a class="dcard x2" href='{{url.here}}/category'>
 <div class="statistic blue">
  <div class="value mB10"><i class="sf-tags-1"></i></div>
  <div class="label">{%trans "Category"%}</div>
 </div>
</a>
{%endblock%}




{%block bJib%}
<a class="dcard x2" href='{{url.here}}/jib'>
 <div class="statistic green">
  <div class="value mB10"><i class="sf-star"></i></div>
  <div class="label">{%trans "Jib"%}</div>
 </div>
</a>
{%endblock%}



{%block bInOut%}
<a class="dcard x2" href='{{url.here}}/inout'>
 <div class="statistic yellow">
  <div class="value mB10"><i class="sf-exchange"></i></div>
  <div class="label">{%trans "In out"%}</div>
 </div>
</a>
{%endblock%}
