{%extends 'content_i/layout.html'%}



{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc"  maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}



{%block ititle %}
<label for="title">{%trans "Title"%}</label>
<div class="input">
  <input type="text" name="title" id="title"  value="{{dataRow.title}}" maxlength='150'>
</div>
{% endblock %}


{%block ibank%}
<label for='bank'>{%trans "bank"%}</label>
<select name="bank" class="select ui dropdown search addition" id="bank">
  <option value="">{%trans "Please select one itme"%}</option>
  {%for key, value in bankList%}
    <option value="{{value.id}}" {%if value.id == dataRow.bank_id %} selected{%endif%}>{{value.title}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}



{%block idefault%}
<div class="switch1">
 <input type="checkbox" name="isdefault" id="isdefault" {%if dataRow.isdefault%} checked {%endif%}>
 <label for="isdefault"></label>
 <label for="isdefault">{%trans "Is default?"%}</label>
</div>
{%endblock%}