{%extends display.jibresControlLayout%}


{%block pageContent%}

<div class="f justify-center">
  <div class="c4 x3 m7 s12">
    <div id="get_started_card">
      <div class="body">
        <h1>{%trans "Choose your online address"%}</h1>
        <p>{%trans "Your online store has online address on Jibres domain."%} {%trans "Although you can connect your domain into store but to finish setup we need to set it."%}</p>
        <p class="msg fs09">{%trans "Set it carefully, you can not change it."%}</p>

        <form method="post" autocomplete="off">
          <div class="input fix mB10">
            <input type="text" name="sd" id="sd" placeholder="Your subdomain" maxlength="40" class="ltr" autofocus required>
            <label class="addon ltr" for="sd">.Jibres.com</label>
          </div>

          <button class="btn success block">{%trans "Build my online store"%}</button>
        </form>

      </div>
        <img src="{{url.static}}/img/store/choose-subdomain.svg" alt='{%trans "choose subdomain on Jibres"%}'>
    </div>

    <div class="f align-center fs12">
      <div class="cauto os"><a href="{{url.here}}" class="btn">{%trans "Cancel"%}</a></div>
    </div>

  </div>
</div>
{%endblock%}

