{%extends display.jibresControlLayout%}


{%block pageContent%}

<div class="f justify-center">
  <div class="c4 x3 m7 s12">
    <div id="get_started_card">
      <div class="body">
        <h1>{%trans "Choose your online address"%}</h1>
        <p>{%trans "Your answer is important for us."%}</p>

        <form method="post" autocomplete="off">
          <div class="input fix mB10">
            <input type="text" name="sd" id="sd" placeholder="Your subdomain" maxlength="40" class="ltr" autofocus required>
            <label class="addon ltr" for="sd">.Jibres.com</label>
          </div>

          <button class="btn success block">{%trans "Build my online store"%}</button>
        </form>

        <img src="{{url.static}}/img/store/answer-polls.svg" alt='{%trans "answer Jibres polls"%}'>

      </div>
    </div>

  </div>
</div>
{%endblock%}

