{%extends display.jibresControlLayout%}


{%block pageContent%}
<div class="f justify-center">
  <div class="c8 s12">

{%if countStore%}
    <div class="msg warn txtC fs18">
      <h2 class="txtB">{%trans "You are reach your store limit!"%}</h2>
      <div>{%trans "If you want to add a new store, you must say to us via ticket, then we check and increase your max store limit."%}
      </div>
      <div class="mT25">
        <a class="btn light lg" href="{{url.kingdom}}/support/ticket/add?title=storeLimit">{%trans "Submit a ticket"%}</a>
      </div>
    </div>

{%else%}

    <div class="msg primary txtC fs18">
      <h2 class="txtB">{%trans "Easily set up your store"%}</h2>
      <div>{%trans "Try Jibres free for 14 days."%} {%trans "Then if you want, pick a plan!"%}</div>
    </div>


    <form method="post" class="cbox pB20" autocomplete="off">
    {{block ("iname")}}
    {{block ("islug")}}
      <img class="block" src="{{url.static}}/images/help/choose-subdomain.png" alt='{{site.title}} {%trans "subdomain select"%}'>

      <div class="msg mT10 fs08">{{termOfService | raw}}</div>

      <button class="btn success block mT10">{%trans "Create my store now"%}</button>
    </form>

{%endif%}

  </div>
</div>
{%endblock%}



{%block iname%}
<label for="name">{%trans "Store title"%} <span class="fc-red">*</span></label>
<div class="input">
  <input type="text" name="name" id="name" placeholder='{%trans "Your store title"%} *' autofocus maxlength='70' pattern=".{1,70}" title='{%trans "This is your store full name used for title"%}' required>
</div>
{%endblock%}


{%block islug%}
<label for="slug">{%trans "Store short name"%} <small>{%trans "Used for url of store as subdomain"%}</small> <span class="fc-red">*</span></label>
<div class="input fix">
  <input type="text" name="slug" id="slug" placeholder='{%trans "Free subdomain address for your store"%} *' maxlength='40' class="ltr" required title='{%trans "Set it carefully, you can not change it later"%}' autocomplete="off">
  <label class="addon ltr" for="slug">.{{url.domain | capitalize}}</label>
</div>
{%endblock%}


