{%extends 'content_i/layout.html'%}


{%block icheckbook_id%}
<label for='checkbook_id'>{%trans "Check book"%}</label>
<select name="checkbook_id" class="select ui dropdown search addition" id="checkbook_id">
  <option value="">{%trans "Please select one itme"%}</option>
  {%for key, value in checkbookList%}
    <option value="{{value.id}}" {%if value.id == dataRow.checkbook_id %} selected{%endif%}>{{value.title}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block ibank_id%}
<label for='bank_id'>{%trans "Bank"%}</label>
<select name="bank_id" class="select ui dropdown search addition" id="bank_id">
  <option value="">{%trans "Please select one itme"%}</option>
  {%for key, value in bankList%}
    <option value="{{value.id}}" {%if value.id == dataRow.bank_id %} selected{%endif%}>{{value.title}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block ibank %}
<label for="bank">{%trans "Bank"%}</label>
<div class="input">
  <input type="text" name="bank" id="bank"  value="{{dataRow.bank}}" maxlength='150'>
</div>
{% endblock %}




{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc"  maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}


{%block igetdate %}

<label for="getdate">{%trans "Get date"%}</label>
<div class="input ltr">
<input class="datepicker" type="text" name="getdate" id="getdate" placeholder='{{"now" | dt(null, "date")}}' value="{{dataRow.getdate}}" maxlength='15' data-format="YYYY/MM/DD" data-view="day">
</div>

{% endblock %}



{%block idate %}
<label for="date">{%trans "Date of check"%}</label>
<div class="input ltr">
<input class="datepicker" type="text" name="date" id="date" placeholder='{{"now" | dt(null, "date")}}' value="{{dataRow.date}}" maxlength='15' data-format="YYYY/MM/DD" data-view="day">
</div>
{% endblock %}


{%block ibranch %}
<label for="branch">{%trans "Branch"%}</label>
<div class="input">
  <input type="text" name="branch" id="branch"  value="{{dataRow.branch}}" maxlength='150'>
</div>
{% endblock %}


{%block ivajh %}
<label for="vajh">{%trans "Vajh"%}</label>
<div class="input">
  <input type="text" name="vajh" id="vajh"  value="{{dataRow.vajh}}" maxlength='150'>
</div>
{% endblock %}


{%block iowner %}
<label for="owner">{%trans "Owner"%}</label>
<div class="input">
  <input type="text" name="owner" id="owner"  value="{{dataRow.owner}}" maxlength='150'>
</div>
{% endblock %}



{%block ibabat %}
<label for="babat">{%trans "Babat"%}</label>
<div class="input">
  <input type="text" name="babat" id="babat"  value="{{dataRow.babat}}" maxlength='150'>
</div>
{% endblock %}


{%block inumber %}
<label for="number">{%trans "Check number"%}</label>
<div class="input">
  <input type="number" name="number" id="number"  value="{{dataRow.number}}" max='999999999999999999999999999'>
</div>
{% endblock %}


{%block ithirdparty %}
<label for="thirdparty">{%trans "Thirdparty"%}</label>
<div class="input">
  <input type="text" name="thirdparty" id="thirdparty"  value="{{dataRow.thirdparty}}" maxlength='150'>
</div>
{% endblock %}



{%block iamount %}
<label for="amount">{%trans "Amount"%}</label>
<div class="input">
  <input type="number" name="amount" id="amount"  value="{{dataRow.amount}}" max='999999999999999999999999999'>
</div>
{% endblock %}



{%block itype %}
<label for="type">{%trans "Type"%}</label>
<div class="radio1">
  <input type="radio" name="type" id="sRdc1" value="in" {%if dataRow.type== 'in' %} checked {%endif%}>
  <label for="sRdc1">{%trans "In"%}</label>
</div>
<div class="radio1 black">
  <input type="radio" name="type" id="sRdc2" value="out" {%if dataRow.type== 'out' %} checked {%endif%}>
  <label for="sRdc2">{%trans "Out"%}</label>
</div>
{% endblock %}











{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}
