{%extends display.admin%}


{%block pageContent%}
<div class="factor printArea" data-size='{{pageSize}}'>

 <div class="f storeDetail">
  <div class="c8">
   <h1>{{store.name}}</h1>
   <address>
    <div class="address">{{store.address}}</div>
    <div class="f">
     <div class="phone">{{store.phone | fitNumber}}</div>
     <div class="website">{{store.website}}</div>
    </div>
   </address>
   <div class="desc">{{store.desc}}</div>
  </div>
  <div class="c4 logo txtRa">
   <img src="{{store.logo}}" alt="{{store.name}}">
  </div>
 </div>


 <div class="f factorDetail">
  <div class="c">
   <div class="datetime"><span class="date">{{factor_detail.factor.date | jdate('l j F Y')}}</span> | <span class="time">{{factor_detail.factor.date | jdate('G:i:s')}}</span></div>
   <div>{%trans "Sale Invoice"%} <code id='barcode' data-val='{{factor_detail.factor.id}}'>{{factor_detail.factor.id}}</code></div>
  </div>
  <div class="cauto os">
   <svg class="barcodePrev" data-val="#barcode" data-height=20 data-hideValue></svg>
  </div>
 </div>


 <table class="tbl">
  <thead class="primary fs07 txtC">
   <th>{%trans "Name"%}</th>
   <th>{%trans "Qty"%}</th>
   <th>{%trans "Price"%}</th>
{%if factor_detail.factor.detaildiscount%}
   <th>{%trans "Discount"%}</th>
{%endif%}
   <th>{%trans "Sum"%}</th>
  </thead>
  <tbody class="txtC">
 {%for key, datarow in factor_detail.factor_detail%}
  <tr>
   <td>{{datarow.title}}</td>
   <td>{{datarow.factordetails_count  | fitNumber}}</td>
   <td>{{datarow.factordetails_price | number_format | fitNumber}}</td>
{%if factor_detail.factor.detaildiscount%}
   <td>{{datarow.factordetails_discount | number_format | fitNumber}}</td>
{%endif%}
   <td>{{datarow.factordetails_sum | number_format | fitNumber}}</td>
  </tr>
 {%endfor%}
  </tbody>
  <tfoot class="txtC">
   <th>{{factor_detail.factor.item | number_format | fitNumber}}</th>
   <th>{{factor_detail.factor.qty | fitNumber}}</th>
   <th></th>
{%if factor_detail.factor.detaildiscount%}
   <th></th>
{%endif%}
   <th>{{factor_detail.factor.sum | number_format | fitNumber}}</th>
  </tfoot>
 </table>

 <table class="tbl fs12 factorResult mB25">
  <tbody>
{%if factor_detail.factor.detaildiscount%}
   <tr>
     <th class="txtRa">{%trans "Invoice amount"%}</th>
     <td class="collapsing txtLa">{{factor_detail.factor.detailsum | number_format |fitNumber}}</td>
   </tr>
   <tr>
     <th class="txtRa">{%trans "Your total discount and profits"%}</th>
     <td class="collapsing txtLa">{{factor_detail.factor.detaildiscount | number_format |fitNumber}}</td>
   </tr>
{%endif%}
   <tr class="msg warn2 factorSum">
     <th class="txtRa">{%trans "Total payable"%}</th>
     <td class="collapsing txtLa">{{factor_detail.factor.sum | number_format |fitNumber}}</td>
   </tr>
  </tbody>

 </table>
</div>



{%endblock%}










{%block all_field_we_have_hidden%}


array (size=2)
  'factor' =>
    array (size=19)
      'id'             => string '3' (length=1)
      'store_id'       => string '3' (length=1)
      'customer'       => null
      'factorer'         => string '3' (length=1)
      'date'           => string '2017-11-21 16:03:35' (length=19)
      'shamsidate'     => string '13960830' (length=8)
      'title'          => null
      'pre'            => null
      'transport'      => null
      'pay'            => null
      'detailsum'      => string '21450' (length=5)
      'detaildiscount' => string '450' (length=3)
      'detailtotalsum' => string '41000' (length=5)
      'detailcount'    => string '9' (length=1)
      'vat'            => null
      'discount'       => null
      'sum'            => string '41000' (length=5)
      'status'         => string 'enable' (length=6)
      'desc'           => null

  'factor_detail' =>
    array (size=3)
      0 =>
        array (size=35)
          'id'                     => string 'BN' (length=2)
          'store_id'               => string '3' (length=1)
          'creator'                => string '3' (length=1)
          'title'                  => string 'ارده حلوا قدیما' (length=28)
          'name'                   => null
          'cat'                    => string 'محصولات غذایی' (length=25)
          'slug'                   => string 'ارده-حلوا-قدیما' (length=28)
          'company'                => null
          'shortcode'              => null
          'unit'                   => string 'قوطی' (length=8)
          'barcode'                => string '6260878400553' (length=13)
          'barcode2'               => string '0003148565' (length=10)
          'code'                   => string '1410' (length=4)
          'buyprice'               => null
          'price'                  => string '13500' (length=5)
          'discount'               => null
          'discountpercent'        => null
          'vat'                    => string '0' (length=1)
          'initialbalance'         => null
          'minstock'               => string '6' (length=1)
          'maxstock'               => null
          'status'                 => string 'available' (length=9)
          'sold'                   => null
          'stock'                  => null
          'thumb'                  => null
          'service'                => string '0' (length=1)
          'checkstock'             => null
          'factoronline'             => string '0' (length=1)
          'factorstore'              => string '0' (length=1)
          'carton'                 => null
          'desc'                   => null
          'factordetails_price'    => string '13500' (length=5)
          'factordetails_count'    => string '1' (length=1)
          'factordetails_discount' => string '0' (length=1)
          'factordetails_sum'      => string '13500' (length=5)
      1 =>
        array (size=35)
          'id'                     => string 'BP' (length=2)
          'store_id'               => string '3' (length=1)
          'creator'                => string '3' (length=1)
          'title'                  => string 'مسواک بچه دکتر ایست' (length=35)
          'name'                   => null
          'cat'                    => string 'لوازم شوینده و بهداشتی' (length=41)
          'slug'                   => string 'مسواک-بچه-دکتر-ایست' (length=35)
          'company'                => null
          'shortcode'              => null
          'unit'                   => string 'عدد' (length=6)
          'barcode'                => string '6262554100207' (length=13)
          'barcode2'               => string '0003075554' (length=10)
          'code'                   => string '1411' (length=4)
          'buyprice'               => null
          'price'                  => string '2500' (length=4)
          'discount'               => null
          'discountpercent'        => null
          'vat'                    => string '0' (length=1)
          'initialbalance'         => null
          'minstock'               => string '6' (length=1)
          'maxstock'               => null
          'status'                 => string 'available' (length=9)
          'sold'                   => null
          'stock'                  => null
          'thumb'                  => null
          'service'                => string '0' (length=1)
          'checkstock'             => null
          'factoronline'             => string '0' (length=1)
          'factorstore'              => string '0' (length=1)
          'carton'                 => null
          'desc'                   => null
          'factordetails_price'    => string '2500' (length=4)
          'factordetails_count'    => string '5' (length=1)
          'factordetails_discount' => string '0' (length=1)
          'factordetails_sum'      => string '12500' (length=5)
      2 =>
        array (size=35)
          'id'                     => string 'BQ' (length=2)
          'store_id'               => string '3' (length=1)
          'creator'                => string '3' (length=1)
          'title'                  => string 'سرکه سفید دلوسه' (length=28)
          'name'                   => null
          'cat'                    => string 'محصولات غذایی' (length=25)
          'slug'                   => string 'سرکه-سفید-دلوسه' (length=28)
          'company'                => null
          'shortcode'              => null
          'unit'                   => string 'بطری' (length=8)
          'barcode'                => string '6262164400421' (length=13)
          'barcode2'               => string '0006427994' (length=10)
          'code'                   => string '1412' (length=4)
          'buyprice'               => null
          'price'                  => string '5450' (length=4)
          'discount'               => string '450' (length=3)
          'discountpercent'        => string '8.257' (length=5)
          'vat'                    => string '0' (length=1)
          'initialbalance'         => null
          'minstock'               => string '1' (length=1)
          'maxstock'               => null
          'status'                 => string 'available' (length=9)
          'sold'                   => null
          'stock'                  => null
          'thumb'                  => null
          'service'                => string '0' (length=1)
          'checkstock'             => null
          'factoronline'             => string '0' (length=1)
          'factorstore'              => string '0' (length=1)
          'carton'                 => null
          'desc'                   => null
          'factordetails_price'    => string '5450' (length=4)
          'factordetails_count'    => string '3' (length=1)
          'factordetails_discount' => string '450' (length=3)
          'factordetails_sum'      => string '15000' (length=5)

{%endblock%}