{%extends 'content_crm/member/layout.html'%}
{%use 'content_account/address.html'%}





{%block pageContent%}

{{block('pageSteps')}}

<div class="f">
 <div class="cauto s12 pA5">
{{block("psidebarTicket")}}
 </div>
 <div class="c s12 pA5">

 	<table class="tbl1 v1 fs12">
 		<thead>
 			<tr>
 				<th colspan="7">{%trans "User ticket"%}</th>
 			</tr>
 		</thead>
 		<tbody>
 			{%for key, value in dataTable%}
 			<tr>
 				<td><a class="badge light" href="{{url.kingdom}}/support/ticket/show?id={{value.id}}">{{value.id | fitNumber(false)}}</a></td>
 				<td><a class="" href="{{url.kingdom}}/support/ticket/show?id={{value.id}}">{{value.title}}</a></td>
 				<td><a class="" href="{{url.kingdom}}/support/ticket/show?id={{value.id}}">{{value.content | slice(0, 60) | striptags}}</a></td>
 				<td class="collapsing s0">{%if value.solved%}<div class="badge success">{%trans "Solved"%} <i class="compact sf-check"></i></div>{%endif%}</td>

			      <td class="collapsing s0">{%if value.plus%}{{value.plus | fitNumber}} <i class="compact sf-chat-alt-fill"></i>{%else%}{%endif%}</td>

			      <td class="collapsing fs08"><span title='{%trans "Created on"%} {{value.datecreated | dt(true)}}{%if value.datemodified%}<br>{%trans "Last modified on"%} {{value.datemodified | dt(true)}}{%endif%}'>{%if value.datemodified%}{{value.datemodified | dt("human", "year")}}{%else%}{{value.datecreated | dt("human", "year")}}{%endif%}</span></td>

			      <td class="collapsing fs08 s0 m0">{%set myStatus = value.status%}{%if value.status != 'awaiting'%}<i class="compact mRa5 sf-spin-alt fc-green"></i>{%else%}<i class="compact mRa5 sf-asterisk spiny fc-red"></i>{%endif%}{%trans myStatus%}</td>
 			</tr>
 			{%endfor%}
 		</tbody>

 	</table>

 </div>
</div>
{%endblock%}


