{%extends "content_a/setting/layout.html"%}




{%block pageContent%}

{{block('pageSteps')}}

  <div class="cbox">
 <form method="post" autocomplete="off">
	{{block ("paymentZarinpal")}}
	<hr>
	{{block ("paymentAsanpardakht")}}
	<hr>
	{{block('paymentParsian')}}
	<hr>
	{{block('paymentPayir')}}
	<hr>
	{{block('paymentIrankhis')}}

	{{block ("iSaveAll")}}
 </form>
</div>




{%endblock%}



{%block paymentZarinpal%}
<div class="switch1">
 <input type="checkbox" name="zarinpal" id="zarinpal" {%if currentStore.payment.zarinpal.status %}checked{%endif%}>
 <label for="zarinpal"></label>
 <label for="zarinpal">{%trans "Enable zarinpal payment"%}</label>
</div>

<div class="f mT10" data-response='zarinpal' data-response-effect='slide' {%if currentStore.payment.zarinpal.status%}{%else%} data-response-hide {%endif%}>
	<div class="c mLa5">
		<label for="zMerchantID">MerchantID</label>
		<div class="input">
		  <input type="text" name="zMerchantID" id="zMerchantID" placeholder='zMerchantID' value="{{currentStore.payment.zarinpal.MerchantID}}" maxlength='300'>
		</div>
	</div>

	<div class="c mLa5">
		<label for="Description">Description</label>
		<div class="input">
		  <input type="text" name="zDescription" id="Description" placeholder='Description' value="{{currentStore.payment.zarinpal.Description}}" maxlength='300'>
		</div>
	</div>

</div>

{%endblock%}



{%block paymentAsanpardakht%}
<div class="switch1">
 <input type="checkbox" name="asanpardakht" id="asanpardakht" {%if currentStore.payment.asanpardakht.status %}checked{%endif%}>
 <label for="asanpardakht"></label>
 <label for="asanpardakht">{%trans "Enable asanpardakht payment"%}</label>
</div>

<div class="f mT10" data-response='asanpardakht' data-response-effect='slide' {%if currentStore.payment.asanpardakht.status%}{%else%} data-response-hide {%endif%}>
	<div class="c6 pLa5">
		<label for="MerchantID">MerchantID</label>
		<div class="input">
		  <input type="text" name="aMerchantID" id="MerchantID" placeholder='MerchantID' value="{{currentStore.payment.asanpardakht.MerchantID}}" maxlength='300'>
		</div>
	</div>
	<div class="c6 pLa5">
		<label for="MerchantConfigID">MerchantConfigID</label>
		<div class="input">
		  <input type="text" name="MerchantConfigID" id="MerchantConfigID" placeholder='MerchantConfigID' value="{{currentStore.payment.asanpardakht.MerchantConfigID}}" maxlength='300'>
		</div>
	</div>


	<div class="c6 pLa5">
		<label for="Username">Username</label>
		<div class="input">
		  <input type="text" name="Username" id="Username" placeholder='Username' value="{{currentStore.payment.asanpardakht.Username}}" maxlength='300'>
		</div>
	</div>


	<div class="c6 pLa5">
		<label for="Password">Password</label>
		<div class="input">
		  <input type="password" name="Password" id="Password" placeholder='Password' value="{{currentStore.payment.asanpardakht.Password}}" maxlength='300'>
		</div>
	</div>


	<div class="c6 pLa5">
		<label for="EncryptionKey">EncryptionKey</label>
		<div class="input">
		  <input type="text" name="EncryptionKey" id="EncryptionKey" placeholder='EncryptionKey' value="{{currentStore.payment.asanpardakht.EncryptionKey}}" maxlength='300'>
		</div>
	</div>



	<div class="c6 pLa5">
		<label for="EncryptionVector">EncryptionVector</label>
		<div class="input">
		  <input type="text" name="EncryptionVector" id="EncryptionVector" placeholder='EncryptionVector' value="{{currentStore.payment.asanpardakht.EncryptionVector}}" maxlength='300'>
		</div>
	</div>


	<div class="c6 pLa5">
		<label for="MerchantName">MerchantName</label>
		<div class="input">
		  <input type="text" name="MerchantName" id="MerchantName" placeholder='MerchantName' value="{{currentStore.payment.asanpardakht.MerchantName}}" maxlength='300'>
		</div>
	</div>

</div>

{%endblock%}


{%block paymentParsian%}
<div class="switch1">
 <input type="checkbox" name="parsian" id="parsian" {%if currentStore.payment.parsian.status %}checked{%endif%}>
 <label for="parsian"></label>
 <label for="parsian">{%trans "Enable parsian payment"%}</label>
</div>

<div class="f mT10" data-response='parsian' data-response-effect='slide' {%if currentStore.payment.parsian.status%}{%else%} data-response-hide {%endif%}>
	<div class="c12 mLa5">
		<label for="LoginAccount">LoginAccount</label>
		<div class="input">
		  <input type="text" name="LoginAccount" id="LoginAccount" placeholder='LoginAccount' value="{{currentStore.payment.parsian.LoginAccount}}" maxlength='300'>
		</div>
	</div>
</div>

{%endblock%}


{%block paymentPayir%}
<div class="switch1">
 <input type="checkbox" name="payir" id="payir" {%if currentStore.payment.payir.status %}checked{%endif%}>
 <label for="payir"></label>
 <label for="payir">{%trans "Enable payir payment"%}</label>
</div>

<div class="f mT10" data-response='payir' data-response-effect='slide' {%if currentStore.payment.payir.status%}{%else%} data-response-hide {%endif%}>
	<div class="c12 mLa5">
		<label for="api">Api</label>
		<div class="input">
		  <input type="text" name="api" id="api" placeholder='api' value="{{currentStore.payment.payir.api}}" maxlength='300'>
		</div>
	</div>
</div>

{%endblock%}


{%block paymentIrankhis%}
<div class="switch1">
 <input type="checkbox" name="irkish" id="irkish" {%if currentStore.payment.irkish.status %}checked{%endif%}>
 <label for="irkish"></label>
 <label for="irkish">{%trans "Enable irkish payment"%}</label>
</div>

<div class="f mT10" data-response='irkish' data-response-effect='slide' {%if currentStore.payment.irkish.status%}{%else%} data-response-hide {%endif%}>
	<div class="c4 pLa5">
		<label for="merchantId">merchantId</label>
		<div class="input">
		  <input type="text" name="imerchantId" id="merchantId" placeholder='merchantId' value="{{currentStore.payment.irkish.merchantId}}" maxlength='300'>
		</div>
	</div>

	<div class="c4 pLa5">
		<label for="sha1">sha1</label>
		<div class="input">
		  <input type="text" name="sha1" id="sha1" placeholder='sha1' value="{{currentStore.payment.irkish.sha1}}" maxlength='500'>
		</div>
	</div>

	<div class="c4 pLa5">
		<label for="description">Description</label>
		<div class="input">
		  <input type="text" name="idescription" id="description" placeholder='description' value="{{currentStore.payment.irkish.description}}" maxlength='500'>
		</div>
	</div>
</div>

{%endblock%}

