{%extends "content_a/setting/layout.html"%}


{%block data%}
  <div class="cbox">
 <form method="post">

	<h2>{%trans "Print status"%}</h2>
  	{{block ("iPrintStatus")}}

	<div class="f">
		<div class="c">{{block ("iPrintList")}}</div>
	  	<div class="c">{{block ("iPrintDefault")}}</div>
	 </div>
	<h2>{%trans "Pay setting"%}</h2>
	<div class="f">
	  	<div class="c">{{block ("iPayWayList")}}</div>
	 	<div class="c">{{block ("iPayDefault")}}</div>
	</div>

	{{block ("iSaveAll")}}
 </form>
</div>



{%endblock%}
