span, object, iframe, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, figcaption, footer, header, nav, section, details, menu, summary {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* force a vertical scrollbar to prevent a jumpy page */
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;

  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  font-size:62.5%;
  line-height: 1.15;

  height:100%;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body.rtl{direction:rtl;font-family:$fontNameFa;}
body.ltr{direction:ltr;font-family:$fontNameEn;}
html[data-jibres] body.rtl{font-family:$fontNameFaJibres;}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
object,
embed {max-width: 100%;}

img {
  border-style: none;
  outline: none;
  max-width: 100%;
  max-height: 100%;
  height:auto;
  margin:0;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
  In fact, it *will* cause problems with Google Maps' controls at small size.
  If this is the case for you, try uncommenting the following:

#map img {
  max-width: none;
}
*/

/* we use a lot of ULs that aren't bulleted.
  you'll have to restore the bullets within content,
  which is fine because they're probably customized anyway */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  background-color: transparent;
  -webkit-text-decoration-skip: objects;

  color: #4080c0;
  text-decoration:none;
  background:transparent;
}



del {text-decoration: line-through;}

dfn {
  font-style: italic;
}
mark{background-color:#ff0;color:#000}


abbr[title], dfn[title] {
  cursor: help;
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* tables still need cellspacing="0" in the markup */
table {font-size: inherit; font: 100%;border-collapse: separate; border-spacing: 0;}
th {font-weight: bold; vertical-align: middle;}
td {font-weight: normal; vertical-align: middle;}
td img {vertical-align: middle;}

hr {display: block; height: 0; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;box-sizing: content-box;overflow: visible;}








small {font-size: 80%;}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}


/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {middle: -0.25em;}

/* standardize any monospaced elements */
code, samp {font-family: monospace, sans-serif;font-size: 1em;display:inline-block;direction:ltr;}
pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  // white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  display:block;
  direction: ltr;
  font-family: monospace, sans-serif;
  font-size: 1em;
  overflow: auto;
}
kbd{
  margin: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  font-family: monospace, sans-serif;
  font-size: 1em;
  display:inline-block;
  direction:ltr;
  background-color:rgba(0,0,0,0.1);
  padding:2px 6px;
  transition:0.3s;
  border-radius:0.25rem;
  line-height: 1.25;
}
kbd:hover{background-color:rgba(0,0,0,0.2);}


audio,
video {
  display: inline-block;
  max-width: 100%;
  outline: none;
}
audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  max-width:100%;
  overflow: hidden;
}


/* Forms
   ========================================================================== */
input{
  font-family:$fontNameFa;
  max-width:100%;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  outline: none;
}

input[type="file"]{
  cursor: pointer;
}

input[type="radio"] {
  vertical-align: text-bottom;
  padding: 0;
  box-sizing: border-box;
}

input[type="checkbox"] {
  vertical-align: bottom;
  padding: 0;
  box-sizing: border-box;
}

html input[type="button"], input[type="submit"], input[type="reset"],{
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
input[type="button"]:-moz-focusring,
input[type="reset"]:-moz-focusring,
input[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

select{
  font-family:$fontNameFa;
  max-width:100%;
  margin: 0;
  vertical-align: middle;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
  outline: none;
}

optgroup{
  font-family:$fontNameFa;
  max-width:100%;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button{
  font-family:$fontNameFa;
  max-width:100%;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  text-transform: none;
  -webkit-appearance: button;
  outline: none;
}

textarea{
  font-family:$fontNameFa;
  max-width:100%;
  max-height:500px;
  overflow: auto;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}


/* Interactive
   ========================================================================== */

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

address{
  font-style:normal;
}
/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}


/* hand cursor on clickable elements */
.clickable{cursor: pointer;}



/* let's clear some floats */
.clearfix:after { content: " "; display: block; clear: both; }


