{%extends 'content_crm/transactions/layout.html'%}


{%block pageContent%}
{{block('pageSteps')}}

<div class="f justify-center">

	<div class="cbox justify-center c6">
		<h2>{%trans "Plus charge account"%}</h2>

		 <form method="post"  autocomplete="off">
			{{block('ititle')}}
			{{block('itype')}}
			{{block('iunit')}}
			{{block('imobile')}}
			{{block('iamount')}}
			{{block('idesc')}}
			<button type="submit"  class="btn success mT15 block">{%trans "Plus"%}</button>

		</form>

	</div>
</div>
{%endblock%}
