{%extends display.suMain%}

{%block pageContent%}
{%if logList%}
  <div class="f">
  {%for value in logList%}
    <div class="c4 s12">
        <a class="dcard x1 fc-red"  href='{{url.this}}?folder={{value.name}}'>
         <div class="statistic ">
          <div class="value "><i class="sf-{{value.icon}}"></i></div>
          <div class="label">{{value.name}}</div>
         </div>
        </a>
     </div>
  {%endfor%}
  </div>

{%endif%}

{%if logFileList%}

<a class="btn mB10 outline primary block" href="{{url.this}}">{%trans "Back"%}</a>
<div class="f">
{%for value in logFileList%}
{%if not value.is_old%}
<div class="c2 mA5 txtC">
  <a class="msg block" href='{{url.this}}?folder={{requestGET.folder}}&file={{value.name}}'  title="{{value.mtime | dt(true)}}">
    <i class="sf-file-1 fs30"></i>
    <div class="label ltr txtB mT5">{{value.name}}</div>
    <div class=" txtC mT10 ltr">{{value.mtime | dt('human')}}</div>
    <div class="label txtB">{{value.size | fitNumber(false)}} {%trans "MB"%}</div>
  </a>
</div>
{%endif%}
{%endfor%}
</div>

<div class="cbox fs11">

  <h3 data-kerkere='.archivedLog' data-kerkere-icon>{%trans "Show archived"%}</h3>
  <div class="archivedLog" data-kerkere-content='hide'>

    <div class="f">
      {%for value in logFileList%}
        {%if value.is_old%}
          <div class="c3 pA5 txtC">
            <a class="msg block" href='{{url.this}}?folder={{requestGET.folder}}&file={{value.name}}' title="{{value.mtime | dt(true)}}">
                <div class="ltr txtB">{{value.name}}</div>
                <div class=" txtC mT10 ltr" >{{value.mtime | dt('human')}}</div>
                {{value.size | fitNumber(false)}} {%trans "MB"%}
            </a>
          </div>
        {%endif%}
    {%endfor%}
    </div>
  </div>
</div>
{%endif%}
{%endblock%}
