{%extends "content_a/staff/layout.html"%}

{%block dataAdd%}
<form method="post" enctype="multipart/form-data">
<div class="f justify-center">
  <div class="c6 s12">
    <div class="cbox">
      <div class="f">
        <div class="c pRa5">
{{block("iname")}}
        </div>
        <div class="c">
{{block("ifamily")}}
        </div>
      </div>

      <div class="f">
        <div class="c pRa5">
{{block("ibirthday")}}
        </div>
        <div class="c">
{{block("incode")}}
        </div>
      </div>

{{block("imobile")}}
{{block("igender")}}

{{block("iadd")}}

    </div>
  </div>
</div>
</form>
{%endblock%}

