{%extends display.jibresControlLayout%}


{%block pageContent%}
<div class="f justify-center">
	<div class="c6 m8 s12">
		<div class="cbox">

			<form method="post" autocomplete="off" class="mB20" >

				<label for="irnicid">{%trans "IRNIC contact"%} <small><a href="{{url.here}}/contact/add">{%trans "Create new IRNIC contact"%}</a></small></label>
				<select name="irnicid" class="select ui dropdown search addition" id="irnicid">
				<option value="">{%trans "IRNIC contact id"%}</option>
				{%for key, value in myContactList%}
				  <option value="{{value.nic_id}}" {%if value.isdefault%} selected {%endif%}>{{value.nic_id}}</option>
				{%endfor%}
				</select>

				<label for="domain">{%trans "Domain"%}</label>
				<div class="input ltr">
					<input type="text" name="domain"  id="domain" maxlength="100">
				</div>

				<label for="ips">{%trans "Transfer code"%}</label>
				<div class="input ltr">
					<input type="text" name="pin"  id="ips" maxlength="100">
				</div>

			    <div class="check1">
			      <input type="checkbox" name="agree" id="agree">
			      <label for="agree">{%trans "I have read and agree to the terms and conditions"%} <small><a target="_blank" href="{{url.kingdom}}/support/nic/privacy">{%trans "Show terms"%}</a></small></label>
			    </div>

				<div class="txtRa">
					<button class="btn success">{%trans "Transfer"%}</button>
				</div>
			</form>
		</div>
	</div>
</div>

{%endblock%}


