{%extends display.pwa%}


{%block pageContent%}


<div class="pwa">

   <h2>Jibres Services</h2>
   <nav class="pwaItems">
     <ul>
       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">{%trans "Domain Center"%}</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">{%trans "Payment Gateway"%}</div>
         <div class="go detail"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">{%trans "Electronic Wallet"%}</div>
         <div class="go"></div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div class="key">{%trans "Pay bill"%}</div>
         <div class="go"></div>
        </a>
       </li>

     </ul>
   </nav>

   <nav class="pwaItems">
     <ul>
       <li>
        <a class="f align-center" data-action href="{{url.this}}/test">
         <div class="key">Sample Pages</div>
         <div class="go"></div>
        </a>
       </li>
     </ul>
   </nav>



</div>

{%endblock%}

