.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


#ermileBadge{padding:10px 1.5em;background-color:#24292e;color:#eee;transition:0.3s;height:70px;user-select:none}
#ermileBadge:hover{background-color:#044f6f;}
#ermileBadge img{border-radius:50%;background-color:#eee;width:50px;height:50px;display:block;vertical-align:middle;overflow:hidden;transition:0.3s;padding:2px;}
#ermileBadge img:hover{background-color:#fff}
#ermileBadge h2{color:#eee;font-size:2em;margin:0;line-height:30px;transition:0.3s;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
#ermileBadge h2:hover{color:#fff;}
#ermileBadge h3{color:#eee;font-size:1em;margin:0;line-height:20px;transition:0.3s;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
#ermileBadge h3:hover{color:#fff;}
.siftal #sidebar #ermileBadge h2{max-width:170px;}
.siftal #sidebar #ermileBadge h3{max-width:170px;}


/* list */
ul{list-style:none inside none;line-height:1.5em}
ul.list{list-style:square outside none;margin:0 2em;}
ul.list li {padding:0.5em 1em;}
ul.list li a {padding:0.3em 0.5em;}
.rtl ul{line-height:2em}


/* very usefull styles*/
.unselectable{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
}
.selectable{
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.visible{visibility:visible;opacity:1;-webkit-transition:opacity .5s linear;-o-transition:opacity .5s linear;-moz-transition:opacity .5s linear;transition:opacity .5s linear}
.hidden{visibility:hidden;opacity:0;-webkit-transition:visibility 0 0.5s,opacity .5s linear;-o-transition:visibility 0 0.5s,opacity .5s linear;-moz-transition:visibility 0 0.5s,opacity .5s linear;transition:visibility 0s 0.5s,opacity .5s linear}
.hide{display:none!important}
.ltr{direction:ltr}
.rtl{direction:rtl}
.center{text-align:center;}





