h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;

  font-weight:500;
  line-height:1.3;
  margin-bottom:0.3em;
  color:inherit;
  outline: none;

}
h1{font-size:2.2em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.7em;}
h5{font-size:1.5em;}
h6{font-size:1.3em;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:700;color:inherit}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:400}

p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;

  margin-bottom:1em;
  line-height:1.7;
}


.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6{line-height:1.5;}
.rtl p{line-height:2.2;margin-bottom:1.5em;}



a:hover {
  color: #3077c0;
  text-decoration: none;
  outline: 0;
}
a:focus{
	color: #2070c0;
	outline:0;
}
a:active{
	outline:0;
}
div{
  outline: none;
}
span{
  outline: none;
}
span:focus{
  outline: none;
}

::-webkit-selection {
  background-color: #cce0ff;
  color: rgba(0,0,0,.87)
}

::-moz-selection {
  background-color: #cce0ff;
  color: rgba(0,0,0,.87)
}

::selection {
  background-color: #cce0ff;
  color: rgba(0,0,0,.87)
}


