{%extends display.jibresControlLayout%}


{%block pageContent%}

<div class="f justify-center">
  <div class="c4 x3 m7 s12">
    <div id="get_started_card">
      <div class="body">
        {%if canAddStore.can%}
          <h1>{{page.title}}</h1>
          <p>{%trans "To make a online store from scratch, please enter name of your business."%}</p>

          <form method="post" autocomplete="off">
            <div class="input">
              <input type="text" name="bt" placeholder='{%trans "Your business title"%}' autofocus required maxlength='50'>
            </div>

            <button class="btn success block">{%trans "Let's go"%}</button>
          </form>
        {%else%}
            <h1>{%trans "Can not add new store"%}</h1>
            <p>{{canAddStore.msg}}</p>
            {%if canAddStore.type == 'price'%}
              <a href="{{url.kingdom}}/account/billing" class="btn block outline mT10 primary">{%trans "Charge your account"%}</a>
            {%elseif canAddStore.type == 'store3'%}
              <a href='{{url.support}}/ticket/add?title={%trans "Create more store"%}' class="btn block outline mT10 primary">{%trans "Contact Us"%}</a>
            {%else%}
            {%endif%}

            <a href="{{url.here}}" class="btn block outline mT10 success">{%trans "Back"%}</a>
        {%endif%}


        <img src="{{url.static}}/img/store/your-brand.svg" alt='{%trans "Create a store on Jibres"%}'>

      </div>
    </div>

    <div class="f align-center msg mT10 fs12">
      <div class="c pRa10">{{termOfService | raw}}</div>
      <div class="cauto os"><a href="{{url.here}}" class="btn" data-direct>{%trans "Cancel"%}</a></div>
    </div>
  </div>
</div>
{%endblock%}

