@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebbold.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebthin.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanweblight.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebregular.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebmedium.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebextrabold.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebblack.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 950;
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebextrablack.eot');
	src: url('../fonts/IRANYekan/3.0//eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/IRANYekan/3.0//woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/IRANYekan/3.0//ttf/iranyekanwebextrablack.ttf') format('truetype');
}