// siftal
@font-face {
  font-family: "siftal";
  src:url("../fonts/siftal/siftal.eot");
  src:url("../fonts/siftal/siftal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/siftal/siftal.woff") format("woff"),
    url("../fonts/siftal/siftal.ttf") format("truetype"),
    url("../fonts/siftal/siftal.svg#siftal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

