
{%extends display.dash%}


{%block sidenav%}

  <li><a href="{{url.here}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>

  <li>
    <a href="{{url.here}}/product"><i class="sf-box"></i>{%trans "Products"%}</a>
  {%if url.module == "product"%}
    <ul>
        <li><a href="{{url.here}}/product/summary"><i class="floatRa mRa10 fc-mute sf-list"></i>{%trans "Products Summary"%}</a></li>
        <li><a href="{{url.here}}/product/add"><i class="floatRa mRa10 fc-mute sf-plus"></i>{%trans "Add new Product"%}</a></li>
        <li><a href="{{url.here}}/product/cats"><i class="floatRa mRa10 fc-mute sf-grid-1"></i>{%trans "Categories of Product"%}</a></li>
        <li><a href="{{url.here}}/product/units"><i class="floatRa mRa10 fc-mute sf-eye-galsses"></i>{%trans "Product Units"%}</a></li>

    </ul>
  {%endif%}
  </li>


  <li>
    <a href="{{url.here}}/thirdparty"><i class="sf-users"></i>{%trans "Third Parties"%}</a>
{%if url.module == "thirdparty"%}
    <ul>
      <li><a href="{{url.here}}/thirdparty?type=customer"><i class="floatRa mRa10 fc-mute sf-user"></i>{%trans "Customers"%}</a></li>
      <li><a href="{{url.here}}/thirdparty?type=supplier"><i class="floatRa mRa10 fc-mute sf-network"></i>{%trans "Suppliers"%}</a></li>
      <li><a href="{{url.here}}/thirdparty?type=staff"><i class="floatRa mRa10 fc-mute sf-user-4"></i>{%trans "Staffs"%}</a></li>
    </ul>
{%endif%}
  </li>

  <li>
    <a href="{{url.here}}/factor"><i class="sf-print"></i>{%trans "Factor"%}</a>

{%if url.module == "factor"%}
    <ul>
      <li><a href="{{url.here}}/sale"><i class="floatRa mRa10 fc-mute sf-cart-plus"></i>{%trans "register new sale factor"%} <kbd class="light">F2</kbd> </a></li>
      <li><a href="{{url.here}}/factor?type=sale"><i class="floatRa mRa10 fc-mute sf-basket"></i>{%trans "List of sales"%}</a></li>
      <li><a href="{{url.here}}/factor?type=buy"><i class="floatRa mRa10 fc-mute sf-bag"></i>{%trans "List of purchases"%}</a></li>
      <li><a href="{{url.here}}/factor"><i class="floatRa mRa10 fc-mute sf-list"></i>{%trans "List of all factors"%}</a></li>
    </ul>
{%endif%}
  </li>

<li>
    <a href="{{url.here}}/report"><i class="sf-chart"></i>{%trans "Reports"%}</a>
{%if url.module == "report"%}
    <ul>
      <li><a href="{{url.here}}/report/daily"><i class="floatRa mRa10 fc-mute sf-bar-chart"></i>{%trans "Daily report"%}</a></li>
      <li><a href="{{url.here}}/report/month"><i class="floatRa mRa10 fc-mute sf-analytics-chart-graph"></i>{%trans "Monthly report"%}</a></li>
    </ul>
{%endif%}
  </li>

  <li>
    <a href="{{url.here}}/setting/general"><i class="sf-cogs"></i>{%trans "Setting"%}</a>
{%if url.module == "setting"%}
    <ul>
      <li><a href="{{url.here}}/setting/plan"><i class="floatRa mRa10 fc-mute sf-lamp"></i>{%trans "Store plans"%}</a></li>
      <li><a href="{{url.here}}/setting/factor"><i class="floatRa mRa10 fc-mute sf-sliders"></i>{%trans "Factor settings"%}</a></li>
    </ul>
{%endif%}
  </li>

  <li class="s0">
    <a href="{{url.base}}/logout?referer={{url.pwd}}"><i class="sf-refresh"></i>{%trans "Shift transformation"%}</a>
{%if staffList%}
    <ul>
{%for key, value in staffList%}
{%if value.mobile%}
{%if value.mobile == login.mobile%}
      <li title='{%trans "You are active user"%}'><a class='disabled' data-href="{{url.base}}/account/profile">{{value.firstname}} <b>{{value.lastname}}</b> <i class="floatRa mRa10 fc-green sf-check"></i></a></li>
{%else%}
      <li><a href="{{url.base}}/logout?mobile={{value.mobile}}&referer={{url.pwd}}">{{value.firstname}} <b>{{value.lastname}}</b> <i class="floatRa mRa10 fc-mute sf-at"></i></a></li>
{%endif%}
{%endif%}
{%endfor%}
    </ul>
{%endif%}
  </li>

<li class="hr"></li>
<li><a href="{{url.kingdom}}/support" data-shortkey="112" data-shortkey-prevent data-shortkey-timeout=1000><i class='sf-life-ring'></i> <span>{% trans "Support" %}</span><kbd class="floatRa fs08">F1</kbd></a></li>
{%endblock%}


{%block head_css%}
 <link rel="stylesheet"       href="{{url.site}}/static/{{'css/storePanel.css' | filemtime(true)}}"/>
{%endblock%}


{%block js%}

 <script src="{{url.site}}/static/{{'js/JsBarcode.all.min.js' | filemtime(true)}}"></script>
 <script src="{{url.site}}/static/{{'js/shortkey.js' | filemtime(true)}}"></script>
 <script src="{{url.site}}/static/{{'js/storePanel.js' | filemtime(true)}}"></script>
{%endblock%}

