<nav class="f">
 <div class="c">
  <a href="{{url.kingdom}}/my"{%if url.content == 'my' and url.module is null%} class="selected"{%endif%}>
   <div class="icon"><i class="sf-gauge"></i></div>
   <div class="title">{%trans "my"%}</div>
  </a>
 </div>

 <div class="c">
  <a href="{{url.kingdom}}/account/notification"{%if url.content == 'account' and url.module =='notification'%} class="selected"{%endif%}>
   <div class="icon"><i class="sf-comments"></i></div>
   <div class="title">{%trans "Messages"%}</div>
  </a>
 </div>

 <div class="c">
  <a href="{{url.kingdom}}/business"{%if url.content == 'store' and url.module is null%} class="selected"{%endif%}>
   <div class="icon"><i class="sf-money"></i></div>
   <div class="title">{%trans "Stores"%}</div>
  </a>
 </div>

 <div class="c">
  <a href="{{url.kingdom}}/support"{%if url.content == 'support' and url.module is null%} class="selected"{%endif%}>
   <div class="icon"><i class="sf-info-circle"></i></div>
   <div class="title">{%trans "Help Center"%}</div>
  </a>
 </div>

 <div class="c">
  <a href="{{url.kingdom}}/account"{%if url.content == 'account' and url.module is null%} class="selected"{%endif%}>
   <div class="icon"><i class="sf-user"></i></div>
   <div class="title">{%trans "Profile"%}</div>
  </a>
 </div>
</nav>