{%extends display.admin%}

{%block pageContent%}

  <div class="f justify-center">
    <div class="c8 s12">
      <div class="cbox">
        <form method="post" enctype="multipart/form-data">
          <div class="input">
           <label>{%trans "Choose your CSV"%}</label>
           <input type="file" accept="text/csv" name="product_list" id="product-list-import" data-max="5000">
          </div>

          <button class="btn primary block mT25" data-notif='{%trans "Please wait to complete import progress"%}' data-notif-type="info"  >{%trans "Import"%}</button>
        </form>
      </div>
    </div>
  </div>
{%endblock%}

