{%extends display.crmMain%}




{%block pageContent%}
	{{block ("blockUsers")}}

  <div class="f">
    <div class="c6 s12 mB10 pRa5">
      <div class="chart x3" id="statuschart"></div>
    </div>
    <div class="c6 s12 mB10 pLa5">
      <div class="chart x3" id="genderchart"></div>
    </div>
  </div>

  <div class="chart x2 mB10" id="UsersChart"></div>
  <div class="chart x2 mB10" id="logChart"></div>


  <div class="f align-center">
    <div class="c s12 pRa10">
      {{block ("l10Member")}}
    </div>
    <div class="c s12 pRa10">
      <div class="chart mB10" id="userGuage" style="max-width:300px;margin:0 auto 10px"></div>
    </div>
    <div class="c s12">
      {{block ("l10Log")}}
    </div>
  </div>

  <div class="chart x3 mB10" id="identifyChart"></div>

{%endblock%}



{%block blockUsers%}
<div class="f mB5">
  <div class="c s6">{{block ("dUsers")}}</div>
  <div class="c s6">{{block ("dUsersActive")}}</div>
  <div class="c s6">{{block ("dUserPerms")}}</div>
  <div class="c s6">{{block ("dLogs")}}</div>
</div>
{%endblock%}


{%block dUsers%}
<a class="dcard" href="{{url.here}}/member?status=all">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-group-full"></i> {%trans "Total Users"%}</div>
  <div class="value counter" data-value={{dashboardDetail.users}}>{{dashboardDetail.users | fitNumber}}</div>
 </div>
</a>
{%endblock%}


{%block dUsersActive%}
<a class="dcard" href="{{url.here}}/member">
 <div class="statistic sm green">
  <div class="label mB10"><i class="fs20 mRa5 sf-user-5"></i> {%trans "Active Users"%}</div>
  <div class="value">{{dashboardDetail.activeUser | fitNumber()}}</div>
 </div>
</a>
{%endblock%}


{%block dUserPerms%}
<a class="dcard" href="{{url.here}}/permission">
 <div class="statistic sm red">
  <div class="label mB10"><i class="fs20 mRa5 sf-lock"></i> {%trans "Permissions"%}</div>
  <div class="value">{{dashboardDetail.permissions | fitNumber()}}</div>
 </div>
</a>
{%endblock%}


{%block dLogs%}
<a class="dcard" href="{{url.here}}/log">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-crosshairs"></i> {%trans "Logs"%}</div>
  <div class="value">{{dashboardDetail.logs | fitNumber()}}</div>
 </div>
</a>
{%endblock%}



{%block l10Log%}
<div class="cbox fs11">
  <h2>{%trans "Latest logs"%}</h2>
  {%for key, value in dashboardDetail.latestLogs%}
    <a class="msg f" href="{{url.this}}/log">
      <div>{%if value.displayname%}{{value.displayname}}{%else%}{%trans "Unknow"%}{%endif%}</div>
      <div>{%if value.title%}{{value.title}}{%else%}{{value.caller}}{%endif%}</div>
      <div class="cauto">{{value.datecreated | dt('human', 'year') }}</div>
    </a>
  {%endfor%}
</div>
{%endblock%}


{%block l10Member%}
<div class="cbox fs11 mB10">
  <h2>{%trans "Latest Members"%}</h2>
  {%for key, value in dashboardDetail.latestMember%}
    <a class="msg f" href="{{url.here}}/member/glance?id={{value.id}}">
      <div>{%if value.displayname%}{{value.displayname}}{%else%}{%trans "Unknow"%}{%endif%}</div>
      <div class="cauto">{{value.datecreated | dt('human', 'year') }}</div>
    </a>
  {%endfor%}
</div>
{%endblock%}


{%block l10Ticket%}
<div class="cbox fs11 mB10">
  <h2>{%trans "Latest Tickets"%}</h2>
  <a class="msg f" href="#">lorem</a>
  <a class="msg f" href="#">lorem</a>
  <a class="msg f" href="#">lorem</a>
  <a class="msg f" href="#">lorem</a>
  <a class="msg f" href="#">lorem</a>
</div>
{%endblock%}









{%block foot_js%}
<script type="text/javascript">
    {%include 'content_crm/home/solid-gauge.js'%}
</script>
<script type="text/javascript">
    {%include 'content_crm/home/chart.js'%}
</script>
{%endblock%}

