{%extends 'content_a/products/home/display.html'%}



{%block htmlTable%}
  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr class="fs08">
        <th class="collapsing"></th>
        <th>{%trans "Title"%}</th>
        <th>{%trans "Buy price"%}</th>
        <th>{%trans "Price"%}</th>
        <th>{%trans "Discount"%}</th>
        <th>{%trans "Discount percent"%}</th>
        <th>{%trans "Final price"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="collapsing"><img src="{{value.thumb}}" class="avatar fs14"></td>
        <td>
          <div><a href="{{url.this}}/edit?id={{value.id}}"><i class="sf-edit-write mRa10"></i>{{value.title}}</a></div>
          {%if value.optionvalue1%}
            <div>{{value.optionname1}} <b>{{value.optionvalue1}}</b></div>
          {%endif%}

          {%if value.optionvalue2%}
            <div>{{value.optionname2}} <b>{{value.optionvalue2}}</b></div>
          {%endif%}

          {%if value.optionvalue3%}
            <div>{{value.optionname3}} <b>{{value.optionvalue3}}</b></div>
          {%endif%}
        </td>

        <td>{{value.buyprice | fitNumber}}</td>
        <td>{{value.compareatprice | fitNumber}}</td>
        <td>{{value.discount | fitNumber}}</td>
        <td>{{value.discountpercent | fitNumber}}</td>
        <td>{{value.finalprice | fitNumber}}</td>

      </tr>
      {%endfor%}
    </tbody>
  </table>

  {%include display.pagination%}
{%endblock%}

