
{%extends display.dash%}



{%block sidenav%}

<li><a href="{{url.baseFull}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
<li><a href="{{url.base}}/account/billing"><i class="sf-credit-card"></i>{%trans "Billing"%}</a></li>

{%endblock%}



{%block pageContent%}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
{%block data%}{%endblock%}
 </div>
</div>
{%endblock%}





{%block psidebar%}
<div class="cbox normal">


  <a class="vcard mA10 shadow {{cardColor}}" href='{{url.baseFull}}/{{current_team.id}}/setting/logo'>
    <img src="{{current_team.logo}}" alt="{{current_team.name}}" class="pA10-f">
    <div class="content">
      <div class="header">{{current_team.name}}</div>
      {%if current_team.rule != 'admin' and current_team.privacy == 'private' or true%}
      {%else%}
        {%if not current_team.stats.last_traffic_string%}
          <div class="meta"><span>{%trans "Without traffic"%}</span></div>
        {%else%}
          <div class="meta"><span>{%trans "Last traffic"%} {{current_team.stats.last_traffic_string| fitNumber}}</span></div>
        {%endif%}
      {%endif%}
    </div>
  </a>

 <a class="btn block mTB5" href='{{url.baseFull}}/{{current_team.id}}/setting/general'>{%trans "General Detail"%}</a>
 {%if is_creator%}
  <a class="btn block mTB5" href='{{url.baseFull}}/{{current_team.id}}/setting/plan'>{%trans "Team Plan"%}</a>
 {%endif%}
 <!-- <a class="btn block mTB5" href='{{url.baseFull}}/{{current_team.id}}/setting/security'>{%trans "Security and privacy"%}</a> -->
 <a class="btn block mTB5" href='{{url.baseFull}}/{{current_team.id}}/setting/report'>{%trans "Report Settings"%}</a>
 <a class="btn block mTB5" href='{{url.baseFull}}/{{current_team.id}}/setting/board'>{%trans "Board Settings"%}</a>
</div>
{%endblock%}




