{%extends display.jibresControlLayout%}

{%block pageContent%}
<div class="f justify-center">
	<div class="c6 m8 s12">

		<div class="cbox">
			<h3>{%trans "Add an existing account"%}</h3>
			<form method="post" autocomplete="off">
				<label for="oldcontact">{%trans "Account id"%}</label>
				<div class="input ltr">
					<input type="text" name="oldcontact">
				</div>

				<div class="txtRa">
					<button class="btn info">{%trans "Add contact"%}</button>
				</div>
			</form>
		</div>

		<div class="cbox">
			<h3>{%trans "Create new account"%}</h3>
			<form method="post" autocomplete="off">
				<div class="f">
					<div class="c6 s12">
						<label for="ifirstname">{%trans "Firstname"%}</label>
						<div class="input">
							<input type="text" name="firstname" id="ifirstname" maxlength="100">
						</div>
					</div>
					<div class="c6 s12">
						<div class="mLa5">
							<label for="ilastname">{%trans "Lastname"%}</label>
							<div class="input">
								<input type="text" name="lastname" id="ilastname" maxlength="100">
							</div>
						</div>
					</div>
				</div>

				<div class="f">
					<div class="c6 s12">
						<label for="inationalcode">{%trans "Nationalcode or Passport number"%}</label>
						<div class="input ltr">
							<input type="text" name="nationalcode" id="inationalcode" maxlength="30">
						</div>
					</div>

					<div class="c6 s12">
						<div class="mLa5">
							<label for="iemail">{%trans "Email"%}</label>
							<div class="input ltr">
								<input type="email" name="email" id="iemail" maxlength="100">
							</div>
						</div>
					</div>
				</div>


				{{block('iCountry')}}
				{{block('iProvince')}}
				{{block('iCity')}}

				<div class="f">
					<div class="c6 s12">
						{{block('iPostcode')}}
					</div>
					<div class="c6 s12">
						<div class="mLa5">
							{{block('iPhone')}}
						</div>
					</div>
				</div>

				{{block('iAddress')}}


				<div class="check1">
			      <input type="checkbox" name="agree" id="agree">
			      <label for="agree">{%trans "I agree the privacy terms"%} <small><a href="{{url.kingdom}}/support/nic/privacy">{%trans "Show privacy"%}</a></small></label>
			    </div>


				<div class="txtRa">
					<button class="btn success">{%trans "Add contact"%}</button>
				</div>
			</form>
		</div>
	</div>
</div>
{%endblock%}



{%block iCountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <select class="select22" name="country" id="country" data-model='country' data-next='#province' data-next-default='{{dataRow.province}}'>
    <option value="">{%trans "Choose your country"%}</option>
{%for key, value in countryList%}
      <option value="{{key}}" {%if dataRow.country == key%} selected {%endif%}>{%set myCountry = value.name | capitalize%}{{myCountry}}{%if lang.current != 'en'%} - {%trans myCountry%}{%endif%}</option>
{%endfor%}
  </select>
</div>
{%endblock%}


{%block iProvince%}
<div class="mB10" data-status='hide'>
  <label for='province'>{%trans "Province"%}</label>
  <select name="province" id="province" class="select22" data-next='#city' data-next-default='{{dataRow.city}}'>
    <option value="0">{%trans "Please choose country"%}</option>
    <option selected>{{dataRow.province}}</option>
  </select>
</div>
{%endblock%}


{%block iCity%}
<div class="mB10" data-status='hide'>
  <label for='city'>{%trans "City"%}</label>
  <select name="city" id="city" class="select22">
    <option value="">{%trans "Please choose province"%}</option>
  </select>
</div>
{%endblock%}


{%block iPostcode%}
<label for="postcode">{%trans "Post code"%}</label>
<div class="input">
  <input type="text" name="postcode" id="postcode" data-format="postalCode">
</div>
{%endblock%}


{%block iPhone%}
<label for="iphone">{%trans "Phone"%}</label>
<div class="input">
  <input type="text" name="phone" id="iphone" data-format="tel">
</div>
{%endblock%}


{%block iAddress%}
<label for="address">{%trans "Address"%}</label>
<textarea class="txt mB10 pB25" name="address" id="address" maxlength='300' rows="2">{{dataRow.address}}</textarea>
{%endblock%}



