{%extends "content_a/setting/layout.html"%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f">
  <div class="c5">
    {{block('addNewCat')}}
  </div>
  <div class="c mLa10">
    {{block('htmlTable')}}
  </div>
</div>

{%endblock%}

{%block addNewCat%}
<div class="cbox">

  {%if editMode%}
    <h3>{%trans "Edit cat"%}: <span class="fc-green txtB">{{requestGET.edit}}</span></h3>
  {%else%}
    <h3>{%trans "Add new cat"%}</h3>
  {%endif%}

  <form method="post" autocomplete="off">
    {{block('catName')}}

    {{block('iMaxSale')}}
    {{block('catDefault')}}

    {%if editMode%}
      {%if productCount.count > 10%}
      <div class="msg mT10 danger">{%trans "All product by this cat changed to new value"%} <span class="txtB">{%trans "Count"%} {{productCount.count | fitNumber}} {%trans "Product"%}</span></div>
      {%elseif productCount.count%}
      <div class="msg mT10 warn2">{%trans "All product by this cat changed to new value"%} <span class="txtB">{%trans "Count"%} {{productCount.count | fitNumber}} {%trans "Product"%}</span></div>
      {%else%}
      <div class="msg mT10 info2">{%trans "No product in this cat"%} <span class="txtB">{%trans "You can delete it now!"%}</span><a href="{{url.pwd}}" data-ajaxify data-data='{"removecat" : "{{productCount.title}}", "type" : "remove"}' data-method='post' class="badge danger floatL">{%trans "Remove"%}</a></div>
      {%endif%}
       <button class="btn primary block mT20">{%trans "Edit"%}</button>
    {%else%}
       <button class="btn primary block mT20">{%trans "Add"%}</button>
    {%endif%}
  </form>
</div>
{%endblock%}




{% block catDefault %}
  <div class="switch1 mT10">
   <input type="checkbox" name="catdefault" id="catdefault" {%if requestGET.edit.default%} checked {%endif%}>
   <label for="catdefault"></label>
   <label for="catdefault">{%trans "Is default cat?"%}</label>
  </div>
{%endblock%}



{%block iNumberType%}
<div class="mT20">
  <label for="type">{%trans "Decimal or Integer"%}</label>
  <select name="type" class="ui dropdown select">
    <option value="" readonly>{%trans "Decimal or Integer"%}</option>
    <option value="decimal" {%if dataRow.type == 'decimal' %}selected {%endif%}>{%trans "Decimal"%}</option>
    <option value="integer" {%if dataRow.type == 'integer' %}selected{%endif%}>{%trans "Integer"%}</option>
  </select>
</div>
{%endblock%}


{%block iMaxSale%}
<div class="mT10">
  <label for="imaxsale">{%trans "Max sale from this cat"%}</label>
  <div class="input">
     <input type="number" name="maxsale" id="imaxsale" placeholder='{%trans "For example 100"%}' value="{{requestGET.edit}}" autofocus maxlength='50' minlength="1"  >
  </div>
</div>
{%endblock%}



{%block catName%}
<label for="icatname">{%trans "Cat name"%}</label>
<div class="input">
  <input type="hidden" name="oldcat" value="{{requestGET.edit}}">
  <input type="text" name="cat" id="icatname" placeholder='{%trans "Cat name"%}' value="{{requestGET.edit}}" autofocus maxlength='50' minlength="1"  required>
</div>
{%endblock%}



{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead class="">
      <tr>
        <th>{%trans "Cat"%}</th>
        <th>{%trans "Count product"%}</th>

        <th>{%trans "Type"%}</th>
        <th>{%trans "Max sale"%}</th>
        <th>{%trans "Action"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr class="{%if value.status == 'disable'%} negative{%else%} positive{%endif%}" {%if value.default%} title='{%trans "Is default"%}' {%endif%}>
        <td>
          {%if value.default%}<i class="sf-check fc-green"></i>{%endif%}
          {%if not value.title and value.title != '0' %}<small class="fc-mute">{%trans "Without Cat"%}</small>{%else%}{{value.title}}{%endif%}</td>
        <td><a href="{{url.here}}/product?cat={{value.title}}">{{value.count | fitNumber}}</a></td>

        <td>{%set myType = value.type | capitalize%}{%trans myType%}</td>
        <td>{{value.maxsale | fitNumber}}</td>

        <td>
          <a href="{{url.this}}/cats?edit={{value.title}}" class="badge primary">{%trans "Edit"%}</a>
          <a href="{{url.here}}/product?cat={{value.title}}" class="badge success">{%trans "Products"%}</a>
          {%if not value.count%}
          <a href="{{url.pwd}}" data-ajaxify data-data='{"removecat" : "{{value.title}}", "type" : "remove"}' data-method='post' class="badge danger">{%trans "Remove"%}</a>
          {%endif%}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{%endblock%}



