{%extends display.admin%}


{%block pageContent%}

<div class="cbox p0">
	<form method="get" action="{{url.this}}" autocomplete="off" data-action>
		{%if requestGET.oid%}
			<input type="hidden" name="oid" value="{{requestGET.oid}}">
		{%endif%}

		{%if requestGET.id%}
			<input type="hidden" name="oid" value="{{requestGET.id}}">
		{%endif%}
		<label for="productid">{%trans "Choose product"%}</label>
		<select name="id" id="productid" class="ui dropdown search selection" data-source='{{url.here}}/sale?json=true&q={query}'>
			<option value="">{%trans "Choose product"%}</option>
		</select>

			<label for="date" >{%trans "Show Price in special date"%} <b>{%trans "yyyy/mm/dd"%}</b></label>
			<div class="input">
			<input class="ltr" type="text" placeholder="yyyy/mm/dd" data-format="date" name="date" id="date" value="{{requestGET.date}}" autocomplete='off'>
			</div>


		<div class="txtRa">
			<button class="btn success mT10">{%trans "Show chart"%}</button>
		</div>
	</form>
</div>
{%if productDataRow%}
<div class="msg fs14">
	<div class="f">
		<div class="c s12">{{productDataRow.title}}</div>
		<div class="c s12">{%if productDataRow.price%} {%trans "Price"%} {{productDataRow.price | fitNumber}}{%endif%}</div>
		<div class="cauto"><a class="btn secondary" href="{{url.here}}/products/edit?id={{productDataRow.id}}">{%trans "Edit"%}</a></div>
	</div>
</div>
{%endif%}

{%if specialDate%}
<h4>{%trans "Show change price in special date"%}</h4>
<div class="tblBox">
	<table class="tbl1 v1 fs12">
		<thead>
			<tr>
				<th>{%trans "Buy price"%}</th>
				<th>{%trans "Price"%}</th>
				<th>{%trans "Discount"%}</th>
				<th>{%trans "Final price"%}</th>
				<th>{%trans "Start date"%}</th>
				<th>{%trans "End date"%}</th>
			</tr>
		</thead>
		<tbody>
			{%for key, value in specialDate%}
				<tr>
					<td>{{value.buyprice | fitNumber}}</td>
					<td>{{value.price | fitNumber}}</td>
					<td>{{value.discount | fitNumber}}</td>
					<td>{{value.finalprice | fitNumber}}</td>
					<td>{{value.startdate | dt}}</td>
					<td>{{value.enddate | dt}}</td>
				</tr>
			{%endfor%}
		</tbody>

	</table>
</div>
{%endif%}


<div class="f justify-center">
	<div class="c11">
		<div id="chartdiv" class="chart"></div>
	</div>
</div>

{%endblock%}




{%block foot_js%}
<script>
{%include 'content_a/pricehistory/chart.js'%}
</script>
{%endblock%}