/* Initial CSS */
body[data-in='enter']{
	background-color:#d7d8d8;
	background-image:url('../siftal/images/bg/1.jpg');
	background-repeat:repeat;
	background-size:cover;
	display:-webkit-box !important;
	display:-webkit-flex !important;
	display:-ms-flexbox !important;
	display:-moz-box !important;
	display:flex !important;
	-webkit-box-pack:center !important;
	-webkit-justify-content:center !important;
	-ms-flex-pack:center !important;
	-moz-box-pack:center !important;
	justify-content:center !important;
	-webkit-box-align:center !important;
	-webkit-align-items:center !important;
	-ms-flex-align:center !important;
	-moz-box-align:center !important;
	align-items:center!important;
	background-attachment:fixed;
	position:relative;
	min-height:100%;

	@include select-none();
}
[data-in='enter'].bg1{background-image:url('../siftal/images/bg/1.jpg')}
[data-in='enter'].bg2{background-image:url('../siftal/images/bg/2.jpg')}
[data-in='enter'].bg3{background-image:url('../siftal/images/bg/3.jpg')}
[data-in='enter'].bg4{background-image:url('../siftal/images/bg/4.jpg')}
[data-in='enter'].bg5{background-image:url('../siftal/images/bg/5.jpg')}
[data-in='enter'].bg6{background-image:url('../siftal/images/bg/6.jpg')}
[data-in='enter'].bg7{background-image:url('../siftal/images/bg/7.jpg')}
[data-in='enter'].bg8{background-image:url('../siftal/images/bg/8.jpg')}
[data-in='enter'].bg9{background-image:url('../siftal/images/bg/9.jpg')}
[data-in='enter'].bg10{background-image:url('../siftal/images/bg/10.jpg')}
[data-in='enter'].bg11{background-image:url('../siftal/images/bg/11.jpg')}
[data-in='enter'].bg12{background-image:url('../siftal/images/bg/12.jpg')}
[data-in='enter'].bg12{background-image:url('../siftal/images/bg/12.jpg')}
[data-in='enter'].bg13{background-image:url('../siftal/images/bg/13.jpg')}
[data-in='enter'].bg14{background-image:url('../siftal/images/bg/14.jpg')}
[data-in='enter'].bg15{background-image:url('../siftal/images/bg/15.jpg')}

/* Layout */
[data-in='enter'] #enter{width:20%;min-width:380px;max-width:450px;min-height:370px;margin:5px auto 50px;padding:30px;background-color:rgba(255,255,255,0.2);border-radius:5px;box-shadow:0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0, 0, 0, 0.05);transition:0.3s;color:#fff;}
[data-in='enter'] #enter.large{height:400px}
[data-in='enter'] #band{position:relative;width:100px;height:10px;margin:0 auto 20px;border-radius:5px;background-color:rgba(0,0,0,.25)}
[data-in='enter'] #band::before{position:absolute;right:0;bottom:10px;left:0;width:50%;height:3000px;margin:auto;content:'';background-color:rgba(255,255,255,0.7);box-shadow:0px -5px 5px #757575;border-radius:0}
[data-in='enter'] .logo{margin:0}
[data-in='enter'] .logo a{display:block;border-radius:50%}
[data-in='enter'] .logo a:hover img{background-color:rgba(0,0,0,0.1);}
[data-in='enter'] .logo a:focus img{background-color:rgba(0,0,0,0.2);}
[data-in='enter'] .logo a:active img{background-color:rgba(0,0,0,0.3);}
[data-in='enter'] .logo img{display:block;max-width:100%;height:90px;width:90px;margin:0 auto;transition:0.3s;overflow:hidden;text-align:center;background-color:rgba(0,0,0,0.05);padding:2px;border-radius:50%;}
[data-in='enter'] .logo span{display:none !important}
[data-in='enter'] h2{font-size:1.1em;overflow:hidden;margin:10px 0;text-align:center;color:#fff;line-height:1.7em;}
[data-in='enter'] h2 abbr{cursor:pointer;}
[data-in='enter'] .text p{font-size:1.2em;line-height:2em;margin-bottom:2em;transition:0.3s;padding:0.5em}
[data-in='enter'] .text p:hover{background-color:rgba(0,0,0,0.1);}
[data-in='enter'] .text a{color:#eee;padding:1em 0.5em;display:inline-block;transition:0.3s;}
[data-in='enter'] .text a:hover{background-color:rgba(255,255,255,0.1);}
/* sessions style*/
[data-in='enter'] .sessions > div{font-size:1.1em;line-height:2em;margin-bottom:2em;transition:0.3s;padding:0.5em;position:relative;}
[data-in='enter'] .sessions > div:hover{background-color:rgba(0,0,0,0.1);}
[data-in='enter'] .sessions > div abbr{float:right;}
[data-in='enter'] .sessions .browser{font-weight:700;}
[data-in='enter'] .sessions .os{color:#eee}
[data-in='enter'] .sessions .ip{color:#ddd}
[data-in='enter'] .sessions .lastseen{color:#ddd;position:absolute;right:0.5em;top:0.5em;}
[data-in='enter'] .sessions a{background-color:#eee;opacity:0;padding:0.2em 1em;display:inline-block;color:#333;border:2px solid transparent;position:absolute;right:0.5em;bottom:0.5em;transition:0.3s}
[data-in='enter'] .sessions > div:hover a{opacity:0.5}
[data-in='enter'] .sessions a:hover{border-color:#cab530;opacity:0.6;}
[data-in='enter'] .sessions a:focus{border-color:#444;opacity:0.8;}
[data-in='enter'].rtl .sessions .lastseen{left:0.5em;right:inherit;}
[data-in='enter'].rtl .sessions a{left:0.5em;right:inherit;}

[data-in='enter'] footer a{color:#eee;font-size:1em;padding:1em 1em;transition:0.3s;display:block;}
[data-in='enter'] footer a:hover{background-color:rgba(0,0,0,0.1)}
[data-in='enter'] footer a:focus{background-color:rgba(0,0,0,0.2)}
[data-in='enter'] footer a:last-child{text-align:right;}
[data-in='enter'].rtl footer a:last-child{text-align:left;}

/* form new styles*/
[data-in='enter'] form{line-height:30px;font-size:1.8em;overflow:hidden;}
[data-in='enter'] form p{font-size:0.8em;}
[data-in='enter'] form .flex{border-radius:3px;height:50px;margin:1rem 0;}
[data-in='enter'] form .flex.hide{display:none!important;}
[data-in='enter'] form .flex label{padding:0;border:none;direction:ltr;min-width:50px;width:50px;background-color:rgba(0,0,0,0.2);color:#ddd;transition:0.3s;text-align:center;font-size:0.8em;line-height:50px;outline:none;}
[data-in='enter'] form .flex label:hover{background-color:rgba(0,0,0,0.3);}
[data-in='enter'] form .flex label a:active{background-color:rgba(0,0,0,0.3);}
[data-in='enter'] form .flex label i{margin:0;display:block;}
[data-in='enter'] form .flex label a{color: #fff;display:block;line-height:50px;}
[data-in='enter'] form .flex input{padding:0 1em;line-height:50px;border:1px solid transparent;direction:ltr;width:100%;background-color:rgba(0,0,0,0.1);color:#eee;transition:0.3s;font-weight:100;}
[data-in='enter'] form .flex input.error{border-color:#ffa000;}
[data-in='enter'] form .flex input:disabled{opacity:0.8}
[data-in='enter'] form .flex input:hover{background-color:rgba(0,0,0,0.15);}
[data-in='enter'] form .flex input:focus{background-color:rgba(0,0,0,0.25);}
[data-in='enter'] form .flex input::-webkit-outer-spin-button, [data-in='enter'] form .flex input::-webkit-inner-spin-button{-webkit-appearance:none;}
[data-in='enter'] form .flex ::-webkit-input-placeholder{color:#ccc;}
[data-in='enter'] label{padding:1em 0;display:block;font-size:0.8em;}
[data-in='enter'] form textarea{min-height:120px;max-height:200px;padding:1em;line-height:2em;background-color:rgba(0,0,0,0.1);color:#eee;font-size:0.8em;min-width:100%;}
/* custom style for some inputs*/
[data-in='enter'] form #emobile label{
	font-size:30px;
	line-height:40px;
}
[data-in='enter'] form #eramz label,
[data-in='enter'] form #eramzNew label,
[data-in='enter'] form #displaynameBox label,
[data-in='enter'] form #eusername label{
	font-size:21px;
	line-height:50px;
}

[data-in='enter'] .agreement{
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 1.1rem;
	line-height: 2rem;
	padding: 5px 1em;
	color: #ddd;
}
[data-in='enter'] .agreement a{
	color: #fff;
	font-weight: 700;
}

[data-in='enter'] form #email, [data-in='enter'] form #emailNew{font-size:0.8em;}

/* change style of autocomplete*/
[data-in='enter'] input:-webkit-autofill,[data-in='enter'] input:-webkit-autofill:hover,[data-in='enter'] input:-webkit-autofill:focus,[data-in='enter'] input:-webkit-autofill{border: none;-webkit-text-fill-color: #fff;-webkit-box-shadow: 0 0 0px 1000px #000 inset;transition: background-color 0.3 ease-in-out 0s;}
[data-in='enter'].loading-form{cursor:progress;}
[data-in='enter'] form .flex button{line-height:30px;width:100%;padding:10px;cursor:pointer;border:none;border-radius:3px;outline:none;background-color:#0275d8;color:#fff;opacity:0.6;transition:0.3s}
[data-in='enter'] form .flex button:hover{opacity:0.8}
[data-in='enter'] form .flex button:focus{opacity:1}
[data-in='enter'] form .flex button:disabled{opacity:0.5;cursor:not-allowed;background-color:#0d3050;}
[data-in='enter'].loading-form form .flex button:after{content:"\e188";font-family:"siftal","tahoma" !important;display:inline-block;float:right; padding:5px;font-size:1.2em;line-height:1;vertical-align:middle;animation:spiner 1s ease infinite;animation:spiner 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;}
[data-in='enter'].loading-form.rtl form .flex button:after{float:left;}
[data-in='enter'] form .link{color:#eee;font-size:11px;padding:5px 10px;transition:0.3s;display:block;}
[data-in='enter'] form .link:hover{background-color:rgba(0,0,0,0.1)}
[data-in='enter'] form .link:focus{background-color:rgba(0,0,0,0.2)}
[data-in='enter'] form .link:active{background-color:rgba(0,0,0,0.3);text-decoration:none;}


[data-in='enter'] hr{margin-bottom:1em;}
[data-in='enter'] #eMethods{font-size:0.5em;font-weight:100;}
[data-in='enter'] #eMethods p{font-size:1.4em;}
[data-in='enter'] #eMethods a{height:40px;line-height:40px;margin:5px;background-color:rgba(0,0,0,0.5);transition:0.3s;display:inline-block;color:#eee;border-radius:3px;overflow:hidden;min-width:40%;}
[data-in='enter'] #eMethods a:hover{opacity:0.8}
[data-in='enter'] #eMethods a:focus{opacity:0.7}
[data-in='enter'] #eMethods a i{width:40px;height:40px;min-width:40px;float:left;margin:0 10px 0 0;font-size:18px;}
[data-in='enter'] #eMethods a span{display:block;width:100%;height:100%;font-size:1.2em;}
[data-in='enter'] #eMethods a abbr{display:none}
[data-in='enter'] #eMethods a.active{background-color:rgba(0,0,0,0.8);display:none;}
[data-in='enter'].rtl #eMethods a i{float:right;margin:0 0 0 10px;}

[data-in='enter'] #eMethods #ebgoogle{min-width:150px;}
[data-in='enter'] #eMethods #ebgoogle i{background-color:#DD4B39;padding-top:3px;}
[data-in='enter'] #eMethods #ebmobile{min-width:150px;}
[data-in='enter'] #eMethods #ebmobile svg{margin:0;}
[data-in='enter'] #eMethods #ebusername{min-width:170px;}

[data-in='enter'].rtl #eMethods #ebgoogle{min-width:110px;}
[data-in='enter'].rtl #eMethods #ebmobile{min-width:120px;}
[data-in='enter'].rtl #eMethods #ebusername{min-width:160px;}

[data-in='enter'] .radio1{background-color: rgba(255,255,255,0.1);padding:5px 10px;margin-bottom:5px;}
[data-in='enter'] .radio1 label{font-size: 11px;font-weight:400;}
[data-in='enter'] .radio1 label:first-of-type::before{border-color: #eee;}
[data-in='enter'] .radio1 label:first-of-type:hover::before{border-color:#fff}

/*langlist*/
[data-in='enter'] .langlist{position:absolute;bottom:0;left:0;padding:1em;display: none}
[data-in='enter'][data-page="home"] .langlist{display: block}
[data-in='enter'].rtl .langlist{left:inherit;right:0;}
[data-in='enter'] .langlist a{display:inline-block;padding:1em 2em;color:#fff;background-color:#000;transition:0.3s;opacity:0.3;margin:0 0.5em;}
[data-in='enter'] .langlist a:hover{opacity:0.6;}
[data-in='enter'] .langlist a:focus{opacity:8;background-color:#000;color:#fff;}
/*type effect*/
[data-in='enter'] .typed-cursor{opacity:1;-webkit-animation:blink 0.7s infinite;-moz-animation:blink 0.7s infinite;animation:blink 0.7s infinite}
@keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
@-webkit-keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
@-moz-keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
[data-in='enter'] .typer__cursor--blink{-webkit-animation:blink 1s infinite;-moz-animation:blink 1s infinite;animation:blink 1s infinite}
@-webkit-keyframes blink{ 0%{opacity:1} 100%{opacity:0} }
@-moz-keyframes blink{ 0%{opacity:1} 100%{opacity:0} }
@keyframes blink{ 0%{opacity:1} 100%{opacity:0} }



/* responsive design*/
@media all and (min-width:768px) and (max-width:991px) {

}

@media all and (max-width:767px) {
 [data-in='enter'] #enter{min-width:300px;min-height:300px; padding:10px 20px;width:50%;margin-bottom:42px;}
 [data-in='enter'] form .flex{margin: 5px 0;height:40px;}
 [data-in='enter'] .langlist{position:absolute;}
 [data-in='enter'] #eMethods a{height:30px;line-height:30px;}
 [data-in='enter'] form .flex label{line-height: 40px;}
 [data-in='enter'] form .flex label a{line-height: 40px;}
 [data-in='enter'] form #eramz label, [data-in='enter'] form #eramzNew label, [data-in='enter'] form #displaynameBox label, [data-in='enter'] form #eusername label{line-height:40px;}
 [data-in='enter'] form .flex button{padding:5px 10px;}
 [data-in='enter'] form .flex input{line-height:40px;}
}

/* Design for print */
@media print {
  [data-in='enter'] footer{display:none;}
}
