{%extends 'content_pardakhtyar/layout.html'%}



{%block pageContent%}
{%if actionList%}
	{%for key, value in actionList%}
		<div class="msg primary">
			<h2>{{key}}</h2>
			<div class="txtL">
				<div class="btn warn" data-confirm data-data='{{value | json_encode}}'>Run request</div>
			</div>
		</div>
	{%endfor%}
{%endif%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}'>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus  data-pass='submit' autocomplete='off'>
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead>
      <tr>
        <th>{%trans "Action"%}</th>
        <th>{%trans "Tracking Number"%}</th>
        <th>{%trans "Public detail"%}</th>
        <th>{%trans "Iranian Detail"%}</th>

        <th>{%trans "Company Detail"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.status=='disable'%} class='negative'{%endif%}>
        <td class="collapsing">
          <a href="{{url.this}}/show?id={{value.id}}" class="btn danger xs">Show detail</a>
          {%if  value.response_txt%}
          <small class="block">{{value.response_txt}}</small>
          {%endif%}

        </td>
        <td>
          {{value.datecreated |dt('human', 'year')}}
	        <div><small>{%trans "trackingNumber"%}</small> <b>{{value.trackingNumber}}</b></div>
	        <div><small>{%trans "trackingNumberPsp"%}</small> <b>{{value.trackingNumberPsp}}</b></div>
        </td>

        <td>
          <div><small>{%trans "requestType"%}</small> <b>{{value.requestType}}</b></div>
        </td>

        <td>
			    <div><small>{%trans "request_id"%}</small> <b>{{value.request_id}}</b></div>
	        <div><small>{%trans "user_id"%}</small> <b>{{value.user_id}}</b></div>
        </td>



        <td>

	        <div><small>{%trans "sendtime"%}</small> <b>{{value.sendtime}}</b></div>
	        <div><small>{%trans "responsetime"%}</small> <b>{{value.responsetime}}</b></div>
	        <div><small>{%trans "diff"%}</small> <b>{{value.diff}}</b></div>
	        <div><small>{%trans "datecreated"%}</small> <b>{{value.datecreated}}</b></div>
	        <div><small>{%trans "datemodified"%}</small> <b>{{value.datemodified}}</b></div>
        </td>

      </tr>

      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/customer">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/customer">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} No check list found</p>
{%endblock%}

