{%extends display.admin%}



{%block pageContent%}

<div id="get_started_card">
  <div class="body">
    <div class="pad">
      <h1>{{page.title}}</h1>
      <p>{%trans "Based on your country some of our options will be changed."%}</p>
      <form method="post" autocomplete="off">

		    {{block('iCountry')}}
        {{block('iProvince')}}
		    {{block('iCity')}}
		    {{block('iAddress')}}

        {{block('iPostcode')}}
        {{block('iPhone')}}


        <div class="f align-center mB10">
          <div class="c fc-mute">{{stepDesc}}</div>
          <div class="cauto os"><button class="btn primary">{%trans "Save"%}</button></div>
        </div>

      </form>
    </div>
  </div>
</div>
{%endblock%}





{%block iCountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <select class="select22" name="country" id="country" data-model='country' data-next='#province' data-next-default='{{dataRow.province}}'>
    <option value="">{%trans "Choose your country"%}</option>
{%for key, value in countryList%}
      <option value="{{key}}" {%if dataRow.country == key%} selected {%endif%}>{%if value.name%}{%set myCountry = value.name | capitalize%}{{myCountry}}{%if lang.current != 'en'%} - {%trans myCountry%}{%endif%}{%endif%}</option>
{%endfor%}
  </select>
</div>
{%endblock%}


{%block iProvince%}
<div class="mB10" data-status='hide'>
  <label for='province'>{%trans "Province"%}</label>
  <select name="province" id="province" class="select22" data-next='#city' data-next-default='{{dataRow.city}}'>
    <option value="0">{%trans "Please choose country"%}</option>
    <option value="{{dataRow.province}}" selected>{{dataRow.province}}</option>
  </select>
</div>
{%endblock%}


{%block iCity%}
<div class="mB10" data-status='hide'>
  <label for='city'>{%trans "City"%}</label>
  <select name="city" id="city" class="select22">
    <option value="">{%trans "Please choose province"%}</option>
  </select>
</div>
{%endblock%}


{%block iPostcode%}
<label for="postcode">{%trans "Post code"%}</label>
<div class="input">
  <input type="text" name="postcode" id="postcode" value="{{dataRow.postcode}}" data-format="postalCode">
</div>
{%endblock%}


{%block iPhone%}
<label for="iphone">{%trans "Phone"%}</label>
<div class="input">
  <input type="text" name="phone" id="iphone" value="{{dataRow.phone}}" data-format="tel">
</div>
{%endblock%}


{%block iAddress%}
<label for="address">{%trans "Address"%}</label>
<textarea class="txt mB10 pB25" name="address" id="address" maxlength='300' rows="2">{{dataRow.address}}</textarea>
{%endblock%}

