{%extends display.jibresControlLayout%}


{%block pageContent%}

  {{block("htmlSearchBox")}}

<table class="tbl1 v6 fs11">
  <thead>
    <tr>
      <th>{%trans "id"%}</th>
      <th>{%trans "subdomain"%}</th>
      <th>{%trans "title"%}</th>
      <th>{%trans "owner"%}</th>
      <th>{%trans "status"%}</th>
      <th>{%trans "plan"%}</th>
      <th>{%trans "datecreated"%}</th>
      <th>{%trans "dbversion"%}</th>
      <th>{%trans "dbversiondate"%}</th>
      <th>{%trans "creator"%}</th>
    </tr>
  </thead>
  <tbody>
{%for key, value in dataTable%}
    <tr>
      <td><code>{{value.id}}</code></td>
      <td><div class="">{{value.subdomain}}</div></td>
      <td>{{value.title}}</td>
      <td>{{value.owner}}</td>
      <td>{{value.t_status}}</td>
      <td>{{value.t_plan}}</td>
      <td>{{value.datecreated | dt}}</td>
      <td>{{value.dbversion}}</td>
      <td>{{value.dbversiondate | dt}}</td>
      <td>{{value.creator}}</td>
    </tr>
{%endfor%}
  </tbody>
</table>


{%include display.pagination%}

{%endblock%}






{%block htmlSearchBox%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}' data-action>
    {%if requestGET.all%}<input type="hidden" name="all" value="true">{%endif%}
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>

      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}
