
{%extends display.dash%}


{%block sidenav%}

  <li><a href="{{url.baseFull}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
  <li><a href="{{url.baseFull}}/product/summary"><i class="sf-archive"></i>{%trans "Products"%}</a>
  </li>
  {%if module == "product"%}
  <li><a href="{{url.baseFull}}/product"><i class="sf-list"></i>{%trans "Product List"%}</a></li>
  <li><a href="{{url.baseFull}}/product/add"><i class="sf-plus"></i>{%trans "Add new Product"%}</a></li>
  {%endif%}

  <li><a href="{{url.baseFull}}/thirdparty"><i class="sf-users"></i>{%trans "Third Parties"%}</a></li>
  <li><a href="{{url.baseFull}}/factor"><i class="sf-print"></i>{%trans "Factor"%}</a></li>
  {%if module == "sell" or module == "factor"%}
  <li><a href="{{url.baseFull}}/sell"><i class="sf-list"></i>{%trans "List of last sales"%}</a></li>
  <li><a href="{{url.baseFull}}/sell/add"><i class="sf-plus"></i>{%trans "register new sale"%}</a></li>
  {%endif%}
  <li><a href="{{url.baseFull}}/setting/general"><i class="sf-cogs"></i>{%trans "Setting"%}</a></li>
{%endblock%}


{%block foot_js%}

 <script src="{{url.static}}js/JsBarcode.all.min.js"></script>
 <script src="{{url.static}}js/shortkey.js"></script>
{%endblock%}

