
{%extends display.dash%}


{%block sidenav%}

  <li><a href="{{url.baseFull}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>

  <li>
    <a href="{{url.baseFull}}/product/summary"><i class="sf-archive"></i>{%trans "Products"%}</a>
  {%if module == "product"%}
    <ul>
        <li><a href="{{url.baseFull}}/product"><i class="sf-list"></i>{%trans "Product List"%}</a></li>
        <li><a href="{{url.baseFull}}/product/add"><i class="sf-plus"></i>{%trans "Add new Product"%}</a></li>
    </ul>
  {%endif%}
  </li>


  <li>
    <a href="{{url.baseFull}}/thirdparty"><i class="sf-users"></i>{%trans "Third Parties"%}</a>
{%if module == "thirdparty"%}
    <ul>
      <li><a href="{{url.baseFull}}/thirdparty?type=customer"><i class="sf-user"></i>{%trans "Customers"%}</a></li>
      <li><a href="{{url.baseFull}}/thirdparty?type=staff"><i class="sf-user-4"></i>{%trans "Staffs"%}</a></li>
      <li><a href="{{url.baseFull}}/thirdparty?type=supplier"><i class="sf-network"></i>{%trans "Suppliers"%}</a></li>
    </ul>
{%endif%}
  </li>

  <li>
    <a href="{{url.baseFull}}/factor/summary"><i class="sf-print"></i>{%trans "Factor"%}</a>

{%if module == "factor"%}
    <ul>
      <li><a href="{{url.baseFull}}/factor/add"><i class="sf-cart-plus"></i>{%trans "register new sale factor"%}</a></li>
      <li><a href="{{url.baseFull}}/factor?type=sale"><i class="sf-basket"></i>{%trans "List of sales"%}</a></li>
      <li><a href="{{url.baseFull}}/factor?type=buy"><i class="sf-bag"></i>{%trans "List of purchases"%}</a></li>
      <li><a href="{{url.baseFull}}/factor"><i class="sf-list"></i>{%trans "List of all factors"%}</a></li>
    </ul>
{%endif%}

  </li>
  <li>
    <a href="{{url.baseFull}}/setting/general"><i class="sf-cogs"></i>{%trans "Setting"%}</a>
{%if module == "setting"%}
    <ul>
      <li><a href="{{url.baseFull}}/setting/plan"><i class="sf-lamp"></i>{%trans "Store plans"%}</a></li>
      <li><a href="{{url.baseFull}}/setting/factor"><i class="sf-sliders"></i>{%trans "Factor settings"%}</a></li>
    </ul>
{%endif%}
  </li>
{%endblock%}


{%block foot_js%}

 <script src="{{url.static}}{{'js/JsBarcode.all.min.js' | filemtime(true)}}"></script>
 <script src="{{url.static}}{{'js/shortkey.js' | filemtime(true)}}"></script>
{%endblock%}

