{%extends display.admin%}


{%block sidenav%}
{{parent()}}

{%if team is not null%}

<li class="title">{%trans "Team Operation"%} <b>{{current_team.name}}</b></li>
<li><a href="{{url.baseFull}}/{{team}}"><i class="sf-home"></i>{%trans "Team Dashboard"%}</a></li>
{%if is_admin%}
<li><a href="{{url.baseFull}}/{{team}}/member"><i class="sf-users"></i>{%trans "Team Members"%}</a></li>
<li><a href="{{url.baseFull}}/{{team}}/gateway"><i class="sf-enter"></i>{%trans "Gateway"%}</a></li>
{%endif%}
<li><a href="{{url.baseFull}}/{{team}}/report"><i class="sf-analytics-chart-graph"></i>{%trans "Reports"%}</a></li>
{%if is_admin%}
<li><a href="{{url.baseFull}}/{{team}}/setting/general"><i class="sf-cogs"></i>{%trans "Settings"%}</a></li>
{%endif%}

{%if current_team.short_name%}
{%if current_team.privacy=="private" and not is_admin%}
<li title='{%trans "Team is private and you can not see board!"%}'><a class="disabled"><i class="sf-heart-o"></i>{%trans "Board"%}</a></li>
{%else%}
<li><a href="{{url.base}}/{{current_team.short_name}}" data-direct target="_blank"><i class="sf-heart-o"></i>{%trans "Board"%}</a></li>
{%endif%}
{%endif%}

{%endif%}
{%endblock%}


