<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="UTF-8" />
  <title>Jibres Domain</title>
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
  <meta content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.1, user-scalable=0" name="viewport"/>
  <meta content="Jibres is fantastic! new service is comming soon" name="description">
  <meta content="Javad Adib | Jibres" name="author">
  <meta content="summary_large_image" name="twitter:card"/>
  <meta content="https://cdn.jibres.com/img/cover/Jibres-cover-bot-1.jpg?v=2" name="twitter:image"/>
  <link href="https://cdn.jibres.com/css/jibres.min.css?1585664188" rel="stylesheet"/>
  <link href="https://cdn.jibres.com/css/jibres-domain-pin.css" rel="stylesheet" type="text/css">
  <link href="http://cdn.jibres.local/css/jibres-domain-pin.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="https://cdn.jibres.com/favicons/favicon-64x64.png" type="image/x-icon" />
 </head>
 <body class="domainPin">
 	<main>
 		<h1>Domain Name</h1>
    <h2>This domain is registered by <a target="_blank" href="https://jibres.com">Jibres</a></h2>
 	</main>
 </body>
</html>