<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <title>Jibres Emergency Domain</title>
  <base href="/">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
  <meta name="viewport"     content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description"  content="Jibres is fantastic! new service is comming soon">
  <meta name="author"       content="Javad Adib | Jibres">
  <link href="https://cdn.talambar.com/css/siftal.min.css?1585664187" rel="stylesheet"/>
  <link href="http://cdn.talambar.local/page/special/jibres-special-page.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="https://cdn.talambar.com/favicons/favicon-64x64.png" type="image/x-icon" />
 </head>
 <body>

   <div class="wedbox">
    <div class="wed-title">Jibres <span>is amazing</span></div>
    <div class="wed-date">Emergency domain</div>
    <form method="post" class="txtC mT10">
      <input type="hidden" name="emergencydomain" value="emergencydomain">
      <button class="btn secondary">Enter</button>
    </form>
   </div>

  <div id="maximage" class="mc-cycle"><div class="mc-image bg1"></div></div>
  <div class="mesh"></div>
 </body>
</html>