<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <title>Jibres</title>
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
  <meta name="viewport"     content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description"  content="Do not open Jibres on iframe">
  <style type="text/css">
  body{overflow:hidden;}
  body::after{content: "";position: fixed;top: 0;bottom: 0;right: 0;left: 0;width: 100%;background-color: #c80a5a;background: #c80a5a url(https://cdn.talambar.com/logo/icon-white/svg/Jibres-Logo-icon-white.svg) no-repeat center center;background-size: 70vh}
  </style>
 </head>
 <body></body>
</html>