{%extends display.dash%}



{%block pageContent%}

{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}




{%block htmlSearchBox1%}
<div class="cbox fs12">
  <form method="get" action='{{url.this}}/log{{moduleType}}' data-action>
    <div class="input">
      <input type="search" name="q" placeholder='{%trans "Search"%}' id="q" value="{{requestGET.q}}" autofocus autocomplete='off'>
      {%if requestGET.type%}
      <input type="hidden" name="type" value="{{requestGET.type}}">
      {%endif%}
      <button class="addon btn ">{%trans "Search" %}</button>
    </div>
  </form>
</div>
{%endblock%}


{%block htmlTable%}

  <table class="tbl1 v1 mB10 fs12">
    <thead class="">
      <tr>
        <th>{%trans "User"%}</th>
        <th>{%trans "Date"%}</th>
        <th>{%trans "Agent"%}</th>
        <th>{%trans "Status"%}</th>
        <th>{%trans "URL"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td class="collapsing">
        {%if value.user_id%}
        <a href="{{url.this}}/log?user={{value.user_id}}">
          <img src="{%if value.avatar%}{{value.avatar}}{%else%}{{url.static}}/siftal/images/default/avatar.png{%endif%}" class="avatar mRa5" alt="{{value.displayname}}">
          <span class="txtB s0 fs08">{{value.displayname}}</span>
        </a>
        <div class="txtRa fs08">
          <a title='{%trans "Mobile"%}'>{{value.mobile | fitNumber('mobile12')}}</a>
          <a href="{{url.this}}/log?userid={{value.user_id}}" class="badge" title='{%trans "User id"%}'>{{value.user_id | fitNumber(false)}}</a>
        </div>

        <span class="badge">{{value.id | fitNumber(false)}}</span>
        <nav class="txtRa">
          <a href="{{url.this}}/log?user_id={{value.user_id}}" title='{%trans "User logs"%}'><i class="sf-briefcase"></i></a>
          <a href="{{url.kingdom}}/crm/member/glance?id={{value.user_id}}" title='{%trans "User Profile"%}'><i class="sf-user-md"></i></a>
          <a title='{%trans "Search by user session id"%}' href="{{url.this}}/log?session_id={{value.session_id}}"><i class="sf-user-secret"></i></a>
        </nav>
        {%else%}
        <a href="{{url.this}}/log?session_id={{value.session_id}}">
          <img src="{{url.static}}/siftal/images/default/avatar.png" class="avatar mRa5" alt='{%trans "Guest"%}'>
          <span class="txtB s0 fs08">{%trans "Guest"%}</span>
        </a><br>
        <span class="badge">{{value.id | fitNumber(false)}}</span>
        <br>
        <span class="badge">{{value.session_id}}</span>

        {%endif%}
      </td>
      <td class="collapsing txtL">
        <a href="{{url.this}}/log?date={{value.date | date('Y-m-d')}}">{{value.date | dt(false, 'date')}}</a><br>
        <b><a href="{{url.this}}/log?time={{value.date | date('H:i:s')}}">{{value.date | dt(true, 'time')}}</a></b>
          <br>
          <small><a href="{{url.this}}/log?datetime={{value.date}}">{{value.date | dt('human')}}</a></small>
        {%if value.avgtime%}
          <br>
          <samp title='{%trans "Avg time"%}' class="badge success"><a href="{{url.this}}/log?avgtime={{value.avgtime}}">{{value.avgtime}}</a></samp>
        {%endif%}
      </td>
      <td class="collapsing ltr txtL">
        <div class="badge light"><a href="{{url.this}}/log?group={{value.group}}">{{value.group | capitalize}}</a></div><br>
        <div class="badge info"><a href="{{url.this}}/log?name={{value.name}}">{{value.name | capitalize}}</a></div><br>
        <div class="badge info2"><a href="{{url.this}}/log?version={{value.version}}">{{value.version | fitNumber(false)}}</a></div><br>
        <div class="badge primary2"><a href="{{url.this}}/log?os={{value.os}}">{{value.os}}</a></div>

      </td>
      <td class="collapsing ltr txtL">

        <span title='{%trans "Status code"%}' class="badge secondary"><a href="{{url.this}}/log?statuscode={{value.statuscode}}">{{value.statuscode}}</a></span><br>
        <span title='{%trans "Method"%}' class="badge danger"><a href="{{url.this}}/log?method={{value.method}}">{{value.method}}</a></span><br>
        {%if value.country%}
        <span title='{%trans "Country"%}' class="badge light"><a href="{{url.this}}/log?country={{value.country}}">{{value.country}}</a></span><br>
        {%endif%}
        <span title='{%trans "IP"%}' class="badge warn"><a href="{{url.this}}/log?visitor_ip={{value.visitor_ip}}">{{value.visitor_ip | fitNumber(false)}}</a></span><br>
        {%if value.subdomain%}
        <span class="badge primary"><a href="{{url.this}}/log?subdomain={{value.subdomain}}">{{value.subdomain}}</a></span><br>
        {%endif%}
        <span title='{%trans "Domain"%}' class="badge light"><a href="{{url.this}}/log?domain={{value.domain}}">{{value.domain}}</a></span><br>
      </td>
      <td class="ltr txtL pRa10">
        <span title="{{value.path}}" class="txtB ltr">
          <a href="{{url.this}}/log?pwd={{value.pwd}}">{{value.pwd}}</a>
          <a href="{{value.pwd}}" data-direct target="_blank"><i class="sf-link"></i></a>
        </span><br>
        {%if value.ref_pwd%}
        <br>
        <span title='{%trans "Referer url"%}' class="badge pain ltr"><a href="{{url.this}}/log?ref_pwd={{value.ref_pwd}}">{{value.ref_pwd}}</a></span>
          <a href="{{value.ref_pwd}}" data-direct target="_blank"><i class="sf-link"></i></a>
        {%endif%}
      </td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.here}}/visitor/log{{moduleType}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.here}}/visitor/log{{moduleType}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%} <a href="{{url.here}}/visitor/add{{moduleType}}">{%trans "Try to start with add new record!"%}</a></p>
{%endblock%}





{%block pageSteps%}
  <div class="f">

   <div class="c">
    <a class="dcard {%if requestGET.status == 'publishde' or not requestGET.status %}active{%endif%}" href='{{url.this}}/log{%if requestGET.type%}?type={{requestGET.type}}{%endif%}' data-shortkey="49ctrlshift" title='{%trans "All publish visitor"%}'>
     <div class="statistic">
      <div class="value"><i class="sf-publish"></i></div>
      <div class="label">{%trans "Published"%} <kbd class=" hide mT5">Shift+1</kbd></div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'draft' %}active{%endif%}" href='{{url.this}}/log?status=draft{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="50ctrlshift" title='{%trans "All draft visitor"%}'>
     <div class="statistic">
      <div class="value"><i class="sf-edit"></i></div>
      <div class="label">{%trans "Draft"%} <kbd class=" hide mT5">Shift+2</kbd></div>
     </div>
    </a>
   </div>

   <div class="c">
    <a class="dcard {%if requestGET.status == 'deleted' %}active{%endif%}" href='{{url.this}}/log?status=deleted{%if requestGET.type%}&type={{requestGET.type}}{%endif%}' data-shortkey="51ctrlshift" title='{%trans "All trash visitor"%}'>
     <div class="statistic">
      <div class="value"><i class="sf-trash"></i></div>
      <div class="label">{%trans "Deleted"%} <kbd class=" hide mT5">Shift+2</kbd></div>
     </div>
    </a>
   </div>



  </div>
{%endblock%}