// type of displays
.block{display:block;width:100%;}
.compact{display:inline-block}

// border radius
.circle{@include border-radius(50%)}
.rounded{@include border-radius(10rem)}
.radius5px{@include border-radius(5px)}
.radius10px{@include border-radius(10px)}
.radius1em{@include border-radius(10em)}


.box50{display:block;margin:0 auto;width:50px;overflow:hidden;}
.box100{display:block;margin:0 auto;width:100px;overflow:hidden;}
.box200{display:block;margin:0 auto;width:200px;overflow:hidden;}
.box300{display:block;margin:0 auto;width:300px;overflow:hidden;}
.box400{display:block;margin:0 auto;width:400px;overflow:hidden;}
.box500{display:block;margin:0 auto;width:500px;overflow:hidden;}
.box600{display:block;margin:0 auto;width:600px;overflow:hidden;}
.box700{display:block;margin:0 auto;width:700px;overflow:hidden;}
.box800{display:block;margin:0 auto;width:800px;overflow:hidden;}
.box900{display:block;margin:0 auto;width:900px;overflow:hidden;}
.box1000{display:block;margin:0 auto;width:1000px;overflow:hidden;}


[data-confirm]{cursor:pointer}

// sizes
.xs{
	font-size: 60%;
}
.sm{
	font-size: 85%;
}
.lg{
	font-size: 120%;
}
.xl{
	font-size: 150%;
}

.disabled-f, :disabled{
	pointer-events: none;
	cursor: not-allowed;
	opacity:0.6;
}
.loading-form form{
	cursor:progress;
}
.loading-form form :disabled{
	pointer-events: auto;
	cursor: progress;
}
.loading-form form.submitedForm :disabled{
	cursor: wait;
}
.disabled{
	opacity:0.6;
}

.txtR{
	text-align: right!important;
}

.txtL{
	text-align: left!important;
}
.txtC{
	text-align: center!important;
}

.ltr .txtRa{
	text-align: right!important;
}
.rtl .txtRa{
	text-align: left!important;
}

.ltr .txtLa{
	text-align: left!important;
}
.rtl .txtLa{
	text-align: right!important;
}

.txtB{
	font-weight:700!important;
}

.fadeIn{
	display:none;
}

