
<div class="factor printArea" data-size='receipt8'>

{%block headerArea%}{%endblock%}

{%block storeDetailArea%}
{%if currentStore.logo_raw %}
  <div class="logo txtC midSize">
   <img src="{{currentStore.logo}}" alt="{{currentStore.name}}">
  </div>
{%endif%}

 <div class="f storeDetail fs12 txtC">
  <div class="c">
   <h1>{{currentStore.name}}</h1>
   <address>
    <div class="address">{{currentStore.address}}</div>
    <div class="f">
     <div class="phone">{{currentStore.phone | fitNumber(false)}}</div>
     <div class="website">{{currentStore.website}}</div>
    </div>
   </address>
   <div class="desc mB5">{{currentStore.desc}}</div>
  </div>
 </div>
{%endblock%}


{%block factorHeader%}
{%if currentStore.factorheader%}
<hr>
<p class="factorHeader fs12 txtC">
{{currentStore.factorheader | raw | nl2br}}
</p>
{%endif%}
{%endblock%}

{%block customerDetailArea%}

{%if factorDetail.factor.customer %}
<hr>
<div class="customerDetail fs12 txtC">
  <div class="fs14">{%trans "Customer Detail"%}</div>
{%if factorDetail.factor.customer_displayname%}
  <div class="pA10"><span class="txtB">{{factorDetail.factor.customer_displayname}}</span></div>
{%endif%}

{%if factorDetail.factor.customer_address%}
  <div class="pA10">{%trans "Address"%} <span class="txtB">{{factorDetail.factor.customer_address}}</span></div>
{%endif%}

{%if factorDetail.factor.customer_phone%}
  <div class="pA10">{%trans "Tel"%} <span class="txtB ltr compact">{{factorDetail.factor.customer_phone | fitNumber('false')}}</span></div>
{%endif%}

{%if factorDetail.factor.customer_mobile%}
  <div class="pA10">{%trans "Mobile"%} <span class="txtB ltr compact">{{factorDetail.factor.customer_mobile | fitNumber('mobile')}}</span></div>
{%endif%}


</div>
{%endif%}
{%endblock%}

{%block factorDetailArea%}
 <div class="f factorDetail fs12 mB10 txtC">
  <div class="c12">
   <div class="datetime">{{factorDetail.factor.date | dt(true) }}</div>
   <div>{%trans "Sale Invoice"%} <code id='barcode' data-val='{{factorDetail.factor.id}}'>{{factorDetail.factor.id}}</code></div>
  </div>
 </div>

{%endblock%}



{%block factorTableArea%}
 <table class="tbl1 v1 fs12 txtC">
  <thead>
   <tr class="fs07">
    <th>{%trans "Name"%}</th>
    <th>{%trans "Qty"%}</th>
    <th>{%trans "Price"%}</th>
{%if factorDetail.factor.detaildiscount%}
    <th>{%trans "Discount"%}</th>
{%endif%}
    <th>{%trans "Sum"%}</th>
   </tr>
  </thead>
  <tbody>
 {%for key, datarow in factorDetail.factor_detail%}
  <tr>
   <td class="fs09 txtLa">{{datarow.title}}</td>
   <td>{{datarow.count | fitNumber(false)}} <small>{{datarow.unit}}</small></td>
   <td>{{datarow.price | fitNumber}}</td>
{%if factorDetail.factor.detaildiscount%}
   <td>{{datarow.discount | fitNumber}}</td>
{%endif%}
   <td>{{datarow.sum | fitNumber}}</td>
  </tr>
 {%endfor%}
  </tbody>

{%if factorDetail.factor.item > 0 and false%}
  <tfoot class="txtC">
   <th>{{factorDetail.factor.item | number_format | fitNumber}}</th>
   <th>{{factorDetail.factor.qty | fitNumber}}</th>
   <th></th>
{%if factorDetail.factor.detaildiscount%}
   <th></th>
{%endif%}
   <th>{{factorDetail.factor.sum | number_format | fitNumber}}</th>
  </tfoot>
{%endif%}

 </table>
{%endblock%}



{%block factorResultArea%}
 <table class="tbl fs14 factorResult mB10">
  <tbody>
{%if factorDetail.factor.detaildiscount%}
   <tr>
     <th class="txtRa fs08">{%trans "Invoice amount"%}</th>
     <td class="collapsing txtLa">{{factorDetail.factor.detailsum | number_format |fitNumber}}</td>
   </tr>
   <tr>
     <th class="txtRa fs08">{%trans "Your total discount and profits"%}</th>
     <td class="collapsing txtLa">{{factorDetail.factor.detaildiscount | number_format |fitNumber}}</td>
   </tr>
{%endif%}
   <tr class="msg info2 factorSum">
     <th class="txtRa fs08">{%trans "Total payable"%}</th>
     <td class="collapsing txtLa">{{factorDetail.factor.sum | number_format |fitNumber}} <small class="fs05">{%trans "Toman"%}</small></td>
   </tr>
  </tbody>

 </table>
{%endblock%}

<div class="barcodeBox">
  <svg class="barcodePrev wide" data-val="#barcode" data-height=20 data-hideValue></svg>
</div>

{%block factorFooter%}
{% if currentStore.factorfooter%}
<hr>
<p class="factorFooter fs14 txtC">
{{currentStore.factorfooter | raw | nl2br}}
</p>
{%endif%}
{%endblock%}


{%block footerArea%}{%endblock%}
{%block footerExtraArea%}{%endblock%}

</div>

