{%extends display.admin%}


{%block pageContent%}
{%if editMode%}
<div class="f justify-center">
  <div class="c5 s12">
    {{block('addNewCompany')}}
  </div>
</div>
{%elseif removeMode%}
    {{block('removeCompany')}}
{%else%}

    {{block('htmlTable')}}
{%endif%}

{%endblock%}




{%block addNewCompany%}
<div class="cbox">

{%if editMode%}
		<h3>{%trans "Edit company"%} <span class="fc-green txtB">{{dataRow.title}}</span></h3>
	{%else%}
		<h3>{%trans "Add new company"%}</h3>
	{%endif%}

  <form method="post" autocomplete="off">
    {{block('companyName')}}


    {%if editMode%}

      {%if dataRow.count%}
        <p class="msg mT10 {%if dataRow.count > 10%}danger{%else%}warn2{%endif%}">{%trans "By update name of this company all product will be update to new value."%} <a class="badge" href='{{url.here}}/products?companyid={{dataRow.id}}' title='{%trans "Click to check list of this product"%}'>{{dataRow.count | fitNumber}} {%trans "Product"%}</a></p>
      {%else%}
        <p class="msg mT10 info2">{%trans "No product in this company"%}
          <span class="txtB">{%trans "You can delete it now!"%}</span>
          <a href="{{url.this}}/remove?id={{requestGET.id}}" class="badge danger mLa5">{%trans "Remove"%}</a>
        </p>
      {%endif%}

       <div class="f mT20">
          <div class="c pRa10">
            <button class="btn outline warn block">{%trans "Edit"%}</button>
          </div>
          <div class="cauto">
            <a class="btn primary block" href="{{url.this}}">{%trans "Cancel"%}</a>
          </div>
       </div>
    {%else%}
       <button class="btn primary block mT20">{%trans "Add"%}</button>
    {%endif%}
  </form>
</div>
{%endblock%}




{% block companyDefault %}
  <div class="switch1 mT10">
   <input type="checkbox" name="companydefault" id="companydefault" {%if dataRow.title.default%} checked {%endif%}>
   <label for="companydefault"></label>
   <label for="companydefault">{%trans "Is default company?"%}</label>
  </div>
{%endblock%}


{%block iMaxSale%}
<div class="mT10">
  <label for="imaxsale">{%trans "Max sale from this company"%}</label>
  <div class="input">
     <input type="number" name="maxsale" id="imaxsale" placeholder='{%trans "For example 100"%}' value="{{dataRow.title}}" autofocus maxlength='50' minlength="1"  >
  </div>
</div>
{%endblock%}



{%block companyName%}
<label for="icompanyname">{%trans "Title"%}</label>
<div class="input">
	<input type="hidden" name="oldcompany" value="{{dataRow.title}}">
  <input type="text" name="company" id="icompanyname" placeholder='{%trans "Company name"%}' value="{{dataRow.title}}" autofocus maxlength='50' minlength="1" required>
</div>
{%endblock%}



{%block htmlTable%}
{%if dataTable%}
<div class="f justify-center">
  <div class="c8 s12">

    <table class="tbl1 v1 cbox fs12">
      <thead>
        <tr class="fs09">
          <th>{%trans "Company"%}</th>
          <th class="txtC">{%trans "Force integer value"%}</th>
          <th class="txtC">{%trans "Count product"%}</th>
          <th class="txtC">{%trans "Action"%}</th>
        </tr>
      </thead>

      <tbody>
        {%for key, value in dataTable%}
        <tr {%if (requestGET.id) == value.id %} class="positive"{%endif%} {%if value.default%} title='{%trans "Is default"%}' {%endif%}>
          <td>
            {%if value.default%}<i class="sf-check fc-green"></i>{%endif%}
            {%if not value.title and value.title != '0' %}<small class="fc-red">{%trans "Without Company"%}</small>{%else%}{{value.title}}{%endif%}
          </td>
          <td class="txtC">{%if value.int%}<i class="sf-check fc-green"></i>{%else%}-{%endif%}</td>
          <td class="txtC">
            <a href="{{url.here}}/products?companyid={{value.id}}" title='{%trans "Click to check products in this company"%}'>{{value.count | fitNumber}}</a>
          </td>
          <td class="collapsing">
            <a class="block" href="{{url.this}}?id={{value.id}}"><i class="sf-edit-write fs11  mRa10"></i><span class="sm">{%trans "Edit"%}</span></a>
            <a class="block" href="{{url.this}}/remove?id={{value.id}}"><i class="sf-trash mRa10  fs11 fc-red"></i><span class="sm">{%trans "Remove"%}</span></a>

          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
{%else%}
<div class="msg info2 fs12 txtB">

    {%trans "Hi!"%}
    <br>
    {%trans "You have not product company yet!"%}
    <br>
    {%trans "To add a product company you must set company when registering or editing a product"%}
    <a href="{{url.this}}" class="btn secondary xs">{%trans "Product list"%}</a>

</div>
{%endif%}

{%endblock%}









{%block removeCompany%}
<div class="f justify-center">
  <div class="x6 c5 m8 s12 pRa10">
    <dvi class="cbox">

        {%if dataRow.count%}

          <div class="msg {%if dataRow.count < 10%} warn2 {%else%} danger2 {%endif%}">
            <div class="msg  txtC txtB">{{dataRow.title}}</div>
            <p>
              <b>{{dataRow.count | fitNumber}}</b>  {%trans "Product found in this company"%}
              <br>
              {%trans "To remove this company you must set all products by this company as a non product company or set another company for this products"%}
            </p>
          </div>

          <div class="msg info2 txtC txtB">
            <a href="{{url.here}}/products?companyid={{dataRow.id}}">{%trans "Show product list"%} {{dataRow.title}}</a>
          </div>

          <form method="post">
            <input type="hidden" name="type" value="remove">
            {%if  allCompany | length == 1%}
                <input type="hidden" name="whattodo" value="non-company">

                <div class="f mT20">
                  <div class="c pRa10">
                    <button class="btn danger outline block hauto" type="submit">{%trans "Set all products by this company as a non product company and remove this company"%}</button>
                  </div>
                  <div class="cauto">
                    <a class="btn primary block" href="{{url.this}}">{%trans "Cancel"%}</a>
                  </div>
               </div>
            {%else%}
              {{block('iWhatToDo')}}
              {{block('iAllCompany')}}
              <div data-response='whattodo' data-response-where='new-company|non-company' data-response-hide>

                <div class="f mT20">
                  <div class="c pRa10">
                    <button class="btn danger outline block" type="submit">{%trans "Save and remove company"%}</button>
                  </div>
                  <div class="cauto">
                    <a class="btn primary block" href="{{url.this}}">{%trans "Cancel"%}</a>
                  </div>
               </div>
              </div>
            {%endif%}
          </form>

        {%else%}

          <div class="msg info">
            <p>
              {%trans "Non product found by this company"%}
              <br>
              {%trans "You can delete this company now"%}
            </p>
          </div>
          <form method="post">
            <input type="hidden" name="type" value="remove">
            <button  class="btn danger outline block mT20" type="submit">{%trans "Remove company"%}</button>
          </form>
        {%endif%}

    </dvi>
  </div>
</div>
{%endblock%}


{%block iWhatToDo%}
<div class="f mB10">
  <h4>{%trans "What do you want to do?"%}</h4>
        <div class="c">
          <div class="radio3 mB5">
            <input type="radio" name="whattodo" value="non-company" id="whattodo-non" {%if  allCompany | length == 1%} checked {%endif%} >
            <label for="whattodo-non">{%trans "Set all products as a non product company"%}</label>
          </div>
        </div>

        <div class="c">
          <div class="radio3 mB5">
            <input type="radio" name="whattodo" value="new-company" id="whattodo-new" {%if  allCompany | length == 1%} disabled {%endif%}>
            <label for="whattodo-new">{%trans "Select new company"%}{%if  allCompany | length == 1%} <small>{%trans "You have not other company!"%}</small> {%endif%}</label>
          </div>
        </div>

      </div>
{%endblock%}



{%block iAllCompany%}
<div data-response='whattodo' data-response-where='new-company' data-response-hide>

<label for='company'>{%trans "New company"%}</label>
<select name="company" class="select ui dropdown search" id="company">
  <option value="">{%trans "Select new company to update all product company"%}</option>
  {%for key, value in allCompany%}
    {%if value.title%}
    {%if value.id != requestGET.id%}
      <option value="{{value.id}}">{{value.title}}</option>
    {%endif%}
    {%endif%}
  {%endfor%}
</select>
</div>

{%endblock%}