{%extends "content_a/setting/layout.html"%}


{%block data%}
{%if not sended_data.status %}
<div class="cbox">
  <h3>{%trans "Transfer owner of team to another person"%}</h3>
  <p>{%trans "You can transfer this yeam to another person."%} {%trans "To start process choose new owner"%}</p>

{%if not sended_data.mobile%}
  <p class="msg warn2">{%trans "If you are not sure, dont do this!"%} {%trans "After transfer your permission is changed to admin"%}</p>
{%endif%}

  <form method="post">
{{block("iNewOwnerMobile")}}
{{block("iSendRequest")}}
  </form>
</div>
{%endif%}


{%if sended_data.status == 'awaiting'%}
<div class="cbox">
  <h3>{%trans "Transfer owner of team to another person"%}</h3>
  <p class="mT25">{%trans "Your ownership transfer request will be sent to the following person. Are you sure?" %}</p>
  <div class="vcard w300">
    <div class="content f">
      <div class="c">
        <a class="header">{%if sended_data.displayname%}{{sended_data.displayname}}{%else%}<i>{%trans "No name"%}</i>{%endif%}</a>
        <div class="meta"><span>{{sended_data.mobile|fitNumber}}</span></div>
      </div>
      <div class="cauto">
        {%if sended_data.avatar%}
          <img src="{{url.root}}/{{sended_data.avatar}}" class="mini">
        {%else%}
          <img src="http://code.ermile.dev/siftal/images/avatar/1.png" class="mini">
        {%endif%}
      </div>
      <div class="desc c12">{%trans "Are you sure?"%}</div>

    </div>
    <div class="footer f">
      <form method="post">
        <input type="hidden" name="send", value="ok">
        <div class="c6 pA5 s12"><button class="btn success outline block">{%trans "OK, Send"%}</button></div>
      </form>
      <form method="post">
        <input type="hidden" name="send", value="cancel">
          <div class="c6 pA5 s12"><button class="btn danger outline block">{%trans "Cancel"%}</button></div>
      </form>
    </div>
  </div>
</div>
{%endif%}


{%if sended_data.status == 'enable'%}
<div class="cbox">
  <h3>{%trans "Transfer owner of team to another person"%}</h3>
  <p>{%trans "Your ownership transfer request sended to the following person." %}</p>
    <div class="vcard w300">
      <div class="content f">
        <div class="c">
          <a class="header">{%if sended_data.displayname%}{{sended_data.displayname}}{%else%}<i>{%trans "No name"%}</i>{%endif%}</a>
          <div class="meta"><span>{{sended_data.mobile|fitNumber}}</span></div>
        </div>
        <div class="cauto">
          {%if sended_data.avatar%}
            <img src="{{url.root}}/{{sended_data.avatar}}" class="mini">
          {%else%}
            <img src="http://code.ermile.com/siftal/images/avatar/1.png" class="mini">
          {%endif%}
        </div>
        <div class="desc c12">{%trans "Waiting for the user accept or reject this request"%}</div>

      </div>
      <div class="footer f">
        <div class="desc c12">{%trans "You can <b>cancel</b> the request now"%}</div>
        <form method="post">
          <input type="hidden" name="request", value="cancel">
            <div class="c12 pA5 s12"><button class="btn danger outline block">{%trans "Cancel request"%}</button></div>
        </form>
      </div>
    </div>
</div>
{%endif%}

{%endblock%}






{%block dataOld%}
<div class="cbox">
  <p>{%trans "You can give over your team to another people." %}</p>
  {%if not sended_data.mobile%}
    <p class="msg danger2">{%trans "If you are not sure, leave this page!" %}</p>
  {%endif%}
  <form method="post">
    <div class="f " >
      <label class="cauto pT25" for="owner" >{%trans "New owner mobile"%}</label>
      <input class="c2 mA10 s12" type="number" name="owner" placeholder='{%trans "Mobile"%}' value="{{sended_data.mobile|fitNumber}}" {%if sended_data.mobile%} disabled {%endif%}>
      <input class="cauto btn primary mA10 s12" type="submit" value='{%trans "Send request"%}' {%if sended_data.mobile%} disabled {%endif%}>
    </div>
  </form>
</div>


{%if sended_data.status == 'awaiting'%}
<div class="cbox">
  <p>{%trans "Your ownership transfer request will be sent to the following person. Are you sure?" %}</p>
  <div class="f">
    <div class="c6 pA10 s12">
        <div class="vcard w300">
          <div class="content f">
            <div class="c">
              <a class="header">{%if sended_data.displayname%}{{sended_data.displayname}}{%else%}<i>{%trans "No name"%}</i>{%endif%}</a>
              <div class="meta"><span>{{sended_data.mobile|fitNumber}}</span></div>
            </div>
            <div class="cauto">
              {%if sended_data.avatar%}
                <img src="{{url.root}}/{{sended_data.avatar}}" class="mini">
              {%else%}
                <img src="http://code.ermile.dev/siftal/images/avatar/1.png" class="mini">
              {%endif%}
            </div>
            <div class="desc c12">{%trans "Are you sure?"%}</div>

          </div>
          <div class="footer f">
            <form method="post">
              <input type="hidden" name="send", value="ok">
              <div class="c6 pA5 s12"><button class="btn success outline block">{%trans "OK, Send"%}</button></div>
            </form>
            <form method="post">
              <input type="hidden" name="send", value="cancel">
                <div class="c6 pA5 s12"><button class="btn danger outline block">{%trans "Cancel"%}</button></div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{%endif%}


{%if sended_data.status == 'enable'%}
<div class="cbox">
  <p>{%trans "Your ownership transfer request sended to the following person." %}</p>
  <div class="f">
    <div class="c6 pA10 s12">
        <div class="vcard w300">
          <div class="content f">
            <div class="c">
              <a class="header">{%if sended_data.displayname%}{{sended_data.displayname}}{%else%}<i>{%trans "No name"%}</i>{%endif%}</a>
              <div class="meta"><span>{{sended_data.mobile|fitNumber}}</span></div>
            </div>
            <div class="cauto">
              {%if sended_data.avatar%}
                <img src="{{url.root}}/{{sended_data.avatar}}" class="mini">
              {%else%}
                <img src="http://code.ermile.com/siftal/images/avatar/1.png" class="mini">
              {%endif%}
            </div>
            <div class="desc c12">{%trans "Waiting for the user accept or reject this request"%}</div>

          </div>
          <div class="footer f">
            <div class="desc c12">{%trans "You can <b>cancel</b> the request now"%}</div>
            <form method="post">
              <input type="hidden" name="request", value="cancel">
                <div class="c12 pA5 s12"><button class="btn danger outline block">{%trans "Cancel request"%}</button></div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
{%endif%}
{%endblock%}
