{%extends display.admin%}

{%block pageContent%}

<div class="f">
 <div class="c6 s6">{{block ("stSale")}}</div>
 <div class="c6 s6">{{block ("stBuy")}}</div>
</div>

<div class="f">
 <div class="c6 s6">{{block ("stPreSale")}}</div>
 <div class="c6 s6">{{block ("stLending")}}</div>
</div>

<div class="f">
 <div class="c4 s6">{{block ("stBackSale")}}</div>
 <div class="c4 s6">{{block ("stBackBuy")}}</div>
 <div class="c4 s6">{{block ("stWaste")}}</div>
</div>
{%endblock%}



{%block stBuy%}
<a class="dcard x2" href='{{url.baseFull}}/factor?type=buy'>
 <div class="statistic gray">
  <div class="value"><i class="sf-bag"></i><span>{{factor_dashboard_detail.buy_count |number_format |fitNumber}}</span></div>
  <div class="label">{%trans "Buy"%}</div>
 </div>
</a>
{%endblock%}


{%block stSale%}
<a class="dcard x2" href='{{url.baseFull}}/factor?type=sale'>
 <div class="statistic teal">
  <div class="value"><i class="sf-basket"></i><span class="fs08">{{factor_dashboard_detail.sale_count |number_format |fitNumber}}</span></div>
  <div class="label">{%trans "Sale"%}</div>
 </div>
</a>
{%endblock%}


{%block stPreSale%}
<a class="dcard" href='{{url.baseFull}}/factor?type=prefactor'>
 <div class="statistic blue">
  <div class="value"><i class="sf-pin-1"></i><span>{{factor_dashboard_detail.pre_sale_count  | number_format  |fitNumber}}</span></div>
  <div class="label">{%trans "Pre Sale"%}</div>
 </div>
</a>
{%endblock%}


{%block stLending%}
<a class="dcard" href='{{url.baseFull}}/factor?type=lending'>
 <div class="statistic green">
  <div class="value"><i class="sf-flag"></i><span>{{factor_dashboard_detail.lending_count  | number_format  |fitNumber}}</span></div>
  <div class="label">{%trans "Lending"%}</div>
 </div>
</a>
{%endblock%}


{%block stBackBuy%}
<a class="dcard" href='{{url.baseFull}}/factor?type=backbuy'>
 <div class="statistic black">
  <div class="value"><i class="sf-outdent"></i><span>{{factor_dashboard_detail.back_from_buy_count  | number_format  |fitNumber}}</span></div>
  <div class="label">{%trans "Back from buy"%}</div>
 </div>
</a>
{%endblock%}


{%block stBackSale%}
<a class="dcard" href='{{url.baseFull}}/factor?type=backfactor'>
 <div class="statistic black">
  <div class="value"><i class="sf-indent"></i><span>{{factor_dashboard_detail.back_from_sale_count  | number_format  |fitNumber}}</span></div>
  <div class="label">{%trans "Back from factor"%}</div>
 </div>
</a>
{%endblock%}



{%block stWaste%}
<a class="dcard" href='{{url.baseFull}}/factor?type=waste'>
 <div class="statistic orange">
  <div class="value"><i class="sf-trash-o"></i><span>{{factor_dashboard_detail.waste_product_count  | number_format  |fitNumber}}</span></div>
  <div class="label">{%trans "Waste product"%}</div>
 </div>
</a>
{%endblock%}

