{%extends display.admin%}


{%block iCustomer%}
<div class="input f">
 <label for='customer' class="addon cauto">{%trans "Customer"%}</label>
 <input class="autoList" type="text" name="customer" id="customer" autofocus placeholder='{%trans "Add or choose customer"%}' value="{{product.customer}}" maxlength="100" data-find='customer'>
</div>
{%endblock%}



{%block iProductName%}
<div class="input small f">
 <span class="addon cauto s12">{%trans "Search to add product"%}</span>
 <input class="autoList productName barCode" type="text" name="productName[]" maxlength="100" placeholder='{%trans "Search in list to add product"%}' value="{{product.product}}" data-find='product' data-default>
</div>
{%endblock%}


{%block iCount%}
 <input class="input count" type="number" name="count[]" min='0' max="10000000000" value="{{product.count1}}" value='1' data-step=".001">
{%endblock%}


{%block iDiscount%}
 <div class="input">
  <input class="discount" type="number" name="discount[]" min='0' max="10000000000" value="{{product.discount1}}" value='' step='100'>
  <span class="addon small">0%</span>
 </div>
{%endblock%}


{%block iDesc%}
<textarea  name="desc" class="txt" rows='2' placeholder='{%trans "Description"%}' value='{{product.desc}}'></textarea>
{%endblock%}

{%block iBarcode%}
<label for='customer'>{%trans "Last scanned barcode"%}</label>
<div class="input">
 <input class="barCode" type="text" placeholder='{%trans "Last scanned barcode"%}' data-lock data-default>
</div>
{%endblock%}


