{%extends display.jibresControlLayout%}


{%block pageContent%}
<div class="mB25">
{%for key, value in listStore%}
  <div class="cbox mA5 mB10">
    <div class="f">
      <div class="cauto s12 txtC f align-center">
        <a href='{{value.url}}' class="block txtC">
         <img src="{{value.logo}}" alt="{{value.name}}" class="w100">
        </a>
      </div>

      <div class="c s12 txtC f align-center">
        <div>
          <h3><a class="value" href='{{value.url}}'>{{value.name}}</a></h3>
        </div>
      </div>

      <div class="c s12 txtC f align-center">
{%if value.is_creator or perm_su()%}
        <div title='{%trans "Start from"%} {{value.startplan | dt(true)}}'>
          <div class="mB10">{%trans "Current plan"%} <b>{%set myPlan = value.plan | capitalize %}{%trans myPlan%}</b></div>
{%if value.daysleft > 0%}
          <div class="mB10 badge info">
            <b>{{value.daysleft | fitNumber}}</b> {%trans "days left"%}
          </div>
{%elseif value.expireplan%}
          <div class="mB10">
            <b class="badge danger">{%trans "Expired"%}</b>
          </div>
{%endif%}
        </div>
{%endif%}
      </div>

      <div class="c3 s12 os f align-center">

{%if value.staff%}
        <a class="btn outline block success mB5" href="{{value.url}}/a">{%trans "Your staff panel"%}</a>
{%else%}
        <div class="txtC outline block black mB5" >{%trans "Your are customer in this store"%}</div>
        {%if perm_su()%}
          <a class="btn outline block danger mB5" href="{{value.url}}/a">{%trans "Your staff panel"%}</a>
        {%endif%}
{%endif%}

      {%if value.is_creator%}
        <a class="btn outline block pain mB5" href="{{value.url}}/a/setting">{%trans "Settings"%}</a>
      {%endif%}
      </div>

    </div>

  </div>
{%endfor%}
</div>





{%endblock%}



{%block prDate%}
<div class="dcard x2">
 <div class="block">
  <div class="f">
    <h5 class="c fc-mute">{{"now" | dt('F')}}</h5>
    <h4 class="cauto fc-info fs30 txtra">{{"now" | dt('d')}}</h4>
  </div>
  <div class="f">
   <div class="progress" data-percent='{{dateDetail.left}}'>
    <div class="bar"></div>
   </div>
  </div>
 </div>
</div>
{%endblock%}


{%block addNewStore%}
<a class="dcard x2" href='{{url.here}}/store/add'>
 <div class="statistic">
  <div class="value"><i class="sf-plus"></i></div>
  <div class="label">{%trans "Add new Store"%}</div>
 </div>
</a>
{%endblock%}


{%block storeCount%}
<a class="dcard x2" href='{{url.here}}/store'>
 <div class="statistic gray">
  <div class="value"><i class="sf-shopping-cart"></i><span>{{storesCount | fitNumber}}</span></div>
  <div class="label">{%trans "Store"%}</div>
 </div>
</a>
{%endblock%}

