{%extends display.jibresControlLayout%}


{%block pageContent%}
<div class="f">
 <div class="c4 s12">{{block ("addNewStore")}}</div>
 <div class="c4 s12">{{block ("storeCount")}}</div>
 <div class="c4 s12">{{block ("prDate")}}</div>
</div>

<h2 class="mT20">{%trans "List of your stores"%}</h2>
<div class="f">
{%for key, value in list_store%}
 <div class="c4 s12">
  <a class="dcard" href='{{value.url}}/a'>
   <div class="statistic">{{value.name}}
   </div>
  </a>
 </div>
{%endfor%}
</div>
{%endblock%}



{%block prDate%}
<div class="dcard x2">
 <div class="block">
  <div class="f">
  {%if site.currentlang == 'fa'%}
   <h5 class="c fc-mute">{{"now" | jdate('F')}}</h5>
   <h4 class="cauto fc-info fs30 txtra">{{"now" | jdate('d')}}</h4>
  {%else%}
    <h5 class="c fc-mute">{{"now" | date('F')}}</h5>
    <h4 class="cauto fc-info fs30 txtra">{{"now" | date('d')}}</h4>
  {%endif%}
  </div>
  <div class="f">
   <div class="progress" data-percent='{{dateDetail.left}}'>
    <div class="bar"></div>
   </div>
  </div>
 </div>
</div>
{%endblock%}


{%block addNewStore%}
<a class="dcard x2" href='{{url.baseFull}}/store/add'>
 <div class="statistic">
  <div class="value"><i class="sf-plus"></i></div>
  <div class="label">{%trans "Add new Store"%}</div>
 </div>
</a>
{%endblock%}


{%block storeCount%}
<a class="dcard x2" href='{{url.baseFull}}/store'>
 <div class="statistic gray">
  <div class="value"><i class="sf-shopping-cart"></i><span>{{count_store_by_creator |number_format |fitNumber}}</span></div>
  <div class="label">{%trans "Store"%}</div>
 </div>
</a>
{%endblock%}

