{%extends display.jibresControlLayout%}


{%block pageContent%}

{{block('myStores')}}
{{block('customerInStore')}}

{%endblock%}




{%block myStores%}
<div class="cbox fs12">
  <h2 data-kerkere="[data-storeList]" data-kerkere-icon='open'> {%trans "Your Stores"%}
  {%if perm_su()%}
     <a class="btn sm warn floatRa" href="{{url.here}}/store?all=true">{%trans "List of all stores"%}</a>
  {%endif%}
  </h2>
  <div data-kerkere-content data-storeList>
    <div class='middle normal live f justify-center'>

{%if listStore%}
    {%for key, value in listStore if value.staff == true%}

      <a href='{{value.url}}' class="vcard shadow blue mA10 c3 s6" data-live="{%if value.user_status == 'active'%}on{%elseif value.user_status == 'draft'%}half{%else%}off{%endif%}" >
        <img src="{{value.logo}}" alt="{{value.name}}">
        <div class="content">
          <div class="header">{{value.name}}</div>

{%if value.is_creator%}
          <div class="desc mT10" title='{%trans "Start from"%} {{value.startplan | dt(true)}}'>
            <div class="mB10">{%trans "Current plan"%} <b>{%set myPlan = value.plan | capitalize %}{%trans myPlan%}</b></div>
{%if value.daysleft > 0%}
            <div class="mB10 badge info">
              <b>{{value.daysleft | fitNumber}}</b> {%trans "days left"%}
            </div>
{%elseif value.expireplan%}
            <div class="mB10">
              <b class="badge danger">{%trans "Expired"%}</b>
            </div>
{%endif%}
          </div>
{%endif%}
        </div>
        <div class="footer txtC">{{value.url | replace({'http://': '', 'https://': ''}) | capitalize}}</div>
      </a>

    {%endfor%}
{%else%}
      <div class="vcard mA10" data-live='none'>
        <img src="{{url.static}}/siftal/images/useful/plus1.png" alt="add new survey">
        <div class="content"></div>
        <div class="footer pAn">
         <a class="btn block primary" href="{{url.here}}/survey/add">{%trans "Add store as free trial"%}</a>
        </div>
      </div>
      <div class="msg info2 mA10 fs20 txtC">{%trans "You are not have your own store!"%}<br><a href="{{url.here}}/store/add">{%trans "Try Jibres free trial for 14 days"%}</a>
      </div>

{%endif%}
    </div>
  </div>
</div>
{%endblock%}



{%block customerInStore%}
<table class="tbl1 v1 fs12">
  <thead>
    <tr>
      <th>{%trans "Store"%}</th>
      <th>{%trans "Buy count"%}</th>
      <th>{%trans "Total buy price"%}</th>
      <th>{%trans "Average buy price"%}</th>
    </tr>
  </thead>
  <tbody>
{%if listStore and 0%}
    {%for key, store in listStore if user.customer == true%}
    <tr>
      <td><a href='{{store.url}}'><i class="sf-share pRa10"></i> {{store.name}}</a></td>
      <td>{{store.buyCount | fitNumber}}</td>
      <td>{{store.buyTotal | fitNumber}}</td>
      <td>{{store.buyAvg | fitNumber}}</td>
    </tr>
    {%endfor%}
{%else%}
  <tr>
    <td colspan="4">{%trans "You are not buy something from stores yet!"%}</td>
  </tr>
{%endif%}
  </tbody>
</table>
{%endblock%}
