
{% block IfarsiName %}
<label for="i_farsiName">farsiName <span class="mLa10">نام فارسی فروشگاه</span></label>
<div class="input">
	<input type="text" id="i_farsiName" name="farsiName" value="{{dataRowShop.farsiName}}" maxlength="255">
</div>
{% endblock %}


{% block IenglishName %}
<label for="i_englishName">englishName <span class="mLa10">نام انگلیسی فروشگاه</span></label>
<div class="input">
	<input type="text" id="i_englishName" name="englishName" value="{{dataRowShop.englishName}}" maxlength="255">
</div>
{% endblock %}


{% block ItelephoneNumberShop %}
<label for="i_telephoneNumber">telephoneNumber <span class="mLa10">شماره تلفن ثابت</span></label>
<div class="input">
	<input type="text" id="i_telephoneNumber" name="telephoneNumber" value="{{dataRowShop.telephoneNumber}}" maxlength="255">
</div>
{% endblock %}


{% block IpostalCode %}
<label for="i_postalCode">postalCode <span class="mLa10">کد پستی</span></label>
<div class="input">
	<input type="text" id="i_postalCode" name="postalCode" value="{{dataRowShop.postalCode}}" maxlength="255">
</div>
{% endblock %}


{% block IbusinessCertificateNumber %}
<label for="i_businessCertificateNumber">businessCertificateNumber <span class="mLa10">شماره جواز کسب</span></label>
<div class="input">
	<input type="text" id="i_businessCertificateNumber" name="businessCertificateNumber" value="{{dataRowShop.businessCertificateNumber}}" maxlength="255">
</div>
{% endblock %}


{% block IcertificateIssueDate %}
<label for="i_certificateIssueDate">certificateIssueDate <span class="mLa10">تاریخ صدور جواز کسب</span></label>
<div class="input">
	<input type="text" id="i_certificateIssueDate" name="certificateIssueDate" value="{{dataRowShop.certificateIssueDate}}" maxlength="255">
</div>
{% endblock %}


{% block IcertificateExpiryDate %}
<label for="i_certificateExpiryDate">certificateExpiryDate <span class="mLa10">تاریخ اعتبار جواز کسب</span></label>
<div class="input">
	<input type="text" id="i_certificateExpiryDate" name="certificateExpiryDate" value="{{dataRowShop.certificateExpiryDate}}" maxlength="255">
</div>
{% endblock %}


{% block IDescription %}
<label for="i_Description">Description <span class="mLa10">توضیحات</span></label>
<div class="input">
	<input type="text" id="i_Description" name="Description" value="{{dataRowShop.Description}}" maxlength="255">
</div>
{% endblock %}


{% block IbusinessCategoryCode %}
<label for="i_businessCategoryCode">businessCategoryCode <span class="mLa10">کد صنف</span></label>
<div class="input">
	<input type="text" id="i_businessCategoryCode" name="businessCategoryCode" value="{{dataRowShop.businessCategoryCode}}" placeholder="4816" maxlength="255">
</div>
{% endblock %}


{% block IbusinessSubCategoryCode %}
<label for="i_businessSubCategoryCode">businessSubCategoryCode <span class="mLa10">کد تکمیلی صنف</span></label>
<div class="input">
	<input type="text" id="i_businessSubCategoryCode" name="businessSubCategoryCode" value="{{dataRowShop.businessSubCategoryCode}}" maxlength="255">
</div>
{% endblock %}



{% block IownershipType %}
<label for="i_ownershipType">ownershipType <span class="mLa10">نوع مالکیت</span></label>
<select name="ownershipType" class="ui dropdown select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowShop and dataRowShop.ownershipType == 0 %} selected {%endif%}>مالک</option>
  <option value="1" {%if dataRowShop and dataRowShop.ownershipType == 1 %} selected {%endif%}>مستاجر</option>
</select>
{%if false%}
<div class="input">
	<input type="text" id="i_ownershipType" name="ownershipType" value="{{dataRowShop.ownershipType}}" maxlength="255">
</div>
{%endif%}
{% endblock %}


{% block IrentalContractNumber %}
<label for="i_rentalContractNumber">rentalContractNumber <span class="mLa10">شماره قرارداد اجاره</span></label>
<div class="input">
	<input type="text" id="i_rentalContractNumber" name="rentalContractNumber" value="{{dataRowShop.rentalContractNumber}}" maxlength="255">
</div>
{% endblock %}


{% block IrentalExpiryDate %}
<label for="i_rentalExpiryDate">rentalExpiryDate <span class="mLa10">تاریخ اتمام قرارداد اجاره</span></label>
<div class="input">
	<input type="text" id="i_rentalExpiryDate" name="rentalExpiryDate" value="{{dataRowShop.rentalExpiryDate}}" maxlength="255">
</div>
{% endblock %}


{% block IAddress %}
<label for="i_Address">Address <span class="mLa10">آدرس</span></label>
<div class="input">
	<input type="text" id="i_Address" name="Address" value="{{dataRowShop.Address}}" maxlength="255">
</div>
{% endblock %}


{% block IcountryCode %}
<label for="i_countryCode">countryCode <span class="mLa10">کد کشور</span></label>
<div class="input">
	<input type="text" id="i_countryCode" name="countryCode" value="{{dataRowShop.countryCode}}" maxlength="255">
</div>
{% endblock %}


{% block IprovinceCode %}
<label for="i_provinceCode">provinceCode <span class="mLa10">کد استان</span></label>
<div class="input">
	<input type="text" id="i_provinceCode" name="provinceCode" value="{{dataRowShop.provinceCode}}" maxlength="255">
</div>
{% endblock %}


{% block IcityCode %}
<label for="i_cityCode">cityCode <span class="mLa10">کد شهر</span></label>
<div class="input">
	<input type="text" id="i_cityCode" name="cityCode" value="{{dataRowShop.cityCode}}" maxlength="255">
</div>
{% endblock %}





{% block IbusinessType %}
<label for="i_businessType">businessType <span class="mLa10">نوع فعالیت فروشگاه</span></label>
<select name="businessType" class="ui dropdown select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowShop and dataRowShop.businessType == 0 %} selected {%endif%}>فیزیکی</option>
  <option value="1" {%if dataRowShop and dataRowShop.businessType == 1 %} selected {%endif%}>فیزیکی و مجازی</option>
  <option value="2" {%if dataRowShop and dataRowShop.businessType == 2 %} selected {%endif%}>مجازی</option>
</select>
{%if false%}
<div class="input">
	<input type="text" id="i_businessType" name="businessType" value="{{dataRowShop.businessType}}" maxlength="255">
</div>
{%endif%}
{% endblock %}




{% block IetrustCertificateType %}
<label for="i_etrustCertificateType">etrustCertificateType <span class="mLa10">نوع نماد اعتماد الکترونیکی</span></label>
<select name="etrustCertificateType" class="ui dropdown select">
  <option value=""><i>{%trans "Please select one item"%}</i></option>
  <option value="0" {%if dataRowShop and dataRowShop.etrustCertificateType == 0 %} selected {%endif%}>یک ستاره</option>
  <option value="1" {%if dataRowShop and dataRowShop.etrustCertificateType == 1 %} selected {%endif%}>دو ستاره</option>
</select>
{%if false%}
<div class="input">
	<input type="text" id="i_etrustCertificateType" name="etrustCertificateType" value="{{dataRowShop.etrustCertificateType}}" maxlength="255">
</div>
{%endif%}
{% endblock %}


{% block IetrustCertificateIssueDate %}
<label for="i_etrustCertificateIssueDate">etrustCertificateIssueDate <span class="mLa10">تاریخ صدور نماد الکترونیکی</span></label>
<div class="input">
	<input type="text" id="i_etrustCertificateIssueDate" name="etrustCertificateIssueDate" value="{{dataRowShop.etrustCertificateIssueDate}}" maxlength="255">
</div>
{% endblock %}


{% block IetrustCertificateExpiryDate %}
<label for="i_etrustCertificateExpiryDate">etrustCertificateExpiryDate <span class="mLa10">تاریخ اتمام اعتبار نماد الکترونیکی</span></label>
<div class="input">
	<input type="text" id="i_etrustCertificateExpiryDate" name="etrustCertificateExpiryDate" value="{{dataRowShop.etrustCertificateExpiryDate}}" maxlength="255">
</div>
{% endblock %}


{% block IemailAddress %}
<label for="i_emailAddress">emailAddress <span class="mLa10">آدرس پست الکترونیکی</span></label>
<div class="input">
	<input type="text" id="i_emailAddress" name="emailAddress" value="{{dataRowShop.emailAddress}}" maxlength="255">
</div>
{% endblock %}


{% block IwebsiteAddress %}
<label for="i_websiteAddress">websiteAddress <span class="mLa10">آدرس وب‌سایت</span></label>
<div class="input">
	<input type="text" id="i_websiteAddress" name="websiteAddress" value="{{dataRowShop.websiteAddress}}" maxlength="255">
</div>
{% endblock %}





