{%extends "content_a/setting/layout.html"%}




{%block data%}
<div class="cbox">
  {%if store.plan != 'free' and store.plan != 'trial' and currentStore.daysleft > 2%}
  <div class="msg danger txtB txtC">
    {%trans "Your plan have some days!"%}
    <br>
    {%trans "Are you sure to change your plan?"%}
  </div>
  {%endif%}

  {%if store.plan != 'start'%}
  <a href="{{url.this}}/plan/start">
    <div class="msg success txtC txtB">
      {%trans "Start"%}
    </div>
  </a>
  {%endif%}


  {%if store.plan != 'simple'%}
  <a href="{{url.this}}/plan/simple">
    <div class="msg success txtC txtB">
      {%trans "Simple"%}
    </div>
  </a>
  {%endif%}

  {%if store.plan != 'standard'%}
  <a href="{{url.this}}/plan/standard">
    <div class="msg success txtC txtB">
      {%trans "Standard"%}
    </div>
  </a>
  {%endif%}

</div>

{%endblock%}




