{%extends "content_a/setting/layout.html"%}




{%block data%}
<div class="cbox">
  <a href="{{url.this}}/plan" class="btn mA10">{%trans "Back"%}</a>
{%if url.subchild == 'start'%}

<div class="f">
  <div class="c mRa10">
    <div data-confirm data-data='{"plan" : "start", "period" : "monthly"}' class="msg primary">{%trans "Monthly"%}<br>{{14000 | fitNumber}} {%trans "Toman"%}</div>
  </div>
  <div class="c">
    <div data-confirm data-data='{"plan" : "start", "period" : "yearly"}' class="msg primary">{%trans "Yearly"%}<br>{{140000 | fitNumber}} {%trans "Toman"%} {%if isFirstYear%}<b>{{50000 | fitNumber}}</b> {%trans "Toman"%}{%endif%}</div>
  </div>
</div>


{%elseif url.subchild == 'simple'%}
<div class="f">
  <div class="c mRa10">
    <div data-confirm data-data='{"plan" : "simple", "period" : "monthly"}' class="msg primary">{%trans "Monthly"%} {{30000 | fitNumber}} {%trans "Toman"%}</div>
  </div>
  <div class="c">
    <div data-confirm data-data='{"plan" : "simple", "period" : "yearly"}' class="msg primary">{%trans "Yearly"%} <u>{{300000 | fitNumber}}</u> {%trans "Toman"%} {%if isFirstYear%}<b>{{150000 | fitNumber}}</b> {%trans "Toman"%}{%endif%}</div>
  </div>
</div>
{%elseif url.subchild == 'standard'%}
<div class="f">
  <div class="c mRa10">
    <div data-confirm data-data='{"plan" : "standard", "period" : "monthly"}' class="msg primary">{%trans "Monthly"%} {{75000 | fitNumber}} {%trans "Toman"%}</div>
  </div>
  <div class="c">
    <div data-confirm data-data='{"plan" : "standard", "period" : "yearly"}' class="msg primary">{%trans "Yearly"%} <u>{{750000 | fitNumber}}</u> {%trans "Toman"%} {%if isFirstYear%}<b>{{300000 | fitNumber}} {%trans "Toman"%}</b>{%endif%}</div>
  </div>
</div>
{%endif%}

</div>

{%endblock%}




