{%extends "content_a/setting/layout.html"%}




{%block data%}
<div class="cbox">
  {{block('currentPlan')}}

  {%if store.plan == 'free' %}
  <a href="{{url.this}}/plan/choose">
    <div class="msg success txtC txtB">
      {%trans "Upgrade"%}
    </div>
  </a>
  {%else%}
  {%endif%}
</div>


{%if perm_su()%}
{{block('planHistoryTable')}}
{%endif%}
{%endblock%}





{%block currentPlan%}
  <h3>
    <small>{%trans "Current Plan"%}</small> <b>{%set myPlan = store.plan | capitalize%}{%trans myPlan%}</b>
    {%if store.plan == 'free' %}
      <small class="badge floatRa">{%trans "Forever"%}</small>
    {%else%}
      {%if store.expireplan %}<small class="badge floatRa" title='{{store.expireplan | dt(true)}}'>{%trans "Expire on"%} {{store.expireplan | dt}}</small>{%endif%}
    {%endif%}
  </h3>
{%endblock%}


{%block planHistoryTable%}
<h5 data-kerkere='.planHistoryTable'>{%trans "History"%}</h5>
<div class="planHistoryTable" data-kerkere-content='hide'>

<table class="tbl1 v6 fs12">
  <thead class="">
    <tr>
      <th>{%trans "Plan"%}</th>
      <th>{%trans "Start"%}</th>
      <th>{%trans "End"%}</th>
      <th>{%trans "Status"%}</th>
    </tr>
  </thead>

  <tbody>
    {%for key, value in dataTable%}
    <tr >
      <td>{%set my_plan = value.plan | capitalize%}{%trans my_plan%}</td>
      <td>{{value.start | dt(true)}}</td>
      <td>{{value.end | dt(true)}}</td>
      <td>{%set my_status = value.status | capitalize%}{%trans my_status%}</td>

    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{%endblock%}



{%block iexpireplan%}
<label for="expireplan">{%trans "Plan expire date"%}  <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input class="datepicker" type="text" name="expireplan" id="expireplan" placeholder='{{"1369/04/15" | fitNumber}} *' value="{{store.expireplan}}" data-view="year" autocomplete='off'>
</div>
{%endblock%}










{%block iPromo%}
<label for="promo" class="mT10">{%trans "Promo code"%}</label>
<div class="input">
  <input type="text" name="promo" id="promo" placeholder='{%trans "Promo code"%}' maxlength='30' pattern=".{1,30}" title='{%trans "If you have promo code, enter it to give some discount!"%}' needREVIEW-data-check='{{url.this}}/add?check=promo'>
</div>
{%endblock%}




{%block iplan%}
 <p class="mT10">{%trans "Choose your plan"%} <span class="fc-red">*</span></p>
  {%if store.plan != 'free'%}
    <div class="radio1">
      <input type="radio" id="plan-free" name="plan" value="free">
      <label for="plan-free">{%trans "Free"%}</label>
    </div>
  {%endif%}

  {%if store.plan != 'simple'%}
    <div class="radio1">
      <input type="radio" id="plan-simple" name="plan" value="simple" data-1m='100000' data-12m='1000000'>
      <label for="plan-simple">{%trans "Simple"%}</label>
    </div>
  {%endif%}


  {%if store.plan != 'standard'%}
    <div class="radio1">
      <input type="radio" id="plan-12m" name="plan" value="standard" data-1m='500000' data-12m='5000000'>
      <label for="plan-12m">{%trans "Standard"%}</label>
    </div>
  {%endif%}

{%endblock%}


{%block iperiod%}
    <p class="mT10">{%trans "Choose your plan period"%} <span class="fc-red">*</span></p>

    <div class="radio1">
      <input type="radio" id="period-1m" name="period" value="1m">
      <label for="period-1m">{%trans "Pay monthly"%}</label>
    </div>


    <div class="radio1">
      <input type="radio" id="period-12m" name="period" value="12m">
      <label for="period-12m">{%trans "Pay yearly"%} - {%trans "two month is free"%}</label>
    </div>


{%endblock%}


{%block foot_js%}
<script type="text/javascript">
  function pushStateFinal()
  {
    $('#plan').off('change');
    $('#period').off('change');
    $('#plan').on('change', function(){ calcTotalPlanPrice(); });
    $('#period').on('change', function(){ calcTotalPlanPrice(); });
  }


  function calcTotalPlanPrice()
  {
    var myPlanRow = $('#plan option[value="' + $('#plan').val() + '"]');
    var myPeriod  = $('#period').val();
    var myPrice   = fitNumber(1000);

    var myPrice = myPlanRow.attr('data-'+ myPeriod);
    if(!myPrice)
    {
      myPrice = '-';
    }
    $('#price span').text(fitNumber(myPrice));

    return myPrice;
  }
</script>
{%endblock%}




