{%extends "content_a/setting/layout.html"%}




{%block data%}


<div class="cbox mLR5">
	<h3>
		<small>{%trans "Current Plan"%}</small> <b>{%set myPlan = store.plan | capitalize%}{%trans myPlan%}</b>
		{%if store.expireplan %}<small class="badge floatRa" title='{{store.expireplan | dt(true)}}'>{%trans "Expire on"%} {{store.expireplan | dt}}</small>{%endif%}
	</h3>
</div>

{{block('planHistoryTable')}}

{{block('iSuSettingPlan')}}
{%endblock%}



{%block planHistoryTable%}


  <table class="tbl1 v6 fs12">
    <thead class="">
      <tr>
        <th>{%trans "Plan"%}</th>
        <th>{%trans "Start"%}</th>
        <th>{%trans "End"%}</th>
        <th>{%trans "Status"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr >
        <td>{%set my_plan = value.plan | capitalize%}{%trans my_plan%}</td>
        <td>{{value.start | dt(true)}}</td>
        <td>{{value.end | dt(true)}}</td>
        <td>{%set my_status = value.status | capitalize%}{%trans my_status%}</td>

      </tr>
      {%endfor%}
    </tbody>
  </table>


{%endblock%}

{%block iSuSettingPlan%}
  {%if perm_su()%}
  <div class="cbox">
    <div class="msg warn2">{%trans "Just supervisor see this form"%}</div>
    <form method="post" class="mLR5">
      {{block ("iplan")}}
      {{block ("iexpireplan")}}
      {{block ("isave")}}
    </form>
  </div>
  {%endif%}
{%endblock%}

{%block iexpireplan%}
<label for="expireplan">{%trans "Plan expire date"%}  <small class="fc-red">* {%trans "Require"%}</small></label>
<div class="input">
  <input class="datepicker" type="text" name="expireplan" id="expireplan" placeholder='{{"1369/04/15" | fitNumber}} *' value="{{store.expireplan}}" data-view="year" autocomplete='off'>
</div>
{%endblock%}



{%block iplan%}
<label>{%trans "Choose your plan"%}</label>


<div class="radio1">
  <input type="radio" name="plan" id="r-free" value="free" {%if store.plan =='free'%}checked{%endif%}>
  <label for="r-free">{%trans "Free"%}</label>
</div>

<div class="radio1">
  <input type="radio" name="plan" id="r-simple" value="simple" {%if store.plan =='simple'%}checked{%endif%}>
  <label for="r-simple">{%trans "Simple"%}</label>
</div>

<div class="radio1">
  <input type="radio" name="plan" id="r-standard" value="standard" {%if store.plan =='standard'%}checked{%endif%}>
  <label for="r-standard">{%trans "Standard"%}</label>
</div>

{%endblock%}




{%block istatus%}
<label>{%trans "Store status"%}</label>


<div class="radio1 green">
  <input type="radio" name="status" id="r-enable" value="enable" {%if store.status =='enable'%}checked{%endif%}>
  <label for="r-enable">{%trans "Enable"%}</label>
</div>

<div class="radio1 red">
  <input type="radio" name="status" id="r-disable" value="disable" {%if store.status =='disable'%}checked{%endif%}>
  <label for="r-disable">{%trans "Disable"%}</label>
</div>



{%endblock%}


