{%extends "content_a/setting/layout.html"%}


{%block data%}

{%if store.plan == 'free' or store.plan == 'trial' %}
{%else%}
  <p class="msg info2 fs14">{%trans "By choose new plan, we generate your invoice until now and next invoice is created one month later exactly at this time and you can pay it from billing."%}</p>
{%endif%}

{%if url.subchild %}
  <a href="{{url.this}}/plan" class="btn block secondary mB10">{%trans "Cancel plan change process"%}</a>

  {%if store.plan != 'free' and store.plan != 'trial' and currentStore.daysleft > 2%}
  <p class="msg danger txtB txtC">
    {%trans "Your plan have some days!"%}<br>
    {%trans "Are you sure to change your plan?"%}
  </p>
  {%endif%}

{%endif%}




<div class="tblBox fs14">
  <table class="tbl1 v10">
    <tbody>
      <tr{%if url.subchild and url.subchild != 'FREE"%}' %} class='disabled'{%endif%}>
        <td>
          <div class="txtB fs16">{%trans "FREE"%}</div>
          {%if store.plan == 'free' %}
            <div class="badge">{%trans "Forever"%}</div>
          {%endif%}
        </td>
        <td>{%trans "Totaly Free"%}</td>
        <td>
          <ul class="fs09">
            <li>{%trans "Integrated Sales"%}</li>
            <li>{%trans "Free Invoicing"%}</li>
            <li>{%trans "Online Accounting"%}</li>
          </ul>
        </td>
        <td>
          {%if store.plan == 'free' %}
            <span class="badge dark mLa10 pA10-f"><i class="sf-check compact pRa10"></i>{%trans "Current Plan"%}</span>
          {%else%}
            <a class="btn outline light" href="">{%trans "Choose plan"%}</a>
          {%endif%}
        </td>
      </tr>

      <tr{%if url.subchild and url.subchild != 'start' %} class='disabled'{%endif%}>
        <td>
          <span class="txtB fs16">{%trans "Starter"%}</span>
          {%if store.plan == 'starter' %}
            <span class="badge dark mLa10 pA10-f"><i class="sf-check compact pRa10"></i>{%trans "Current Plan"%}</span>
          {%endif%}
        </td>
        <td>
          <div class="priceBox2">
            <div class="f align-center monthly">
              <div class="cauto price pRa5">{{14 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Monthly"%}</div>
            </div>
            <div class="f align-center annually">
              <div class="cauto price pRa5">{{140 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Annually"%}</div>
            </div>
            <div class="f align-center annually1">
              <div class="cauto price pRa5">{{50 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Annually"%} <span class="badge success">{%trans "First Year"%}</span></div>
            </div>
          </div>
        </td>
        <td>
          <ul class="fs09">
            <li>{%trans "vCard Website"%}</li>
            <li>{%trans "Staff Accounts"%}</li>
            <li>{%trans "Increase Basic Limits"%}</li>
          </ul>
        </td>
        <td>
          {%if store.plan == 'starter' %}
            <span class="badge dark mLa10 pA10-f"><i class="sf-check compact pRa10"></i>{%trans "Current Plan"%}</span>
          {%else%}
            <a class="btn outline light" href="{{url.this}}/plan/start">{%trans "Choose plan"%}</a>
          {%endif%}
        </td>
      </tr>

      <tr{%if url.subchild and url.subchild != 'simple' %} class='disabled'{%endif%}>
        <td>
          <span class="txtB fs16">{%trans "Simple"%}</span>
          {%if store.plan == 'simple' %}
            <span class="badge dark mLa10 pA10-f"><i class="sf-check compact pRa10"></i>{%trans "Current Plan"%}</span>
          {%endif%}
        </td>
        <td>
          <div class="priceBox2">
            <div class="f align-center monthly">
              <div class="cauto price pRa5">{{30 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Monthly"%}</div>
            </div>
            <div class="f align-center annually">
              <div class="cauto price pRa5">{{300 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Annually"%}</div>
            </div>
            <div class="f align-center annually1">
              <div class="cauto price pRa5">{{150 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Annually"%} <span class="badge success">{%trans "First Year"%}</span></div>
            </div>
          </div>
        </td>
        <td>
          <ul class="fs09">
            <li>{%trans "Advance Reports"%}</li>
            <li>{%trans "All Invoice Types"%}</li>
            <li>{%trans "Product Intro Website"%}</li>
            <li>{%trans "Without Limit"%}</li>
          </ul>
        </td>
        <td>
          {%if store.plan == 'simple' %}
            <span class="badge dark mLa10 pA10-f"><i class="sf-check compact pRa10"></i>{%trans "Current Plan"%}</span>
          {%else%}
            <a class="btn outline light" href="{{url.this}}/plan/simple">{%trans "Choose plan"%}</a>
          {%endif%}
        </td>
      </tr>

      <tr{%if url.subchild and url.subchild != 'standard' %} class='disabled'{%endif%}>
        <td>
          <span class="txtB fs16">{%trans "Standard"%}</span>
          {%if store.plan == 'standard' %}
            <span class="badge dark mLa10 pA10-f"><i class="sf-check compact pRa10"></i>{%trans "Current Plan"%}</span>
          {%endif%}
        </td>
        <td>
          <div class="priceBox2">
            <div class="f align-center monthly">
              <div class="cauto price pRa5">{{75 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Monthly"%}</div>
            </div>
            <div class="f align-center annually">
              <div class="cauto price pRa5">{{750 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Annually"%}</div>
            </div>
            <div class="f align-center annually1">
              <div class="cauto price pRa5">{{300 | fitNumber}}</div>
              <div class="c unit">{%trans "Toman"%}</div>
              <div class="c pRa10 txtLa period">{%trans "Annually"%} <span class="badge success">{%trans "First Year"%}</span></div>
            </div>
          </div>
        </td>
        <td>
          <ul class="fs09">
            <li>{%trans "Online Store"%}</li>
            <li>{%trans "News website"%}</li>
            <li>{%trans "Shop with Your Domain"%}</li>
            <li>{%trans "Full Permission Control"%}</li>
            <li>{%trans "Search Engine Optimized"%}</li>
          </ul>
        </td>
        <td>
          {%if store.plan == 'standard' %}
            <span class="badge dark mLa10 pA10-f"><i class="sf-check compact pRa10"></i>{%trans "Current Plan"%}</span>
          {%else%}
            <a class="btn outline light" href="{{url.this}}/plan/standard">{%trans "Choose plan"%}</a>
          {%endif%}
        </td>
      </tr>

    </tbody>
  </table>

</div>

{%endblock%}


{%block expireDate%}

  {%if store.expireplan %}<small class="badge floatRa" title='{{store.expireplan | dt}}'>{%trans "Expire on"%} {{store.expireplan | dt(true)}}</small>{%endif%}
  <div class="floatRa mRa5">
  {%if currentStore.daysleft > 0%}
    <small class=" badge info">
      <b>{{currentStore.daysleft | fitNumber}}</b> {%trans "days left"%}
    </small>
  {%else%}
      <b class="badge danger">{%trans "Expired"%}</b>
  {%endif%}
  </div>
{%endblock%}



