.fit-sm{position:relative;padding:0;width:88%;margin:0 auto;max-width:700px;}
.fit-md{position:relative;padding:0;width:90%;margin:0 auto;max-width:900px;}
.fit{position:relative;padding:0;width:92%;margin:0 auto;max-width:1100px;}
.fit-lg{position:relative;padding:0;width:95%;margin:0 auto;max-width:1200px;}

// certificates
#jibresCertificates{position: relative;overflow: hidden;background-color: #000;font-size: 1.4em;padding: 50px 0;border-radius: 0 0 100px 100px;}
#jibresCertificates h2{color:#fff;text-align: center;border-bottom: 1px solid #fff;line-height: 50px;font-weight: 100;margin-bottom: 50px;}
#jibresCertificates a{display: block;overflow: hidden;}
#jibresCertificates img{display: block;margin:0 auto;margin-bottom: 20px;}
svg.circle-bottom-left{width: 400px;height:400px;fill:#f7f7f9;position:absolute;left:0;bottom:0;pointer-events:none;z-index: 2;}
svg.circle-bottom-right{width: 400px;height:400px;fill:#f7f7f9;position:absolute;right:0;bottom:0;pointer-events:none;z-index: 2;}

// support line
#jibresSupportLine{background-color: #f7f7f9;position:relative;overflow:hidden;padding: 60px 0;color:#c80a5a;text-align: center;font-size: 1.4em;}

// social line
#jibresSocialLine{background-color: #f7fafc;position:relative;overflow:hidden;padding: 60px 0;color:#c80a5a;text-align: center;font-size: 1.4em;}
// jibres bottom line
#jibresBottomLine{height:6px;background-color:#c80a5a;overflow:hidden;transition:0.3s;}



#jibresFooter{position:relative;font-size: 1.6em;overflow:hidden;background-color:#2c2a2b;color: #f7f7f9;padding: 60px 0 30px;line-height:25px;}
#jibresFooter figure{overflow: hidden;margin-bottom: 40px;}
#jibresFooter figure img{height: 80px;display:block;margin:5px 0}
#jibresFooter figure figcaption{font-size: 0.9em;line-height: 2;padding: 0 1.5em;}

#jibresFooter nav{margin-bottom: 40px;}
#jibresFooter nav h3{border-bottom: 1px solid #333;display: block;color: #f7f7f9;padding:5px 0;font-weight:900;font-size:1em;}
#jibresFooter nav a{display: block;padding:5px 0;}
#jibresFooter a{color: #f7f7f9;transition:0.3s;font-weight:100;}
#jibresFooter a:hover{color: #efdab9;}
#jibresFooter a:focus{color: #ffd050;}
#jibresFooter a:active{color: #D36E2D;}





/* xaccess*/
#tfooter #xaccess{position:fixed;left:0;bottom:17%;z-index:3;}
#tfooter #xaccess a{display:block;background-color:#000;opacity:0.3;padding:0.5em 1em;transition:0.3s;margin-top:0.2em;margin-right:2em;color:#fff;}
#tfooter #xaccess a:hover{opacity:0.8;padding:0.5em 2em;margin-right:0;}
.rtl #tfooter #xaccess{right:0;left:initial;}
.rtl #tfooter #xaccess a{right:0;left:initial;margin-right:0;margin-left:2em;}
.rtl #tfooter #xaccess a:hover{margin-right:0;margin-left:0;}

[data-page="homepage"] #tfooter .link_home{display:none;}

