
// certificates
#jibresCertificates{position: relative;overflow: hidden;background-color: $black;font-size: 1.4em;padding: 50px 0;border-radius2: 0 0 100px 100px;}
#jibresCertificates h2{color:#fff;text-align: center;border-bottom: 1px solid #fff;line-height: 50px;font-weight: 100;margin-bottom: 50px;}
#jibresCertificates:hover a{opacity:0.6;}
#jibresCertificates a{display: block;overflow: hidden;opacity:1;transition:0.2s;}
#jibresCertificates a:hover{opacity:0.7};
#jibresCertificates a:focus{opacity:0.8};
#jibresCertificates a:active{opacity:1};
#jibresCertificates img{display: block;margin:0 auto;margin-bottom: 20px;}
svg.circle-bottom-left{width: 400px;height:400px;fill:#f7f7f9;position:absolute;left:0;bottom:0;pointer-events:none;z-index: 2;}
svg.circle-bottom-right{width: 400px;height:400px;fill:#f7f7f9;position:absolute;right:0;bottom:0;pointer-events:none;z-index: 2;}

// support line
#jibresSupportLine{background-color: #f7fafc;position:relative;overflow:hidden;padding: 100px 0 0;color:$jibres;text-align: center;font-size: 1.4em;}
#jibresSupportLine .btn{margin: 20px auto 70px;}
#jibresSupportLine:after{content:"";display:block;background-color: #f7fafc;position:relative;overflow:hidden;width:100%;height: 190px;background-size: 4320px 190px;background-image: url(../img/homepage/footer-wave.svg);}

// jibres bottom line
#jibresBottomLine{height:20px;background-color:$jibres;overflow:hidden;transition:0.3s;}

// jibres Footer
#jibresFooter{position:relative;font-size: 1.4em;overflow:hidden;background-color:#fff;color: #444;padding: 70px 0 0;line-height:30px;}
// footer jibres info
#jibresFooter figure{overflow: hidden;margin-bottom: 40px;}
#jibresFooter figure img{height: 120px;display:block;padding:10px; margin: 0 auto;}
#jibresFooter figure figcaption{padding: 0 1.5em;}
// footer nav links
#jibresFooter #footerMenu nav{margin-bottom: 40px;}
#jibresFooter #footerMenu nav h3{border-bottom: 1px solid #eee;display: block;color: #777;padding:5px 0;font-weight:900;font-size:1em;}
#jibresFooter #footerMenu nav a{display: block;padding:6px 5px;margin-bottom:5px;}
#jibresFooter #footerMenu nav a:hover{background-color:rgba(0,0,0,0.02)};
#jibresFooter a{color: $black;transition:0.3s;font-weight:300;}
#jibresFooter a:hover{color: $jibres;}
#jibresFooter a:focus{color: $jibresMono;}
#jibresFooter a:active{color: $jibresDark;}


// last line
#jibresLastLine{position:relative;overflow:hidden;background-color:#fff;color: #444;line-height:30px;padding: 20px 0 30px;border-top:1px solid rgba(14,19,24,.15);}
#jibresLastLine .langlist{text-align:center;}
#jibresLastLine .langlist a{background-color: rgba(0,0,0,0.1);border-radius:3px;display:inline-block;padding:5px 10px;}
#jibresLastLine nav.share1 a{display: inline-block;border-radius:50%;}
// share links
.share1 a{position:relative;display:inline-block;vertical-align:top;overflow:hidden;margin:5px;width:35px;height:35px;font-size:0;line-height:0;background-color:#333;}
.share1 a::before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;content:"";z-index:1;-webkit-transition:box-shadow .3s;transition:box-shadow .2s}
.share1 a::after{display:block;position:absolute;top:0;left:0;width:100%;height:100%;content:"";z-index:2;font-family:"siftal"!important;color:#eee;font-size:16px;padding:0;line-height:35px;text-align:center;}
.share1 a:hover{opacity:0.9;}
.share1 a:focus{opacity:0.8;}
.share1 a:active{opacity:0.7;}
.share1 .facebook::before{box-shadow:inset 0 0 0 48px #3b5998}
.share1 .facebook::after{content:"\e18f";}
.share1 .twitter::before{box-shadow:inset 0 0 0 48px #4099ff}
.share1 .twitter::after{content:"\e054";}
.share1 .github::before{box-shadow:inset 0 0 0 48px #333}
.share1 .github::after{content:"\5f";}
.share1 .rss::before{box-shadow:inset 0 0 0 48px #ee802f}
.share1 .rss::after{content:"\e009";}
.share1 .telegram::before{box-shadow:inset 0 0 0 48px #34a3dd}
.share1 .telegram::after{content:"\e10d";}
.share1 .linkedin::before{box-shadow:inset 0 0 0 48px #1283ad}
.share1 .linkedin::after{content:"\e052";}
.share1 .instagram::before{box-shadow:inset 0 0 0 48px #f22579}
.share1 .instagram::after{content:"\e045";}

/* xaccess*/
#tfooter #xaccess{position:fixed;left:0;bottom:17%;z-index:3;}
#tfooter #xaccess a{display:block;background-color:$black;opacity:0.3;padding:0.5em 1em;transition:0.3s;margin-top:0.2em;margin-right:2em;color:#fff;}
#tfooter #xaccess a:hover{opacity:0.8;padding:0.5em 2em;margin-right:0;}
.rtl #tfooter #xaccess{right:0;left:initial;}
.rtl #tfooter #xaccess a{right:0;left:initial;margin-right:0;margin-left:2em;}
.rtl #tfooter #xaccess a:hover{margin-right:0;margin-left:0;}

[data-page="homepage"] #tfooter .link_home{display:none;}




.line1{
background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2625' height='547' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23_2960688600__clip0)'%3E%3Cpath opacity='.5' d='M0 37.643V547h3059V108.861c-230.97-56.086-708-135.861-1360.62 0-529.7 110.273-782.319-48.43-1084.504-71.218C336.968 16.76 109.63 32.09 0 37.643z' fill='%23F8F9F9'/%3E%3Cpath d='M2625 25v521H0V163.163c198.199-56.039 711.043-139.09 1122.46-40.162 394.57 94.877 720.47 24.384 968.22-43.896C2287 25 2530.92 19.452 2625 25z' fill='%230E1318' fill-opacity='.02'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='_2960688600__clip0'%3E%3Cpath fill='%23fff' d='M0 0h2625v547H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
background-repeat: no-repeat;
background-size: cover;
background-position: top;
padding-top: 170px;
padding-bottom: 32px;
min-height: 400px;
}