
#certificates{position: relative;overflow: hidden;background-color: #000;font-size: 1.4em;}
#certificates .fit{max-width: 800px;width:90%; margin: 50px auto;}
#certificates h2{color:#fff;text-align: center;border-bottom: 1px solid #fff;line-height: 50px;font-weight: 100;margin-bottom: 50px;}
#certificates a{display: block;overflow: hidden;}
#certificates img{display: block;margin:0 auto;margin-bottom: 20px;}

[data-in='site'] svg.circle-bottom-left{width: 400px;height:400px;fill:#333;position:absolute;left:0;bottom:0;pointer-events:none;z-index: 2;}
[data-in='site'] svg.circle-bottom-right{width: 400px;height:400px;fill:#333;position:absolute;right:0;bottom:0;pointer-events:none;z-index: 2;}

#jibresBottomLine{height:6px;background-color:#c80a5a;overflow:hidden;transition:0.3s;}











/* footer*/
#tfooter{font-size:1.2em;padding:3rem 0 0;background-color:#333;}
#tfooter a{color:#888;transition:0.3s;}
#tfooter nav a:hover{color:#eee}
#tfooter nav a:focus{color:#fff}
/* footer top nav*/
#tfooter .top{border-bottom:1px solid #4070c0;font-size:1.2em;font-weight:900;position:relative}
#tfooter .top a{display:inline-block;padding:1.2em .5em;color:#aaa;margin-right:1.5em;}
.rtl #tfooter .top a{margin-right:0;margin-left:1.5em}
/* footer-links*/
#tfooter .middle{font-size:1.2em;border-bottom:1px solid #4070c0;padding:2em 0}
#tfooter .middle h4{font-weight:500;color:#ccc;margin-bottom:5px;font-size:1.1em}
#tfooter .middle nav a{display:block;padding:1rem 0.5rem; margin-top: 1em;}
/* footer certificate*/
#tfooter .certification{padding:0 7px;background-color:#eee;display: inline-block;position:relative;margin:5px auto;z-index:5;opacity:0.5;transition: 0.3s}
#tfooter .certification:hover{opacity:0.8}
#tfooter .certification:before{content:"";position:absolute;top:-4px;left:0;right:0;height:4px;background-image:url(../siftal/images/cert/footer-box.svg);background-repeat:repeat-x;}
#tfooter .certification:after{content:"";position:absolute;bottom:-4px;left:0;right:0;height:4px;background-image:url(../siftal/images/cert/footer-box.svg);background-repeat:repeat-x;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
#tfooter .certification div{height:75px;padding:0;position:relative;margin:0 auto;}
#tfooter .certification a{display:block;}
#tfooter .certification img{display:block;width:75px;height:75px;padding:5px;margin:0 5px; cursor:pointer;transition:0.3s;}
#tfooter .certification img:hover{background-color:rgba(0,0,0,0.05);}
/* footer-note*/
#tfooter .bottom{padding:2em 0;color:#aaa}
#tfooter .bottom .langlist{display:inline-block}
#tfooter .bottom .langlist a{background-color:rgba(0,0,0,0.1);color:#aaa;padding:1em 2em;display:inline-block;-webkit-transition:.3s;-o-transition:.3s;-moz-transition:.3s;transition:.3s;border-radius:2px}
#tfooter .bottom .langlist a:hover,#tfooter .bottom .langlist a:focus{background-color:rgba(0,0,0,0.4);color:#ddd;}
#tfooter .bottom .love{text-align:right;text-transform:uppercase}
#tfooter .bottom .love a:hover,#tfooter .bottom .love a:focus{color:#fff}
#tfooter .bottom .counter{font-weight:700;text-align:center;text-transform:uppercase}
#tfooter .bottom{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
#tfooter .bottom .counter,#tfooter .bottom .love a{display:block;padding:1em 0}
.rtl #tfooter .bottom .love{text-align:left}
/* xaccess*/
#tfooter #xaccess{position:fixed;left:0;bottom:17%;z-index:3;}
#tfooter #xaccess a{display:block;background-color:#000;opacity:0.3;padding:0.5em 1em;transition:0.3s;margin-top:0.2em;margin-right:2em;color:#fff;}
#tfooter #xaccess a:hover{opacity:0.8;padding:0.5em 2em;margin-right:0;}
.rtl #tfooter #xaccess{right:0;left:initial;}
.rtl #tfooter #xaccess a{right:0;left:initial;margin-right:0;margin-left:2em;}
.rtl #tfooter #xaccess a:hover{margin-right:0;margin-left:0;}

#tfooter .middle .share1 a{display:inline-block;}

[data-page="homepage"] #tfooter .link_home{display:none;}

