// header line
#jibresHeader{font-size:1.4rem;padding:0;background-color:$white;overflow:hidden;transition:0.3s;}
// logo
#jibresHeader .logo{display:inline-block;max-width:180px;overflow: hidden;transition:0.2s;}
#jibresHeader .logo:hover{background-color: rgba(0,0,0,0.02)}
#jibresHeader .logo:focus{opacity:0.8;background-color: rgba(0,0,0,0.05)}
#jibresHeader .logo:active{background-color: rgba(0,0,0,0.07)}
#jibresHeader .logo img{display:block;height:70px;padding:10px;max-width:180px;margin:0 10px;transition:0.3s;}
#jibresHeader h1{display: none;font-size:20px;color:$jibres;margin:0;}
// nav
#jibresHeader nav a{line-height:50px;color:$black;padding:10px 1rem;margin:0 5px;display:inline-block;transition:0.2s;position:relative;min-width: 80px;text-align:center;}
#jibresHeader nav a:hover{background-color: rgba(0,0,0,0.02);color:$jibres;}
#jibresHeader nav a:focus{background-color: rgba(0,0,0,0.05);}
#jibresHeader nav a:active{background-color: rgba(0,0,0,0.07);color:$jibresMono;}
// master btn
#jibresHeader .master{display:inline-block;transition:0.2s;position:relative;text-align:center;line-height:36px;margin:15px 10px;border-radius:3px;min-width: 100px;border:2px solid transparent;background-color: $jibres;color:$white}
#jibresHeader .master:hover{background-color: $jibresMono;}
#jibresHeader .master:focus{background-color: $jibresMono;border-color:$jibresDark}
#jibresHeader .master:active{background-color: $jibres;}
// slave
#jibresHeader .slave{display:inline-block;transition:0.2s;position:relative;text-align:center;line-height:36px;margin:15px 10px;border-radius:3px;min-width: 70px;border:2px solid rgba(14, 19, 24, 0.15);color:rgba(14,19,24,.7);}
#jibresHeader .slave:hover{border-color:rgba(14,19,24,.45)}
#jibresHeader .slave:focus{border-color:rgba(14,19,24,.7)}
#jibresHeader .slave:active{background-color: rgba(14,19,24,.15)}

// page title with type effect
#jibresPageTitle{position:relative;padding:40px 0 30px;font-size:40px;line-height:70px;min-height:140px;overflow: hidden;text-align:center;background-color:#c80a5a;color:#fff;}
#jibresPageTitle .typing{min-height: 70px;}
#jibresPageTitle .typing .typed{font-weight:800;margin:0 5px}
#jibresPageTitle #typed-strings{display:none;}
#jibresPageTitle .typed-cursor{opacity: 1;font-weight: 100;animation: blink 0.7s infinite;}
@keyframes blink{ 0% { opacity:1; } 50% { opacity:0.3; } 100% { opacity:1; } }
