/* header*/
[data-in='site']{background-color:#f7f7f9;}
[data-in='site'] #pageHeader{min-height:100px;font-size:1.4rem;overflow:hidden;@include select-none();}
[data-in='site'] #pageHeader #jibresTopLine{height:36px;background-color:#c80a5a;overflow:hidden;transition:0.3s;background: linear-gradient(-45deg, #c80a5a, #c80a5a);background-size: 400% 400%;}
[data-in='site'] #pageHeader #jibresTopLine nav{text-align:center;}
[data-in='site'] #pageHeader #jibresTopLine a{line-height:36px;color:#fff;padding:0 1rem;display:inline-block;transition:0.2s;position:relative;}
[data-in='site'] #pageHeader #jibresTopLine a:hover{background-color:rgba(0,0,0,0.1);}
[data-in='site'] #pageHeader #jibresTopLine a:focus{background-color:rgba(0,0,0,0.2);}
[data-in='site'] #pageHeader #jibresTopLine a:active{background-color:rgba(0,0,0,0.3);}
[data-in='site'] #pageHeader #jibresTopLine [data-to='signup']{min-width: 90px}
[data-in='site'] #pageHeader #jibresTopLine [data-to='enter']{min-width: 70px}
[data-in='site'] #pageHeader #jibresTopLine h1{display: none;line-height:36px;font-size:20px;color:#fff;margin:0;}

[data-in='site'] #pageHeader #jibresHeader{height:64px;padding:7px 0;background-color:#f7f7f9;overflow:hidden;}
[data-in='site'] #pageHeader #jibresHeader .logo{display:block;}
[data-in='site'] #pageHeader #jibresHeader .logo:focus{opacity:0.8;}
[data-in='site'] #pageHeader #jibresHeader .logo img{display:block;height:50px;max-width:150px;transition:0.3s;}
[data-in='site'] #pageHeader #jibresHeader nav a{line-height:50px;color:#0b0b30;padding:0 1rem;display:inline-block;transition:0.2s;position:relative;min-width: 70px;text-align:center;}
[data-in='site'] #pageHeader #jibresHeader nav a:hover{color:#444;}
[data-in='site'] #pageHeader #jibresHeader nav a:focus{color:#c80a5a;}
[data-in='site'] #pageHeader #jibresHeader nav a:active{color:#c80a5a;}

/* page loading effect*/
[data-in='site'].loading-page #pageHeader #jibresTopLine{
	background: linear-gradient(-45deg, #c80a5a, #e73c7e, #da2873, #c80a5a);
	animation: bgGradient 2s ease infinite;
}
@keyframes bgGradient { 0% { background-position: 0% 50%; } 50% { background-position: 100% 50%; } 100% { background-position: 0% 50%; }}

