/* header*/
[data-in='site']{background-color:$jibresBack;}



#jibresHeader{min-height:70px;font-size:1.4rem;padding:0;background-color:$white;overflow:hidden;transition:0.3s;@include select-none();}
// logo
#jibresHeader .logo{display:block;overflow: hidden;transition:0.2s;}
#jibresHeader .logo:hover{background-color: rgba(0,0,0,0.02)}
#jibresHeader .logo:focus{opacity:0.8;background-color: rgba(0,0,0,0.05)}
#jibresHeader .logo:active{background-color: rgba(0,0,0,0.1)}
#jibresHeader .logo img{display:block;height:70px;padding:10px;max-width:160px;transition:0.3s;}
#jibresHeader h1{display: none;font-size:20px;color:$jibres;margin:0;}
// nav
#jibresHeader nav{padding:0 20px;}
#jibresHeader nav a{line-height:50px;color:$black;padding:0 1rem;display:inline-block;transition:0.2s;position:relative;min-width: 80px;text-align:center;}
#jibresHeader nav a:hover{color:$jibres;}
#jibresHeader nav a:focus{color:#444;}
#jibresHeader nav a:active{color:#C8A050;}

// signup
#jibresHeader [data-to='signup']{min-width: 90px;background-color: $jibres;color:$white}
#jibresHeader [data-to='signup']:hover{color:$white;background-color: $jibres;}
#jibresHeader [data-to='signup']:focus{color:$white;border-color:#F31271}
#jibresHeader [data-to='signup']:active{color:$white;background-color: #C8190A;}
// enter
#jibresHeader [data-to='enter']{min-width: 70px;box-shadow: inset 0 0 0 2px rgba(14,19,24,.15)}
#jibresHeader [data-to='enter']:hover{box-shadow: inset 0 0 0 2px rgba(14,19,24,.45)}
#jibresHeader [data-to='enter']:focus{box-shadow: inset 0 0 0 2px rgba(14,19,24,.45)}
#jibresHeader [data-to='enter']:active{background-color: rgba(14,19,24,.15)}











/* page loading effect*/
[data-in='site'].loading-page2 #jibresTopLine{
	// background: linear-gradient(-45deg, $jibres, #e73c7e, #da2873, $jibres);
}
