


#saleChannels{padding: 20px 0 50px;font-size: 1.4em;text-align: center;position:relative;}
#saleChannels h2{font-size: 3em;color:#444;font-weight: 700;}
#saleChannels .title{margin-bottom: 50px;}
#saleChannels h3{font-size: 1.3em;color: #333;font-weight: 700;}
[dir="rtl"] #saleChannels h3{font-size: 1.1em;font-weight: 800;}
#saleChannels .item{margin:1em 0.8em;background-color: #ffffff;border-radius: 0.5em;box-shadow: 0 0 1.5em rgba(220,90,90,0.15);padding: 40px 10px;-webkit-transition: all 0.3s linear 0s;transition: all 0.3s linear 0s;overflow: hidden;}
#saleChannels .item:hover{box-shadow: 0 0 2em rgba(220,90,90,0.3);}
#saleChannels .item:active{box-shadow: 0 0 2em rgba(220,90,90,0.4);}
#saleChannels .item img{display: block;min-height: 75px;max-height: 200px;margin:0 auto 20px;}

#roadmap{min-height:400px;padding:50px 0;position:relative;color:#000;background-color:#fbfdff;font-size:1.7em;}
#roadmap:before{content:"";position:absolute;top:0;bottom:0;right:0;left:0;background-color:#000;opacity:0;transition:0.3s}
#roadmap:hover:before{opacity:0.05;}
#roadmap img{max-height: 300px;display: block;margin:0 auto;border-radius: 1em;}
#roadmap h2{text-align:center;font-weight:400;font-size:4em;line-height:1.5;margin:0;position:relative;z-index:1;transition:0.3s;text-shadow: 0 0 5px #fff;}
#roadmap h3{text-align:center;font-weight:700;font-size:1em;line-height:2;position:relative;z-index:1;-webkit-animation:pulse 2s infinite ease-in-out;-o-animation:pulse 2s infinite ease-in-out;-ms-animation:pulse 2s infinite ease-in-out;-moz-animation:pulse 2s infinite ease-in-out;animation:pulse 2s infinite ease-in-out}
#roadmap:hover h3{text-shadow: 0 0 10px #fff;}
@-webkit-keyframes pulse { 0%{opacity:.2} 50%{opacity:.7} 100%{opacity:.2} }
@keyframes pulse { 0%{opacity:.2} 50%{opacity:.7} 100%{opacity:.2}}


#quote{background-image:url(/images/homepage/quote-supersaeed-sadeghi.jpg);min-height:500px;background-position:top left;background-repeat:no-repeat;background-size:cover;position:relative;color:#fff;overflow: hidden;}
#quote .title{position:absolute;top:0;bottom:0;width:40%;min-width:280px;max-width:400px;margin:0 auto;right:10%;font-size:1.5em;text-align:center;background-color:rgba(255,255,255,0.1);padding:5em 1em 0;transition:0.3s;}
#quote:hover .title{text-shadow: 0 0 5px #fff}
#quote .title h4{font-weight:400;line-height:1.6em;margin-bottom:2em}
#quote .title h5{font-weight:400;font-size:1.1em;color:#ddd;}


#keepitsimple{background:#3850cc;background:-webkit-linear-gradient(left,#3230a0, #4895ff 70%,#aabbff);background:linear-gradient(90deg,#3230a0, #4895ff 70%,#aabbff);color:#fff;position:relative;}
#keepitsimple .title{font-size:2em;text-align:center;padding:7em 5px;}
#keepitsimple .title h2{font-weight:900;font-size:3em;line-height:2;margin-bottom:0;position:relative;margin-bottom:1em;}
#keepitsimple .title h2:after{content:"";position:absolute;bottom:0;right:0;left:0;width:50px;height:1px;margin:0 auto;background-color:#ddd;transition:0.3s;}
#keepitsimple:hover .title h2:after{background-color:#fff;width:100px;}
#keepitsimple .title h3{font-weight:100;font-size:1em;color:#eee;}
#keepitsimple .title h3 span{opacity:0;transition:0.3s}
#keepitsimple .title h3:hover span{opacity:1}

#pricingPlans{font-size: 1.6em;text-align: center;margin: 80px 0;}
#pricingPlans .headline{margin: 3em 0;}
#pricingPlans h3{font-size: 2.5em;}
#pricingPlans p{max-width: 600px;margin: 0 auto;color:#666;font-size: 1.1em;}
.pricing-card{position:relative;margin: 1em auto 2em;padding:40px 1.5em 1.5em;border-radius: 1em;background-color:rgba(225, 243, 254, 0.5);border: 3px solid #eff9fe;transition: 0.3s;}
.pricing-card .price{margin: 3rem 0 1.5rem;font-size: 1.2rem;}
.pricing-card .price span{font-size:5em;font-weight:700;}
.pricing-card .detail{line-height: 2em;color: #666;}
.pricing-card .btn{margin: 3rem 0 2rem;border-radius: 2rem;display:block;}
// bronze
.pricing-card.bronze:hover{border-color: #e4be8f}
.pricing-card.bronze .btn{background-color: #e4be8f;box-shadow: 0 10px 30px rgba(214,135,79,0.3)}
.pricing-card.bronze .btn:hover{background-color: #d69a4f;}
.pricing-card.bronze .btn:focus{background-color: #c68a3f;}
// silver
.pricing-card.silver:hover{border-color: #ddd}
.pricing-card.silver .btn{background-color:#ddd;box-shadow: 0 10px 30px rgba(190,190,190,0.5)}
.pricing-card.silver .btn:hover{background-color:#c0c0c0;}
.pricing-card.silver .btn:focus{background-color:#bbb;}
// gold
.pricing-card.gold:hover{border-color: #ffd559}
.pricing-card.gold .btn{background-color:#ffd559;box-shadow: 0 10px 30px rgba(255,213,89,0.5) }
.pricing-card.gold .btn:hover{background-color:#efc549;}
.pricing-card.gold .btn:focus{background-color:#cfb539;}
// free
.pricing-card.free{border-color: #c80a5a}
.pricing-card.free:hover{border-color: #ea1d1d}
.pricing-card.free .btn{background-color:#c80a5a;box-shadow: 0 10px 30px rgba(200, 10, 90, 0.3);color:#fff;}
.pricing-card.free .btn:hover{background-color:#e2482e;}
.pricing-card.free .btn:focus{background-color:#d8452e;}


.pricing-card .meta{font-size: 1.2rem;color:#999}

#statistic{padding:7em 0;background-color:#333;color:#eee}
#statistic .statistic{margin-bottom: 2em;}
#statistic .value{color:#fff}
#statistic h2 span{opacity:0;transition:0.3s}
#statistic:hover h2 span{opacity:1}

