body {background-color:$jibresBack;}

// block iframe of jibres
body[data-iframe]{overflow:hidden;}
body[data-iframe]::after{content: "";position: fixed;top: 0;bottom: 0;right: 0;left: 0;width: 100%;background-color: $jibres;background: $jibres url(../logo/icon-white/svg/Jibres-Logo-icon-white.svg) no-repeat center center;background-size: 70vh}

.fit-sm{position:relative;padding:0;width:88%;margin:0 auto;max-width:700px;}
.fit-md{position:relative;padding:0;width:90%;margin:0 auto;max-width:900px;}
.fit{position:relative;padding:0;width:92%;margin:0 auto;max-width:1100px;}
.fit-lg{position:relative;padding:0;width:95%;margin:0 auto;max-width:1200px;}

.jibresBanner{position: relative;min-height:300px;padding: 20px 0 70px;font-size:1.4em;}
.jibresBanner::before{content: '';min-height: 300px;background: $jibres;background: linear-gradient(to bottom, $jibres 0%, $jibresDark 100%);position: absolute;left: 0;right: 0;top: 0;width: 100%;z-index: -1;}
.jibresBanner .fit{position: relative;overflow: hidden;background-color: $white;border-radius: 10px;padding: 50px 20px 50px;box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.08), 0px 20px 30px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);}
.jibresBanner .fit.zero{padding: 0;}










/* static pages design*/
.page-title{padding:15em 0;text-align:center;overflow:hidden;background-color:#222;}
.page-title h1{font-weight:700;line-height:2em;font-size:3em;color:#fff;}
.page-title .h1{font-weight:700;line-height:2em;font-size:3em;color:#fff;min-height:2em;}
.page-title .h1 span{font-weight:700}
.page-title h2{font-weight:100;line-height:2em;color:#aaa;padding:0 10%;}
.pc{color:#333;background-color:#f2f2f2;font-size:1.5em;padding:4em 0;}
.pc .em{font-weight:bold;text-align:center;padding:1em 5%;background-color:#ddd;}
.pc h2{margin-top:1.5em;margin-bottom:0.5em;font-weight:bold;}
.pc h3{margin-top:1em;font-weight:bold;}
.pc h4{margin-top:0.5em;}
.pc ul.list{margin:2em 5% 3em;}
.pc ul.list li{line-height:2em;transition:0.3s}
.pc ul.list li:hover{background-color:rgba(255,255,255,0.7);}

.faq h4{font-size: 1.2em;color:#666}
.faq li{transition:0.3s;padding:0.5em 1em;}
.faq li:hover{background-color:rgba(255,255,255,0.7);}

#offer-enterprise-small{background-color:#fff;background-color:#4070c0;text-align:initial;padding:2em}
#offer-enterprise-small h3, #offer-enterprise-small h4{padding:0 5%;color:#fff}


.guaranteeBox{
  min-height: 400px;
  width: 100%;
  position: relative;
  background: #555;
  background: -moz-linear-gradient(top, #555 0%, #111 100%);
  background: -webkit-linear-gradient(top, #555 0%,#111 100%);
  background: linear-gradient(to bottom, #555 0%,#111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#111',GradientType=0 );
  margin: 2em 0 4em;
  color: #fff;
  font-size: 1.4em;
}
.guaranteeBox .text{
  padding-top: 80px;
}
.guaranteeBox .text h2{
  font-size: 4em;
  font-weight: 700;
}
.guaranteeBox .text h3{
  font-size: 1.5em;
  margin-bottom: 1em;
}
.guaranteeBox .preview{
  max-height: 300px;
  display: block;
  margin: 50px auto;
}



.pc .postPreview{}
.pc .postPreview img.thumb{width:300px;height:auto;display:inline-block;margin:0 auto;padding:0;margin:0.5em;border:1px solid transparent;transition:0.3s}
.pc .postPreview img.thumb:hover{border-color:#333}
.pc .postMainContent{overflow: hidden;}
.pc #lightgallery{text-align:center; margin:2em 0;clear: both;}
.pc #lightgallery a{display: inline-block;max-width:45%;width:100px;margin:0 10px;}
.pc #lightgallery img{margin:0 auto;border:1px solid #ddd;transition:0.3s}
.pc #lightgallery img:hover{border-color:#777}
.pc #lightgallery video{width:200px;max-width:45%; margin:0 auto;}
.pc #lightgallery audio{width:200px;max-width:45%; margin:0 auto;}

.pc .gallery2{text-align:center;}
.pc .gallery2 video{width:500px;max-width:90%;margin:1em auto;display:inline-block;}
.pc .gallery2 audio{width:250px;max-width:90%;margin:1em auto;display:inline-block;}

.pc .postListPreview{font-size: 0.8em;}
.pc .postListPreview .vcard{min-height: 500px;}
.pc .postListPreview img{max-height: 250px;}


.tagBox a{padding:0.5em 0.5em;margin:0.5em 0.5em;background-color:#eee;border-radius:3px;transition:0.3s;display:inline-block;}
.tagBox a:hover{background-color:rgba(0,0,0,0.1);}
.tagBox a:focus{background-color:rgba(0,0,0,0.2);}


/*vcard*/
.vcard{font-style:normal;}
.vcard .adr{padding:1em 0}
.vcard .adr div, .vcard .adr span, .vcard .email, .vcard .tel{display:block;padding:0.5em}
.vcard .adr span{display:inline-block;}

