
/*logo page badge*/
.logoEffect{
  height: 400px;
  position: relative;
  background-color: #0a0118;
}
.logoEffect .shadow{
  position: absolute;
  z-index: 2;
  height: 262px;
  width: 263px;
  top: 71px;
  right: 0;
  left:0;
  padding-left: 2px;
  margin: 0 auto;
  opacity: 0.3;
}
.logoEffect .logo{
  position: absolute;
  height: 260px;
  width: 260px;
  z-index: 1;
  top: 72px;
  right: 0;
  left: 0;
  padding-left: 1px;
  margin: 0 auto;
}
.logoEffect video{
  height: 100%;
  display: block;
  margin:0 auto;
}
.logoEffect:after{
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.styleguideBox{
  background-color: #f4f6f7;
  padding: 2em 0;
  font-size: 2em;
  overflow: hidden;
}
.styleguideBox .book{
  max-width: 1000px;
  margin: 0 auto;
}
.styleguideBox .book img{
  border-radius: 1em;
  padding: 1rem;
}

article.logo{
  color: #333;
  background-color:#fff;
  font-size: 1.8em;
}
article.logo section:nth-child(even){
  background-color:#f2f2f2;
}
article.logo section img.slideImg{display:block;margin:10px auto;border-radius:1em;background-color: #fff;padding:5px;}
article.logo section .dl img{display:block;margin:5px auto;border-radius:1em;padding:10px;width:120px}
article.logo.download{background-color: #8cad8a}
article.logo.download section img{background-color: transparent;}
article.logo.download section:nth-child(even){background-color:#97c794;}
