
/*logo page badge*/
.logoEffect{
  height: 400px;
  position: relative;
  background-color: #0a0118;
}
.logoEffect .shadow{
  position: absolute;
  z-index: 2;
  height: 262px;
  width: 263px;
  top: 71px;
  right: 0;
  left:0;
  padding-left: 2px;
  margin: 0 auto;
  opacity: 0.3;
}
.logoEffect .logo{
  position: absolute;
  height: 260px;
  width: 260px;
  z-index: 1;
  top: 72px;
  right: 0;
  left: 0;
  padding-left: 1px;
  margin: 0 auto;
}
.logoEffect video{
  height: 100%;
  display: block;
  margin:0 auto;
}
.logoEffect:after{
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.styleguideBox{
  background-color: #eee;
  padding: 2em 0;
  font-size: 3em;
}
.styleguideBox .book{
  max-width: 1000px;
  margin: 0 auto;
}
.styleguideBox .book img{
  border-radius: 1em;
  padding: 1rem;
}
