.domainSearchBox{max-width: 500px;margin: 0 auto 50px;}
.dreamRider{height:300px;}

.tripleDomainService{margin-bottom: 50px;}
.tripleDomainService .item{background:#eee;border-radius: 5px;padding: 20px;height:100%;margin:0 auto;transition:0.3s;}
.tripleDomainService .item:hover{background-color: rgba(0,0,0,0.1)}
