#factorAdd .cbox{margin-bottom:10px;padding:0.5em}

/*final price*/
[data-panel] .priceBox{font-size:1.4em;margin:0 auto 10px;padding:0;border-radius:0.25rem;background-color:#5bbbdb;color:#eee;text-align:center;max-width:400px;min-width:170px;transition:0.3s opacity;overflow:hidden;}
[data-panel] .priceBox h3{font-size:1em;padding:1em;margin:0}
[data-panel] .priceBox div span{font-weight:bold;color:#fff;display:inline-block;}
[data-panel] .priceBox div{transition: color 0.3s;}
[data-panel] .priceBox div:hover{color:#fff}
[data-panel] .priceBox .final{padding:0;background-color:#50a0c0;color:#fff;font-size:2.5em;margin-bottom:10px;height:70px;}
[data-panel] .priceBox .final span{line-height:75px;height:70px;}
[data-panel] .priceBox .final abbr{font-size:1rem;display:inline-block;transform: rotate(-90deg);-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);vertical-align:middle;}
[data-panel] .priceBox .desc{padding:0.4em 0.2em;color:#fff;font-size:1.1rem;font-weight:100;min-height:30px;line-height:1.4}
[dir="ltr"] [data-panel] .priceBox .desc{display:none;}
[data-panel] .priceBox .detail{padding:0.5em;text-align:initial;}
[data-panel] .priceBox .detail span{float:right;font-size:1.2em;}
[dir="rtl"] [data-panel] .priceBox .detail span{float:left;}
[data-panel] .priceBox .count{display:none;}
[data-panel] .priceBox .discount{background-color:#50aacc;cursor:pointer;display:none;overflow:hidden;}
[data-panel] .priceBox .discountPercent{display:none;}
[data-page="buy"][data-panel] .priceBox{background-color:#a03030}
[data-page="buy"][data-panel] .priceBox .final{background-color:#702020;}
[data-page="buy"][data-panel] .priceBox .discount{background-color:#703030;}
[data-panel] kbd{font-family:monospace;}

[data-panel] .tbl1.productList[data-item='0']{display:none}
[data-panel] .tbl1.productList .headProduct{white-space:nowrap;min-width:100px;}
[data-panel] .tbl1.productList input.count{white-space:nowrap;min-width:50px;max-width:60px;padding:5px 0.1em;text-align:center;background-color:transparent;}
[data-panel] .tbl1.productList input.buy{white-space:nowrap;min-width:60px;max-width:80px;padding:5px 0.1em;text-align:center;background-color:transparent;}

[data-panel] .tbl1.productList .input.discountCn{min-width:70px;max-width:120px;margin:0 auto;}
[data-panel] .tbl1.productList .input.discountCn input.discount{padding:5px 0.1em;text-align:center;background-color:transparent;}
[data-panel] .tbl1.productList .input.discountCn .addon.small{min-width:40px;max-width:45px;text-align:center;transition:0.3s;opacity:1;line-height:24px;display:inline-block;}
[data-panel] .tbl1.productList .input.discountCn .addon.small:empty{min-width:0;width:0;opacity:0;border-width:0;padding:0}

[data-panel] .tbl1 .min80{white-space:nowrap;width:80px}
[data-panel] .tbl1 .min100{white-space:nowrap;width:100px}
[data-panel] .tbl1 .min120{white-space:nowrap;width:120px}
[data-panel] .tbl1 .min150{white-space:nowrap;width:150px}

[data-panel] .finalPriceVal span{font-size: 2em;font-weight:bold;}



[data-panel] .factor .logo.midSize{width: 50%;margin:0 auto;}
[data-panel] .factor .storeDetail h1{font-weight: bold;font-size: 2em}
[data-panel] .factor .storeDetail address{font-style: normal;font-weight: 300;line-height: 1.5em;}
[data-panel] .factor .storeDetail address .phone{font-weight:bold}
[data-panel] .factor .storeDetail .logo img{width: 80px;height:auto;max-width:80px;max-height:80px;border-radius:3px;overflow:hidden;}
[data-panel] .factor .storeDetail .desc{line-height:1.5em}

[data-panel] .factor .factorDetail{padding-top:1em;border-top:2px solid #333}
[data-panel] .factor .factorDetail .datetime .time{font-weight:700}
[data-panel] .factor .factorDetail code{font-size: 1.5em;background-color:#eee;border-radius:3px;padding:3px 5px;min-width:50px;text-align:center;}
[data-panel] .factor .barcodePrev{height: 40px;width:140px;}
[data-panel] .factor .barcodePrev.wide{height: auto;width:100%;}
[data-panel] .factor .tbl1{color:#000}
[data-panel] .factor .tbl1 thead th{border-bottom-color: #000;padding-top:1em;padding-bottom:1em; }
[data-panel] .factor .tbl1 tbody td{line-height:1.4em;}
[data-panel] .factor .tbl1 .productTitle{width:50%;font-size:0.9em;}
[data-panel] .factor .tbl1 td{vertical-align: middle;}
[data-panel] .factor .tbl1 tfoot th{border-top:1px dotted #000;font-weight:bold}
[data-panel] .factor .factorResult th{vertical-align: middle;}
[data-panel] .factor .factorResult .collapsing{font-weight:bold;font-size: 1.2em;}
[data-panel] .factor .factorResult .factorSum{font-size: 1.2em;color:#000!important;}






@media (max-width: 767px) {
  [data-panel] .tbl1.productList .headProduct{min-width:auto;}
  [data-panel] .tbl1 .min80{width:auto;}
  [data-panel] .tbl1 .min100{width:auto;}
  [data-panel] .tbl1 .min120{width:auto;}
  [data-panel] .tbl1 .min150{width:auto;}

  [data-panel] #factorAdd .tbl1 tr td:first-child, [data-panel] #factorAdd .tbl1 tr th:first-child{display: none;}
  [data-panel] #factorAdd .tbl1 tr td:last-child, [data-panel] #factorAdd .tbl1 tr th:last-child{display: none;}
  [data-panel] #factorAdd .tbl1.productList input.count{width:50px;}
  [data-panel] #factorAdd .tbl1.productList .input.discountCn{width:60px;}
  [data-panel] #factorAdd .tbl1.productList .input.discountCn .addon.small{display:none!important}
}





/*style for print*/
@page {
  margin:0.2cm;
}

@media print {
  html{overflow: auto}
  body{overflow: auto;-webkit-print-color-adjust:exact;print-color-adjust:exact;}
  #main{overflow: auto;}
  #content{overflow: auto;}
  [data-panel] #content .tbox{display: none}
  [data-panel] .tbl1{color:#000!important;font-size:1.2em}
  [data-panel] .tbl1 thead{background-color:#ddd;color:#000}
  [data-panel] .tbl1 tfoot{background-color:#ddd;font-size:1.1em}

  [data-panel] #content{padding:0;}
  [data-panel] .factor.printArea{color:#000!important;}

}




