body{
  background-color: #eee;
}

/*************************************************** header*/
.header {background-color: #fff}
.header .banner {display: block; height: 40px; line-height: 40px;font-size: 1.4em; text-align: center;background-color: #5f5042;color: #fff;}

/*topNav*/
.header .topNav {height: 40px;line-height: 40px; background-color: #f8f8f8;border-bottom: 1px solid #eee;font-size: 1.2em;}
.header .topNav nav{}
.header .topNav nav a{display:inline-block; padding:0 1em;color: #999;transition:0.3s;}
.header .topNav nav a:hover{color: #e62e04}
.header .topNav nav a:focus{background-color:#eee;}
.ltr .header .topNav nav a{border-right: 1px solid #e9e9e9;float:left}
.ltr .header .topNav nav a:last-child{border-right: 0}
.rtl .header .topNav nav a{border-left: 1px solid #e9e9e9;float:right}
.rtl .header .topNav nav a:last-child{border-left: 0}
.ltr .header .topNav nav.langlist{float: right}
.rtl .header .topNav nav.langlist{float: left}

/*mainNav*/
.header .mainNav {height: 70px;margin-bottom: 100px;}
.header .mainNav .logo {height: 70px;display: block}
.header .mainNav .logo img{height:70px;vertical-align: middle;padding: 5px;}
.header .mainNav .logo h1{display:inline-block;margin:0;vertical-align: middle;font-weight:900;line-height: 70px;color: #333}
.header .mainNav .search {padding: 14px 10px 0;}
.header .mainNav .search input{background-color: rgba(255,255,255,0.5);}
.header .mainNav .search input:focus{background-color:#fff}
.header .mainNav .search nav{line-height: 12px;padding:4px 0}
.header .mainNav .search nav a{display: inline-block;padding: 0 10px;color: #999}
.ltr .header .mainNav .search nav a {border-right: 1px solid #e9e9e9}
.ltr .header .mainNav .search nav a:last-child{border-right: 0}
.rtl .header .mainNav .search nav a {border-left: 1px solid #e9e9e9}
.rtl .header .mainNav .search nav a:last-child{border-left: 0}
.header .mainNav .cartLink {display:block;text-align:center;font-size:1.2em;line-height: 60px}
.header .mainNav .enterLink {display:block;text-align:center;font-size:1.2em;line-height: 60px}




