{%extends display.suMain%}

{%block content%}

{%if url.tld == 'local'%}

 <div class="">
  <h2>{%trans "Translate"%}</h2>

  <div class="f">

   <div class="c6 s12">
      <a class="dcard x2 success2" target="_blank" href="{{url.this}}?path=all">
       <div class="statistic">
        <div class="value"><i class="sf-language"></i></div>
        <div class="label">{%trans "Extract All trans func"%}</div>
       </div>
      </a>
   </div>

    <div class="c6 s12">
      <a class="dcard x2 " target="_blank" href="{{url.this}}?path=current">
       <div class="statistic">
        <div class="value"><i class="sf-language"></i></div>
        <div class="label">{%trans "Extract twig trans func in current project"%}</div>
       </div>
      </a>
   </div>


   <div class="c6 s12">
      <a class="dcard x2" target='_blank' href="{{url.this}}?path=addons">
       <div class="statistic">
        <div class="value"><i class="sf-wheelchair"></i></div>
        <div class="label">{%trans "Extract twig trans func in dash addons"%}</div>
       </div>
      </a>
   </div>

   <div class="c6 s12">
     <a class="dcard x2" target='_blank' href="{{url.this}}?path=addons&update=dash">
       <div class="statistic">
        <div class="value"><i class="sf-bug-2"></i></div>
        <div class="label">{%trans "Extract twig trans func in dash addons and update on dash addons"%}</div>
       </div>
      </a>
   </div>


</div>


 </div>
{%endif%}

{%endblock%}
