{%extends display.admin%}



{%block pageContent%}
<div class="f justify-center">
  <div class="c8 m12 s12">
    <div class="cbox">
        <h4>{%trans "Splash setting"%}</h4>
        <div class="mB20">
         <div class="f">
          <div class="vcard shadow mA10 s12">
            <img alt="siftal" src="{{introSaved[1]['file']}}">
            <div class="content">
              <a class="header">{{introSaved[1]['title']}}</a>
              <div class="desc">{{introSaved[1]['desc']}}</div>
            </div>
            <div class="footer">{%trans "Page"%} {{1 | fitNumber}}</div>
          </div>

          <div class="vcard shadow mA10 s12">
            <img alt="siftal" src="{{introSaved[2]['file']}}">
            <div class="content">
              <a class="header">{{introSaved[2]['title']}}</a>
              <div class="desc">{{introSaved[2]['desc']}}</div>
            </div>
            <div class="footer">{%trans "Page"%} {{2 | fitNumber}}</div>
          </div>

          <div class="vcard shadow mA10 s12">
            <img alt="siftal" src="{{introSaved[3]['file']}}">
            <div class="content">
             <a class="header">{{introSaved[3]['title']}}</a>
              <div class="desc">{{introSaved[3]['desc']}}</div>
            </div>
            <div class="footer">{%trans "Page"%} {{3 | fitNumber}}</div>
          </div>
     	</div>
       </div>

      <form method="post" autocomplete="off">

         <h4>{%trans "Intro theme"%}</h4>

        <div class="radio1">
          <input type="radio" name="theme" value="blue" {% if introSaved.theme == 'blue' %} checked {%endif%} id="sRdc1">
          <label for="sRdc1">Blue (Default)</label>
        </div>

        <div class="radio1 red">
          <input type="radio" name="theme" value="red" {% if introSaved.theme == 'red' %} checked {%endif%} id="sRdc2">
          <label for="sRdc2">Red</label>
        </div>

        <div class="radio1 yellow">
          <input type="radio" name="theme" value="yellow" {% if introSaved.theme == 'yellow' %} checked {%endif%} id="sRdc3">
          <label for="sRdc3">Yellow</label>
        </div>

        <div class="radio1 green">
          <input type="radio" name="theme" value="green" {% if introSaved.theme == 'green' %} checked {%endif%} id="sRdc4">
          <label for="sRdc4">Green</label>
        </div>

        <div class="radio1 black">
          <input type="radio" name="theme" value="balck" {% if introSaved.theme == 'balck' %} checked {%endif%} id="sRdc5">
          <label for="sRdc5">Black</label>
        </div>

         <h4 class="mT20" data-kerkere='.intro1'  data-kerkere-icon='open'>{%trans "Edit intro page 1"%}</h4>
         <div class="intro1" >
         	<label for="title1">{%trans "Title"%}</label>
         	<div class="input">
         		<input type="text" name="title1" id="title1" value="{{introSaved[1]['title']}}" maxlength="50">
         	</div>

         	<label for="desc1">{%trans "Description"%}</label>
         	<div class="input">
         		<input type="text" name="desc1" id="desc1" value="{{introSaved[1]['desc']}}" maxlength="100">
         	</div>

         	<label for="file1">{%trans "Image"%}</label>
         	<div class="input">
         		<input type="file" name="file1" id="file1">
         	</div>
         </div>

         <h4 class="mT20" data-kerkere='.intro2'  data-kerkere-icon='open'>{%trans "Edit intro page 2"%}</h4>
         <div class="intro2" >
         	<label for="title2">{%trans "Title"%}</label>
         	<div class="input">
         		<input type="text" name="title2" id="title2" value="{{introSaved[2]['title']}}" maxlength="50">
         	</div>

         	<label for="desc2">{%trans "Description"%}</label>
         	<div class="input">
         		<input type="text" name="desc2" id="desc2" value="{{introSaved[2]['desc']}}" maxlength="100">
         	</div>

         	<label for="file2">{%trans "Image"%}</label>
         	<div class="input">
         		<input type="file" name="file2" id="file2">
         	</div>
         </div>

         <h4 class="mT20" data-kerkere='.intro3'  data-kerkere-icon='open'>{%trans "Edit intro page 3"%}</h4>
         <div class="intro3" >
         	<label for="title3">{%trans "Title"%}</label>
         	<div class="input">
         		<input type="text" name="title3" id="title3" value="{{introSaved[3]['title']}}" maxlength="50">
         	</div>

         	<label for="desc3">{%trans "Description"%}</label>
         	<div class="input">
         		<input type="text" name="desc3" id="desc3" value="{{introSaved[3]['desc']}}" maxlength="100">
         	</div>

         	<label for="file3">{%trans "Image"%}</label>
         	<div class="input">
         		<input type="file" name="file3" id="file3">
         	</div>
         </div>

         <div class="txtRa">
         	<button class="btn success">{%trans "Save"%}</button>
         </div>


      </form>
    </div>
  </div>
</div>



{%endblock%}



