{%extends display.admin%}


{%block pageContent%}
<div class="tbox w500">
<h3>{%trans "Parents manager"%}</h3>
</div>
<div class="f">

{%for key , value in parent_list%}
  <div class="c12 pA5">

    <div class="cbox w500">
      <div class="f">
        <div class="c6">
          <div class="f">
            {%if value.displayname%}
            <div class="c12"><p>{{value.displayname}}</p></div>
            {%else%}
            <div class="c12"><p><i>{%trans "No name"%}</i></p></div>
            {%endif%}
            <div class="c12"><p>{{value.mobile|fitNumber}}</p></div>
            {%if value.msg%}
              <div class="c12 sm"><p>{{value.msg}}</p></div>
            {%endif%}
          </div>
        </div>
        <div class="c2 pT15">
          <p>{%set my_title = value.title | capitalize %}{%trans my_title%}</p>
        </div>
        <div class="c pT10">
        {%if value.fileurl%}
          <img src="{{value.fileurl}}" class="mini">
        {%else%}
           <i class="sf-user fs30"></i>
        {%endif%}
        </div>
        <div class="cauto pT10">
        <form method="post">
            {%if value.notify%}
              <input type="hidden" name="cancel" value='{{value.id|shortURL("encode")}}'>
              <button class="btn sm mA3 danger" type="submit" >{%trans "Cancel"%}</button>
            {%else%}
              <input type="hidden" name="remove" value='{{value.id|shortURL("encode")}}'>
              <button class="btn sm mA3 danger" type="submit" >{%trans "Remove"%}</button>
            {%endif%}
        </form>
        </div>
      </div>
    </div>
  </div>
{%endfor%}


  <div class="c12 pA5">

    <div class="cbox w500 ">
      <p>{%trans "Add new parent"%}</p>
      <div class="f">
        <div class="c center ">
        <form method="post" class="df">

          <input type="number" name="mobile" placeholder='{%trans "Mobile"%}' class="mA5">

          <select name="title" class="mA5">
            <option value="">{%trans "Please select one items"%}</option>
            <option value="father">{%trans "Father"%}</option>
            <option value="mother">{%trans "Mother"%}</option>
            <option value="sister">{%trans "Sister"%}</option>
            <option value="brother">{%trans "Brother"%}</option>
            <option value="grandfather">{%trans "Grandfather"%}</option>
            <option value="grandmother">{%trans "Grandmother"%}</option>
            <option value="aunt">{%trans "Aunt"%}</option>
            <option value="husband of the aunt">{%trans "Husband of the aunt"%}</option>
            <option value="uncle">{%trans "Uncle"%}</option>
            <option value="boy">{%trans "Boy"%}</option>
            <option value="girl">{%trans "Girl"%}</option>
            <option value="spouse">{%trans "Spouse"%}</option>
            <option value="stepmother">{%trans "Stepmother"%}</option>
            <option value="stepfather">{%trans "Stepfather"%}</option>
            <option value="neighbor">{%trans "Neighbor"%}</option>
            <option value="teacher">{%trans "Teacher"%}</option>
            <option value="friend">{%trans "Friend"%}</option>
            <option value="boss">{%trans "Boss"%}</option>
            <option value="supervisor">{%trans "Supervisor"%}</option>
            <option value="child">{%trans "Child"%}</option>
            <option value="grandson">{%trans "Grandson"%}</option>
            <option value="custom">{%trans "Custom"%}</option>
          </select>

          <div data-response="title" data-response-where="custom" data-response-hide>
            <input type="text" name="othertitle" placeholder='{%trans "Other title"%}' class="mA5">
          </div>

          <button class="mA5 btn primary outline " type="submit" >{%trans "Add"%}</button>

        </form>
        </div>
      </div>
    </div>
  </div>
</div>








{%endblock%}

