{%extends "content_a/product/layout.html"%}


{%block data%}
<form class="cbox" method="post">
{{block ('iTitle') }}
{{block ('iName') }}
{{block ('iCat') }}
{{block ('iSlug') }}
{{block ('iCompany') }}
{{block ('iShortcode') }}
{{block ('iUnit') }}
{{block ('iBarcode') }}
{{block ('iBarcode2') }}
{{block ('iBuyprice') }}
{{block ('iPrice') }}
{{block ('iDiscount') }}
{{block ('iVat') }}
{{block ('iInitialBalance') }}
{{block ('iMinstock') }}
{{block ('iMaxstock') }}
{{block ('iStatus') }}
{{block ('iSold') }}
{{block ('iStock') }}
{{block ('iServiec') }}
{{block ('iSellonline') }}
{{block ('iSellstore') }}
{{block ('iCarton') }}
{{block("isave")}}
</form>
{%endblock%}
