{%extends display.mvc%}


{%block body%}

{%include "/content/dashboard/header.html"%}

<div class="pwa">
 <div class="cn">
   <h1>Browse</h1>
   {%include "/content/dashboard/search.html"%}

   <h2>Jibres Services</h2>
   <nav class="pwaItems">
     <ul>
       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div>{%trans "Domain Center"%}</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div>{%trans "Payment Gateway"%}</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div>{%trans "Electronic Wallet"%}</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="">
         <img src="{{url.icon}}" alt="jibres">
         <div>{%trans "Pay bill"%}</div>
        </a>
       </li>

     </ul>
   </nav>

   <h2>Sample Actions</h2>
   <nav class="pwaItems">
     <ul>
       <li>
        <a class="f align-center" href="jibres://test">
         <img src="{{url.icon}}" alt="jibres">
         <div>Test Page</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="jibres://splash">
         <img src="{{url.icon}}" alt="jibres">
         <div>Splash</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="jibres://intro">
         <img src="{{url.icon}}" alt="jibres">
         <div>Intro</div>
        </a>
       </li>

       <li>
        <a class="f align-center" href="jibres://language">
         <img src="{{url.icon}}" alt="jibres">
         <div>Language</div>
        </a>
       </li>

     </ul>
   </nav>


 </div>
</div>

{%include "/content/dashboard/footer.html"%}
<style>
  body{background-color: #f3f2f8;}

 .superAdmin{display: none;}
</style>
{%endblock%}

