{%extends display.mvc%}


{%block body%}
<div class="pwa">
  <a href="{{url.this}}#stores" class="hide">
    <img src="{{url.static}}/img/app/opening.jpg" alt="addNewStore">
  </a>
 <div class="cn">
  <section class="fs20 pT50">
   <h1>Hello!</h1>
   <ul class="list">
    <li><a href="jibres://test">Test Page</a></li>
    <li><a href="jibres://splash">Splash</a></li>
    <li><a href="jibres://intro">Intro</a></li>
    <li><a href="jibres://language">Language</a></li>
   </ul>
  </section>
 </div>

 <footer class="appFooter">
  <nav class="f">
   <div class="c">
    <a href="{{url.this}}#dashboard" class="selected">
     <div class="icon"><i class="sf-gauge"></i></div>
     <div class="title">{%trans "Dashboard"%}</div>
    </a>
   </div>

   <div class="c">
    <a href="{{url.this}}#messages">
     <div class="icon"><i class="sf-comments"></i></div>
     <div class="title">{%trans "Messages"%}</div>
    </a>
   </div>

   <div class="c">
    <a href="{{url.this}}#stores">
     <div class="icon"><i class="sf-money"></i></div>
     <div class="title">{%trans "Stores"%}</div>
    </a>
   </div>

   <div class="c">
    <a href="{{url.this}}#helpcenter">
     <div class="icon"><i class="sf-info-circle"></i></div>
     <div class="title">{%trans "Help Center"%}</div>
    </a>
   </div>

   <div class="c">
    <a href="{{url.this}}#profile">
     <div class="icon"><i class="sf-user"></i></div>
     <div class="title">{%trans "Profile"%}</div>
    </a>
   </div>
  </nav>
 </footer>
</div>


<style>
  body{background-color: #f3f2f8;padding-bottom:50px;}

.pwa h1{font-size: 32px;font-weight: 900;}
.pwa h2{font-size: 20px;}
.pwa h3{font-size: 18px;}
.pwa h4{font-size: 16px;}

 .superAdmin{display: none;}
</style>
{%endblock%}

