{%extends "content_a/customer/layout.html"%}

{%block pageContent%}
{{block ("pageSteps")}}
{{block ("pageStepsProfile")}}


<div class="f">
 <div class="c3 s12 x2 pRa10">
    {{block("psidebar")}}
 </div>
 <div class="c9 x10 s12">
 	<div class="cbox">
 		{{block('iformData')}}
 	</div>
 </div>
</div>


{%endblock%}




{%block iformData%}

<form method="post" autocomplete="off">

<div class="f">
	<div class="cauto mRa5">{{block('igender')}}</div>
	<div class="c">{{block('idisplayname')}}</div>
</div>
<div class="f">
	<div class="c mRa5">{{block('iname')}}</div>
	<div class="c">{{block('ifamily')}}</div>
</div>


<div class="f">
	<div class="c mRa5">{{block('ifather')}}</div>
	<div class="c">{{block('ibirthday')}}</div>
</div>

<div class="f">
	<div class="c mRa5">{{block('inationality')}}</div>
	<div class="c">{{block('incode')}}</div>
</div>


<div class="f">
	<div class="c mRa5">{{block('imarital')}}</div>
	<div class="c">{{block('ishcode')}}</div>
</div>

<div class="f">
	<div class="c mRa5">{{block('ibirthcity')}}</div>
	<div class="c">{{block('ipassport')}}</div>
</div>

{%if perm('customerElectronicDocumentEdit')%}
<div class="f">
	<div class="c mRa10">{{block('iNationalthumb')}}</div>
	<div class="c mRa10">{{block('iShthumb')}}</div>
	<div class="c">{{block('iPassportThumb')}}</div>
</div>
{%endif%}

{{block("isave")}}

</form>
{%endblock%}

