{%extends display.dash%}



{%block pageContent%}

{{block('fPeriod')}}


<div class="f">
  <div class="c s6">{{block ("dVisit")}}</div>
  <div class="c s6">{{block ("dPageviews")}}</div>
{%if dashboardDetail.visitor and dashboardDetail.visit%}
  <div class="c s6">{{block ("dRatio")}}</div>
{%endif%}
  <div class="c s6">{{block ("dAvgTime")}}</div>
</div>

<div class="cbox pA0" title='{%trans "Max trafic time"%} {{(dashboardDetail.maxtrafictime ~ ":00:00") | dt(true)}}'>
{{block('bChartPrimary')}}
</div>

<div class="f">
	<div class="c6 s12 pRa10">
{{block ("dTopVisit")}}
	</div>
	<div class="c6 s12">
{{block ("dTopReferrers")}}

	</div>
</div>

<div class="f mB25">
  <div class="c s6">{{block ("dNewVisits")}}</div>
  <div class="c s6">{{block ("dBounceRate")}}</div>
  <div class="c s12">{{block ("dAlexa")}}</div>
</div>

{%endblock%}

{%block fPeriod%}
<div class="msg f">
	<a class="cauto mRa10 mT5 btn" href="{{url.this}}/log">{%trans "Visited pages log"%}</a>
	<a class="cauto mRa25 mT5 btn" href="{{url.this}}/chart">{%trans "Extra chart"%}</a>

	<a class="c s12 mRa10 mT5 btn {%if requestGET.period == 'hours24'%}primary{%else%}dark outline{%endif%}" href="{{url.this}}?period=hours24">{%trans "Last 24 hours"%}</a>
	<a class="c s12 mRa10 mT5 btn {%if requestGET.period == 'week'%}primary{%else%}dark outline{%endif%}" href="{{url.this}}?period=week">{%trans "Last week"%}</a>
	<a class="c s12 mRa10 mT5 btn {%if requestGET.period == 'month'%}primary{%else%}dark outline{%endif%}" href="{{url.this}}?period=month">{%trans "Last month"%}</a>
</div>
{%endblock%}


{%block dVisit%}
<div class="dcard">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-users"></i> {%trans "Visit"%}</div>
  <div class="value">{{dashboardDetail.visit | fitNumber}}</div>
 </div>
</div>
{%endblock%}


{%block dPageviews%}
<div class="dcard">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-interface-windows"></i> {%trans "Pageviews"%}</div>
  <div class="value">{{dashboardDetail.visitor | fitNumber}}</div>
 </div>
</div>
{%endblock%}


{%block dRatio%}
<div class="dcard">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-anchor"></i> {%trans "Pages/Visit"%}</div>
  <div class="value">{{(dashboardDetail.visitor / dashboardDetail.visit) | round(2) | fitNumber(false)}}</div>
 </div>
</div>
{%endblock%}


{%block dAvgTime%}
<div class="dcard">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-hourglass-end"></i> {%trans "Avg. Time on Site"%}</div>
  <div class="value">{{dashboardDetail.avgtime | fitNumber}}</div>
 </div>
</div>
{%endblock%}



{%block dBounceRate%}
<div class="dcard">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-atom"></i> {%trans "Bounce Rate"%}</div>
  <div class="value">{{dashboardDetail.bouncerate | fitNumber}}</div>
 </div>
</div>
{%endblock%}


{%block dNewVisits%}
<div class="dcard">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-new-sign"></i> {%trans "New Visits %"%}</div>
  <div class="value">{{dashboardDetail.newvisits | fitNumber}}</div>
 </div>
</div>
{%endblock%}

{%block dAlexa%}
<a class="dcard" href="{{alexa.url}}" target="_blank">
 <div class="statistic sm">
  <div class="label mB10"><i class="fs20 mRa5 sf-globe"></i> {%trans "Alexa rank"%}</div>
  <div class="value">{{alexa.rank | fitNumber}}</div>
 </div>
</a>
{%endblock%}


{%block bChartPrimary%}
 <div class="chart x4" id="chartdiv" data-type='bar' data-vals='{{visitor.chart}}'></div>
{%endblock%}



{%block dTopVisit%}
<div class="cbox fs12">
	<h2>{%trans "Top Pages"%}</h2>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
</div>
{%endblock%}


{%block dTopReferrers%}
<div class="cbox fs12">
	<h2>{%trans "Top Referrers"%}</h2>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
	<a class="msg block" href="#">Salam</a>
</div>
{%endblock%}



{%block foot_js%}
<script type="text/javascript">
  {%include 'content_cms/visitor/home/chart.js'%}
</script>
{%endblock%}
