{%extends 'content_i/layout.html'%}


{%block iParent %}

{%if parentList%}
<div class="mT10">
  <label for="parent">{%trans "Parent"%}</label>
  <select name="parent" class="ui dropdown select search">
    <option value="0" >{%trans "Without parent"%}</option>
    {%for key, value in parentList%}

      <option value="{{value.id}}" {%if dataRow.parent1 == value.id%} selected {%endif%}>{{value.title}}</option>

    {%endfor%}
  </select>
</div>
{%endif%}

{%endblock%}

{%block ititle%}
<label for='title'>{%trans "Title"%}</label>
<select name="title" class="select ui dropdown search addition" id="title">
  <option value="">{%trans "Please select one itme"%}</option>

  {%for key, value in myList%}

    <option value="{{value.title}}" {%if value.id == dataRow.id %} selected{%endif%}>{{value.title}}</option>

  {%endfor%}
</select>
{%endblock%}


{%block iin%}
<div class="switch1">
  <input type="checkbox" name="in" id="in" {%if dataRow.in%} checked {%endif%}>
  <label for="in" data-on="YES" data-off="NO!"></label>
  <label for="in">{%trans "Use in incoming record?"%}</label>
</div>
{% endblock %}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}


