{%extends display.dash%}



{%block icountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country" value="{%if dataRow.country%}{{dataRow.country}}{%else%}IR{%endif%}">
    <i class="dropdown icon"></i>
    <div class="default text">{%trans "Choose your country"%}</div>
    <div class="menu">
{%for key, value in countryList%}
      <div class="item" data-value="{{key}}">
        <i class="{{value.iso2 | lower }} flag"></i>{%set myCountry = value.name%} {%trans myCountry%}<small class="description">{{value.name | capitalize}}</small>
      </div>
{%endfor%}
    </div>
  </div>
</div>
{%endblock%}

{%block idesc%}
<label for="desc">{%trans "Description"%}</label>
<textarea class="txt mB10" id='desc' name="desc"  maxlength='500' rows="5">{{dataRow.desc}}</textarea>
{%endblock%}


{%block icategory %}
<div data-response='country' data-response-where='IR'>
  <label for="pos">{%trans "Please choose category"%}</label>
  {%include display.spay%}
</div>

<div data-response='country' data-response-where-not='IR' data-response-hide>
  <label for="category">{%trans "Bank"%}</label>
  <div class="input">
    <input type="text" name="category" id="category"  value="{{dataRow.category}}" maxlength='150'>
  </div>
</div>
{% endblock %}



{%block ititle %}
<label for="title">{%trans "Title"%}</label>
<div class="input">
  <input type="text" name="title" id="title"  value="{{dataRow.title}}" maxlength='150'>
</div>
{% endblock %}


{%block iaccountnumber %}
<label for="accountnumber">{%trans "Account number"%}</label>
<div class="input">
  <input type="number" name="accountnumber" id="accountnumber"  value="{{dataRow.accountnumber}}" max='99999999999999999999999'>
</div>
{% endblock %}


{%block ishaba %}
<label for="shaba">{%trans "Shaba"%}</label>
<div class="input">
  <input type="number" name="shaba" id="shaba"  value="{{dataRow.shaba}}" max='999999999999999999999999999999'>
  <label for="shaba" class="addon ltr">IR-</label>
</div>
{% endblock %}


{%block icard %}
<label for="card">{%trans "Card"%}</label>
<div class="input">
  <input type="number" name="card" id="card"  value="{{dataRow.card}}" max='99999999999999999999'>
</div>
{% endblock %}


{%block ibranch %}
<label for="branch">{%trans "Branch"%}</label>
<div class="input">
  <input type="text" name="branch" id="branch"  value="{{dataRow.branch}}" maxlength='150'>
</div>
{% endblock %}


{%block ibranchcode %}
<label for="branchcode">{%trans "Branch code"%}</label>
<div class="input">
  <input type="text" name="branchcode" id="branchcode"  value="{{dataRow.branchcode}}" maxlength='150'>
</div>
{% endblock %}


{%block iowner %}
<label for="owner">{%trans "Owneer"%}</label>
<div class="input">
  <input type="text" name="owner" id="owner"  value="{{dataRow.owner}}" maxlength='150'>
</div>
{% endblock %}


{%block iiban %}
<div data-response='country' data-response-where-not='IR' {%if dataRow.country == 'IR' or not dataRow.country %}data-response-hide{%endif%}>
  <label for="iban">{%trans "IBAN"%}</label>
  <div class="input">
    <input type="text" name="iban" id="iban"  value="{{dataRow.iban}}" maxlength='150'>
  </div>
</div>
{% endblock %}


{%block iswift %}
<div data-response='country' data-response-where-not='IR' {%if dataRow.country == 'IR' or not dataRow.country %}data-response-hide{%endif%}>
  <label for="swift">{%trans "SWIFT"%}</label>
  <div class="input">
    <input type="text" name="swift" id="swift"  value="{{dataRow.swift}}" maxlength='150'>
  </div>
</div>
{% endblock %}


{%block inameoncard %}
<label for="nameoncard">{%trans "Name on card"%}</label>
<div class="input">
  <input type="text" name="nameoncard" id="nameoncard"  value="{{dataRow.nameoncard}}" maxlength='150'>
</div>
{% endblock %}




{%block iexpire %}
<label for="expire">{%trans "Expire"%}</label>
<div class="input">
  <input type="text" name="expire" id="expire"  value="{{dataRow.expire}}" maxlength='7'>
</div>
{% endblock %}


{%block icvv2 %}
<label for="cvv2">{%trans "CVV2"%}</label>
<div class="input">
  <input type="text" name="cvv2" id="cvv2"  value="{{dataRow.cvv2}}" maxlength='8'>
</div>
{% endblock %}



{%block istatus %}
<label for="status">{%trans "Status"%}</label>
<div class="input">
  <input type="text" name="status" id="status"  value="{{dataRow.status}}" maxlength='150'>
</div>
{% endblock %}





{%block isubtitle%}
<label for='subtitle'>{%trans "subtitle"%}</label>
<select name="subtitle" class="select ui dropdown search addition" id="subtitle">
  <option value="">{%trans "Add or select"%}</option>
  <option value="0">{%trans "Non"%}</option>
  {%for key, value in myList.subtitle%}
    <option value="{{value}}"{%if value == dataRow.subtitle %} selected{%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}


{%block icat%}
<label for='cat'>{%trans "cat"%}</label>
<select name="cat" class="select ui dropdown search addition" id="cat">
  <option value="">{%trans "Add or select"%}</option>
  <option value="0">{%trans "Non"%}</option>
  {%for key, value in myList.cat%}

    <option value="{{value}}" {%if value == dataRow.cat %} selected{%endif%}>{{value}}</option>

  {%endfor%}
</select>
{%endblock%}


{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}


