{%extends display.admin%}

{%block pageContent%}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
{%block data%}{%endblock%}
 </div>
</div>
{%endblock%}





{%block psidebar%}
<div class="cbox normal">

  <a class="vcard shadow {{cardColor}}" href='{{url.this}}/thumb?id={{product.id}}'>
    <img src="{{product.thumb}}" alt="{{product.title}}" class="pA10-f">
    <div class="content">
      <div class="header">{{product.title}}</div>
        <div class="meta"><span>{{product.name}}</span></div>
    </div>
  </a>

 <a class="btn block mTB5" href='{{url.this}}/general?id={{product.id}}'>{%trans "General Detail"%}</a>
 <a class="btn block mTB5" href='{{url.this}}/delete?id={{product.id}}'>{%trans "Delete product"%}</a>

</div>
{%endblock%}







{%block iadd%}
<button class="btn primary block mT25">{%trans "Add"%}</button>
{%endblock%}

{%block iDelete%}
<button class="btn danger block mT20">{%trans "Delete product"%}</button>
{%endblock%}

{%block isave%}
<button class="btn primary block mT25">{%trans "Save"%}</button>
{%endblock%}

{%block iInsert%}
<button class="btn primary block mT20">{%trans "Insert"%}</button>
{%endblock%}

{%block iSaveAll%}
<button class="btn primary block mT20">{%trans "Save All"%}</button>
{%endblock%}


{%block iAvatar%}
 <div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="thumb" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if product.thumb%}
   <img src="{{product.thumb}}" alt="{{product.name}}" id="avatarPreview">
{%endif%}
 </label>
</div>
{%endblock%}


{%block iName%}
<label for='fname'>{%trans "Name"%}</label>
<div class="input">
 <input type="text" name="name" placeholder='{%trans "Name of product"%}' value="{{product.name}}" required autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name"%}' id='fname'>
</div>
{%endblock%}


{%block iTitle%}
<label for="title">{%trans "Title"%}<span class="fc-red">*</span></label>
<div class="input">
 <input type="text" name="title" id="title" placeholder='{%trans "Set short and best title for your product" %} *' value="{{product.title}}" maxlength='50' pattern=".{1,50}" title='{%trans "Enter a valid team title"%}' autofocus>
</div>
{%endblock%}



{%block iSlug%}
<label for='slug'>{%trans "Slug"%}</label>
<div class="input">
 <input type="text" name="slug" id="slug" placeholder='{%trans "Slug"%}' value="{{product.slug}}" maxlength="50">
</div>
{%endblock%}



{%block iManufacturer%}
<label for='company'>{%trans "Manufacturer"%}</label>
<div class="input">
 <input class="autoList" type="text" name="company" id="company" placeholder='{%trans "Product manufacturer"%}' value="{{product.company}}" maxlength="50" data-list="{{listCompanies}}">
</div>
{%endblock%}


{%block iCat%}
<label for='cat'>{%trans "Cat"%}</label>
<div class="input">
 <input class="autoList" type="text" name="cat" id="cat" placeholder='{%trans "Organize by category"%}' value="{{product.cat}}" maxlength="50" data-list="{{listCats}}">
</div>
{%endblock%}



{%block iCode%}
<label for='code'>{%trans "Code"%}</label>
<div class="input">
 <input type="text" name="code" id="code" placeholder='{%trans "For quick access"%}' value="{{product.code}}" maxlength="50" class="txtC">
</div>
{%endblock%}


{%block iShortcode%}
<label for='shortcode'>{%trans "Short code"%}</label>
<div class="input">
 <input type="text" name="shortcode" id="shortcode" placeholder='{%trans "Short code"%}' value="{{product.shortcode}}" maxlength="50">
</div>
{%endblock%}


{%block iUnit%}
<label for='unit'>{%trans "Unit"%}</label>
<div class="input">
 <input class="autoList" name="unit" id="unit" placeholder='{%trans "like Qty, kg, etc"%}' value="{{product.unit}}" maxlength="50" data-list="{{listUnits}}">
</div>
{%endblock%}




{%block iBarcode%}
<label for="barcode">{%trans "Barcode"%}</label>
<div class="input ltr">
 <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{product.barcode}}" class="barCode txtC" data-lock autocomplete="off">
</div>
{%endblock%}


{%block iBarcode2%}
<label for="barcode2">{%trans "Barcode2"%}</label>
<div class="input ltr">
 <input type="text" name="barcode2" id="barcode2" placeholder='{%trans "Scan Barcode2 here..."%}' value="{{product.barcode2}}" class="barCode txtC" data-lock autocomplete="off">
</div>
{%endblock%}


{%block iBarcodePrev%}
<div class="f txtC s0">
 <div class="c6 pRa5"><svg class="barcodePrev" data-val="#barcode"></svg></div>
 <div class="c6"><svg class="barcodePrev" data-val="#barcode2"></svg></div>
</div>
{%endblock%}



{%block iBuyprice%}
<label for='buyprice'>{%trans "Buy price"%}</label>
<div class="input">
 <input type="number" name="buyprice" id="buyprice" placeholder='{%trans "Buy price"%}' value="{{product.buyprice}}" min='0' max="100000000000" data-run-input='recalcPricePercents'>
</div>
{%endblock%}


{%block iPrice%}
<label for='price'>{%trans "Sale Price"%}</label>
<div class="input">
 <input type="number" name="price" id="price" placeholder='{%trans "Price for sale without discount"%}' value="{{product.price}}" min='0' max="100000000000" data-run-input='recalcPricePercents'>
 <span class="addon" title='{%trans "Impure Interest Rate"%}'>{{ product.intrestrate_impure | fitNumber}} %</span>
</div>
{%endblock%}


{%block iFinalPrice%}
<div {%if not product.finalprice%} class="hide"{%endif%}>
 <label for='finalprice'>{%trans "Final Price"%}</label>
 <div class="input disabled">
  <input type="number" id="finalprice" placeholder='{%trans "Final Pure Price"%}' value="{{product.finalprice}}" readonly>
  <span class="addon" title='{%trans "Pure Interest Rates"%}'>{{ product.intrestrate | fitNumber}} %</span>
 </div>
</div>
{%endblock%}



{%block iDiscount%}
<label for='discount'>{%trans "Discount"%}</label>
<div class="input">
 <input type="number" name="discount" id="discount" placeholder='{%trans "Discount on sale"%}' value="{{product.discount}}" maxlength="50" data-run-input='recalcPricePercents'>
 <span class="addon" title='{%trans "Discount Percent"%}'>{{ product.discountpercent | fitNumber}} %</span>
</div>
{%endblock%}


{%block iVat%}
<div class="switch1">
 <input type="checkbox" name="vat" id="vat" {% if product.vat%} checked{%endif%}>
 <label for="vat"></label>
 <label for="vat">{%trans "Vat"%} <small>{%trans "This product is vat base"%}</small></label>
</div>
{%endblock%}


{%block iInitialBalance%}
<label for='initialbalance'>{%trans "Initial Balance"%}</label>
<div class="input">
 <input type="number" name="initialbalance" id="initialbalance" placeholder='{%trans "Initial Balance"%}' value="{{product.initialbalance}}" maxlength="50">
</div>
{%endblock%}


{%block iMinstock%}
<label for='minstock'>{%trans "Min stock"%}</label>
<div class="input">
 <input type="number" name="minstock" id="minstock" placeholder='{%trans "Min stock"%}' value="{{product.minstock}}" maxlength="50">
</div>
{%endblock%}



{%block iMaxstock%}
<label for='maxstock'>{%trans "Max stock"%}</label>
<div class="input">
 <input type="number" name="maxstock" id="maxstock" placeholder='{%trans "Max stock"%}' value="{{product.maxstock}}" maxlength="50">
</div>
{%endblock%}


{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status of product"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-available" name="status" value="available" {%if product.status == 'available' or not product.status %} checked{%endif%}>
  <label for="r-available">{%trans "Avalible"%} <small>{%trans "Normal status of product"%}</small></label>
 </div>

 <div class="radio1 blue">
  <input type="radio" id="r-soon" name="status" value="soon" {%if product.status == 'soon' %} checked{%endif%}>
  <label for="r-soon">{%trans "Soon"%} <small>{%trans "maybe come in future and be available"%}</small></label>
 </div>

 <div class="radio1 yellow">
  <input type="radio" id="r-unavailable" name="status" value="unavailable" {%if product.status == 'unavailable' %} checked{%endif%}>
  <label for="r-unavailable">{%trans "Unavailable"%} <small>{%trans "temporary does not exist in store"%}</small></label>
 </div>

 <div class="radio1 red">
  <input type="radio" id="r-discountinued" name="status" value="discountinued" {%if product.status == 'discountinued' %} checked{%endif%}>
  <label for="r-discountinued">{%trans "Discountinued"%} <small>{%trans "does not exist for now and on the future"%}</small></label>
 </div>

 <div class="radio1 black mB25">
  <input type="radio" id="r-unset" name="status" value="unset" {%if product.status == 'unset'%} checked{%endif%} >
  <label for="r-unset">{%trans "Unset"%} <small>{%trans "Unknown status for product"%}</small></label>
 </div>
</div>
{%endblock%}




{%block iSold%}
<label for='sold'>{%trans "Sold"%}</label>
<div class="input">
 <input type="text" name="sold" id="sold" placeholder='{%trans "Sold"%}' value="{{product.sold}}" maxlength="50">
</div>
{%endblock%}



{%block iStock%}
<label for='stock'>{%trans "Stock"%}</label>
<div class="input">
 <input type="text" name="stock" id="stock" placeholder='{%trans "Stock"%}' value="{{product.stock}}" maxlength="50">
</div>
{%endblock%}


{%block iServiec%}
<div class="switch1">
 <input type="checkbox" name="service" id="service" {% if product.service%} checked{%endif%}>
 <label for="service"></label>
 <label for="service">{%trans "Service"%} <small>{%trans "This product is service base and not a real goods"%}</small></label>
</div>
{%endblock%}


{%block iSaleonline%}
<div class="switch1">
 <input type="checkbox" name="saleonline" id="saleonline" {% if product.saleonline%} checked{%endif%}>
 <label for="saleonline"></label>
 <label for="saleonline">{%trans "Sale Online"%} <small>{%trans "This product is saleonline base"%}</small></label>
</div>
{%endblock%}



{%block iSalestore%}
<div class="switch1">
 <input type="checkbox" name="salestore" id="salestore" {% if product.salestore%} checked{%endif%}>
 <label for="salestore"></label>
 <label for="salestore">{%trans "Sale in store"%} <small>{%trans "This product is salestore base"%}</small></label>
</div>
{%endblock%}




{%block iCarton%}
<label for='carton'>{%trans "Count in carton"%}</label>
<div class="input">
 <input type="number" name="carton" id="carton" placeholder='{%trans "Count of product in carton"%}' value="{{product.carton}}" maxlength="50">
</div>
{%endblock%}
