{%extends display.admin%}






{%block psidebar%}
<div class="cbox normal">

  <a class="vcard shadow {{cardColor}}" href='{{url.this}}/gallery?id={{dataRow.id}}'>
    <img src="{{dataRow.thumb}}" alt="{{dataRow.title}}" class="pA10-f">
    <div class="content">
      <div class="header">{{dataRow.title}}</div>
        <div class="meta"><span>{{dataRow.name}}</span></div>
        {%if dataRow.stock or dataRow.price%}
        <hr>
        {%endif%}
        {%if dataRow.price%}<div class="meta mB10">{%trans "Price"%}: <span>{{dataRow.price | fitNumber}}</span></div>{%endif%}

        {% if dataRow.stock%}<div class="meta">{%trans "Stock"%}: <span>{{dataRow.stock | fitNumber}}</span></div>{%endif%}
    </div>
  </a>

</div>
{%endblock%}




{%block iadd%}
<button class="btn primary block mT25">{%trans "Add"%}</button>
{%endblock%}



{%block isave%}
<button class="btn primary block mT25">{%trans "Save"%}</button>
{%endblock%}

{%block iInsert%}
<button class="btn primary block mT20">{%trans "Insert"%}</button>
{%endblock%}

{%block iSaveAll%}
<button class="btn primary block mT20">{%trans "Save All"%}</button>
{%endblock%}



{%block iName%}
<label for='fname'>{%trans "Name"%}</label>
<div class="input">
 <input type="text" name="name" placeholder='{%trans "Name of product"%}' value="{{dataRow.name}}" required autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name"%}' id='fname'>
</div>
{%endblock%}


{%block iTitle%}
<label for="title">{%trans "Title"%}<span class="fc-red">*</span></label>
<div class="input">
 <input type="text" name="title" id="title" placeholder='{%trans "Set short and best title for your product" %} *' value="{{dataRow.title}}" maxlength='70' autofocus>
</div>
{%endblock%}



{%block iSlug%}
<label for='slug'>{%trans "Slug"%}</label>
<div class="input">
 <input type="text" name="slug" id="slug" placeholder='{%trans "Slug"%}' value="{{dataRow.slug}}" maxlength="50">
</div>
{%endblock%}



{%block iManufacturer%}
<label for='company'>{%trans "Manufacturer"%}</label>

<select name="company" class="select ui dropdown search addition" id="company">
  <option value="">{%trans "Product manufacturer"%}</option>
  {%for key, value in listCompanies%}
    {%if value.title%}
    <option value="{{value}}"{%if value == dataRow.company %} selected{%endif%}>{{value}}</option>
    {%endif%}
  {%endfor%}
</select>

{%endblock%}


{%block iCat%}

<label for='cat'>{%trans "Cat"%}</label>
<select name="cat" class="select ui dropdown search addition" id="cat">
  <option value="">{%trans "Organize by category"%}</option>
  {%for key, value in listCats%}
    {%if value.title%}
    <option value="{{value.title}}"{%if value.title == dataRow.cat %} selected{%endif%}>{{value.title}}</option>
    {%endif%}
  {%endfor%}
</select>

{%endblock%}


{%block iUnit%}
<label for='unit'>{%trans "Unit"%}</label>
<select name="unit" class="select ui dropdown search addition" id="unit">
  <option value="">{%trans "like Qty, kg, etc"%}</option>
  {%for key, value in listUnits%}
    {%if value.title%}
    <option value="{{value.title}}"{%if value.title == dataRow.unit %} selected{%endif%}>{{value.title}}</option>
    {%endif%}
  {%endfor%}
</select>

{%endblock%}



{%block iCode%}
<label for='code'>{%trans "Code"%}</label>
<div class="input">
 <input type="text" name="code" id="code" placeholder='{%trans "For quick access"%}' value="{{dataRow.quickcode}}" maxlength="50" class="txtC">
</div>
{%endblock%}


{%block iShortcode%}
<label for='shortcode'>{%trans "Short code"%}</label>
<div class="input">
 <input type="text" name="shortcode" id="shortcode" placeholder='{%trans "Short code"%}' value="{{dataRow.shortcode}}" maxlength="50">
</div>
{%endblock%}




{%block iBarcode%}
<label for="barcode">{%trans "Barcode"%}</label>
<div class="input ">
 <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{dataRow.barcode}}" class="barCode txtC ltr" data-lock autocomplete="off" maxlength="30">
 <span class="addon country"><i></i></span>
</div>
{%endblock%}


{%block iBarcode2%}
<label for="barcode2">{%trans "Barcode2"%}</label>
<div class="input">
 <input type="text" name="barcode2" id="barcode2" placeholder='{%trans "Scan Barcode2 here..."%}' value="{{dataRow.barcode2}}" class="barCode txtC ltr" data-lock autocomplete="off" maxlength="30">
 <span class="addon country"><i></i></span>
</div>
{%endblock%}


{%block iCodeOnScale%}
<label for="codeOnScale">{%trans "Code on scale"%}</label>
<div class="input ">
 <input type="number" name="scalecode" id="codeOnScale" placeholder='{%trans "Enter product code on scale"%}' value="{{dataRow.scalecode}}" class="barCode ltr" autocomplete="off" min="0" max="99999">
</div>
{%endblock%}


{%block iBarcodePrev%}
<div class="f txtC s0">
 <div class="c6 pRa5"><svg class="barcodePrev" data-val="#barcode"></svg></div>
 <div class="c6"><svg class="barcodePrev" data-val="#barcode2"></svg></div>
</div>
{%endblock%}



{%block iBuyprice%}

<label for='buyprice'>{%trans "Buy price"%}</label>
<div class="input">
 <input type="number" name="buyprice" id="buyprice" placeholder='{%trans "Buy price"%}' value="{{dataRow.buyprice}}" min='0' max="{%if currentStore.setting.maxbuyprice%}{{currentStore.setting.maxbuyprice}}{%else%}100000000000{%endif%}" data-run-input='recalcPricePercents'>
</div>
{%endblock%}


{%block iPrice%}
<label for='price'>{%trans "Sale Price"%}</label>
<div class="input">
 <input type="number" name="price" id="price" placeholder='{%trans "Price for sale without discount"%}' value="{{dataRow.price}}" min='0' max="{%if currentStore.setting.maxprice%}{{currentStore.setting.maxprice}}{%else%}100000000000{%endif%}" data-run-input='recalcPricePercents'>
 <span class="addon" title='{%trans "Impure Interest Rate"%}'>{{ dataRow.intrestrate_impure | fitNumber}} %</span>
</div>
{%endblock%}


{%block iFinalPrice%}
<div {%if not dataRow.finalprice%} class="hide"{%endif%}>
 <label for='finalprice'>{%trans "Final Price"%}</label>
 <div class="input disabled">
  <input type="number" id="finalprice" placeholder='{%trans "Final Pure Price"%}' value="{{dataRow.finalprice}}" readonly>
  <span class="addon" title='{%trans "Pure Interest Rates"%}'>{{ dataRow.intrestrate | fitNumber}} %</span>
 </div>
{%if lang.current == 'fa'%}
<div class="msg info2 txtB finalPriceToman"></div>
{%endif%}
</div>
{%endblock%}



{%block iDiscount%}
<label for='discount'>{%trans "Discount"%}</label>
<div class="input">
 <input type="number" name="discount" id="discount" placeholder='{%trans "Discount on sale"%}' value="{{dataRow.discount}}" max="10000000000" data-run-input='recalcPricePercents'>
 <span class="addon" title='{%trans "Discount Percent"%}'>{{ dataRow.discountpercent | fitNumber}} %</span>
</div>
{%endblock%}


{%block iVat%}
<div class="switch1">
 <input type="checkbox" name="vat" id="vat" {% if dataRow.vat%} checked{%endif%}>
 <label for="vat"></label>
 <label for="vat">{%trans "Vat"%} <small>{%trans "This product is vat base"%}</small></label>
</div>
{%endblock%}


{%block iInitialBalance%}
<label for='initialbalance'>{%trans "Initial Balance"%}</label>
<div class="input">
 <input type="number" name="initialbalance" id="initialbalance" placeholder='{%trans "Initial Balance"%}' value="{{dataRow.initialbalance}}" maxlength="50">
</div>
{%endblock%}


{%block iMinstock%}
<label for='minstock'>{%trans "Min stock"%}</label>
<div class="input">
 <input type="number" name="minstock" id="minstock" placeholder='{%trans "Min stock"%}' value="{{dataRow.minstock}}" maxlength="50">
</div>
{%endblock%}



{%block iMaxstock%}
<label for='maxstock'>{%trans "Max stock"%}</label>
<div class="input">
 <input type="number" name="maxstock" id="maxstock" placeholder='{%trans "Max stock"%}' value="{{dataRow.maxstock}}" maxlength="50">
</div>
{%endblock%}


{%block iStatus%}
<div class="mT15">
 <label >{%trans "Status of product"%}</label>

 <div class="radio1 green">
  <input type="radio" id="r-available" name="status" value="available" {%if dataRow.status == 'available' or not dataRow.status %} checked{%endif%}>
  <label for="r-available">{%trans "Avalible"%} <small>{%trans "Normal status of product"%}</small></label>
 </div>

 <div class="radio1 blue">
  <input type="radio" id="r-soon" name="status" value="soon" {%if dataRow.status == 'soon' %} checked{%endif%}>
  <label for="r-soon">{%trans "Soon"%} <small>{%trans "maybe come in future and be available"%}</small></label>
 </div>

 <div class="radio1 yellow">
  <input type="radio" id="r-unavailable" name="status" value="unavailable" {%if dataRow.status == 'unavailable' %} checked{%endif%}>
  <label for="r-unavailable">{%trans "Unavailable"%} <small>{%trans "temporary does not exist in store"%}</small></label>
 </div>

 <div class="radio1 red">
  <input type="radio" id="r-discountinued" name="status" value="discountinued" {%if dataRow.status == 'discountinued' %} checked{%endif%}>
  <label for="r-discountinued">{%trans "Discountinued"%} <small>{%trans "does not exist for now and on the future"%}</small></label>
 </div>

 <div class="radio1 black mB25">
  <input type="radio" id="r-unset" name="status" value="unset" {%if dataRow.status == 'unset'%} checked{%endif%} >
  <label for="r-unset">{%trans "Unset"%} <small>{%trans "Unknown status for product"%}</small></label>
 </div>
</div>
{%endblock%}




{%block iSold%}
<label for='sold'>{%trans "Sold"%}</label>
<div class="input">
 <input type="text" name="sold" id="sold" placeholder='{%trans "Sold"%}' value="{{dataRow.sold}}" maxlength="50">
</div>
{%endblock%}



{%block iStock%}
<label for='stock'>{%trans "Stock"%}</label>
<div class="input">
 <input type="text" name="stock" id="stock" placeholder='{%trans "Stock"%}' value="{{dataRow.stock}}" maxlength="50">
</div>
{%endblock%}


{%block iServiec%}
<div class="switch1">
 <input type="checkbox" name="service" id="service" {% if dataRow.service%} checked{%endif%}>
 <label for="service"></label>
 <label for="service">{%trans "Service"%} <small>{%trans "This product is service base and not a real goods"%}</small></label>
</div>
{%endblock%}


{%block iSaleonline%}
<div class="switch1">
 <input type="checkbox" name="saleonline" id="saleonline" {% if dataRow.saleonline%} checked{%endif%}>
 <label for="saleonline"></label>
 <label for="saleonline">{%trans "Sale Online"%} <small>{%trans "This product is saleonline base"%}</small></label>
</div>
{%endblock%}



{%block iSalestore%}
<div class="switch1">
 <input type="checkbox" name="salestore" id="salestore" {% if dataRow.salestore%} checked{%endif%}>
 <label for="salestore"></label>
 <label for="salestore">{%trans "Sale in store"%} <small>{%trans "This product is salestore base"%}</small></label>
</div>
{%endblock%}




{%block iCarton%}
<label for='carton'>{%trans "Count in carton"%}</label>
<div class="input">
 <input type="number" name="carton" id="carton" placeholder='{%trans "Count of product in carton"%}' value="{{dataRow.carton}}" maxlength="50">
</div>
{%endblock%}

































































{%block psidebarProduct%}
<div class="cbox max-w300">

 <div class="vcard txtC">
  <a href='{{url.this}}/avatar?id={{requestGET.id}}'>
    <img src="{{dataRow.avatar}}" alt="{{dataRow.displayname}}">
  </a>
  <div class="content">
    <div class="header"><a href='{{url.this}}/general?id={{requestGET.id}}'><small>{{dataRow.genderString}}</small> {{dataRow.displayname}}</a></div>
    <div class="meta mT5">
      <a href='{{url.this}}/manage?id={{requestGET.id}}'>
        {%if dataRow.staff%}<div class="badge success">{%trans "Staff"%}</div>{%endif%}
        {%if dataRow.supplier%}<div class="badge primary">{%trans "Supplier"%}</div>{%endif%}
        {%if dataRow.customer%}<div class="badge">{%trans "Customer"%}</div>{%endif%}
      </a>
    </div>
  </div>
  <div class="footer">
    {%if dataRow.mobile%}
    <div><i class="sf-mobile fs2"></i>{{dataRow.mobile|fitNumber('mobile')}}</div>
    {%endif%}
  </div>
 </div>
</div>

{{block('iTag')}}

{%endblock%}



{%block iTag%}

{%if perm('thirdpartyAssignTag')%}
<div class="cbox">

  <div class="tagDetector">
    {%set myID = requestGET.id %}
    {%set postTag = tags({"post_id" : myID , "title" : true, "format" : 'csv', "type" : "thirdparty_tag", "related" : "userstores"}) %}
    <form method="post"  action="{{url.this}}/tag?id={{requestGET.id}}">

    <div class="input mB10 hide">
      <input type="text" class="input tagVals" name="tag"  value="{{postTag}}" id="tagValues" placeholder='{%trans "Tag"%}'>
    </div>

      <input type="hidden" name="redirecturl" value="{{url.pwd}}">
      <datalist id="taglist">
        {%for key, value in tagList%}
          <option value="{{value.title}}">
        {%endfor%}
      </datalist>

      <div class="input" title='{%trans "Add tag manually to link thirdparty togethers"%}'>
        <input type="text" list="taglist" class="tagInput" placeholder='{%trans "Tag keywords..."%}'>
        <button class="addon tagAdd">+</button>
      </div>

      <div class="tagBox"></div>

      <button class="btn block mTB10 primary"  name="TicketFormType" value="tag">{%trans "Save tag"%}</button>

    </form>

  </div>
</div>
{%endif%}

{%endblock%}




{%block pageSteps%}
<div class="f">

  <div class="c s6">
    <a class="dcard {%if url.child == 'glance' %}active{%endif%}" href='{{url.this}}/glance?id={{requestGET.id}}' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-diamond"></i></div>
      <div class="label">{%trans "Glance"%} <kbd>T+1</kbd></div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard {%if url.child in ['general', 'warehouse', 'stock', 'maker', 'manage'] %}active{%endif%}" href='{{url.this}}/general?id={{requestGET.id}}' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-list"></i></div>
      <div class="label">{%trans "Detail"%} <kbd>T+1</kbd></div>
     </div>
    </a>
  </div>

  <div class="c s6">
    <a class="dcard {%if url.child in ['gallery', 'site', 'thumb', 'desc', 'comment', 'property'] %}active{%endif%}" href='{{url.this}}/gallery?id={{requestGET.id}}' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-mouse-pointer"></i></div>
      <div class="label">{%trans "Site"%} <kbd>T+2</kbd></div>
     </div>
    </a>
  </div>

{%if false%}
  <div class="c">
    <a class="dcard {%if url.child in ['factor', 'buy', 'sale' ] %}active{%endif%}" href='{{url.this}}/factor?id={{requestGET.id}}' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-basket"></i></div>
      <div class="label">{%trans "Factor"%} <kbd>T+3</kbd></div>
     </div>
    </a>
  </div>

{%endif%}
  <div class="c">
    <a class="dcard {%if url.child in ['log', 'report', 'pricehistory' ] %}active{%endif%}" href='{{url.this}}/pricehistory?id={{requestGET.id}}' data-shortkey="49shift">
     <div class="statistic gray">
      <div class="value"><i class="sf-graph"></i></div>
      <div class="label">{%trans "Report"%} <kbd>T+3</kbd></div>
     </div>
    </a>
  </div>

</div>
{%endblock%}


{%block pageStepsReport%}
{%if false%}
<div class="f msg secondary2">


  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='pricehistory'%} primary{%else%} light{%endif%}" href='{{url.this}}/pricehistory?id={{requestGET.id}}'>{%trans "Price change"%}</a>
  </div>
  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='gallery'%} primary{%else%} light{%endif%}" href='{{url.this}}/gallery?id={{requestGET.id}}'>{%trans "Gallery"%}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='desc'%} primary{%else%} light{%endif%}" href='{{url.this}}/desc?id={{requestGET.id}}'>{%trans "Description"%}</a>
  </div>
  <div class="c pB10">
    <a class="btn block {%if url.child=='property'%} primary{%else%} light{%endif%}" href='{{url.this}}/property?id={{requestGET.id}}'>{%trans "Property"%}</a>
  </div>

</div>
{%endif%}
{%endblock%}





{%block pageStepsSite%}
<div class="f msg pB0 secondary2">


  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='gallery'%} primary{%else%} light{%endif%}" href='{{url.this}}/gallery?id={{requestGET.id}}'>{%trans "Gallery"%}</a>
  </div>

  <div class="c pB10">
    <a class="btn block {%if url.child=='property'%} primary{%else%} light{%endif%}" href='{{url.this}}/property?id={{requestGET.id}}'>{%trans "Property"%}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='desc'%} primary{%else%} light{%endif%}" href='{{url.this}}/desc?id={{requestGET.id}}'>{%trans "Description"%}</a>
  </div>



</div>
{%endblock%}





{%block pageStepsGeneral%}
<div class="f msg pB0 secondary2">

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='general'%} primary{%else%} light{%endif%}" href='{{url.this}}/general?id={{requestGET.id}}'>{%trans "General"%}</a>
  </div>

  <div class="c pB10 pRa10">
    <a class="btn block {%if url.child=='stock'%} primary{%else%} light{%endif%}" href='{{url.this}}/stock?id={{requestGET.id}}'>{%trans "Stock"%}</a>
  </div>

  <div class="c pB10">
    <a class="btn block {%if url.child=='manage'%} primary{%else%} light{%endif%}" href='{{url.this}}/manage?id={{requestGET.id}}'>{%trans "Manage"%}</a>
  </div>

</div>
{%endblock%}




