 <footer id='tfooter'>
  <div class="cn">

   <nav class="f top">
    <a class="cauto link_home" href="{{url.kingdom}}">{%trans "Home"%}</a>
    <a class="cauto" href="{{url.kingdom}}/about">{%trans "About"%}</a>
    <a class="cauto hide" href="{{url.kingdom}}/press">{%trans "Press and Media"%}</a>
    <a class="cauto" href="{{url.kingdom}}/careers" target="_blank">{%trans "Careers"%}</a>
    <a class="cauto" href="{{url.kingdom}}/socialresponsibility">{%trans "Social Responsibility"%}</a>
    <a class="cauto" href="{{url.kingdom}}/help/faq">{%trans "FAQ"%}</a>
   </nav>

   <div class="f middle">
     <nav class="c3 s12">
       <h4>{%trans "Jibres"%}</h4>
        <a href="{{url.kingdom}}/benefits">{%trans "Benefits"%}</a>
        <a href="{{url.kingdom}}/pricing">{%trans "Pricing"%}</a>
        <a href="{{url.kingdom}}/changelog">{%trans "Changelog"%}</a>
      </nav>

      <nav class="c3 s12">
       <h4>{%trans "Learn More"%}</h4>
        <a href="{{url.kingdom}}/terms">{%trans "Terms of Service"%}</a>
        <a href="{{url.kingdom}}/privacy">{%trans "Privacy Policy"%}</a>
        <a href="{{url.kingdom}}/socialresponsibility">{%trans "Social Responsibility"%}</a>
      </nav>

      <nav class="c3 s12">
       <h4>{%trans "Support"%}</h4>
        <a href="{{url.kingdom}}/contact">{%trans "Contact"%}</a>
        <a href="{{url.kingdom}}/help/faq">{%trans "FAQ"%}</a>
        <a href="{{url.kingdom}}/logo">{%trans "Logo"%}</a>
        <a href="https://status.jibres.com" target="_blank">{%trans "System Status"%}</a>
      </nav>

{%if true%}
      <div class="c s12 os">
       {%include 'content/template/social.html'%}
      </div>
{%endif%}



   </div>

   <div class="f bottom align-center">
    <div class="cauto s12">{{langList({'html':true}) | raw}}</div>

      <nav class="c s12 txtC">
{%if lang.current =='fa'%}
        <div class="certification">
         <div class="f">
          <div title='{%trans "Iran NSR Certification"%}'><a target="_blank" href="http://qom.irannsr.org/index.php?module=cdk&func=loadmodule&system=cdk&sismodule=user/content_view.php&cnt_id=225820&ctp_id=61&id=17394&sisOp=view"><img src="{{url.static}}/siftal/images/cert/irannsr.png" alt='{%trans "Iran NSR"%} {{site.title}}'></a></div>
{%if url.domain == 'jibres.ir' or url.tld == "local"%}
          <div title='{%trans "Enamad Certification"%}'><img src="{{url.static}}/siftal/images/cert/enamad2.png" alt='{%trans "Enamad"%} {{site.title}}' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=118387&amp;p=ZXabMoTvlxGEFbR7", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=720, top=30")'></div>

          <div title='{%trans "Samandehi Certification"%}'><img src="{{url.static}}/siftal/images/cert/samandehi.png" alt='{%trans "Samandehi"%} {{site.title}}' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=162977&p=rfthgvkauiwkpfvljyoejyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=460, height=600, top=30")'></div>
{%elseif url.domain == 'jibres.com' or url.tld == "local"%}
          <div title='{%trans "Enamad Certification"%}'><img src="{{url.static}}/siftal/images/cert/enamad2.png" alt='{%trans "Enamad"%} {{site.title}}' onclick='window.open("https://trustseal.enamad.ir/Verify.aspx?id=77836&p=JOoynuxYPaV1q5Zq", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=720, top=30")'></div>

          <div title='{%trans "Samandehi Certification"%}'><img src="{{url.static}}/siftal/images/cert/samandehi.png" alt='{%trans "Samandehi"%} {{site.title}}' onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=110459&p=rfthrfthobpdaodsdshwpfvl", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=460, height=600, top=30")'></div>

{%endif%}
          <div title='{%trans "Shamad Certification"%}'><img src="{{url.static}}/siftal/images/cert/shamad.png" alt='{%trans "Shamad"%} {{site.title}}' onclick='window.open("https://logo.saramad.ir/verify.aspx?CodeShamad=1-2-709257-65-2-3", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=500, height=700, top=0")'></div>
         </div>
        </div>
{%endif%}
     </nav>

    <div class="cauto s12 love"><a href="{%if lang.current =='fa'%}https://ermile.com/fa{%else%}https://ermile.com{%endif%}" target="_blank">{%trans "Proudly Made in IRAN"%}</a></div>
   </div>

  </div>
 </footer>