{%set logoImg%}
{%if site.currentlang =='fa'%}
<img src='{{url.static}}images/logo/svg/jibres-logo.svg' alt='{{site.title}} | {{site.desc}}'>{%else%}
<img src='{{url.static}}images/logo/svg/jibres-logo.svg' alt='{{site.title}} | {{site.desc}}'>{%endif%}
{%endset%}

 <header id="theader" data-scroll>
  <div class="cn f">
   <h1 class="cauto logo">
    <a class="flex" href='{{url.base}}' tabindex='1'>{{logoImg}}<span>{{site.title}}</span></a>
   </h1>

   <nav class="c flex theader-links">
{%if false%}
    <a href="{{url.base}}/benefits">{%trans "Benefits"%}</a>
{%endif%}
    <a href="{{url.base}}/pricing">{%trans "Pricing"%}</a>
    <a href="tel:00982536505281">{%trans "Sales"%} {%trans "+98 25 3650 5281"%}</a>
   </nav>

   <nav data-xhr="header-profile" class="cauto flex os">
    <div class="vm"><span class="sf-globe"></span>{{langList({'html':true, 'all2':true})}}</div>
{%if login.id%}
    <a href="{{url.base}}/a" data-direct class="btn">{%trans "Admin Panel"%}</a>
{%else%}
    <a href="{{url.base}}/enter" data-direct class="btn">{%trans "Enter"%}</a>
{%endif%}
    </nav>
  </div>
 </header>
