    <div class="f justify-center">
     <div class="c5 m6 s12">
      <div class="prBox free">
       <h3>{%trans "Free"%}</h3>
       <div class="price">
{%if site.currentlang == 'fa'%}
        <span>{{0 | fitNumber}}<sub>تومان</sub></span>
{%else%}
        <span><sup>$</sup>{{0 | fitNumber}}</span>
{%endif%}
        <abbr>{%trans "forever"%}</abbr>
       </div>
       <p>{%trans "All the basics for personal use and anyone who wants to explore Jibres for an <b>unlimited period of time</b>."%}</p>
      </div>
     </div>


     <div class="c5 m6 s12">
      <div class="prBox standard">
       <h3>{%trans "Standard"%}</h3>
       <div class="price">
{%if site.currentlang == 'fa'%}
        <span>{{70 | fitNumber}}<sub>هزار تومان</sub></span>
{%else%}
        <span><sup>$</sup>{{70 | fitNumber}}</span>
{%endif%}
        <abbr>{%trans "per month"%}</abbr>
        <abbr class="bold">{%trans "2 month discount on year"%}</abbr>
       </div>
       <p>{%trans "For someones ready to use Jibres as hero."%} {%trans "<b>Everything you need</b> for a growing business."%}</p>
      </div>
     </div>

    </div>
