<nav class="share1">
  <a data-direct href="https://www.facebook.com/{{social.facebook}}" class="facebook">jibres facebook</a>
  <a data-direct href="https://twitter.com/{{social.twitter}}" class="twitter">jibres twitter</a>
  <a data-direct href="https://t.me/{{social.telegram}}" class="telegram">jibres telegram</a>
  <a data-direct href="https://instagram.com/{{social.instagram}}" class="instagram">jibres instagram</a>
{%if social.linkedin%}
  <a data-direct href="https://www.linkedin.com/{{social.linkedin}}" class="linkedin">jibres linkedin</a>
{%endif%}
{%if false%}
  <a data-direct href="{{url.base}}/rss" class="rss">jibres rss</a>
{%endif%}

</nav>