*.DS_Store
desktop.ini
*sitemap.xml
*Thumbs.db
*.me.*
/public_html/files
node_modules
package-lock.json
/public_html/data
/public_html/sitemap
/lib/engine/cronjob/crontab.txt
*sftp-config.json
*crontab.txt
*crontab.json


