
{%block htmlTable%}

<div class="tblbox">

  <table class="tbl1 v3 cbox fs12">
    <thead class="fs09">
      <tr>
        <th>{%trans "Show"%}</th>
        <th>{%trans "Auth"%}</th>

        <th>{%trans "Subdomain"%}</th>
        <th>{%trans "Version"%}</th>
        <th>{%trans "Url"%}</th>
        <th>{%trans "Method"%}</th>
        <th>{%trans "Header"%}</th>
        <th>{%trans "Header len"%}</th>
        <th>{%trans "Body"%}</th>
        <th>{%trans "Bodylen"%}</th>
        <th>{%trans "Date send"%}</th>
        <th>{%trans "Page status"%}</th>
        <th>{%trans "Result status"%}</th>
        <th>{%trans "Response header"%}</th>
        <th>{%trans "Response body"%}</th>
        <th>{%trans "Datere sponse"%}</th>
        <th>{%trans "Notif"%}</th>
        <th>{%trans "Response len"%}</th>

      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr {%if value.pagestatus | slice(0,1) == '2' %} class="positive" {%elseif value.pagestatus | slice(0,1) == '5'  %} class="negative" {%endif%}>
        <td>
          <a class="badge danger" href="{{url.this}}/view?id={{value.id}}">{%trans "Detail"%}</a>
          <a class="badge primary" target="_blank" href="{{url.this}}/download?id={{value.id}}">{%trans "Download"%}</a>

        </td>
      <td>
      <a href="{{url.this}}?user_id={{value.user_id}}">{{value.user_id}}</a>
      <span class="badge">token: <b><a href="{{url.this}}?token={{value.token}}">{{value.token}}</a></b></span>
      <span class="badge">apikey: <b><a href="{{url.this}}?apikey={{value.apikey}}">{{value.apikey}}</a></b></span>
      <span class="badge">appkey: <b><a href="{{url.this}}?appkey={{value.appkey}}">{{value.appkey}}</a></b></span>
      <span class="badge">zoneid: <b><a href="{{url.this}}?zoneid={{value.zoneid}}">{{value.zoneid}}</a></b></span>
      </td>

      <td><a href="{{url.this}}?subdomain={{value.subdomain}}">{{value.subdomain}}</a></td>

      <td><a href="{{url.this}}?version={{value.version}}">{{value.version}}</a></td>

      <td>
        {{value.url}}
        <span><a href="{{url.this}}?urlmd5={{value.urlmd5}}">{{value.urlmd5}}</a></span>
      </td>
      <td>
        <b><a href="{{url.this}}?method={{value.method}}">{{value.method}}</a></b>
      </td>
      <td>
        <span data-kerkere='.showHeader{{value.id}}'><i class="sf-plus"></i></span>
        <div class="showHeader{{value.id}}" data-kerkere-content='hide'>
          {{value.header |raw | nl2br}}
        </div>
      </td>
      <td>{{value.headerlen | fitNumber}}</td>
      <td>
        <span data-kerkere='.showBody{{value.id}}'><i class="sf-plus"></i></span>
        <div class="showBody{{value.id}}" data-kerkere-content='hide'>
          {{value.body}}
        </div>
      </td>
      <td>{{value.bodylen | fitNumber}}</td>
      <td>
          {{value.datesend | dt(true)}}
        <br>
          {{value.datesend | dt('human', 'year')}}
      </td>
      <td><a href="{{url.this}}?pagestatus={{value.pagestatus}}">{{value.pagestatus | fitNumber}}</a></td>
      <td><a href="{{url.this}}?resultstatus={{value.resultstatus}}">{{value.resultstatus}}</a></td>
      <td>
        <span data-kerkere='.showResponseHeader{{value.id}}'><i class="sf-plus"></i></span>
        <div class="showResponseHeader{{value.id}}" data-kerkere-content='hide'>
          {{value.responseheader | raw | nl2br}}

        </div>
      </td>
      <td>
        <span data-kerkere='.showResponseBody{{value.id}}'><i class="sf-plus"></i></span>
        <div class="showResponseBody{{value.id}}" data-kerkere-content='hide'>
          {{value.responsebody | raw | nl2br}}
        </div>
      </td>
      <td>
        {{value.dateresponse | dt(true)}}
        <br>
        {{value.dateresponse | dt('human', 'year')}}
      </td>
      <td>
        <span data-kerkere='.showNotif{{value.id}}'><i class="sf-plus"></i></span>
        <div class="showNotif{{value.id}}" data-kerkere-content='hide'>
          {{value.notif | raw | nl2br}}
        </div>
    </td>
      <td>{{value.responselen | fitNumber}}</td>


      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlStartAddNew%}
<p class="fs14 msg success2 pTB20">{%trans "Hi!"%}</p>
{%endblock%}
