{%extends "content_a/setting/layout.html"%}


{%block pageContent%}
{{block('pageSteps')}}
<div class="f">
  <div class="c5">
    {{block('addNewFund')}}
  </div>
  <div class="c mLa10">
    {{block('htmlTable')}}
  </div>
</div>

{%endblock%}

{%block addNewFund%}
<div class="cbox">
  <h3>{%trans "Add new fund"%}</h3>
  <form method="post" autocomplete="off">
    {{block('fundTitle')}}
    {{block('blPosList')}}

    {%if dataRow%}
      <div class="f">
        <div class="c">
           <button class="btn primary block mT20">{%trans "Edit"%}</button>
        </div>
        <div class="cauto mLa10">
          {%if dataRow.status == 'enable'%}
           <button name="status" value="disable" class="btn danger block mT20">{%trans "Disable"%}</button>
          {%else%}
           <button name="status" value="enable" class="btn success block mT20">{%trans "Enable"%}</button>
          {%endif%}

        </div>
      </div>

    {%else%}
      <button class="btn primary block mT20">{%trans "Add"%}</button>
    {%endif%}
  </form>
</div>
{%endblock%}

{% block fundDefault %}
  <div class="switch1 mB10">
   <input type="checkbox" name="funddefault" id="funddefault" {%if dataRow.default%} checked {%endif%}>
   <label for="funddefault"></label>
   <label for="funddefault">{%trans "Is default fund?"%}</label>
  </div>
{%endblock%}


{% block fundOnline %}
  <div class="switch1 mB10">
   <input type="checkbox" name="fundonline" id="fundonline" {%if dataRow.online%} checked {%endif%}>
   <label for="fundonline"></label>
   <label for="fundonline">{%trans "Is sale online from this fund?"%}</label>
  </div>
{%endblock%}


{% block fundSale %}
  <div class="switch1 mB10">
   <input type="checkbox" name="fundsale" id="fundsale" {%if dataRow.sale%} checked {%endif%}>
   <label for="fundsale"></label>
   <label for="fundsale">{%trans "Sale from this fund?"%}</label>
  </div>
{%endblock%}



{%block fundTitle%}
<label for="iname">{%trans "Fund name"%}</label>
<div class="input">
  <input type="text" name="title" id="iname" placeholder='{%trans "Fund title"%}' value="{{dataRow.title}}" autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name from 3 to 40 character"%}' required>
</div>
{%endblock%}




{%block addressDetail%}
<div class="msg">
{{block('iCountry')}}
{{block('iCity')}}
{{block('iAddress')}}
{{block('iPhone')}}
{{block('iFax')}}
</div>

{%endblock%}



{%block htmlTable%}

  <table class="tbl1 v1 cbox fs12">
    <thead class="">
      <tr>
        <th data-sort="{{myFilter.title.order}}"><a href='{{myFilter.title.link}}'>{%trans "Fund title"%}</a></th>
        <th data-sort="{{myFilter.status.order}}"><a href='{{myFilter.status.link}}'>{%trans "Status"%}</a></th>

        <th>{%trans "Action"%}</th>
      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr  class="{%if value.status == 'disable'%} negative{%else%} positive{%endif%}">
        <td>
          <a href="{{url.here}}/product/general?id={{value.id}}">{{value.title}}</a>
          {%for k, v in value.pos%}
            <span class="badge warn">{%trans k%}</span>
          {%endfor%}
        </td>
        <td><a href="{{url.here}}/product/general?id={{value.id}}">{%set myStatus = value.status | capitalize%}{%trans myStatus%}</a></td>

        <td>
          <a href="{{url.this}}/fund?id={{value.id}}" class="badge primary">{%trans "Edit"%}</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>

{%endblock%}






{%block iCountry%}
<div class="mB10">
  <label for='country'>{%trans "Country"%}</label>
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country" value="{%if dataRow.country%}{{dataRow.country}}{%else%}iran{%endif%}">
    <i class="dropdown icon"></i>
    <div class="default text">{%trans "Choose your country"%}</div>
    <div class="menu">
{%for key, value in countryList%}
      <div class="item" data-value="{{key}}">
        <i class="{{value.iso2 | lower }} flag"></i>{%set myCountry = value.name%} {%trans myCountry%}<small class="description">{{value.name | capitalize}}</small>
      </div>
{%endfor%}
    </div>
  </div>
</div>
{%endblock%}


{%block blPosList%}
<div class="ui sub header">{%trans "Pos"%}</div>
<div class="ui fluid multiple search selection dropdown">
  <input name="pos" type="hidden" value="{{dataRow.pos | keys | join(',')}}">
  <i class="dropdown icon"></i>
  <div class="default text">{%trans "Select pos"%}</div>
  <div class="menu">
     {%for key, value in posList%}
        <div class="item" data-value="{{key}}{{i}}">{%set myTitle = value.title%}{%trans myTitle%}</div>
     {%endfor%}
  </div>
</div>
{%endblock%}



{%block iCity%}
<label for='city'>{%trans "City"%}</label>
<select name="city" class="ui dropdown select search mB10" id="city">
  <option value="" readonly>{%trans "Select city"%}</option>
  {%for key, value in cityList%}
    <option value="{{key}}" {% if dataRow.city == key %} selected {%endif%}>{{value}}</option>
  {%endfor%}
</select>
{%endblock%}




{%block iPostcode%}
<label for="postcode">{%trans "Post code"%}</label>
<div class="input ltr">
  <input type="text" name="postcode" id="postcode" placeholder='{%trans "Post code"%}' value="{{dataRow.postcode}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}



{%block iPhone%}
<label for="iphone">{%trans "Phone"%}</label>
<div class="input">
  <input type="tel" name="phone" id="iphone" placeholder='{%trans "Phone"%}' value="{{dataRow.phone}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}


{%block iFax%}
<label for="ifax">{%trans "Fax"%}</label>
<div class="input">
  <input type="tel" name="fax" id="ifax" placeholder='{%trans "Fax"%}' value="{{dataRow.fax}}" maxlength='40' minlength="1" pattern=".{1,40}" >
</div>
{%endblock%}





{%block iAddress%}
<label for="address">{%trans "Address"%}</label>
<textarea class="txt mB20 pB25" name="address" placeholder='{%trans "Address"%}' required maxlength='300' rows="2">{{dataRow.address}}</textarea>
{%endblock%}

