{%extends display.main%}


{%block page%}

<div class="f justify-center txtC mB50">
	<div class="c6 s12 fs18">
		<div class="mB10">{%trans "Start lock"%}</div>
		<br>
		<div class="mB10">{{startLock | dt('Y-m-d H:i:s')}}</div>
		<br>
		<div class="mB10">{{startLock | dt('human', 'month')}}</div>

	</div>
</div>

<div class="f justify-center txtC">

	<div class="c6 s12">
		<div data-confirm data-data='{"unlock" : "unlock"}' class="btn success block xl">
			{%trans "Force unlock"%}
		</div>
	</div>


</div>

{%endblock%}

