{%block emobile%}
   <div class='flex fix' id='emobile'>
    <label for='mobile'>
     <i class="sf-mobile"></i>
    </label>
    <input id='mobile' name="mobile" type='tel' maxlength="15" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile number"%}' value="{{getMobile}}" data-pl-user='{%trans "Mobile"%}' autocomplete="off" {%if lang.current == 'fa'%}pattern=".{10,14}" title='{%trans "Enter correct iranian mobile starting with zero like 0935"%}'{%else%}pattern=".{7,15}" title='{%trans "Enter your mobile number"%}'{%endif%} required {%if mobileReadonly%} readonly {%endif%} {%if not mobileReadonly%}autofocus{%endif%}>
   </div>
{%endblock%}


{%block emobilesignup%}
   <div class='flex fix' id='emobile'>
    <label for='mobile'>
     <i class="sf-mobile"></i>
    </label>
    <input id='mobile' name="mobile" type='tel' maxlength="15" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile number"%}' value="{{getMobile}}" data-pl-user='{%trans "Mobile"%}' autocomplete="off" {%if lang.current == 'fa'%}pattern=".{10,14}" title='{%trans "Enter correct iranian mobile starting with zero like 0935"%}'{%else%}pattern=".{7,15}" title='{%trans "Enter your mobile number"%}'{%endif%} required autofocus>
   </div>
{%endblock%}


{%block eAllInput%}
   <div class='flex fix'>
    <!-- <label for='usernameormobile' title='{%trans "Username or Mobile or email"%}'></label> -->
    <input id='usernameormobile' name="usernameormobile" type='text' data-disallowFaNum maxlength="50" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile or username or email number"%}' value="{{getUsernamemobile}}" data-pl-user='{%trans "Username or Mobile or Email"%}' autocomplete="off" required {%if mobileReadonly%} readonly {%endif%} {%if not mobileReadonly%}autofocus title='{%trans "Username or Mobile or email"%}'{%endif%} {%if user.id%}{%else%}pattern=".{5,50}"{%endif%}>
   </div>
{%endblock%}




{%block eramz%}
   <div class='flex fix' id='eramz'>
    <label for='ramz' title='{%trans "Password"%}'>
      <i class="sf-lock"></i>
    </label>
    <input id='ramz' name="ramz" type='password' placeholder='{%trans "Password"%}' autocomplete="off" minlength="6" maxlength="40" pattern=".{6,40}" autofocus required>
   </div>
{%endblock%}

{%block eramzNewSignup%}
   <div class='flex fix' id='eramzNew'>
    <label for='ramzNew'>**</label>
    <input id='ramzNew' name="ramzNew" type='password' placeholder='{%trans "New Password"%}' autocomplete="off" minlength="6" maxlength="40" pattern=".{6,40}" title='{%trans "Enter a password between 7 and 40 characters"%}{%if lang.current == "fa"%}<br>{%trans "Password is password."%}{%endif%}' required>
   </div>
{%endblock%}




{%block eramzNew%}
   <div class='flex fix' id='eramzNew'>
    <label for='ramzNew' title='{%trans "Click to see your password"%}'>**</label>
    <input id='ramzNew' name="ramzNew" type='password' placeholder='{%trans "New Password"%}' autocomplete="new-password" minlength="6" maxlength="40" pattern=".{6,40}" title='{%trans "Enter a password between 7 and 40 characters"%}{%if lang.current == "fa"%}<br>{%trans "Password is password."%}{%endif%}' autofocus required>
   </div>
{%endblock%}



{%block epass%}
   <div class='flex fix{%if url.tld != "local" or true%} hide{%endif%}' id='epasscode'>
    <label for='passcode'>Pwd</label>
    <input id='passcode' name="password" type='password' placeholder='{%trans "Password?"%}'  minlength="6" maxlength="40" {%if requestGET.clean or user.id%} autocomplete="new-password"{%else%} autocomplete="off"{%endif%}>
   </div>
{%endblock%}



{%block ecode%}
   <div class='flex fix' id='ecode'>
    <label for='code'>Code</label>
    <input id='code' name="code" type='number' placeholder='{%trans "Verify Code"%}' autocomplete="off" inputmode="numeric" min="10000" max="99999" pattern="\d*" autofocus required>
   </div>
{%endblock%}



{%block ecode_force%}
   <div class='flex fix' id='ecode'>
    <label for='code'>Code</label>
    <input id='code' name="code" type='password' placeholder='{%trans "Verify Code"%}' autocomplete="off"  autofocus required>
   </div>
{%endblock%}


{%block ecodeSend%}
   <div class='flex fix' id='ecodeSend'>
    <label for='code'>Code</label>
    <input id='code' name="code" type='number' readonly placeholder='{%trans "Code"%}' title='{%trans "Send this code to our number!"%}' value="{{codeSend}}">
   </div>
{%endblock%}

{%block enumberSend%}
   <div class='flex fix' id='enumberSend'>
    <label for='ErmileMobileNumber'>SMS</label>
    <input id='ErmileMobileNumber' name="ErmileMobileNumber" type='tel' readonly placeholder='{%trans "send to this number"%}' title='{%trans "Send code to this number!"%}' value="{{codeSendNum}}">
   </div>
{%endblock%}

{%block eFullname%}
   <div class='flex fix' id='displaynameBox'>
    <label for='displayname'>
      <i class="sf-user-4"></i>
    </label>
    <input id='displayname' name="displayname" type='text' placeholder='{%trans "Name"%}' autocomplete="off" maxlength="50" value="{{get_displayname}}" required title='{%trans "We will call you with this name"%}'>
   </div>
{%endblock%}

{%block edisplayname%}
   <div class='flex fix' id='displaynameBox'>
    <label for='displayname' title='{%trans "Full name"%}'>?</label>
    <input id='displayname' name="displayname" type='text' placeholder='{%trans "Full name"%}' autocomplete="off" maxlength="50" value="{{get_displayname}}" required>
   </div>
{%endblock%}

{%block email%}
   <div class='flex fix' id='email'>
    <label for='email' title='{%trans "Email"%}'>@</label>
    <input id='email' name="email" type='email' placeholder='{%trans "email"%}' autocomplete="off" minlength="6" maxlength="100" title='{%trans "Enter a valid eamil!"%}' value="{{get_email}}" required>
   </div>
{%endblock%}


{%block eusername%}
   <div class='flex fix' id='eusername'>
    <label for='usercode' title='{%trans "username"%}'>
     <i class="sf-at"></i>
    </label>
    <input id='usercode' name="username" type='text' placeholder='{%trans "username"%}' autocomplete="off" value="{{getUsername}}" pattern=".{4,50}" title='{%trans "Enter a valid username from 4 to 50 character"%}' required>
   </div>
{%endblock%}


{%block ego%}
   <div class='flex' id='ego'>
    <button type="submit">{%trans "Go"%}</button>
   </div>
{%endblock%}


{%block eDeleteBtn%}
    <button type="submit" class="btn danger block mT10">{%trans "Delete Account"%}</button>
{%endblock%}

{%block egoCheck%}
   <div class='flex' id='egoCheck'>
    <button type="submit">{%trans "Go and check it"%}</button>
   </div>
{%endblock%}


{%block egoMobile%}
   <div class='flex hide' id='egoMobile' data-require='mobile'>
    <button type="submit">{%trans "Go"%}</button>
   </div>
{%endblock%}



{%block enext%}
   <div class='flex' id='enext'>
    <button type="submit">{%trans "Next"%}</button>
   </div>
{%endblock%}


{%block eloginlink%}
   <a href="{{url.kingdom}}/enter" id='ebusername' class="c {%if url.module == 'username'%}active{%endif%}" title='{%trans "Sign in instead"%}'>
      <i class="sf-user-5"></i>
     <span>{%trans "Login"%}</span>
   </a>
{%endblock%}


{%block everifyback%}
  <a class="link cauto" href="{{url.here}}/verify">{%trans "Go back"%}</a>
{%endblock%}



{%block esignuplink%}
   <a href="{{url.kingdom}}/enter/signup" id='ebusername' class="c {%if url.module == 'username'%}active{%endif%}" title='{%trans "No account?"%} {%trans "Create for yourself"%}'>
      <i class="sf-user-plus"></i>
     <span>{%trans "Create Account"%}</span>
   </a>
{%endblock%}


{%block esignup%}
   <div class='flex' id='esignup'>
    <button type="submit">{%trans "Sign Up"%}</button>
   </div>
{%endblock%}


{%block eset%}
   <div class='flex' id='eset'>
    <button type="submit">{%trans "Set Password"%}</button>
   </div>
{%endblock%}


{%block erecovery%}
   <div class='flex' id='erecovery'>
    <button type="submit">{%trans "Recovery password"%}</button>
   </div>
{%endblock%}


{%block elogin%}
   <div class='flex' id='elogin'>
    <button type="submit">{%trans "Enter"%}</button>
   </div>
{%endblock%}


{%block eloginUsername%}
   <div class='flex hide' id='eloginUsername' data-require='usercode'>
    <button type="submit">{%trans "Enter"%}</button>
   </div>
{%endblock%}



{%block esubmit%}
   <div class='flex' id='esubmit'>
    <button type="submit">{%trans "Submit"%}</button>
   </div>
{%endblock%}





{%block eMethods%}
  <div class="f" id='eMethods'>
{%if googleLogin%}
  <p>{%trans "Enter with another methods"%}</p>
  {{block ('ebgoogle')}}
{%endif%}

{%if url.module == "signup"%}
{{block('eloginlink')}}
{%else%}
{{block('esignuplink')}}
{%endif%}

  </div>
{%endblock%}



{%block ebmobile%}
   <a href="{{url.kingdom}}/enter" title='{%trans "Log in with mobile"%}' id='ebmobile' class="c {%if url.module == 'home'%}active{%endif%}">
    <i class="sf-mobile"></i>
    <span>{%trans "Enter with mobile"%}</span>
   </a>
{%endblock%}



{%block ebgoogle%}
    <a href="{{url.kingdom}}/enter/google" class="c" id='ebgoogle'>
     <i class="sf-google"></i>
     <span>{%trans "Enter with Google"%}</span>
    </a>
{%endblock%}



{%block ebemail%}
   <div id='ebemail' class="c {%if url.module == 'email'%}active{%endif%}">
    <a href="{{url.kingdom}}/enter/email">@<abbr>{%trans "Enter with email"%}</abbr></a>
  </div>
{%endblock%}



{%block ebusername%}
   <a href="{{url.kingdom}}/enter/username" id='ebusername' class="c {%if url.module == 'username'%}active{%endif%}">
     <i class="sf-user-md"></i>
     <span>{%trans "Enter with username"%}</span>
   </a>
{%endblock%}


{%block jsRequestSendVerify%}
<script type="text/javascript">
 $(document).ajaxify({
    ajax:
    {
      url : '{{url.pwd}}',
      data:
      {
        verify: true
      },
      abort: true,
      method: 'post'
    }
  });
</script>
{%endblock%}




































{%block eresend%}
<div class="c">
 <a data-href="{{url.kingdom}}/enter/verify/resend" data-direct data-text='{%trans "Resend code"%}' data-timer='60' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block eresend120%}
<div class="c">
 <a data-href="{{url.kingdom}}/enter/verify/resend" data-direct data-text='{%trans "Resend code"%}' data-timer='120' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block eresend180%}
<div class="c">
 <a data-href="{{url.kingdom}}/enter/verify/resend" data-direct data-text='{%trans "Resend code"%}' data-timer='180' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block eresend240%}
<div class="c">
 <a data-href="{{url.kingdom}}/enter/verify/resend" data-direct data-text='{%trans "Another way?"%}' data-timer='240' title='{%trans "After end timer you can request code again"%}' id='timer'></a>
</div>
{%endblock%}


{%block ereset%}
<a class="c" href="{{url.kingdom}}/enter" data-direct>{%trans "Restart with new mobile"%}</a>
{%endblock%}


{%block emailNew%}
   <div class='flex fix' id='emailNew'>
    <label for='emailNew' title='{%trans "New email"%}'>@@</label>
    <input id='emailNew' name="emailNew" type='email' placeholder='{%trans "New email"%}' autocomplete="off" minlength="6" maxlength="100" title='{%trans "Enter a valid eamil!"%}' required>
   </div>
{%endblock%}


{%block usernameNew%}
   <div class='flex fix' id='usernameNew'>
    <label for='usernameNew' title='{%trans "New username"%}'>@</label>
    <input id='usernameNew' name="usernameNew" type='username' placeholder='{%trans "New username"%}' autocomplete="off" minlength="6" maxlength="100" title='{%trans "Enter a valid username!"%}' required>
   </div>
{%endblock%}