{% spaceless %}
	{%if pagination%}
		<nav class="pagination f fs11 mTB5" data-xhr='pagination'>
			<a class="cauto s0" title='{{paginationDetail.desc}}'>{%trans "Total"%} <span class="txtB">{{pagination[0]["total_rows"] | fitNumber}}</span></a>
			<div class="c flex justify-center">
		{%for key, value in pagination%}
				<a {%if value.link%} href="{{value.link}}" {%endif%}  {%if value.title%} title="{{value.title}}" {%endif%} {%if value.class%} class="{{value.class}}" {%endif%}>{{value.text | raw}}</a>
		{%endfor%}
			</div>
		</nav>
	{%endif%}
{% endspaceless %}