{%extends "content_a/factor/layoutFactor.html"%}


{%block pageContent%}

<form method="post">

{{block("btns")}}
{{block("addProducts")}}
{{block("listOfProducts")}}
{{block("showFinalPrice")}}

</form>
{%endblock%}



{%block customer%}
 <div class="cbox">
  <div class="f justify-center">
    <div class="c s12">
{{block("iCustomer")}}
    </div>
    <div class="c4 s12 pLa5">
{{block("iDesc")}}
    </div>
  </div>
 </div>
{%endblock%}


{%block showFinalPrice%}
  <p class="alert alert-info hide" id='finalPriceString'>{%trans "Final Price"%} <b></b></p>
{%endblock%}


{%block btns%}
 <div class="cbox">
  <button class="btn primary">{%trans "Save"%}</button>
  <button class="btn primary">{%trans "Save & print"%}</button>
 </div>
{%endblock%}


{%block addProducts%}
 <div class="cbox">
{{block('iProductName')}}
 </div>
{%endblock%}


{%block listOfProducts%}
 <div class="cbox ">
  <table class="tbl productList txtC">
   <thead>
    <tr>
     <th class="min80">{%trans "Row"%}</th>
     <th class="product">{%trans "Product"%}</th>
     <th class="min120">{%trans "Count"%}</th>
     <th class="min100">{%trans "Price"%}</th>
     <th class="min150">{%trans "Discount"%}</th>
     <th class="min100">{%trans "Total"%}</th>
    </tr>
   </thead>
   <tbody>

    {%for key, value in factor_detail.factor_detail%}
    <tr data-id="{{value.id}}" data-barcode="{{value.barcode}}" data-barcode2="{{value.barcode2}}">
      <td>{{(key + 1)|number_format|fitNumber}}</td>
      <td>
        {{value.title}}<input type="hidden" name="products[]" class="hidden" value="{{value.id}}">
      </td>
      <td>
        <input class="input count" type="number" name="count[]" min="0" max="10000000000" data-step=".001" value="{{value.factordetails_count}}">
      </td>
      <td data-val="{{value.price}}">{{value.price|number_format|fitNumber}}</td>
      <td>
        <div class="input">
          <input class="discount" type="number" name="discount[]" min="0" max="10000000000" value="{{value.factordetails_discount}}"><span class="addon small"></span>
        </div>
      </td>
      <td>{{value.factordetails_sum|number_format|fitNumber}}</td>
    </tr>
    {%endfor%}


   </tbody>
   <tfoot class="dark">
    <tr>
     <th title='{%trans "Count of rows"%}'></th>
     <th></th>
     <th title='{%trans "Sum of counts"%}'></th>
     <th title='{%trans "Sum of prices"%}'></th>
     <th title='{%trans "Sum of discounts"%}'></th>
     <th title='{%trans "Sum of final prices"%}' class="txtbold"></th>
    </tr>
   </tfoot>
  </table>
 </div>
{%endblock%}



{%block pageHeader2%}
{%endblock%}

