{%extends display.jibresControlLayout%}


{%block pageContent%}

<div class="f">
  <div class="c s12">{{block('iContact')}}</div>
  <div class="c s12">{{block('iBuyDomain')}}</div>
  <div class="c s12">{{block('iTransferDomain')}}</div>
  <div class="c s12">{{block('iDnsList')}}</div>
</div>


{%if dataTable%}
 {%if isFiltered%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%else%}

  {{block('htmlSearchBox')}}
  {{block('htmlTable')}}

 {%endif%}
{%else%}

 {%if isFiltered%}

  {{block('htmlSearchBox')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}

{%block iDnsList%}
<a class="dcard x1" href='{{url.here}}/dns'>
 <div class="statistic blue">
  <div class="value"><i class="sf-internet"></i></div>
  <div class="label">{%trans "DNS list"%}</div>
 </div>
</a>
{%endblock%}

{%block iContact%}
<a class="dcard x1" href='{{url.here}}/contact'>
 <div class="statistic blue">
  <div class="value"><i class="sf-vcard"></i></div>
  <div class="label">{%trans "Domain contact"%}</div>
 </div>
</a>
{%endblock%}

{%block iBuyDomain%}
<a class="dcard x1" href='{{url.here}}/buy'>
 <div class="statistic blue">
  <div class="value"><i class="sf-cart-plus"></i></div>
  <div class="label">{%trans "Buy domain"%}</div>
 </div>
</a>
{%endblock%}


{%block iTransferDomain%}
<a class="dcard x1" href='{{url.here}}/transfer'>
 <div class="statistic green">
  <div class="value"><i class="sf-exchange"></i></div>
  <div class="label">{%trans "Transfer domain"%}</div>
 </div>
</a>
{%endblock%}



{%block iDomainWhois%}
<form method="post" autocomplete="off" class="mB20" action="{{url.here}}">
	<div class="input ltr">
		<input type="text" name="domain" placeholder='{%trans "Domain"%}' value="{{myDomain}}">
		<button class="btn addon success">{%trans "Check domain"%}</button>
	</div>
</form>


{%if domainError%}
<div class="msg danger">{{domainError}}</div>
{%endif%}

{%if checkResult%}

	{%if checkResult.available%}
	<div class="msg success2">{%trans "Domain is available"%}
		<span class="floatL">
			<a class="btn success" href="{{url.here}}/buy/{{myDomain}}">{%trans "Buy"%}</a>
		</span>
	</div>
	{%else%}
	<div class="msg warn2">{%trans "Domain is occupied"%}
		<span class="floatL">
			<a class="btn warn" target="_blank" href="{{url.kingdom}}/whois/{{myDomain}}">{%trans "Whois"%}</a>
		</span>
	</div>
	{%endif%}

{%endif%}
{%endblock%}








{%block htmlSearchBox%}
<div class="fs12">
	<form method="get" autocomplete="off" class="mB20" action="{{url.this}}">
		<div class="input search{%if requestGET.q%} apply{%endif%}">
			<input type="text" name="q" placeholder='{%trans "Search"%}' value="{{requestGET.q}}">
			<button class="btn addon success">{%trans "Search"%}</button>
		</div>
	</form>
</div>
{%endblock%}


{%block htmlTable%}
<div class="tblBox">
	<table class="tbl1 v4">
		<thead>
			<tr>
				<th>{%trans "Domain"%}</th>
				<th class="">{%trans "Expire date"%}</th>
				<th class="collapsing">{%trans "Setting"%}</th>
				<th class="collapsing">{%trans "Last change"%}</th>
				<th class="collapsing">{%trans "DNS"%}</th>
				<th class="collapsing">{%trans "Action"%}</th>
			</tr>
		</thead>
		<tbody>
			{%for key, value in dataTable%}
			<tr>
				<td><a target="_blank" href="http://{{value.name}}"><i class="sf-link"></i></a> <span>{{value.name}}</span></td>
				<td class="">{{value.dateexpire | dt}} <br><small class="sf-mute">{{value.expredate | dt}}</small></td>
				<td class="collapsing">
					{%if value.lock%} <i class="sf-lock fc-green"></i> {%else%} <i class="sf-unlock fc-red"></i> {%endif%}
				</td>
				<td class="collapsing">
					{%if value.datemodified%}
					{{value.datemodified | dt('human', 'year')}}
					{%else%}
						<span class="sf-mute fs09">{%trans "Without change"%}</span>
					{%endif%}
				</td>
				<td class="collapsing">
					<code>{{value.ns1}}</code>
					<br>
					<code>{{value.ns2}}</code>
				</td>
				<td class="collapsing"><a href="{{url.this}}/setting/{{value.name}}" class="btn info2">{%trans "Manage domain"%}</a></td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
{%include display.pagination%}
{%endblock%}




{%block htmlFilter%}
<p class="f fs14 msg warn2">
  <span class="c">{{filterBox | raw}}</span>
  <a class="cauto" href="{{url.here}}">{%trans "Clear filters"%}</a>
</p>

{%if checkResult%}
<div class="cbox">

	{%if checkResult.available%}
	<div class="msg success2">{%trans "Domain is available"%}
		<b>{{myDomain}}</b>
		<span class="floatL">
			<a class="btn success" href="{{url.here}}/buy/{{myDomain}}">{%trans "Buy"%}</a>
		</span>
	</div>
	{%else%}
	<div class="msg warn2">{%trans "Domain is occupied"%}
		<span class="floatL">
			<a class="btn warn" target="_blank" href="{{url.kingdom}}/whois/{{myDomain}}">{%trans "Whois"%}</a>
		</span>
	</div>
	{%endif%}

{%endif%}
</div>

{%endblock%}





{%block htmlStartAddNew%}

<div class="fs14 msg info2 pTB20">
  <p>{%trans "Hi!"%}</p>
  <p><a href="{{url.here}}/buy">{%trans "Try to start with add new domain!"%}</a></p>

</div>


{%endblock%}

